﻿body {
    background-image: url("../../img/bg-login.jpg");
    overflow-x: hidden;
}

hr {
    background-color: #fff;
    height: 1px;
}

#logo {
    margin-left: 40%;
}

#loginForm {
    margin-left: 15%;
}

#btn-ingresar {
    background-color: #2b323a;
    border-radius: 0px;
}
