﻿@{ 
    ViewBag.Title = "redisCRUD"; 
}

<link rel="stylesheet" href="~/Content/styles/Redis/redisCRUD.css" />

<ol class="breadcrumb">
    <li><a href="#">Gestion de Redis</a></li>
    <li class="active">CRUD</li>
</ol>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <h4>Crear Llave</h4>
            <hr />
            <div class="create-form">
                <form class="form-inline" method="POST">
                    <div class="input-group">
                        <input id="Valueadd" class="form-control" type="text" value="" placeholder="Link" />
                    </div>
                    <div class="col-md-8 input-group">
                        <input id="Descriptionadd" class="form-control" type="text" value="" placeholder="Descripcion de la Llave" />
                        <span class="input-group-btn">
                            <button name="Button" value="Get" onclick="AddKey()" class="btn btn-success"><i class="fa fa-plus"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <hr />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <h4>Modificar o Eliminar Llave</h4>
            <hr />
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Link</th>
                        <th>Descripcion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{var count = 1; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="display:none"><input id="@string.Format("id{0}", count)" type="hidden" name="id" class="form-control" value="@item.Id" placeholder="Id" /></td>
                            <td><input id="@string.Format("value{0}", count)" type="text" name="value" class="form-control" value="@item.Value" placeholder="Valor" /></td>
                            <td><input id="@string.Format("description{0}", count)" type="text" name="description" class="form-control" value="@item.Description" placeholder="Descripción" /></td>
                            <td align="right">
                                <button type="button" onclick="ModifyKey(@count)" value="" class='btn btn-success'><i class="fa fa-save"></i></button>
                                <button type="button" onclick="RemoveKey(@count)" value="" class='btn btn-danger'><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        count++;
                    }                                      
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/RedisKey/AddKeyRedis.js"></script>
<script type="text/javascript" src="~/Scripts/RedisKey/ModifyKeyRedis.js"></script>
<script type="text/javascript" src="~/Scripts/RedisKey/RemoveKeyRedis.js"></script>
<script type="text/javascript" src="~/Scripts/refresh.js"></script>