﻿
@{
    ViewBag.Title = "redisPanel";
}

<link rel="stylesheet" href="~/Content/styles/Redis/redisPanel.css" />

<ol class="breadcrumb">
    <li><a href="#">Gestion de Redis</a></li>
    <li class="active">Panel de Operaciones</li>
</ol>

<br />

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="Msg hidden">
                <label class="label label-success">Resultado</label>
            </div>
        </div>
    </div>
    <div class="row">
        <form method="POST">
            <div class="col-md-9 col-md-offset-1">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var count = 1;
                        }

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Description</td>

                                <td>

                                    @{ var value = @item.Value; }
                                    <button type="button" class="btn btn-primary btn-block" onClick="ExecuteRedisKey(@count)" id="@string.Format("Value{0}", count)" name="Value" value="@value"><i class="fa fa-database"></i> Limpiar</button>

                                </td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
                @*<div class="overlay"></div>
                    <div class="confirmRedis">
                        <div id="warning-msg">
                            <p><b>¿Esta seguro que deseas realizar esta acción?</b></p>
                            <br />
                            <button id="btn-accept" class="btn btn-success" onclick="ExecuteRedisKey();">Si</button>
                            <button id="btn-cancel" class="btn btn-danger" onclick="cancel();">No</button>
                        </div>
                    </div>*@
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h2 class="modal-title" id="exampleModalLongTitle">Ejecutando la limpieza del caché...</h2>
                </div>
                <div class="modal-body text-center">
                    <h2>
                        <label class="label label-danger">Por favor no recargue la página.</label>
                    </h2>
                    <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
                    <h2>
                        <label class="label label-danger">Por favor no recargue la página.</label>
                    </h2>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="~/Scripts/RedisKey/ExecuteKeyRedis.js"></script>
