﻿@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/styles/Home/index.css" />

<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <img src="~/Content/img/cu-dashboard.jpg" alt="Dashboard" />
    </div>
</div>