﻿body {
    overflow-x: hidden;
}

#page-wrapper {
    margin-top: 60px;
}

.container {
    width: 100%;
}

.catalog {

}

    .catalog .product {
        margin-top: 16px;
        margin-bottom: 16px;
        text-align: center;
    }

    .catalog .product h4 {
        height: 30px;
        font-size: 12px;
    }

    .catalog .product img {
        width: 100%;
        min-height: 160px;
    }