﻿@model  CinesUnidos.WebRoles.MVC.Models.ViewModel.QuinielaObject
<link href="~/Content/styles/QuinielaV2.css" rel="stylesheet" />

<div class="container-fluid">
    <heade>
        <h1>¡Bienvenido a la Quiniela Oscars 2019 de Cines Unidos!</h1>
    </heade>
    @using (Html.BeginForm("QuinielaP", "Quiniela", FormMethod.Post))
    {
        if (ViewBag.Expirado)
        {
            <div class="jumbotron" style="color:black">
                <h1>¡Quiniela finalizada!</h1>
                <hr />
                <p>De acuerdo a los términos y condiciones, culminó el plazo para participar en el concurso.</p>
                <p>Gracias por preferirnos.</p>
            </div>
        }
        else
        {
            <div class="col-xs-11">
                <div class="contenedor">
                    <h2 id="sec0">Mejor Pel&iacute;cula</h2>
                    <hr />
                    <section class="animated fadeIn">
                        @foreach (var i in Model.MPelicula)
                        {
                            var id = Model.MPelicula.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre  <span class="">@Html.RadioButton("MejorPelicula", i.Selected, new { @id = "1", @class = "MPelicula_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MPelicula[id].Nombre)
                                        @Html.HiddenFor(m => m.MPelicula[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MPelicula[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec1">Mejor Director</h2>
                    <hr />
                    <section class="sec1">
                        @foreach (var i in Model.MDirector)
                        {
                            var id = Model.MDirector.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo2">@i.Nombre (@i.Pelicula)  <span class="">@Html.RadioButton("MejorDirector", i.Selected, new { @id = "2", @class = "MDirector_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MDirector[id].Nombre)
                                        @Html.HiddenFor(m => m.MDirector[id].Pelicula)
                                        @Html.HiddenFor(m => m.MDirector[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MDirector[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec2">Mejor Actor</h2>
                    <hr />
                    <section class="sec2">
                        @foreach (var i in Model.MActor)
                        {
                            var id = Model.MActor.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo2">@i.Nombre (@i.Pelicula)  <span class="">@Html.RadioButton("MejorActor", i.Selected, new { @id = "3", @class = "MActor_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MActor[id].Nombre)
                                        @Html.HiddenFor(m => m.MActor[id].Pelicula)
                                        @Html.HiddenFor(m => m.MActor[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MActor[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec3">Mejor Actriz</h2>
                    <hr />
                    <section class="sec3">
                        @foreach (var i in Model.MActriz)
                        {
                            var id = Model.MActriz.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo2">@i.Nombre (@i.Pelicula)  <span class="">@Html.RadioButton("MejorActriz", i.Selected, new { @id = "4", @class = "MActriz_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MActriz[id].Nombre)
                                        @Html.HiddenFor(m => m.MActriz[id].Pelicula)
                                        @Html.HiddenFor(m => m.MActriz[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MActriz[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec4">Mejor Actor Secundario</h2>
                    <hr />
                    <section class="sec4">
                        @foreach (var i in Model.MActorSecundario)
                        {
                            var id = Model.MActorSecundario.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo2">@i.Nombre (@i.Pelicula)  <span class="">@Html.RadioButton("MejorActorSecundario", i.Selected, new { @id = "5", @class = "MActorSecundario_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MActorSecundario[id].Nombre)
                                        @Html.HiddenFor(m => m.MActorSecundario[id].Pelicula)
                                        @Html.HiddenFor(m => m.MActorSecundario[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MActorSecundario[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec5">Mejor Actriz Secundaria</h2>
                    <hr />
                    <section class="sec5">
                        @foreach (var i in Model.MActrizSecundaria)
                        {
                            var id = Model.MActrizSecundaria.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo2">@i.Nombre (@i.Pelicula)  <span class="">@Html.RadioButton("MejorActrizSecundaria", i.Selected, new { @id = "6", @class = "MActrizSecundaria_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MActrizSecundaria[id].Nombre)
                                        @Html.HiddenFor(m => m.MActrizSecundaria[id].Pelicula)
                                        @Html.HiddenFor(m => m.MActrizSecundaria[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MActrizSecundaria[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec6">Mejor Pel&iacute;cula Lengua no Inglesa</h2>
                    <hr />
                    <section class="sec6">
                        @foreach (var i in Model.MPeliculaLenguaNoInglesa)
                        {
                            var id = Model.MPeliculaLenguaNoInglesa.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre (@i.pais)  <span class="">@Html.RadioButton("MejorPeliculaNoInglesa", i.Selected, new { @id = "7", @class = "MPeliculaLenguaNoInglesa_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MPeliculaLenguaNoInglesa[id].Nombre)
                                        @Html.HiddenFor(m => m.MPeliculaLenguaNoInglesa[id].pais)
                                        @Html.HiddenFor(m => m.MPeliculaLenguaNoInglesa[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MPeliculaLenguaNoInglesa[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec7">Gui&oacute;n Original</h2>
                    <hr />
                    <section class="sec7">
                        @foreach (var i in Model.MGuionOriginal)
                        {
                            var id = Model.MGuionOriginal.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre<span class="">  @Html.RadioButton("GuionOriginal", i.Selected, new { @id = "8", @class = "MGuionOriginal_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MGuionOriginal[id].Nombre)
                                        @Html.HiddenFor(m => m.MGuionOriginal[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MGuionOriginal[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec8">Mejor Gui&oacute;n Adaptado</h2>
                    <hr />
                    <section class="sec8">
                        @foreach (var i in Model.MGuionAdaptado)
                        {
                            var id = Model.MGuionAdaptado.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre<span class="">  @Html.RadioButton("MejorguionAdapdato", i.Selected, new { @id = "9", @class = "MGuionAdaptado_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MGuionAdaptado[id].Nombre)
                                        @Html.HiddenFor(m => m.MGuionAdaptado[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MGuionAdaptado[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec9">Mejor Fotograf&iacute;a</h2>
                    <hr />
                    <section class="sec9">
                        @foreach (var i in Model.MFotografia)
                        {
                            var id = Model.MFotografia.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre <span class="">  @Html.RadioButton("MejorFotografia", i.Selected, new { @id = "10", @class = "MFotografia_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MFotografia[id].Nombre)
                                        @Html.HiddenFor(m => m.MFotografia[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MFotografia[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec10">Mejor Pel&iacute;cula de Animaci&oacute;n</h2>
                    <hr />
                    <section class="sec10">
                        @foreach (var i in Model.MPeliculAanimada)
                        {
                            var id = Model.MPeliculAanimada.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre <span class="">  @Html.RadioButton("MejorPeliculaDeAnimacion", i.Selected, new { @id = "11", @class = "MPeliculAanimada_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MPeliculAanimada[id].Nombre)
                                        @Html.HiddenFor(m => m.MPeliculAanimada[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MPeliculAanimada[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec11">Mejor Sonido</h2>
                    <hr />
                    <section class="sec11">
                        @foreach (var i in Model.MSonido)
                        {
                            var id = Model.MSonido.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre <span class="">  @Html.RadioButton("MejorSonido", i.Selected, new { @id = "12", @class = "MSonido_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MSonido[id].Nombre)
                                        @Html.HiddenFor(m => m.MSonido[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MSonido[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec12">Mejor Documental</h2>
                    <hr />
                    <section class="sec12">
                        @foreach (var i in Model.MDocumental)
                        {
                            var id = Model.MDocumental.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre <span class="">  @Html.RadioButton("MejorDocumental", i.Selected, new { @id = "13", @class = "MDocumental_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MDocumental[id].Nombre)
                                        @Html.HiddenFor(m => m.MDocumental[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MDocumental[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec13">Mejores Efectos Sonoros</h2>
                    <hr />
                    <section class="sec13">
                        @foreach (var i in Model.MEfectoSonoro)
                        {
                            var id = Model.MEfectoSonoro.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre <span class="">  @Html.RadioButton("MejorEfectoSonoro", i.Selected, new { @id = "14", @class = "MEfectoSonoro_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MEfectoSonoro[id].Nombre)
                                        @Html.HiddenFor(m => m.MEfectoSonoro[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MEfectoSonoro[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec14">Mejor Dise&ntilde;o de Producci&oacute;n</h2>
                    <hr />
                    <section class="sec14">
                        @foreach (var i in Model.MDisenoProduccion)
                        {
                            var id = Model.MDisenoProduccion.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre <span class="">  @Html.RadioButton("MejorDisenoDeProduccion", i.Selected, new { @id = "15", @class = "MDisenoProduccion_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MDisenoProduccion[id].Nombre)
                                        @Html.HiddenFor(m => m.MDisenoProduccion[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MDisenoProduccion[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec15">Mejor Banda Sonora</h2>
                    <hr />
                    <section class="sec15">
                        @foreach (var i in Model.MBandaSonora)
                        {
                            var id = Model.MBandaSonora.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre <span class="">  @Html.RadioButton("MejorBandaSonora", i.Selected, new { @id = "16", @class = "MBandaSonora_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MBandaSonora[id].Nombre)
                                        @Html.HiddenFor(m => m.MBandaSonora[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MBandaSonora[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec16">Mejores Efectos Visuales</h2>
                    <hr />
                    <section class="sec16">
                        @foreach (var i in Model.MEfectosVisuales)
                        {
                            var id = Model.MEfectosVisuales.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre <span class="">  @Html.RadioButton("MejorEfectosVisuales", i.Selected, new { @id = "17", @class = "MEfectosVisuales_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MEfectosVisuales[id].Nombre)
                                        @Html.HiddenFor(m => m.MEfectosVisuales[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MEfectosVisuales[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec17">Mejor Canci&oacute;n</h2>
                    <hr />
                    <section class="sec17">
                        @foreach (var i in Model.MmejorCancion)
                        {
                            var id = Model.MmejorCancion.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre <span class="">  @Html.RadioButton("MejorCancion", i.Selected, new { @id = "18", @class = "MmejorCancion_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MmejorCancion[id].Nombre)
                                        @Html.HiddenFor(m => m.MmejorCancion[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MmejorCancion[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec18">Mejor Vestuario</h2>
                    <hr />
                    <section class="sec18">
                        @foreach (var i in Model.MMejorVestuario)
                        {
                            var id = Model.MMejorVestuario.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre <span class="">  @Html.RadioButton("MejorVestuario", i.Selected, new { @id = "19", @class = "MMejorVestuario_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MMejorVestuario[id].Nombre)
                                        @Html.HiddenFor(m => m.MMejorVestuario[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MMejorVestuario[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec19">Mejor Montaje</h2>
                    <hr />
                    <section class="sec19">
                        @foreach (var i in Model.MMejorMontaje)
                        {
                            var id = Model.MMejorMontaje.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre <span class="">  @Html.RadioButton("MejorActrizSecundaria", i.Selected, new { @id = "20", @class = "MMejorMontaje_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MMejorMontaje[id].Nombre)
                                        @Html.HiddenFor(m => m.MMejorMontaje[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MMejorMontaje[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec20">Mejor Maquillaje y Peluquer&iacute;a</h2>
                    <hr />
                    <section class="sec20">
                        @foreach (var i in Model.MMaquillajePeliqueria)
                        {
                            var id = Model.MMaquillajePeliqueria.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre <span class="">  @Html.RadioButton("MejorMaquillajePeliqueria", i.Selected, new { @id = "21", @class = "MMaquillajePeliqueria_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MMaquillajePeliqueria[id].Nombre)
                                        @Html.HiddenFor(m => m.MMaquillajePeliqueria[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MMaquillajePeliqueria[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec21">Mejor Corto de Acci&oacute;n Real</h2>
                    <hr />
                    <section class="sec21">
                        @foreach (var i in Model.MCortoDeAccionReal)
                        {
                            var id = Model.MCortoDeAccionReal.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre <span class="">  @Html.RadioButton("MejorCortoAccionReal", i.Selected, new { @id = "22", @class = "MCortoDeAccionReal_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MCortoDeAccionReal[id].Nombre)
                                        @Html.HiddenFor(m => m.MCortoDeAccionReal[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MCortoDeAccionReal[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec22">Mejor Corto de Animaci&oacute;n</h2>
                    <hr />
                    <section class="sec22">
                        @foreach (var i in Model.MCortoDeAnimacion)
                        {
                            var id = Model.MCortoDeAnimacion.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre <span class="">  @Html.RadioButton("MejorcortoAnimacion", i.Selected, new { @id = "23", @class = "MCortoDeAnimacion_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MCortoDeAnimacion[id].Nombre)
                                        @Html.HiddenFor(m => m.MCortoDeAnimacion[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MCortoDeAnimacion[id].Selected)
                        }
                    </section>
                    <br />

                    <h2 id="sec23">Mejor Corto Documental</h2>
                    <hr />
                    <section class="sec23">
                        @foreach (var i in Model.MCortoDocumental)
                        {
                            var id = Model.MCortoDocumental.IndexOf(i);
                            <div class="peliculaContainer">
                                <figure>
                                    <img src="@string.Format("{0}{1}","https://cinesunidosweb.blob.core.windows.net/poster/",i.ImageUrl)" />
                                    <figcaption>
                                        <p class="titulo">@i.Nombre <span class="">  @Html.RadioButton("MejorCortoDocumental", i.Selected, new { @id = "24", @class = "MCortoDocumental_" + id + "__Selected" })</span></p>
                                        @Html.HiddenFor(m => m.MCortoDocumental[id].Nombre)
                                        @Html.HiddenFor(m => m.MCortoDocumental[id].ImageUrl)
                                    </figcaption>
                                </figure>
                            </div>
                            @Html.HiddenFor(m => m.MCortoDocumental[id].Selected)
                        }
                    </section>

                    <section>
                        <div class="col-md-4 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="form-control pull-right" id="instagram" name="instagram" placeholder="Usuario de Instagram" style="max-width:350px;">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" id="go" type="submit">Participar</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </section>
                </div>
            </div>
        }
    }
</div>

@* botones *@

<div class="contenedor2">
    <button id="premios" class="botonF7 show-item ">
        <img src="~/Content/img/prueba/OscarsLogo_.png" style="height:30px !important; width:30px !important" />
        <span class="tag info">Premios!</span>
    </button>
    <button id="modal-launcher" class="botonF1 show-item ">
        <img src="https://cinesunidosweb.blob.core.windows.net/poster/conditions2.png" alt="terminos y condiciones" />
        <span class="tag info">Términos y condiciones</span>
    </button>
    <a href="https://www.youtube.com/user/cinesunidosve" target="_blank" class="botonF2 show-item">
        <img src="https://cinesunidosweb.blob.core.windows.net/massmail/youtube.png" alt="youtube" />
        <span class="tag info">Suscríbete!</span>
    </a>
    <a href="https://www.instagram.com/cinesunidos/" target="_blank" class="botonF3 show-item">
        <img src="https://cinesunidosweb.blob.core.windows.net/massmail/Instagram.png" alt="instagram" />
        <span class="tag info">Suscríbete!</span>
    </a>
    <a href="https://twitter.com/CinesUnidos" target="_blank" class="botonF4 show-item">
        <img src="https://cinesunidosweb.blob.core.windows.net/massmail/Twitter.png" alt="twitter" />
        <span class="tag info">Suscríbete!</span>
    </a>
    <a href="https://www.facebook.com/cinesunidosoficial/?fref=ts" target="_blank" class="botonF5 show-item">
        <img src="https://cinesunidosweb.blob.core.windows.net/massmail/Facebook.png" alt="facebook" />
        <span class="tag info">Suscríbete!</span>
    </a>
    <button class="botonF6">
        <span class="tag info">Participa</span>
        <img src="https://cinesunidosweb.blob.core.windows.net/poster/RoundLogo.png" />
    </button>
</div>

@* modales *@
<div id="modal-content" class="jumbotron">
    <div class="row container-buttonq"><button id="modal-close" class="btn brn-danger pull-right">X</button></div>
    <div class="container">
        <div class="row text-justify">
            <div class="col-xs-6">
                <ol class="list-group">
                    <li class="list-group-item">1. Seguir las cuentas  &#64;CinesUnidos, &#64;Iprovenezuela, &#64;Movistarve, &#64;carorenave y &#64;stmoritzve  en Instagram. </li>
                    <li class="list-group-item">2. Desde el viernes 15 de febrero de 2019 hasta el 24 de febrero de 2019 (4:00 pm) podrás ingresar al portal web www.cinesunidos.com y seleccionar a tus favoritos para cada categoría de los Premios de la Academia 2019, luego de dicha fecha y hora no podrá realizarse la quiniela.</li>
                    <li class="list-group-item">3. Para resultar ganador debes haber concluido tu votación y obtener el mayor número de aciertos. Los premios se otorgarán según el número de aciertos, de establecerse un empate el proceso de selección vendrá por orden cronológico de participación.</li>
                    <li class="list-group-item">4. Únicamente puede participar en una ocasión cada persona.</li>
                    <li class="list-group-item">5. Se publicarán los 3 ganadores a través de nuestras redes sociales el día viernes 01 de marzo de 2019, cada ganador podrá recibir un (1) premio.</li>
                    <li class="list-group-item">6. Debes autenticar tu participación colocando tu cuenta de Instagram oficial, en caso de no coincidir los datos con dicha cuenta, el premio pasará de inmediato al siguiente participante con mayor número de puntos y de orden cronológico.</li>
                </ol>
            </div>
            <div class="col-xs-6">
                <ol class="list-group">
                    <li class="list-group-item">7. Debes seleccionar una opción de cada uno de los nominados, hasta completar las veinticuatro categorías de los Premios de la Academia. Si no completas las veinticuatro categorías, durante la vigencia de la quiniela, quedarás automáticamente descalificado.</li>
                    <li class="list-group-item">8. Los datos de registro deberán ser validados con la cédula de identidad vigente al momento de la entrega del premio. Participan sólo mayores de 18 años residenciados en Venezuela.</li>
                    <li class="list-group-item">9. Al participar en la quiniela se considera que aceptas los Términos y Condiciones de la misma y das tu autorización para tener acceso a tus datos registrados en nuestro portal web.</li>
                    <li class="list-group-item">10. No se entregará ningún premio a quien no acredite sus datos personales con su cédula de identidad laminada.</li>
                    <li class="list-group-item">11. Esta dinámica no aplica para empleados y contratados de Cines Unidos.</li>
                    <li class="list-group-item">12. Cines Unidos no se hace responsable por los gastos que generen el traslado, comida y alojamiento de los ganadores. El premio será entregado en el lugar elegido por la empresa.</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div id="modal-content2" class="jumbotron">
    <div class="row container-buttonq"><button id="modal2-close" class="btn brn-danger pull-right">X</button></div>
    <h2>¡Participas por estos increíbles premios!</h2>
    <hr />
    <div class="container contenedor contp">
        <section>
            <div class="peliculaContainer2">
                <figure>
                    <img src="~/Content/img/Premio_1.jpg" />
                    <figcaption>
                        <p class="titulop text-center">Primer lugar</p>
                    </figcaption>
                </figure>
            </div>
            <div class="peliculaContainer2">
                <figure>
                    <img src="~/Content/img/Premio_2.jpg" />
                    <figcaption>
                        <p class="titulop text-center">Segundo lugar </p>
                    </figcaption>
                </figure>
            </div>
            <div class="peliculaContainer2">
                <figure>
                    <img src="~/Content/img/Premio_3.jpg" />
                    <figcaption>
                        <p class="titulop text-center">Tercer lugar</p>
                    </figcaption>
                </figure>
            </div>
        </section>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            $(':radio').on('click', function () {
                //
                var id = '#' + $(this).attr('class');
                var inp = $(this)
                inp.parents('section').children('input').val('False');
                $(id).val('True');
                //
                var posicion = $(this).attr('id');
                var direccion = "#sec" + posicion;
                $('html, body').animate({
                    scrollTop: $(direccion).offset().top - 45
                });
                var clas = '.sec' + $(this).attr('id');
                $(clas).addClass('animated fadeIn');
                $('.contenedor2').css({
                    'bottom': '0'
                });
            });
            //
            $(go).on('click', function (e) {
                var s = $('section').children('input[value=True]');
                if ($('#instagram').val() == "" || s.length < 24) {
                    e.preventDefault();
                    $('html, body').animate({
                        scrollTop: $('#sec0').offset().top - 180,
                    });
                    alert("Por favor selecciona una opcion para cada categoría e introduce tu usuario de instagram");
                }
            });
            $('.botonF6').hover(function () {
                $('.show-item').addClass('animacionVer');
            });
            $('.botonF6').click(function () {
                $('.show-item').toggleClass('animacionVer');
            });
            $('.contenedor2').mouseleave(function () {
                $('.show-item').removeClass('animacionVer');
            });

            $("#modal-launcher, #modal-background, #modal-close").click(function () {
                $("#modal-content, #modal-background").toggleClass("active");
            });
            $("#premios, #modal2-close").click(function () {
                $("#modal-content2").toggleClass("active");
            });
        })
    </script>
}