﻿@model CinesUnidos.WebRoles.MVC.Models.ViewModel.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Login";
}
<br/><br/>
    <div class="container admin_panel">
        <div class="row shadow">
            <div class="col-lg-12">
                <div class="red-title">
                    <h3>PANEL DE ADMINISTRADOR</h3>
                </div>
            </div>
            <div class="col-lg-3">
            @using (Html.BeginForm("Process", "Admin", FormMethod.Post, new { @id = "frmAdmin" }))
            {
                @Html.Hidden("Accion")
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Caché
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li>
                                        <a href="#seccion_cache" aria-controls="seccion_cache" role="tab" data-toggle="tab">
                                            <button onclick="return RemoverCache()">Actualizar caché</button>
                                        </a>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Opciones
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li>
                                        <a href="#seccion_cache" aria-controls="seccion_cache" role="tab" data-toggle="tab">
                                            <button onclick="return CerrarSesion()">Cerrar Sesión</button>
                                        </a>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            }
            </div>
            <div class="col-lg-9">
                Bienvenido @(Session["AdminName"])

                <div class="input-validation-error" style="text-align:center;display:@(string.IsNullOrWhiteSpace(ViewBag.Mensaje)?"none":"block")">@ViewBag.Mensaje</div>


            </div>
        </div>
    </div>
<script type="text/javascript">
    function RemoverCache() {
        if (confirm('¿Está seguro que desea remover la caché?')) {
            $('#Accion').val('RemoverCache');
            $('#frmAdmin').submit();
        }
        else
            return false;
    }

    function CerrarSesion() {
        if (confirm('¿Está seguro que desea cerrar la sesión?')) {
            $('#Accion').val('CerrarSesion');
            $('#frmAdmin').submit();
        }
        else
            return false;
    }
</script>
