﻿@model CinesUnidos.WebRoles.MVC.Models.ViewModel.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Login";
}
<br /><br />
<div class="row">
    @using (Html.BeginForm("Login", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        <div class="col-lg-6 col-lg-offset-3">
            <div class="red-title">
                <h3>INICIAR SESIÓN</h3>
            </div>
            <div class="box">
                <div class="">
                    @Html.ValidationSummary()
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <span>@Html.NameFor(m => m.Email)</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(m => m.Email)
                    </div>

                    <br>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <span>@Html.NameFor(m => m.Password)</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        @Html.PasswordFor(m => m.Password)
                    </div>
                    <br />
                    <div class="text-center">
                        <input type="submit" value="ENVIAR">
                    </div>
                </div>
            </div>
        </div>
    }
</div>