@model CreditCard

<fieldset class="pagopasos">
    <legend></legend>
    <div class="row">
        <div class="col-lg-12 col-md-12" style="padding:0px">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <label>Forma de pago</label>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <input class="radiobutton" id="Visa" name="Type" type="radio" value="Visa"><span class="tc_visa"></span>
                <input class="radiobutton" id="Master" name="Type" type="radio" value="Master"><span class="tc_mc"></span>
                <input class="radiobutton" id="Amex" name="Type" type="radio" value="Amex"><span class="tc_amex"></span>
                <input class="radiobutton" id="Vippo" name="Type" type="radio" value="PAGOVIPPO"><span class="Vippo"></span>
                <input class="radiobutton" id="Mercantil" name="Type" type="radio" value="PAGOMERCANTIL"><span class="Mercantil"></span>
            </div>
        </div>
    </div>
    <div id="BodyCreditCard">
        <div id="CardExpirationDate" class="row HideVippo">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <label>Fecha de Vencimiento</label>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <select name="Month" id="Month" class="listapago">
                    @foreach (var item in CreditCard.GetMonth())
                    {
                        <option value="@item.Value ">@item.Text</option>
                    }
                </select>
                <span style="width: 50px; height: auto; float: left;">MES</span>
                <select style="width: 50px;" name="Year" id="Year" class="listapago">
                    @foreach (var item in CreditCard.GetYear())
                    {
                        <option value="@item.Value ">@item.Text</option>
                    }
                </select>
                <span style="width: 50px; height: auto; float: left;">A&Ntilde;O</span>
            </div>
        </div>
        <div id="CardNumber" class="row HideVippo">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <label>N&uacute;mero de la Tarjeta</label>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <input name="Number" type="text" id="Number" class="campopago" maxlength="16" />
                <input type="hidden" id="CreditCardNumber" name="CreditCardNumber">
            </div>
        </div>
        <div id="CodeSegurity" class="row HideVippo">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <label>C&oacute;digo de Seguridad</label>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <input name="SecurityCode" type="text" id="SecurityCode" class="campopagocvv" maxlength="4" />
                <span class="icocvv"></span>
            </div>
        </div>
        <div id="CardName" class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <label id="CardNameLabel">Nombre impreso en la Tarjeta</label>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <input name="Name" type="text" id="Name" class="campopago" maxlength="27" />
            </div>
        </div>
        <div id="IdNumber" class="row HideVippo">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <label class="cedularif">C&eacute;dula o RIF</label>
            </div>
            <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                <select class="listapago" name="CertificateType" id="CertificateType">
                    <option value="V" @(ViewBag.IdentificationType != null && ViewBag.IdentificationType.ToString() == "V" ? "selected" : "")>V</option>
                    <option value="E" @(ViewBag.IdentificationType != null && ViewBag.IdentificationType.ToString() == "E" ? "selected" : "")>E</option>
                    <option value="J" @(ViewBag.IdentificationType != null && ViewBag.IdentificationType.ToString() == "J" ? "selected" : "")>J</option>
                    <option value="G" @(ViewBag.IdentificationType != null && ViewBag.IdentificationType.ToString() == "G" ? "selected" : "")>G</option>
                </select>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-10 col-sm-5">
                <input name="Certificate" type="text" id="Certificate" class="campopago2" maxlength="17" value="@(ViewBag.Identification)" readonly="readonly" />
            </div>
        </div>
        <div id="PhoneNumber" class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <label id="PhoneNumberLabel">Tel&eacute;fono del Tarjetahabiente</label>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <input name="Phone" id="Phone" class="campopago phonetype" maxlength="27" />
            </div>
        </div>
        <div id="Vippo" class="hide">
            <input name="SessionToken" type="text" id="SessionToken" class="hide" />
            <input name="OTPCode" type="text" id="OTPCode" class="hide" maxlength="4" />
            <input name="Reference" type="text" id="Reference" class="hide" />
        </div>
    </div>
</fieldset>
<input type="submit" value="Send" id="btnSend" style="visibility: hidden;" />

<!-- Modal Vippo para Codigo de Confirmacion -->
<div class="modal modal-vippo fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div id="MyModalLoading" class="modal-content">
            <div class="modal-header">
                <input class="modal-title modal_response" id="MyModalLoadingLabel" value="Espere Mientras Validamos" />
            </div>
            <div class="modal-body">
                <div class="loader_div">
                    <img src="@UrlMaker.ToImages("loader_compra.GIF")" alt="loading">
                </div>
            </div>
        </div>
        <div id="ModalSendCode" class="modal-content hide">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Por favor ingrese el c&oacute;digo recibido en su tel&eacute;fono celular registrado en ViPPO:</h4>
            </div>
            <div class="modal-body">
                <input class="input-vippo" name="pinvippo" type="text" id="pinvippo" minlength="4" maxlength="4" min="4" max="4" pattern="[0-9]"/>
            </div>
            <div class="modal-footer">
                <button type="button" id="sendpin" class="btn btn-danger">Confirmar</button>
            </div>
        </div>
        <div id="MyModalAlert" class="modal-content hide">
            <div class="modal-header">
                <input class="modal-title modal_response" id="MyModalAlertLabel" value="" />
            </div>
            <div class="modal-footer">
                <button id="ModalClose" type="button" data-dismiss="modal" class="btn btn-danger">Reintentar Compra</button>
            </div>
        </div>

    </div>
</div><!-- Final de Modal Vippo -->

<button id="VippoPaymentButton" type="button" class="hide" data-toggle="modal" data-target="#myModal"></button>