﻿<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="~/Content/img/cu-logo.png" alt="Logo Cines Unidos" /></a>
    </div>
    <ul class="nav navbar-right top-nav">
        <!-- clase top-nav -->

        @if (Session["User"] != null)
        {
            ViewBag.LoginUser = Session["User"];

            <li class="dropdown">

                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <!-- Contenido del Boton -->
                    @*@Session["Name"].ToString()*@
                    @ViewBag.LoginUser.Department - @ViewBag.LoginUser.Name
                </a>
                <ul class="dropdown-menu message-dropdown">
                    <!-- clase message-dropdown -->
                    <li class="message-preview">
                        <a href="/Account/LogOut">
                            <p class="text-right">Cerrar Sesión <i class="fa fa-power-off"></i></p>
                            <!-- Contenido del Dropdown C/u la etiqueta <li> -->
                        </a>
                    </li>
                </ul>
            </li>
        }

    </ul>
    <div class="navbar-collapse navbar-ex1-collapse collapse">
        <ul class="nav navbar-nav side-nav">
            <!-- clase side-nav -->
            <li>
                <a style="color:#fff;" href="/Home/Index">
                    <div class="side-icon">
                        <div class="grafico">
                            <div class="sombra"></div>
                            <div id="porcion1" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion2" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion3" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion4" class="recorte">
                                <div class="contport"></div>
                            </div>
                        </div>
                        <i class="fa fa-home icon i-home" aria-hidden="true"></i>
                    </div>
                    <p class="side-text">Inicio</p>
                </a>
            </li>

            <li id="inv-module">
                <a data-toggle="collapse" data-target="#inv-drop" href="javascript:;">
                    <div class="side-icon">
                        <div class="grafico">
                            <div class="sombra"></div>
                            <div id="porcion1" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion2" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion3" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion4" class="recorte">
                                <div class="contport"></div>
                            </div>
                        </div>
                        <i class="fa fa-users icon i-users" aria-hidden="true"></i>
                    </div>
                    <p class="side-text">Gestion de Invitados</p>
                </a>
                <ul id="inv-drop" class="collapse" aria-expanded="false">
                    <li><a href="/GuestAdmin/GuestModify">Modificar</a></li>
                    <li><a href="/GuestAdmin/GuestDelete">Eliminar</a></li>
                </ul>
            </li>

            <li id="black-module">
                <a data-toggle="collapse" data-target="#black-drop" href="javascript:;">
                    <div class="side-icon">
                        <div class="grafico">
                            <div class="sombra"></div>
                            <div id="porcion1" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion2" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion3" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion4" class="recorte">
                                <div class="contport"></div>
                            </div>
                        </div>
                        <i class="fa fa-book icon i-book" aria-hidden="true"></i>
                    </div>
                    <p class="side-text">Lista Negra</p>
                </a>
                <ul id="black-drop" class="collapse" aria-expanded="false">
                    <li><a href="/Blacklist/BlacklistConsult">Consultar</a></li>
                    <li><a href="/Blacklist/BlacklistMove">Mover Invitado</a></li>
                </ul>
            </li>

            <li id="redis-module">
                <a data-toggle="collapse" data-target="#redis-drop" href="javascript:;">
                    <div class="side-icon">
                        <div class="grafico">
                            <div class="sombra"></div>
                            <div id="porcion1" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion2" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion3" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion4" class="recorte">
                                <div class="contport"></div>
                            </div>
                        </div>
                        <i class="fa fa-eraser icon i-eraser" aria-hidden="true"></i>
                    </div>
                    <p class="side-text">Gestion de Redis</p>
                </a>
                <ul id="redis-drop" class="collapse" aria-expanded="false">
                    <li><a href="/Redis/redisCRUD">CRUD</a></li>
                    <li><a href="/Redis/redisPanel">Panel de Operaciones</a></li>
                </ul>
            </li>

            @{var rol = Model.RoleId.ToString(); }

            @if (rol == "249058bf-9b66-4bcf-a42f-0059b761081a")
            {
                <li id="user-module">
                    <a data-toggle="collapse" data-target="#user-drop" href="javascript:;">
                        <div class="side-icon">
                            <div class="grafico">
                                <div class="sombra"></div>
                                <div id="porcion1" class="recorte">
                                    <div class="contport"></div>
                                </div>
                                <div id="porcion2" class="recorte">
                                    <div class="contport"></div>
                                </div>
                                <div id="porcion3" class="recorte">
                                    <div class="contport"></div>
                                </div>
                                <div id="porcion4" class="recorte">
                                    <div class="contport"></div>
                                </div>
                            </div>
                            <i class="fa fa-user icon i-user" aria-hidden="true"></i>
                        </div>
                        <p class="side-text">Administración</p>
                    </a>
                    <ul id="user-drop" class="collapse" aria-expanded="false">
                        <li><a href="/Management/User">Usuarios</a></li>
                        <li><a href="/Management/Role">Roles</a></li>
                        <li><a href="/Management/Permissions">Permisos</a></li>
                    </ul>
                </li>
            }

            <!--modulo de mensajeria-->
            <li id="Messages-module">
                <a data-toggle="collapse" data-target="#messages-drop" href="javascript:;">
                    <div class="side-icon">
                        <div class="grafico">
                            <div class="sombra"></div>
                            <div id="porcion1" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion2" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion3" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion4" class="recorte">
                                <div class="contport"></div>
                            </div>
                        </div>
                        <i class="fa fa-envelope icon i-book" aria-hidden="true"></i>
                    </div>
                    <p class="side-text">Mensajes</p>
                </a>
                <ul id="messages-drop" class="collapse" aria-expanded="false">
                    <li><a href="/Messages/CreateMessage">Agregar Mensajes</a></li>
                    <li><a href="/Messages/DeleteMessages">Eliminar Mensajes</a></li>
                </ul>
            </li>

            <!--fin modulo de mensajeria-->
            <li id="promotions-module">
                <a data-toggle="collapse" data-target="#promotions-drop" href="javascript:;">
                    <div class="side-icon">
                        <div class="grafico">
                            <div class="sombra"></div>
                            <div id="porcion1" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion2" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion3" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion4" class="recorte">
                                <div class="contport"></div>
                            </div>
                        </div>
                        <i class="fa fa-film icon i-cursor" aria-hidden="true"></i>
                    </div>
                    <p class="side-text">Promociones</p>
                </a>
                <ul id="promotions-drop" class="collapse" aria-expanded="false">
                    <li><a href="/Promotions/Promotions">Crear</a></li>
                    <li><a href="/Promotions/EditPromotions">Modificar</a></li>
                </ul>
            </li>

            @*<li id="loadmovies-module">
                    <a style="color:#fff;" href="/LoadMovies/LoadMovies">
                        <div class="side-icon">
                            <div class="grafico">
                                <div class="sombra"></div>
                                <div id="porcion1" class="recorte">
                                    <div class="contport"></div>
                                </div>
                                <div id="porcion2" class="recorte">
                                    <div class="contport"></div>
                                </div>
                                <div id="porcion3" class="recorte">
                                    <div class="contport"></div>
                                </div>
                                <div id="porcion4" class="recorte">
                                    <div class="contport"></div>
                                </div>
                            </div>
                            <i class="fa fa-film icon i-cursor" aria-hidden="true"></i>
                        </div>
                        <p class="side-text">Cargar Películas</p>
                    </a>
                </li>*@

            <li id="loadmovies-module">
                <a data-toggle="collapse" data-target="#loadmovies-drop" href="javascript:;">
                    <div class="side-icon">
                        <div class="grafico">
                            <div class="sombra"></div>
                            <div id="porcion1" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion2" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion3" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion4" class="recorte">
                                <div class="contport"></div>
                            </div>
                        </div>
                        <i class="fa fa-film icon i-cursor" aria-hidden="true"></i>
                    </div>
                    <p class="side-text">Cargar Películas</p>
                </a>
                <ul id="loadmovies-drop" class="collapse" aria-expanded="false">
                    <li><a href="/loadmovies/loadmovies">Cargar</a></li>
                    <li><a href="/loadmovies/ListMovies">Lista de peliculas</a></li>
                </ul>
            </li>

            <li id="audit-module">
                <a style="color:#fff;" href="/Audit/Audit">
                    <div class="side-icon">
                        <div class="grafico">
                            <div class="sombra"></div>
                            <div id="porcion1" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion2" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion3" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion4" class="recorte">
                                <div class="contport"></div>
                            </div>
                        </div>
                        <i class="fa fa-university icon i-university" aria-hidden="true"></i>
                    </div>
                    <p class="side-text">Auditoria</p>
                </a>
            </li>

            <li id="concessions-module">
                <a data-toggle="collapse" data-target="#concessions-drop" href="javascript:;">
                    <div class="side-icon">
                        <div class="grafico">
                            <div class="sombra"></div>
                            <div id="porcion1" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion2" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion3" class="recorte">
                                <div class="contport"></div>
                            </div>
                            <div id="porcion4" class="recorte">
                                <div class="contport"></div>
                            </div>
                        </div>
                        <i class="fa fa-gift icon i-gift" aria-hidden="true"></i>
                    </div>
                    <p class="side-text">Carameleria</p>
                </a>
                <ul id="concessions-drop" class="collapse" aria-expanded="false">

                    @{var user = Model.UserId; }

                    @if (user == "concesiones1@cinesunidos.com")
                    {
                        <li><a href="/Concessions/Reportes">Reporte de transacciones</a></li>
                    }

                    @if (user == "concesiones2@cinesunidos.com")
                    {
                        <li><a href="/Concessions/Reportes">Reporte de transacciones</a></li>
                        <li><a href="/Concessions/Reporte_por_Fecha">Reporte de transacciones por fecha</a></li>
                        <li><a href="/Modal/Index">Activar/desactivar Modal</a></li>
                        <li><a href="/transfers/index">Transferencia de inventario Almacén Pre-Despacho a Web</a></li>
                        <li><a href="/transfers/WebToPre">Transferencia de inventario  Almacén Web a Pre-Despacho</a></li>
                        <li><a href="/transfers/VerifyCandies">Carameleria disponible</a></li>
                    }
                    @if (user == "operaciones@cinesunidos.com")
                    {
                        <li><a href="/Modal/VerifyModal"> Modales </a></li>
                        <li><a href="/transfers/SelectTheater"> Carameleria Disponible por Cine </a></li>
                    }

                    @if (user == "mercadeo@cinesunidos.com")
                    {
                        <li><a href="/Concessions/Catalogo">Catálogo de productos</a></li>
                    }

                    @if (!(user == "concesiones2@cinesunidos.com") && !(user == "concesiones1@cinesunidos.com") && !(user == "mercadeo@cinesunidos.com"))
                    {
                        @*<li><a href="/Concessions/Modal">Modal</a></li>*@
                        <li><a href="/Concessions/Reportes">Reporte de transacciones</a></li>
                        <li><a href="/Concessions/ReporteCompleto">Reporte completo de transacciones</a></li>
                        <li><a href="/Concessions/Reporte_por_Fecha">Reporte de transacciones por fecha</a></li>
                        @*<li><a href="/Concessions/Catalogo">Catálodo de productos</a></li>*@
                        <li><a href="/Modal/Index">Activar/desactivar Modal</a></li>
                        <li><a href="/Concessions/Catalogo">Catálogo de productos</a></li>
                        <li><a href="/transfers/index">Transferencia de inventario Almacén Pre-Despacho a Web</a></li>
                        <li><a href="/transfers/WebToPre">Transferencia de inventario  Almacén Web a Pre-Despacho</a></li>
                        <li><a href="/transfers/VerifyCandies">Carameleria disponible</a></li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</nav>

@*<script type="text/javascript" src="~/Scripts/navbar.js"></script>*@