﻿
@{
    ViewBag.Title = "BlacklistMove";
}

<link rel="stylesheet" href="~/Content/styles/Blacklist/BlacklistMove.css" />

<ol class="breadcrumb">
    <li><a href="#">Lista Negra</a></li>
    <li class="active">Mover Invitado</li>
</ol>

<br />

<div class="container">
    <form method="GET">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="platform" value="Web" />
                        <small>Pagina Web</small>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="platform" value="Mobile" />
                        <small>Moviles</small>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-md-offset-2">
                <div class="input-group">
                    <input type="text" class="form-control" name="buscar" placeholder="Buscar Invitado..." />
                    <span class="input-group-btn">
                        <button class="btn btn-primary"><i class="fa fa-search" data-loading-text="Buscando"></i></button>
                    </span>
                </div>
                <small>
                    <i class="search-note">
                        Ingrese Cedula o Correo Electronico
                    </i>
                </small>
            </div>
        </div>
    </form>
    <br /><br />
    <div class="row">
        <div class="col-md-10">
            @if (ViewBag.danger != null)
            {
                <div class="alert alert-danger">@ViewBag.danger</div>
            }
            @if (ViewBag.info != null)
            {
                <div class="alert alert-info">@ViewBag.info</div>
            }
            @if (ViewBag.message != null)
            {
                <div class="alert alert-warning">@ViewBag.message</div>
            }
            @if (ViewBag.success != null)
            {
                <div class="alert alert-success">@ViewBag.success</div>
            }
        </div>
        @if (@Model != null)
        {
            <form method="POST">

                <div class="row">
                    <div class="col-md-9 col-md-offset-1">
                        <div class="row">
                            <input type="hidden" name="Id" value="@Model.Id" placeholder="Id" />
                            <input type="hidden" name="IdCard" value="@Model.IdCard" placeholder="IdCard" />
                            <input type="hidden" name="Email" value="@Model.Email" placeholder="Email" />
                            <input type="hidden" name="Platform" value="@Model.Platform" placeholder="Platform" />
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Cedula</th>
                                        <th>Correo Electronico</th>
                                        <th>Activo</th>
                                        <th>Mass Mail</th>
                                        <th>Plataforma</th>
                                        <th>Mover</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.IdCard</td>
                                        <td>@Model.Email</td>
                                        @if (@Model.Active == true)
                                        {
                                            <td>
                                                <input type="checkbox" name="Active" checked disabled="disabled" />
                                            </td>
                                        }
                                        else
                                        {
                                            <td><input type="checkbox" name="Active" value="true" disabled="disabled"/></td>
                                        }
                                        @if (@Model.MassMailSubcription == true)
                                        {
                                            <td><input type="checkbox" name="MassMailSubscription" checked disabled="disabled" /></td>
                                        }
                                        else
                                        {
                                            <td><input type="checkbox" name="MassMailSubscription" value="true" disabled="disabled" /></td>
                                        }
                                        <td>@Model.Platform</td>
                                        <td>
                                            <center>
                                                <button id="blackout" class="btn btn-default">
                                                    <i class="fa fa-times-circle-o"></i>
                                                </button>
                                            </center>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                    </div>
                </div>
            </form>
        }
    </div>
</div>
