﻿
@{
    ViewBag.Title = "BlacklistConsult";
}

<link rel="stylesheet" href="~/Content/styles/Blacklist/BlacklistConsult.css" />

<ol class="breadcrumb">
    <li><a href="#">Lista Negra</a></li>
    <li class="active">Consultar Invitado</li>
</ol>

<br />

<div class="container">
    <div class="row">        
        <div class="col-md-7 col-md-offset-2">
            <form method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" name="buscar" placeholder="Buscar Invitado..." />
                    <span class="input-group-btn">
                        <button name="Button" value="Get" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <small>
                    <i class="search-note">
                        Consultar todos los invitados, dejar en blanco el formulario |
                        Ingrese Cedula o Correo Electronico
                    </i>
                </small>
            </form>
        </div>
    </div>
    <div class="col-md-10">
        @if (ViewBag.danger != null)
            {
            <div class="alert alert-danger" align="center">@ViewBag.danger</div>
        }
        @if (ViewBag.info != null)
            {
            <div class="alert alert-info" align="center">@ViewBag.info</div>
        }
        @if (ViewBag.message != null)
            {
            <div class="alert alert-warning" align="center">@ViewBag.message</div>
        }
        @if (ViewBag.success != null)
            {
            <div class="alert alert-success" align="center">@ViewBag.success</div>
        }
    </div>

    <br /><br />
    @if (@Model != null)
    {
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <div id="black-users" class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Correo Electronico</th>
                                <th>Cedula</th>
                                <th>Clave</th>
                                <th>Activo</th>
                                <th>Mass Mail</th>
                                <th>Plataforma</th>
                            </tr>
                        </thead>
                        @foreach (var User in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>@User.Email</td>
                                    <td>@User.IdCard</td>
                                    <td>@User.Password</td>
                                    @if (@User.Active == true)
                                    {
                                        <td>
                                            <input type="checkbox" name="Active" checked disabled="disabled" />
                                        </td>
                                    }
                                    else
                                    {
                                        <td><input type="checkbox" name="Active" value="true" disabled="disabled" /></td>
                                    }
                                    @if (@User.MassMailSubcription == true)
                                    {
                                        <td><input type="checkbox" name="MassMailSubscription" checked disabled="disabled" /></td>
                                    }
                                    else
                                    {
                                        <td><input type="checkbox" name="MassMailSubscription" value="true" disabled="disabled" /></td>
                                    }
                                    @if (@User.Platform == "Mobile")
                                    {
                                        <td>Movil</td>
                                    }
                                    else
                                    {
                                        <td>Web</td>
                                    }

                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
                <br />

            </div>
        </div>
    }

</div>
