﻿@model UserSession
@{
    ViewBag.Title = "Carameleria";
    var timestamp = DateTime.Now.ToString("yyyyMMddHHmm");
}
<script src="~/Scripts/jquery-3.2.0.min.js"></script>
@Styles.Render("~/Content/Concessions")
@Scripts.Render("~/Script/Concessions")
<script src="~/Scripts/watch.js"></script>
<script src="~/Scripts/jquery.mask.js"></script>

<script type="text/javascript">
    var minutes = parseFloat(@Model.Time.Minutes);

    var seconds = parseFloat(@Model.Time.Seconds);
    var url = "/Compra/Seleccion_Tickets/@Model.TheaterId/@Model.SessionId";
    var watch = new Watch(minutes, seconds, url);

    function after_close() {
        document.location.href = "/Compra/Seleccion_Tickets/@Model.TheaterId/@Model.SessionId";
    }

    $(function () {
        var $container = $('#container-folio');

        if ($container.length) {

        }
    });

    function getAction() {
        var action = 'CandyMaker';
        return action;
    }
</script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>*@
<script>
    var porcweb = Formatear_javascript("@Model.CargoWeb.ToString("0.00")");
    var maxConcessionsPerTransaction = @System.Configuration.ConfigurationManager.AppSettings["MaxConcessionsPerTransaction"];
    var totalTickets = Formatear_javascript("@Model.Purchase.Total.ToString("N2")");
    //************************************************************
    // PENDIENTE CUANDO SE CAMBIE EL VALOR DEL IVA
    var iva = 16.0;
    //*************************************************************
    var UUID = '@Model.Id.ToString()';
    var first = true;
    var reload;

    var order = new Order();
    order.configure({
        maxItemQuantity: maxConcessionsPerTransaction,
        webFeePrice: porcweb,
        totalTickets: totalTickets,
        iva: iva
    });

    $(document).ready(function () {

        // si la vista se carga por el back del explrador se tiene que recargar la pagina
        // ya que parte de la misma se carga con los controladores
        //if($("#load_count").val() == 1) {
        //    location.reload();
        //}
        //$("#load_count").val("1");  // flag it to refresh
        fetchRemoteOrder(UUID);
        updateOrderDisplay(order);

        var a = $('.shop-item');
        if (a.length <2 && $(window).width() < 768) {
            var c = $('#concesiones_list').position();
            $('footer').css({
                'margin-top': c.top -80
            })
        }

        // order has items?
        $("#carameleria_stock").find('input:text').each(function () {
            if ($(this).val() != 0) {

                var itemId = $(this).parent().parent().find(".buy-action").attr('data-id');
                var itemName = $(this).parent().parent().find(".buy-action").attr('data-name');
                var itemPrice = parseFloat(Formatear_javascript($(this).parent().parent().find(".buy-action").attr('data-price')));
                var itemQuantity = $(this).val();
                var $parentBox = $(this).parent().parent().parent().parent().first();
                $parentBox.addClass("selected-item");

                // append items to order
                var item = {
                    itemId: itemId,
                    itemName: itemName,
                    quantity: itemQuantity,
                    price: itemPrice
                };
                order.updateItem(item);
                updateOrderDisplay(order);
            }
        });

        // handler submit button
        $("#SendPaymment").click(function (e) {
            e.preventDefault();
            var item_id = 0; var item_qty = 0; var item_count = 0;
            var item_name = ''; var item_price = 0;

            $("#concesiones_list").html('');

            $("#carameleria_stock").find('input:text').each(function () {
                if ($(this).val() != 0) {

                    item_id = $(this).parent().parent().find(".buy-action").attr('data-id');
                    item_name = $(this).parent().parent().find(".buy-action").attr('data-name');
                    item_price = parseFloat(Formatear_javascript($(this).parent().parent().find(".buy-action").attr('data-price')));
                    item_qty = $(this).val();

                    $("#concesiones_list").append('<input name="Concession[' + item_count + '].ItemStrItemID"  id="Concession_' + item_count + '_ItemID" type="hidden" value="' + item_id + '" />');
                    $("#concesiones_list").append('<input name="Concession[' + item_count + '].ItemStrItemDescription"  id="Concession_' + item_count + '_Name" type="hidden" value="' + item_name + '" />');
                    $("#concesiones_list").append('<input name="Concession[' + item_count + '].ItemPriceDCurPrice"  id="Concession_' + item_count + '_Price" type="hidden" value="' + item_price + '" />');
                    $("#concesiones_list").append('<input name="Concession[' + item_count + '].ItemQuantityPurchase"  id="Concession_' + item_count + '_Quantity" type="hidden" value="' + item_qty + '" />');
                    item_count = item_count + 1;

                }

            });

            //$("#load_count").replaceWith('<input id="load_count" type="text" value="1" hidden>');
            document.getElementById("btnSendPaymment").click();
        });

        $(".more-item").bind("click", handlerAdd);
        $(".less-item").bind("click", handlerLess);

        //Todos los productos
        $('#AllItem').click(function(e) {
            $('.type_20').show();
            $('.type_11').show();
            $('.type_12').show();
            $('.type_14').show();
            $('.type_13').show();
            $('.type_16').show();
        });

        //Combos
        //$("#CoboItem").click(function (e) {
        //    $('.type_20').show();
        //    $('.type_11').hide();
        //    $('.type_12').hide();
        //    $('.type_14').hide();
        //    $('.type_13').hide();
        //    $('.type_16').hide();
        //});

        //// Cotufas
        //$("#CotufaItem").click(function (e) {
        //    $('.type_20').hide();
        //    $('.type_11').hide();
        //    $('.type_12').hide();
        //    $('.type_14').hide();
        //    $('.type_13').show();
        //    $('.type_16').hide();
        //});
        ////Chocolates y Dulces
        //$("#chocolateItem").click(function (e) {
        //    $('.type_11').show();
        //    $('.type_20').hide();
        //    $('.type_12').hide();
        //    $('.type_14').hide();
        //    $('.type_13').hide();
        //    $('.type_16').hide();
        //    });
        ////Salados
        //$("#SaltyItem").click(function (e) {
        //    $('.type_12').show();
        //    $('.type_20').hide();
        //    $('.type_11').hide();
        //    $('.type_14').hide();
        //    $('.type_13').hide();
        //    $('.type_16').hide();
        //});
        ////Comidas Caliente
        //$("#HotFoodItem").click(function (e) {
        //    $('.type_12').hide();
        //    $('.type_20').hide();
        //    $('.type_11').hide();
        //    $('.type_14').hide();
        //    $('.type_13').hide();
        //    $('.type_16').show();
        //});
        ////Bebidas
        //$("#BebidaItem").click(function (e) {
        //    $('.type_14').show();
        //    $('.type_12').hide();
        //    $('.type_20').hide();
        //    $('.type_11').hide();
        //    $('.type_13').hide();
        //    $('.type_16').hide();
        //});

        $(".detail_button").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            $(document).scrollTop('#detailtitle');
        });
    });
</script>
<div class="container">
    <input id="load_count" type="text" value="0" hidden>
    <div class="concesiones-menu-wrapper" data-spy="affix" data-offset-top="80" data-offset-bottom="0">
        <ul>
            <li id="AllItem" class=""><a href="#">Todos</a></li>
            @*<li id="CoboItem" class=""><a href="#">Combos</a></li>
                <li id="CotufaItem" class=""><a href="#">Cotufas</a></li>
                <li id="chocolateItem" class=""><a href="#">Chocolates</a></li>
                <li id="SaltyItem" class=""><a href="#">Salados</a></li>
                <li id="HotFoodItem" class=""><a href="#">Comidas Calientes</a></li>
                <li id="BebidaItem" class=""><a href="#">Bebidas</a></li>*@

            @*<li class=""><a href="#" class="detail_button desaparecer">&nbsp;</a></li>*@
            <li class=""><a href="#" class="detail_button desaparecer">Continuar</a></li>
        </ul>
    </div>
    <div class="mod_compra02tope">
        <!-- tiempo -->
        @Html.DisplayFor(m => m.Time, "Time")
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 comprabarrapeli">@Model.Title</div>
            <div class="col-lg-2 col-md-2 col-sm-6 comprabarracine">@Model.Theater</div>
            <div class="col-lg-4 col-md-4 col-sm-6 comprabarrafecha">@Model.Date</div>
        </div>
    </div>
    <div id="wrapper">
        <div class="carameleria">
            <section id="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="asientosselecc">
                                <font color="white">
                                    <h5>Asientos actuales</h5>
                                </font>
                                <ul class="asientosreserv">
                                    @foreach (var item in Model.Seats)
                                    {
                                        <li>@item.Name</li>
                                    }
                                </ul>
                                @using (Html.BeginForm("ViewHall", "Purchase", FormMethod.Post))
                                {
                                    <input type="hidden" name="userSessionId" id="userSessionId" value="@Model.Id">
                                    <input type="submit" value="Send" id="btnSendViewHall" style="visibility: hidden;" />
                                }
                            </div>
                        </div>
                        <!-- detalle compra -->
                        <div class="col-xs-12 col-sm-9 shop-area">
                            <div id="carameleria_stock">
                                <!-- START carameleria -->
                                <a name="combos"></a>
                                @foreach (var item in Model.Concessions.OrderByDescending(s => s.ItemPriceDCurPrice))
                                {

                                    if (Model.Purchase.Concessions != null)
                                    {
                                        foreach (var item2 in Model.Purchase.Concessions)
                                        {
                                            if (item2.ItemStrItemID == item.ItemStrItemID)
                                            {
                                                item.ItemQuantityPurchase = item2.ItemQuantityPurchase;
                                            }
                                        }
                                    }

                                    var itemImageUrl = "https://cinesunidosweb.blob.core.windows.net/cms/" + item.ItemStrItemID + "?" + timestamp;

                                    var BolF = (item.ItemPriceDCurPrice * 100000).ToString("N2");

                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 shop-item type_@item.ClassStrCode">
                                        <div data-id="@item.ItemStrItemID" class="inner-wraper row-eq-height">
                                            <div class="meta-info">
                                                @*<span class="item-name">@item.ItemStrItemDescription</span>*@
                                            </div>
                                            <div class="item-thumb">
                                                <img src="@itemImageUrl" alt="Placeholder" />
                                            </div>
                                            <div class="meta-info-price">
                                                <span class="item-price">Bs. @item.ItemPriceDCurPrice.ToString("N2")</span>
                                            </div>
                                            @*<div class="meta-info-price">
                                                <span class="item-price">Bs.F @BolF</span>
                                            </div>*@
                                            <div class="buy-options">
                                                <div class="row">
                                                    <div class="col-xs-3 col-sm-3">
                                                        <a href="#" class="buy-action less-item" data-price="@item.ItemPriceDCurPrice.ToString("N2")" data-name="@item.ItemStrItemDescription" data-id="@item.ItemStrItemID">-</a>
                                                    </div>
                                                    <div class="col-xs-4 col-sm-6">
                                                        <input id="buy_cant_@item.ItemStrItemID" type="text" class="buy-cant"
                                                               value="@item.ItemQuantityPurchase" data-available="" readonly="">
                                                    </div>
                                                    <div class="col-xs-3 col-sm-3">
                                                        <a href="#" class="buy-action more-item" data-valormax="@item.ItemStockCurAvailable" data-price="@item.ItemPriceDCurPrice.ToString("N2")" data-name="@item.ItemStrItemDescription" data-id="@item.ItemStrItemID">+</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 right-area" style="background-color: #e4e6e5;">
                            <div id="sidebar-wrapper">
                                @using (Html.BeginForm("GetConcessions", "Purchase", FormMethod.Post))
                                {
                                    <div id="buying-detail">
                                        <input type="hidden" name="userSession" id="userSession" value="@Model.Id" />
                                        @Html.DisplayFor(m => m.Purchase, "PurchaseConcessions", new { @class = "compradetbox compradetboxtop" })
                                        <div>
                                            <div id="concesiones_list"></div>
                                            <a href="#" target="_self" id="SendPaymment" class="btn_compradetnext">Realizar pago</a>
                                            <input type="submit" name="command" id="btnSendPaymment" style="visibility: hidden;" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>