@model UserSession

@Styles.Render("~/Content/Concessions")

@section scripts
{
    <script src="~/Scripts/watch.js"></script>
    <script>
        var countSeat = parseFloat(@Model.Seats.Count());
        var temp = countSeat;
        function Select(item) {
            var status = $(item).children().attr('data-status');
            if (status == 'selected') {
                UnSelectSeat(item);
            }
            else {
                if (countSeat == temp) {
                    RemoveAllSelectSeat();
                }
                SelectSeat(item);
            }

            if (temp < countSeat) {

                var btn = $("#Send");
                btn.removeClass("btn_compradetnext button_modal");
                btn.addClass("btn_block button_modal");

                var concessions = $("#BtnConcessiones");
                concessions.removeClass("btn_compradetnext");
                concessions.addClass("btn_block");
                
            }
            else {
                var btn = $("#Send");
                btn.removeClass("btn_block button_modal");
                btn.addClass("btn_compradetnext button_modal");

                var concessions = $("#BtnConcessiones");
                concessions.removeClass("btn_block");
                concessions.addClass("btn_compradetnext");

            }

        }
        function SelectSeat(item) {
            //var seat = $(item).children(".asientoreserv");
            //seat.removeClass("asientoreserv");
            var seat = $(item).children(".asientolibre")
            seat.removeClass("asientolibre");
            seat.addClass("asientofuera");
            seat.attr('data-status', 'selected')
            SetSeat(seat)
        }
        function SetSeat(item) {
            var number = $(item).attr('data-name');
            var AreaCategoryCode = $(item).attr('data-AreaCategoryCode');
            var AreaNumber = $(item).attr('data-AreaNumber');
            var RowIndex = $(item).attr('data-RowIndex');
            var ColumnIndex = $(item).attr('data-ColumnIndex');
            //$(".asientosreserv li").each(function (index) {
            //$(".asientolibre li").each(function (index) {
            $(".asientosel li").each(function (index) {
                if ($(this).attr('class') == 'vacant') {
                    $(this).html(number);
                    $(this).removeClass("vacant");
                    $(this).addClass("used");
                    $(this).attr('data-AreaCategoryCode', AreaCategoryCode);
                    $(this).attr('data-AreaNumber', AreaNumber);
                    $(this).attr('data-RowIndex', RowIndex);
                    $(this).attr('data-ColumnIndex', ColumnIndex);
                    return false;
                }
            });
            temp = temp + 1;
        }
        function UnSelectSeat(item) {
            var seat = $(item).children(".asientofuera");
            seat.removeClass("asientofuera");
            //seat.addClass("asientoreserv");
            seat.addClass("asientolibre");
            seat.attr('data-status', 'available')
            RemoveSeat(seat)
        }
        function RemoveSeat(item) {
            var number = $(item).attr('data-name');
            //$(".asientosreserv li").each(function (index) {
            // $(".asientolibre li").each(function (index) {
            $(".asientosel li").each(function (index) {
                if ($(this).html() == number) {
                    $(this).html('');
                    $(this).removeClass("used");
                    $(this).addClass("vacant");
                }
            });
            temp = temp - 1;
        }
        function RemoveAllSelectSeat() {
            var nodeList = document.querySelectorAll(".asientofuera");
            for (var i = 0, length = nodeList.length; i < length; i++) {
                nodeList[i].setAttribute("class", "");
                //nodeList[i].setAttribute("class", "asientoreserv");
                nodeList[i].setAttribute("class", "asientolibre");
                nodeList[i].setAttribute("data-status", "available");
            }
            //$(".asientosreserv li").each(function (index) {
            //$(".asientolibre li").each(function (index) {
            $(".asientosel li").each(function (index) {
                $(this).html('');
                $(this).removeClass("used");
                $(this).addClass("vacant");
            });
            temp = 0;
        }
    </script>
    <script>
        $(document).ready(function () {

            var is_chrome = navigator.userAgent.indexOf('Chrome') > -1;
            var is_explorer = navigator.userAgent.indexOf('MSIE') > -1;
            var is_firefox = navigator.userAgent.indexOf('Firefox') > -1;
            var is_safari = navigator.userAgent.indexOf("Safari") > -1;
            var is_opera = navigator.userAgent.toLowerCase().indexOf("op") > -1;
            if ((is_chrome) && (is_safari)) { is_safari = false; }
            if ((is_chrome) && (is_opera)) { is_chrome = false; }
           
            colmap = $('#colmap').val();
            width = 220 / colmap;
            $(' table > tbody > tr > td').css(
                {
                    "min-width": width+"px",
                    "max-width": width+"px"
                }
            );
            //alert(colmap);
            var windowWidth = $(window).width();

            if (windowWidth < 359) {
                if (colmap < 18) {
                    if (is_firefox) {
                        $(' table > tbody > tr > td').css(
                            { "height": "15px" }
                        );
                    }
                    else {
                        $(' table > tbody > tr > td').css(
                            { "height": "44px" }
                        );
                    }
                }
                else if ((colmap >= 18) && (colmap < 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "13px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "36px" }
                        );
                    }
                }
                else if ((colmap >= 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "10px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "32px" }
                        );
                    }
                }

            }
            else if ((windowWidth >= 360) && (windowWidth < 480)) {
                if (colmap < 18) {
                    if (is_firefox) {
                        $(' table > tbody > tr > td').css(
                            { "height": "17px" }
                        );
                    }
                    else {
                        $(' table > tbody > tr > td').css(
                            { "height": "54px" }
                        );
                    }
                }
                else if ((colmap >= 18) && (colmap < 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "13px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "44px" }
                        );
                    }
                }
                else if ((colmap >= 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "10px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "32px" }
                        );
                    }
                }
            }
            else if ((windowWidth >= 480) && (windowWidth < 540)) {
                if (colmap < 18) {
                    if (is_firefox) {
                        $(' table > tbody > tr > td').css(
                            { "height": "26px" }
                        );
                    }
                    else {
                        $(' table > tbody > tr > td').css(
                            { "height": "42px" }
                        );
                    }
                }
                else if ((colmap >= 18) && (colmap < 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "18px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "28px" }
                        );
                    }
                }
                else if ((colmap >= 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "16px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "24px" }
                        );
                    }
                }
            }
            else if ((windowWidth >= 540) && (windowWidth < 600)) {
                if (colmap < 18) {
                    if (is_firefox) {
                        $(' table > tbody > tr > td').css(
                            { "height": "30px" }
                        );
                    }
                    else {
                        $(' table > tbody > tr > td').css(
                            { "height": "56px" }
                        );
                    }
                }
                else if ((colmap >= 18) && (colmap < 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "24px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "34px" }
                        );
                    }
                }
                else if ((colmap >= 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "16px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "28px" }
                        );
                    }
                }
            }
            else if ((windowWidth >= 600) && (windowWidth < 640)) {
                if (colmap < 18) {
                    if (is_firefox) {
                        $(' table > tbody > tr > td').css(
                            { "height": "34px" }
                        );
                    }
                    else {
                        $(' table > tbody > tr > td').css(
                            { "height": "50px" }
                        );
                    }
                }
                else if ((colmap >= 18) && (colmap < 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "24px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "34px" }
                        );
                    }
                }
                else if ((colmap >= 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "18px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "26px" }
                        );
                    }
                }
            }
            else if ((windowWidth >= 640) && (windowWidth < 720)) {
                if (colmap < 18) {
                    if (is_firefox) {
                        $(' table > tbody > tr > td').css(
                            { "height": "34px" }
                        );
                    }
                    else {
                        $(' table > tbody > tr > td').css(
                            { "height": "50px" }
                        );
                    }
                }
                else if ((colmap >= 18) && (colmap < 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "24px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "30px" }
                        );
                    }
                }
                else if ((colmap >= 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "18px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "24px" }
                        );
                    }
                }
            }
            else if ((windowWidth >= 720) && (windowWidth < 768)) {
                if (colmap < 18) {
                    if (is_firefox) {
                        $(' table > tbody > tr > td').css(
                            { "height": "40px" }
                        );
                    }
                    else {
                        $(' table > tbody > tr > td').css(
                            { "height": "46px" }
                        );
                    }
                }
                else if ((colmap >= 18) && (colmap < 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "28px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "30px" }
                        );
                    }
                }
                else if ((colmap >= 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "22px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "24px" }
                        );
                    }
                }
            }
            else if ((windowWidth >= 768) && (windowWidth < 1024)) {
                if (colmap < 18) {
                    if (is_firefox) {
                        $(' table > tbody > tr > td').css(
                            { "height": "40px" }
                        );
                    }
                    else {
                        $(' table > tbody > tr > td').css(
                            { "height": "46px" }
                        );
                    }
                }
                else if ((colmap >= 18) && (colmap < 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "28px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "30px" }
                        );
                    }
                }
                else if ((colmap >= 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "22px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "24px" }
                        );
                    }
                }
            }
            else if ((windowWidth >= 1024) && (windowWidth < 1280)) {
                if (colmap < 18) {
                    if (is_firefox) {
                        $(' table > tbody > tr > td').css(
                            { "height": "20px" }
                        );
                        $('.asientolibre').css(
                            {
                                "background-size": "50%",
                                "background-position": "center"
                            }
                        );
                        $('.asientofuera').css(
                            {
                                "background-size": "50%",
                                "background-position": "center"
                            }
                        );
                        $('.asientoreserv').css(
                            {
                                "background-size": "50%",
                                "background-position": "center"
                            }
                        );
                    }
                    else {
                        $(' table > tbody > tr > td').css(
                            { "height": "46px" }
                        );
                    }
                }
                else if ((colmap >= 18) && (colmap < 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "30px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "30px" }
                        );
                    }
                }
                else if ((colmap >= 24)) {
                    if (is_firefox) {
                        $('table > tbody > tr > td').css(
                            { "height": "22px" }
                        );
                    }
                    else {
                        $('table > tbody > tr > td').css(
                            { "height": "24px" }
                        );
                    }
                }
            }
            else if (windowWidth >= 1280) {
                if (colmap < 18) {
                if (is_firefox) {
                    $(' table > tbody > tr > td').css(
                        { "height": "30px" }
                    );
                    $('.asientolibre').css(
                        {
                            "background-size": "40%",
                            "background-position": "center"
                        }
                    );
                    $('.asientofuera').css(
                        {
                            "background-size": "40%",
                            "background-position": "center"
                        }
                    );
                    $('.asientoreserv').css(
                        {
                            "background-size": "50%",
                            "background-position": "center"
                        }
                    );
                }
                else {
                    $(' table > tbody > tr > td').css(
                        { "height": "46px" }
                    );
                }
            }
            else if ((colmap >= 18) && (colmap < 24)) {
                if (is_firefox) {
                    $('table > tbody > tr > td').css(
                        { "height": "30px" }
                    );
                }
                else {
                    $('table > tbody > tr > td').css(
                        { "height": "30px" }
                    );
                }
            }
            else if ((colmap >= 24)) {
                if (is_firefox) {
                    $('table > tbody > tr > td').css(
                        { "height": "22px" }
                    );
                }
                else {
                    $('table > tbody > tr > td').css(
                        { "height": "24px" }
                    );
                }
            }
            }

            $("#SendPaymment").click(function () {
                if (countSeat == temp) {
                    $("#variables").html('');
                    var count = 0;
                    //$(".asientosreserv li").each(function (index) {
                    //$(".asientolibre li").each(function (index) {
                    $(".asientosel li").each(function (index) {
                        var AreaCategoryCode = $(this).attr('data-AreaCategoryCode');
                        var AreaNumber = $(this).attr('data-AreaNumber');
                        var RowIndex = $(this).attr('data-RowIndex');
                        var ColumnIndex = $(this).attr('data-ColumnIndex');

                        $("#variables").append('<input name="seats[' + count + '].AreaCategoryCode"  id="seats_ ' + count + ' __AreaCategoryCode" type="hidden" value="' + AreaCategoryCode + '" />');
                        $("#variables").append('<input name="seats[' + count + '].AreaNumber"  id="seats_ ' + count + ' __AreaNumber" type="hidden" value="' + AreaNumber + '" />');
                        $("#variables").append('<input name="seats[' + count + '].RowIndex"  id="seats_ ' + count + ' __RowIndex" type="hidden" value="' + RowIndex + '" />');
                        $("#variables").append('<input name="seats[' + count + '].ColumnIndex"  id="seats_ ' + count + ' __ColumnIndex" type="hidden" value="' + ColumnIndex + '" />');
                        $("#variables").append('<input name="seats[' + count + '].Name"  id="seats_ ' + count + ' __Name" type="hidden" value="' + $(this).html() + '" />');
                        count = count + 1;
                    });
                    document.getElementById("btnSendPaymment").click();
                }
                else {
                    $.msgbox('Disculpe, Ud. Debe seleccionar ' + countSeat + ' asiento(s). En la actualidad tiene ' + temp + ' asiento(s) seleccionado(s).', {
                        type: 'error'
                    });
                }
            });


            $("#SendConcessions").click(function () {
                if (countSeat == temp) {
                    $("#variables").html('');
                    var count = 0;
                    //$(".asientosreserv li").each(function (index) {
                    //$(".asientolibre li").each(function (index) {
                    $(".asientosel li").each(function (index) {
                        var AreaCategoryCode = $(this).attr('data-AreaCategoryCode');
                        var AreaNumber = $(this).attr('data-AreaNumber');
                        var RowIndex = $(this).attr('data-RowIndex');
                        var ColumnIndex = $(this).attr('data-ColumnIndex');

                        $("#variables").append('<input name="seats[' + count + '].AreaCategoryCode"  id="seats_ ' + count + ' __AreaCategoryCode" type="hidden" value="' + AreaCategoryCode + '" />');
                        $("#variables").append('<input name="seats[' + count + '].AreaNumber"  id="seats_ ' + count + ' __AreaNumber" type="hidden" value="' + AreaNumber + '" />');
                        $("#variables").append('<input name="seats[' + count + '].RowIndex"  id="seats_ ' + count + ' __RowIndex" type="hidden" value="' + RowIndex + '" />');
                        $("#variables").append('<input name="seats[' + count + '].ColumnIndex"  id="seats_ ' + count + ' __ColumnIndex" type="hidden" value="' + ColumnIndex + '" />');
                        $("#variables").append('<input name="seats[' + count + '].Name"  id="seats_ ' + count + ' __Name" type="hidden" value="' + $(this).html() + '" />');
                        count = count + 1;
                    });
                    document.getElementById("btnSendConcessions").click();
                }
                else {
                    $.msgbox('Disculpe, Ud. Debe seleccionar ' + countSeat + ' asiento(s). En la actualidad tiene ' + temp + ' asiento(s) seleccionado(s).', {
                        type: 'error'
                    });
                }
            });

            

        });
        var minutes = parseFloat(@Model.Time.Minutes);
        var seconds = parseFloat(@Model.Time.Seconds);
        var url = "/Compra/Seleccion_Tickets/@Model.TheaterId/@Model.SessionId";
        function after_close() {
            document.location.href = "/Compra/Seleccion_Tickets/@Model.TheaterId/@Model.SessionId";
        }
        var watch = new Watch(minutes, seconds, url);

        if (countSeat > 4) {
            $("#div1").css({ "height": "195px" });
            $("#ul1").css({ "height": "56px" });
            $("#ul1").css({ "margin-bottom": "14px" });
        } else {
            $("#div1").css({ "height": "172px" });
            $("#ul1").css({ "height": "20px" });
        }
</script>
}
<div class="container">
    <section class="mod_compra02">
        <div class="mod_compra02tope">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 comprabarrapeli">@Model.Title</div>
                <div class="col-lg-2 col-md-2 col-sm-6 comprabarracine">@Model.Theater</div>
                <div class="col-lg-4 col-md-4 col-sm-6 comprabarrafecha">@Model.Date</div>
            </div>
        </div>
        <div class="row">
            @Html.DisplayFor(m => m.Map, "Map")
            <div class="col-lg-3 col-md-12 sol-sm-12">
                <div class="mod_compra02det">
                    <!-- tiempo -->
                    @Html.DisplayFor(m => m.Time, "Time")

                    <!-- detalle compra -->
                    @Html.DisplayFor(m => m.Purchase, "Purchase", new { @class = "compradetbox compradetboxtop" })
                    <!-- asientos actuales -->
                    <div id="div1" class="compraasientos">
                        <h5>Asientos actuales</h5>
                        @*<ul class="asientosreserv">*@
                        <ul id="ul1" class="asientosel">
                            @foreach (var item in Model.Seats)
                            {
                                <li class="used" data-AreaCategoryCode="@item.AreaCategoryCode" data-AreaNumber="@item.AreaNumber" data-RowIndex="@item.RowIndex" data-ColumnIndex="@item.ColumnIndex">@item.Name</li>
                            }
                        </ul>
                        @if (Model.ConcessionsSaleEnabled)
                        {
                            <a id="BtnConcessiones" href="#" class="btn_compradetnext" data-toggle="modal" data-target="#ModalConcessions">Continuar</a>
                        }
                        else
                        {
                            using (Html.BeginForm("Confirmation", "Purchase", FormMethod.Post))
                            {
                                <input type="hidden" name="userSession" id="userSession" value="@Model.Id" />
                                <div id="variables"></div>
                                <a href="#" target="_self" id="SendPaymment" class="btn_compradetnext">Realizar pago</a>
                                <input type="submit" name="command" value="Paymment" id="btnSendPaymment" hidden />
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <div id="ModalConcessions" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="https://cinesunidosweb.blob.core.windows.net/cms/modal.png?@DateTime.Now.ToString("yyyyMMddHHmm")" alt="" width="100%">
                    </div>
                </div>
                <div class="modal-footer">
                    @*CandiesWeb*@
                    @*Confirmation*@
                    @using (Html.BeginForm("Confirmation", "Purchase", FormMethod.Post))
                        {
                            <input type="hidden" name="userSession" id="userSession" value="@Model.Id" />
                            <div id="variables"></div>
                            <a href="#" target="_self" id="SendConcessions" class="btn_compradetnextbig button_modal">Comprar Carameler&iacute;a</a>
                            <input type="submit" name="command" value="Concessions" id="btnSendConcessions" hidden />
                            <a href="#" target="_self" id="SendPaymment" class="btn_compradetnextbig button_modal">Pagar Boletos</a>
                            <input type="submit" name="command" value="Paymment" id="btnSendPaymment" hidden />
                            @*<input id="btnSend" type="submit" name="command" value="Realizar Pago" />*@
                        }
                    </div>
                </div>
            </div>
        </section>
</div>