@model UserSession

<div class="container">
    <div class="row">
        <!-- Mensajde de Sección -->
        <div class="col-lg-12">
            <div class="red-title">
                <h3>Transacción fallida</h3>
            </div>
            <div class="estrenos-info bg-pattern">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 cols-sm-12">
                            <br />
                            <strong>¡Gracias por comunicarse con nosotros!</strong>
                            <p>
                                LO SENTIMOS MUCHO PERO SU COMPRA NO HA SIDO APROBADA.
                                <br>
                                POR FAVOR REVISE LOS DATOS DE SU TARJETA E INTENTE NUEVAMENTE.
                                <br>
                                SI YA LO HA HECHO, ES POSIBLE QUE EXISTAN PROBLEMAS OPERATIVOS CON EL BANCO.
                                <br />
                                <br />
                            </p>
                            <strong>RESPUESTA DEL BANCO: @Model.DescriptionResult</strong>
                            <a href="/Compra/Seleccion_Tickets/@Model.TheaterId/@Model.SessionId" class="btn_compraprocesar btn_compraprocesar2">
                                Intentar de<br>
                                nuevo
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 cols-sm-12 hidden-xs">
                            <br />
                            @Html.DisplayFor(m => m.Voucher, "Voucher")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>