@model UserSession

<style>
    ul.confirmpasos li {
        text-align: left;
        font-size: .875em;
        line-height: 1.5em;
        text-transform: uppercase;
        list-style-type: disc;
    }
</style>

@* Resultado de la compra *@

@if (Model.CodeResult == "00")
{
    <div class="container">
        <div class="row">
            <!-- Mensajde de Sección -->
            <div class="col-lg-12">
                <div class="estrenos-info bg-pattern">
                    <div class="container">
                        <section class="mod_compra03">
                            <div class="row ">
                                <div class="col-lg-6">
                                    <div class="compraconfirm mod_compra05tope">Confirmaci&oacute;n de Compra</div>
                                    <div class="confirmtxt">
                                    </div><br />
                                    @Html.DisplayForModel("Summary")
                                </div>
                                <div class="col-lg-6">
                                    @*@if ((@Model.TheaterId != "1001" && @Model.TheaterId != "1026" && @Model.TheaterId != "1027" && Model.TheaterId != "1028" && Model.TheaterId != "1005" && Model.TheaterId != "1017" && Model.TheaterId != "1023" && Model.TheaterId != "1024" && Model.TheaterId != "1025" && Model.TheaterId != "1014" && Model.TheaterId != "1015") || Model.Purchase.Tickets.Where(i => i.Name.Contains("Boleto - Pa Ti Pa Mi")).Count() > 0)
                                    {
                                        <br />
                                        <div class="comprapasos mod_compra05tope">Pasos para retirar las entradas</div>
                                        <ul class="confirmpasos" style="list-style-type: disc;text-align: left;">
                                            <li>DIR&Iacute;GETE A LA TAQUILLA DE RESERVACIONES.</li>
                                            <li>PRESENTA TU TARJETA DE CR&Eacute;DITO Y C&Eacute;DULA (OBLIGATORIO).</li>
                                            <li>SOLO EL TITULAR DE LA TARJETA DE CR&Eacute;DITO PODR&Aacute; RETIRAR LOS BOLETOS.</li>
                                        </ul><br />
                                    }*@
                                    <br />
                                    @Html.DisplayFor(m => m.Voucher, "Voucher")
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section scripts{
        <script>
            //LOAD GOOGLE ECOMMERCE PLUGIN
            ga('require', 'ecommerce');

            //ADDING TRANSACTION
            ga('ecommerce:addTransaction', {
                'id': '@Model.BookingNumber',                     // Transaction ID. Required.
                'affiliation': '@Model.Theater',   // Affiliation or store name.
                'revenue': '@Model.Purchase.Total.ToString("N2")',  // Grand Total.
                //'shipping': '5',                  // Shipping.
                'tax': '@Model.Purchase.TotalTax.ToString("N2")',  // Tax.
                'currency': 'Bs.'  // local currency code.
            });

            //ADDING ITEMS
            ga('ecommerce:addItem', {
                'id': '@Model.BookingNumber',  // Transaction ID. Required.
                'name': '@Model.Title',       // Product name. Required.
                'sku': '@Model.Id',       // SKU/code.
                //'category': 'Party Toys',     // Category or variation.
                'price': '@Model.Purchase.Total',      // Unit price.
                'quantity': '@Model.Purchase.Quantity', // Quantity
                'currency': 'VEF'  // local currency code.
            });

            //SENDING DATA TO GOOGLE
            ga('ecommerce:send');

            //CLEARING DATA
            ga('ecommerce:clear');
        </script>
    }

}
else
{
    if (Model.CodeResult == "555")
    {
        <div class="container">
            <div class="row mod_compra03">
                <div class="col-xs-6 col-xs-offset-3">
                    <div class="col-md-12">
                        <div class="mail">
                            <ul class="qr-bullet">
                                <li><span class="text-center fa fa-info-circle fa-2x"></span></li>
                                <li>
                                    <strong>!Gracias por preferirnos!</strong>
                                </li>
                                <li>Lo sentimos, no hay disponibilidad para la cantidad de producto(s) seleccionado(s).</li>
                                <li></li>
                                <li>
                                    <a href="/Compra/Seleccion_Tickets/@Model.TheaterId/@Model.SessionId" class="btn_compraprocesar btn_compraprocesar2">
                                        Intentar de<br>
                                        nuevo
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        if (Model.CodeResult.Contains("V"))
        {
            <div class="container">
                <div class="row mod_compra03">
                    <div class="col-lg-6 col-md-6 col-xs-12 cols-sm-12">
                        <br />
                        <strong>
                            &#105;Gracias por comunicarse con nosotros&#33;
                        </strong>
                        <p>
                            LO SENTIMOS MUCHO, SU COMPRA NO HA PODIDO SER REALIZADA.
                            <br>
                            POR FAVOR REVISE SUS DATOS E INTENTE NUEVAMENTE.
                            <br>
                            SI YA LO HA HECHO, ES POSIBLE QUE EXISTAN PROBLEMAS OPERATIVOS
                            <br />
                            <br />
                        </p>
                        <strong>RESPUESTA DE ViPPO: @Model.DescriptionResult</strong>
                        <a href="/Compra/Seleccion_Tickets/@Model.TheaterId/@Model.SessionId" class="btn_compraprocesar btn_compraprocesar2">
                            Intentar de<br>
                            nuevo
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 cols-sm-12 hidden-xs">
                        <br />
                        @Html.DisplayFor(m => m.Voucher, "Voucher")
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <div class="row mod_compra03">
                    <div class="col-lg-6 col-md-6 col-xs-12 cols-sm-12">
                        <br />
                        <strong>!Gracias por comunicarse con nosotros!</strong>
                        <p>
                            LO SENTIMOS MUCHO PERO SU COMPRA NO HA SIDO APROBADA.
                            <br>
                            POR FAVOR REVISE LOS DATOS DE SU TARJETA E INTENTE NUEVAMENTE.
                            <br>
                            SI YA LO HA HECHO, ES POSIBLE QUE EXISTAN PROBLEMAS OPERATIVOS CON EL BANCO.
                            <br />
                            <br />
                        </p>
                        <strong>RESPUESTA DEL BANCO: @Model.DescriptionResult</strong>
                        <a href="/Compra/Seleccion_Tickets/@Model.TheaterId/@Model.SessionId" class="btn_compraprocesar btn_compraprocesar2">
                            Intentar de<br>
                            nuevo
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 cols-sm-12 hidden-xs">
                        <br />
                        @Html.DisplayFor(m => m.Voucher, "Voucher")
                    </div>
                </div>
            </div>
        }

    }
}