@model UserSession


    <style>
         ul.confirmpasos li {
            text-align: left;
            font-size: .875em;
            line-height: 1.5em;
            text-transform: uppercase;
            list-style-type: disc;
        }
    </style>

<div class="container">
    <div class="row">
        <!-- Mensajde de Sección -->
        <div class="col-lg-12">
            <div class="estrenos-info bg-pattern">
                <div class="container">
                    <section class="mod_compra03">
                        <div class="row ">
                            <div class="col-lg-6">
                                <div class="compraconfirm mod_compra05tope">Confirmación de Compra</div>
                                <div class="confirmtxt">
                                </div><br />
                                @Html.DisplayForModel("Summary")
                            </div>
                            <div class="col-lg-6">
@if (@Model.TheaterId != "1001" && @Model.TheaterId != "1026" && @Model.TheaterId != "1027" && Model.TheaterId !="1028")
{
    <br />

                                    <div class="comprapasos mod_compra05tope">Pasos para retirar las entradas</div>
                                    <ul class="confirmpasos" style="list-style-type: disc;text-align: left;">
                                        <li>DIRÍGETE A LA TAQUILLA DE RESERVACIONES.</li>
                                        <li>PRESENTA TU TARJETA DE CRÉDITO Y CÉDULA (OBLIGATORIO).</li>
                                        <li>SOLO EL TITULAR DE LA TARJETA DE CRÉDITO PODRÁ RETIRAR LOS BOLETOS.</li>
                                    </ul><br />


                                }
                                <br />
                                @Html.DisplayFor(m => m.Voucher, "Voucher")
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
    //LOAD GOOGLE ECOMMERCE PLUGIN
    ga('require', 'ecommerce');

    //ADDING TRANSACTION
    ga('ecommerce:addTransaction', {
        'id': '@Model.BookingNumber',                     // Transaction ID. Required.
        'affiliation': '@Model.Theater',   // Affiliation or store name.
        'revenue': '@Model.Purchase.Total.ToString("N2")',  // Grand Total.
        //'shipping': '5',                  // Shipping.
        'tax': '@Model.Purchase.TotalTax.ToString("N2")',  // Tax.
        'currency': 'VEF'  // local currency code.
    });

    //ADDING ITEMS
    ga('ecommerce:addItem', {
        'id': '@Model.BookingNumber',  // Transaction ID. Required.
        'name': '@Model.Title',       // Product name. Required.
        'sku': '@Model.Id',       // SKU/code.
        //'category': 'Party Toys',     // Category or variation.
        'price': '@Model.Purchase.Total',      // Unit price.
        'quantity': '@Model.Purchase.Quantity', // Quantity
        'currency': 'VEF'  // local currency code.
    });

    //SENDING DATA TO GOOGLE
    ga('ecommerce:send');

    //CLEARING DATA
    ga('ecommerce:clear');
</script>
    }