<div style="margin-left:10%;width:80%; color:white;">
    <div >
        <div>
            <h5 style="text-align:center;">Terminos y condiciones de uso</h5>
            <p style="text-align:justify;">
                Copyright
                Cualquier logo, logotipo, nombre o signo distintivo de Empresa Cines Unidos C.A. son marcas registradas en la Rep&uacute;blica Bolivariana de Venezuela y en otros pa&iacute;ses; cualquier otra marca que aparezca en este sitio ser&aacute; considerada una marca de tercero. Copyright en las im&aacute;genes, textos, pantallas y sitios de Internet que aparezcan o se relacionen con este sitio, son propiedad de Empresa Cines Unidos C.A., como se indica. La informaci&oacute;n y material de los sitios, puede ser reproducida para el uso personal o educativo, siempre y cuando cada copia incluya una leyenda de, marcas registradas, derechos de autor, derechos reservados o Copyright cuando se realice la reproducci&oacute;n. Sin embargo, la informaci&oacute;n y material de los sitios no podr&aacute;n ser copiados, mostrados, distribuidos, impresos, dados en cualquier tipo de licencia, modificados, publicados, reproducidos, re-usados, vendidos, transmitidos, usados para crear un trabajo derivado, o usados para fines p&uacute;blicos o comerciales, a excepci&oacute;n de que cumpla con los t&eacute;rminos y condiciones mostrados en el sitio y se tenga, en todo momento, el consentimiento por escrito de Empresa Cines Unidos C.A.
            </p>
            <p style="text-align:justify;">
                &Aacute;MBITO DE APLICACI&Oacute;N
            </p>
            <p style="text-align:justify;">
                1. Estos T&eacute;rminos, aplican a todos los usuarios, Invitados y/o personas que de cualquier forma hagan uso y/o utilicen (i) la p&aacute;gina de Internet cinesunidos.com; (ii) cualesquiera de las p&aacute;ginas y/o enlaces de cinesunidos.com; (iii) compra de boletos y/o productos  a trav&eacute;s de la p&aacute;gina cinesunidos.com, vigente para tales efectos; (iv) correo electr&oacute;nico (v) en general, a cualesquier servicios, productos y/o promociones que se ofrezcan y/o provean en dichas p&aacute;ginas, salvo disposici&oacute;n expresa en espec&iacute;fico en contrario en cada uno de dichos servicios. 
            </p>
            <p style="text-align:justify;">
                2. Tanto Cines Unidos como los Usuarios o Invitados, al momento de hacer uso de cualquiera de los Servicios, acuerdan voluntariamente por ese simple hecho y se obligan a sujetarse en todos sus t&eacute;rminos y condiciones a estos T&eacute;rminos, as&iacute; como a cualquier otra disposici&oacute;n, requerimiento, lineamiento o similar, que sea de tiempo en tiempo establecida en los Sitios, directamente o a trav&eacute;s de los v&iacute;nculos que muestren dicha informaci&oacute;n.
            </p>
            <p style="text-align:justify;">
                3. Los Usuarios acceden libre y voluntariamente al Sitio, con el objeto de solicitar de Cines Unidos la prestaci&oacute;n de los Servicios, sujet&aacute;ndose de igual forma libremente a los T&eacute;rminos vigentes, as&iacute; como a cualquier disposici&oacute;n que sea emitida por Cines Unidos, directa o indirectamente, relacionada con los Servicios.
            </p>
            <p style="text-align:justify;">
                4. La prestaci&oacute;n de los Servicios est&aacute; sujeta a la aceptaci&oacute;n &iacute;ntegra de los T&eacute;rminos aqu&iacute; contenidos, por parte de cualquier persona.
            </p>
            <p style="text-align:justify;">
                II. DEFINICIONES
            </p>
            <p style="text-align:justify;">
                1. Ya sea establecidas como singular o plural, masculino o femenino, o en las conjugaciones de sus verbos, los siguientes conceptos tendr&aacute;n el significado referido a continuaci&oacute;n:
            </p>
            <p style="text-align:justify;">
                1.1 Boletos: Significan los cupones impresos que otorgan a su portador el acceso a la pel&iacute;cula cinematogr&aacute;fica que se establece en dicho documento.
            </p>
            <p style="text-align:justify;">
                1.2 Productos: Significan todos y cada uno de los productos expendidos en nuestras Carameler&iacute;as tales como: Nuggets, Cotufas, Refrescos, Agua, Chocolates, Snacks, Perros Calientes, Teque&ntilde;os, etc.
            </p>
            <p style="text-align:justify;">
                1.3 Cargo por Servicio: Significa la cantidad se&ntilde;alada en el Sitio que ser&aacute; pagada por el Invitado a Cines Unidos por la prestaci&oacute;n de los Servicios, incluyendo el correspondiente Impuesto al Valor Agregado.
            </p>
            <p style="text-align:justify;">
                1.4 Cines Unidos: Empresa Cines Unidos C.A., sus subsidiarias y/o afiliadas.
            </p>
            <p style="text-align:justify;">
                1.5 Invitado: Persona f&iacute;sica registrada en cinesunidos.com, que ha cumplido los requisitos y provisto informaci&oacute;n requerida en dicha p&aacute;gina por Cines Unidos para utilizar los Servicios, requisitando as&iacute; mismo la solicitud de compra o formatos adicionales que establece el Sitio para cada caso.
            </p>
            <p style="text-align:justify;">
                1.6 Cookie: Es un peque&ntilde;o archivo que es almacenado en el disco duro de la computadora del Usuario; contiene caracteres particulares del Usuario de que se trate y el uso que &eacute;ste da al sitio. El contenido puede o no tener informaci&oacute;n que identifica personalmente al Usuario.
            </p>
            <p style="text-align:justify;">
                1.7 Localidad: Es el establecimiento cinematogr&aacute;fico ostentado bajo la marca Cines Unidos&reg;. De igual forma, se refiere al establecimiento cinematogr&aacute;fico ostentado bajo la marca Cines Unidos&reg;, elegido por el Invitado para recoger los Boletos u otros o productos adquiridos a trav&eacute;s del Sitio.
            </p>
            <p style="text-align:justify;">
                1.8 Informaci&oacute;n Personal: Aquella que individualmente identifica un Usuario, como: nombre, direcci&oacute;n o correo electr&oacute;nico, entre otras.
            </p>
            <p style="text-align:justify;">
                1.9 Mal Uso: Se entender&aacute; por mal uso
            </p>
            <p style="text-align:justify;">
                1.9.1 Hacer uso sin autorizaci&oacute;n del titular de los derechos de propiedad intelectual, de las marcas, im&aacute;genes, obras y productos que aparezcan en la p&aacute;gina del Sitio
            </p>
            <p style="text-align:justify;">
                1.9.2 Alterar o modificar los sistemas de seguridad el Sitio.
            </p>
            <p style="text-align:justify;">
                1.9.3 Manipular la informaci&oacute;n, T&eacute;rminos, condiciones o lineamientos que se mencionen en el Sitio
            </p>
            <p style="text-align:justify;">
                1.9.4 Incurrir en actos que se consideren como ingenier&iacute;a en reversa y/o inversa.
            </p>
            <p style="text-align:justify;">
                1.9.5 Utilizar sin autorizaci&oacute;n de su titular una cuenta de Invitado para solicitar los Servicios.
            </p>
            <p style="text-align:justify;">
                1.9.6 Utilizar sin autorizaci&oacute;n de su titular una tarjeta de cr&eacute;dito para solicitar los Servicios.
            </p>
            <p style="text-align:justify;">
                1.10 Partes: Cines Unidos y el Usuario y/o Invitado.
            </p>
            <p style="text-align:justify;">
                1.11 Precio Unitario: Es la cantidad se&ntilde;alada en el Sitio para cada Boleto o producto, m&aacute;s el correspondiente Impuesto al Valor Agregado. El Precio Unitario se cobrar&aacute; en Bol&iacute;vares (moneda del curso legal de la Rep&uacute;blica Bolivariana de Venezuela).
            </p>
            <p style="text-align:justify;">
                1.12 Servicios: Los contenidos en los subincisos (i) a (v) del inciso 1, del T&iacute;tulo I de estos T&eacute;rminos.
            </p>
            <p style="text-align:justify;">
                1.13 Sitios: A los sitios en Internet y puntos para proveer servicios, referidos en los subincisos (i) a (v) del inciso 1, del T&iacute;tulo I anterior. Dicha referencia ser&aacute; conjunta para todos ellos o de forma individual para cada uno de ellos. Estos Sitios son prove&iacute;dos por Empresa Cines Unidos C.A.
            </p>
            <p style="text-align:justify;">
                1.14 Sitios Enlazados: A trav&eacute;s de &eacute;stos, pone a disposici&oacute;n del Usuario, dispositivos t&eacute;cnicos de enlace, tales como, hiperv&iacute;nculos (links), anuncios (banners), botones, directorios y/o herramientas de b&uacute;squeda, entre otros, que les permiten acceder a p&aacute;ginas de Internet pertenecientes a terceros.
            </p>
            <p style="text-align:justify;">
                1.15 T&eacute;rminos: El presente documento "T&eacute;rminos y Condiciones de Uso", as&iacute; como cualesquier t&eacute;rminos, condiciones, limites, responsabilidades, lineamientos, entre otros, presentes o futuros, temporales o permanentes, de uso y/o utilizaci&oacute;n de los Sitios y/o los Servicios.
            </p>
            <p style="text-align:justify;">
                1.16 Usuario: Cualesquier persona que de cualquier forma acceda a los Sitios y/o utilice los Servicios.
            </p>
            <p style="text-align:justify;">
                III. ASPECTOS GENERALES
            </p>
            <p style="text-align:justify;">
                1. Los Servicios, son exclusivamente para uso personal y de ninguna forma podr&aacute;n ser para uso comercial o de cualquier otro tipo. No se pueden utilizar los Servicios para vender o promocionar o comercializar un producto o servicio propio o de terceros, o para incrementar el tr&aacute;fico a cualquier otro sitio o p&aacute;gina de Internet para fines comerciales o cualquier distinto a personal y privado, salvo que exista un acuerdo expreso por anticipado con Cines Unidos.
            </p>
            <p style="text-align:justify;">
                2. Cines Unidos se reserva el derecho de modificar, actualizar o dar por terminados, total o parcialmente, en cualquier tiempo, los T&eacute;rminos y/o los Servicios, por cualquier causa y sin responsabilidad alguna para Cines Unidos.
            </p>
            <p style="text-align:justify;">
                3. Las Partes aceptan y reconocen que Cines Unidos se encuentra debidamente autorizado para hacer uso de la informaci&oacute;n que el Invitado registre en el Sitio, siempre y cuando el uso de dicha informaci&oacute;n se limite a facilitar el env&iacute;o al Invitado de informaci&oacute;n sobre promociones, productos o servicios, que Cines Unidos comercialice, de tiempo en tiempo. Cines Unidos utilizar&aacute; la informaci&oacute;n en concordancia con los T&eacute;rminos y Condiciones, as&iacute; como con la Pol&iacute;tica de Privacidad publicada en el Sitio.
            </p>
            <p style="text-align:justify;">
                4. Cines Unidos se reserva el derecho de diferir, suspender o denegar la prestaci&oacute;n de los Servicios, en tanto el Invitado no cumpla con las condiciones y requisitos exigidos por Cines Unidos en el Sitio.

            </p>
            <p style="text-align:justify;">
                5. Cines Unidos se reserva el derecho de suspender, modificar o terminar en cualquier momento, total o parcialmente, los Servicios, sin responsabilidad alguna y sin mayor formalidad que las que las disposiciones vigentes as&iacute; pudieran establecer.

            </p>
            <p style="text-align:justify;">
                6. Cines Unidos se reserva el derecho de hacer cambios a la p&aacute;gina de Internet cinesunidos.com, as&iacute; como a realizar exclusiones o modificaciones a los T&eacute;rminos y Condiciones, en cualquier tiempo

            </p>
            <p style="text-align:justify;">
                7. Cines Unidos podr&aacute; suspender los Servicios en cualquier momento, por disposici&oacute;n legal, en caso de que Invitado haga Mal Uso de los Sitios o en caso de detectar cualquier irregularidad con el Usuario o Invitado. Todo lo anterior, no obstante las acciones, v&iacute;as y/o derechos que Cines Unidos y/o las personas f&iacute;sicas o morales tengan que hacer valer en contra del responsable del Mal Uso o irregularidad referida

            </p>
            <p style="text-align:justify;">
                8. Cines Unidos se reserva el derecho a modificar en cualquier momento los T&eacute;rminos y/o los Servicios y a notificarle dicho acto al Usuario a trav&eacute;s de la exposici&oacute;n de una versi&oacute;n actualizada los mismos en este sitio Web.

            </p>
            <p style="text-align:justify;">
                9. Es responsabilidad del Usuario revisar peri&oacute;dicamente estos T&eacute;rminos, a fin de estar enterado de los T&eacute;rminos vigentes en cada momento.

            </p>
            <p style="text-align:justify;">
                10. El uso del Servicio posterior a las modificaciones a los T&eacute;rminos y/o Servicios, implica el consentimiento del Usuario a dichos cambios

            </p>
            <p style="text-align:justify;">
                11. Los materiales e informaci&oacute;n presentados en el Sitio, son propiedad de Cines Unidos y/o de sus autores y/o de terceros que contratan con Cines Unidos la colocaci&oacute;n de determinado material en el Sitio de Cines Unidos, y son utilizados para la promoci&oacute;n de sus productos y/o servicios o de los productos y/o servicios de dichos terceros

            </p>
            <p style="text-align:justify;">
                12. Cines Unidos es propietario de todos los derechos de propiedad intelectual, industrial y/o derecho de autor, relativos al dise&ntilde;o, funciones y/u operaciones que integran el Sitio, por lo que el uso del mismo no constituye una licencia al Invitado para utilizar el nombre, dise&ntilde;os, signos distintivos, marcas y/o cualquier otro aplicable, propiedad de Cines Unidos

            </p>
            <p style="text-align:justify;">
                13. El Usuario acepta que ni los T&eacute;rminos, ni el Contrato ni el uso que realice del Servicio, crean entre Cines Unidos y dicho Usuario una asociaci&oacute;n, sociedad, relaci&oacute;n laboral, agencia, comisi&oacute;n o cualquier similar. Asimismo, el Usuario acepta que el presente documento no constituye una licencia, cesi&oacute;n o transmisi&oacute;n de ning&uacute;n tipo de derecho.

            </p>
            <p style="text-align:justify;">
                14. Si cualquier estipulaci&oacute;n del presente documento se declara nula o no ejecutable de acuerdo con la legislaci&oacute;n aplicable, incluida, pero sin limitarse a, la renuncia a garant&iacute;as, limitaciones de responsabilidad y pago de da&ntilde;os y perjuicios establecidas previamente, dicha estipulaci&oacute;n se considerar&aacute; reemplazada por aquella otra estipulaci&oacute;n v&aacute;lida y ejecutable que m&aacute;s se asemeje a la intenci&oacute;n de la estipulaci&oacute;n original, continuando vigentes las restantes estipulaciones de este documento.

            </p>
            <p style="text-align:justify;">
                15. Los t&iacute;tulos s&oacute;lo se incorporan para la comodidad de las Partes y no tienen significado legal o contractual alguno

            </p>
            <p style="text-align:justify;">
                16. Estos T&eacute;rminos son y ser&aacute;n regidos por las Leyes de la Rep&uacute;blica Bolivariana de Venezuela y cualquier disputa ser&aacute; sometida a la jurisdicci&oacute;n y competencia de las leyes y los tribunales de la Ciudad de Caracas, Distrito Capital, renunciando expresamente el Usuario, a cualquier otra jurisdicci&oacute;n que pudiere corresponderle por motivo de su domicilio o nacionalidad, presente o futuro, o por cualquier otra causa.

            </p>
            <p style="text-align:justify;">
                17. Estos T&eacute;rminos constituyen, junto con los dem&aacute;s acuerdos publicados en los Sitios, el total de acuerdos entre Cines Unidos y los Usuarios y sustituyen cualquier acuerdo previo, escrito o verbal.

            </p>
            <p style="text-align:justify;">
                IV. INFORMACI&Oacute;N ADICIONAL, CONTACTO

            </p>
            <p style="text-align:justify;">
                Si tiene comentarios o requiere informaci&oacute;n adicional, relacionada con Cines Unidos, T&eacute;rminos, Servicios, Sitios, entre otros, por favor no dude en ponerse en contacto con nosotros al tel&eacute;fono +58 212 6207706; o al tel&eacute;fono vigente en dicho momento; o en Urb. Prados del Este, Av. R&iacute;o Caura y Paragua. N&uacute;cleo Ejecutivo La Pir&aacute;mide, PA, Ofc.1. Caracas. 1080. Edo. Miranda &minus; Venezuela, o mediante la p&aacute;gina Cont&aacute;ctenos; en su caso, el personal que atienda la llamada o a cargo de dicha p&aacute;gina, los pondr&aacute; en contacto con la persona adecuada para dar respuesta o atender la situaci&oacute;n que se plantee.

            </p>
            <p style="text-align:justify;">
                V. POL&Iacute;TICA DE PRIVACIDAD

            </p>
            <p style="text-align:justify;">
                1. Cines Unidos reconoce la importancia de la privacidad de sus Usuarios, por lo que los Servicios est&aacute;n dise&ntilde;ados considerando la protecci&oacute;n de la informaci&oacute;n que es prove&iacute;da a Cines Unidos.

            </p>
            <p style="text-align:justify;">
                2. La Pol&iacute;tica de Privacidad de Cines Unidos describe los tipos de Informaci&oacute;n Personal que recolectamos de nuestros Usuarios cuando utilizan nuestros Servicios, as&iacute; como el destino y salvaguarda de la misma.

            </p>
            <p style="text-align:justify;">
                3. Nuestra Pol&iacute;tica de Privacidad est&aacute; basada en lo siguiente:

            </p>
            <p style="text-align:justify;">
                3.1 Recolecci&oacute;n de Informaci&oacute;n.

            </p>
            <p style="text-align:justify;">
                3.1.1 Aquellos Servicios que no requieren autentificar al Usuario, recolectan informaci&oacute;n general y no Informaci&oacute;n Personal, relativa al navegador que se utiliza, el tipo de conexi&oacute;n a Internet, el sistema operativo y otros elementos de configuraci&oacute;n destinados a mejorar nuestros Servicios. Esta informaci&oacute;n puede ser guardada en una Cookie en la computadora del Usuario, para futura referencia al navegar en el Sitio.

            </p>
            <p style="text-align:justify;">
                3.1.2 Algunos de nuestros Servicios requieren expl&iacute;citamente que el Usuario abra una cuenta de Invitado y/o proporcione Informaci&oacute;n Personal, en virtud de la funcionalidad del Sitio o por disposici&oacute;n legal aplicable. En este caso, el Sitio solicita algunos datos para la cuenta como nombre, direcci&oacute;n, edad, sexo y Cines Unidos Localidad favorita, entre otros, incluyendo Informaci&oacute;n Personal. Esta Informaci&oacute;n Personal puede solicitarse al Usuario al entrar a un Sitio o cuando solicita un Servicio.

            </p>
            <p style="text-align:justify;">
                3.1.3 Para algunos Servicios, como la compra de boletos en l&iacute;nea requerimos informaci&oacute;n de tarjeta de cr&eacute;dito u otras formas de pago, entre otros, la cual es contenida en forma cifrada en servidores y equipo seguros, en cumplimiento de las disposiciones legales aplicables.

            </p>
            <p style="text-align:justify;">
                3.1.4 Al momento de registrarse en nuestro Sitio, el Usuario tiene la opci&oacute;n de solicitar no recibir correos electr&oacute;nicos por parte de Cines Unidos ni de terceros.

            </p>
            <p style="text-align:justify;">
                3.2 Cookies.

            </p>
            <p style="text-align:justify;">
                3.2.1 Son utilizadas para mejorar la calidad del Servicio y para entender mejor la forma en que nuestros Usuarios interact&uacute;an con Cines Unidos. Esto se hace almacenando preferencias y otros datos del Usuario en las Cookies. La mayor&iacute;a de los navegadores est&aacute;n configurados para aceptar Cookies. El Usuario puede deshabilitar esta aceptaci&oacute;n autom&aacute;tica en la configuraci&oacute;n de su navegador, con la advertencia de que algunos de los Servicios ofrecidos pueden no funcionar adecuadamente sin dichas Cookies.

            </p>
            <p style="text-align:justify;">
                3.2.2 El Usuario reconoce y acepta que Cines Unidos puede colocar Cookies en su computadora, as&iacute; como permitir que terceros que se anuncian en los Sitios, de igual forma lo hagan.

            </p>
            <p style="text-align:justify;">
                3.3 Informaci&oacute;n compartida.

            </p>
            <p style="text-align:justify;">
                3.3.1 Cines Unidos no vende ni renta la Informaci&oacute;n Personal a otras personas f&iacute;sicas o morales. En todo caso, Cines Unidos podr&aacute; compartir la informaci&oacute;n personal identificable de los Usuarios, en cualquiera de los siguientes casos:

            </p>
            <p style="text-align:justify;">
                3.3.1.1 Contamos con el consentimiento del Usuario.

            </p>
            <p style="text-align:justify;">
                3.3.1.2 Proveemos dicha informaci&oacute;n, Informaci&oacute;n Personal o no, con personas morales o f&iacute;sicas de confianza, para el s&oacute;lo hecho de procesar la informaci&oacute;n por encargo de Cines Unidos. Cuando esto sucede, se est&aacute; bajo acuerdos que obligan a tales personas morales o individuos a procesar dicha informaci&oacute;n solamente bajo instrucciones de Cines Unidos y en concordancia con esta Pol&iacute;tica de Privacidad, T&eacute;rminos y medidas apropiadas de confidencialidad y seguridad.

            </p>
            <p style="text-align:justify;">
                3.3.1.3 Si Cines Unidos es requerido por Ley o, estamos en el entendido en buena fe, que el acceso, preservaci&oacute;n o divulgaci&oacute;n de dicha informaci&oacute;n, incluso Informaci&oacute;n Personal, es razonablemente necesario para proteger los derechos de Cines Unidos, sus Usuarios o el p&uacute;blico en general.

            </p>
            <p style="text-align:justify;">
                3.3.1.4 Si el Usuario es Invitado, podemos compartir la informaci&oacute;n entre Cines Unidos para proveer una experiencia m&aacute;s amigable y mejorar la calidad de nuestros Servicios y Productos.

            </p>
            <p style="text-align:justify;">
                3.3.1.5 Cuando se trate de compartir informaci&oacute;n estad&iacute;stica de los Sitios y nuestros Usuarios. Esta informaci&oacute;n no identifica al Usuario, pero s&iacute; a las tendencias y comportamientos del mismo.

            </p>
            <p style="text-align:justify;">
                3.4 Seguridad de la informaci&oacute;n.

            </p>
            <p style="text-align:justify;">
                3.4.1 Cines Unidos toma las medidas conducentes para proteger la Informaci&oacute;n Personal y sus bases de datos, contra acceso o alteraci&oacute;n no autorizados, divulgaci&oacute;n o destrucci&oacute;n de informaci&oacute;n.

            </p>
            <p style="text-align:justify;">
                3.4.2 Cines Unidos restringe el acceso a la Informaci&oacute;n Personal, solamente a aquellos empleados que requieren conocerla con objeto de operar, desarrollar o mejorar nuestros Servicios.

            </p>
            <p style="text-align:justify;">
                3.5 Actualizaci&oacute;n de la Informaci&oacute;n

            </p>
            <p style="text-align:justify;">
                3.5.1 Cines Unidos provee a los Usuarios e Invitados, mecanismos de actualizaci&oacute;n o correcci&oacute;n de la Informaci&oacute;n Personal previamente prove&iacute;da, la cual es utilizada en nuestros Servicios.

            </p>
            <p style="text-align:justify;">
                VI. CAMBIOS A LA POL&Iacute;TICA DE PRIVACIDAD

            </p>
            <p style="text-align:justify;">
                1. La Pol&iacute;tica de Privacidad, as&iacute; como los T&eacute;rminos, pueden cambiar en cualquier momento por cualquier causa. Normalmente los cambios ser&aacute;n menores, sin embargo, en algunas ocasiones habr&aacute; cambios significativos. Conforme realicemos dichos cambios, significativos o no, los publicaremos en el Sitio de que se trate; si los cambios son significativos, podremos dar a nuestros Usuarios alg&uacute;n otro tipo de aviso o notificaci&oacute;n, sin que ocurra en todos los casos.

            </p>
            <p style="text-align:justify;">
                VII. SITIOS ENLAZADOS Y LIMITACI&Oacute;N DE RESPONSABILIDAD

            </p>
            <p style="text-align:justify;">
                1. El uso de los Sitios es bajo riesgo y responsabilidad de cada Usuario, la responsabilidad de Cines Unidos se limita en todo momento a los presentes T&eacute;rminos vigentes en cada momento, as&iacute; como al cumplimiento de las disposiciones aplicables en aquello no establecido en los T&eacute;rminos.

            </p>
            <p style="text-align:justify;">
                2. Los Sitios Enlazados pueden permitirle al Usuario abandonar los Sitios propiedad de Cines Unidos. Dichos sitios no son controlados por Cines Unidos, no siendo &eacute;ste responsable del contenido de los mismos ni de cualquier aspecto que con ellos se vincule directa o indirectamente.

            </p>
            <p style="text-align:justify;">
                3. Los Sitios Enlazados en los Sitios, se limita a facilitar a los usuarios la b&uacute;squeda de y/o acceso en internet, a la informaci&oacute;n disponible de dichos Sitios Enlazados; no presupone, ni se establece expl&iacute;citamente, la existencia de alguna clase de v&iacute;nculo, comisi&oacute;n, agencia, distribuci&oacute;n, comercializaci&oacute;n, responsabilidad, obligaci&oacute;n o asociaci&oacute;n entre Cines Unidos y los operadores, sociedades, individuos y/o cualesquier tercero, de los Sitios Enlazados y/o los terceros propietarios de dichos Sitios Enlazados.

            </p>
            <p style="text-align:justify;">
                4. Cines Unidos no controla, aprueba ni hace propios los servicios, informaci&oacute;n, datos, archivos, productos y/o cualquier clase de material existente en los Sitios Enlazados, incluyendo ofertas, informaci&oacute;n, datos, concursos y/o promociones. El Usuario, por lo tanto, debe extremar la prudencia en la valoraci&oacute;n y utilizaci&oacute;n de cualquier clase de material existente en los Sitios Enlazados.

            </p>
            <p style="text-align:justify;">
                5. Cines Unidos no garantiza ni asume responsabilidad alguna por los da&ntilde;os y/o perjuicios de toda clase que puedan causarse por:

            </p>
            <p style="text-align:justify;">
                5.1 El funcionamiento, disponibilidad, accesibilidad o continuidad de los Sitios Enlazados.

            </p>
            <p style="text-align:justify;">
                5.2 El mantenimiento de los servicios, informaci&oacute;n, datos, archivos, productos y/o cualquier clase de material existente en los Sitios Enlazados.

            </p>
            <p style="text-align:justify;">
                5.3 Las obligaciones, ofertas, concursos y/o promociones existentes en los Sitios Enlazados.

            </p>
            <p style="text-align:justify;">
                5.4 Utilidad, veracidad, parcialidad, objetividad, entre otros, de la informaci&oacute;n contenida en los Sitios Enlazados.

            </p>
            <p style="text-align:justify;">
                5.5 Virus no generados o trasladados por cualquiera de los Sitios.

            </p>
            <p style="text-align:justify;">
                6. Mediante la utilizaci&oacute;n de los Servicios, el Usuario reconoce y acepta que Cines Unidos no garantiza de forma alguna, los Sitios Enlazados o la informaci&oacute;n proporcionada por terceros; de igual forma, no garantiza que los Sitios Enlazados funcionen correctamente, sean &uacute;tiles para la realizaci&oacute;n de actividad alguna en particular o para cualquier otro fin, est&eacute;n libres de informaci&oacute;n da&ntilde;ina, entre otros.

            </p>
            <p style="text-align:justify;">
                7. Mediante el uso de los Servicios, el Usuario reconoce y acepta que Cines Unidos queda excluida de cualquier responsabilidad por los da&ntilde;os y perjuicios que pudieran haber sido causados por la veracidad de la informaci&oacute;n o calidad de servicios contenidos u ofrecidos por terceros o que se encuentre en los Sitios Enlazados, o los que surjan con relaci&oacute;n a este Sitio.

            </p>
            <p style="text-align:justify;">
                8. Tanto el acceso a los Sitios o a los Sitios Enlazados, como el uso que pueda hacerse de la informaci&oacute;n contenida en los mismos, son exclusiva responsabilidad del Usuario y no de Cines Unidos.

            </p>
            <p style="text-align:justify;">
                9. Cines Unidos no es responsable de la informaci&oacute;n recibida de cualquier Sitio Enlazado. Cines Unidos facilita al Usuario estos v&iacute;nculos como parte de los Servicios, en tal virtud, la inclusi&oacute;n de cualquier Sitio Enlazado no implica la aprobaci&oacute;n de Cines Unidos respecto de la informaci&oacute;n que ah&iacute; se contenga, asimismo, no implica relaci&oacute;n alguna entre Cines Unidos y el operador o propietario del mismo.

            </p>
            <p style="text-align:justify;">
                VIII. DERECHO DE PROPIEDAD DEL CONTENIDO

            </p>
            <p style="text-align:justify;">
                1. Todo el contenido de los anunciantes de Cines Unidos u otros proveedores de contenido, est&aacute; protegido por el derecho de autor o por derechos de propiedad industrial o cualquier otra legislaci&oacute;n.

            </p>
            <p style="text-align:justify;">
                2. El Usuario podr&aacute; copiar el contenido del Correo Electr&oacute;nico o de los Servicios exclusivamente para uso personal, no comercial, siempre y cuando mantenga intactos todos los avisos de derechos de autor y dem&aacute;s leyendas de propiedad industrial. El Usuario no podr&aacute; modificar, copiar, reproducir, volver a publicar, cargar, exponer, transmitir o distribuir de cualquier forma el contenido disponible a trav&eacute;s del Servicio o de cualquier correo electr&oacute;nico y sitios de Internet asociados, incluidos el c&oacute;digo y el sistema (software).

            </p>
            <p style="text-align:justify;">
                IX. LIMITACI&Oacute;N DE RESPONSABILIDAD DE LOS SERVICIOS

            </p>
            <p style="text-align:justify;">
                1. La informaci&oacute;n contenida en los Servicios puede incluir errores tipogr&aacute;ficos. 
            </p>
            <p style="text-align:justify;">
                2. De forma peri&oacute;dica se incorporan cambios a la informaci&oacute;n contenida.

            </p>
            <p style="text-align:justify;">
                3. Cines Unidos o sus proveedores pueden introducir en cualquier momento mejoras o cambios en el Servicio

            </p>
            <p style="text-align:justify;">
                4. Cines Unidos no garantiza que el Servicio sea libre de interrupciones ni libre de errores, que los defectos sean corregidos o que el Servicio o el servidor est&aacute;n libres de virus u otros componentes nocivos

            </p>
            <p style="text-align:justify;">
                5. Cines Unidos no garantiza que por un error o defecto propio o ajeno de Cines Unidos en el Servicio se pierda la informaci&oacute;n almacenada por el Usuario.

            </p>
            <p style="text-align:justify;">
                6. Cines Unidos no garantiza que el uso o los resultados del uso del Servicio o de los materiales puestos a disposici&oacute;n como parte del Servicio ser&aacute;n correctos, precisos, puntuales o de otro modo fidedignos.

            </p>
            <p style="text-align:justify;">
                7. El Usuario acepta expresamente que Cines Unidos no ser&aacute; responsable del acceso no autorizado o alteraci&oacute;n de cualquier material o datos enviados, recibidos, no enviados, as&iacute; como de transacciones realizadas a trav&eacute;s del Correo Electr&oacute;nico. Asimismo, acepta que Cines Unidos no es responsable de conducta o contenido amenazador, difamatorio, obsceno, ofensivo o ilegal de alg&uacute;n tercero ni de infracci&oacute;n alguna de derechos de terceros, incluidos los derechos de propiedad intelectual y en general, el Usuario acepta que Cines Unidos no es responsable de contenido alguno enviado, utilizando o incluido en el Correo Electr&oacute;nico, ya sea por el Usuario o cualquier tercero.

            </p>
            <p style="text-align:justify;">
                8. Ni Cines Unidos ni sus proveedores garantizan la idoneidad, fiabilidad, disponibilidad, oportunidad y exactitud de los Servicios o del Correo Electr&oacute;nico para cualquier prop&oacute;sito. Los Servicios se proporcionan "en el estado en que se encuentra" sin garant&iacute;a de ning&uacute;n tipo. Cines Unidos y sus proveedores renuncian por la presente a cualesquiera garant&iacute;as o condiciones respecto de los Servicios o del Correo Electr&oacute;nico, incluida cualquier garant&iacute;a impl&iacute;cita y condiciones de comerciabilidad o idoneidad para un fin determinado, titularidad y no infracci&oacute;n.

            </p>
            <p style="text-align:justify;">
                9. En ning&uacute;n caso Cines Unidos o sus proveedores ser&aacute;n responsables de da&ntilde;os directos, indirectos, punitivos, incidentales, especiales, consecuenciales ni de alg&uacute;n otro tipo, incluidos, de manera enunciativa m&aacute;s no limitativa, los da&ntilde;os por p&eacute;rdida de datos o de beneficios, que se deriven o tengan relaci&oacute;n con el uso del Correo Electr&oacute;nico o de los Servicios o Sitios o Sitios Enlazados, con la demora o imposibilidad para poder utilizar el Correo Electr&oacute;nico o los Servicios o Sitios, con la imposibilidad de que el Usuario preste sus servicios o de cualesquiera informaci&oacute;n, sistemas (software), productos, servicios y gr&aacute;ficos relacionados obtenidos a trav&eacute;s de los Servicios o a los cuales se haya tenido acceso.

            </p>
            <p style="text-align:justify;">
                10. La jurisdicci&oacute;n aplicable en todo caso, as&iacute; como la competencia, ser&aacute; la de Caracas, Distrito Capital, en t&eacute;rminos del presente documento. Si el Usuario no est&aacute; de acuerdo con todo o parte de los T&eacute;rminos, el Usuario deber&aacute; de inmediato suspender el uso de los Servicios.

            </p>
            <p style="text-align:justify;">
                X. SEGURIDAD
            </p>
            <p style="text-align:justify;">
                1. Mediante el uso de los Sitios, el Usuario reconoce y acepta que Cines Unidos no garantiza la seguridad de los Sitios Enlazados y, en particular, que los Usuarios puedan efectivamente acceder a las distintas p&aacute;ginas de Internet que representan los Sitios Enlazados, ni que a trav&eacute;s de &eacute;stos puedan transmitir, difundir, almacenar o poner a disposici&oacute;n de terceros su contenido.

            </p>
            <p style="text-align:justify;">
                2. Mediante el uso de los Sitios, el Usuario reconoce y acepta que Cines Unidos queda excluida de cualquier responsabilidad por los da&ntilde;os y perjuicios de toda naturaleza que pudieran ser causados por la falta de seguridad de los Sitios Enlazados.

            </p>
            <p style="text-align:justify;">
                XI. CALIDAD

            </p>
            <p style="text-align:justify;">
                1. Mediante el uso de los Sitios Enlazados, el Usuario reconoce y acepta que Cines Unidos no controla y no garantiza la calidad, ausencia de virus o similares, en el contenido de los Sitios Enlazados, ni la ausencia de otros elementos que pudieran producir alteraciones en sus sistemas, equipo o en los documentos electr&oacute;nicos y/o archivos almacenados en sus sistemas y/o equipo inform&aacute;ticos.

            </p>
            <p style="text-align:justify;">
                XII. PROPIEDAD INTELECTUAL

            </p>
            <p style="text-align:justify;">
                1.	Mediante el uso de los Sitios y los Servicios, el Usuario reconoce y acepta que Cines Unidos queda excluida de cualquier responsabilidad que pudiera ser causada por el uso no autorizado de las marcas u otros derechos de propiedad intelectual, industrial y/o derechos de autor de terceros o contenidos en los Sitios Enlazados.

            </p>
            <p style="text-align:justify;">
                2. Las eventuales referencias que se hagan en los Sitios a cualquier producto, servicio, proceso, Sitio Enlazado, hipertexto, marca, nombre comercial o cualquier otra informaci&oacute;n en la que se utilicen marcas, signos distintivos y/o dominios, el nombre comercial o el nombre del fabricante, suministrador, etc., que sean titularidad de terceros, en ning&uacute;n momento constituir&aacute;n, ni implicar&aacute;n respaldo o recomendaci&oacute;n alguna por parte de Cines Unidos, y en ning&uacute;n caso Cines Unidos se asigna propiedad ni responsabilidad sobre los mismos, salvo estipulaci&oacute;n expresa en contrario.

            </p>
            <p style="text-align:justify;">
                XIII. MARCAS PROPIEDAD INTELECTUAL

            </p>
            <p style="text-align:justify;">
                1. Todo el contenido del Servicio es: Copyright &copy; 2002-2006 Empresa Cines Unidos C.A. o sus proveedores. Reservados todos los derechos.

            </p>
            <p style="text-align:justify;">
                2. MARCAS. Cines Unidos y otros productos Cines Unidos a los que se hizo, hace, har&aacute; referencia anteriormente, en este documento y/o en los Sitios, son marcas o marcas registradas de Empresa Cines Unidos C.A. Los nombres de compa&ntilde;&iacute;as, servicios y productos aqu&iacute; mencionados pueden ser marcas de sus respectivos propietarios.

            </p>
            <p style="text-align:justify;">
                3. Los ejemplos de compa&ntilde;&iacute;as, organizaciones, productos, personas y hechos aqu&iacute; representados son ficticios. No se pretende o no deber&iacute;a inferirse ninguna asociaci&oacute;n con ninguna compa&ntilde;&iacute;a, organizaci&oacute;n, producto, persona o hecho real.

            </p>
            <p style="text-align:justify;">
                4. Cualesquiera derechos que no hayan sido expresamente otorgados aqu&iacute; est&aacute;n reservados.

            </p>
            <p style="text-align:justify;">
                &copy;2002-2007 Empresa Cines Unidos C.A. Reservados todos los derechos.

            </p>
            <p style="text-align:justify;">
                XIV. ELEMENTOS DE LOS SITIOS 
            </p>
            <p style="text-align:justify;">
                1. Para proporcionar la informaci&oacute;n contenida en los Sitios, tal como dibujos, dise&ntilde;os, sonido, videos, textos, fotograf&iacute;as, etc., Cines Unidos hubiere contratado a terceros, personas f&iacute;sicas o morales, para realizar los estudios e investigaciones correspondientes, as&iacute; como los dibujos, dise&ntilde;os, sonidos, videos, textos y/o fotograf&iacute;as, entre otros, que se muestren en los Sitios.

            </p>
            <p style="text-align:justify;">
                2. Cines Unidos establece que, en aquellos materiales en los que no sea su titular, ni haya participado directamente en el desarrollo de toda la informaci&oacute;n contenida en los Sitios, algunos de los textos, gr&aacute;ficos, v&iacute;nculos y/o el contenido de algunos art&iacute;culos incluidos en la misma, podr&iacute;an no ser veraces o no estar actualizados, por lo que Cines Unidos no tiene responsabilidad alguna.

            </p>
            <p style="text-align:justify;">
                3. De igual manera, podr&aacute;n existir en los Sitios, discrepancias entre las carteleras cinematogr&aacute;ficas impresas en medios de comunicaci&oacute;n y la cartelera electr&oacute;nica que se muestra en el Sitio, ya que puede ser que la primera no siempre se encuentre actualizada.

            </p>
            <p style="text-align:justify;">
                XV. CORREO ELECTR&Oacute;NICO

            </p>
            <p style="text-align:justify;">
                1. Las Partes acuerdan y se obligan a que los requisitos para ser Usuario del Servicio de Cines Unidos son los siguientes:

            </p>
            <p style="text-align:justify;">
                1.1 Ser una persona mayor de 18 a&ntilde;os, en pleno uso y goce de sus facultades o,

            </p>
            <p style="text-align:justify;">
                1.2 Ser menor de edad o incapaz legalmente, siempre y cuando se cuente con la autorizaci&oacute;n de sus padres o tutores. En caso que dichos Usuarios no obtengan previamente la autorizaci&oacute;n de sus padres o tutores, aceptan que actuar&aacute;n bajo su propia responsabilidad y sin autorizaci&oacute;n y/o consentimiento de Cines Unidos, liberando a Cines Unidos de cualquier responsabilidad y debiendo ser responsable el Usuario y/o su Tutor en t&eacute;rminos de las disposiciones legales aplicables.

            </p>
            <p style="text-align:justify;">
                1.3 Ser Invitado.

            </p>
            <p style="text-align:justify;">
                2. A fin de que el Usuario acepte los T&eacute;rminos, deber&aacute; presionar el bot&oacute;n izquierdo del rat&oacute;n de su computadora, sobre la palabra "acepto" y completar el proceso de registro necesario en los t&eacute;rminos que se indican y la forma establecida. Dicha aceptaci&oacute;n lleva impl&iacute;cita la declaraci&oacute;n del Usuario mediante la cual manifiesta que re&uacute;ne los requisitos necesarios para obtener una cuenta de Invitado, quedando obligado en los t&eacute;rminos y condiciones aqu&iacute; descritos.

            </p>
            <p style="text-align:justify;">
                3. El procedimiento de apertura de cuenta de Invitado es el siguiente:

            </p>
            <p style="text-align:justify;">
                3.1 Registro de Datos. El procedimiento de inscripci&oacute;n se completa mediante el ingreso de los datos del Usuario en el formulario de registro. Es obligaci&oacute;n y responsabilidad exclusiva del Usuario que la informaci&oacute;n que ingrese a dicho formulario sea ver&iacute;dica, precisa y actualizada.

            </p>
            <p style="text-align:justify;">
                3.3 Una vez llenado el formulario de registro, el Usuario deber&aacute; ingresar la contrase&ntilde;a de su elecci&oacute;n y el nombre de su cuenta de Invitado. Atendiendo a que los nombres de cuenta de Invitado no pueden ser repetidos o iguales, en caso que se reporte que dicho nombre elegido por el Usuario sea igual a alg&uacute;n Usuario anterior, le ser&aacute; requerido que ingrese un nombre distinto. Cualquier usuario que abuse de la libertad de designaci&oacute;n en el nombre de su cuenta de Invitado, tal como utilizar palabras que atenten en contra de la moral y buenas costumbres, podr&aacute; ser restringido a discreci&oacute;n de Cines Unidos, sin previa notificaci&oacute;n, del uso de los Servicios.

            </p>
            <p style="text-align:justify;">
                4. El Usuario ser&aacute; el &uacute;nico responsable de mantener la confidencialidad de su contrase&ntilde;a y el nombre de su cuenta de Invitado.

            </p>
            <p style="text-align:justify;">
                5. El Usuario ser&aacute; el &uacute;nico responsable de todas y cada una de las operaciones que se realicen mediante la utilizaci&oacute;n de su cuenta de Invitado.

            </p>
            <p style="text-align:justify;">
                6. El Usuario acepta y se obliga a notificar inmediatamente a Cines Unidos acerca de cualquier anormalidad, uso no autorizado o violaci&oacute;n a la seguridad de su cuenta de Invitado.

            </p>
            <p style="text-align:justify;">
                XVI. PARTICIPACI&oacute;N EN PROMOCIONES DE LOS ANUNCIANTES

            </p>
            <p style="text-align:justify;">
                1. Cualquier transacci&oacute;n con los anunciantes de los Servicios, participaci&oacute;n en promociones, incluidos la entrega y el pago de bienes y servicios y cualesquiera otros t&eacute;rminos o condiciones, garant&iacute;as o declaraciones relativas a estas transacciones o promociones, se realizan &uacute;nica y exclusivamente entre el Usuario y el anunciante o cualquier otro tercero.

            </p>
            <p style="text-align:justify;">
                2. Cines Unidos no ser&aacute; de forma alguna, responsable de dichas transacciones o promociones.

            </p>
            <p style="text-align:justify;">
                XVII. PROHIBICIONES EN EL USO DE LOS SERVICIOS EN GENERAL

            </p>
            <p style="text-align:justify;">
                1. El Usuario deber&aacute; en todo momento hacer uso de su cuenta de Invitado exclusivamente para fines l&iacute;citos y de conformidad con lo dispuesto en los presentes T&eacute;rminos, as&iacute; como leyes y/o disposiciones aplicables. Queda prohibido cualquier uso comercial no autorizado de la cuenta de Invitado, o bien, la reventa de los Servicios.

            </p>
            <p style="text-align:justify;">
                2. El Servicio se prestar&aacute; exclusivamente a personas f&iacute;sicas para uso personal, por lo que el Usuario, al aceptar estas condiciones, se compromete a utilizar el Servicio sin otro fin que el personal.

            </p>
            <p style="text-align:justify;">
                3. El Usuario se obliga a cumplir con la legislaci&oacute;n aplicable, ya sea nacional &oacute; internacional y ser&aacute; &uacute;nico responsable de todos los actos u omisiones que sucedan en relaci&oacute;n con su cuenta, la contrase&ntilde;a, nombre y, en general, por el uso de los Servicios.

            </p>
            <p style="text-align:justify;">
                4. El Usuario, de manera enunciativa mas no limitativa, se obliga a no llevar a cabo las siguientes actividades:

            </p>
            <p style="text-align:justify;">
                4.1 Usar el Servicio en relaci&oacute;n con encuestas, concursos, esquemas piramidales, cartas en cadena, mensajes no deseados, correo no solicitado (spam) o cualesquiera otros mensajes duplicativos o no solicitados (comerciales o de otro tipo).

            </p>
            <p style="text-align:justify;">
                4.2 Difamar, insultar, acosar, acechar, amenazar o infringir de cualquier otra forma los derechos de terceros (tales como el derecho a la intimidad o a la propia imagen).

            </p>
            <p style="text-align:justify;">
                4.3 Publicar, distribuir o divulgar cualquier informaci&oacute;n o material inapropiado, sacr&iacute;lego, difamatorio, il&iacute;cito, obsceno, indecente o ilegal.

            </p>
            <p style="text-align:justify;">
                4.4 Anunciar u ofrecer la venta o compra de cualesquiera productos o servicios.

            </p>
            <p style="text-align:justify;">
                4.5 Recopilar o de cualquier otro modo, recabar informaci&oacute;n sobre terceros, incluidas sus direcciones de correo electr&oacute;nico, sin su consentimiento.

            </p>
            <p style="text-align:justify;">
                4.6 Crear una identidad falsa con el prop&oacute;sito de enga&ntilde;ar a Cines Unidos o a terceros respecto a la identidad del remitente o del origen del mensaje.

            </p>
            <p style="text-align:justify;">
                4.7 Transmitir o cargar archivos que contengan virus, caballos de Troya, gusanos, bombas de tiempo, robots de cancelaci&oacute;n de noticias o cualesquiera otros programas perjudiciales o nocivos para los Servicios.

            </p>
            <p style="text-align:justify;">
                4.8 Transmitir o cargar materiales que contengan sistemas (software) u otras obras protegidas por la legislaci&oacute;n aplicable, salvo que el Usuario sea titular de los derechos o tenga la autorizaci&oacute;n necesaria para ello utilizar dichas obras.

            </p>
            <p style="text-align:justify;">
                4.9 Interferir o interrumpir redes conectadas con el Servicio o infringir las normas, directivas o procedimientos de dichas redes.

            </p>
            <p style="text-align:justify;">
                4.10 Intentar obtener acceso de forma no autorizada al Servicio, a otras cuentas, a sistemas inform&aacute;ticos o a redes conectadas con el Servicio, a trav&eacute;s de b&uacute;squeda autom&aacute;tica de contrase&ntilde;as o por otros medios.

            </p>
            <p style="text-align:justify;">
                4.11 Infringir cualquier ley, reglamento o norma de cualquier pa&iacute;s, en relaci&oacute;n con la transmisi&oacute;n de datos t&eacute;cnicos o software exportado.

            </p>
            <p style="text-align:justify;">
                4.12 Interferir con el uso o disfrute del Servicio por parte de otros Usuarios o con el uso o disfrute de servicios similares por parte de otras personas o entidades.

            </p>
            <p style="text-align:justify;">
                5. Cines Unidos no tiene la obligaci&oacute;n de supervisar el Servicio o el uso que un Usuario haga del mismo, ni conservar los contenidos de las sesiones del Usuario. Sin embargo, Cines Unidos se reserva el derecho a supervisar, revisar, conservar o revelar en cualquier momento cualquier informaci&oacute;n que pueda ser necesaria para cumplir con cualquier ley o reglamento, procedimiento legal o requerimiento administrativo aplicable.

            </p>
            <p style="text-align:justify;">
                XVIII. SUSPENSI&oacute;N DE LOS SERVICIOS

            </p>
            <p style="text-align:justify;">
                1. Cines Unidos puede dar por terminado en cualquier momento, con o sin causa, el acceso del Usuario a todo o parte del Servicio.

            </p>
            <p style="text-align:justify;">
                2. Cines Unidos puede interrumpir o suspender la cuenta de Invitado de un Usuario por inactividad, que se define como falta de acceso a dicha cuenta por un per&iacute;odo prolongado de tiempo, seg&uacute;n dicho per&iacute;odo sea determinado por Cines Unidos. El per&iacute;odo de tiempo que actualmente Cines Unidos considera como per&iacute;odo de tiempo "prologado" puede ser consultado directamente con Cines Unidos a la informaci&oacute;n proporcionada en este documento. Con la interrupci&oacute;n del Servicio, el derecho a utilizar el Servicio cesa inmediatamente y la cuenta puede ser reasignada a otro Usuario. La informaci&oacute;n que haya estado almacenada en la cuenta del Usuario ser&aacute; eliminada al momento de la interrupci&oacute;n por falta de uso, sin responsabilidad alguna para Cines Unidos.

            </p>
            <p style="text-align:justify;">
                3. Si el Usuario desea cancelar su uso de los Servicios, el Usuario solo deber&aacute; interrumpir el uso del mismo.

            </p>
            <p style="text-align:justify;">
                XIX. PRIVACIDAD DE LOS USUARIOS DEL SERVICIO

            </p>
            <p style="text-align:justify;">
                1. Cines Unidos respetar&aacute;, en todo momento, la privacidad de los Usuarios de los Servicios, por lo que no supervisar&aacute;, modificar&aacute; ni divulgar&aacute; la informaci&oacute;n que el Usuario utilice sin su previo consentimiento.
            </p>
            <p style="text-align:justify;">
                2. En caso de ser necesario, Cines Unidos solicitar&aacute; autorizaci&oacute;n del Usuario para supervisar, modificar o divulgar la informaci&oacute;n referida.

            </p>
            <p style="text-align:justify;">
                3. No obstante lo anterior, el Usuario acepta que Cines Unidos acceda a, supervise, modifique o divulgue la informaci&oacute;n contenida en su cuenta de Invitado, sin necesidad de consentimiento previo del Usuario cuando Cines Unidos actu&eacute; de buena fe o en los siguientes casos:

            </p>
            <p style="text-align:justify;">
                3.1 Para cumplir con requerimientos o procedimientos legales.

            </p>
            <p style="text-align:justify;">
                3.2 Para proteger y defender los derechos de autor o cualquier otro derecho.

            </p>
            <p style="text-align:justify;">
                3.3 Para hacer cumplir las condiciones de los Servicios.

            </p>
            <p style="text-align:justify;">
                3.4 Para proteger los intereses y derechos de otros Usuarios o de terceros.

            </p>
            <p style="text-align:justify;">
                3.5 Con el fin de responder a necesidades t&eacute;cnicas.

            </p>
            <p style="text-align:justify;">
                4. Salvo que el Usuario solicite expresamente a Cines Unidos que no divulgue su informaci&oacute;n a terceros con fines de mercadotecnia y/o publicitarios, el Usuario faculta a Cines Unidos para que &eacute;ste proporcione a terceros la informaci&oacute;n obtenida a trav&eacute;s del registro del Usuario.

            </p>
            <p style="text-align:justify;">
                5. El Usuario acepta que toda o parte de la Informaci&oacute;n Personal que proporcione a Cines Unidos podr&aacute; ser almacenada por &eacute;ste fuera del pa&iacute;s o estado de residencia del Usuario.

            </p>
            <p style="text-align:justify;">
                XX. LIBERACI&Oacute;N DE RESPONSABILIDAD

            </p>
            <p style="text-align:justify;">
                1. El Usuario acepta indemnizar y sacar en paz y a salvo a Cines Unidos, sus matrices, subsidiarias, compa&ntilde;&iacute;as afiliadas, sus directivos y empleados, respecto de cualquier reclamaci&oacute;n, demanda o da&ntilde;o, incluidos los honorarios razonables de abogados, interpuesto por cualquier tercero debido al uso de los Servicios.

            </p>
            <p style="text-align:justify;">
                2. El Usuario deber&aacute; cubrir los montos que por da&ntilde;os y/o perjuicios se generen a cualquier tercero por cualquier Mal Uso o uso irregular o contrario a las disposiciones legales, de los Servicios.

            </p>
            <p style="text-align:justify;">
                XXI. COMPRAVENTA ELECTR&oacute;NICA DE BOLETOS Y/O PRODUCTOS

            </p>
            <p style="text-align:justify;">
                1. Una vez que el Usuario hace uso de los Sitios, en caso que decida realizar la compraventa electr&oacute;nica de Boletos y/o productos que as&iacute; est&eacute;n disponibles en los Sitios para el d&iacute;a, hora y localidad. Cines Unidos acepta vender y el Invitado acepta comprar la cantidad de Boletos y/o productos seleccionados por el Invitado en el Sitio, acorde con el cumplimiento de requisitos que se establezcan en cada caso. A partir de ese momento, los presentes T&eacute;rminos se establecen en un contrato v&aacute;lido y vigente entre Cines Unidos y el Usuario y/o Invitado.

            </p>
            <p style="text-align:justify;">
                2. El Invitado pagar&aacute; a Cines Unidos mediante cargo a su tarjeta de cr&eacute;dito, el Precio Unitario por cada uno de los Boletos y/o productos adquiridos, m&aacute;s el correspondiente Cargo Por Servicio, seg&uacute;n lo previsto en los incisos cuatro, cinco y seis siguientes de este T&iacute;tulo XXI, referido a la contraprestaci&oacute;n.

            </p>
            <p style="text-align:justify;">
                3. El Invitado se obliga a requisar la informaci&oacute;n solicitada en el Sitio, a efecto de poder realizar cualquier tipo de compra o solicitud de informaci&oacute;n a trav&eacute;s del Sitio.

            </p>
            <p style="text-align:justify;">
                4. Una vez que el Invitado: (i) se haya registrado como Invitado del Sitio, (ii) haya cumplido con las condiciones y requisitos exigidos; y (iii) despu&eacute;s de haber seleccionado el N&uacute;mero de Boletos y/o productos deseados, Cines Unidos le presentar&aacute; en pantalla al Usuario un mensaje de confirmaci&oacute;n y/o alg&uacute;n similar, que documentar&aacute; la aceptaci&oacute;n de Cines Unidos a la solicitud de los Servicios del Invitado. Dicho mensaje de confirmaci&oacute;n, contendr&aacute; una clave &uacute;nica y/o C&oacute;digo QR y establecer&aacute; los t&eacute;rminos y condiciones bajo los cuales se har&aacute; la entrega de los Boletos o productos adquiridos.

            </p>
            <p style="text-align:justify;">
                5. Una vez requisitada y aceptada la solicitud electr&oacute;nica de compra de los Servicios por Cines Unidos a trav&eacute;s del mensaje de confirmaci&oacute;n, el Invitado se compromete a cumplir con su obligaci&oacute;n de pagar a Cines Unidos el Precio Unitario m&aacute;s el correspondiente Cargo Por Servicio de cada uno de los Boletos y/o bienes adquiridos, independientemente de que haga uso o no de los mismos.

            </p>
            <p style="text-align:justify;">
                6. El pago a que hace referencia en el subinciso inmediato anterior, se efectuar&aacute; con cargo directo a la tarjeta de cr&eacute;dito del Invitado, o a aquel m&eacute;todo de pago que Cines Unidos pueda tener vigente en dicho momento, raz&oacute;n por la cual, como parte de su solicitud de compra electr&oacute;nica, deber&aacute; proporcionar el n&uacute;mero de tarjeta de cr&eacute;dito correspondiente, as&iacute; como los datos que sobre la misma le sean requeridos o aquellos otros aplicables.

            </p>
            <p style="text-align:justify;">
                7. El Invitado libera de responsabilidad y se compromete a sacar en paz y a salvo a Cines Unidos por cualquier demanda, reclamo, da&ntilde;o o perjuicio sufrido, derivado del uso de la tarjeta de cr&eacute;dito que el Invitado utilice para solicitar los Servicios.

            </p>
            <p style="text-align:justify;">
                8. El Invitado deber&aacute; presentarse en la taquilla, Caja Web y/o Caramerler&iacute;a de la Localidad de su elecci&oacute;n a recoger los Boletos y/o productos que hubiera adquirido a trav&eacute;s del Sitio, sujeto, entre otros, a los t&eacute;rminos y condiciones se&ntilde;aladas al efecto en su mensaje de correo electr&oacute;nico de confirmaci&oacute;n. Al momento de presentarse, el Usuario tendr&aacute; la opci&oacute;n de presentar el mensaje con confirmaci&oacute;n que recibi&oacute; en pantalla y que puede imprimir y/o c&oacute;digo QR acompa&ntilde;ado de su tarjeta de pago y documento de identidad, esto sin perjuicio de lo establecido como requisito en el siguiente inciso nueve y los dem&aacute;s de este t&iacute;tulo.

            </p>
            <p style="text-align:justify;">
                9. Cines Unidos no se encuentra obligado a entregar Boleto y/o producto alguno, en tanto no exista certeza de que la contraprestaci&oacute;n por el pago de los Servicios haya tenido verificativo. Cines Unidos requerir&aacute;, entre otros, que el Invitado presente la tarjeta de pago e identificaci&oacute;n oficial, para recoger los productos y/o Boletos cubiertos en los t&eacute;rminos de este t&iacute;tulo.

            </p>
            <p style="text-align:justify;">
                10. Cines Unidos har&aacute; su mejor esfuerzo para proporcionar los Servicios a trav&eacute;s del Sitio, as&iacute; como dar buen uso a la informaci&oacute;n que el Invitado proporcione al momento de registrarse en el Sitio. Cines Unidos no se hace responsable por fallas en el sistema o Internet, que limiten o impidan la prestaci&oacute;n de los Servicios.

            </p>
            <p style="text-align:justify;">
                11. El Invitado se obliga a respetar y cumplir lo establecido en los T&eacute;rminos.

            </p>
        </div>
    </div>
</div>