﻿
@{
    ViewBag.Title = "Audit";
}

<link rel="stylesheet" href="~/Content/bootstrap-datepicker.css" />
<link rel="stylesheet" href="~/Content/styles/Audit/Audit.css" />

<ol class="breadcrumb">
    <li><a href="#">Auditoria</a></li>
    <li class="active">Auditoria</li>
</ol>

<br />

<div class="container">
    <div class="row">
        <form method="POST">
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-xs-2">
                        <label>Desde:</label>
                        <div class="input-group date" id="DateBegin">
                            <input type="text" class="input-sm form-control datepicker" id="DateBegin" name="DateBegin" value="@DateTime.Now.ToShortDateString()" />
                            <span class="input-group-addon btn btn-danger">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <label>Hasta:</label>
                        <div class="input-group date" id="DateEnd">
                            <input type="text" class="input-sm form-control datepicker" id="DateEnd" name="DateEnd" value="@DateTime.Now.ToShortDateString()" />
                            <span class="input-group-addon btn btn-danger">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label> Usuario:</label>
                        <div class="input-group dropdown">
                            <select id="UserId" class="form-control" name="UserId">
                                <option value="">TODOS</option>
                                @foreach (var UserId in ViewBag.UserId)
                                {
                                    <option value="@UserId.Id.ToString()">@UserId.Name.ToUpper()</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label> Departamento:</label>
                        <div class="input-group dropdown">
                            <select id="Department" class="form-control" name="Department">
                                <option value="">TODOS</option>
                                @foreach (var department in ViewBag.Department)
                                {
                                    <option value="@department">@department</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div id="audit-search" class="col-xs-1">
                        <label></label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<br />
<br />

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">@ViewBag.message</div>
}
@if (ViewBag.Audit != null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                <div class="row table-responsive operations">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center">Usuario</th>
                                <th class="text-center">Departamento</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Acción</th>
                                <th class="text-center">Descripcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Audit in ViewBag.Audit)
                            {

                                <tr>
                                    <td>@Audit.UserName</td>
                                    <td>@Audit.Department</td>
                                    <td>@Audit.dateTime.ToShortDateString()</td>
                                    <td>@Audit.Action</td>
                                    <td>@Audit.Event</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="~/Scripts/jquery-2.2.4.js"></script>
<script type="text/javascript" src="~/Scripts/Audit/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="~/Scripts/Audit/ListAuditUsers.js"></script>

<script type="text/javascript">
    var startDate;
    $('#DateBegin').datepicker({
        // $('#sandbox-container input').datepicker ({
        format: "dd/mm/yyyy",
        todayBtn: "linked",
        language: "es",
        calendarWeeks: true,
        autoclose: true
    });
    startDate: new Date($("#DateBegin").datepicker("getDate")),
    $('#DateEnd').datepicker({
        // $('#sandbox-container input').datepicker ({
        format: "dd/mm/yyyy",
        todayBtn: "linked",
        language: "es",
        calendarWeeks: true,
        autoclose: true,
        startDate: startDate
    });
</script>
