@media screen and (min-width:1024px) and (max-width:1279px) {
    #HO00002745 .mod_pelivelomid  {
        padding: 80px 30px 0 30px;
    }
    .contenido {
    margin: 0 auto;
    width: 1000px;
    height: auto;
    display: block;
    position: relative;
}
.modulo {
    margin: 0 auto;
    padding: 10px 5px;
    width: 990px;
    height: auto;
    display: block;
    position: relative;
}
.mod_home {
    margin: 0 auto;
    width: 1000px;
    height: 345px;
    display: block;
    position: relative;
}
nav.mnugris_secc ul li{
     padding-right: 10px;
     font-size: .88em;
    }
ul.mnu_home {
    width: 200px;
    height: 347px;
    background: #000;
}
ul.mnu_home li {
    padding-top: 12px;
    margin-bottom: 1px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_btnhome.png) repeat-x;
    color: #e4e6e5;
    width: 200px;
    height: 103px;
    display: block;
}
ul.mnu_home li p {
    padding-top: 10px;
    font-size: 1em;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.mod_homecarr {
    width: 789px;
    height: 370px;
    float: left;
    position: relative;
}
.mod_homecarrbase {
    width: 789px;
    height: 347px;
    display: block;
    position: relative;
}
a.flant_homecarr {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/fl_homecarr.png) no-repeat 0 0;
    width: 66px;
    height: 66px;
    display: block;
    position: absolute;
    top: 150px;
    left: 10px;
    z-index: 200;
}
a.flant_homecarr:hover {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/fl_homecarr.png) no-repeat 0 -66px;
    width: 66px;
    height: 66px;
    display: block;
    position: absolute;
    top: 150px;
    left: 10px;
    z-index: 200;
}
a.flsig_homecarr {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/fl_homecarr.png) no-repeat -66px 0;
    width: 66px;
    height: 66px;
    display: block;
    position: absolute;
    top: 150px;
    right: 10px;
    z-index: 200;
}
a.flsig_homecarr:hover {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/fl_homecarr.png) no-repeat -66px -66px;
    width: 66px;
    height: 66px;
    display: block;
    position: absolute;
    top: 150px;
    right: 10px;
    z-index: 200;
}
ul.mod_homecarrpag {
    width: 200px;
    height: 25px;
    display: block;
    position: absolute;
    top: 320px;
    left: 300px;
}
aside.tw_line {
    margin: 10px 0;
    background: #c02328;
    width: 990px;
    height: 42px;
    display: block;
    position: relative;
}
aside.tw_line .tw_linetxt {
    padding: 4px 5px 0;
    background: #e4e6e5;
    color: #333;
    width: 750px;
    height: 30px;
    display: block;
    position: absolute;
    top: 4px;
    right: 5px;
    overflow: hidden;
}
.mod_peliculas{
    width: 648px;
    float: right;
       height: 435px;
    display: block;
    position: relative;
}

.modulo-2 {
    margin: 0 auto;
    padding: 10px 0;
    width: 1000px;
    height: 435px;
    display: block;
    position: relative;
}
.mod_peliculas ul {
    width: 648px;
    height: 434px;
    overflow: hidden;
    margin-top: -2px;
}
.mod_peliculas ul li {
    margin: 3px 0 3px 11px;
    width: 148px;
    height: 211px;
    float: left;
    box-shadow: 0 0 2px 2px #999;
    -moz-box-shadow: 0 0 2px 2px #999;
    -webkit-box-shadow: 0 0 2px 2px #999;
}
.mod_peliculas ul li img {
    width: 148px;
    height: 211px;
    display: block;
}
.mod_peliculas ul li a {
    width: 148px;
    height: 211px;
    display: block;
}
.mod_peliculas ul li a:hover, .mod_peliculas ul li a:hover img {
    width: 155px;
    height: 221px;
    display: block;
    position: relative;
    top: -2px;
    left: -1px;
}

/*
.mod_peliculas ul li:first-child {
    width: 300px;
    height: 429px;
    margin-left: 3px;
}
.mod_peliculas ul li:first-child img {
    width: 300px;
    height: 429px;
    display: block;
}
.mod_peliculas ul li:first-child a {
    width: 300px;
    height: 429px;
    display: block;
}
.mod_peliculas ul li:first-child a:hover, .mod_peliculas ul li:first-child a:hover img {
    width: 300px;
    height: 429px;
    display: block;
    position: relative;
    top: 0;
    left: 0;
}
*/
.mod_lista_peliculas {
    padding: 10px 0;
    width: 990px;
    height: auto;
    display: block;
}
.mod_lista_peliculas ul {
    width: 990px;
    overflow: hidden;
}
.mod_lista_peliculas ul li {
    margin: 0 0 50px 8px;
    width: 190px;
    height: 271px;
    float: left;
}
.v_cinesj, .v_cinesj2 {
    height: 100%}
.v_cinesj ul {
    list-style: none;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    background-color: #FFF;
    width: 90% !important;
    height: 85%}
.mod_velo {
    margin: 0 auto;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_velo.png) repeat;
    width: 100%;
    height: 1312px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
}
.mod_pelivelo {
    margin: 0 auto 0;
    width: 900px;
    height: 1058px;
}
.mod_pelivelotop {
    width: 900px;
    height: 310px;
}
.mod_pelivelotop img.pelivelotopimg {
    width: 900px;
    height: 302px;
    display: block;
    position: absolute;
    top: 0;
}
.mod_pelivelomid {
    padding: 15px 30px 0 30px;
    border-bottom: 1px solid #000;
    width: 840px;
    height: 518px;
}
.mod_pelivelomid h2 {
    padding-bottom: 15px;
    font-size: 2.000em;
    font-weight: 400;
    width: 840px;
    height: 50px;
    display: block;
    position: relative;
}
.mod_pelivelomidbarra {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barraroja.jpg) repeat;
    color: #fff;
    width: 840px;
    height: 42px;
    display: block;
    position: relative;
    z-index: 100;
}
.mod_pelivelomidtipo {
    padding-top: 10px;
    text-align: right;
    font-size: 1.000em;
    font-weight: 100;
    text-transform: uppercase;
    width: 325px;
    height: 31px;
    display: block;
    position: absolute;
    right: 10px;
    z-index: 100;
}
.mod_pelivelomidbox {
    padding: 10px 20px 0;
    width: 800px;
    height: 400px;
    box-shadow: 0 -1px 4px 2px #ccc;
    -moz-box-shadow: 0 -1px 4px 2px #ccc;
    -webkit-box-shadow: 0 -1px 4px 2px #ccc;
    display: block;
    position: relative;
    z-index: 80;
}
ul.mod_pelivelomidlist {
    width: 800px;
    height: 370px;
    display: block;
    position: relative;
}
ul.mod_pelivelomidlist li {
    padding: 10px 0 0;
    font-size: .875em;
    font-weight: 500;
    text-transform: uppercase;
    width: 800px;
    height: 30px;
    border-bottom: 1px solid #ccc;
    display: block;
}
ul.mod_pelivelomidlist li:first-child {
    padding: 10px 0 0;
    font-size: .688em;
    font-weight: 700;
    text-transform: uppercase;
    width: 800px;
    height: 24px;
    border-bottom: 1px solid #ccc;
    display: block;
}
ul.mod_pelivelomidlist li a {
    padding: 0 5px;
    color: #000;
    border-right: 1px solid;
    display: block;
    float: left;
}
ul.mod_pelivelomidlist li a:hover {
    padding: 0 5px;
    color: #666;
    border-right: 1px solid;
    display: block;
    float: left;
}
ul.mod_pelivelomidlist li span.ciudad {
    width: 230px;
    float: left;
}
ul.mod_pelivelomidlist li span.hora {
    width: 450px;
    float: left;
}
ul.mod_pelivelomidlist li span.sala {
    width: 60px;
    float: left;
}
ul.mod_pelivelomidlist li span.censura {
    text align: center;
    width: 60px;
    float: left;
}
ul.mod_pelivelomidlist li span.censura b {
    margin: 0 auto;
    padding: 0 6px;
    background: #a21e23;
    color: #fff;
    text-transform: uppercase;
    width: auto;
    height: auto;
    float: left;
    position: relative;
    left: 30%}
.mod_pelivelofin {
    padding-top: 30px;
    width: 900px;
    height: 184px;
}
ul.mod_pelivelofinlist {
    margin: 0 auto;
    width: 840px;
    height: 175px;
    display: block;
    position: relative;
}
ul.mod_pelivelofinlist li {
    margin: 0 0 4px 40px;
    background: #666;
    width: 106px;
    height: 151px;
    float: left;
    box-shadow: 0 0 2px 2px #999;
    -moz-box-shadow: 0 0 2px 2px #999;
    -webkit-box-shadow: 0 0 2px 2px #999;
}
ul.mod_pelivelofinlist li img {
    width: 106px;
    height: 151px;
    display: block;
}
ul.mod_pelivelofinlist li a:hover, ul.mod_pelivelofinlist li a:hover img {
    width: 110px;
    height: 157px;
    display: block;
    position: relative;
    top: -2px;
    left: -1px;
}
ul.mod_pelivelofinlist li:first-child {
    margin-left: 0;
}
.art_estrenosli {
    margin-right: 3px;
}
.art_estrenosli:nth-child(2n) {
    margin-left: 0;
}
.art_estrenosli, .art_estrenosli:nth-child(2n) {
    width: 488px;
    float: left;
    min-height: 400px;
}
.izq_estrenos {
    max-width: 322px;
}
.img_estrenos {
    max-width: 45%}
.img_estrenos img {
    max-width: 100%;
    height: auto;
}
.contenido_estrenos {
    width: 150px;
    min-height: 350px;
}
.fecha_estreno {
    width: 177px;
}
.contenido_estrenos h2 {
    font-size: 13px;
}
.mod_salas {
    margin: 0 auto;
    background: #fff url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos.gif) repeat;
    color: #000;
    width: 990px;
    height: auto;
    display: none;
    position: relative;
    box-shadow: 0 4px 2px 2px #999;
    -moz-box-shadow: 0 -1px 4px 2px #999;
    -webkit-box-shadow: 0 -1px 4px 2px #999;
}
.mod_salas #vent0 {
    display: inline-block;
}
.horarios_censura {
    margin-left: 2%;
    width: 63.09%}
ul.mnu_salasciudad {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    border-bottom: 1px solid #000;
    width: 990px;
    height: 31px;
    display: block !important;
    position: absolute;
}
ul.mnu_salasciudad li {
    font-size: .875em;
    text-transform: uppercase;
    width: auto;
    height: 31px;
    display: inline;
}
ul.mnu_salasciudad li a {
    padding: 6px 10px 0;
    color: #333;
    border-right: 1px solid #999;
    width: auto;
    height: 25px;
    display: block;
    float: left;
}
ul.mnu_salasciudad li a:hover {
    padding: 6px 10px 0;
    color: #a21e23;
    border-right: 1px solid #999;
    width: auto;
    height: 25px;
    display: block;
    float: left;
}
ul.mnu_salasciudad li.mnu_salasciudadact a {
    padding: 6px 10px 0;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) bottom repeat-x;
    color: #fff;
    border-right: 1px solid #999;
    width: auto;
    height: 25px;
    display: block;
    float: left;
}
a.select_salas {
    display: none;
}
ul.mod_salapelilist {
    width: 620px;
    left: 20px;
}
ul.mod_salapelilist li {
    padding: 8px 0 0;
    font-size: .750em;
    font-weight: 500;
    width: 620px;
    height: auto;
    border-bottom: 1px solid #ccc;
    display: inline-block;
}
ul.mod_salapelilist li:first-child {
    padding: 10px 0 0;
    font-size: .688em;
    font-weight: 700;
    width: 620px;
    height: 20px;
    border-bottom: 1px solid #ccc;
    display: block;
}
ul.mod_salapelilist li a {
    padding: 0 5px;
}
ul.mod_salapelilist li a:hover {
    padding: 0 5px;
    color: #666;
    border-right: 1px solid;
    display: block;
    float: left;
}
ul.mod_salapelilist li span.peli {
    width: 260px;
    float: left;
}
ul.mod_salapelilist li span.hora {
    width: 315px;
    float: left;
    text-transform: uppercase;
}
ul.mod_salapelilist li span.censura {
    text align: center;
    width: 40px;
    float: left;
}
.mod_salasinfo {
    margin-right: 20px;
    width: 310px;
    height: auto;
    display: block;
    float: right;
    position: relative;
    top: 0;
}
ul.mod_salapeliico {
    width: 310px;
    min-height: 35px;
    height: auto;
}
.mod_salasmapa {
    margin: 15px 0;
    background: #fff;
    border: 1px solid #999;
    padding: 10px;
    width: 288px;
    height: 216px;
    display: block;
    position: relative;
}
.mod_salasmapa img {
    width: 288px;
    height: 216px;
    display: block;
}
.mod_salasdir {
    width: 300px;
    height: auto;
    display: block;
    position: relative;
    top: 10px;
}
.mod_salasdir p {
    padding-bottom: 10px;
    font-size: .875em;
    line-height: 1.188em;
    font-weight: 100;
    width: 300px;
    height: auto;
    float: left;
}
.mod_compra01 {
    margin: 0 auto;
    background: #fff url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos.gif) repeat;
    color: #000;
    width: 990px;
    height: 460px;
    display: block;
    position: relative;
    box-shadow: 0 4px 2px 2px #999;
    -moz-box-shadow: 0 -1px 4px 2px #999;
    -webkit-box-shadow: 0 -1px 4px 2px #999;
}
.mod_compra01tope {
    padding: 5px 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barrarojacompra01.png) repeat-x;
    color: #fff;
    border-bottom: 1px solid #000;
    width: 960px;
    height: 67px;
    display: block;
    position: relative;
}
.mod_compra01tope .pelinombre {
    background: #e4e6e5;
    color: #000;
    width: 539px;
    height: 67px;
    display: block;
    float: left;
    position: relative;
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.50);
}
.compradetbox1 {
    top: 5px;
}
.compradetbox2 {
    display: none;
}
.mod_compra01info {
    width: 670px;
    height: 375px;
    display: block;
    position: absolute;
    top: 81px;
    left: 23px;
}
.mod_compra02 {
    margin: 0 auto;
    background: #fff url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos.gif) repeat;
    color: #000;
    width: 990px;
    height: 670px;
    display: block;
    position: relative;
    box-shadow: 0 4px 2px 2px #999;
    -moz-box-shadow: 0 -1px 4px 2px #999;
    -webkit-box-shadow: 0 -1px 4px 2px #999;
}
.mod_compra02tope {
    font-size: .938em;
    width: 990px;
}
.comprabarrapeli, .comprabarracine, .comprabarrafecha {
    font-size: .938em;
    padding: 4px 4px 0;
}
.comprabarrapeli {
    width: 450px;
}
.comprabarracine {
    width: 159px;
    right: 400px;
}
.asientositems {
    width: 680px;
    height: 380px;
    top: 60px;
    left: 0;
    margin-left: 16px;
}
.salaleyenda {
    background: no-repeat 0 -120px;
    width: 680px;
    height: 100px;
    left: 10px;
}
.mod_compra02det {
    background: #e4e6e5;
    color: #fff;
    width: 276px;
    height: 638px;
    display: block;
    position: absolute;
    top: 32px;
    right: 0;
}
.compratiempo {
    padding: 8px 10px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barrarojacompra01.png) repeat-x;
    color: #000;
    width: 256px;
    height: 61px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
.compratiempo p {
    margin: 0 auto;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_tiemporestante.png) no-repeat top center;
    color: #fff;
    font-size: 1.500em;
    text-align: center;
    padding-top: 34px;
    width: 200px;
    height: 40px;
    display: block;
}
.compratiempoflota {
    display: none;
}
.compraasientos {
    margin: 0 auto;
    padding-top: 20px;
    color: #333;
    width: 225px;
    height: 262px;
    display: block;
    position: absolute;
    top: 356px;
    left: 25px;
}
.compraasientos h5 {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    width: 230px;
    height: 35px;
    display: block;
    position: relative;
}
.compraasientos ul.asientosreserv {
    width: 225px;
    height: 125px;
    display: block;
    position: relative;
}
.compraasientos ul.asientosreserv li {
    margin: 0 9px 12px 0;
    padding-top: 7px;
    background: #c02328;
    color: #fff;
    font-size: .875em;
    text-align: center;
    width: 35px;
    height: 28px;
    float: left;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.mod_compra03 {
    margin: 0 auto;
    background: #fff url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos.gif) repeat;
    color: #000;
    width: 990px;
    height: 670px;
    display: block;
    position: relative;
    box-shadow: 0 4px 2px 2px #999;
    -moz-box-shadow: 0 -1px 4px 2px #999;
    -webkit-box-shadow: 0 -1px 4px 2px #999;
}
.asientosselecc {
    padding: 5px 10px;
    width: 694px;
    height: 70px;
    border-bottom: 1px solid #333;
    display: block;
    position: absolute;
    top: 32px;
    left: 0;
}
.asientosselecc h5 {
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    width: 230px;
    height: 30px;
    display: block;
    position: relative;
}
.asientosselecc ul.asientosreserv {
    width: 700px;
    height: 30px;
    display: block;
    position: relative;
}
.asientosselecc ul.asientosreserv li {
    margin: 0 9px 12px 0;
    padding-top: 7px;
    background: #c02328;
    color: #fff;
    font-size: .813em;
    text-align: center;
    width: 35px;
    height: 28px;
    float: left;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
a.btn_cambiarasiento {
    padding-top: 5px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_asientodisp.png) no-repeat right;
    color: #333;
    font-size: .875em;
    width: 150px;
    height: 25px;
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
a.btn_cambiarasiento:hover {
    padding-top: 5px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_asientodisp.png) no-repeat right;
    color: #666;
    font-size: .875em;
    width: 150px;
    height: 25px;
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
}
ul.comprainfodet {
    color: #000;
    width: 694px;
    height: 140px;
    display: block;
    position: absolute;
    top: 120px;
    left: 14px;
}
ul.comprainfodet li {
    font-size: 1em;
    width: 670px;
    height: auto;
    display: block;
    padding-top: 8px;
    font-weight: 400;
    font-size: .813em;
    height: 28px;
    border-bottom: 1px solid #333;
}
ul.comprainfodet li p {
    margin: 0 5px;
    padding-bottom: 10px;
    width: 660px;
    display: block;
}
ul.comprainfodet li span.comprainfoboleto {
    margin: 0 5px;
    width: 500px;
    height: auto;
    float: left;
    position: relative;
}
ul.comprainfodet li span.comprainfobalance {
    margin: 0 5px;
    text-align: center;
    width: 140px;
    height: auto;
    float: left;
    position: relative;
}
ul.comprainfodet li span.comprainfobalance span {
    margin-right: 0;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_checkentrada.png) no-repeat;
    width: 22px;
    height: 21px;
    float: left;
    position: relative;
    left: 30px;
}
.pagoseguro {
    padding: 0;
    width: 713px;
    height: auto;
    border-top: 1px dotted #333;
    display: block;
    position: absolute;
    top: 260px;
    left: 0;
}
.pagoseguro h5 {
    margin-bottom: 10px;
    padding: 3px 15px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px dotted #333;
    font-weight: 700;
    width: 713px;
    height: 24px;
    display: block;
    position: relative;
}
fieldset.pagopasos {
    width: 710px;
    height: 340px;
    left: 15px;
}
fieldset.pagopasos p {
    padding-top: 4px;
    font-size: .875em;
    width: 710px;
    height: 40px;
    display: block;
    border-bottom: 1px solid #fff;
}
fieldset.pagopasos p label {
    padding-top: 4px;
    width: 250px;
    height: 28px;
}
input.radiobutton {
    float: left;
    position: relative;
    top: 5px;
}
select.listapago {
    margin-right: 10px;
    border: 1px solid #999;
    background: #e4e6e5;
    float: left;
    width: 68px;
    height: 28px;
    position: relative;
    top: 0;
}
input.campopago {
    border: 1px solid #999;
    background: #e4e6e5;
    float: left;
    width: 398px;
    height: 28px;
    position: relative;
    top: 0;
}
span.tc_visa {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_tarjetas.png) no-repeat 0 0;
    margin: 0 15px 0 5px;
    width: 40px;
    height: 20px;
    float: left;
    position: relative;
    top: 1px;
}
span.tc_mc {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_tarjetas.png) no-repeat 0 -20px;
    margin: 0 15px 0 5px;
    width: 40px;
    height: 20px;
    float: left;
    position: relative;
    top: 1px;
}
span.tc_amex {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_tarjetas.png) no-repeat 0 -40px;
    margin: 0 15px 0 5px;
    width: 40px;
    height: 20px;
    float: left;
    position: relative;
    top: 1px;
}
span.tc_giftcard {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_tarjetas.png) no-repeat 0 -60px;
    margin: 0 15px 0 5px;
    width: 40px;
    height: 20px;
    float: left;
    position: relative;
    top: 1px;
}
.compranota {
    margin: 0 auto;
    padding-top: 10px;
    color: #333;
    width: 225px;
    height: 262px;
    display: block;
    position: absolute;
    top: 356px;
    left: 25px;
}
.compranotaitem {
    margin-bottom: 3px;
    padding-bottom: 3px;
    text-transform: uppercase;
    width: 225px;
    height: 55px;
    display: block;
}
.compranotaitem h5 {
    padding-bottom: 3px;
    font-size: .875em;
    color: #c02328;
    text-align: center;
    width: 225px;
    height: auto;
    display: block;
}
.compranotaitem p {
    font-size: .813em;
    line-height: 1.125em;
    text-align: center;
    width: 225px;
    height: auto;
    display: block;
}
.compranotaitemmedio {
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
    margin-bottom: 10px;
    padding: 10px 0;
    text-transform: uppercase;
    width: 225px;
    height: 80px;
    display: block;
}
a.btn_compraprocesar {
    margin: 0 auto 10px;
    padding-top: 8px;
    background: #c02328;
    color: #fff;
    line-height: 1.250em;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 0;
}
a.btn_compraprocesar b {
    font-size: 1.125em;
    display: block;
    font-weight: 400;
    width: 160px;
    height: auto;
}
a.btn_compraprocesar:hover {
    margin: 0 auto 10px;
    padding-top: 8px;
    background: #414141;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 0;
}
.compraprocesando {
    color: #000;
    height: 160px;
}
.compraprocesando h5 {
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
    width: 600px;
    height: 24px;
    display: block;
    position: relative;
}
.compraprocesando img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: block;
}
.mod_compra05tope {
    background: #c02328;
    color: #fff;
    border-bottom: 1px solid #000;
    width: 990px;
    height: 31px;
    display: block;
    position: relative;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
}
.mod_compra05tope .compraconfirm {
    padding: 2px 10px 0;
    font-size: 1.125em;
    text-transform: uppercase;
    width: 500px;
    height: 29px;
    display: block;
    position: absolute;
    left: 0;
}
.mod_compra05tope .comprapasos {
    padding: 2px 10px 0;
    text-align: right;
    font-size: 1.125em;
    text-transform: uppercase;
    width: 400px;
    height: 29px;
    display: block;
    position: absolute;
    right: 0;
}
.compraconfirmtxt {
    padding: 5px;
    width: 980px;
    height: 73px;
    display: block;
    border-bottom: 1px solid #333;
    position: absolute;
    top: 44px;
}
.compraconfirmtxt .confirmtxt {
    width: 480px;
    height: 65px;
    display: block;
    position: absolute;
    left: 15px;
}
.compraconfirmtxt .confirmtxt p {
    font-size: .813em;
    line-height: 1.25em;
    text-transform: uppercase;
    width: 480px;
    height: auto;
    display: block;
}
.compraconfirmtxt .confirmpasos {
    width: 440px;
    height: 65px;
    display: block;
    position: absolute;
    right: 15px;
}
.compraconfirmtxt .confirmpasos li {
    list-style-type: disc;
    text-align: right;
    font-size: .813em;
    line-height: 1.25em;
    text-transform: uppercase;
    width: 400px;
    height: auto;
    float: right;
}
.compraconfirmtxt .confirmtxtfin {
    width: 990px;
    height: 65px;
    display: block;
    position: absolute;
    left: 15px;
}
.compraresumen {
    width: 550px;
    height: 400px;
    display: block;
    position: absolute;
    top: 190px;
    left: 50px;
}
.compraresumen p {
    padding: 6px 15px 4px;
    border-bottom: 1px dotted #333;
    font-size: 1.2em;
    width: 520px;
    height: 33px;
    display: block;
}
.compraresumen p label {
    margin-right: 10px;
    font-size: 1.250em;
    font-weight: 300;
    text-transform: uppercase;
    width: 180px;
    height: auto;
    float: left;
}
.compraresumen p span.resumenpeli {
    text-transform: uppercase;
}
.compraresumen p span.resumenpeli strong {
    margin: 0 9px 12px 0;
    padding-top: 5px;
    background: #c02328;
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: .65em;
    width: 28px;
    height: 22px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    float: left;
}
.compraresumen p span.resumenlocal {
    text-transform: uppercase;
    color: #c02328;
    font-size: 1.375em;
}
.compraresumeninfo {
    margin-top: 5px;
    padding: 5px 10px;
    background: #e4e6e5;
    color: #000;
    width: 530px;
    height: 110px;
    display: block;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
}
.compraresumeninfo p {
    padding: 4px 15px 4px;
    border-bottom: 1px dotted #333;
    font-size: 1.2em;
    width: 500px;
    height: 25px;
    display: block;
}
.compraresumeninfo p.compraresumeninfotit {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
    background-color: #c02328;
}
.compraresumeninfo p span.titresumen {
    text-align: center;
    font-weight: 600;
    font-size: .625em;
    line-height: 1em;
    text-transform: uppercase;
    width: 100px;
    height: auto;
    float: left;
}
.compraresumeninfo p span.txtresumen {
    text-align: center;
    font-weight: 300;
    font-size: .625em;
    line-height: 1em;
    text-transform: uppercase;
    width: 100px;
    height: auto;
    float: left;
    position: relative;
    top: 5px;
}
.compravoucher {
    padding: 60px 80px 0 80px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_voucher.png) no-repeat;
    color: #666;
    width: 170px;
    height: 460px;
    display: block;
    position: absolute;
    top: 128px;
    right: 30px;
}
.compravoucher p.voucher_txtppal {
    padding-bottom: 15px;
    font-family: "cinesu", Times, serif;
    font-size: .875em;
    color: #000;
    text-transform: uppercase;
    width: 180px;
    height: auto;
    display: block;
}
.compravoucher p {
    padding-bottom: 0;
    font-family: "cinesu", Times, serif;
    font-size: .7em;
    text-transform: uppercase;
    width: 180px;
    height: auto;
    display: block;
}
.compraconfirmtxt2 {
    padding: 5px;
    width: 980px;
    height: 73px;
    display: block;
    border-bottom: 1px solid #333;
    position: absolute;
    top: 44px;
}
.compraconfirmtxt .confirmtxtfin {
    width: 960px;
    height: 65px;
    display: block;
    position: absolute;
    left: 15px;
}
.compraconfirmtxt .confirmtxtfin p {
    font-size: .813em;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 960px;
    height: auto;
    display: block;
}
.compramensaje {
    padding: 20px 10px;
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
    width: 530px;
    height: auto;
    display: block;
    position: absolute;
    top: 190px;
    left: 50px;
}
.compramensaje p {
    padding-bottom: 7px;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    width: 530px;
    height: auto;
    display: block;
}
a.btn_compraprocesar {
    margin: 0 auto 10px;
    padding-top: 8px;
    background: #c02328;
    color: #fff;
    line-height: 1.250em;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 0;
}
a.btn_compraprocesar:hover {
    margin: 0 auto 10px;
    padding-top: 8px;
    background: #414141;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 0;
}
a.btn_compraprocesar2 {
    position: absolute;
    top: 445px;
    left: 230px;
}
a.btn_compraprocesar2:hover {
    position: absolute;
    top: 445px;
    left: 230px;
}
#HO00002745 .mod_pelivelomid  {
       padding: 80px 30px 0 30px;
   }
}