@media screen and (min-width:320px) and (max-width:359px) {
    .contenido {
    width: 300px;
}
.modulo {
    padding: 10px 2px;
    width: 300px;
}
header {
    background: #c02328 url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_header.gif) repeat-x bottom;
    height: 60px;
}
nav.mnugris_secc {
    display: none;
}
nav.mnuredes {
    display: none;
}
.select_ciudad, .select_ciudad:hover {
    font-size: .9em;
    top: 40px;
}
.select_ciudad span, .select_ciudad:hover span {
    top: 4px;
}
.sbOptions {
    margin-top: 3px;
}
h1.header_logo, h1.header_logo a {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_logocu.png) no-repeat 0 -73px;
    width: 172px;
    height: 31px;
    top: 10px;
    left: 7px;
}
h2.footer_logo {
    display: none;
}
nav.mnufooter_secc {
    margin: 0;
    width: 308px;
    height: 20px;
    top: 12px;
}
nav.mnufooter_secc ul {
    height: 25px;
}
nav.mnufooter_secc ul li {
    padding: 0 5px;
    font-size: .700em;
    height: 25px;
}
nav.mnuredescenter {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 0;
    left: 0;
}
footer p {
    margin: 0;
    font-size: .563em;
    text-align: left;
    width: 88%;
    top: 18px;
    left: 10px;
}
.mod_home {
    width: 290px;
    height: 240px;
}
ul.mnu_home {
    margin-right: 0;
    margin-bottom: 1px;
    width: 290px;
    height: 115px;
}
ul.mnu_home li {
    padding-top: 20px;
    margin-bottom: 0;
    margin-right: 1px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_btnhome.png) repeat-x bottom;
    width: 96px;
    height: 95px;
    display: inline;
    float: left;
}
ul.mnu_home li:last-child {
    margin-right: 0;
    width: 96px;
}
ul.mnu_home li span.mnu_home01, ul.mnu_home li span.mnu_home02, ul.mnu_home li span.mnu_home03 {
    top: -10px;
}
ul.mnu_home li p {
    font-size: .750em;
    top: -5px;
}
.mod_homecarr {
    width: 290px;
    height: 140px;
}
.mod_homecarrbase {
    width: 290px;
    height: 127px;
}
ul.mod_homecarrpag {
    width: 200px;
    height: 25px;
    display: block;
    position: absolute;
    top: 100px;
    left: 80px;
}
a.flant_homecarr, a.flsig_homecarr {
    display: none;
}
.fancybox-close {
    right: 0;
}
.mod_peliculas, .modulo-2 {
    width: 290px;
    height: 630px;
    left: 1px;
}
.mod_peliculas ul {
    padding-top: 8px;
    width: 290px;
    height: 625px;
    overflow: hidden;
}
.mod_peliculas ul li {
    margin: 0 2px 10px 2px;
    width: 140px;
    height: 200px;
}
.mod_peliculas ul li img {
    width: 140px;
    height: 200px;
}
.mod_peliculas ul li a {
    width: 140px;
    height: 200px;
}
.mod_peliculas ul li a:hover, .mod_peliculas ul li a:hover img {
    width: 146px;
    height: 208px;
}
.mod_peliculas ul li:first-child {
    display: none;
}
.horarios_censura {
    margin-left: 0;
    width:100% !important;
}
.mod_lista_peliculas {
    padding: 0;
    width: 295px;
    height: auto;
    display: block;
    left: 0;
}
.mod_lista_peliculas ul {
    padding-top: 0;
    overflow: hidden;
    width: 100%}
.mod_lista_peliculas ul li {
    margin: 0 0 10px 5px;
    width: 140px;
    height: 200px;
}
.mod_lista_peliculas ul li img {
    width: 140px;
    height: 200px;
    display: block;
}
.mod_lista_peliculas ul li a {
    width: 140px;
    height: 200px;
    display: block;
}
.mod_titulo_pelicula {
    width: 140px;
}
.mod_titulo_pelicula h2 {
    color: #c02328;
    font-family: cinesu;
    font-size: 12px;
    font-weight: 400;
}
.v_cinesj {
    height: 100%}
.v_cinesj ul {
    margin-left: auto;
    margin-right: auto;
    height: 84%;
    padding-top: 2px;
}
.v_cinesj ul li {
    height: auto;
    width: 95%;
    padding-top: 0;
    padding-bottom: 3px;
    font-size: .8em;
    margin-top: 2px!important;
}
.v_clasificacion {
    font-size: 14px;
    line-height: 18px;
    z-index: 5;
    position: relative;
    top: -8px;
    margin-bottom: 0px;
}
.v_cinesj2 {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 300px;
}
/*.v_horarios div{
    display: table;
    margin-top: -41px;
    left: 9px;
    margin-right: 1px;
    position: absolute;
    background: #fff;
    width: 91%;
    height: auto;
}*/
.v_horarios {
    width: 89.9%;
    display: inline-block;
    margin-top: -7px;
}
.v_cinesj2 .v_horarios ul {
    margin-left: 0;
    padding-top: 0px;
    padding-bottom: 0px;
margin-bottom: 10px;
}
.v_cinesj2 .v_horarios ul a {
    margin-left: 3px;
}
.an_mod_lista_peliculas ul li .v_cinesj .v_ampliar a, .an_mod_lista_peliculas ul li .v_cinesj2 .v_ampliar a, .an_mod_lista_peliculas_v2 ul li .v_cinesj .v_ampliar a, .an_mod_lista_peliculas_v2 ul li .v_cinesj2 .v_ampliar a {
    color: #FFF;
    font-size: 10px;
    float: right;
    width: auto;
    height: auto;
    margin-right: 20px;
    font-weight: 500;
}
.v_cinesj2 .v_horarios ul li {
    padding: 4px 2px 3px 2px;
    width: 41%}
.mod_pelivelo {
    margin: 0 auto 0;
    width: 305px;
    height: auto;
    display: inline-block;
}
.mod_pelivelo img{
    max-width: 95%;
}
.mod_pelivelotop {
    width: 305px;
    height: 110px;
}
.mod_pelivelotop img.pelivelotopimg {
    width: 305px;
    height: 102px;
}
.mod_pelivelomid {
    padding: 10px 10px 0 10px;
    width: 285px;
    height: 688px;
}
.mod_pelivelomid h2 {
    padding-bottom: 10px;
    font-size: 1.250em;
    width: 285px;
    height: 35px;
    margin-bottom: 10px;
}
.mod_pelivelomidbarra {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barraroja.jpg) repeat;
    color: #fff;
    width: 100%;
    height: 42px;
    display: block;
    position: relative;
    z-index: 100;
    height: 4em;
}
.mod_pelivelomiddias {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_pelivelodias.jpg) repeat -12px 0;
    width: 100%;
    float: left;
}
.barra_mesli{
    width: 5% !important;
}
p.barra_mes {
    padding-top: 0;
    font-size: 1em;
    width: 10px;
    height: 40px;
    top: 0.7em;
    left: 0.9em;
    color: #333;
}
ul.barra_dias {
    max-width: 300px;
    height: 41px;
}
ul.barra_dias li {
    font-size: .9em;
    width: 6.7%;
}
ul.barra_dias li span {
    font-size: .7em;
}
ul.barra_dias li a {
    padding-top: 5px;
    width: 20px;
    height: 36px;
}
ul.barra_dias li a:hover, ul.barra_dias li.barradia_act a {
    padding-top: 5px;
    width: 20px;
    height: 36px;
}
ul.barra_dias li.barradia_act a {
    cursor: default;
}
.sala span {
    font-size: 14px;
}
ul.mod_detalle_peli li span.ciudad {
    font-size: 12px;
}
li span.sala {
    display: none;
}
ul.mod_detalle_peli li span.hora {
    width: 0;
    padding-right: 0;
}
.tit_detalle_peli h2 {
    margin-left: 5px;
    font-size: 1em;
}
.tit_detalle_peli, .mod_pelivelomiddias_detalle, .barra_peli_detalle {
    width: 100%}
.cont_detalle_peli {
    padding-right: 1px;
    max-width: 100%;
    overflow: hidden;
}
.img_det_peli {
    float: left;
    padding-right: 2%;
    padding-bottom: 5px;
}
.img_det_peli img {
    max-width: 150px;
    max-height: 214px;
}
.mod_pelivelomidtipo {
    margin: 38px 0 -8px 7px;
    font-size: .750em;
    width: 96%;
    height: 34px;
    right: 5px;
    float: left;
}
.mod_pelivelomidbox {
    padding: 0 10px 0;
    width: 265px;
    height: 600px;
}
ul.mod_pelivelomidlist {
    width: 265px;
    height: 370px;
    display: block;
    position: relative;
}
ul.mod_pelivelomidlist li {
    padding: 7px 0 0;
    font-size: .688em;
    width: 265px;
    height: 80px;
    position: relative;
}
ul.mod_pelivelomidlist li:first-child {
    padding: 0;
    font-size: .625em;
    width: 265px;
    height: 50px;
}
ul.mod_pelivelomidlist li a, ul.mod_pelivelomidlist li a:hover {
    padding: 0 3px;
}
ul.mod_pelivelomidlist li a:hover {
    color: #666;
}
ul.mod_pelivelomidlist li span.ciudad {
    padding-left: 5px;
    width: 265px;
    font-size: 1.317em;
}
ul.mod_pelivelomidlist li span.hora {
    width: 265px;
    padding: 6px 0;
}
ul.mod_pelivelomidlist li span.sala {
    padding-left: 5px;
    width: 180px;
}
ul.mod_pelivelomidlist li span.censura {
    text-align: center;
    width: 20px;
    position: absolute;
    top: 7px;
    right: 22px;
}
ul.mod_pelivelomidlist li span.censura b {
    left: 40%;
    font-weight: 100;
    font-size: 1.3em;
}
.mod_pelivelofin {
    padding-top: 25px;
    width: 305px;
    height: 120px;
}
ul.mod_pelivelofinlist {
    width: 295px;
    height: 105px;
    left: 5px;
    overflow: hidden;
}
ul.mod_pelivelofinlist li {
    margin: 3px 0 15px 8px;
    width: 65px;
    height: 93px;
}
ul.mod_pelivelofinlist li img {
    width: 65px;
    height: 93px;
    display: block;
}
ul.mod_pelivelofinlist li a:hover, ul.mod_pelivelofinlist li a:hover img {
    width: 70px;
    height: 100px;
}
.ptitulo_estrenos h2 {
    font-size: 15px;
    font-weight: 100;
    text-align: center;
}
.texto_estrenos {
    text-align: justify;
    padding: 5px 1.9%;
    font-size: .8em;
}
.img_estrenos {
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.mod_salas {
    width: 290px;
    height: 1750px;
}
ul.mnu_salasciudad {
    display: none;
}
/*CSS DE CARGA DE MENU DE SALAS*/
ul.mnu_salasciudad {
    z-index: 99999;
    background: 0;
    height: auto;
    top: 32px;
    left: 120px;
    width: 170px;
    background-color: #FFF;
    display: none;
}
.v_titulo_cine{
    margin-top:0px;
}
#v_menu{
    height:0px;
}
ul.mnu_salasciudad li {
    display: block;
}
ul.mnu_salasciudad li:hover {
    border-right: 0;
}
ul.mnu_salasciudad li a, ul.mnu_salasciudad li a:hover {
    border-right: 0;
    width: 150px;
    padding-right: 0;
    font-size: 14px;
}
ul.mnu_salasciudad li.mnu_salasciudadact a {
    width: 150px;
    padding-right: 0;
}
ul.mnu_salasciudad li.mnu_salasciudadact a:hover {
    border: 0;
}
.mod_salas nav {
    position: relative;
}
/*FIN DE CSS DE MENU DE SALAS*/
a.select_salas {
    padding-top: 4px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    color: #333;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    width: 290px;
    height: 27px;
    display: block;
    position: absolute;
}
a.select_salas:hover {
    padding-top: 4px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    color: #a21e23;
    border-bottom: 1px solid #000;
    width: 290px;
    height: 27px;
    display: block;
    position: absolute;
}
a.select_salas span {
    margin-left: 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat top;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: relative;
    top: 7px;
    right: 10px;
}
a.select_salas:hover span {
    margin-left: 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat bottom;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: relative;
    top: 7px;
    right: 10px;
}
ul.mod_salapelilist {
    width: 280px;
    top: 90px;
    left: 5px;
}
ul.mod_salapelilist li {
    padding: 0;
    font-size: .95em;
    width: 280px;
    height: auto;
    display: inline-block;
    margin: 10px 0;
}
ul.mod_salapelilist li:first-child {
    display: none;
}
ul.mod_salapelilist li a {
    padding: 0 4px;
    font-size:0.85em;
}
ul.mod_salapelilist li a:hover {
    padding: 0 4px;
    color: #666;
    border-right: 1px solid;
    display: block;
    float: left;
}
ul.mod_salapelilist li span.peli {
    width: 250px;
    float: left;
    padding-left: 0;
    padding-bottom: 15px;
}
ul.mod_salapelilist li span.hora {
    width: 280px;
    float: left;
    text-transform: uppercase;
}
ul.mod_salapelilist li span.censura {
    width: 30px;
    position: absolute;
}
.mod_salasinfo {
    margin: 0 auto;
    width: 280px;
    top: 60px;
}
ul.mod_salapeliico {
    width: 270px;
    height: 100px;
    position: absolute;
    left: 0;
}
#map {
    zoom: 33%}
.mod_salasmapa {
    margin: 0;
    width: 248px;
    height: 186px;
    position: absolute;
    top: 100px;
    left: 0;
}
.mod_salasmapa img {
    width: 248px;
    height: 186px;
}
.mod_salasdir {
    width: 275px;
    top: 330px;
}
.mod_salasdir p {
    padding-bottom: 5px;
    font-size: .750em;
    line-height: 1em;
    width: 275px;
}
.mod_compra01 {
    width: 290px;
    height: auto;
}
.mod_compra01tope {
    padding: 3px 5px;
    width: 280px;
    height: 94px;
}
.mod_compra01tope .pelidatos {
    padding-top: 2px;
    width: 280px;
    height: 20px;
    display: none;
}
.mod_compra01tope .pelidatos p {
    font-size: .750em;
    line-height: 1em;
    padding-right: 5px;
    width: 80px;
    display: inline;
    border-right: 1px solid #fff;
}
.mod_compra01tope .pelidatos span {
    font-size: 1.125em;
    font-weight: 500;
    color: #fff;
    width: 20px;
    height: 21px;
    right: none;
    top: 2px;
    left: 220px;
}
.mod_compra01tope .pelinombre {
    width: 280px;
    height: 62px;
    top: 2px;
}
.mod_compra01tope .pelinombre p.pelinombretit {
    font-size: .75em;
    width: 280px;
    display: inherit;
    top: 0;
    left: 5px;
}
.mod_compra01tope .pelinombre p.pelinombrefecha {
    font-size: .813em;
    top: 26px;
    left: 5px;
}
.mod_compra01tope .pelinombre p.pelinombrelugar {
    font-size: .813em;
    text-align: left;
    width: 280px;
    right: none;
    left: 5px;
}
.mod_compra01tope .peliasientos {
    padding: 0;
    width: 280px;
    height: 22px;
    position: absolute;
    top: 77px;
    left: 5px;
}
.mod_compra01tope .peliasientos p {
    padding-left: 0;
    background: 0;
    font-size: .813em;
    width: 165px;
    height: 30px;
    top: 2px;
    left: 5px;
}
.mod_compra01tope .peliasientos p span {
    font-weight: 600;
}
.mod_compra01info {
    width: 280px;
    height: auto;
    position: relative;
    top: 10px;
    left: 00px;
}
ul.comprainfo {
    width: 280px;
    height: auto;
    left: 10px;
}
ul.comprainfo li {
    font-size: .813em;
    width: 270px;
}
ul.comprainfo li p {
    width: 280px;
}
ul.comprainfo li:first-child {
    font-size: .750em;
    height: 60px;
    top: 0;
}
ul.comprainfo li:first-child span.comprainfocant {
    width: 90px;
    position: relative;
    top: 0;
}
ul.comprainfo li.comprainfo1 {
    height: 60px;
}
ul.comprainfo li.comprainfo2 {
    padding-top: 5px;
    height: 40px;
}
ul.comprainfo li.comprainfo3 {
    height: 45px;
}
ul.comprainfo li span.comprainfotipo {
    margin: 0;
    padding-right: 15px;
    width: 75px;
}
ul.comprainfo li span.comprainfotipo img {
    top: 0;
    display: none;
}
ul.comprainfo li span.comprainfomonto {
    margin-right: 0;
    width: 80px;
    top: 0;
}
ul.comprainfo li span.comprainfocant {
    padding-left: 0;
    width: 90px;
    float: right;
    top: 0;
}
ul.comprainfo li span.comprainfoboleto {
    margin: 0 5px;
    width: 150px;
    height: auto;
    float: left;
    position: relative;
}
ul.comprainfo li span.comprainfobalance {
    margin: 0 5px;
    text-align: left;
    width: 100px;
    height: auto;
    float: left;
    position: relative;
}
ul.comprainfo li span.comprainfobalance span {
    margin-right: 5px;
    left: 0;
}
input.campoentrada {
    margin: 0 5px;
    padding: 0 2px;
}
a.btn_menosentrada:hover {
    margin-left: 0;
}
a.btn_menosentrada {
    margin-left: 0;
}
a.btn_masentrada:hover {
    margin-left: 0;
}
a.btn_masentrada {
    margin-left: 0;
}
.mod_compra01det {
    background: 0;
    width: 280px;
    position: relative;
    top: 10px;
    right: 0;
    height: 90px;
}
.mod_compra01det .compradet, .compradetbox, .compradetbox1, .compradetbox2 {
    display: none;
}
.compradetbox h4 {
    padding-top: 0;
    width: 304px;
    height: 25px;
}
.compradetbox h5 {
    padding-top: 7px;
    width: 304px;
    height: 30px;
}
.compradetboxint {
    padding-top: 10px;
    width: 304px;
    height: 140px;
}
.compradetboxint p {
    padding-bottom: 8px;
    font-size: .813em;
    width: 304px;
}
.compradetboxint p span {
    width: 150px;
}
a.btn_compradetnext, a.btn_compradetnext:hover {
    top: 20px;
    left: 0;
}
.btn_compradetnext2, .btn_compradetnext2:hover {
    position: absolute;
    top: 65px;
    left: 60px;
}
.mod_compra02 {
    width: 290px;
    height: auto;
}
.mod_compra02tope {
    font-size: .938em;
    width: 290px;
    height: 75px;
}
.mod_compra02tope .comprabarrapeli {
    padding: 2px 10px 0;
    background: #c02328;
    color: #fff;
    font-size: .938em;
    width: 270px;
    height: 37px;
    position: absolute;
    left: 0;
}
.mod_compra02tope .comprabarracine {
    padding: 4px 5px 0;
    background: 0;
    color: #333;
    font-size: .750em;
    font-weight: 300;
    border-right: 0 solid #999;
    text-align: left;
    text-transform: uppercase;
    width: 280px;
    height: 21px;
    display: block;
    position: absolute;
    top: 53px;
    right: none;
    left: 0;
}
.mod_compra02tope .comprabarrafecha {
    padding: 4px 5px 0;
    background: 0;
    color: #333;
    font-weight: 300;
    font-size: .750em;
    text-align: left;
    text-transform: uppercase;
    width: 280px;
    height: 21px;
    display: block;
    position: absolute;
    top: 38px;
    right: 0;
}
.asientositems {
    width: 280px;
    height: 300px;
    display: block;
    position: relative;
    top: 20px;
    left: 4px;
    overflow-y: hidden;
    margin-left: 5px;
}
.salaleyenda {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_salaleyenda.png) no-repeat -450px -300px;
    width: 290px;
    height: 80px;
    display: block;
    top: -30px;
    left: 0;
    margin: 0 auto 10px;
}
.mod_compra02det {
    background: 0;
    width: 280px;
    height: 160px;
    position: relative;
    top: 20px;
    right: 0;
}
.compratiempo {
    background: transparent;
    width: 50px;
    height: 14px;
    float: right;
    background-color: #c02328;
    position: fixed;
    top: 5px;
}
.compratiempo p {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/crono-cu-icon.png)no-repeat 0 2px;
    margin: 0 auto;
    font-size: 14px;
    padding-top: 0;
    width: 65px;
    height: 20px;
}
.compratiempoflota {
    padding: 5px;
    background: #c02328;
    color: #fff;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    width: 60px;
    height: auto;
    display: block;
    position: fixed;
    top: 63px;
    right: 0;
    z-index: 1000;
}
.compratiempoflota p {
    margin: 0 auto;
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    height: auto;
    display: block;
}
.compraasientos {
    padding-top: 0;
    width: 270px;
    height: 40px;
    position: relative;
    top: 10px;
    left: 0;
}
.compraasientos h5 {
    width: 270px;
    height: 25px;
}
.compraasientos ul.asientosreserv {
    margin: 0 auto;
    padding: 0 5px;
    width: auto;
    height: 20px;
}
.compraasientos ul.asientosreserv li {
    margin: 0 5px 8px 0;
    padding-top: 2px;
    font-size: .813em;
    width: 24px;
    height: 20px;
}
.asientofuera {
    width: 17px;
    content: url("https://cinesunidosweb.blob.core.windows.net:443/img/asiento_seleccionado.png");
}
.asientoreserv {
    width: 17px;
    content: url("https://cinesunidosweb.blob.core.windows.net:443/img/asiento_disponible.png");
}
.asientolibre {
    width: 17px;
    content: url("https://cinesunidosweb.blob.core.windows.net:443/img/asiento_ocupado.png");
}
.asientositems {
    max-width: 250px;
    height: auto;
    display: block;
    position: relative;
    top: 20px;
    left: 4px;
    overflow-y: hidden;
    margin-left: 5px;
    margin-bottom: 60px;
}
.mod_compra03 {
    padding-bottom: 10px;
    width: 290px;
    height: auto;
}
.asientosselecc {
    width: 270px;
    height: 80px;
    position: relative;
    top: 0;
}
.asientosselecc h5 {
    width: 230px;
    height: 25px;
}
.asientosselecc ul.asientosreserv {
    width: 280px;
    height: 30px;
}
.asientosselecc ul.asientosreserv li {
    margin: 0 5px 8px 0;
    padding-top: 2px;
    width: 24px;
    height: 20px;
}
a.btn_cambiarasiento, a.btn_cambiarasiento:hover {
    font-size: .813em;
    width: 135px;
    height: 25px;
    bottom: 5px;
}
a.btn_cambiarasiento:hover {
    text-decoration: none;
}
ul.comprainfodet {
    width: 280px;
    position: relative;
    top: 0;
    left: 5px;
    margin-bottom: 20px;
}
ul.comprainfodet li {
    width: 280px;
    display: block;
    padding-top: 8px;
    font-size: .750em;
    height: 38px;
}
ul.comprainfodet li p {
    width: 320px;
}
ul.comprainfodet li span.comprainfoboleto {
    margin: 0;
    width: 145px;
}
ul.comprainfodet li span.comprainfobalance {
    width: 125px;
}
.pagoseguro {
    width: 290px;
    position: relative;
    top: 0!important;
    margin-bottom: 30px;
}
.pagoseguro h5 {
    padding: 3px 5px;
    width: 280px;
}
fieldset.pagopasos {
    width: 270px;
    height: 400px;
    left: 5px;
}
fieldset.pagopasos p {
    font-size: .750em;
    width: 270px;
    height: auto;
    clear: left;
}
fieldset.pagopasos p label {
    padding-top: 4px;
    width: 260px;
    height: 25px;
    float: none;
    display: block;
}
input.campopago {
    width: 260px;
    height: 28px;
}
input.campopago2 {
    width: 180px;
}
span.tc_visa, span.tc_mc, span.tc_amex, span.tc_giftcard {
    margin: 0 0 0 4px;
}
.compranota {
    padding-top: 0;
    width: 280px;
    height: 90px;
    position: relative;
    top: 0;
    left: 00px;
}
.compranotaitem {
    width: 280px;
    height: 45px;
    display: none;
}
.compranotaitem h5 {
    padding-bottom: 0;
    font-size: .875em;
    width: 280px;
}
.compranotaitem p {
    margin: 0 auto;
    font-size: .750em;
    line-height: 1em;
    width: 280px;
}
.compranotaitemmedio {
    width: 280px;
    height: 75px;
    display: block;
}
a.btn_compraprocesar {
    left: 0;
}
.compraprocesando {
    margin: 0 auto;
    color: #000;
    width: 280px;
    height: 160px;
    position: relative;
}
.compraprocesando h5 {
    margin: 0 auto 60px;
    font-size: 1.25em;
    width: 270px;
    height: 24px;
    clear: left;
}
.compraprocesando img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: block;
}
.mod_compra05tope {
    width: 290px;
}
.mod_compra05tope .compraconfirm {
    padding: 4px 10px 0;
    font-size: 1em;
    width: auto;
    height: 27px;
    position: relative;
    float: left;
}
.mod_compra05tope .comprapasos {
    padding: 4px 10px 0;
    font-size: 1em;
    width: auto;
    height: 27px;
    display: none;
    position: relative;
    right: none;
    float: left;
}
.compraconfirmtxt {
    padding: 5px 10px 20px 10px;
    width: 270px;
    height: 130px;
    position: relative;
    top: 10px;
}
.compraconfirmtxt .confirmtxt {
    width: 280px;
    height: auto;
    position: relative;
    left: 0;
}
.compraconfirmtxt .confirmtxt p {
    font-size: .750em;
    line-height: 1em;
    width: 280px;
}
.compraconfirmtxt .confirmpasos {
    width: 270px;
    height: auto;
    position: relative;
    left: 20px;
    right: none;
    top: 70px;
}
.compraconfirmtxt .confirmpasos li {
    font-size: .750em;
    line-height: 1em;
    width: 260px;
    float: left;
}
.compraconfirmtxt .confirmtxtfin {
    width: 990px;
    height: 65px;
}
.compraresumen {
    width: 280px;
    height: 400px;
    position: relative;
    top: 20px;
    left: 5px;
}
.compraresumen p {
    padding: 6px 5px 4px;
    font-size: .75em;
    width: 270px;
    height: 28px;
}
.compraresumen p label {
    margin-right: 0;
    padding-top: 1px;
    font-size: .75em;
    width: 80px;
}
.compraresumen p span.resumenlocal {
    font-size: 1.125em;
}
.compraresumeninfo {
    padding: 5px;
    width: 270px;
    height: 105px;
}
.compraresumeninfo p {
    padding: 4px 0 4px;
    width: 270px;
}
.compraresumeninfo p.compraresumeninfotit {
    font-size: .938em;
    width: 270px;
    height: 25px;
}
.compraresumeninfo p span.titresumen {
    font-size: .4em;
    line-height: 1em;
    width: 53px;
}
.compraresumeninfo p span.txtresumen {
    font-size: .5em;
    line-height: .875em;
    width: 53px;
}
.compravoucher {
    display: none;
}
.compraconfirmtxt2 {
    padding: 0 10px;
    width: 270px;
    height: 130px;
    position: relative;
    top: 10px;
}
.compraconfirmtxt .confirmtxtfin {
    width: 260px;
    height: 65px;
}
.compraconfirmtxt .confirmtxtfin p {
    line-height: 1.3em;
    width: 260px;
}
.compramensaje {
    width: 270px;
    top: 10px;
    left: 5px;
}
.compramensaje p {
    padding-bottom: 10px;
    font-size: .938em;
    font-weight: 300;
    width: 260px;
}
a.btn_compraprocesar, a.btn_compraprocesar:hover {
    margin: 0 auto 5px;
}
a.btn_compraprocesar:hover {
    background: #414141;
}
a.btn_compraprocesar2 {
    top: 0;
    left: 0;
}
a.btn_compraprocesar2:hover {
    top: 0;
    left: 0;
}
.btn_compradetnext_ex {
    margin: 0 0 0 10%;
    width: 35%}
.mod_compra01_ex {
    width: 100%}
.compraconfirm_ex {
    width: 98%;
    padding-left: 2%;
    font-size: 12px;
}
..cont_registro{
    margin: 20px auto;
}
.cont_registro label {
    font-size: 13px;
    width: 43%}
.cont_registro label.label_left, .cont_registro label.label_right, .cont_registro label.label_solo {
    width: 43%}
.cont_registro .input_solo, .cont_registro .input_left, .cont_registro .input_right {
    width: 53%;
    margin-right: 0;
    clear: right;
    height: 30px;
}
.cont_registro_form {
    width: 90%;
    margin-left: 5%}
div.l_face, div.l_tweet, div.l_inst {
    width: 43%}
.registro_left {
    width: 90%;
    margin: 50px 5% 0 5%;
    font-size: 13px;
}
.registro_right {
    margin: 0 5% 50px 5%;
    width: 90%}
.cont_registro input {
    margin-right: 0;
    width: 50%;
    height: 30px;
}
#contacto_phone {
    max-width: 33% !important;
}
.cont_registro input[type="submit"] {
    width: 30% !important;
}
.cont_registro input[type='radio'] {
    margin-right: 0;
}
.cont_registro select {
    width: 53%;
    height: 30px;
}
.cont_registro label.lab_d {
    width: 43%}
.registro_textos {
    width: 90%;
    margin-left: 5%;
    font-size: 12px;
}
.campos_obl2 {
    font-size: 11px;
}
.registro_textos input {
    margin-right: 5px;
}
.btn_env_registro {
    width: 25%;
    margin-left: 38%}
.mensaje_registro {
    width: 95%;
    font-size: 14px;
    margin: 50px 1%}
div.l_face label, div.l_tweet label, div.l_inst label {
    display: table;
}
.cont_registro textarea {
    width: 52%}
#IdCardNumber {
    width: 37%}
.contenido_acceso {
    max-width: 92%;
    margin: 1em 1em 1em 1em;
    float: left;
}
.tit_acc {
    padding: 0;
}
.tit_acc h2 {
    font-family: cinesu;
    font-size: 12px;
}
.contenido_acceso form {
    display: block;
    float: left;
    width: 94%;
    margin: 1em 0 0 .6em;
}
.contenido_registro {
    max-width: 92%;
    margin: 0 3% 50px 3%;
    padding: 0 0 1em 0;
    max-height: 20em;
}
.contenido_registro hr {
    float: left;
    clear: right;
    width: 80%;
    border: 1px solid #CCC;
    margin: 1em 2em;
    display: block;
}
.contenido_acceso input[type="submit"] {
    padding: .5em .5em .5em .2em;
    width: 8em;
    margin: 0 auto 1.5em auto;
      font-size: 0.9em;
}
.contenido_acceso input[type="email"], .contenido_acceso input[type="password"] {
    width: 80%;
    margin-left: 5%;
    height: 1.7em;
    margin-bottom: 15px;
}
.contenido_acceso label {
    width: 90%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 5%;
    font-size: 13px;
}
.btn_acc div.btn_acc3, .btn_acc div.btn_acc2 {
    width: 29%;
    font-size: 10px;
    margin-left: 0;
    text-align: center;
    background-position: center top;
    padding-top: 40px;
    padding-left: 0;
    float: left;
}
div.btn_acc1 {
    width: 30%;
    font-size: 10px;
    margin-left: 0;
    text-align: center;
    background-position: center top;
    padding-top: 40px;
    padding-left: 0;
    float: left;
    margin-left: 4%}
.reg_text p {
    font-size: 14px;
    margin: 1em 1em 0 2em;
    float: left;
    display: block;
    width: 80%;
    text-align: center;
    color: #000;
}
.registrarse {
    padding: 10px 0 10px 10px;
    width: 150px;
    margin: 0 auto 0 auto;
}
.cont_contacto label {
    font-size: 16px;
}
.contacto_left {
    width: 95%;
    margin: 50px 2% 0 2%}
.contacto_right {
    width: 95%;
    margin: 0 2% 50px 2%}
.cont_contacto textarea {
    height: 100px;
}
.btn_env_contacto {
    width: 25%;
    margin-left: 38%}
.campos_obl {
    margin-right: 100px;
    margin-top: 2px;
    font-size: 10px;
}
.cont_contacto select, .cont_contacto input {
    height: 30px;
}
}