@media screen and (min-width:360px) and (max-width:479px) {
    .contenido {
    width: 340px;
}
.modulo {
    width: 330px;
    position: relative;
    height: auto;
}
header {
    background: #c02328 url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_header.gif) repeat-x bottom;
    height: 70px;
    background-repeat: repeat;
}
nav.mnugris_secc {
    display: none;
}
nav.mnuredes {
    display: none;
}
.select_ciudad {
    font-size: 1em;
    top: 46px;
    right: 3px;
}
.select_ciudad:hover {
    color: #fff;
    top: 46px;
}
.select_ciudad span, .select_ciudad:hover span {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectciudad.png) no-repeat bottom;
    top: 7px;
    right: 5px;
}
.sbSelector {
    font-size: .85em;
}
h1.header_logo {
    width: 230px;
    height: 30px;
    display: block;
    position: absolute;
    top: 12px;
    left: 7px;
}
h1.header_logo a {
    width: 230px;
    height: 31px;
    display: block;
}
h2.footer_logo {
    display: none;
}
.btn-menu-mobile, .btn-menu-mobile a {
      padding-top: 46px !important;
    }
.mostrar-right {
    margin-top: 66px;
}
nav.mnufooter_secc {
    margin: 0;
    width: 100%;
    height: 50px;
    top: 15px;
}
nav.mnufooter_secc ul {
    height: 25px;
}
nav.mnufooter_secc ul li {
    padding: 0 6px;
    font-size: .750em;
    height: 25px;
}
nav.mnuredescenter {
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
}
footer p {
  margin: 0;
  font-size: .563em;
  text-align: center;
  width: 80%;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.mod_home {
    width: 330px;
    height: 255px;
}
ul.mnu_home {
    margin-right: 0;
    margin-bottom: 1px;
    width: 330px;
    height: 115px;
}
ul.mnu_home li {
    padding-top: 20px;
    margin-bottom: 0;
    margin-right: 1px;
    width: 109px;
    height: 95px;
    display: inline;
    float: left;
}
ul.mnu_home li:last-child {
    margin-right: 0;
    width: 110px;
}
ul.mnu_home li span.mnu_home01, ul.mnu_home li span.mnu_home02, ul.mnu_home li span.mnu_home03 {
    top: -10px;
}
ul.mnu_home li p {
    padding-top: 0;
    font-size: .750em;
    top: -5px;
}
.mod_homecarr {
    width: 330px;
    height: auto;
}
.mod_homecarrbase {
    width: 330px;
    height: 145px;
}
ul.mod_homecarrpag {
    width: 200px;
    height: 25px;
    top: 115px;
    left: 100px;
}
a.flant_homecarr, a.flsig_homecarr {
    display: none;
}
.mod_peliculas, .modulo-2 {
    width: 330px;
    height: 730px;
    left: 2px;
    display: inline;
    position: initial;
}
.mod_peliculas ul {
    padding-top: 5px;
    width: 330px;
    height: 710px;
    overflow: hidden;
    position: relative;
}
.mod_peliculas ul li {
    margin: 0 2px 10px 2px;
    width: 160px;
    height: 228px;
}
.mod_peliculas ul li img {
    width: 160px;
    height: 228px;
}
.mod_peliculas ul li a {
    width: 160px;
    height: 228px;
}
.mod_peliculas ul li a:hover, .mod_peliculas ul li a:hover img {
    width: 164px;
    height: 234px;
}
.mod_peliculas ul li:first-child {
    display: none;
}
.ptitulo_estrenos h2 {
    font-size: 1em;
}
.mod_lista_peliculas {
    width: 330px;
    height: auto;
    display: block;
}
.mod_lista_peliculas ul {
    padding-top: 0;
    width: 330px;
    height: auto;
    overflow: hidden;
}
.mod_lista_peliculas ul li {
    margin: 0 2px 10px 2px;
    width: 160px;
    height: 228px;
}
.mod_lista_peliculas ul li img {
    width: 160px;
    height: 228px;
}
.mod_lista_peliculas ul li a {
    width: 160px;
    height: 228px;
}
.mod_titulo_pelicula {
    width: 160px;
}
.mod_titulo_pelicula h2 {
    color: #c02328;
    font-weight: 400;
}
.v_clasificacion{
    line-height: 15px;
    font-size: 15px;
}
.v_cinesj ul {
    margin-left: auto;
    margin-right: auto;
    height: 83%}
.v_cinesj ul li {
    padding-top: 3px;
    font-size: .9em;
    padding-bottom: 2px;
    line-height: 6px;
}
.v_cinesj, .v_cinesj2 {
    height: 100%}
.v_cinesj2 .v_horarios ul a {
    margin-left: -3px;
}
.v_cinesj2 .v_horarios ul{
    margin-left: 10px;
}
.v_cinesj2 .v_horarios ul li {
    margin: 2px;
    padding: 6px;
    width: 32%;
}
.mod_pelivelo {
    margin: 0 auto 0;
    width: 345px;
    height: auto;
}
.mod_pelivelo img{
    max-width: 100%;
}
.mod_pelivelotop {
    width: 345px;
    height: 132px;
}
.mod_pelivelotop img.pelivelotopimg {
    width: 345px;
    height: 116px;
}
.mod_pelivelomid {
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #000;
    width: 325px;
    height: auto;
}
.mod_pelivelomid h2 {
    padding-bottom: 20px;
    font-size: 1.250em;
    font-weight: 400;
    width: 325px;
    height: 30px;
}
.mod_pelivelomidbarra {
    width: 325px;
    height: 42px;
}
.mod_pelivelomiddias {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_pelivelodias.jpg) repeat -12px 0;
    width: 100%;
}
p.barra_mes {
      padding-top: 0;
      font-size: 0.9em;
      width: 8px;
      height: 40px;
      top: 12px;
      left: 14px;
}
.barra_mesli {
    width: 14px !important;
}

ul.barra_dias {
    width: 100%;
    height: 41px;
}
ul.barra_dias li {
    font-size: .9em;
    width: 27px;
    height: 41px;
}
ul.barra_dias li span {
    font-size: .688em;
}
ul.barra_dias li a {
    padding-top: 5px;
    width: 27px;
    height: 36px;
}
ul.barra_dias li a:hover {
    padding-top: 5px;
    width: 25px;
    height: 36px;
}
ul.barra_dias li.barradia_act a {
    padding-top: 5px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barradiaselect.jpg) no-repeat;
    color: #fff;
    width: 27px;
    height: 36px;
    display: block;
    cursor: default;
}
.mod_pelivelomidtipo {
   display:none;
}
.mod_pelivelomidbox {
    padding: 0 5px 15px;
    width: 315px;
    height: auto;
}
ul.mod_pelivelomidlist {
    width: 315px;
    height: auto;
}
ul.mod_pelivelomidlist li {
    padding: 5px 0 5px;
    font-size: .688em;
    font-weight: 500;
    width: 315px;
    height: 65px;
}
ul.mod_pelivelomidlist li:first-child {
    padding: 0;
    font-size: .520em;
    text-align: right;
    width: 315px;
    height: 40px;
}
ul.mod_pelivelomidlist li a:hover {
    color: #666;
}
ul.mod_pelivelomidlist li span.ciudad {
    padding-left: 5px;
    width: 265px;
    font-size: 1.3em;
    margin-bottom: 5px;
}
ul.mod_pelivelomidlist li span.hora {
    width: 280px;
}
ul.mod_pelivelomidlist li span.sala {
  padding-left: 5px;
  width: 265px;
  font-weight: 600;
  color: #c02328;
  font-size: 1em;
}
ul.mod_pelivelomidlist li span.censura {
    width: 30px;
    position: relative;
    top: 0;
}
ul.mod_pelivelomidlist li span.censura b {
    left: 40%}
.mod_pelivelofin {
    padding-top: 20px;
    width: 345px;
    height: 125px;
}
ul.mod_pelivelofinlist {
    width: 330px;
    height: 105px;
    left: 5px;
    overflow: hidden;
}
ul.mod_pelivelofinlist li {
    margin: 3px 0 15px 13px;
    width: 70px;
    height: 100px;
}
ul.mod_pelivelofinlist li img {
    width: 70px;
    height: 100px;
}
ul.mod_pelivelofinlist li a:hover, ul.mod_pelivelofinlist li a:hover img {
    width: 78px;
    height: 111px;
}
ul.mod_salapelilist li span.hora a, ul.mod_pelivelomidlist span.hora a, ul.mod_detalle_peli li span.hora a {
    font-size: 0.8em;
}
.cont_detalle_peli{
    padding-right:0px !important;
}
.tit_detalle_peli h2 {
  margin-left: 5px;
  font-weight: 100;
  margin-top: .2em;
  font-size: 0.97em;
}
.funcion_detalle{
    font-size: 0.9em;
    padding-left: 5px;
}
ul.mod_detalle_peli li span .sala{
  font-size: 0.8em;
  position: absolute;
  float: left;
  margin-top: 21px;
  color: #a21e23;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: -234px;
}
.mod_salas {
    width: 330px;
    height: 1024px;
}
#map {
    zoom: 33%
}
.horarios_censura{
    background: none;
    width: 100%;
    margin-left: 0;
}
.censura_div {
   display:none;
}
a.select_salas {
    padding-top: 4px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    color: #333;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    width: 330px;
    height: 27px;
    display: block;
    position: absolute;
}
a.select_salas:hover {
    padding-top: 4px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    color: #a21e23;
    border-bottom: 1px solid #000;
    width: 330px;
    height: 27px;
    display: block;
    position: absolute;
}
a.select_salas span {
    margin-left: 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat top;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: relative;
    top: 7px;
    right: 10px;
}
a.select_salas:hover span {
    margin-left: 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat bottom;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: relative;
    top: 7px;
    right: 10px;
}
ul.mod_salapelilist {
    width: 320px;
    top: 90px;
    left: 5px;
}
ul.mod_salapelilist li {
    padding: 5px 0 0;
    font-size: .750em;
    font-weight: 500;
    width: 320px;
    height: auto;
    display: inline-block;
}
ul.mod_salapelilist li:first-child {
    display: none;
}
ul.mod_salapelilist li a {
    padding: 0px;
    font-size: 1.15em;
}
ul.mod_salapelilist li a:hover {
    padding: 0px;
    color: #666;
    display: block;
    float: left;
    font-size: 1.15em;
}
ul.mod_salapelilist li span.peli {
    width: 290px;
    padding-left: 0px;
    padding-bottom: 5px;
}
ul.mod_salapelilist li span.hora {
    width: 290px;
}
ul.mod_salapelilist li span.censura {
    width: 30px;
}
.mod_salasinfo {
    margin: 0 auto;
    width: 320px;
    top: 70px;
}
ul.mod_salapeliico {
    width: 320px;
    height: 100px;
    left: 0;
}
.mod_salasmapa {
    margin: 0;
    width: 288px;
    height: 216px;
    position: absolute;
    top: 100px;
    left: 0;
}
.mod_salasmapa img {
    width: 288px;
    height: 216px;
}
.mod_salasdir {
    width: 310px;
    top: 360px;
}
.mod_salasdir p {
    padding-bottom: 5px;
    font-size: .750em;
    line-height: 1em;
    width: 310px;
}
ul.mnu_salasciudad {
    z-index: 99999;
    background: 0;
    height: auto;
    top: 62px;
    left: 160px;
    width: 170px;
    background-color: #FFF;
    display: none;
}
ul.mnu_salasciudad li {
    display: block;
}
ul.mnu_salasciudad li:hover {
    border-right: 0;
}
ul.mnu_salasciudad li a, ul.mnu_salasciudad li a:hover {
    border-right: 0;
    width: 150px;
    padding-right: 0;
    font-size: 14px;
}
ul.mnu_salasciudad li.mnu_salasciudadact a {
    width: 150px;
    padding-right: 0;
}
ul.mnu_salasciudad li.mnu_salasciudadact a:hover {
    border: 0;
}
.mod_salas nav {
    position: relative;
}
.mod_compra01 {
    width: 330px;
    height: 100%}
.mod_compra01tope {
    padding: 3px 10px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barrarojacompra01a.png) repeat-x;
    color: #fff;
    border-bottom: 1px solid #000;
    width: 310px;
    height: 94px;
    display: block;
    position: relative;
}
.mod_compra01tope .pelidatos {
    padding-top: 2px;
    width: 300px;
    height: 20px;
    display: none;
}
.mod_compra01tope .pelidatos p {
    line-height: 1em;
    padding-right: 5px;
    width: 80px;
    display: inline;
    border-right: 1px solid #fff;
}
.mod_compra01tope .pelidatos span {
    font-size: 1.125em;
    font-weight: 500;
    color: #fff;
    width: 20px;
    height: 21px;
    right: none;
    top: 2px;
    left: 220px;
}
.mod_compra01tope .pelinombre {
    width: 310px;
    height: 62px;
    top: 5px;
}
.mod_compra01tope .pelinombre p.pelinombretit {
    font-size: 0.8em;
    width: 310px;
    top: 0;
    left: 5px;
}
.mod_compra01tope .pelinombre p.pelinombrefecha {
    font-size: .813em;
    top: 26px;
    left: 5px;
    position: relative;
}
.mod_compra01tope .pelinombre p.pelinombrelugar {
    font-size: .813em;
    text-align: left;
    right: none;
    left: 5px;
}
.mod_compra01tope .peliasientos {
    padding: 0;
    width: 310px;
    height: 22px;
    position: absolute;
    top: 74px;
    left: 10px;
}
.mod_compra01tope .peliasientos p {
    padding-left: 22px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_asientodisp1.png) no-repeat -30px 0;
    font-size: .813em;
    width: 165px;
    height: 30px;
    top: 2px;
    left: 5px;
}
.mod_compra01tope .peliasientos p span {
    font-weight: 600;
}
.mod_compra01info {
    width: 330px;
    height: auto;
    top: 10px;
    left: 0;
    position: relative;
}
ul.comprainfo {
    width: 310px;
    height: auto;
    left: 10px;
    position: relative;
}
ul.comprainfo li {
    font-size: .813em;
    width: 310px;
}
ul.comprainfo li p {
    margin: 0 5px;
    width: 310px;
}
ul.comprainfo li:first-child {
    font-size: .750em;
    height: 60px;
    top: 0;
}
ul.comprainfo li:first-child span.comprainfocant {
    width: 90px;
    position: relative;
    top: 0;
}
ul.comprainfo li.comprainfo1 {
    height: 44px;
}
ul.comprainfo li.comprainfo2 {
    padding-top: 5px;
    height: 40px;
}
ul.comprainfo li.comprainfo3 {
    height: 40px;
}
ul.comprainfo li span.comprainfotipo {
    margin: 0 5px;
    padding-right: 25px;
    width: 90px;
}
ul.comprainfo li span.comprainfotipo img {
    top: 0;
    right: 0;
    display: none;
}
ul.comprainfo li span.comprainfomonto {
    margin-right: 0;
    width: 80px;
    top: 0;
}
ul.comprainfo li span.comprainfocant {
    padding-left: 0;
    width: 90px;
    top: 0;
}
ul.comprainfo li span.comprainfoboleto {
    margin: 0 5px;
    width: 170px;
}
ul.comprainfo li span.comprainfobalance {
    margin: 0 5px;
    width: 100px;
}
ul.comprainfo li span.comprainfobalance span {
    left: 20px;
}
input.campoentrada {
    margin: 0 7px;
    padding: 0 3px;
    text-align: center;
    left: 0;
}
.mod_compra01det {
    background: 0;
    width: 330px;
    height: 120px;
    top: 0;
    position: relative;
}
.mod_compra01det .compradet, .compradetbox, .compradetbox1, .compradetbox2 {
    display: none;
}
.compradetbox h4 {
    padding-top: 0;
    width: 304px;
    height: 25px;
}
.compradetbox h5 {
    padding-top: 7px;
    width: 304px;
    height: 30px;
}
.compradetboxint {
    padding-top: 10px;
    width: 304px;
    height: 140px;
}
.compradetboxint p {
    padding-bottom: 8px;
    color: #333;
    font-size: .813em;
    font-weight: 300;
    width: 304px;
    height: auto;
    display: block;
}
.compradetboxint p span {
    width: 150px;
}
.btn_compradetnext2, .btn_compradetnext2:hover {
    position: absolute;
    top: 65px;
    left: 60px;
}
.mod_compra02 {
    width: 330px;
    height: auto;
}
.mod_compra02tope {
    font-size: .938em;
    width: 330px;
}
.comprabarrapeli {
    padding: 6px 10px 0;
    font-size: .938em;
    width: 310px;
    height: 30px;
}
.comprabarracine, .comprabarrafecha {
    padding: 4px 10px 0;
    font-size: .813em;
    text-align: left;
    width: 310px;
    height: 21px;
    display: block;
    position: absolute;
}
.comprabarracine {
    border-right: 0 solid #999;
    top: 50px;
    right: none;
    left: 0;
}
.comprabarrafecha {
    top: 35px;
    right: 0;
}
.asientositems {
    width: 320px;
    height: 245px;
    position: relative;
    top: 20px;
    left: 0;
    overflow-y: hidden;
    margin-left: 5px;
}
.salaleyenda {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_salaleyenda.png) no-repeat -450px -300px;
    width: 290px;
    height: 80px;
    display: block;
    top: -30px;
    left: 0;
    margin: 0 auto 10px;
}
.mod_compra02det {
      background: 0;
      width: 330px;
      height: 220px;
      position: relative;
      top: 50px;
      display: inline-block;
}
.compratiempo {
    background: transparent;
    width: 50px;
    height: 14px;
    float: right;
    background-color: #c02328;
    position: fixed;
    top: 10px;
}
.compratiempo p {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/crono-cu-icon.png)no-repeat 0 2px;
    margin: 0 auto;
    font-size: 14px;
    padding-top: 0;
    width: 65px;
    height: 20px;
}
.compratiempoflota {
    padding: 5px;
    background: #c02328;
    color: #fff;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    width: 60px;
    height: auto;
    display: block;
    position: fixed;
    top: 63px;
    right: 0;
    z-index: 1000;
}
.compratiempoflota p {
    margin: 0 auto;
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    height: auto;
    display: block;
}
.compraasientos {
    width: 320px;
    height: 40px;
    position: relative;
    top: 0;
    left: 0;
}
.compraasientos h5 {
    width: 300px;
    height: 25px;
}
.compraasientos ul.asientosreserv {
    margin: 0 auto;
    padding: 0 5px;
    width: auto;
    height: 20px;
}
.compraasientos ul.asientosreserv li {
    margin: 0 5px 8px 0;
    padding-top: 2px;
    font-size: .813em;
    width: 24px;
    height: 20px;
}
.mod_compra03 {
    width: 330px;
    height: auto;
    min-height: 640px;
}
.asientosselecc {
    width: 310px;
    position: relative;
    top: 35px;
}
.asientosselecc ul.asientosreserv {
    width: 300px;
}
.asientosselecc ul.asientosreserv li {
    margin: 0 5px 8px 0;
    padding-top: 2px;
    width: 24px;
    height: 20px;
}
a.btn_cambiarasiento, a.btn_cambiarasiento:hover {
    font-size: .813em;
    width: 135px;
    height: 25px;
    bottom: 5px;
}
ul.comprainfodet {
    width: 320px;
    height: auto;
    position: relative;
    top: 0;
    left: 5px;
    margin-bottom: 20px;
}
ul.comprainfodet li {
    width: 320px;
    height: 38px;
}
ul.comprainfodet li p {
    width: 320px;
}
ul.comprainfodet li span.comprainfoboleto {
    width: 170px;
}
ul.comprainfodet li span.comprainfobalance {
    width: 130px;
}
.pagoseguro {
    width: 330px;
    position: relative;
    top: 34px!important;
    left: 0;
    height: auto;
}
.pagoseguro h5 {
    padding: 3px 10px;
    width: 310px;
    height: 24px;
}
fieldset.pagopasos {
    width: 310px;
    height: 400px;
    left: 10px;
}
fieldset.pagopasos p {
    font-size: .813em;
    width: 300px;
    height: auto;
    clear: left;
}
fieldset.pagopasos p label {
    padding-top: 4px;
    width: 300px;
    height: 25px;
    float: none;
    display: block;
}
input.campopago {
    width: 290px;
    height: 28px;
}
input.campopago2 {
    width: 213px;
}
span.tc_mc {
    margin: 0 5px 0 5px;
}
span.tc_amex {
    margin: 0 5px 0 5px;
}
span.tc_giftcard {
    margin: 0 5px 0 5px;
}
.compranota {
    width: 300px;
    height: 90px;
    top: 40px;
    left: 14px;
}
.compranotaitem {
    width: 300px;
    height: 45px;
    display: none;
}
.compranotaitem h5 {
    padding-bottom: 0;
    width: 300px;
}
.compranotaitem p {
    margin: 0 auto;
    font-size: .750em;
    line-height: 1em;
    width: 300px;
}
.compranotaitemmedio {
    width: 300px;
    height: 75px;
    display: block;
}
.compraprocesando {
    margin: 0 auto;
    color: #000;
    width: 300px;
    height: 160px;
}
.compraprocesando h5 {
    margin: 0 auto 60px;
    font-size: 1.25em;
    width: 300px;
    height: 24px;
    clear: left;
}
.compraprocesando img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: block;
}
.mod_compra05tope {
    width: 330px;
    height: 31px;
}
.mod_compra05tope .compraconfirm {
    padding: 4px 10px 0;
    font-size: 1em;
    width: auto;
    height: 27px;
    float: left;
}
.mod_compra05tope .comprapasos {
    padding: 4px 10px 0;
    font-size: 1em;
    width: auto;
    height: 27px;
    display: none;
    position: relative;
    right: none;
    float: left;
}
.compraconfirmtxt {
    padding: 0 10px 40px;
    width: 310px;
    height: 100px;
    position: relative;
    top: 10px;
}
.compraconfirmtxt .confirmtxt {
    width: 300px;
    height: auto;
    position: relative;
    left: 0;
}
.compraconfirmtxt .confirmtxt p {
    font-size: .750em;
    line-height: 1em;
    width: 300px;
}
.compraconfirmtxt .confirmpasos {
    width: 280px;
    height: auto;
    position: relative;
    left: 30px;
    right: none;
    top: 12px;
}
.compraconfirmtxt .confirmpasos li {
    font-size: .750em;
    line-height: 1em;
    width: 290px;
    float: left;
}
.compraconfirmtxt .confirmtxtfin {
    width: 990px;
    height: 65px;
}
.compraresumen p span.resumenpeli strong {
    font-size: 1em;
}
.compraresumen {
    width: 330px;
    height: 400px;
    position: relative;
    top: 20px;
    left: 10px;
}
.compraresumen p {
    padding: 6px 5px 4px;
    font-size: .813em;
    width: 300px;
    height: 28px;
}
.compraresumen p label {
    margin-right: 10px;
    padding-top: 1px;
    font-size: .875em;
    font-weight: 300;
    width: 80px;
}
.compraresumen p span.resumenpeli {
    text-transform: uppercase;
}
.compraresumen p span.resumenlocal {
    text-transform: uppercase;
    color: #c02328;
    font-size: 1.125em;
}
.compraresumeninfo {
    padding: 5px;
    width: 300px;
    height: 105px;
}
.compraresumeninfo p {
    width: 300px;
    height: 25px;
    margin-left: -5px;
}
.compraresumeninfo p.compraresumeninfotit {
    font-size: .938em;
    width: 300px;
    height: 25px;
    margin-left: -5px;
}
.compraresumeninfo p span.titresumen {
    font-size: .6em;
    line-height: 1.2em;
    width: 60px;
}
.compraresumeninfo p span.txtresumen {
    font-size: .8em;
    line-height: .875em;
    width: 60px;
}
.compravoucher {
    display: none;
}
.compraconfirmtxt2 {
    padding: 0 10px 15px;
    width: 310px;
    height: 100px;
    position: relative;
    top: 10px;
}
.compraconfirmtxt .confirmtxtfin {
    width: 300px;
    height: 65px;
    left: 15px;
}
.compraconfirmtxt .confirmtxtfin p {
    font-size: .813em;
    line-height: 1.3em;
    width: 300px;
}
.compramensaje {
    width: 290px;
    top: 10px;
    left: 10px;
}
.compramensaje p {
    padding-bottom: 10px;
    font-size: .938em;
    font-weight: 300;
    width: 290px;
}
a.btn_compraprocesar2 {
    top: 0;
    left: 0;
}
a.btn_compraprocesar2:hover {
    top: 0;
    left: 0;
}
.btn_compradetnext_ex {
    margin: 0 0 0 10%;
    width: 35%}
.mod_compra01_ex {
    width: 100%}
.compraconfirm_ex {
    width: 98%;
    padding-left: 2%;
    font-size: 12px;
}
.cont_registro label {
    font-size: 13px;
    width: 43%}
.cont_registro label.label_left, .cont_registro label.label_right, .cont_registro label.label_solo {
    width: 43%}
.cont_registro .input_solo, .cont_registro .input_left, .cont_registro .input_right {
    width: 53%;
    margin-right: 0;
    clear: right;
    height: 30px;
}
.cont_registro_form {
    width: 90%;
    margin-left: 5%}
div.l_face, div.l_tweet, div.l_inst {
    width: 43%}
.registro_left {
    width: 90%;
    margin: 50px 5% 0 5%;
    font-size: 13px;
}

.registro_right {
    margin: 0 5% 50px 5%;
    width: 90%}
.cont_registro input {
    margin-right: 0;
    width: 50%;
    height: 30px;
}
.cont_registro input[type='radio'] {
    margin-right: 0;
}
.cont_registro select {
    width: 53%;
    height: 30px;
}
.cont_registro label.lab_d {
    width: 43%}
.registro_textos {
    width: 90%;
    margin-left: 5%;
    font-size: 12px;
}
.campos_obl2 {
    font-size: 11px;
}
.registro_textos input {
    margin-right: 5px;
}
.btn_env_registro {
    width: 25%;
    margin-left: 38%}
.mensaje_registro {
    width: 95%;
    font-size: 14px;
    margin: 50px 1%}
div.l_face label, div.l_tweet label, div.l_inst label {
    display: table;
}
.cont_registro textarea {
    width: 52%}
.contenido_acceso {
    max-width: 92%;
    margin: 50px 3% 50px 3%}
.contenido_registro {
    max-width: 92%;
    margin: 0 3% 50px 3%}
.contenido_acceso input[type="submit"] {
    padding: 10px 0 10px 30px;
    width: 150px;
    margin: 0 auto 40px auto;
}
.contenido_acceso input[type="email"], .contenido_acceso input[type="password"] {
    width: 90%;
    margin-left: 5%;
    height: 30px;
    margin-bottom: 15px;
}
.contenido_acceso label {
    width: 90%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 5%}
.btn_acc div.btn_acc3, .btn_acc div.btn_acc2 {
    width: 28%;
    font-size: 10px;
    margin-left: 0;
    text-align: center;
    background-position: center top;
    padding-top: 40px;
    padding-left: 0;
    float: left;
}
.reg_text p {
    font-size: 16px;
}
.registrarse {
    padding: 10px 0 10px 10px;
    width: 150px;
    margin: 0 auto 0 auto;
}
.btn_acc div {
    width: 28%;
    font-size: 10px;
    margin-left: 0;
    text-align: center;
    background-position: center top;
    padding-top: 40px;
    padding-left: 0;
    float: left;
    margin-left: 4%}
.cont_contacto label {
    font-size: 16px;
}
.contacto_left {
    width: 95%;
    margin: 50px 2% 0 2%}
.contacto_right {
    width: 95%;
    margin: 0 2% 50px 2%}
.cont_contacto textarea {
    height: 100px;
}
.btn_env_contacto {
    width: 25%;
    margin-left: 38%}
    .campos_obl {
        margin-right: 100px;
        margin-top: 2px;
        font-size: 10px;
    }
    .publicidad-lobby{
        display:none !important;
    }
    .promociones h1{
        font-size:1.2em;
        padding: 10px 0px;
    }
    .promociones lead{
        font-size: 0.9em;
    }
    .promociones span.promo-pasos{
        font-size: 0.83em;
    }
    .tit_acc h2{
        font-size: 1em;
    }
}/* FIN MEDIAQUERY */