@media screen and (min-width:480px) and (max-width:539px) {
.contenido {
    margin: 0 auto;
    width: 460px;
}
.modulo {
    margin: 0 auto;
    padding: 10px 0;
    width: 100%}
header {
    background: #c02328 url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_header.gif) repeat-x bottom;
    color: #e4e6e5;
    width: 100%;
    height: 49px;
}
nav.mnugris_secc {
    display: none;
}
nav.mnuredes {
    display: none;
}
.select_ciudad {
    font-size: 1.2em;
    font-weight: 100;
    top: 13px;
    right: 0px;
}
.select_ciudad:hover {
    font-size: 1.2em;
    font-weight: 100;
    top: 13px;
    right: 0px;
}
.select_ciudad span {
    top: 12px;
    right: 5px;
}
.select_ciudad:hover span {
    top: 12px;
    right: 5px;
}
.sbSelector {
    font-size: .78em;
}
.btn-menu-mobile, .btn-menu-mobile a {
    padding-top: 16px !important;
    position: absolute !important;
    padding-left: 250px !important;
    width: 70px !important;
}
.mostrar-right{
    margin-top: 45px !important;
}
h1.header_logo, h1.header_logo a {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_logocu.png) no-repeat 0 -42px;
    width: 230px;
    height: 31px;
    top: 10px;
    left: 7px;
}
footer p {
    font-size: .563em;
    width: 70%;
    height: 20px;
    top: 25px;
}
.mod_home {
    width: 450px;
    height: 294px;
    position: relative;
}
ul.mnu_home {
    margin-right: 0;
    margin-bottom: 1px;
    width: 450px;
    height: 100px;
    float: none;
    display: block;
}
ul.mnu_home li {
    padding-top: 20px;
    margin-bottom: 0;
    margin-right: 1px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_btnhome.png) repeat-x bottom;
    width: 149px;
    height: 80px;
    display: inline;
    float: left;
}
ul.mnu_home li:last-child {
    margin-right: 0;
    width: 150px;
}
ul.mnu_home li span.mnu_home01, ul.mnu_home li span.mnu_home02, ul.mnu_home li span.mnu_home03 {
    top: -10px;
}
ul.mnu_home li p {
    padding-top: 0;
    font-size: .875em;
    font-weight: 100;
    top: -5px;
}
.mod_homecarr {
    width: 450px;
    height: 470px;
    float: none;
    display: block;
}
.mod_homecarrbase {
    width: 450px;
    height: 198px;
}
a.flant_homecarr, a.flant_homecarr:hover {
    top: 65px;
    left: 10px;
}
a.flsig_homecarr, a.flsig_homecarr:hover {
    top: 65px;
    right: 10px;
}
ul.mod_homecarrpag {
    top: 168px;
    left: 170px;
}
.ptitulo_estrenos h2 {
    font-size: 1em;
}
.img_estrenos img {
    vertical-align: top;
    max-width: 150px!important;
    max-height: 214px!important;
}
.img_estrenos {
    max-width: 150px!important;
    width: 150px;
    float: left;
}
.izq_estrenos {
    width: 100%;
    max-width: 480px;
}
.fecha_estreno {
    width: 303px;
}
.contenido_estrenos {
    width: 94%;
    border: 0;
}
.art_estrenosli {
    margin-left: 1%}
.contenido_estrenos {
    min-height: 200px;
}
.mod_peliculas, .modulo-2 {
    width: 450px;
    height: 1272px;
}
.mod_peliculas ul {
    padding-top: 6px;
    width: 450px;
    height: 1272px;
    overflow: hidden;
}
.mod_peliculas ul li {
    width: 220px;
    height: 314px;
}
.mod_peliculas ul li img, .mod_peliculas ul li a {
    width: 220px;
    height: 314px;
}
.mod_peliculas ul li a:hover, .mod_peliculas ul li a:hover img {
    width: 224px;
    height: 319px;
}
.mod_peliculas ul li:first-child {
    display: none;
}
.v_cinesj {
    height: 85.9%}
.v_cinesj ul {
    margin-left: auto;
    margin-right: auto;
    height: 85%}
.v_cinesj ul li {
    margin-right: 5px;
}
.mod_lista_peliculas {
    width: 450px;
    height: auto;
    display: block;
}
.mod_lista_peliculas ul {
    padding-top: 6px;
    width: 450px;
    overflow: hidden;
}
.mod_lista_peliculas ul li {
    margin: 0 0 40px 26px;
}
.mod_lista_peliculas ul li img, .mod_lista_peliculas ul li a {
    width: 190px;
    height: 271px;
    display: block;
}
.mod_titulo_pelicula h2 {
    color: #c02328;
    font-weight: 400;
}
.mod_pelivelo {
    margin: 0 auto 0;
    width: 465px;
    height: 950px;
}
.mod_pelivelo img{
    max-width: 100%;
}
.mod_pelivelotop {
    width: 465px;
    height: 162px;
}
.mod_pelivelotop img.pelivelotopimg {
    width: 465px;
    height: 156px;
}
.mod_pelivelomid {
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #000;
    width: 445px;
    height: 586px;
    display: block;
    position: relative;
}
.mod_pelivelomid h2 {
    padding-bottom: 10px;
    font-size: 1.250em;
    width: 445px;
    height: auto;
}
.mod_pelivelomidbarra {
    width: 445px;
    height: 42px;
}
.mod_pelivelomiddias {
    width: 85%;
    height: 41px;
}
p.barra_mes {
  width: 32px;
  height: 30px;
  top: 3px;
  left: -3px;
  font-size: 1em;
}
ul.barra_dias {
    width: 100%;
    height: 41px;
    float: left;
}
ul.barra_dias li {
    width: auto;
    max-width: 25px;
    height: 41px;
}
ul.barra_dias li a, ul.barra_dias li a:hover, ul.barra_dias li.barradia_act a {
    width: 25px;
}
.mod_pelivelomidtipo {
    display:none !important;
}
.mod_pelivelomidbox {
    padding: 0 10px 0;
    width: 425px;
    height: 498px;
}
ul.mod_pelivelomidlist {
    width: 425px;
    height: 370px;
}
ul.mod_pelivelomidlist li {
    padding: 7px 0 0;
    font-size: .813em;
    font-weight: 500;
    width: 425px;
    height: 46px;
}
ul.mod_pelivelomidlist li:first-child {
    font-size: .688em;
    width: 425px;
    height: 35px;
}
ul.mod_pelivelomidlist li span.ciudad {
    padding-left: 5px;
    width: 320px;
    float: left;
}
ul.mod_pelivelomidlist li span.hora {
    width: 325px;
}
ul.mod_pelivelomidlist li span.sala {
    width: 50px;
}
ul.mod_pelivelomidlist li span.censura {
    width: 50px;
}
.mod_pelivelofin {
    width: 465px;
    height: 171px;
}
ul.mod_pelivelofinlist {
    width: 425px;
    height: 140px;
    left: 5px;
    overflow: hidden;
}
ul.mod_pelivelofinlist li {
    margin: 3px 0 15px 10px;
    width: 96px;
    height: 137px;
}
ul.mod_pelivelofinlist li img {
    width: 96px;
    height: 137px;
}
ul.mod_pelivelofinlist li a:hover, ul.mod_pelivelofinlist li a:hover img {
    width: 100px;
    height: 143px;
}
.mod_salas {
    width: 450px;
    height: 1750px;
}
a.select_salas, a.select_salas:hover {
    width: 450px;
    height: 27px;
}
a.select_salas {
    padding-top: 4px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    color: #333;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    width: 450px;
    height: 27px;
    display: block;
    position: absolute;
}
a.select_salas:hover {
    padding-top: 4px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    color: #a21e23;
    border-bottom: 1px solid #000;
    width: 450px;
    height: 27px;
    display: block;
    position: absolute;
}
a.select_salas span {
    margin-left: 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat top;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: relative;
    top: 7px;
    right: 10px;
}
a.select_salas:hover span {
    margin-left: 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat bottom;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: relative;
    top: 7px;
    right: 10px;
}
ul.mod_salapelilist {
    width: 430px;
    top: 90px;
    left: 10px;
}
ul.mod_salapelilist li {
    padding: 5px 0 0;
    font-size: .813em;
    width: 430px;
    height: auto;
    display: inline-block;
}
ul.mod_salapelilist li:first-child {
    display: none;
}
.censura_div{
    margin-right: 7px;
}
ul.mod_salapelilist li a, ul.mod_salapelilist li a:hover {
    padding: 0 7px;
}
ul.mod_salapelilist li span.peli {
    width: 400px;
    padding-left: 7px;
    padding-bottom: 3px;
}
ul.mod_salapelilist li span.hora {
    width: 400px;
}
ul.mod_salapelilist li span.censura {
    width: 30px;
}
.mod_salasinfo {
    margin-right: 10px;
    width: 430px;
    top: 70px;
}
ul.mod_salapeliico {
    width: 430px;
    height: 100px;
    position: absolute;
    left: 0;
}
.mod_salasmapa {
    margin: 0;
    width: 288px;
    height: 216px;
    position: absolute;
    top: 100px;
    left: 0;
}
.mod_salasmapa img {
    width: 288px;
    height: 216px;
}
.mod_salasdir {
    width: 430px;
    top: 370px;
}
.mod_salasdir p {
    padding-bottom: 5px;
    font-size: .750em;
    line-height: 1em;
    font-weight: 100;
    width: 430px;
}
ul.mnu_salasciudad {
    z-index: 99999;
    background: 0;
    height: auto;
    top: 60px;
    left: 280px;
    width: 170px;
    display: block;
    border: 1px solid #333;
    background-color: #FFF;
    display: none;
}
ul.mnu_salasciudad li {
    display: block;
}
ul.mnu_salasciudad li:hover {
    border-right: 0;
}
ul.mnu_salasciudad li a, ul.mnu_salasciudad li a:hover {
    border-right: 0;
    width: 150px;
    padding-right: 0;
    font-size: 14px;
}
ul.mnu_salasciudad li.mnu_salasciudadact a {
    width: 150px;
    padding-right: 0;
}
ul.mnu_salasciudad li.mnu_salasciudadact a:hover {
    border: 0;
}
.mod_salas nav {
    position: relative;
}
.mod_compra01 {
    width: 450px;
    height: auto;
}
.mod_compra01tope {
    width: 430px;
    height: 90px;
    padding: 5px 10px;
    background-repeat: repeat;
}
.mod_compra01tope .pelidatos {
    padding-top: 2px;
    width: 300px;
    height: 20px;
}
.mod_compra01tope .pelidatos p {
    line-height: 1em;
    padding-right: 5px;
    width: 80px;
    display: inline;
    border-right: 1px solid #fff;
    margin-right: 4px;
}
.mod_compra01tope .pelidatos span {
    font-size: 1.125em;
    font-weight: 500;
    color: #fff;
    width: 20px;
    height: 21px;
    right: none;
    top: 2px;
    left: 220px;
}
.mod_compra01tope .pelinombre {
    width: 430px;
    height: 55px;
    top: 10px;
}
.mod_compra01tope .pelinombre p.pelinombretit {
    font-size: 1em;
    width: 430px;
    top: 3px;
    left: 10px;
}
.mod_compra01tope .pelinombre p.pelinombrefecha, .mod_compra01tope .pelinombre p.pelinombrelugar {
    font-size: .813em;
    top: 33px;
    left: 10px;
}
.mod_compra01tope .peliasientos {
    padding: 0;
    width: 186px;
    height: 22px;
    position: absolute;
    top: 9px;
    left: 255px;
}
.mod_compra01tope .peliasientos p {
    padding-left: 22px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_asientodisp1.png) no-repeat -30px 0;
    font-size: .813em;
    width: 165px;
    height: 30px;
    top: 2px;
    left: 8px;
}
.mod_compra01tope .peliasientos p span {
    font-weight: 600;
}
.mod_compra01info {
    width: 450px;
    height: 450px;
    top: 10px;
    left: 0;
    position: relative;
}
ul.comprainfo {
    width: 435px;
    height: 450px;
    left: 10px;
}
ul.comprainfo li {
    font-size: .813em;
    width: 430px;
}
ul.comprainfo li p {
    width: 430px;
}
ul.comprainfo li:first-child {
    font-size: .750em;
    top: 0;
}
ul.comprainfo li:first-child strong {
    display: block;
}
ul.comprainfo li:first-child span.comprainfocant {
    width: 140px;
    position: relative;
    top: 0;
}
ul.comprainfo li.comprainfo1 {
    height: 44px;
}
ul.comprainfo li.comprainfo2 {
    height: 40px;
}
ul.comprainfo li.comprainfo3 {
    height: 40px;
}
ul.comprainfo li span.comprainfotipo {
    padding-right: 25px;
    width: 110px;
}
ul.comprainfo li span.comprainfotipo img {
    top: 0;
    display: none;
}
ul.comprainfo li span.comprainfomonto {
    margin-right: 0;
    width: 125px;
    top: 0;
}
ul.comprainfo li span.comprainfocant {
    padding-left: 0;
    width: 120px;
    float: right;
    top: 0;
}
ul.comprainfo li span.comprainfoboleto {
    width: 270px;
}
ul.comprainfo li span.comprainfobalance {
    margin: 0 5px;
    text-align: center;
    width: 140px;
    height: auto;
    float: left;
    position: relative;
}
input.campoentrada {
    left: 0;
}
.mod_compra01det {
    background: 0;
    color: #000;
    width: 450px;
    height: 140px;
    display: block;
    position: relative;
    top: 20px;
    right: 0;
}
.mod_compra01det .compradet {
    margin: 0 auto;
    background: 0;
    width: 430px;
    height: auto;
}
.mod_compra01det .compradet, .compradetbox, .compradetbox1 {
    display: none;
}
.compradetbox h4 {
    padding-top: 0;
    width: 422px;
    height: 25px;
}
.compradetbox h5 {
    padding-top: 7px;
    width: 422px;
    height: 30px;
}
.compradetboxint {
    width: 422px;
    height: 140px;
}
.compradetboxint p {
    font-size: .875em;
    width: 422px;
}
.compradetboxint p span {
    width: 210px;
}
a.btn_compradetnext, a.btn_compradetnext:hover {
    left: 0;
}
.btn_compradetnext2, .btn_compradetnext2:hover {
    position: absolute;
    top: 100px;
    left: 100px;
}
.compradetbox2 {
    display: none;
}
.mod_compra02 {
    width: 450px;
}
.mod_compra02tope {
    font-size: .938em;
    width: 450px;
    height: 55px;
}
.comprabarrapeli, .comprabarracine, .comprabarrafecha {
    background: 0;
    color: #333;
    font-size: .813em;
    font-weight: 300;
    border-right: 1px solid #999;
    text-align: right;
    text-transform: uppercase;
    display: block;
    top: 40px;
}
.comprabarrapeli {
    padding: 6px 10px 0;
    background: #c02328;
    font-size: 1.125em;
    width: 430px;
    height: 22px;
    display: block;
    position: absolute;
    left: 0;
    color: #fff;
    text-align: left;
    top: 0;
}
.comprabarracine, .comprabarrafecha {
    position: absolute;
    top: 29px;
}
.comprabarracine {
    width: 94px;
    height: 21px;
    right: 345px;
}
.comprabarrafecha {
    width: 410px;
    height: 21px;
    right: 0;
}
#map {
    zoom: 65%}
.asientositems {
    width: 440px;
    height: 45%;
    display: block;
    position: relative;
    top: 20px;
    left: 5px;
    overflow-y: hidden;
    margin-left: 0;
}
.salaleyenda {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_salaleyenda.png) no-repeat 0 -300px;
    width: 440px;
    height: 80px;
    display: block;
    top: 0;
    left: 0;
    margin: 0 auto 10px;
}
.mod_compra02det {
    background: 0;
    width: 450px;
    height: 220px;
    position: inherit;
    top: 50px;
    right: 0;
    display: inline-block;
}
.compratiempo {
    background: transparent;
    width: 50px;
    height: 14px;
    float: right;
    background-color: #c02328;
    position: fixed;
    top: 5px;
}
.compratiempo p {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/crono-cu-icon.png)no-repeat 0 2px;
    margin: 0 auto;
    font-size: 14px;
    padding-top: 0;
    width: 65px;
    height: 20px;
}
.compratiempoflota {
    padding: 5px;
    background: #c02328;
    color: #fff;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    width: 70px;
    height: auto;
    display: block;
    position: fixed;
    top: 65px;
    right: 0;
    z-index: 1000;
}
.compratiempoflota p {
    margin: 0 auto;
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    height: auto;
    display: block;
}
.compraasientos {
    padding-top: 15px;
    width: 350px;
    height: 60px;
    position: relative;
    top: 0;
    left: 0;
}
.compraasientos h5 {
    width: 350px;
    height: 30px;
}
.compraasientos ul.asientosreserv {
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    width: auto;
    width: -moz-max-content;
    width: -webikit-max-content;
    height: 20px;
    left: 0;
}
.compraasientos ul.asientosreserv li {
    margin: 0 5px 8px 0;
    padding-top: 2px;
    font-size: .813em;
    width: 24px;
    height: 20px;
}
.mod_compra03 {
    width: 450px;
    height: auto;
}
.asientosselecc {
    width: 430px;
    height: 60px;
    position: relative;
    top: 0;
    left: 0;
}
.asientosselecc ul.asientosreserv {
    width: 430px;
    height: 30px;
}
.asientosselecc ul.asientosreserv li {
    margin: 0 5px 8px 0;
    padding-top: 2px;
    width: 24px;
    height: 20px;
}
a.btn_cambiarasiento {
    padding-top: 5px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_asientodisp.png) no-repeat right;
    color: #333;
    font-size: .813em;
    width: 135px;
    height: 25px;
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
a.btn_cambiarasiento:hover {
    text-decoration: none;
}
ul.comprainfodet {
    width: 430px;
    height: 140px;
    position: relative;
    top: 0;
    left: 8px;
}
ul.comprainfodet li {
    width: 430px;
}
ul.comprainfodet li p {
    width: 430px;
}
ul.comprainfodet li span.comprainfoboleto {
    width: 280px;
}
ul.comprainfodet li span.comprainfobalance {
    width: 130px;
}
.pagoseguro {
    width: 450px;
    height: auto;
    position: relative;
    top: 0!important;
}
.pagoseguro h5 {
    padding: 3px 10px;
    width: 430px;
    height: 24px;
}
fieldset.pagopasos {
    margin: 0 auto;
    width: 360px;
    height: 400px;
    left: 10px;
}
fieldset.pagopasos p {
    font-size: .813em;
    width: 360px;
    height: auto;
    clear: left;
}
fieldset.pagopasos p label {
    padding-top: 4px;
    width: 420px;
    height: 28px;
    float: none;
    display: block;
}
input.campopago {
    width: 300px;
}
input.campopago2 {
    width: 220px;
}
span.tc_visa, span.tc_mc, span.tc_amex, span.tc_giftcard {
    margin: 0 10px 0 5px;
    width: 40px;
    height: 20px;
}
.compranota {
    top: 20px;
    left: 10px;
}
.compranotaitem {
    width: 200px;
    height: 45px;
    display: none;
}
.compranotaitem h5 {
    width: 200px;
}
.compranotaitem p {
    margin: 0 auto;
    font-size: .750em;
    line-height: 1em;
    width: 200px;
}
.compranotaitemmedio {
    width: 200px;
    height: 75px;
    display: block;
    margin-top: 25px;
    margin-left: 50%;
    margin-right: 50%}
.compraprocesando {
    margin: 0 auto;
    width: 440px;
    height: 160px;
    position: relative;
}
.compraprocesando h5 {
    margin: 0 auto 60px;
    width: 400px;
    clear: left;
}
.compraprocesando img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: block;
}
.mod_compra05tope {
    width: 450px;
    height: 31px;
}
.mod_compra05tope .compraconfirm {
    padding: 4px 10px 0;
    font-size: 1em;
    width: auto;
    height: 27px;
    position: relative;
    float: left;
}
.mod_compra05tope .comprapasos {
    padding: 4px 10px 0;
    font-size: 1em;
    width: auto;
    height: 27px;
    display: none;
    position: relative;
    right: none;
    float: left;
}
.compraconfirmtxt {
    padding: 10px 15px;
    width: 420px;
    height: 120px;
    position: relative;
    top: 0;
}
.compraconfirmtxt .confirmtxt {
    width: 410px;
    height: auto;
    display: block;
    position: relative;
    left: 0;
}
.compraconfirmtxt .confirmtxt p {
    font-size: .750em;
    line-height: 1em;
    width: 410px;
}
.compraconfirmtxt .confirmpasos {
    width: 280px;
    height: auto;
    position: relative;
    left: 30px;
    padding-left: 110px;
    top: 20px;
}
.compraconfirmtxt .confirmpasos li {
    font-size: .750em;
    line-height: 1em;
    width: 410px;
}
.compraconfirmtxt .confirmtxtfin {
    width: 990px;
}
.compraresumen p span.resumenpeli strong {
    font-size: 1em;
}
.compraresumen {
    width: 430px;
    height: 450px;
    top: 10px;
    left: 10px;
    position: relative;
}
.compraresumen p {
    padding: 6px 10px 4px;
    font-size: .875em;
    width: 410px;
    height: 28px;
}
.compraresumen p label {
    font-size: 1em;
    font-weight: 300;
    width: 150px;
}
.compraresumeninfo {
    margin-top: 15px;
    padding: 5px;
    width: 420px;
    height: 125px;
}
.compraresumeninfo p {
    padding: 4px 0 4px;
    width: 420px;
    height: 35px;
}
.compraresumeninfo p.compraresumeninfotit {
    width: 420px;
    height: 25px;
}
.compraresumeninfo p span.titresumen {
    font-size: .8;
    width: 80px;
}
.compraresumeninfo p span.txtresumen {
    width: 80px;
}
.compravoucher {
    display: none;
}
.compraconfirmtxt2 {
    padding: 0 15px;
    width: 420px;
    height: 120px;
    position: relative;
    top: 0;
}
.compraconfirmtxt .confirmtxtfin {
    width: 420px;
    height: 65px;
}
.compraconfirmtxt .confirmtxtfin p {
    font-size: .813em;
    line-height: 1.13em;
    width: 420px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 28px;
}
.compramensaje {
    width: 410px;
    height: 410px;
    top: 0;
    left: 25px;
}
.compramensaje p {
    padding-bottom: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
a.btn_compraprocesar2, a.btn_compraprocesar2:hover {
    position: absolute;
    top: 450px;
    left: 150px;
}
.btn_compradetnext_ex {
    margin: 0 0 0 10%;
    width: 35%;
    height: 33px;
    top: 55px;
}
.mod_compra01_ex {
    width: 100%}
.compraconfirm_ex {
    width: 95%;
    padding-left: 5%;
    font-size: 16px;
}
.cont_registro label {
    font-size: 13px;
}
.cont_registro label.label_left, .cont_registro label.label_right, .cont_registro label.label_solo {
    width: 40%}
.cont_registro .input_solo, .cont_registro .input_left, .cont_registro .input_right {
    width: 54%;
    height: 30px;
    margin-right: 0;
    clear: right;
}
.cont_registro input {
    width: 54%;
    height: 30px;
}
.cont_registro_form {
    width: 80%;
    margin-left: 10%}
div.l_face, div.l_tweet, div.l_inst {
    width: 40%}
.registro_left {
    width: 80%;
    margin: 50px 10% 0 10%;
    font-size: 13px;
}
.registro_right {
    margin: 0 10% 50px 10%;
    width: 80%}
.cont_registro input[type='radio'] {
    margin-right: 0;
}
.cont_registro select {
    width: 54%;
    height: 30px;
}
.cont_registro label.lab_d {
    width: 40%}
.registro_textos {
    width: 90%;
    margin-left: 5%;
    font-size: 12px;
}
.campos_obl2 {
    font-size: 11px;
}
.registro_textos input {
    margin-right: 5px;
    width: 10px;
}
.btn_env_registro {
    width: 25%;
    margin-left: 38%}
.mensaje_registro {
    width: 95%;
    font-size: 14px;
    margin: 50px 1%}
div.l_face label, div.l_tweet label, div.l_inst label {
    display: table;
}
.contenido_acceso {
    max-width: 92%;
    margin: 50px 3% 50px 3%}
.contenido_registro {
    max-width: 92%;
    margin: 0 3% 50px 3%}
.contenido_acceso input[type="submit"] {
    padding: 10px 0 10px 35px;
    width: 200px;
    margin: 0 0 40px 26%}
.contenido_acceso input[type="email"], .contenido_acceso input[type="password"] {
    width: 90%;
    margin-left: 5%;
    height: 30px;
    margin-bottom: 15px;
}
.contenido_acceso label {
    width: 90%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 5%}
.btn_acc div {
    width: 28%;
    padding-top: 40px;
    padding-left: 0;
    font-size: 10px;
    margin-left: 0;
    padding-right: 2%;
    text-align: center;
    background-position: top center;
}
.btn_acc div.btn_acc3, .btn_acc div.btn_acc2 {
    margin-left: 4%}
.cont_contacto label {
    font-size: 16px;
}
.contacto_left {
    width: 80%;
    margin: 50px 2% 0 2%}
.contacto_right {
    width: 80%;
    margin: 0 2% 50px 2%}
.cont_contacto textarea {
    height: 100px;
}
#recaptcha_widget_div {
position: relative;
right: 0px !important;
left: 60px;
}
}