@media screen and (min-width:540px) and (max-width:599px) {
    .contenido {
    width: 520px;
}
.modulo {
    width: 510px;
}
nav.mnugris_secc {
    display:none;
}
nav.mnugris_secc ul li {
    padding-right: 20px;
    font-size: .813em;
}
nav.mnuredes {
    display: block;
}
.select_ciudad, .select_ciudad:hover {
    font-size: 1.375em;
    font-weight: 100;
    top: 45px;
    right: 3px;
}
.select_ciudad:hover {
    color: #fff;
}
.select_ciudad span, .select_ciudad:hover span {
    top: 12px;
}
h1.header_logo {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_logocu.png) no-repeat 0 -42px;
    width: 230px;
    height: 31px;
    display: block;
    position: absolute;
    top: 45px;
    left: 7px;
}
h1.header_logo a {
    width: 230px;
    height: 31px;
    display: block;
}
.mostrar-right{
    top:30px;
}
footer p {
    margin: 0 auto;
    font-size: .625em;
    text-align: center;
    width: 85%;
    height: 20px;
    display: block;
    position: relative;
    top: 25px;
}
.mod_home {
    width: 510px;
    height: 324px;
}
ul.mnu_home {
    margin-right: 0;
    margin-bottom: 1px;
    width: 510px;
    height: 100px;
    float: none;
    display: block;
}
ul.mnu_home li {
    padding-top: 20px;
    margin-bottom: 0;
    margin-right: 1px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_btnhome.png) repeat-x bottom;
    width: 169px;
    height: 80px;
    display: inline;
    float: left;
}
ul.mnu_home li:last-child {
    margin-right: 0;
    width: 169px;
}
ul.mnu_home li span.mnu_home01, ul.mnu_home li span.mnu_home02, ul.mnu_home li span.mnu_home03 {
    top: -10px;
}
ul.mnu_home li p {
    padding-top: 0;
    font-size: 1em;
    font-weight: 100;
    width: 100%;
    top: -5px;
}
.btn-menu-mobile, .btn-menu-mobile a {
  padding-top: 5px !important;
}
.mod_homecarr {
    width: 510px;
    height: 250px;
    float: none;
    display: block;
}
.mod_homecarrbase {
    width: 510px;
    height: 224px;
}
a.flant_homecarr, a.flant_homecarr:hover, a.flsig_homecarr, a.flsig_homecarr:hover {
    top: 80px;
}
ul.mod_homecarrpag {
    top: 186px;
    left: 200px;
}
.mod_peliculas, .modulo-2 {
    width: 510px;
    height: 480px;
}
.mod_peliculas ul {
    width: 510px;
    height: 478px;
    overflow: hidden;
}
.mod_peliculas ul li {
    margin: 0 6px 15px 4px;
    width: 160px;
    height: 228px;
}
.mod_peliculas ul li img, .mod_peliculas ul li a {
    width: 160px;
    height: 228px;
}
.mod_peliculas ul li a:hover, .mod_peliculas ul li a:hover img {
    width: 170px;
    height: 243px;
}
.mod_peliculas ul li:first-child {
    display: none;
}
.v_cinesj {
    height: 100%}
.v_cinesj ul {
    margin-left: auto;
    margin-right: auto;
    height: 85%}
.v_cinesj ul li {
    font-size: .9em;
    padding-top: 0;
    padding-bottom: 2px;
}
.v_cinesj2 {
    height: 100%}
.v_cinesj2 .v_horarios ul li {
    padding: 5px 10px 5px 5px;
}
.mod_lista_peliculas {
    width: 510px;
    height: auto;
    display: block;
}
.mod_lista_peliculas ul {
    width: 510px;
    overflow: hidden;
}
.mod_lista_peliculas ul li {
    margin: 0 6px 15px 4px;
    width: 160px;
    height: 228px;
}
.mod_lista_peliculas ul li img {
    width: 160px;
    height: 228px;
}
.mod_lista_peliculas ul li a {
    width: 160px;
    height: 228px;
}
.mod_titulo_pelicula {
    width: 160px;
}
.mod_titulo_pelicula h2 {
    font-family: cinesu;
    font-weight: 400;
    margin-left: 5px;
}
.mod_pelivelo {
    margin: 0 auto;
    width: 525px;
    height: 977px;
}
.mod_pelivelotop {
    width: 525px;
    height: 182px;
}
.mod_pelivelotop img.pelivelotopimg {
    width: 525px;
    height: 176px;
}
.mod_pelivelomid {
    padding: 10px 20px 0 20px;
    border-bottom: 1px solid #000;
    width: 485px;
    height: 586px;
}
.mod_pelivelomid h2 {
    padding-bottom: 10px;
    font-size: 1.750em;
    font-weight: 400;
    width: 485px;
    height: 35px;
}
.mod_pelivelomidbarra {
    width: 485px;
    height: 42px;
}
.mod_pelivelomiddias {
    width: 270px;
    height: 41px;
}
p.barra_mes {
    top: 0;
    left: 2px;
}
ul.barra_dias {
    width: 205px;
    height: 41px;
    float: left;
}
ul.barra_dias li {
    font-size: .875em;
    width: 29px;
    height: 41px;
}
ul.barra_dias li a {
    width: 29px;
    height: 38px;
}
ul.barra_dias li a:hover, ul.barra_dias li.barradia_act a {
    padding-top: 3px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barradiaselect.jpg) no-repeat;
    color: #fff;
    width: 29px;
    height: 38px;
    display: block;
}
ul.barra_dias li.barradia_act a {
    cursor: default;
}
.mod_pelivelomidtipo {
    padding-top: 12px;
    font-size: .875em;
    font-weight: 100;
    width: 235px;
    height: 29px;
}
.mod_pelivelomidbox {
    padding: 0 10px 0;
    width: 465px;
    height: 498px;
}
ul.mod_pelivelomidlist {
    width: 465px;
    height: 370px;
}
ul.mod_pelivelomidlist li {
    padding: 7px 0 0;
    font-size: .813em;
    width: 465px;
    height: 46px;
}
ul.mod_pelivelomidlist li:first-child {
    padding: 10px 0 0;
    font-size: .688em;
    width: 465px;
    height: 35px;
}
ul.mod_pelivelomidlist li a, ul.mod_pelivelomidlist li a:hover {
    padding: 0 5px;
    color: #000;
    border-right: 1px solid;
    display: block;
    float: left;
}
ul.mod_pelivelomidlist li a:hover {
    color: #666;
}
ul.mod_pelivelomidlist li span.ciudad {
    padding-left: 5px;
    width: 360px;
}
ul.mod_pelivelomidlist li span.hora {
    width: 365px;
}
ul.mod_pelivelomidlist li span.sala {
    width: 50px;
}
ul.mod_pelivelomidlist li span.censura {
    width: 50px;
}
.mod_pelivelofin {
    padding-top: 20px;
    width: 525px;
    height: 178px;
}
ul.mod_pelivelofinlist {
    width: 500px;
    height: 168px;
    left: 5px;
    overflow: hidden;
}
ul.mod_pelivelofinlist li {
    margin: 0 0 15px 16px;
    width: 110px;
    height: 157px;
}
ul.mod_pelivelofinlist li img {
    width: 110px;
    height: 157px;
}
ul.mod_pelivelofinlist li a:hover, ul.mod_pelivelofinlist li a:hover img {
    width: 118px;
    height: 168px;
}
ul.mod_pelivelofinlist li:first-child {
    margin-left: 0;
}
#map {
    zoom: 65%}
.mod_salas {
    width: 510px;
    height: 1650px;
}
a.select_salas, a.select_salas:hover {
    width: 510px;
}
ul.mod_salapelilist {
    width: 490px;
    height: auto;
    display: block;
    float: left;
    position: relative;
    top: 55px;
    left: 10px;
}
ul.mod_salapelilist li {
    padding: 5px 0 0;
    font-size: .813em;
    font-weight: 500;
    width: 490px;
    height: auto;
    border-bottom: 1px solid #ccc;
    display: inline-block;
}
ul.mod_salapelilist li:first-child {
    padding: 0;
    font-size: .688em;
    font-weight: 700;
    width: 490px;
    height: 35px;
    border-bottom: 1px solid #ccc;
    display: block;
}
ul.mod_salapelilist li a {
    padding: 0 7px;
    color: #000;
    border-right: 1px solid;
    display: block;
    float: left;
}
ul.mod_salapelilist li a:hover {
    padding: 0 7px;
    color: #666;
    border-right: 1px solid;
    display: block;
    float: left;
}
ul.mod_salapelilist li span.peli {
    width: 440px;
    float: left;
    padding-left: 7px;
    padding-bottom: 3px;
}
ul.mod_salapelilist li span.hora {
    width: 440px;
    float: left;
    text-transform: uppercase;
}
ul.mod_salapelilist li span.censura {
    text align: center;
    width: 50px;
    float: left;
}
.mod_salasinfo {
    margin-right: 10px;
    width: 490px;
    height: auto;
    display: block;
    float: right;
    position: relative;
    top: 70px;
}
ul.mod_salapeliico {
    width: 170px;
    height: 210px;
    display: block;
    position: absolute;
    right: 0;
}
.mod_salasmapa {
    margin: 0;
    background: #fff;
    border: 1px solid #999;
    padding: 10px;
    width: 288px;
    height: 216px;
    display: block;
    position: absolute;
    left: 0;
}
.mod_salasmapa img {
    width: 288px;
    height: 216px;
    display: block;
}
.mod_salasdir {
    width: 490px;
    height: auto;
    display: block;
    position: absolute;
    top: 255px;
}
.mod_salasdir p {
    padding-bottom: 5px;
    font-size: .750em;
    line-height: 1em;
    font-weight: 100;
    width: 490px;
    height: auto;
    float: left;
}
ul.mnu_salasciudad {
    z-index: 99999;
    background: 0;
    height: auto;
    top: 60px;
    left: 340px;
    width: 170px;
    display: block;
    border: 1px solid #333;
    background-color: #FFF;
    display: none;
}
ul.mnu_salasciudad li {
    display: block;
}
ul.mnu_salasciudad li:hover {
    border-right: 0;
}
ul.mnu_salasciudad li a, ul.mnu_salasciudad li a:hover {
    border-right: 0;
    width: 150px;
    padding-right: 0;
}
ul.mnu_salasciudad li.mnu_salasciudadact a {
    width: 150px;
    padding-right: 0;
}
ul.mnu_salasciudad li.mnu_salasciudadact a:hover {
    border: 0;
}
.mod_salas nav {
    position: relative;
}
.mod_compra01 {
    width: 510px;
    height: auto;
}
.mod_compra01tope {
    padding: 5px 10px;
    width: 490px;
    height: 90px;
    background-repeat: repeat;
}
.mod_compra01tope .pelidatos {
    padding-top: 2px;
    width: 400px;
    height: 20px;
}
.mod_compra01tope .pelidatos p {
    font-size: .813em;
    line-height: 1em;
    padding-right: 5px;
    width: 80px;
    display: inline;
    left: 0;
    border-right: 1px solid #fff;
    margin-right: 3px;
}
.mod_compra01tope .pelidatos span {
    font-size: 1.125em;
    font-weight: 500;
    color: #fff;
    width: 20px;
    height: 21px;
    right: none;
    top: 2px;
    left: 280px;
}
.mod_compra01tope .pelinombre {
    width: 490px;
    height: 55px;
    top: 10px;
}
.mod_compra01tope .pelinombre p.pelinombretit {
    font-size: 1em;
    width: 488px;
    top: 3px;
    left: 10px;
}
.mod_compra01tope .pelinombre p.pelinombrefecha {
    font-size: .875em;
    top: 33px;
    left: 10px;
}
.mod_compra01tope .pelinombre p.pelinombrelugar {
    font-size: .875em;
    font-weight: 200;
    top: 33px;
    right: 10px;
}
.mod_compra01tope .peliasientos {
    padding: 0;
    width: 186px;
    height: 22px;
    position: absolute;
    top: 9px;
    left: 315px;
}
.mod_compra01tope .peliasientos p {
    padding-left: 22px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_asientodisp1.png) no-repeat -30px 0;
    font-size: .813em;
    width: 165px;
    height: 30px;
    top: 2px;
    left: 8px;
}
.mod_compra01tope .peliasientos p span {
    font-weight: 600;
}
.mod_compra01info {
    width: 510px;
    height: auto;
    position: relative;
    top: 10px;
    left: 00px;
}
ul.comprainfo {
    width: 490px;
    height: 450px;
    left: 10px;
}
ul.comprainfo li {
    font-size: .813em;
    width: 490px;
}
ul.comprainfo li p {
    width: 490px;
}
ul.comprainfo li:first-child {
    font-size: .813em;
    height: 60px;
    top: 0;
}
ul.comprainfo li:first-child span.comprainfocant {
    width: 145px;
    position: relative;
    top: 0;
}
ul.comprainfo li.comprainfo1, ul.comprainfo li.comprainfo2, ul.comprainfo li.comprainfo3 {
    padding-top: 5px;
    font-weight: 300;
    border-bottom: 1px solid #333;
    height: 40px;
    background: #e4e6e5;
}
ul.comprainfo li.comprainfo1 {
    height: 44px;
    background: 0;
}
ul.comprainfo li.comprainfo3 {
    padding-top: 8px;
    font-size: .813em;
}
ul.comprainfo li span.comprainfotipo {
    padding-right: 25px;
    width: 150px;
}
ul.comprainfo li span.comprainfotipo img {
    top: 0;
}
ul.comprainfo li span.comprainfomonto {
    margin-right: 0;
    width: 125px;
    top: 0;
}
ul.comprainfo li span.comprainfocant {
    padding-left: 0;
    width: 120px;
    float: right;
    top: 0;
}
ul.comprainfo li span.comprainfoboleto {
    width: 330px;
    height: auto;
}
ul.comprainfo li span.comprainfobalance {
    margin: 0 5px;
    width: 140px;
    height: auto;
    float: left;
    position: relative;
}
.mod_compra01det {
    background: 0;
    width: 510px;
    height: 260px;
    position: relative;
    top: 40px;
}
.mod_compra01det .compradet {
    margin: 0 auto;
    background: 0;
    width: 490px;
    height: auto;
}
.compradetbox, .compradetbox1 {
    display: none;
}
.compradetbox h4 {
    padding-top: 0;
    width: 482px;
    height: 25px;
}
.compradetbox h5 {
    padding-top: 7px;
    width: 482px;
    height: 30px;
}
.compradetboxint {
    padding-top: 10px;
    width: 482px;
    height: 140px;
}
.compradetboxint p {
    font-size: .875em;
    width: 482px;
}
.compradetboxint p span {
    width: 240px;
}
a.btn_compradetnext, a.btn_compradetnext:hover {
    top: 10px;
    left: 0;
}
.btn_compradetnext2, .btn_compradetnext2:hover {
    position: absolute;
    top: 100px;
    left: 100px;
}
.compradetbox2 {
    margin: 5px auto;
    padding: 5px 10px;
    background: #e4e6e5;
    color: #000;
    width: 472px;
    height: 120px;
    display: block;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    positio: relative;
}
.compradetbox2 p {
    padding: 4px 10px 4px;
    border-bottom: 1px dotted #333;
    font-size: 1.2em;
    width: 452px;
    height: 30px;
    display: block;
}
.compradetbox2 p.compraresumeninfotit {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
    background-color: #c02328;
}
.compradetbox2 p span.titresumen {
    text-align: center;
    font-weight: 600;
    font-size: .56em;
    line-height: 1em;
    text-transform: uppercase;
    width: 90px;
    height: auto;
    float: left;
}
.compradetbox2 p span.txtresumen {
    text-align: center;
    font-weight: 300;
    font-size: .625em;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 90px;
    height: auto;
    float: left;
    position: relative;
    top: 0;
}
.mod_compra02 {
    width: 510px;
    height: auto;
}
.mod_compra02tope {
    font-size: .938em;
    width: 510px;
    height: 65px;
}
.comprabarrapeli, .comprabarracine, .comprabarrafecha {
    padding: 4px 10px 0;
    background: 0;
    color: #333;
    font-size: .813em;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    top: 40px;
    height: 21px;
}
.comprabarrapeli {
    padding: 6px 10px 0;
    font-size: 1.125em;
    width: 490px;
    height: 34px;
    color: #fff;
    background: #c02328;
    top: 0;
    text-align: left;
}
.comprabarracine {
    border-right: 1px solid #999;
    width: 159px;
    right: 345px;
}
.comprabarrafecha {
    width: 410px;
    right: 0;
}
.asientositems {
    width: 490px;
    height: 360px;
    display: block;
    position: relative;
    top: 20px;
    left: 0;
    overflow-y: hidden;
    margin-left: 18px;
}
.salaleyenda {
    margin: 0 auto;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_salaleyenda.png) no-repeat 0 -300px;
    width: 440px;
    height: 80px;
    display: block;
    top: 0;
    left: 0;
    margin: 0 auto 35px;
}
.mod_compra02det {
    background: 0;
    width: 510px;
    height: 330px;
    top: 20px;
    right: 0;
    position: relative;
}
.compratiempo {
    background: transparent;
    width: 50px;
    height: 14px;
    float: right;
    background-color: #c02328;
    position: fixed;
    top: 40px;
}
.compratiempo p {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/crono-cu-icon.png)no-repeat 0 2px;
    margin: 0 auto;
    font-size: 14px;
    padding-top: 0;
    width: 65px;
    height: 20px;
}
.compratiempoflota {
    padding: 5px;
    background: #c02328;
    color: #fff;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    width: 70px;
    height: auto;
    display: block;
    position: fixed;
    top: 65px;
    right: 0;
    z-index: 1000;
}
.compratiempoflota p {
    margin: 0 auto;
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    height: auto;
    display: block;
}
.compraasientos {
    width: 300px;
    height: 200px;
    position: relative;
    left: 0;
    top: 0;
}
.compraasientos h5 {
    width: 300px;
    height: 35px;
}
.compraasientos ul.asientosreserv {
    margin: 0 auto;
    padding: 0 10px;
    width: auto;
    height: 40px;
    display: block;
    position: relative;
}
.compraasientos ul.asientosreserv li {
    margin: 0 5px 12px 0;
    padding-top: 4px;
    font-size: .813em;
    width: 28px;
    height: 24px;
}
.mod_compra03 {
    width: 510px;
    height: auto;
}
.asientosselecc {
    padding: 5px 10px;
    width: 490px;
    height: 60px;
    position: relative;
    top: 0;
}
.asientosselecc ul.asientosreserv {
    width: 500px;
    height: 30px;
}
.asientosselecc ul.asientosreserv li {
    padding-top: 4px;
    width: 28px;
    height: 22px;
}
ul.comprainfodet {
    width: 500px;
    height: 140px;
    top: 0;
    left: 8px;
}
ul.comprainfodet li {
    width: 490px;
}
ul.comprainfodet li p {
    width: 490px;
}
ul.comprainfodet li span.comprainfoboleto {
    width: 340px;
}
ul.comprainfodet li span.comprainfobalance {
    width: 130px;
}
.pagoseguro {
    width: 510px;
    top: 0!important;
    position: relative;
    margin-bottom: 50px;
}
.pagoseguro h5 {
    padding: 3px 10px;
    width: 490px;
    height: 24px;
}
fieldset.pagopasos {
    width: 490px;
    height: 400px;
    left: 0;
}
fieldset.pagopasos p {
    font-size: .813em;
    width: 400px;
    height: auto;
    clear: left;
    margin-left: auto;
    margin-right: auto;
}
fieldset.pagopasos p label {
    padding-top: 4px;
    width: 490px;
    height: 28px;
    float: none;
    display: block;
}
input.campopago {
    width: 300px;
    height: 28px;
}
input.campopago2 {
    width: 222px;
}
span.tc_visa, span.tc_mc, span.tc_amex, span.tc_giftcard {
    margin: 0 10px 0 5px;
}
.compranota {
    position: relative;
    top: 10px;
    left: 0;
}
.compranotaitem {
    width: 250px;
    height: 45px;
    display: none;
}
.compranotaitem h5 {
    width: 300px;
}
.compranotaitem p {
    margin: 0 auto;
    font-size: .750em;
    line-height: 1em;
    width: 250px;
}
.compranotaitemmedio {
    margin: 0 auto;
    width: 250px;
    height: 75px;
    position: relative;
    display: block;
}
.compraprocesando {
    margin: 0 auto;
    color: #000;
    width: 500px;
    height: 160px;
    position: relative;
}
.compraprocesando h5 {
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
    width: 500px;
    height: 24px;
    display: block;
    position: relative;
    clear: left;
}
.compraprocesando img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: block;
}
.mod_compra05tope {
    width: 510px;
    height: 31px;
}
.mod_compra05tope .compraconfirm {
    padding: 4px 10px 0;
    font-size: 1em;
    width: auto;
    height: 27px;
    position: relative;
    float: left;
}
.mod_compra05tope .comprapasos {
    padding: 4px 10px 0;
    font-size: 1em;
    width: auto;
    height: 27px;
    display: none;
    position: relative;
    right: none;
    float: left;
}
.compraconfirmtxt {
    width: 480px;
    height: 55px;
}
.compraconfirmtxt .confirmtxt {
    width: 480px;
    height: auto;
    position: relative;
    left: 0;
}
.compraconfirmtxt .confirmtxt p {
    font-size: .813em;
    line-height: 1em;
    width: 480px;
}
.compraconfirmtxt .confirmpasos {
    width: 280px;
    height: auto;
    position: relative;
    left: 30px;
    right: none;
    top: 20px;
}
.compraconfirmtxt .confirmpasos li {
    font-size: .813em;
    line-height: 1em;
    width: 480px;
    float: left;
}
.compraconfirmtxt .confirmtxtfin {
    width: 990px;
    height: 65px;
}
.compraresumen {
    width: 500px;
    height: 530px;
    top: 50px;
    left: 10px;
}
.compraresumen p {
    font-size: .875em;
    width: 470px;
    height: 30px;
    display: table;
}
.compraresumen p label {
    font-size: 1em;
    width: 200px;
}
.compraresumeninfo {
    padding: 5px;
    width: 480px;
    height: 125px;
}
.compraresumeninfo p {
    padding: 4px 0 4px;
    width: 480px;
    height: 35px;
}
.compraresumeninfo p.compraresumeninfotit {
    width: 480px;
    height: 25px;
}
.compraresumeninfo p span.titresumen, .compraresumeninfo p span.txtresumen {
    width: 95px;
    font-size: .8em;
}
.compravoucher {
    display: none;
}
.compraconfirmtxt {
    padding: 5px 15px;
    width: 480px;
    height: 110px;
    display: block;
    border-bottom: 1px solid #333;
    position: relative;
    top: 0;
}
.compraconfirmtxt .confirmtxtfin {
    width: 480px;
    height: 65px;
    top: 10px;
}
.compraconfirmtxt .confirmtxtfin p {
    line-height: 1.125em;
    width: 480px;
}
.compramensaje {
    width: 470px;
    height: 400px;
    top: 10px;
    left: 10px;
    margin-left: auto;
    margin-right: auto;
}
.compramensaje p {
    padding-bottom: 10px;
    font-size: 1em;
    width: 410px;
}
a.btn_compraprocesar {
    margin: 0 auto 5px;
}
a.btn_compraprocesar2 {
    position: absolute;
    top: 480px;
    left: 180px;
}
a.btn_compraprocesar2:hover {
    position: absolute;
    top: 480px;
    left: 180px;
}
.btn_compradetnext_ex {
    margin: 0 0 0 10%;
    width: 35%;
    height: 33px;
    top: 55px;
}
.mod_compra01_ex {
    width: 100%}
.compraconfirm_ex {
    width: 95%;
    padding-left: 5%;
    font-size: 16px;
}
.cont_registro label {
    font-size: 13px;
}
.cont_registro label.label_left, .cont_registro label.label_right, .cont_registro label.label_solo {
    width: 40%}
.cont_registro .input_solo, .cont_registro .input_left, .cont_registro .input_right {
    width: 54%;
    height: 30px;
    margin-right: 0;
    clear: right;
}
.cont_registro input {
    width: 54%;
    height: 30px;
}
.cont_registro_form {
    width: 80%;
    margin-left: 10%}
div.l_face, div.l_tweet, div.l_inst {
    width: 40%}
.registro_left {
    width: 80%;
    margin: 50px 10% 0 10%;
    font-size: 13px;
}
.registro_right {
    margin: 0 10% 50px 10%;
    width: 80%}
.cont_registro input[type='radio'] {
    margin-right: 0;
}
.cont_registro select {
    width: 54%;
    height: 30px;
}
.cont_registro label.lab_d {
    width: 40%}
.registro_textos {
    width: 90%;
    margin-left: 5%;
    font-size: 12px;
}
.campos_obl2 {
    font-size: 11px;
}
.registro_textos input {
    margin-right: 5px;
    width: 10px;
}
.btn_env_registro {
    width: 25%;
    margin-left: 38%}
.mensaje_registro {
    width: 95%;
    font-size: 14px;
    margin: 50px 1%}
div.l_face label, div.l_tweet label, div.l_inst label {
    display: table;
}
.contenido_acceso {
    max-width: 92%;
    margin: 50px 3% 50px 3%}
.contenido_registro {
    max-width: 92%;
    margin: 0 3% 50px 3%}
.contenido_acceso input[type="submit"] {
    padding: 10px 0 10px 35px;
    width: 200px;
    margin: 0 0 40px 26%}
.contenido_acceso input[type="email"], .contenido_acceso input[type="password"] {
    width: 90%;
    margin-left: 5%;
    height: 30px;
    margin-bottom: 15px;
}
.contenido_acceso label {
    width: 90%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 5%}
.btn_acc div {
    width: 28%;
    padding-top: 40px;
    padding-left: 0;
    font-size: 10px;
    margin-left: 1%;
    padding-right: 2%;
    text-align: center;
    background-position: top center;
}
.btn_acc div.btn_acc3, .btn_acc div.btn_acc2 {
    margin-left: 4%}
.registrarse {
    width: 150px;
    margin: 40px auto 0 auto;
}
.cont_contacto label {
    font-size: 16px;
}
.contacto_left {
    width: 80%;
    margin: 50px 2% 0 2%}
.contacto_right {
    width: 80%;
    margin: 0 2% 50px 2%}
.cont_contacto textarea {
    height: 100px;
}
}