@media screen and (min-width:600px) and (max-width:639px) {
    .contenido {
    width: 580px;
}
.modulo {
    padding: 10px 5px;
    width: 570px;
}
nav.mnugris_secc{
    display:none;
}
.btn-menu-mobile, .btn-menu-mobile a{
        padding-top: 4px;
    }
nav.mnugris_secc ul {
    display: inline;
    position: relative;
}
nav.mnugris_secc ul li {
    padding-right: 20px;
    font-size: .813em;
}
nav.mnugris_secc ul li a {
    background: 0;
    color: #e4e6e5;
}
.mostrar-right ul li a{
    color: #c02328 !important;
    font-size: 1.1em;
}
.mostrar-right{
        margin-top: 25px;
    }
.select_ciudad, .select_ciudad:hover {
    color: #e4e6e5;
    font-size: 1.375em;
    top: 45px;
}
.select_ciudad:hover {
    color: #fff;
}
.select_ciudad span, .select_ciudad:hover span {
    top: 12px;
}
.ul.barra_dias li{
   width: 5.5% !important;
}
footer p {
    margin: 0 auto;
    font-size: .625em;
    text-align: center;
    width: 96%;
    height: 20px;
    display: block;
    position: relative;
    top: 27px;
}
.mod_home {
    width: 570px;
    height: 355px;
}
ul.mnu_home {
    margin-right: 0;
    margin-bottom: 1px;
    width: 570px;
    height: 100px;
    float: none;
}
ul.mnu_home li {
    padding-top: 20px;
    margin-bottom: 0;
    margin-right: 1px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_btnhome.png) repeat-x bottom;
    width: 189px;
    height: 80px;
    display: inline;
    float: left;
}
ul.mnu_home li:last-child {
    margin-right: 0;
    width: 189px;
}
ul.mnu_home li span.mnu_home01, ul.mnu_home li span.mnu_home02, ul.mnu_home li span.mnu_home03 {
    top: -10px;
}
ul.mnu_home li p {
    padding-top: 0;
    font-size: 1em;
    top: -5px;
}
.mod_homecarr {
    width: 570px;
    height: 270px;
    float: none;
}
.mod_homecarrbase {
    width: 570px;
    height: 251px;
}
a.flant_homecarr, a.flant_homecarr:hover, a.flsig_homecarr, a.flsig_homecarr:hover {
    top: 95px;
}
ul.mod_homecarrpag {
    top: 220px;
    left: 230px;
}
.barra_peli_detalle {
    max-width: 568px;
    border-right: 0;
}
.cont_detalle_peli {
    max-width: 567px;
    padding-right: 0;
}
.texto_det_peli {
    padding: 10px;
}
.texto_det_peli p {
    font-size: .83em;
}
.cont_det_peli {
    max-width: 562px;
    padding: 0;
    display: block;
    width: 100%;
    padding-right: .25em;
}
.mod_peliculas, .mod_peliculas ul, .modulo-2 {
    width: 570px;
    height: 520px;
}
.mod_peliculas ul {
    overflow: hidden;
}
.mod_peliculas ul li {
    margin: 0 8px 15px 7px;
}
.mod_peliculas ul li:first-child {
    display: none;
}
.mod_lista_peliculas {
    width: 570px;
    height: auto;
    display: block;
}
.mod_lista_peliculas ul {
    width: 570px;
    overflow: hidden;
}
.mod_lista_peliculas ul li {
    margin: 0 8px 40px 7px;
    width: 175px;
    height: 250px;
}
.mod_lista_peliculas ul li a {
    width: 175px;
    height: 250px;
}
.mod_lista_peliculas ul li img {
    width: 175px;
    height: 250px;
    display: block;
}
.mod_titulo_pelicula {
    width: 175px;
}
.mod_titulo_pelicula h2 {
    color: #c02328;
    font-family: cinesu;
    font-weight: 400;
}
.v_cinesj {
    height: 100%}
.v_cinesj ul {
    margin-left: auto;
    margin-right: auto;
    height: 86%}
.v_cinesj ul li {
    margin-right: 5px;
    width: 95%}
.mod_pelivelo {
    margin: 15px auto 0;
    width: 585px;
    height: 1016px;
}
.mod_pelivelotop {
    width: 585px;
    height: 204px;
}
.mod_pelivelotop img.pelivelotopimg {
    width: 585px;
    height: 196px;
    top: 0;
}
.mod_pelivelomid {
    padding: 10px 20px 0 20px;
    border-bottom: 1px solid #000;
    width: 545px;
    height: 586px;
}
.mod_pelivelomid h2 {
    padding-bottom: 10px;
    font-size: 1.750em;
    width: 545px;
    height: 35px;
}
.mod_pelivelomidbarra {
    width: 545px;
    height: 42px;
}
.mod_pelivelomidtipo {
    padding-top: 12px;
    font-size: .875em;
    width: 325px;
    height: 29px;
}
.mod_pelivelomidbox {
    padding: 0 10px 0;
    width: 525px;
    height: 498px;
}
ul.mod_pelivelomidlist {
    width: 525px;
    height: 370px;
}
ul.mod_pelivelomidlist li {
    padding: 7px 0 0;
    font-size: .813em;
    width: 525px;
    height: 46px;
}
ul.mod_pelivelomidlist li:first-child {
    font-size: .688em;
    width: 525px;
    height: 35px;
}
ul.mod_pelivelomidlist li span.ciudad {
    padding-left: 5px;
    width: 395px;
}
ul.mod_pelivelomidlist li span.hora {
    width: 400px;
}
ul.mod_pelivelomidlist li span.sala, ul.mod_pelivelomidlist li span.censura {
    width: 60px;
}
.mod_pelivelofin {
    padding-top: 20px;
    width: 585px;
    height: 194px;
}
ul.mod_pelivelofinlist {
    margin: 0 auto;
    width: 560px;
    height: 178px;
    left: 5px;
    overflow: hidden;
}
ul.mod_pelivelofinlist li {
    margin: 0 0 15px 22px;
    width: 120px;
    height: 171px;
}
ul.mod_pelivelofinlist li img {
    width: 120px;
    height: 171px;
}
ul.mod_pelivelofinlist li a:hover, ul.mod_pelivelofinlist li a:hover img {
    width: 128px;
    height: 183px;
}
.ptitulo_estrenos h2 {
    font-size: 1.1em;
}
.art_estrenosli {
    width: 568px;
}
.img_estrenos {
    float: left;
}
.fecha_estreno {
    width: 183px;
    float: left;
}
.izq_estrenos {
    max-width: 373px;
}
.contenido_estrenos {
    width: 31%;
    border: 0;
    float: left;
}
.mod_salas {
    width: 570px;
    height: 1650px;
}
.horarios_censura {
    width: 97%;
    margin-left: 2%}
a.select_salas {
    padding-top: 4px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    color: #333;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    width: 570px;
    height: 27px;
    display: block;
    position: absolute;
}
a.select_salas:hover {
    padding-top: 4px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    color: #a21e23;
    border-bottom: 1px solid #000;
    width: 570px;
    height: 27px;
    display: block;
    position: absolute;
}
a.select_salas span {
    margin-left: 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat top;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: relative;
    top: 7px;
    right: 10px;
}
a.select_salas:hover span {
    margin-left: 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat bottom;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: relative;
    top: 7px;
    right: 10px;
}
ul.mod_salapelilist {
    width: 550px;
    top: 55px;
    left: 10px;
}
ul.mod_salapelilist li {
    padding: 5px 0 0;
    font-size: .813em;
    font-weight: 500;
    width: 550px;
    height: auto;
    display: inline-block;
}
ul.mod_salapelilist li:first-child {
    padding: 0;
    font-size: .688em;
    width: 550px;
    height: 35px;
}
ul.mod_salapelilist li a, ul.mod_salapelilist li a:hover {
    padding: 0 7px;
    border-right: 1px solid;
}
ul.mod_salapelilist li span.peli, ul.mod_salapelilist li span.hora {
    width: 500px;
}
ul.mod_salapelilist li span.peli {
    padding-left: 7px;
    padding-bottom: 3px;
}
ul.mod_salapelilist li span.censura {
    width: 50px;
}
.mod_salasinfo {
    margin-right: 10px;
    width: 550px;
    top: 70px;
}
ul.mod_salapeliico {
    width: 210px;
    height: 210px;
    position: absolute;
    right: 0;
}
.mod_salasmapa {
    margin: 0;
    width: 288px;
    height: 216px;
    position: absolute;
    left: 0;
}
.mod_salasmapa img {
    width: 288px;
    height: 216px;
}
.mod_salasdir {
    width: 550px;
    position: absolute;
    top: 255px;
}
.mod_salasdir p {
    padding-bottom: 5px;
    font-size: .750em;
    line-height: 1em;
    width: 550px;
}
ul.mnu_salasciudad {
    z-index: 99999;
    background: 0;
    height: auto;
    top: 60px;
    left: 400px;
    width: 170px;
    display: block;
    border: 1px solid #333;
    background-color: #FFF;
    display: none;
}
ul.mnu_salasciudad li {
    display: block;
}
ul.mnu_salasciudad li:hover {
    border-right: 0;
}
ul.mnu_salasciudad li a, ul.mnu_salasciudad li a:hover {
    border-right: 0;
    width: 150px;
    padding-right: 0;
}
ul.mnu_salasciudad li.mnu_salasciudadact a {
    width: 150px;
    padding-right: 0;
}
ul.mnu_salasciudad li.mnu_salasciudadact a:hover {
    border: 0;
}
.mod_salas nav {
    position: relative;
}
.mod_compra01 {
    width: 570px;
    height: auto;
}
.mod_compra01tope {
    width: 550px;
    height: 90px;
    background-repeat: repeat;
}
.mod_compra01tope .pelidatos {
    padding-top: 2px;
    width: 400px;
    height: 20px;
}
.mod_compra01tope .pelidatos p {
    font-size: .875em;
    line-height: 1em;
    padding-right: 5px;
    width: 90px;
    height: auto;
    display: inline;
    border-right: 1px solid #fff;
    margin-left: 3px;
}
.mod_compra01tope .pelidatos span {
    font-size: 1.125em;
    font-weight: 500;
    color: #fff;
    width: 20px;
    height: 21px;
    right: none;
    top: 2px;
    left: 340px;
}
.mod_compra01tope .pelinombre {
    width: 550px;
    height: 55px;
    top: 10px;
}
.mod_compra01tope .pelinombre p.pelinombretit {
    font-size: 1.25em;
    top: 0;
    left: 10px;
}
.mod_compra01tope .pelinombre p.pelinombrefecha {
    top: 30px;
    left: 10px;
}
.mod_compra01tope .pelinombre p.pelinombrelugar {
    top: 30px;
    right: 10px;
}
.mod_compra01tope .peliasientos {
    padding: 0;
    width: 186px;
    height: 22px;
    position: absolute;
    top: 9px;
    left: 375px;
}
.mod_compra01tope .peliasientos p {
    padding-left: 22px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_asientodisp1.png) no-repeat -30px 0;
    font-size: .813em;
    width: 165px;
    height: 30px;
    top: 2px;
    left: 8px;
}
.mod_compra01info {
    width: 570px;
    height: 450px;
    top: 10px;
    left: 0;
    position: relative;
}
ul.comprainfo {
    background: 0;
    color: #000;
    width: 550px;
    height: 450px;
    left: 10px;
}
ul.comprainfo li {
    font-size: .875em;
    width: 550px;
}
ul.comprainfo li p {
    width: 550px;
}
ul.comprainfo li:first-child {
    font-size: .813em;
    height: 55px;
    top: 0;
}
ul.comprainfo li:first-child span.comprainfocant {
    width: 145px;
    position: relative;
    top: 0;
}
ul.comprainfo li.comprainfo1 {
    height: 44px;
}
ul.comprainfo li.comprainfo2 {
    padding-top: 5px;
    height: 40px;
}
ul.comprainfo li.comprainfo3 {
    height: 40px;
}
ul.comprainfo li span.comprainfotipo {
    padding-right: 25px;
    width: 180px;
}
ul.comprainfo li span.comprainfomonto {
    width: 175px;
    top: 0;
}
ul.comprainfo li span.comprainfocant {
    padding-left: 20px;
    width: 120px;
    float: right;
    top: 0;
}
ul.comprainfo li span.comprainfoboleto {
    width: 390px;
}
ul.comprainfo li span.comprainfobalance {
    margin: 0 5px;
    width: 140px;
    height: auto;
    float: left;
    position: relative;
}
input.campoentrada {
    text-align: center;
}
.mod_compra01det {
    background: 0;
    width: 570px;
    height: 260px;
    position: relative;
    top: 30px;
    right: 0;
}
.mod_compra01det .compradet {
    margin: 0 auto;
    background: 0;
    width: 550px;
    height: auto;
}
.compradetbox, .compradetbox1 {
    display: none;
}
.compradetbox h4 {
    padding-top: 0;
    width: 542px;
    height: 25px;
}
.compradetbox h5 {
    padding-top: 7px;
    width: 542px;
    height: 30px;
}
.compradetboxint {
    padding-top: 10px;
    width: 542px;
    height: 140px;
}
.compradetboxint p {
    font-size: .875em;
    width: 582px;
}
.compradetboxint p span {
    width: 270px;
    height: auto;
}
a.btn_compradetnext, a.btn_compradetnext:hover {
    left: 0;
}
a.btn_compradetnext:hover {
    background: #414141;
}
.btn_compradetnext2, .btn_compradetnext2:hover {
    position: absolute;
    top: 105px;
    left: 95px;
}
.compradetbox2 {
    margin: 5px auto;
    padding: 5px 10px;
    background: #e4e6e5;
    color: #000;
    width: 530px;
    height: 110px;
    display: block;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    positio: relative;
}
.compradetbox2 p {
    padding: 4px 15px 4px;
    border-bottom: 1px dotted #333;
    font-size: 1.2em;
    width: 500px;
    height: 25px;
    display: block;
}
.compradetbox2 p.compraresumeninfotit {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
    background-color: #c02328;
}
.compradetbox2 p span.titresumen {
    text-align: center;
    font-weight: 600;
    font-size: .625em;
    line-height: 1em;
    text-transform: uppercase;
    width: 100px;
    height: auto;
    float: left;
}
.compradetbox2 p span.txtresumen {
    text-align: center;
    font-weight: 300;
    font-size: .625em;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 100px;
    height: auto;
    float: left;
    position: relative;
    top: 0;
}
.mod_compra02 {
    width: 570px;
    height: auto;
}
.mod_compra02tope {
    font-size: .938em;
    width: 570px;
    height: 65px;
}
.comprabarrapeli, .comprabarracine, .comprabarrafecha {
    padding: 4px 10px 0;
    background: 0;
    color: #333;
    font-size: .938em;
    font-weight: 300;
}
.comprabarrapeli {
    background: #c02328;
    color: #fff;
    font-size: 1.125em;
    width: 550px;
    height: 30px;
    left: 0;
}
.comprabarracine {
    text-align: right;
    width: 159px;
    height: 27px;
    top: 34px;
    right: 345px;
}
.comprabarrafecha {
    width: 410px;
    height: 27px;
    top: 34px;
    right: 0;
}
#map {
    zoom: 80%}
.asientositems {
    width: 550px;
    height: 360px;
    top: 10px;
    left: 0;
    margin-left: 18px;
}
.salaleyenda {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_salaleyenda.png) no-repeat 0 -220px;
    width: 540px;
    height: 80px;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto 30px;
}
.mod_compra02det {
    background: 0;
    color: #fff;
    width: 570px;
    height: 340px;
    position: relative;
    top: 30px;
}
.compratiempo {
    background: transparent;
    width: 50px;
    height: 14px;
    float: right;
    background-color: #c02328;
    position: fixed;
    top: 41px;
}
.compratiempo p {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/crono-cu-icon.png)no-repeat 0 2px;
    margin: 0 auto;
    font-size: 14px;
    padding-top: 0;
    width: 65px;
    height: 20px;
}
.compratiempoflota {
    padding: 5px;
    background: #c02328;
    color: #fff;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    width: 150px;
    height: auto;
    display: block;
    position: fixed;
    top: 103px;
    right: 0;
    z-index: 1000;
}
.compratiempoflota p {
    margin: 0 auto;
    color: #fff;
    font-size: 1em;
    line-height: 1.125em;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
    height: auto;
    display: block;
}
.compraasientos {
    width: 350px;
    height: 70px;
    position: relative;
    top: 0;
    left: 10px;
}
.compraasientos h5 {
    width: 350px;
    height: 35px;
}
.compraasientos ul.asientosreserv {
    margin: 0 auto;
    padding: 0 10px;
    width: auto;
    height: 40px;
}
.compraasientos ul.asientosreserv li {
    margin: 0 7px 12px 0;
    padding-top: 4px;
    width: 32px;
    height: 26px;
}
.mod_compra03 {
    width: 570px;
    height: auto;
}
.asientosselecc {
    width: 550px;
    height: 70px;
    position: relative;
    top: 0;
    left: 0;
}
.asientosselecc h5 {
    width: 230px;
    height: 30px;
}
.asientosselecc ul.asientosreserv {
    width: 500px;
    height: 30px;
}
ul.comprainfodet {
    width: 555px;
    height: 140px;
    position: relative;
    top: 0;
    left: 8px;
}
ul.comprainfodet li {
    width: 550px;
}
ul.comprainfodet li p {
    width: 550px;
}
ul.comprainfodet li span.comprainfoboleto {
    width: 380px;
}
.pagoseguro {
    width: 570px;
    top: 0!important;
    position: relative;
}
.pagoseguro h5 {
    padding: 3px 10px;
    width: 550px;
}
fieldset.pagopasos {
    width: 550px;
    height: 280px;
    left: 0;
}
fieldset.pagopasos p {
    font-size: .875em;
    width: 550px;
    height: 40px;
}
fieldset.pagopasos p label {
    padding-top: 4px;
    width: 240px;
    height: 28px;
}
input.campopago {
    float: left;
    width: 300px;
    height: 28px;
}
input.campopago2 {
    width: 222px;
}
span.tc_visa, span.tc_mc, span.tc_amex, span.tc_giftcard {
    margin: 0 10px 0 5px;
}
.compranota {
    width: 350px;
    height: auto;
    top: 10px;
    left: 10px;
}
.compranotaitem {
    width: 300px;
    height: 45px;
    display: none;
}
.compranotaitem h5 {
    padding-bottom: 0;
    width: 300px;
}
.compranotaitem p {
    margin: 0 auto;
    font-size: .750em;
    line-height: 1em;
    width: 290px;
}
.compranotaitemmedio {
    width: 300px;
    height: 75px;
    display: block;
    margin-left: 35%;
    margin-right: 35%}
.compraprocesando {
    margin: 0 auto;
    color: #000;
    width: 599px;
    height: 199px;
    position: relative;
}
.compraprocesando h5 {
    margin-bottom: 40px;
    width: 500px;
    clear: left;
}
.compraprocesando img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: block;
}
.mod_compra05tope {
    width: 570px;
    height: 31px;
}
.mod_compra05tope .compraconfirm {
    padding: 4px 10px 0;
    font-size: 1em;
    width: auto;
    height: 27px;
    position: relative;
    float: left;
}
.mod_compra05tope .comprapasos {
    padding: 4px 10px 0;
    font-size: 1em;
    width: auto;
    height: 27px;
    display: none;
    right: none;
    float: left;
}
.compraconfirmtxt {
    padding: 10px;
    width: 550px;
    height: 110px;
    top: 3px;
    position: relative;
}
.compraconfirmtxt .confirmtxt {
    width: 540px;
    height: auto;
    position: relative;
    left: 0;
}
.compraconfirmtxt .confirmtxt p {
    font-size: .813em;
    line-height: 1.25em;
}
.compraconfirmtxt .confirmpasos {
    width: 280px;
    height: auto;
    position: relatve;
    left: 30px;
    right: none;
    top: 60px;
}
.compraconfirmtxt .confirmpasos li {
    width: 540px;
    float: left;
}
.compraconfirmtxt .confirmtxtfin {
    width: 990px;
    height: 65px;
    left: 15px;
}
.compraresumen p span.resumenpeli strong {
    font-size: 1em;
}
.compraresumen {
    width: 530px;
    position: relative;
    top: 10px;
    left: 10px;
    height: 450px;
}
.compraresumen p {
    padding: 6px 10px 4px;
    font-size: .875em;
    width: 530px;
    height: 28px;
}
.compraresumen p label {
    font-size: 1em;
    width: 250px;
}
.compraresumeninfo {
    padding: 5px;
    width: 540px;
    height: 125px;
}
.compraresumeninfo p {
    padding: 4px 0 4px;
    width: 540px;
    height: 35px;
}
.compraresumeninfo p.compraresumeninfotit {
    width: 540px;
    height: 25px;
}
.compraresumeninfo p span.titresumen, .compraresumeninfo p span.txtresumen {
    width: 105px;
    font-size: .9em;
}
.compravoucher {
    display: none;
}
.compraconfirmtxt2 {
    padding: 30px 15px;
    width: 540px;
    height: 80px;
    position: relative;
    top: 0;
}
.compraconfirmtxt .confirmtxtfin {
    width: 530px;
    height: 65px;
}
.compraconfirmtxt .confirmtxtfin p {
    font-size: .813em;
    line-height: 1.5em;
    width: 530px;
}
.compramensaje {
    width: 400px;
    height: 400px;
    top: 30px;
    left: 10px;
    margin-left: auto;
    margin-right: auto;
}
.compramensaje p {
    padding-bottom: 10px;
    width: 410px;
}
a.btn_compraprocesar2 {
    position: absolute;
    top: 500px;
    left: 205px;
}
a.btn_compraprocesar2:hover {
    position: absolute;
    top: 500px;
    left: 205px;
}
.tit_acc h2 {
    font-size: 1.2em;
}
.cont_registro label {
    font-size: 14px;
}
.cont_registro .input_left {
    margin-right: 2%}
.cont_registro label.label_right {
    width: 20%}
div.l_face label, div.l_tweet label, div.l_inst label {
    display: table;
}
div.l_face, div.l_tweet, div.l_inst {
    width: 19%}
div.l_face {
    width: 20%}
.contenido_acceso label {
    font-size: 16px;
    width: 90%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 5%}
.contenido_acceso input[type="submit"] {
    padding: 10px 0 10px 10px;
    width: 150px;
    margin: 0 auto 40px auto;
}
.contenido_acceso input[type="email"], .contenido_acceso input[type="password"] {
    width: 90%;
    margin-left: 5%;
    height: 30px;
    margin-bottom: 15px;
}
.btn_acc div {
    padding-top: 40px;
    padding-left: 0;
    font-size: 10px;
    width: 29%;
    margin-left: 1%;
    text-align: center;
    background-position: top center;
}
.reg_text p {
    font-size: 14px;
    margin: 30px 10% 0;
}
.registrarse {
    width: 150px;
    margin: 40px auto 20px auto;
}
.cont_contacto label {
    font-size: 14px;
}
.cont_contacto textarea {
    height: 100px;
}
}