@media screen and (min-width:640px) and (max-width:719px) {
    .contenido {
    width: 620px;
}
    .caja-iniciar-sesion-01{
        left: -120px;
    }
.modulo {
    width: 610px;
}
nav.mnugris_secc {
    top: 6px;
    left: 7px;
}
nav.mnugris_secc ul li {
    padding-right: 9px;
    font-size: .8em;
}
nav.mnuredes {
    display:none;
}
.select_ciudad, .select_ciudad:hover {
    font-size: 1.375em;
    top: 45px;
    right: 5px;
}
.select_ciudad:hover {
    color: #fff;
}
.select_ciudad span, .select_ciudad:hover span {
    top: 12px;
    right: 5px;
}
footer p {
    margin: 0 auto;
    font-size: .688em;
    text-align: center;
    width: 96%;
    height: 20px;
    display: block;
    position: relative;
    top: 27px;
}
.mod_home {
    width: 610px;
    height: 370px;
}
ul.mnu_home {
    margin-bottom: 1px;
    width: 610px;
    height: 100px;
    float: none;
    display: block;
}
ul.mnu_home li {
    padding-top: 20px;
    margin-bottom: 0;
    margin-right: 1px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_btnhome.png) repeat-x bottom;
    width: 203px;
    height: 80px;
    display: inline;
    float: left;
}
ul.mnu_home li:last-child {
    margin-right: 0;
    width: 202px;
}
ul.mnu_home li span.mnu_home01, ul.mnu_home li span.mnu_home02, ul.mnu_home li span.mnu_home03 {
    margin: 0 auto;
    width: 58px;
    height: 58px;
    display: block;
    position: relative;
    top: -10px;
}
ul.mnu_home li p {
    padding-top: 0;
    font-size: 1em;
    top: -5px;
}
.mod_homecarr {
    width: 610px;
    height: 290px;
    float: none;
    display: block;
}
.mod_homecarrbase {
    width: 610px;
    height: 268px;
}
a.flant_homecarr {
    top: 110px;
}
a.flsig_homecarr, a.flsig_homecarr:hover {
    top: 110px;
}
ul.mod_homecarrpag {
    top: 240px;
    left: 230px;
}
.mod_peliculas, .modulo-2 {
    width: 610px;
    height: 520px;
}
.mod_peliculas ul {
    width: 610px;
    height: 520px;
    overflow: hidden;
}
.mod_peliculas ul li {
    margin: 0 14px 15px 14px;
}
.mod_peliculas ul li:first-child {
    display: none;
}
.mod_lista_peliculas {
    width: 610px;
    height: auto;
    display: block;
}
.mod_lista_peliculas ul {
    width: 610px;
    overflow: hidden;
}
.mod_lista_peliculas ul li {
    margin: 0 14px 15px 14px;
    width: 175px;
    height: 250px;
}
.mod_titulo_pelicula {
    margin-left: auto;
    margin-right: auto;
    width: 175px;
}
.mod_titulo_pelicula h2 {
    color: #c02328;
    font-family: cinesu;
    font-weight: 400;
}
.v_cinesj ul {
    margin-left: auto;
    margin-right: auto;
}
.mod_pelivelo {
    margin: 0 auto 0;
    width: 620px;
    height: 1044px;
}
.mod_pelivelotop {
    width: 620px;
    height: 218px;
}
.mod_pelivelotop img.pelivelotopimg {
    width: 620px;
    height: 208px;
}
.mod_pelivelomid {
    padding: 10px 20px 0 20px;
    border-bottom: 1px solid #000;
    width: 580px;
    height: 601px;
}
.mod_pelivelomid h2 {
    padding-bottom: 10px;
    font-size: 2.000em;
    width: 580px;
}
.mod_pelivelomidbarra {
    width: 580px;
}
.mod_pelivelomidtipo {
    padding-top: 12px;
    font-size: .875em;
    width: 325px;
    height: 29px;
}
.mod_pelivelomidbox {
    padding: 0 10px 0;
    width: 560px;
    height: 498px;
}
ul.mod_pelivelomidlist {
    width: 560px;
    height: 370px;
}
ul.mod_pelivelomidlist li {
    padding: 7px 0 0;
    font-size: .813em;
    width: 560px;
    height: 46px;
}
ul.mod_pelivelomidlist li:first-child {
    font-size: .688em;
    width: 560px;
    height: 35px;
}
ul.mod_pelivelomidlist li span.ciudad {
    padding-left: 5px;
    width: 435px;
}
ul.mod_pelivelomidlist li span.hora {
    width: 440px;
    float: left;
}
ul.mod_pelivelomidlist li span.sala {
    width: 50px;
}
ul.mod_pelivelomidlist li span.censura {
    width: 50px;
}
.mod_pelivelofin {
    padding-top: 20px;
    width: 620px;
    height: 194px;
}
ul.mod_pelivelofinlist {
    width: 580px;
    height: 178px;
    left: 5px;
    overflow: hidden;
}
ul.mod_pelivelofinlist li {
    margin: 0 0 15px 30px;
    width: 120px;
    height: 171px;
}
ul.mod_pelivelofinlist li img {
    width: 120px;
    height: 171px;
}
ul.mod_pelivelofinlist li a:hover, ul.mod_pelivelofinlist li a:hover img {
    width: 128px;
    height: 183px;
}
#map {
    zoom: 85%}
.mod_salas {
    width: 610px;
    height: 1650px;
}
a.select_salas {
    padding-top: 4px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    color: #333;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    width: 610px;
    height: 27px;
    display: block;
    position: absolute;
}
a.select_salas:hover {
    padding-top: 4px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    color: #a21e23;
    border-bottom: 1px solid #000;
    width: 610px;
    height: 27px;
    display: block;
    position: absolute;
}
a.select_salas span {
    margin-left: 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat top;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: relative;
    top: 7px;
    right: 10px;
}
a.select_salas:hover span {
    margin-left: 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat bottom;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: relative;
    top: 7px;
    right: 10px;
}
ul.mod_salapelilist {
    width: 590px;
    top: 52px;
    left: 10px;
}
ul.mod_salapelilist li {
    padding: 6px 0 0;
    font-size: .875em;
    width: 590px;
    height: auto;
    display: inline-block;
}
ul.mod_salapelilist li:first-child {
    padding: 8px 0 0;
    font-size: .688em;
    width: 590px;
    height: 30px;
}
ul.mod_salapelilist li a, ul.mod_salapelilist li a:hover {
    padding: 0 7px;
    border-right: 1px solid;
}
ul.mod_salapelilist li span.peli {
    width: 550px;
    padding-left: 7px;
}
ul.mod_salapelilist li span.hora {
    width: 550px;
}
ul.mod_salapelilist li span.censura {
    width: 40px;
}
.mod_salasinfo {
    margin-right: 10px;
    width: 590px;
    top: 70px;
}
ul.mod_salapeliico {
    width: 270px;
    height: 210px;
    display: block;
    position: absolute;
    right: 0;
}
.mod_salasmapa {
    margin: 0;
    width: 288px;
    height: 216px;
    position: absolute;
    left: 0;
}
.mod_salasmapa img {
    width: 288px;
    height: 216px;
}
.mod_salasdir {
    width: 590px;
    position: absolute;
    top: 255px;
}
.mod_salasdir p {
    padding-bottom: 7px;
    font-size: .750em;
    line-height: 1em;
    width: 590px;
}
ul.mnu_salasciudad {
    z-index: 99999;
    background: 0;
    height: auto;
    top: 60px;
    left: 440px;
    width: 170px;
    display: block;
    border: 1px solid #333;
    background-color: #FFF;
    display: none;
}
ul.mnu_salasciudad li {
    display: block;
}
ul.mnu_salasciudad li:hover {
    border-right: 0;
}
ul.mnu_salasciudad li a, ul.mnu_salasciudad li a:hover {
    border-right: 0;
    width: 150px;
    padding-right: 0;
}
ul.mnu_salasciudad li.mnu_salasciudadact a {
    width: 150px;
    padding-right: 0;
}
ul.mnu_salasciudad li.mnu_salasciudadact a:hover {
    border: 0;
}
.mod_salas nav {
    position: relative;
}
.mod_compra01 {
    width: 610px;
    height: auto;
}
.mod_compra01tope {
    padding: 5px 10px;
    width: 590px;
    height: 90px;
}
.mod_compra01tope .pelidatos {
    padding-top: 2px;
    width: 480px;
    height: 20px;
}
.mod_compra01tope .pelidatos p {
    font-size: .875em;
    line-height: 1em;
    padding-right: 5px;
    width: 90px;
    display: inline;
    border-right: 1px solid #fff;
}
.mod_compra01tope .pelidatos span {
    font-size: 1.125em;
    font-weight: 500;
    color: #fff;
    width: 20px;
    height: 21px;
    right: none;
    top: 2px;
    left: 380px;
}
.mod_compra01tope .pelinombre {
    width: 590px;
    height: 55px;
    top: 10px;
}
.mod_compra01tope .pelinombre p.pelinombretit {
    font-size: 1.25em;
    top: 0;
    left: 10px;
}
.mod_compra01tope .pelinombre p.pelinombrefecha {
    top: 30px;
}
.mod_compra01tope .pelinombre p.pelinombrelugar {
    top: 30px;
    right: 10px;
}
.mod_compra01tope .peliasientos {
    padding: 0;
    width: 186px;
    height: 22px;
    position: absolute;
    top: 9px;
    left: 415px;
}
.mod_compra01tope .peliasientos p {
    padding-left: 22px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_asientodisp1.png) no-repeat -30px 0;
    font-size: .813em;
    width: 165px;
    top: 2px;
    left: 8px;
}
.mod_compra01tope .peliasientos p span {
    font-weight: 600;
}
.mod_compra01info {
    width: 590px;
    height: 375px;
    position: relative;
    top: 10px;
    left: 00px;
}
ul.comprainfo {
    width: 590px;
    height: 375px;
    left: 10px;
}
ul.comprainfo li {
    font-size: .875em;
    width: 590px;
}
ul.comprainfo li p {
    width: 590px;
}
ul.comprainfo li:first-child {
    font-size: .813em;
    height: 55px;
    top: 0;
}
ul.comprainfo li:first-child span.comprainfocant {
    width: 145px;
    position: relative;
    top: 0;
}
ul.comprainfo li.comprainfo1 {
    height: 28px;
}
ul.comprainfo li.comprainfo2 {
    padding-top: 5px;
    height: 30px;
}
ul.comprainfo li span.comprainfotipo {
    padding-right: 25px;
    width: 230px;
}
ul.comprainfo li span.comprainfotipo img {
    top: 0;
    cursor: pointer;
}
ul.comprainfo li span.comprainfomonto {
    width: 175px;
    top: 0;
}
ul.comprainfo li span.comprainfocant {
    padding-left: 20px;
    width: 120px;
    float: right;
    top: 0;
}
ul.comprainfo li span.comprainfoboleto {
    width: 450px;
}
ul.comprainfo li span.comprainfobalance {
    margin: 0 5px;
    width: 100px;
    height: auto;
    float: left;
    position: relative;
}
.mod_compra01det {
    width: 610px;
    height: 260px;
    position: relative;
    top: 20px;
}
.mod_compra01det .compradet {
    margin: 0 auto;
    background: 0;
    width: 600px;
    height: auto;
}
.compradetbox {
    display: none;
}
.compradetbox1 {
    display: none;
}
.compradetbox h4 {
    width: 582px;
    height: 25px;
}
.compradetbox h5 {
    padding-top: 7px;
    width: 582px;
    height: 30px;
}
.compradetboxint {
    padding-top: 10px;
    width: 582px;
    height: 140px;
}
.compradetboxint p {
    font-size: .875em;
    width: 582px;
}
.compradetboxint p span {
    width: 290px;
}
a.btn_compradetnext, a.btn_compradetnext:hover {
    left: 0;
}
.btn_compradetnext2, .btn_compradetnext2:hover {
    position: absolute;
    top: 120px;
    left: 95px;
}
.compradetbox2 {
    margin: 5px auto;
    padding: 5px 10px;
    background: #e4e6e5;
    color: #000;
    width: 570px;
    height: 110px;
}
.compradetbox2 p {
    padding: 4px 15px 4px;
    border-bottom: 1px dotted #333;
    font-size: 1.2em;
    width: 540px;
    height: 25px;
    display: block;
}
.compradetbox2 p.compraresumeninfotit {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
    background-color: #c02328;
}
.compradetbox2 p span.titresumen {
    text-align: center;
    font-weight: 600;
    font-size: .625em;
    line-height: 1em;
    text-transform: uppercase;
    width: 100px;
    height: auto;
    float: left;
}
.compradetbox2 p span.txtresumen {
    text-align: center;
    font-weight: 300;
    font-size: .625em;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 100px;
    height: auto;
    float: left;
    position: relative;
    top: 0;
}
.mod_compra02 {
    width: 610px;
    height: auto;
}
.mod_compra02tope {
    font-size: .938em;
    width: 610px;
    height: 65px;
}
.comprabarrapeli {
    font-size: 1.125em;
    width: 590px;
    height: 30px;
}
.comprabarracine, .comprabarrafecha {
    font-size: .938em;
    display: block;
    position: absolute;
    top: 34px;
}
.comprabarracine {
    width: 159px;
    height: 27px;
    right: 345px;
}
.comprabarrafecha {
    width: 410px;
    height: 27px;
    right: 0;
}
.asientositems {
    width: 590px;
    height: 410px;
    display: block;
    position: relative;
    top: 20px;
    left: 0;
    overflow-y: hidden;
    margin-left: 18px;
}
.salaleyenda {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_salaleyenda.png) no-repeat 0 -220px;
    width: 540px;
    height: 80px;
    display: block;
    top: 50px;
    left: 0;
    margin: 0 auto 50px;
}
.mod_compra02det {
    background: 0;
    color: #fff;
    width: 610px;
    height: 360px;
    position: relative;
    top: 20px;
}
.compratiempo, .compratiempo p {
    display: none;
}
.compratiempoflota {
    padding: 5px;
    background: #c02328;
    color: #fff;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    width: 150px;
    height: auto;
    display: block;
    position: fixed;
    top: 103px;
    right: 0;
    z-index: 1000;
}
.compratiempoflota p {
    margin: 0 auto;
    color: #fff;
    font-size: 1em;
    line-height: 1.125em;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
    height: auto;
    display: block;
}
.compraasientos {
    width: 350px;
    height: 70px;
    position: relative;
    top: 0;
    left: 0;
}
.compraasientos h5 {
    width: 350px;
    height: 35px;
}
.compraasientos ul.asientosreserv {
    margin: 0 auto;
    padding: 0 10px;
    width: auto;
    height: 40px;
    text-align: center;
}
.compraasientos ul.asientosreserv li {
    margin: 0 7px 12px 0;
    padding-top: 4px;
    width: 32px;
    height: 26px;
}
.mod_compra03 {
    width: 610px;
    height: 800px;
}
.asientosselecc {
    width: 590px;
    position: relative;
    top: 0;
}
.asientosselecc ul.asientosreserv {
    width: 500px;
}
ul.comprainfodet {
    width: 595px;
    top: 0;
    left: 8px;
}
ul.comprainfodet li {
    width: 595px;
}
ul.comprainfodet li span.comprainfoboleto {
    width: 435px;
}
.pagoseguro {
    width: 610px;
    top: 150px !important;
}
.pagoseguro h5 {
    padding: 3px 10px;
    width: 590px;
}
fieldset.pagopasos {
    width: 590px;
    height: 300px;
    left: 0;
}
fieldset.pagopasos p {
    font-size: .875em;
    width: 590px;
    height: 40px;
}
fieldset.pagopasos p label {
    width: 150px;
    height: 28px;
}
input.campopago {
    width: 400px;
    top: 0;
}
.compranota {
    width: 600px;
    position: relative;
    left: 10px;
    height:auto;
    margin-top:60px;
}
.compranotaitem {
    width: 300px;
    height: 45px;
    display: none;
}
.compranotaitem h5 {
    padding-bottom: 0;
    width: 300px;
}
.compranotaitem p {
    margin: 0 auto;
    font-size: .750em;
    line-height: 1em;
    width: 290px;
}
.compranotaitemmedio {
    margin: 0 auto;
    border-top: 0 dotted #333;
    border-bottom: 0 dotted #333;
    width: 600px;
    height: 75px;
}
.compraprocesando {
    margin: 0 auto;
    color: #000;
    width: 600px;
    height: 160px;
    position: relative;
}
.compraprocesando h5 {
    margin-bottom: 40px;
    clear: left;
}
.compraprocesando img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: block;
}
.mod_compra05tope {
    width: 610px;
}
.mod_compra05tope .compraconfirm {
    padding: 4px 10px 0;
    font-size: 1em;
    width: 330px;
    height: 27px;
}
.mod_compra05tope .comprapasos {
    padding: 4px 10px 0;
    font-size: 1em;
    width: 330px;
    height: 27px;
}
.compraconfirmtxt {
    padding: 10px 15px 110px;
    width: 580px;
    height: auto;
    position: relative;
    top: 0;
}
.compraconfirmtxt .confirmtxt {
    width: 260px;
    height: auto;
    left: 15px;
}
.compraconfirmtxt .confirmtxt p {
    font-size: .813em;
    line-height: 1.25em;
    width: 260px;
}
.compraconfirmtxt .confirmpasos {
    width: 280px;
    height: auto;
}
.compraconfirmtxt .confirmpasos li {
    font-size: .750em;
    line-height: 1.25em;
    width: 240px;
}
.compraconfirmtxt .confirmtxtfin {
    width: 990px;
    height: 65px;
}
.compraconfirmtxt .confirmtxtfin p {
    font-size: .750em;
    width: 1200px;
}
.compraresumen {
    width: 590px;
    position: relative;
    top: 10px;
    left: 10px;
}
.compraresumen p {
    padding: 6px 10px 4px;
    font-size: .875em;
    width: 570px;
    height: 28px;
}
.compraresumen p label {
    font-size: 1em;
    font-weight: 300;
    width: 250px;
}
.compraresumeninfo {
    padding: 5px;
    width: 580px;
    height: 125px;
}
.compraresumeninfo p {
    padding: 4px 0 4px;
    width: 580px;
    height: 35px;
}
.compraresumeninfo p.compraresumeninfotit {
    width: 580px;
    height: 25px;
}
.compraresumeninfo p span.titresumen {
    width: 110px;
}
.compraresumeninfo p span.txtresumen {
    width: 110px;
}
.compravoucher {
    display: none;
}
.compraconfirmtxt2 {
    padding: 10px 15px 60px;
    width: 580px;
    height: 50px;
    position: relative;
    top: 0;
}
.compraconfirmtxt .confirmtxtfin {
    width: 580px;
}
.compraconfirmtxt .confirmtxtfin p {
    width: 580px;
}
.compramensaje {
    width: 570px;
    height: 400px;
    top: 10px;
    left: 10px;
}
.compramensaje p {
    padding-bottom: 10px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
a.btn_compraprocesar {
    margin: 0 auto 5px;
    padding-top: 8px;
}
a.btn_compraprocesar:hover {
    background: #414141;
}
a.btn_compraprocesar2 {
    position: absolute;
    top: 400px;
    left: 225px;
}
a.btn_compraprocesar2:hover {
    position: absolute;
    top: 400px;
    left: 225px;
}
.cont_registro label {
    font-size: 14px;
}
.cont_registro .input_left {
    margin-right: 2%}
.cont_registro label.label_right {
    width: 20%}
div.l_face label, div.l_tweet label, div.l_inst label {
    display: table;
}
div.l_face, div.l_tweet, div.l_inst {
    width: 19%}
div.l_face {
    width: 20%}
.contenido_acceso label {
    font-size: 16px;
    width: 90%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 5%}
.contenido_acceso input[type="submit"] {
    padding: 10px 0 10px 35px;
    width: 200px;
    margin: 0 0 40px 10%}
.contenido_acceso input[type="email"], .contenido_acceso input[type="password"] {
    width: 90%;
    margin-left: 5%;
    height: 30px;
    margin-bottom: 15px;
}
.btn_acc div {
    padding-top: 40px;
    padding-left: 0;
    font-size: 10px;
    width: 29%;
    margin-left: 2%;
    text-align: center;
    background-position: top center;
}
.reg_text p {
    font-size: 16px;
    margin: 38px 10% 0;
}
.registrarse {
    width: 45%;
    margin: 40px 0 0 26%}
.cont_contacto label {
    font-size: 14px;
}
.cont_contacto textarea {
    height: 100px;
}
}