@media screen and (min-width:720px) and (max-width:767px) {
    .contenido {
    width: 696px;
}
.modulo {
    width: 690px;
}
nav.mnuredes {
    right: 5px;
}
nav.mnuredesbott {
    right: 0;
}
.select_ciudad, .select_ciudad:hover {
    font-size: 1.5em;
    top: 45px;
    right: 5px;
}
.select_ciudad span, .select_ciudad:hover span {
    top: 12px;
}
.mod_home {
    width: 690px;
    height: 410px;
}
ul.mnu_home {
    margin-right: 0;
    margin-bottom: 1px;
    width: 690px;
    height: 100px;
    float: none;
    display: block;
}
ul.mnu_home li {
    padding-top: 20px;
    margin-bottom: 0;
    margin-right: 1px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_btnhome.png) repeat-x bottom;
    width: 229px;
    height: 80px;
    display: inline;
    float: left;
}
ul.mnu_home li:last-child {
    margin-right: 0;
    width: 230px;
}
ul.mnu_home li span.mnu_home01, ul.mnu_home li span.mnu_home02, ul.mnu_home li span.mnu_home03 {
    top: -10px;
}
ul.mnu_home li p {
    padding-top: 0;
    font-size: 1em;
    height: auto;
    top: -5px;
}
.mod_homecarr {
    width: 690px;
    height: 370px;
    float: none;
    display: block;
    position: relative;
}
.mod_homecarrbase {
    width: 690px;
    height: 303px;
}
a.flant_homecarr, a.flant_homecarr:hover, a.flsig_homecarr, a.flsig_homecarr:hover {
    top: 120px;
}
ul.mod_homecarrpag {
    width: 200px;
    height: 25px;
    top: 273px;
    left: 300px;
}
.mod_peliculas, .modulo-2 {
    width: 690px;
    height: 480px;
}
.mod_peliculas ul {
    width: 690px;
    height: 480px;
    overflow: hidden;
}
.mod_peliculas ul li {
    margin: 0 2px 4px 4px;
    width: 166px;
    height: 237px;
}
.mod_peliculas ul li img {
    width: 166px;
    height: 237px;
}
.mod_peliculas ul li a {
    width: 166px;
    height: 237px;
}
.mod_peliculas ul li a:hover, .mod_peliculas ul li a:hover img {
    width: 170px;
    height: 243px;
}
.mod_peliculas ul li:first-child {
    display: none;
}
.mod_lista_peliculas {
    width: 690px;
    height: auto;
    display: block;
}
.mod_lista_peliculas ul {
    width: 690px;
    overflow: hidden;
}
.mod_lista_peliculas ul li {
    margin: 0 2px 4px 4px;
    width: 166px;
    height: 237px;
}
.mod_lista_peliculas ul li img {
    width: 166px;
    height: 237px;
}
.mod_lista_peliculas ul li a {
    width: 166px;
    height: 237px;
}
.mod_titulo_pelicula {
    width: 166px;
}
.mod_titulo_pelicula h2 {
    color: #c02328;
    font-family: cinesu;
    font-weight: 400;
}
.v_cinesj ul {
    margin-left: auto;
    margin-right: auto;
    height: 85%}
.v_cinesj, .v_cinesj2 {
    height: 100%}
.v_cinesj2 .v_horarios ul li {
    padding: 5px 10px 5px 5px;
}
.v_cinesj, .v_cinesj2 {
    height: 100%}
.v_cinesj ul {
    height: 85%}
.art_estrenosli, .art_estrenosli:nth-child(2n) {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.ptitulo_estrenos h2 {
    font-size: 1.3em;
}
.mod_pelivelo {
    margin: 0 auto 0;
    width: 660px;
    height: 961px;
}
.mod_pelivelotop {
    width: 660px;
    height: 232px;
}
.mod_pelivelotop img.pelivelotopimg {
    width: 660px;
    height: 222px;
}
.mod_pelivelomid {
    padding: 15px 30px 0 30px;
    border-bottom: 1px solid #000;
    width: 600px;
    height: 518px;
}
.mod_pelivelomid h2 {
    font-size: 2.000em;
    width: 600px;
    height: 50px;
}
.mod_pelivelomidbarra {
    width: 600px;
    height: 42px;
}
.mod_pelivelomidtipo {
    padding-top: 10px;
    font-size: 1.000em;
    width: 325px;
    height: 31px;
}
.mod_pelivelomidbox {
    padding: 10px 10px 0;
    width: 580px;
    height: 400px;
}
ul.mod_pelivelomidlist {
    width: 580px;
    height: 370px;
}
ul.mod_pelivelomidlist li {
    padding: 10px 0 0;
    font-size: .750em;
    width: 580px;
}
ul.mod_pelivelomidlist li:first-child {
    font-size: .688em;
    width: 580px;
}
ul.mod_pelivelomidlist li span.ciudad {
    width: 150px;
}
ul.mod_pelivelomidlist li span.hora {
    width: 320px;
}
ul.mod_pelivelomidlist li span.sala {
    width: 50px;
}
ul.mod_pelivelomidlist li span.censura {
    width: 50px;
}
.mod_pelivelofin {
    padding-top: 30px;
    width: 660px;
    height: 165px;
}
ul.mod_pelivelofinlist {
    margin: 0 auto;
    width: 600px;
    height: 140px;
    left: 5px;
}
ul.mod_pelivelofinlist li {
    margin: 0 0 4px 12px;
    width: 90px;
    height: 128px;
}
ul.mod_pelivelofinlist li img {
    width: 90px;
    height: 128px;
    display: block;
}
ul.mod_pelivelofinlist li a:hover, ul.mod_pelivelofinlist li a:hover img {
    width: 98px;
    height: 140px;
}
.mod_salas {
    width: 690px;
    height: 1400px;
}
a.select_salas {
    padding-top: 4px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    color: #333;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    width: 690px;
    height: 27px;
    display: block;
    position: absolute;
}
a.select_salas:hover {
    padding-top: 4px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    color: #a21e23;
    border-bottom: 1px solid #000;
    width: 690px;
    height: 27px;
    display: block;
    position: absolute;
}
a.select_salas span {
    margin-left: 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat top;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: relative;
    top: 7px;
    right: 10px;
}
a.select_salas:hover span {
    margin-left: 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat bottom;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: relative;
    top: 7px;
    right: 10px;
}
ul.mod_salapelilist {
    width: 670px;
    left: 10px;
}
ul.mod_salapelilist li {
    font-size: .813em;
    width: 670px;
    display: block;
}
ul.mod_salapelilist li:first-child {
    font-size: .688em;
    width: 670px;
    height: 20px;
}
ul.mod_salapelilist li a {
    padding: 0 5px;
    border-right: 1px solid;
}
ul.mod_salapelilist li a:hover {
    color: #666;
}
ul.mod_salapelilist li span.peli {
    width: 280px;
}
ul.mod_salapelilist li span.hora {
    width: 330px;
}
.mod_salasinfo {
    width: 670px;
    top: 70px;
}
ul.mod_salapeliico {
    width: 340px;
    height: 180px;
    position: absolute;
    right: 0;
}
.mod_salasmapa {
    margin: 0;
    width: 288px;
    height: 216px;
    position: absolute;
    left: 0;
}
.mod_salasmapa img {
    width: 288px;
    height: 216px;
}
.mod_salasdir {
    width: 700px;
    position: absolute;
    top: 255px;
}
.mod_salasdir p {
    padding-bottom: 7px;
    width: 700px;
}
ul.mnu_salasciudad {
    z-index: 99999;
    background: 0;
    height: auto;
    top: 60px;
    left: 520px;
    width: 170px;
    border: 1px solid #333;
    background-color: #FFF;
    display: none;
}
ul.mnu_salasciudad li {
    display: block;
}
ul.mnu_salasciudad li:hover {
    border-right: 0;
}
ul.mnu_salasciudad li a, ul.mnu_salasciudad li a:hover {
    border-right: 0;
    width: 150px;
    padding-right: 0;
}
ul.mnu_salasciudad li.mnu_salasciudadact a {
    width: 150px;
    padding-right: 0;
}
ul.mnu_salasciudad li.mnu_salasciudadact a:hover {
    border: 0;
}
.mod_salas nav {
    position: relative;
}
.mod_compra01 {
    width: 690px;
    height: auto;
}
.mod_compra01tope {
    padding: 5px 10px;
    width: 670px;
    height: 90px;
    background-repeat: repeat;
}
.mod_compra01tope .pelidatos {
    padding-top: 2px;
    width: 480px;
    height: 20px;
}
.mod_compra01tope .pelidatos p {
    font-size: .875em;
    line-height: 1em;
    padding-right: 5px;
    width: 90px;
    display: inline;
    border-right: 1px solid #fff;
}
.mod_compra01tope .pelidatos span {
    font-size: 1.125em;
    font-weight: 500;
    color: #fff;
    width: 20px;
    height: 21px;
    right: none;
    top: 2px;
    left: 460px;
}
.mod_compra01tope .pelinombre {
    width: 670px;
    height: 55px;
    top: 10px;
}
.mod_compra01tope .pelinombre p.pelinombretit {
    font-size: 1.25em;
    top: 0;
    left: 10px;
}
.mod_compra01tope .pelinombre p.pelinombrefecha {
    top: 30px;
    left: 10px;
}
.mod_compra01tope .pelinombre p.pelinombrelugar {
    top: 30px;
    right: 10px;
}
.mod_compra01tope .peliasientos {
    padding: 0;
    width: 186px;
    height: 22px;
    position: absolute;
    top: 9px;
    left: 493px;
}
.mod_compra01tope .peliasientos p {
    padding-left: 22px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_asientodisp1.png) no-repeat -30px 0;
    font-size: .813em;
    width: 165px;
    height: 30px;
    top: 2px;
    left: 8px;
}
.mod_compra01info {
    top: 10px;
    left: 0;
    position: relative;
    height: auto;
}
ul.comprainfo {
    left: 10px;
    height: auto;
}
ul.comprainfo li {
    font-size: .875em;
}
ul.comprainfo li p {
    width: 670px;
}
ul.comprainfo li:first-child {
    font-size: .813em;
    top: 0;
}
ul.comprainfo li:first-child span.comprainfocant {
    width: 180px;
    position: relative;
    top: 0;
}
ul.comprainfo li.comprainfo1 {
    height: 28px;
}
ul.comprainfo li.comprainfo2 {
    padding-top: 5px;
    height: 30px;
}
ul.comprainfo li span.comprainfotipo {
    padding-right: 25px;
    width: 270px;
}
ul.comprainfo li span.comprainfotipo img {
    top: 0;
}
ul.comprainfo li span.comprainfomonto {
    width: 175px;
    top: 0;
}
ul.comprainfo li span.comprainfocant {
    padding-left: 50px;
    width: 130px;
    float: right;
    top: 0;
}
ul.comprainfo li span.comprainfoboleto {
    width: 520px;
}
ul.comprainfo li span.comprainfobalance {
    margin: 0 5px;
    width: 100px;
    height: auto;
    float: left;
    position: relative;
}
.mod_compra01det {
    background: 0;
    color: #000;
    width: 690px;
    height: 230px;
    position: relative;
    top: 20px;
}
.mod_compra01det .compradet {
    margin: 0 auto;
    background: 0;
    width: 680px;
    height: auto;
}
.compradetbox {
    display: none;
}
.compradetbox1 {
    top: 5px;
}
.compradetbox h4 {
    padding-top: 0;
    width: 300px;
    height: 25px;
}
.compradetbox h5 {
    padding-top: 7px;
    width: 300px;
    height: 30px;
}
.compradetboxint {
    padding-top: 10px;
    width: 300px;
    height: 140px;
}
.compradetboxint p {
    font-size: .813em;
    width: 300px;
}
.compradetboxint p span {
    width: 150px;
}
a.btn_compradetnext, a.btn_compradetnext:hover {
    top: 20px;
    left: 0;
}
a.btn_compradetnext:hover {
    background: #414141;
}
.btn_compradetnext2, .btn_compradetnext2:hover {
    position: absolute;
    top: 105px;
    left: 280px;
}
.compradetbox2 {
    margin: 5px auto;
    padding: 5px 10px;
    background: #e4e6e5;
    color: #000;
    width: 650px;
    height: 110px;
    display: block;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    positio: relative;
    left: 0;
    right: 0;
}
.compradetbox2 p {
    padding: 4px 15px 4px;
    border-bottom: 1px dotted #333;
    font-size: 1.2em;
    width: 620px;
    height: 25px;
    display: block;
}
.compradetbox2 p.compraresumeninfotit {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
    background-color: #c02328;
}
.compradetbox2 p span.titresumen {
    text-align: center;
    font-weight: 600;
    font-size: .625em;
    line-height: 1em;
    text-transform: uppercase;
    width: 120px;
    height: auto;
    float: left;
}
.compradetbox2 p span.txtresumen {
    text-align: center;
    font-weight: 300;
    font-size: .625em;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 120px;
    height: auto;
    float: left;
    position: relative;
    top: 0;
}
.mod_compra02 {
    width: 690px;
    height: auto;
}
.mod_compra02tope {
    font-size: .938em;
    width: 690px;
    height: 65px;
}
.comprabarrapeli, .comprabarracine, .comprabarrafecha {
    background: #c02328;
    color: #fff;
}
.comprabarrapeli {
    font-size: 1.125em;
    width: 670px;
    height: 30px;
}
.comprabarracine, .comprabarrafecha {
    top: 34px;
    height: 27px;
    font-size: .938em;
    background-color: none;
    color: #666;
}
.comprabarracine {
    width: 159px;
    right: 345px;
}
.comprabarrafecha {
    width: 410px;
    right: 0;
}
.asientositems {
    width: 670px;
    height: 410px;
    display: block;
    position: relative;
    top: 10px;
    left: 0;
    overflow-y: hidden;
    margin-left: 14px;
}
.salaleyenda {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_salaleyenda.png) no-repeat 0 -120px;
    width: 680px;
    height: 100px;
    display: block;
    position: relative;
    top: 30px;
    left: 0;
    margin: 0 auto;
}
.mod_compra02det {
    background: 0;
    color: #fff;
    width: 690px;
    height: 360px;
    display: block;
    position: relative;
    top: 40px;
    right: 0;
}
.compratiempo, .compratiempo p {
    display: none;
}
.compratiempoflota {
    padding: 5px;
    background: #c02328;
    color: #fff;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    width: 150px;
    height: auto;
    display: block;
    position: fixed;
    top: 180px;
    right: 0;
    z-index: 1000;
}
.compratiempoflota p {
    margin: 0 auto;
    color: #fff;
    font-size: 1em;
    line-height: 1.125em;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
    height: auto;
    display: block;
}
.compraasientos {
    width: 620px;
    height: 70px;
    position: relative;
    top: 0;
    left: 0;
}
.compraasientos ul.asientosreserv {
    margin: 0 auto;
    width: 320px;
    height: 40px;
}
.compraasientos ul.asientosreserv li {
    margin: 0 7px 12px 0;
    padding-top: 4px;
    width: 32px;
    height: 26px;
}
.mod_compra03 {
    width: 690px;
    height: auto;
}
.asientosselecc {
    width: 670px;
    height: 70px;
    position: relative;
    top: 0;
}
.asientosselecc ul.asientosreserv {
    width: 500px;
}
ul.comprainfodet {
    width: 680px;
    height: 140px;
    position: relative;
    top: 0;
    left: 8px;
}
ul.comprainfodet li {
    width: 674px;
}
.pagoseguro {
    width: 690px;
    position: relative;
    top: 0!important;
}
.pagoseguro h5 {
    width: 660px;
}
fieldset.pagopasos {
    width: 660px;
    height: 270px;
    left: 0;
}
fieldset.pagopasos p {
    font-size: .875em;
    width: 660px;
    height: 40px;
}
fieldset.pagopasos p label {
    padding-top: 4px;
    width: 241px;
}
.compranota {
    width: 670px;
    height: 262px;
    position: relative;
    top: 30px;
    left: 0;
}
.compranotaitem {
    display: none;
}
.compranotaitem h5 {
    padding-bottom: 0;
    width: 670px;
}
.compranotaitem p {
    margin: 0 auto;
    font-size: .750em;
    line-height: 1em;
    width: 670px;
}
.compranotaitemmedio {
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
    width: 670px;
    height: 75px;
    display: block;
}
.compraprocesando {
    margin: 0 auto;
    height: 160px;
    position: relative;
}
.compraprocesando h5 {
    margin-bottom: 40px;
}
.compraprocesando img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: block;
}
.mod_compra05tope {
    width: 690px;
}
.mod_compra05tope .compraconfirm {
    font-size: 1.125em;
    width: 330px;
}
.mod_compra05tope .comprapasos {
    font-size: 1.125em;
    width: 330px;
    height: 29px;
}
.compraconfirmtxt {
    width: 660px;
    height: auto;
    position: relative;
}
.compraconfirmtxt .confirmtxt {
    width: 340px;
    height: auto;
}
.compraconfirmtxt .confirmtxt p {
    width: 340px;
}
.compraconfirmtxt .confirmpasos {
    width: 350px;
    height: auto;
}
.compraconfirmtxt .confirmpasos li {
    width: 300px;
}
.compraconfirmtxt .confirmtxtfin {
    width: 990px;
    height: 65px;
}
.compraresumen {
    width: 435px;
    height: 500px;
    position: relative;
    top: 10px;
    left: 10px;
}
.compraresumen p {
    padding: 6px 10px 4px;
    font-size: .875em;
    width: 415px;
    height: 25px;
}
.compraresumen p label {
    font-size: 1em;
}
.compraresumen p span.resumenpeli strong {
    font-size: .750em;
    width: 24px;
    height: 18px;
}
.compraresumeninfo {
    padding: 5px;
    width: 425px;
    height: 125px;
}
.compraresumeninfo p {
    padding: 4px 0 4px;
    width: 425px;
    height: 35px;
}
.compraresumeninfo p.compraresumeninfotit {
    width: 425px;
    height: 25px;
}
.compraresumeninfo p span.titresumen {
    width: 85px;
}
.compraresumeninfo p span.txtresumen {
    line-height: 1em;
    width: 85px;
    height: auto;
}
.compravoucher {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_voucher.png) no-repeat 40px 0;
    top: 153px;
    right: 0;
}
.compravoucher p.voucher_txtppal {
    position: relative;
    left: 30px;
}
.compravoucher p {
    padding-bottom: 0;
    font-size: .7em;
    position: relative;
    left: 40px;
}
.compraconfirmtxt {
    width: 660px;
    height: 90px;
    position: relative;
    top: 0;
}
.compraconfirmtxt .confirmtxtfin {
    width: 660px;
    height: 65px;
}
.compraconfirmtxt .confirmtxtfin p {
    width: 660px;
}
.compramensaje {
    border-top: 0 dotted #333;
    width: 415px;
    height: 500px;
    top: 30px;
    left: 10px;
}
.compramensaje p {
    padding-bottom: 10px;
    width: 410px;
}
a.btn_compraprocesar2 {
    position: absolute;
    top: 500px;
    left: 155px;
}
a.btn_compraprocesar2:hover {
    position: absolute;
    top: 500px;
    left: 155px;
}
.cont_registro label {
    font-size: 14px;
}
.cont_registro .input_left {
    margin-right: 2%}
.cont_registro label.label_right {
    width: 20%}
div.l_face label, div.l_tweet label, div.l_inst label {
    display: table;
}
div.l_face, div.l_tweet, div.l_inst {
    width: 19%}
div.l_face {
    width: 20%}
.contenido_acceso label {
    font-size: 16px;
    width: 34%}
.contenido_acceso input[type="submit"] {
    padding: 10px 0 10px 35px;
    width: 200px;
}
.contenido_acceso input[type="email"], .contenido_acceso input[type="password"] {
    width: 62%;
    margin: 0 0 40px 20%}
.btn_acc div {
    padding-top: 40px;
    padding-left: 0;
    font-size: 10px;
    width: 29%;
    margin-left: 2%;
    text-align: center;
    background-position: top center;
}
div.btn_acc1 {
    padding-right: 2%}
.reg_text p {
    margin: 38px 10% 0;
    font-size: 18px;
}
.cont_contacto label {
    font-size: 16px;
}
}