@media screen and (min-width:768px) and (max-width:1023px) {
    .contenido {
    width: 750px;
}
.modulo {
    width: 740px;
}
.select_ciudad, .select_ciudad:hover {
    font-size: 1.5em;
    top: 45px;
}
.select_ciudad:hover {
    color: #fff;
}
.select_ciudad span, .select_ciudad:hover span {
    top: 12px;
    right: 5px;
}
.mod_home {
    width: 740px;
    height: 430px;
}
nav.mnugris_secc ul li{
	padding-right: 10px;
	font-size: .86em;
}
ul.mnu_home {
    margin-right: 0;
    margin-bottom: 1px;
    width: 740px;
    height: 100px;
    float: none;
    display: block;
}
ul.mnu_home li {
    padding-top: 20px;
    margin-bottom: 0;
    margin-right: 1px;
    width: 246px;
    height: 80px;
    display: inline;
    float: left;
}
ul.mnu_home li:last-child {
    margin-right: 0;
    width: 246px;
}
ul.mnu_home li span.mnu_home01, ul.mnu_home li span.mnu_home02, ul.mnu_home li span.mnu_home03 {
    top: -10px;
}
ul.mnu_home li p {
    padding-top: 0;
    font-size: 1em;
    top: -5px;
}
.mod_homecarr {
    width: 740px;
    height: 340px;
    float: none;
    display: block;
}
.mod_homecarrbase {
    width: 740px;
    height: 325px;
}
a.flant_homecarr {
    top: 125px;
}
a.flant_homecarr:hover {
    top: 125px;
}
a.flsig_homecarr {
    top: 125px;
}
a.flsig_homecarr:hover {
    top: 125px;
}
ul.mod_homecarrpag {
    top: 300px;
    left: 300px;
}
.mod_peliculas, .modulo-2 {
    width: 740px;
    height: 510px;
    display:inline-block;
}
.mod_peliculas ul {
    width: 740px;
    height: 500px;
    overflow: hidden;
}
.mod_peliculas ul li {
    margin: 0 0 4px 10px;
}
.mod_lista_peliculas {
    width: 740px;
    height: auto;
    display: block;
}
.mod_lista_peliculas ul {
    width: 740px;
    overflow: hidden;
}
.mod_lista_peliculas ul li {
    margin: 0 0 45px 10px;
    width: 175px;
    height: 250px;
    font-size: 1em;
    margin: 5px 2px 2px 5px !important;
}
.mod_lista_peliculas ul li a {
    width: 175px;
    height: 250px;
}
.mod_lista_peliculas ul li img {
    width: 175px;
    height: 250px;
}
.mod_titulo_pelicula {
    width: 175px;
}
.mod_titulo_pelicula h2 {
    color: #c02328;
    font-family: cinesu;
    font-weight: 400;
}

.v_cinesj, .v_cinesj2 {
    height: 100%}
.v_cinesj ul {
    margin-left: auto;
    margin-right: auto;
    height: 85.8%}
.v_cinesj2 .v_horarios ul{
    margin-left: 15px;
}
.v_cinesj2 .v_horarios ul li{
    width: 32%;
}
.horarios_censura {
    width: 94.8%;
    margin-left: 2.8%}
.mod_pelivelo {
    width: 700px;
    height: 993px;
    margin-left: auto;
    margin-right: auto;
}
.mod_pelivelotop {
    width: 700px;
    height: 245px;
}
.mod_pelivelotop img.pelivelotopimg {
    width: 700px;
    height: 235px;
}
.mod_pelivelomid {
    padding: 15px 30px 0 30px;
    border-bottom: 1px solid #000;
    width: 640px;
    height: 518px;
}
.mod_pelivelomid h2 {
    font-size: 1.8em;
    width: 630px;
    height: 50px;
}
.mod_pelivelomidbarra {
    width: 630px;
    height: 42px;
}
.mod_pelivelomidtipo {
    padding-top: 10px;
    font-size: 1.000em;
    width: 325px;
    height: 31px;
}
.mod_pelivelomidbox {
    padding: 10px 10px 0;
    width: 610px;
    height: 400px;
}
ul.mod_pelivelomidlist {
    width: 610px;
    height: 370px;
}
ul.mod_pelivelomidlist li {
    padding: 10px 0 0;
    font-size: .813em;
    width: 610px;
    height: 30px;
}
ul.mod_pelivelomidlist li:first-child {
    padding: 10px 0 0;
    font-size: .688em;
    width: 610px;
}
ul.mod_pelivelomidlist li a:hover {
    color: #666;
}
ul.mod_pelivelomidlist li span.ciudad {
    width: 170px;
}
ul.mod_pelivelomidlist li span.hora {
    width: 340px;
}
ul.mod_pelivelomidlist li span.sala {
    width: 50px;
}
ul.mod_pelivelomidlist li span.censura {
    text-align: center;
    width: 50px;
}
.mod_pelivelofin {
    padding-top: 30px;
    width: 700px;
    height: 184px;
}
ul.mod_pelivelofinlist {
    width: 690px;
    height: 175px;
    left: 5px;
}
ul.mod_pelivelofinlist li {
    margin: 0 4px 4px 4px;
    width: 106px;
    height: 151px;
}
ul.mod_pelivelofinlist li img {
    width: 106px;
    height: 151px;
}
ul.mod_pelivelofinlist li a:hover, ul.mod_pelivelofinlist li a:hover img {
    width: 110px;
    height: 157px;
}
ul.mod_detalle_peli li span.censura b {
    left: 73%}
ul.mod_detalle_peli li span.censura {
    width: 2em;
    margin-right: 15px;
}
.tit_detalle_peli h2{
    margin-left: 0.2em;
    margin-top: 0.3em;
    font-size: 1.3em;
}
.img_det_peli {
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    float: initial;
}
.texto_det_peli p {
    font-size: 11px;
    padding-right: 6%;
    text-align: justify;
}
.art_estrenosli, .art_estrenosli:nth-child(2n) {
    margin-left: 9%}
.mod_salas {
    width: 740px;
    height: 1350px;
}
a.select_salas {
    padding-top: 4px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    color: #333;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    width: 740px;
    height: 27px;
    display: block;
    position: absolute;
}
a.select_salas:hover {
    padding-top: 4px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    color: #a21e23;
    border-bottom: 1px solid #000;
    width: 740px;
    height: 27px;
    display: block;
    position: absolute;
}
a.select_salas span {
    margin-left: 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat top;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: relative;
    top: 7px;
    right: 10px;
}
a.select_salas:hover span {
    margin-left: 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat bottom;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: relative;
    top: 7px;
    right: 10px;
}
ul.mod_salapelilist {
    width: 700px;
    left: 20px;
    top: 60px;
}
ul.mod_salapelilist li {
    padding: 8px 0 0;
    font-size: .875em;
    width: 700px;
    display: inline-block;
    height: auto;
}
ul.mod_salapelilist li:first-child {
    font-size: .688em;
    width: 700px;
}
ul.mod_salapelilist li a {
    padding: 0 5px;
}
ul.mod_salapelilist li a:hover {
    color: #666;
}
ul.mod_salapelilist li span.hora {
    width: 340px;
}
.mod_salasinfo {
    margin-right: 20px;
    width: 700px;
    top: 70px;
}
ul.mod_salapeliico {
    width: 300px;
    height: 180px;
    position: absolute;
    right: 0;
}
.mod_salasmapa {
    margin: 0;
    width: 50%;
    height: 216px;
    left: 0;
    float: left;
}
.mod_salasmapa img {
    width: 288px;
    height: 216px;
}
.mod_salasdir {
    width: 46%;
    left: 24px;
    float: left;
    top: 60px;
}
.mod_salasdir p {
    width: 100%}
ul.mnu_salasciudad {
    z-index: 99999;
    background: 0;
    height: auto;
    top: 60px;
    left: 570px;
    width: 170px;
    display: block;
    border: 1px solid #333;
    background-color: #FFF;
    display: none;
}
ul.mnu_salasciudad li {
    display: block;
}
ul.mnu_salasciudad li:hover {
    border-right: 0;
}
ul.mnu_salasciudad li a, ul.mnu_salasciudad li a:hover {
    border-right: 0;
    width: 150px;
    padding-right: 0;
}
ul.mnu_salasciudad li.mnu_salasciudadact a {
    width: 150px;
    padding-right: 0;
}
ul.mnu_salasciudad li.mnu_salasciudadact a:hover {
    border: 0;
}
.mod_salas nav {
    position: relative;
}
.mod_compra01 {
    width: 740px;
    height: auto;
}
.mod_compra01tope {
    padding: 5px 10px;
    width: 720px;
    height: 90px;
    background-repeat: repeat;
}
.mod_compra01tope .pelidatos {
    padding-top: 2px;
    width: 720px;
    height: 20px;
}
.mod_compra01tope .pelidatos p {
    font-size: .875em;
    line-height: 1em;
    padding-right: 5px;
    width: 90px;
    display: inline;
    border-right: 1px solid #fff;
    margin-left: 2px;
}
.mod_compra01tope .pelidatos span {
    font-size: 1.125em;
    font-weight: 500;
    color: #fff;
    width: 20px;
    height: 21px;
    right: none;
    top: 2px;
    left: 220px;
}
.mod_compra01tope .pelinombre {
    width: 720px;
    height: 55px;
    top: 12px;
}
.mod_compra01tope .pelinombre p.pelinombretit {
    font-size: 1em;
    top: 3px;
    left: 10px;
}
.mod_compra01tope .pelinombre p.pelinombrefecha {
    top: 30px;
    left: 10px;
}
.mod_compra01tope .pelinombre p.pelinombrelugar {
    top: 30px;
    right: 10px;
}
.mod_compra01tope .peliasientos {
    padding: 0;
    width: 186px;
    height: 22px;
    position: absolute;
    top: 9px;
    left: 545px;
}
.mod_compra01tope .peliasientos p {
    padding-left: 22px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_asientodisp1.png) no-repeat -30px 0;
    font-size: .813em;
    width: 165px;
    height: 30px;
    top: 2px;
    left: 8px;
}
.mod_compra01info {
    width: 740px;
    height: auto;
    top: 10px;
    position: relative;
    left: 0;
    margin-bottom: 30px;
}
ul.comprainfo {
    width: 720px;
    left: 10px;
    height: auto;
}
ul.comprainfo li {
    font-size: .875em;
    width: 720px;
}
ul.comprainfo li p {
    width: 700px;
}
ul.comprainfo li:first-child {
    font-size: .813em;
    top: 0;
}
ul.comprainfo li:first-child span.comprainfocant {
    width: 180px;
    position: relative;
    top: 0;
}
ul.comprainfo li.comprainfo1 {
    height: 28px;
}
ul.comprainfo li.comprainfo2 {
    padding-top: 5px;
    height: 30px;
}
ul.comprainfo li span.comprainfotipo {
    padding-right: 25px;
    width: 300px;
}
ul.comprainfo li span.comprainfotipo img {
    top: 0;
}
ul.comprainfo li span.comprainfomonto {
    width: 200px;
    top: 0;
}
ul.comprainfo li span.comprainfocant {
    padding-left: 50px;
    width: 130px;
    float: right;
    top: 0;
}
ul.comprainfo li span.comprainfoboleto {
    width: 570px;
}
ul.comprainfo li span.comprainfobalance {
    margin: 0 5px;
    width: 100px;
    height: auto;
    float: left;
    position: relative;
}
.mod_compra01det {
    background: 0;
    padding-bottom: 10px;
    width: 740px;
    height: auto;
    position: relative;
    top: 0;
}
.mod_compra01det .compradet {
    margin: 0 auto;
    background: 0;
    width: 740px;
    height: auto;
}
.compradetbox {
    display: none;
}
.compradetbox h4 {
    width: 347px;
    height: 25px;
}
.compradetbox h5 {
    padding-top: 7px;
    width: 347px;
    height: 30px;
}
.compradetboxint {
    padding-top: 10px;
    width: 347px;
    height: 140px;
}
.compradetboxint p {
    font-size: .875em;
    width: 347px;
}
.compradetboxint p span {
    width: 170px;
}
a.btn_compradetnext {
    top: 20px;
}
a.btn_compradetnext:hover {
    background: #414141;
    top: 20px;
}
.btn_compradetnext2, .btn_compradetnext2:hover {
    position: absolute;
    top: 105px;
    left: 280px;
}
.compradetbox2 {
    margin: 5px auto;
    padding: 5px 10px;
    background: #e4e6e5;
    color: #000;
    width: 700px;
    height: 110px;
    display: block;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    positio: relative;
}
.compradetbox2 p {
    padding: 4px 15px 4px;
    border-bottom: 1px dotted #333;
    font-size: 1.2em;
    width: 660px;
    height: 25px;
    display: block;
}
.compradetbox2 p.compraresumeninfotit {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
    background-color: #c02328;
}
.compradetbox2 p span.titresumen {
    text-align: center;
    font-weight: 600;
    font-size: .625em;
    line-height: 1em;
    text-transform: uppercase;
    width: 120px;
    height: auto;
    float: left;
}
.compradetbox2 p span.txtresumen {
    text-align: center;
    font-weight: 300;
    font-size: .625em;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 120px;
    height: auto;
    float: left;
    position: relative;
    top: 0;
}
.mod_compra02 {
    width: 740px;
    height: auto;
}
.mod_compra02tope {
    font-size: .938em;
    width: 740px;
    height: 65px;
}
.comprabarrapeli {
    font-size: 1.125em;
    width: 720px;
    height: 30px;
}
.comprabarracine {
    width: 159px;
    height: 27px;
    top: 34px;
    right: 380px;
}
.comprabarrafecha {
    font-size: .938em;
    width: 410px;
    height: 27px;
    top: 34px;
    right: 0;
}
.asientositems {
    width: 690px;
    height: 420px;
    display: block;
    position: relative;
    top: 20px;
    left: 0;
    overflow: hidden;
    margin-left: 27px;
}
.salaleyenda {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_salaleyenda.png) no-repeat 0 -120px;
    width: 680px;
    height: 100px;
    display: block;
    top: 30px;
    left: 0;
    margin: 0 auto;
}
.mod_compra02det {
    background: 0;
    color: #333;
    width: 740px;
    position: relative;
    height: auto;
}
.compratiempo {
    background: transparent;
    width: 50px;
    height: 14px;
    float: right;
    background-color: #c02328;
    position: fixed;
    top: 5px;
}
.compratiempo p {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/crono-cu-icon.png)no-repeat 0 2px;
    margin: 0 auto;
    font-size: 14px;
    padding-top: 0;
    width: 65px;
    height: 20px;
}
.compratiempoflota {
    padding: 5px;
    background: #c02328;
    color: #fff;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    width: 150px;
    height: auto;
    display: block;
    position: fixed;
    top: 103px;
    right: 0;
    z-index: 1000;
}
.compratiempoflota p {
    margin: 0 auto;
    color: #fff;
    font-size: 1em;
    line-height: 1.125em;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
    height: auto;
    display: block;
}
.compraasientos {
    padding-top: 0;
    width: 720px;
    position: relative;
    top: 10px;
    left: 0;
    margin-bottom:25px;
}
.compraasientos ul.asientosreserv {
    margin: 0 auto;
    width: 320px;
    height: 40px;
}
.compraasientos ul.asientosreserv li {
    margin: 0 7px 12px 0;
    padding-top: 4px;
    width: 32px;
    height: 26px;
}
.mod_compra03 {
    width: 740px;
    height: auto;
    min-height: 768px;
}
.asientosselecc {
    width: 720px;
    position: relative;
    top: 0;
}
ul.comprainfodet {
    color: #000;
    width: 710px;
    position: relative;
    top: 0;
}
ul.comprainfodet li {
    width: 710px;
}
ul.comprainfodet li span.comprainfoboleto {
    width: 550px;
}
.pagoseguro {
    width: 740px;
    top: 162px!important;
}
.pagoseguro h5 {
    width: 710px;
}
fieldset.pagopasos {
    width: 710px;
    height: auto;
    left: 15px;
}
fieldset.pagopasos p {
    font-size: .875em;
    width: 710px;
    height: 40px;
}
fieldset.pagopasos p label {
    padding-top: 4px;
    width: 250px;
    height: 28px;
}
.compranota {
    width: 720px;
    height: auto;
    left: 0;
    margin-top:30px;
}
.compranotaitem {
    width: 720px;
    height: auto;
}
.compranotaitem h5 {
    padding-bottom: 0;
    font-size: .875em;
    color: #c02328;
    width: 720px;
}
.compranotaitem p {
    margin: 0 auto;
    font-size: .750em;
    line-height: 1em;
    width: 720px;
}
.compranotaitemmedio {
    width: 720px;
    height: 75px;
}
.compraprocesando {
    margin: 0 auto;
    color: #000;
    width: 700px;
    height: 160px;
    position: relative;
    top: 0;
    left: 0;
}
.compraprocesando h5 {
    margin-bottom: 40px;
    width: 700px;
    clear: left;
}
.compraprocesando img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: block;
}
.mod_compra05tope {
    width: 740px;
    height: 31px;
}
.mod_compra05tope .compraconfirm {
    font-size: 1.125em;
    width: 500px;
}
.mod_compra05tope .comprapasos {
    font-size: 1.125em;
    width: 400px;
    height: 29px;
}
.compraconfirmtxt {
    width: 710px;
    height: auto;
    position: relative;
}
.compraconfirmtxt .confirmtxt {
    width: 350px;
    height: auto;
}
.compraconfirmtxt .confirmtxt p {
    font-size: .813em;
    line-height: 1.25em;
    width: 350px;
}
.compraconfirmtxt .confirmpasos {
    width: 350px;
    height: auto;
    right: 15px;
}
.compraconfirmtxt .confirmpasos li {
    text-align: right;
    font-size: .813em;
    line-height: 1.25em;
    width: 300px;
}
.compraconfirmtxt .confirmtxtfin {
    width: 990px;
}
.compraresumen {
    width: 460px;
    height: 500px;
    position: relative;
    top: 10px;
    left: 10px;
}
.compraresumen p {
    font-size: .875em;
    width: 430px;
    height: 25px;
    display: inline-block;
}
.compraresumen p label {
    font-size: 1em;
    width: 100px;
}
.compraresumen p span.resumenpeli strong {
    font-size: 1em;
}
.compraresumen p span.resumenpeli {
    font-size: .87em;
}
.compraresumeninfo {
    width: 440px;
    height: 125px;
}
.compraresumeninfo p {
    padding: 4px 5px 4px;
    width: 430px;
    height: 35px;
}
.compraresumeninfo p.compraresumeninfotit {
    width: 430px;
    height: 25px;
}
.compraresumeninfo p span.titresumen {
    width: 85px;
    font-size: .8em;
}
.compraresumeninfo p span.txtresumen {
    width: 85px;
    font-size: .8em;
}
.compravoucher {
    top: 153px;
    right: 0;
}
.compravoucher p.voucher_txtppal {
    padding-bottom: 0;
    position: relative;
    left: 0;
}
.compravoucher p {
    padding-bottom: 10px;
    font-size: .7em;
    position: relative;
    left: 0;
}
.compraconfirmtxt {
    width: 710px;
    height: 90px;
    position: relative;
    top: 0;
}
.compraconfirmtxt .confirmtxtfin {
    width: 710px;
    height: 65px;
    position: relative;
    padding-top: 15px;
}
.compraconfirmtxt .confirmtxtfin p {
    width: 710px;
}
.compramensaje {
    width: 440px;
    height: 500px;
    top: 30px;
}
.compramensaje p {
    padding-bottom: 10px;
    width: 430px;
}
a.btn_compraprocesar2 {
    position: absolute;
    top: 500px;
    left: 41%}
a.btn_compraprocesar2:hover {
    position: absolute;
    top: 500px;
    left: 41%}
.cont_registro label {
    font-size: 14px;
}
.cont_registro .input_left {
    margin-right: 2%}
.cont_registro label.label_right {
    width: 20%}
.cont_registro input{
    width:50% !important;
}
#recaptcha_widget_div {
position: relative;
right: 20px !important;
}
div.l_face label, div.l_tweet label, div.l_inst label {
    display: table;
}
div.l_face, div.l_tweet, div.l_inst {
    width: 19%}
div.l_face {
    width: 20%}
.contenido_acceso label {
    font-size: 16px;
    width: 34%}
.contenido_acceso input[type="submit"] {
    padding: 10px 0 10px 35px;
    width: 200px;
    margin: 0 0 40px 20%}
.contenido_acceso input[type="email"], .contenido_acceso input[type="password"] {
    width: 62%}
.contenido_acceso input{
    padding-left: 0px;
    padding-top: 0px;
}
.btn_acc div {
    padding-top: 40px;
    padding-left: 0;
    font-size: 10px;
    width: 29%;
    margin-left: 2%;
    text-align: center;
    background-position: top center;
}
div.btn_acc1 {
    padding-right: 2%}
.reg_text p {
    margin: 38px 10% 0;
    font-size: 18px;
}
.cont_contacto label {
    font-size: 16px;
}
}