﻿body {
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

.overlay {
    position: fixed;
    background: #000000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .25;
    z-index: 100;
}

#logo {
    position: absolute;
    top: 160px;
    left: 570px;
    z-index: 101;
}

#aniv {
    position: absolute;
    top: 400px;
    left: 455px;
    z-index: 101;
}

#video {
    height: 100%;
    position: fixed;
    width: 100%;
    object-fit: fill;
    z-index: -100;
}

.btn-container {
    position: absolute;
    margin-top: 550px;
    height: 32px;
    z-index: 100000;
}

.btn-promo {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 38px;
    border: 0;
    width: 184px;
    color: #747474;
    background-color: transparent;
    left: 130px;
    z-index: 103;
    transition: all .1s ease;
}

.btn-promo:hover {
    border-bottom:  2px solid #747474;
}

.panel {
    font-family: 'Open Sans Condensed', sans-serif;
    height: 420px;
    background: #2a2a2a;
    border-radius: 0px;
    box-shadow: 2px 2px 10px #747474;
    margin-top: -50px;
    z-index: 102;
}

.panel-left {
    margin-left: 50px;
}

.panel h3 {
    text-align: center;
    text-decoration: underline;
    color: #fff;
    padding-bottom: 20px;
}

.panel label {
    font-family: 16px;
    color: #c6c6c6;
}

.panel input {
    background: #333333;
    border: 0;
    border-radius: 0px;
    border-bottom: 2px solid #747474;
    color: #fff;
}

input:focus {
    outline: none!important;
    background: #535353;
    border-color: inherit;
    box-shadow: none!important;
    border-bottom:  2px solid #747474;
}

.panel select {
    background: #333333;
    background-image: url('https://cinesunidosweb.blob.core.windows.net/img/dropdown.png');
    background-repeat: no-repeat;
    background-position-x: 100%;
    border: 0;
    border-radius: 0px;
    border-bottom: 2px solid #747474;
    color: #fff;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

    .panel select:focus {
        outline: none !important;
        background: #535353;
        border-color: inherit;
        box-shadow: none !important;
        border-bottom: 2px solid #747474;
        background-image: url('https://cinesunidosweb.blob.core.windows.net/img/dropdown.png');
        background-repeat: no-repeat;
        background-position-x: 100%;
        border: 0;
        border-radius: 0px;
        border-bottom: 2px solid #747474;
        color: #fff;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

.img {
    display: block;
    width: 100%;
    height: 289px;
}

label {
    display: inline-block;
    margin-right: 1em;
    padding: 0.4em 0;
    cursor: pointer;
}

.scene {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
}

.fill {
    position: absolute;
    bottom: 5%;
    right: 5%;
    left: 5%;
    top: 5%;
}

.border {
    border: 2px dashed #00FFAA;
}

.aspect {
    opacity: 0.2;
}

.layer {
    margin-bottom: 0;
}

#reflex-left,
#reflex-left-off,
#light-left {
    margin-top: 155px;
    margin-left: -20px;
    transform: rotate(15deg);
}

#reflex-right,
#reflex-right-off,
#light-right {
    margin-top: 155px;
    margin-left: 20px;
    transform: rotate(345deg);
}

#trn, #sbq, #lna,
#mce, #sam, #uni,
#gpa, #gav, #mln,
#ldr, #gua, #csu,
#smb, #ame, #hip,
#sma, #ccp, #rgn,
#ork, #ssc, #mtr,
#gra, #sva {
    display: none;
}