 /*
    Desarrollador: Johans Cuellar
    Fecha: 01-03-2017
    Descripcion: Hoja de estilo que implementa las clases de Concessions 
 */


.affix{
    width: 100%;
    left: 0px;
    top:40px;
    z-index: 999;
}

/*Menu de concesiones*/
.fondo_top{
     /*margin-bottom: 0px!important;*/ 
}
.concesiones-menu-wrapper{
    width: 100%;
    background-color: #ac2529;
    height: 30px;
}
.concesiones-menu-wrapper ul{
    list-style: none;
    text-align: center;
    height: 30px;
    padding: 0px;
}
.concesiones-menu-wrapper ul li {
    display: inline-block;
    line-height: 30px;
}
.concesiones-menu-wrapper ul li a{
    padding-left: 8px;
    padding-right: 8px;
    line-height: 30px;
    display: inline-block;
}
.concesiones-menu-wrapper ul li a:hover{
    background-color: #791b1e;
}
.shop-item{
    
}
#container-folio div{
    padding: 0px;
}
.shop-area{
    padding: 0px;
}
.shop-item .inner-wraper{
    margin: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}
.selected-item{
    -webkit-box-shadow: 0px 0px 1px 4px rgba(196,2,2,1)!important;
-moz-box-shadow: 0px 0px 1px 4px rgba(196,2,2,1)!important;
box-shadow: 0px 0px 1px 4px rgba(196,2,2,1)!important;
}
.item-thumb{
    width: 100%;
    height:188px;
}
.item-thumb img{
    width: 100% !important;
}
.meta-info{
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 55px;
}
.meta-info span{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.meta-info span.item-name{
    padding:10px;
    font-family: cinesu, Tahoma, Geneva, sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
    color: #666;
    font-size: 18px;
    text-align:left;
}
.meta-info span.item-desc{
    font-family: cinesu, Tahoma, Geneva, sans-serif;
    font-weight:normal;
    line-height: 1;
    color: inherit;
    color: #777;
    font-size: 12px;
    height: 36px;
    padding: 6px;
}
.meta-info span.item-price{
    font-family: cinesu, Tahoma, Geneva, sans-serif;
    font-weight:bold;
    line-height: 1.1;
    color: inherit;
    color: #777;
    font-size: 14px;
    height: 30px;
}
.meta-info-price{
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 30px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: cinesu, Tahoma, Geneva, sans-serif;
    font-weight:bold;
    line-height: 1.1;
    color: inherit;
    color: #777;
    font-size: 14px;
    height: 30px;
}
.buy-options{
    width: 100%;
    padding-bottom: 10px!important;
    
}
.buy-options .row{
    padding: 8px;
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
}
.buy-options .row div{
    padding: 0px!important;
}
.buy-options input{
    width: 100%;
    display: block;
    border: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 26px;
    font-size: 26px;
    font-weight: bold;
    background-color: #E4E6E5;
    border-radius: 5px;
    border:solid #f2f2f2 1px;
    color: grey;
}
.buy-action{
    width: 24px;
    height: 24px;
    display: block;
    border-radius: 100%;
    background-color: #c02328;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 24px;
    margin-top: 6px;
}
/*Detalle venta*/
.right-area{
    padding: 0px;
    margin-top: 10px;
    padding-left: 6px;
    padding-right: 6px;
}
.buy-amounts{
    text-align: right;
}
#buying-time{
    background-color: #be262d;
    
    padding: 4px;
}
#buying-time h1{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-size: 22px;
    text-transform: uppercase;
    width: 140px;
    margin-top: 8px;
}
.buy-concept{
    text-align: right;
}
#buying-detail h1{
    font-family: cinesu;
color: #000;
text-align: center;
font-weight: 900;
}
#checkout-area{
    background-color: #e4e6e5;
    text-align: center;
    border-top: 2px solid white;
    padding: 12px 0px;
}
#checkout-area a{
    display: inline-block;
    text-align: center;
  
    
}
#checkout-area a img{
    max-width: 200px;
    width: 80%;
}
#timer_movil{
    width: 100px;
    position: fixed;
    right: 0px;
    top: 150px;
    z-index: 999;
    display: none;
}
#timer_movil img{
     width: 100%;
    
}
/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
#menu-toggle{
    display: none;
}
#wrapper.toggled {
    position: relative;
    transform: translate(-340px, 0px);
}

#sidebar-wrapper {
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 380px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.desaparecer {
	display: none !important;
}

/*
Estilo para corregir el comportamiento del resumen del carrito de compras (vista derecha del front view) en el resize de la ventana.
*/
@media(min-width: 769px){
    #wrapper.toggled {
        position: relative;       
        transform: translate(-340px, 0px);
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 100%;
    }
}

@media screen and (min-width: 400px) and (max-width: 600px){

    #wrapper.toggled {
    position: relative;
    transform: translate(-340px, 0px);
    }
}

/*Carameleria en resolucione no muy comerciales*/
@media screen and (min-width: 769px) and (max-width: 1199px){
    .right-area{
        width: 65%;
        position: relative;
        margin-left: 160px;
    }

    .compradetbox p {
        width: auto;
        font-size: 11px;
    }

    .compradetbox p span {
        width: auto;
    }

    #carameleriatab p {
        width: auto;
        font-size: .8em;
    }
}

@media(max-width:768px) {
    .desaparecer {
	   display: block !important;
    }

    #wrapper {
       /*padding-left: 250px;*/
    }

    #sidebar-wrapper {
        z-index: 998;
        position: fixed;
        width: 380px;
        /*overflow-y: auto;*/
        overflow-y: scroll;
        top:10px;
        right: -420px;
    }

    .mod_compra03 #sidebar-wrapper {
        position: relative;
        width: 100%;
        top: 0;
        right: 0;
    }

    #timer_movil{
        display: block;
    }

   
}

.detail_button{
    background-color: white!important;
    color: #aa272d!important;
    /*background-image: url(../images/carrito.png);*/
    background-repeat: no-repeat;
    background-position:  center;
    /*padding-right: 26px!important;*/

}

/* Modal Styles */

.modal-content{
 border-radius: 0px;
    background-color: transparent;
}


.modal-body{
 padding: 0px;
}


.modal-content .textmodal{
 position: absolute;
}


.modal-content .buttons_modal{
 position: absolute;
 }


.button_modal{
    display: inline-block!important;
    text-align: center;
 }


.modal-footer{
    padding: 0px;
    text-align: center;
    border-top: 0px;
    padding-top: 0px;
}


.modal-backdrop {
   background-color: white;
 }


table#carameleria_items tbody tr {

        background-color: transparent !important;

}

.disabled-link{
    pointer-events: none;
    cursor: default;
}