﻿textarea {
    max-width: 100%;
}
.flip-clock-wrapper ul {
position: relative;
float: left;
margin: 4px;
width: 42px;
height: 40px;
font-size: 80px;
font-weight: bold;
line-height: 37px;
border-radius: 6px;
background: #000;
}
.flip-clock-wrapper ul li{
    line-height: 42px;
}
.flip-clock-wrapper ul li a div div.inn{
    font-size: 33px;
}
.flip-clock-divider{
    height: 50px;
}
.flip-clock-wrapper{
margin:0;
margin-top: 12px;
}
.flip-clock-divider .flip-clock-label{
    top: -1em;
    color:#999;
}