﻿/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
}

/* The Close Button */
.close {
    color: #ffffff;    
    position: fixed;
    margin-left: 80%;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #d1d1d1;
        text-decoration: none;
        cursor: pointer;
    }

#img-moana {
    display: block;
    max-width: 60%;
    padding-top: 2.4%;
    margin: 4% auto;
}

.mob-modal {
    display: block;
}

@media screen and (max-width: 1365px) {
    .mob-modal {
        margin-top: 100%;
    }
}

@media screen and (max-width: 1025px) {
    .close {
        margin-top: 1%;
        margin-left: 85.5%;
    }

    #img-moana {
        padding-top: 5%;
        max-width: 75%;
    }
}

@media screen and (max-width: 641px) {
    #img-moana {
        display: none;
    }

    .mob-modal {
        margin-top: 10%;
    }

    #img-mobmoana {
        margin-left: 13.5%;
        max-width: 75%;
    }
}

@media screen and (max-width: 481px) {
    .mob-modal {
        margin-top: 15%;
    }
    
    #img-mobmoana {
        margin-left: 5%;
        max-width: 90%;
    }
}