﻿body {
    background-color: #d1d1d1;
    background-image: url(https://cinesunidosweb.blob.core.windows.net/massmail/white-compressor.jpg);
}

        #content {
            background-color: #fff;
            padding-top: 70px;
        }

        #header {
            position: absolute;
            z-index: 100;
            padding-left: 21.20%;
        }

        #twitter {
            position: absolute;
            margin-top: -35px;
            margin-left: 420px;
        }

        #instagram {
            position: absolute;
            margin-top: -35px;
            margin-left: 460px;
        }

        #facebook {
            position: absolute;
            margin-top: -35px;
            margin-left: 500px;
        }

        #youtube {
            position: absolute;
            margin-top: -35px;
            margin-left: 530px;
        }

        #sinopsis {
            color: #1c1c1c;
            text-indent: 30px;
            text-align: justify;
            margin-top: -15px;
            margin-right: 5px;
        }

        #title {
            text-align: center;
        }

        #promos h3 {
            text-align: center;
        }

        #promos p {
            text-align: justify;
            text-indent: 30px;
        }

        .btn-primary {
            background-color: #cb2828;
            border-radius: 0px;
        }

        .btn-primary:hover {
            background-color: #ff4545;
        }

        .poster {
            border: 1px rgba(0, 0, 0, 0.74) solid;
        }

        .footer {
            background-color: #000;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 10px;
            text-align: center;
            color: #999;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 2.5%;
            padding-bottom: 2.5%;
        }

        .footer-btn {
            background-color: #c02328;
            border: 5px solid;
            border-color: #c02328;
            border-radius: 20px;
            color: #e4e6e5;
        }

        .footer-btn:hover {
            text-decoration: none;
            color: #fff;
            text-shadow: 0.5px 0.5px #fff;
        }

        @media screen and (max-width: 1025px) {
            #header {
                padding-left: 15.50%;
            }
        }