.popup {
    background-color: transparent;
    color: #555;
    height: 75%;
    width: 75%;
    left: -100%;
    padding: 2em;
    padding-right: 30px;
    position: fixed;
    top: 10%;
    z-index: 10000;
    -moz-box-shadow: 0px 0px 0px 0px #888888;
    -webkit-box-shadow: 0px 0px 0px 0px #888888;
    box-shadow: 0px 0px 0px 0px #888888;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: cinesu;
}

.overlay {
    background: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    opacity: .9;
    display: none;
}

a.close {
    cursor: pointer;
    color: #000;
    float: right;
    height: 64px;
    width: 64px;
    position: relative;
    top: -12px;
    left: 48px;
    z-index: 100;
}

#popup-img {
    width: 106%;
    position: relative;
    margin-top: -6.6em;
    margin-left: -2em;
}

@media screen and (max-width: 1366px) {
    .popup {
        height: 74.5%;
    }
}

@media screen and (max-width: 1280px) {
    .popup {
        height: 70%;
        top: 10%;
    }
}

@media screen and (max-width: 1024px) {
    .popup {
        height: 60.3%;
        box-shadow: 0px 0px 0px 0px #888888;
    }
}

@media screen and (max-width: 640px) {
    .popup {
        height: 32.8%;
        background-color: transparent;
    }

    #popup-img {
        margin-left: -1.2em;
        border-radius: 10px;
    }
}

@media screen and (max-width: 480px) {
    .popup {
        height: 23.3%;
    }

    #popup-img {
        margin-left: -0.8em;
    }
}