﻿.animated {
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
    -o-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.container-fluid {
    color: white;
}

body {
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../img/prueba/FondodeQuiniela.jpg');
}

figcaption {
    display: block;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.peliculaContainer {
    -webkit-box-shadow: 0px 3px 53px 1px black;
    -moz-box-shadow: 0px 3px 53px 1px black;
    box-shadow: 0px 3px 53px 1px black;
    margin-right: 25px;
    text-align: center;
    -moz-transition: all cubic-bezier(0.18, 0.89, 0.32, 1.28) .5s;
    -o-transition: all cubic-bezier(0.18, 0.89, 0.32, 1.28) .5s;
    -webkit-transition: all cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: all cubic-bezier(0.18, 0.89, 0.32, 1.28) .5s;
    background-color: black;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 25px;
}

    /*.peliculaContainer:last-child{
    margin-bottom: 15px;
}*/

    .peliculaContainer img {
        border-radius: 4px 4px 0px 0px;
    }

.contp section figure {
    border-radius: 4px;
}

#modal-content2 {
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../img/prueba/FondodeQuiniela.jpg');
}

hr {
    color: white;
}

.peliculaContainer:hover {
    -moz-transform: scale(1.10,1.10);
    -ms-transform: scale(1.10,1.10);
    -o-transform: scale(1.10,1.10);
    -webkit-transform: scale(1.10,1.10);
    transform: scale(1.10,1.10);
    -webkit-box-shadow: 0px 0px 39px 4px rgb(46, 75, 215);
    -moz-box-shadow: 0px 0px 39px 4px rgb(46, 75, 215);
    box-shadow: 0px 0px 39px 4px rgb(46, 75, 215);
}

h1 {
    margin-top: 0;
    display: inline-block;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    color: rgba(255,191,0,1);
    margin-bottom: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: rgba(255,191,0,1);
    font-size: 30px;
}

hr {
    margin-top: 0;
    border: solid .7px;
}

input {
    max-width: 250px;
}

.titulo {
    padding: 5px;
    background-color: black;
    border-radius: 0px 0px 4px 4px;
    width: 190px;
    margin: 0;
}

.titulo2 {
    padding: 5px;
    background-color: black;
    border-radius: 0px 0px 4px 4px;
    width: 271px;
    margin-top: auto;
    margin-bottom: auto;
}

.contenedor section {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

/*Botones Sociales*/
.contenedor2 {
    position: fixed;
    right: 0;
    bottom: 80px;
}

    .contenedor2 img {
        width: 42px;
        height: 42px;
        display: block;
        margin: 0 auto 10px;
    }

        .contenedor2 img:last-child {
            margin-bottom: 0;
        }

    .contenedor2 button[class^="botonF"],
    a[class^="botonF"] {
        border: none;
        background-color: transparent;
        position: relative;
        display: block;
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    .contenedor2 button[class^="botonF6"] {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .contenedor2 button[class^="botonF"] {
        padding: 0;
        width: 100%;
    }

.tag {
    background-color: #777;
    color: #FFF;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    white-space: nowrap;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -76px;
    z-index: 10;
    margin-top: auto;
    margin-bottom: auto;
    height: 20px;
}

.tag2 {
    background-color: #777;
    color: #FFF;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    white-space: nowrap;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -62px;
    z-index: 10;
    margin-top: auto;
    margin-bottom: auto;
    height: 20px;
}

.tag:hover {
    background-color: #000;
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    transform: scale(1.1);
}

.botonF1 .tag {
    left: -146px;
}

.botonF6 .tag {
    position: static;
    display: block;
}

.botonF6 img {
    margin-top: 10px;
}

/*.contenedor2 button.botonF6:hover {
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    transform: rotate(360deg);
}*/

.contenedor2 button[class^="botonF5"] {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.contenedor2 a[class^="botonF4"] {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.contenedor2 a[class^="botonF3"] {
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

.contenedor2 a[class^="botonF2"] {
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    -webkit-transition: 0.9s;
    transition: 0.9s;
}

.contenedor2 button[class^="botonF1"] {
    -moz-transition: 1.3s;
    -o-transition: 1.3s;
    -webkit-transition: 1.3s;
    transition: 1.3s;
}

.contenedor2 button[class^="botonF2_"] {
    -moz-transition: 1.3s;
    -o-transition: 1.3s;
    -webkit-transition: 1.3s;
    transition: 1.3s;
    background-color: white;
}

contenedor2 button.botonF6:hover {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    trasnform: scale(2);
}

.botonF6:active {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.botonF7 {
    background-color: white;
    -moz-transition: 1.3s;
    -o-transition: 1.3s;
    -webkit-transition: 1.3s;
    transition: 1.3s;
}

.titulop {
    padding: 5px;
    background-color: black;
    border-radius: 0px 0px 4px 4px;
    margin: 0;
}

.contenedor2 button[class^="botonF"].animacionVer,
a[class^="botonF"].animacionVer {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*modal*/
/*#modal-background {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: .50;
        -webkit-opacity: .5;
        -moz-opacity: .5;
        filter: alpha(opacity=50);
        z-index: 1000;
    }*/

#modal-content, #modal-content2 {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    margin: auto;
    display: none;
    padding: 10px;
    width: 80%;
    height: auto;
    z-index: 1000;
    overflow-x: hidden;
}

    #modal-background.active, #modal-content.active, #modal-content2.active {
        display: block;
        position: fixed;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

/*.dab {
    position: absolute;
    top: 15px;
    margin-left: -168px;
}

.dab2 {
    position: absolute;
    top: 15px;
    margin-left: -80px;
}

.dab3 {
    position: absolute;
    top: 15px;
    margin-left: -90px;
}*/

.contp section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}

    .contp section figure {
        margin-right: 20px;
        -webkit-box-shadow: 0px 3px 53px 1px black;
        -moz-box-shadow: 0px 3px 53px 1px black;
        box-shadow: 0px 3px 53px 1px black;
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        margin-bottom: 0;
    }

        .contp section figure img {
            border-radius: 4px 4px 0 0;
        }

.contenedor2 button[class^="botonF7"] {
    height: 42px;
    width: 42px;
    background-color: white !important;
    border-radius: 100%;
    right: -10px;
    bottom: 10px;
}


@media screen and (min-width:768px) {
    #modal-content2 {
        overflow-y: scroll;
    }
}

/****************** CAMBIOS MODALES QUINIELA ************************/
#modal-content2.active,
#modal-content.active {
    max-width: 1000px;
    max-height: 550px;
    overflow: auto;
    z-index: 10000;
    /*overflow-x: hidden;*/
}

    #modal-content2.active button#modal2-close,
    #modal-content.active button#modal-close {
        background-color: red;
        color: #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 1;
        padding: 0;
    }

.container-buttonq {
    position: absolute;
    top: 0;
    right: 0;
}

#modal-content.active {
    max-height: 600px;
}