﻿.promo-50shades{
    width:944px;
    height:390px;
    background-color:#000000;
    color:#999;
}
aside{
    position: absolute;
    left: 400px;
    padding-top: 7px;
}
.poster-left, aside,.video, .clock, .copy {
    float:left;
}
.copy{
    position: absolute;
    top: 360px;
}