@font-face {
    font-family: cinesu;
    src: url('/Content/fonts/OpenSans-Regular.ttf'), url('/Content/fonts/OpenSans-Regular.eot');
}
.mod_home {
    margin: 0 auto;
    width: 1255px;
    height: 440px;
    display: block;
    position: relative;
}
ul.mnu_home {
    margin-right: 1px;
    width: 260px;
    height: 437px;
    float: left;
    position: relative;
}
ul.mnu_home li {
    padding-top: 25px;
    margin-bottom: 1px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_btnhome.png) repeat-x;
    color: #e4e6e5;
    width: 260px;
    height: 120px;
    display: block;
}
ul.mnu_home li span.mnu_home01, ul.mnu_home li span.mnu_home02, ul.mnu_home li span.mnu_home03 {
    margin: 0 auto;
    width: 58px;
    height: 58px;
    display: block;
    position: relative;
}
ul.mnu_home li span.mnu_home01 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_mnuhome.png) no-repeat 0 0;
}
ul.mnu_home li span.mnu_home02 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_mnuhome.png) no-repeat -58px 0;
    top: 5px;
}
ul.mnu_home li span.mnu_home03 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_mnuhome.png) no-repeat -116px 0;
    top: 5px;
}
ul.mnu_home li p {
    padding-top: 10px;
    font-size: 1.500em;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
ul.mnu_home li a {
    color: #e4e6e5;
}
ul.mnu_home li a:hover {
    color: #fff;
}
.mod_homecarr {
    width: 994px;
    height: 440px;
    float: left;
    position: relative;
}
.mod_homecarrbase {
    width: 994px;
    height: 437px;
    display: block;
    position: relative;
}
a.flant_homecarr {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/fl_homecarr.png) no-repeat 0 0;
    width: 66px;
    height: 66px;
    display: block;
    position: absolute;
    top: 190px;
    left: 10px;
    z-index: 200;
}
a.flant_homecarr:hover {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/fl_homecarr.png) no-repeat 0 -66px;
    width: 66px;
    height: 66px;
    display: block;
    position: absolute;
    top: 190px;
    left: 10px;
    z-index: 200;
}
a.flsig_homecarr {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/fl_homecarr.png) no-repeat -66px 0;
    width: 66px;
    height: 66px;
    display: block;
    position: absolute;
    top: 190px;
    right: 10px;
    z-index: 200;
}
a.flsig_homecarr:hover {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/fl_homecarr.png) no-repeat -66px -66px;
    width: 66px;
    height: 66px;
    display: block;
    position: absolute;
    top: 190px;
    right: 10px;
    z-index: 200;
}
ul.mod_homecarrpag {
    width: 200px;
    height: 25px;
    display: block;
    position: absolute;
    top: 405px;
    left: 400px;
}
ul.mod_homecarrpag li {
    margin: 0 1px;
    width: 23px;
    height: 23px;
    float: left;
    display: inline;
}
ul.mod_homecarrpag li a {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/fl_homecarr.png) no-repeat 0 -132px;
    width: 23px;
    height: 23px;
    display: block;
}
ul.mod_homecarrpag li a:hover {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/fl_homecarr.png) no-repeat -23px -132px;
    width: 23px;
    height: 23px;
    display: block;
}
ul.mod_homecarrpag li.mod_homecarrpagact a {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/fl_homecarr.png) no-repeat -23px -132px;
    width: 23px;
    height: 23px;
    float: left;
    cursor: default;
}
.modulo-2 {
    margin: 0 auto;
    padding: 10px 0;
    width: 1255px;
    position: relative;
}
.mod_lista_peliculas {
    margin: 0 auto;
    width: 900px;
    display: table;
    position: relative;
}
.barra-left{
    width:352px;
    float:left;
}
.banner-left1, .banner-left2{
    max-width:352px;
    width:352px;
    max-height:250px;
    height:250px;
    float: left;
    box-shadow: 0 0 2px 2px #999;
    -moz-box-shadow: 0 0 2px 2px #999;
    -webkit-box-shadow: 0 0 2px 2px #999;
    margin: 0 0 5px 0px;
}
.mod_peliculas {
    margin: 0 auto;
    width: 900px;
    height: 510px;
    display: block;
    position: relative;
    float:right;
}
.mod_peliculas ul {
    width: 900px;
    height: 510px;
    display: block;
}
.mod_peliculas ul li {
    margin: 0 0 4px 4px;
    width: 175px;
    height: 250px;
    float: left;
    box-shadow: 0 0 2px 2px #999;
    -moz-box-shadow: 0 0 2px 2px #999;
    -webkit-box-shadow: 0 0 2px 2px #999;
}
.mod_peliculas ul li img {
    width: 175px;
    height: 250px;
    display: block;
}
.mod_peliculas ul li a {
    width: 175px;
    height: 250px;
    display: block;
}
.mod_peliculas ul li a:hover, .mod_peliculas ul li a:hover img {
    width: 185px;
    height: 257px;
    display: block;
    position: relative;
    top: -2px;
    left: -1px;
}
/*.mod_peliculas ul li:first-child {
    width: 353px;
    height: 504px;
    margin-left: 0;
}
.mod_peliculas ul li:first-child img {
    width: 353px;
    height: 504px;
    display: block;
}
.mod_peliculas ul li:first-child a {
    width: 353px;
    height: 504px;
    display: block;
}
.mod_peliculas ul li:first-child a:hover, .mod_peliculas ul li:first-child a:hover img {
    width: 353px;
    height: 504px;
    display: block;
    position: relative;
    top: 0;
    left: 0;
}
*/

.mod_lista_peliculas ul {
    width: 900px;
    height: auto;
    display: block;
}
.mod_lista_peliculas ul li {
    margin: 0 0 50px 14px;
    width: 190px;
    height: 271px;
    float: left;
    box-shadow: 0 0 2px 2px #999;
    -moz-box-shadow: 0 0 2px 2px #999;
    -webkit-box-shadow: 0 0 2px 2px #999;
}
.mod_lista_peliculas ul li img {
    width: 190px;
    height: 271px;
    display: block;
}
.mod_lista_peliculas ul li a {
    width: 190px;
    height: 271px;
    display: block;
}
.mod_titulo_pelicula {
    background-color: #f2f3f2;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    padding-top: 1px;
    padding-bottom: 5px;
    margin-top: 3px;
    position: relative;
}
.mod_titulo_pelicula h2 {
    color: #333;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 4px;
    text-transform: uppercase;
    margin-right: 5px;
    font-weight: bold;
}
.mod_velo {
    margin: 0 auto;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_velo.png) repeat;
    width: 100%;
    height: 1312px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
}
.mod_pelivelo {
    background: #fff url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos.gif) repeat;
    color: #000;
    max-width: 944px;
    height: auto;
    display: block;
    position: relative;
    z-index: 500;
    overflow: hidden;
}
.mod_pelivelotop {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barraroja.jpg) repeat-x bottom;
    max-width: 944px;
    height: 379px;
    display: block;
    position: relative;
}
.mod_pelivelotop img.peliveloimg {
    width: 1092px;
    height: 366px;
    display: block;
    position: absolute;
    top: 0;
}
.mod_pelivelotop img {
    position: absolute;
    clip: rect(0px, 944px, 366px, 0px);
}
.mod_pelivelomid {
    padding-top: 20px;
    max-width: 900px;
    height: auto;
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.mod_pelivelomid h2 {
    padding-bottom: 15px;
    font-size: 2.500em;
    font-weight: 400;
    width: 900px;
    height: 50px;
    display: block;
    position: relative;
}
.mod_pelivelomidbarra {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barraroja.jpg) repeat;
    color: #fff;
    width: 900px;
    height: 42px;
    display: block;
    position: relative;
    z-index: 100;
}
.mod_pelivelomiddias {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_pelivelodias.jpg) repeat;
    color: #666;
    height: 41px;
    display: block;
    position: absolute;
    left: 0;
    z-index: 100;
}
p.barra_mes {
    padding-top: 6px;
    font-size: .813em;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    width: 35px;
    height: 30px;
    float: left;
    position: relative;
    top: 1px;
    left: 1px;
    -ms-transform: rotate(-90deg);
}
ul.barra_dias {
    height: 41px;
    float: left;
}
ul.barra_dias li {
    font-size: .875em;
    text-align: center;
    width: 30px;
    height: 41px;
    float: left;
}
ul.barra_dias li span {
    display: block;
    font-size: .750em;
}
ul.barra_dias li a {
    padding-top: 3px;
    color: #666;
    width: 30px;
    height: 38px;
    display: block;
}
ul.barra_dias li a:hover, ul.barra_dias li.barradia_act a {
    padding-top: 3px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barradiaselect.jpg) no-repeat;
    color: #fff;
    width: 30px;
    height: 38px;
    display: block;
}
ul.barra_dias li.barradia_act a {
    cursor: default;
}
.mod_pelivelomidtipo {
    padding-top: 6px;
    text-align: right;
    font-size: 1.250em;
    font-weight: 100;
    text-transform: uppercase;
    width: 525px;
    height: 35px;
    display: block;
    position: absolute;
    right: 10px;
    z-index: 100;
}
.mod_pelivelomidbox {
    padding: 10px 35px 0;
    width: 830px;
    height: auto;
    box-shadow: 0 -1px 4px 2px #ccc;
    -moz-box-shadow: 0 -1px 4px 2px #ccc;
    -webkit-box-shadow: 0 -1px 4px 2px #ccc;
    display: inline-block;
    position: relative;
    z-index: 80;
}
ul.mod_pelivelomidlist {
    width: 820px;
    height: 370px;
    display: block;
    position: relative;
}
ul.mod_pelivelomidlist li {
    padding: 8px 0 0;
    font-size: .938em;
    font-weight: 500;
    text-transform: uppercase;
    width: 820px;
    height: 30px;
    border-bottom: 1px solid #ccc;
    display: block;
}
ul.mod_pelivelomidlist li:first-child {
    padding: 10px 0 0;
    font-size: .750em;
    font-weight: 700;
    text-transform: uppercase;
    width: 820px;
    height: 24px;
    border-bottom: 1px solid #ccc;
    display: block;
}
ul.mod_pelivelomidlist li a, ul.mod_pelivelomidlist li a:hover {
    padding: 0 5px;
    color: #000;
    border-right: 1px solid;
    display: block;
    float: left;
}
ul.mod_pelivelomidlist li span.ciudad {
    width: 200px;
    float: left;
}
ul.mod_pelivelomidlist li span.hora {
    width: 462px;
    float: left;
}
ul.mod_pelivelomidlist li span.sala {
    width: 86px;
    float: left;
}
ul.mod_pelivelomidlist li span.censura {
    text-align: center;
    width: 60px;
    float: left;
}
ul.mod_pelivelomidlist li span.censura b {
    margin: 0 auto;
    padding: 0 6px;
    background: #a21e23;
    color: #fff;
    text-transform: uppercase;
    width: auto;
    height: auto;
    float: left;
    position: relative;
    left: 30%;
    font-weight: 100;
}
.mod_pelivelofin {
    padding-top: 23px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_gristransp.png) repeat;
    max-width: 944px;
    height: 200px;
    display: block;
    position: relative;
    border-top: 1px solid #000;
}
ul.mod_pelivelofinlist {
    margin: 0 auto;
    width: 890px;
    height: 175px;
    display: block;
    position: relative;
}
ul.mod_pelivelofinlist li {
    margin: 0 0 4px 29px;
    background: #666;
    width: 123px;
    height: 175px;
    float: left;
    box-shadow: 0 0 2px 2px #999;
    -moz-box-shadow: 0 0 2px 2px #999;
    -webkit-box-shadow: 0 0 2px 2px #999;
}
ul.mod_pelivelofinlist li img {
    width: 123px;
    height: 175px;
    display: block;
}
ul.mod_pelivelofinlist li a:hover, ul.mod_pelivelofinlist li a:hover img {
    width: 133px;
    height: 187px;
    display: block;
    position: relative;
    top: -2px;
    left: -1px;
}
ul.mod_pelivelofinlist li:first-child {
    margin-left: 0;
}
.mod_salas {
    margin: 0 auto;
    background: #fff url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos.gif) repeat;
    color: #000;
    width: 1255px;
    height: auto;
    display: block;
    position: relative;
    box-shadow: 0 4px 2px 2px #999;
    -moz-box-shadow: 0 -1px 4px 2px #999;
    -webkit-box-shadow: 0 -1px 4px 2px #999;
}
ul.mnu_salasciudad {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    border-bottom: 1px solid #000;
    width: 1255px;
    height: 31px;
    display: block;
    position: absolute;
}
ul.mnu_salasciudad li {
    font-size: .9em;
    text-transform: uppercase;
    width: auto;
    height: 31px;
    display: inline;
}
ul.mnu_salasciudad li a {
    padding: 4px 10px 0;
    color: #333;
    border-right: 1px solid #999;
    width: auto;
    height: 27px;
    display: block;
    float: left;
}
ul.mnu_salasciudad li a:hover {
    padding: 4px 10px 0;
    color: #a21e23;
    border-right: 1px solid #999;
    width: auto;
    height: 27px;
    display: block;
    float: left;
}
ul.mnu_salasciudad li.mnu_salasciudadact a {
    padding: 4px 20px 0;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) bottom repeat-x;
    color: #fff;
    border-right: 1px solid #999;
    width: auto;
    height: 27px;
    display: block;
    float: left;
}
a.select_salas {
    display: none;
}
ul.mod_salapelilist {
    width: 745px;
    height: auto;
    display: block;
    float: left;
    position: relative;
    top: 60px;
    left: 40px;
    margin-bottom: 40px;
}
ul.mod_salapelilist li {
    padding: 8px 0 0;
    font-size: .938em;
    font-weight: 500;
    width: 744px;
    height: 29px;
    border-bottom: 1px solid #ccc;
    display: table;
}
ul.mod_salapelilist li:first-child {
    padding: 10px 0 0;
    font-size: .750em;
    font-weight: 700;
    width: 744px;
    height: 20px;
    border-bottom: 1px solid #ccc;
    display: block;
}
ul.mod_salapelilist li a {
    color: #000;
    display: block;
    float: left;
    padding: .142em;
}
ul.mod_salapelilist li span.hora a, ul.mod_pelivelomidlist span.hora a, ul.mod_detalle_peli li span.hora a {
    color: #000;
    display: block;
    float: left;
    padding: .142em;
    border: 1px solid #999;
    margin-right: .5em;
    margin-bottom: .5em;
    font-size: 13px;
}
ul.mod_salapelilist li span.peli {
    width: 300px;
    float: left;
}
ul.mod_salapelilist li span.hora {
    width: 384px;
    float: left;
    text-transform: uppercase;
}
ul.mod_salapelilist li span.censura {
    text-align: center;
    width: 60px;
    float: left;
}
ul.mod_salapelilist li span.censura b {
    margin: 0 auto;
    padding: 0 6px;
    background: #a21e23;
    color: #fff;
    text-transform: uppercase;
    width: auto;
    height: auto;
    float: left;
    position: relative;
    left: 30%;
    font-weight: 100;
}
.mod_salasinfo {
    margin-right: 40px;
    width: 400px;
    height: auto;
    display: block;
    float: right;
    position: relative;
    top: 47px;
}
ul.mod_salapeliico {
    width: 400px;
    display: block;
    position: relative;
}
ul.mod_salapeliico li {
    margin: 0 4px 6px 3px;
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    position: relative;
}
ul.mod_salapeliico li span {
    display: none;
}
ul.mod_salapeliico li.ico_1 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat 0 0;
}
ul.mod_salapeliico li.ico_2 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -25px 0;
}
ul.mod_salapeliico li.ico_3 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -50px 0;
}
ul.mod_salapeliico li.ico_4 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -75px 0;
}
ul.mod_salapeliico li.ico_5 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -100px 0;
}
ul.mod_salapeliico li.ico_6 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -125px 0;
}
ul.mod_salapeliico li.ico_7 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat 0 -25px;
}
ul.mod_salapeliico li.ico_8 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -25px -25px;
}
ul.mod_salapeliico li.ico_9 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -50px -25px;
}
ul.mod_salapeliico li.ico_10 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -75px -25px;
}
ul.mod_salapeliico li.ico_11 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -100px -25px;
}
ul.mod_salapeliico li.ico_12 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -125px -25px;
}
ul.mod_salapeliico li.ico_13 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat 0 -50px;
}
ul.mod_salapeliico li.ico_14 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -25px -50px;
}
ul.mod_salapeliico li.ico_15 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -50px -50px;
}
ul.mod_salapeliico li.ico_16 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -75px -50px;
}
ul.mod_salapeliico li.ico_17 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -100px -50px;
}
ul.mod_salapeliico li.ico_18 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -125px -50px;
}
ul.mod_salapeliico li.ico_19 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat 0 -75px;
}
ul.mod_salapeliico li.ico_20 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -25px -75px;
}
ul.mod_salapeliico li.ico_21 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -50px -75px;
}
ul.mod_salapeliico li.ico_22 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salasinfo.png) no-repeat -75px -75px;
}
.mod_salasmapa {
    margin: 15px 0;
    background: #fff;
    border: 1px solid #999;
    padding: 10px;
    width: 378px;
    height: 283px;
    display: block;
    position: relative;
}
.mod_salasmapa img {
    width: 378px;
    height: 283px;
    display: block;
}
.mod_salasdir {
    width: 400px;
    height: auto;
    display: block;
    position: relative;
    top: 10px;
}
.mod_salasdir p {
    padding-bottom: 10px;
    font-size: .875em;
    line-height: 1.188em;
    font-weight: 100;
    width: 340px;
    height: auto;
    float: left;
}
.mod_salasdir p strong {
    font-weight: 600;
    text-transform: uppercase;
    display: block;
}
.mod_salasdir span.ico_geolocal {
    margin: 0 5px 10px 0;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salascont.png) no-repeat 0 0;
    width: 36px;
    height: 36px;
    float: left;
}
.mod_salasdir span.ico_telef {
    margin: 0 5px 10px 0;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_salascont.png) no-repeat 0 -36px;
    width: 36px;
    height: 36px;
    float: left;
}
.swipe {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    max-width: 994px;
    margin: 0 auto;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap>div {
    float: left;
    width: 100%;
    position: relative;
}
.swipe-wrap img {
    width: 100%;
    height: auto;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -6px;
    z-index: 99999999;
}
#interno1, #interno2, #interno3, #interno4, #interno5 {
    display: none;
}
.an_mod_lista_peliculas ul li, .an_mod_lista_peliculas_v2 ul li {
    position: relative;
    overflow: hidden;
    height: auto;
}
.v_cinesj {
    width: 100%;
    height: 89.9%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 300px;
}
.v_titulo {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: #FFF dotted 1px;
    color: #FFF;
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 10px;
}
.v_cinesj ul {
    list-style: none;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    background-color: #FFF;
    width: 90%!important;
    height: 80%}
.v_cinesj ul li {
    margin: 5px!important;
    border-bottom: #babebe 1px solid;
    box-shadow: none;
    padding-top: 2px;
    padding-bottom: 5px;
    width: 95%!important;
    display: table;
    height: auto!important;
    color: #c02428;
    font-size: 16px;
    line-height: 12px;
    cursor: pointer;
}
.v_ampliar {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    opacity: 1;
    filter: alpha(opacity=100);
    color: #FFF;
    width: 100%;
    margin-top: 6px;
}
.an_mod_lista_peliculas ul li .v_cinesj .v_ampliar img, .an_mod_lista_peliculas ul li .v_cinesj2 .v_ampliar img, .an_mod_lista_peliculas_v2 ul li .v_cinesj .v_ampliar img, .an_mod_lista_peliculas_v2 ul li .v_cinesj2 .v_ampliar img {
    float: left;
    height: 14px;
    width: 10px;
}
.an_mod_lista_peliculas ul li .v_cinesj .v_ampliar a, .an_mod_lista_peliculas ul li .v_cinesj2 .v_ampliar a, .an_mod_lista_peliculas_v2 ul li .v_cinesj .v_ampliar a, .an_mod_lista_peliculas_v2 ul li .v_cinesj2 .v_ampliar a {
    color: #FFF;
    font-size: 11px;
    float: right;
    width: auto;
    height: auto;
    margin-right: 20px;
    font-weight: 500;
}
.v_cinesj2 {
    width: 100%;
    height: 89%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 300px;
}
.v_cinesj2 .v_volver img {
    width: auto;
    height: auto;
    float: left;
    margin-right: 10px;
}
.v_volver {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    width: 90%;
    height: 5%;
    border-bottom: 1px #FFF dotted;
    color: #FFF;
    font-size: 11px;
    cursor: pointer;
}
.v_volver span {
    cursor: pointer;
    width: 100%;
    height: 100%}
.v_titulo2 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: #FFF;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 10px;
    float: left;
    width: 50%}
.v_clasificacion {
    float: right;
    border: solid 1px #FFF;
    background-color: #c02428;
    color: #fff;
    margin-right: 10px;
    font-size: 26px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 27px;
    margin-top: 10px;
    margin-bottom: 7px;
}
.v_horarios {
    clear: both;
    width: 90%;
    margin-left: 10px;
    background-color: #fff;
    max-width: 170px;
}
.v_titulo_cine {
    background-color: #c02428;
    color: #FFF;
    clear: both;
    width: 95%;
    height: auto;
    font-size: 14px;
    padding-left: 5%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
}
.v_cinesj2 .v_horarios ul {
    list-style: none;
    padding-top: 5px;
    width: 100%;
    height: auto;
    display: table;
    padding-bottom: 2px;
    margin-bottom: 5px;
    max-width: 170px;
    margin-left: 20px;
}
.v_cinesj2 .v_horarios ul li {
    background-color: #000;
    color: #FFF;
    width: 29%;
    height: auto;
    padding: 5px;
    box-shadow: none;
    margin: 3px;
}
.v_cinesj2 .v_horarios ul a {
    color: #FFF;
    width: auto;
    height: auto;
    font-size: 11px;
    line-height: 12px;
}
.poster, .v_volver {
    cursor: pointer;
}
.v_cinesj_load {
    width: 100%;
    height: 89%;
    background-color: #000;
    opacity: .9;
    filter: alpha(opacity=90);
    position: absolute;
    top: 0;
    left: 300px;
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/loader2.gif);
    background-repeat: no-repeat;
    background-position: center;
}
.mod_titulo_pelicula {
    height: 35px;
}
.mod_salas {
    display: none;
}
#vent0 {
    display: table;
}
#vent0, #vent1, #vent2, #vent3, #vent4, #vent5, #vent6, #vent7, #vent8, #vent9, #vent10, #vent11 {
    padding-bottom: 50px;
}
#v_menu {
    display: block;
    height: 30px;
}
#screenshot {
    position: absolute;
    border: 1px solid #ccc;
    background: #333;
    padding: 5px;
    display: none;
    color: #fff;
    margin-top: -50px;
}
#tooltip {
    position: absolute;
    border: 1px solid #333;
    background: #c02328;
    padding: 2px 5px;
    color: #fff;
    display: none;
}
.tooltip {
    cursor: pointer;
}
.v_cine_es:hover {
    cursor: auto;
}
.barra_mesli {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_pelivelodias2.jpg) no-repeat;
}
.barra_peli_detalle {
    border-top: 1px solid #333;
    max-width: 1280px;
    background-color: #921b1f;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/detalle-pelicula_pix01.jpg) #921b1f repeat-x;
    background-repeat: repeat-x;
    height: 42px;
    border-right: 1px solid #eee;
}
.floatright {
    float: right;
}
.tit_detalle_peli {
    color: #FFF;
    float: left;
}
.tit_detalle_peli h2 {
    margin-left: 20px;
    font-weight: 100;
    margin-top: .2em;
}
.cont_detalle_peli {
    background-color: #fff;
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/detalle-pelicula_pattern.png);
    border-bottom-color: #e2e2e2;
    border-bottom-style: groove;
    border-bottom-width: 2px;
    border-left-color: #e2e2e2;
    border-left-style: groove;
    border-left-width: 2px;
    display: table;
    max-width: 1280px;
}
.cont_det_peli {
    float: left;
    width: 35%;
    padding-top: 20px;
    padding-left: 2%;
    height: 100%;
    padding-bottom: 20px;
}
.img_det_peli {
    float: left;
    padding-right: 2%;
    padding-bottom: 20px;
}
.texto_det_peli p {
    font-size: 11px;
    padding-right: 2%;
    text-align: justify;
}
.horarios_detalle_peli {
    float: left;
    width: 59%;
    padding-bottom: 20px;
    border-left: 1px #e2e2e2 groove;
}
ul.mod_detalle_peli {
    margin-left: 3%;
    margin-right: 3%;
    width: 98%}
ul.mod_detalle_peli li {
    border-bottom: 1px solid #c02428;
    padding: 5px;
    display: table;
    width: 100%}
ul.mod_detalle_peli li span.censura {
    text-align: center;
    width: 60px;
    float: right;
    margin-right: 10px;
}
ul.mod_detalle_peli li span.censura b {
    margin: 0 auto;
    padding: 0 6px;
    background: #a21e23;
    color: #fff;
    text-transform: uppercase;
    width: auto;
    height: auto;
    float: left;
    position: relative;
    left: 30%;
    font-weight: 100;
}
ul.mod_detalle_peli li span.ciudad {
    color: #333;
    width: 40%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    display: table;
    float: left;
}
ul.mod_salapelilist li span.hora a:hover, ul.mod_detalle_peli li span.hora a:hover, ul.mod_pelivelomidlist li span.hora a:hover {
    margin: 0 .5em .5em 0;
    padding: .142em;
    cursor: pointer;
    background: #c02328;
    text-decoration: none;
    color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 5;
}
ul.mod_salapelilist li span.hora a:hover, ul.mod_detalle_peli li span.hora a:hover, ul.mod_pelivelomidlist li span.hora a:hover {
    display: inline-block;
    position: relative;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
ul.mod_salapelilist li span.hora a:hover:before, ul.mod_detalle_peli li span.hora a:hover:before, ul.mod_pelivelomidlist li span.hora a:hover:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
ul.mod_salapelilist li span.hora a:hover, ul.mod_detalle_peli li span.hora a:hover, ul.mod_pelivelomidlist li span.hora a:hover, ul.mod_salapelilist li span.hora a:focus, ul.mod_detalle_peli li span.hora a:focus, ul.mod_pelivelomidlist li span.hora a:focus, ul.mod_salapelilist li span.hora a:active, ul.mod_detalle_peli li span.hora a:active, ul.mod_pelivelomidlist li span.hora a:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
ul.mod_salapelilist li span.hora a:hover:before, ul.mod_detalle_peli li span.hora a:hover:before, ul.mod_pelivelomidlist li span.hora a:hover:before, ul.mod_salapelilist li span.hora a:focus:before, ul.mod_detalle_peli li span.hora a:focus:before, ul.mod_pelivelomidlist li span.hora a:focus:before, ul.mod_salapelilist li span.hora a:active:before, ul.mod_detalle_peli li span.hora a:active:before, ul.mod_pelivelomidlist li span.hora a:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}
ul.mod_detalle_peli li span.hora {
    width: 100px;
    float: left;
    width: 36%;
    padding-right: 2%}
.mod_pelivelomiddias_detalle {
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/pic_pelivelodias.jpg") repeat scroll 0 0 transparent;
    color: #666;
    height: 41px;
    display: block;
    left: 0;
    z-index: 100;
    float: right;
    border-right: 1px solid #999;
}
.cont_funcion_detalle {
    border-bottom: 1px #a31e23 dotted;
    border-top: 1px #a31e23 dotted;
    margin-top: 20px;
    clear: both;
}
.funcion_detalle {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #a31e23;
    color: #FFF;
    padding-left: 20px;
}
.horarios_censura {
    position: absolute;
    margin-top: 49px;
    margin-left: 3%;
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/detalle-pelicula_pix01.jpg");
    z-index: 999;
    width: 59%;
    height: 41px;
}
.hora a {
    border-right: 1px solid#000;
    padding-right: 5px;
    white-space: nowrap;
}
.censura_div {
    float: right;
    color: #fff;
    padding-left: 10px;
    border-left: 1px solid #fff;
    margin-top: 8px;
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.texto_estrenos {
    background-color: #FFF;
    border-bottom: 1px solid #aaa;
    text-align: center;
    padding: 15px 5% 15px 5%;
    font-size: 14px;
    margin-bottom: 20px;
}
.art_estrenos {
    clear: both;
}
.izq_estrenos {
    float: left;
    max-width: 373px;
    background-color: #fff;
    height: auto;
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/detalle-pelicula_pattern.png);
}
.contenido_estrenos {
    width: 220px;
    height: 100%;
    padding: 10px 1% 20px 2%;
    float: left;
    border-left: 1px solid #aaa;
    display: table-row;
    min-height: 280px;
}
.fecha_estreno {
    width: 183px;
    float: left;
}
.img_estrenos {
    float: left;
}
.contenido_estrenos h2 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 700;
}
.contenido_estrenos p {
    font-size: 12px;
    color: #333;
    text-align: justify;
}
.ptitulo_estrenos, .tit-internos{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/detalle-pelicula_pix01.jpg);
}
.ptitulo_estrenos h2, .tit-internos h2 {
    font-size: 1.500em;
    color: #FFF;
    padding: 4px 0 3px 5%;
    font-weight: 100;
}
.tit-internos {
    margin-top: -10px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 15px;
}
.fecha_estreno ul li {
    float: left;
    width: 96%;
    border-bottom: 1px dotted #c02328;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 11px;
    font-weight: bold;
    margin-left: 4%;
    text-align: left;
}
.fecha_estreno ul li span {
    font-weight: normal;
    margin-left: 10px;
}
.art_estrenosli {
    background-color: #FFF;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    display: table;
    margin-bottom: 20px;
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/detalle-pelicula_pattern.png);
    width: 618px;
    float: left;
}
.art_estrenosli:nth-child(2n) {
    margin-left: 1%}
.mes_estreno {
    text-align: center;
    width: 100%;
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_estrenos_g.jpg);
    color: #666;
    padding: 4px 0 4px 0;
    font-size: 14px;
}
.dia_estreno {
    text-align: center;
    width: 100%;
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_estrenos_r.jpg);
    color: #FFF;
    margin-bottom: 20px;
    padding: 4px 0 4px 0;
    font-size: 14px;
}
.img-promo {
display:none !important;
}
.intersticial{
    display:none;
}
@media screen and (min-width: 100px) and (max-width: 480px) {
    h1.header_logo, h1.header_logo a{
        background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_logocu.png) no-repeat 0 -43px;
        width: 230px;
        height: 31px;
        top: 5px;
        left: 7px;
    }
    header{
        height:65px;
        background-repeat: repeat-y;
    }

    .caja-iniciar-sesion-02 a:link, .caja-iniciar-sesion-02 a:visited {
        color:#fff !important;
    }
}

@media screen and (min-width:100px) and (max-width:540px) {
    .v_titulo {
        font-size: 14px;
    }
    .fecha_estreno {
        width: 100%;
    }
    .horarios_censura {
        font-size: 12px;
    }
    .btn{
        padding: 4px 8px !important;
        margin-bottom: 5px !important;
    }
    .btn-lg{
        padding: 5px 8px !important;
        margin-bottom: 5px;
    }
    .btn-menu-mobile, .btn-menu-mobile a{
        padding-top: 40px;
    }
    .mostrar-right{
        margin-top: 56px;
    }
    #recaptcha_widget_div {
    position: relative;
    right: 16px;
    }
}
@media screen and (min-width:100px) and (max-width:600px) {
    .mod_compra01info {
    position: relative;
	}
	.select_ciudad, .select_ciudad:hover {
	    font-size: 1em;
	    top: 10px;
	}
	.sbOptions li {
	    font-size: .9em;
	}
	.barra_peli_detalle {
	    display: table;
	    width: 100%;
	    padding: 0;
	    margin: 0;
	}
	.horarios_detalle_peli {
	    width: 98%;
	    padding-right: 2%;
	    border: 0;
	}
	.cont_det_peli {
	    width: 97%;
	    padding-right: 1em;
	}
	.img_det_peli img {
	    max-width: 150px;
	    max-height: 214px;
	}
	.mod_pelivelomiddias_detalle {
	    float: left;
	    margin-top: 5px;
	    width: 100%}
	ul.mod_detalle_peli {
	    width: 99%}
	.horarios_detalle_peli {
	    width: 98%}
	ul.barra_dias {
	    width: 100%}
	.cont_detalle_peli {
	    padding-right: 5px;
	    width: 100%;
	    overflow: hidden;
	}
	.horarios_censura {
	    width: 93%}
	article {
	    display: block;
	    width: 100%;
	    margin-right: 5px;
	    padding: 0;
	}
	ul.mod_detalle_peli li span.hora {
	    float: left;
	    width: 31%;
	    padding-right: 2%}
	.der_estrenos ul li {
	    font-size: 11px;
	}
	.art_estrenosli {
	    width: 98%}
	.contenido_estrenos {
	    width: 95%;
	    border: 0;
	}
	.izq_estrenos {
	    max-width: 373px;
	}
	.img_estrenos {
	    width: 190px;
	    margin-left: auto;
	    margin-right: auto;
	    float: none;
	}
    .tit-internos h2{
        font-size: 1em;
    }
	/*ESTILOS MENU MOBILE*/
    .mostrar-right{
        display: block !important;
        background-color: #fff;
        z-index: 1000;
        height: auto !important;
        left: 0px !important;
        width: 100% !important;
        padding-bottom: 3% !important;
        padding-top: 1% !important;
    }
    .mostrar-right ul {
        padding-left: 1% !important;
        display:block !important;
    }
    .mostrar-right ul li a{
        color: #c02328 !important;
    }
	nav.mnugris_secc{
        width:100%;
    }
    nav.mnugris_secc ul li {
        float: left;
        display: block;
        width:100%;
    }
    .btn-menu-mobile, .btn-menu-mobile a{
        display: block;
        color: #ffffff;
        position: relative;
        padding-left: 5px;
        font-size: 0.95em;
    }
    .btn-menu-mobile span{
        margin-left: 0;
        background: url(https://cinesunidosweb.blob.core.windows.net:443/img/icon-menu.png) no-repeat top;
        background-size: 100%;
        width: 20px;
        height: 20px;
        float: left;
        display: block;
        position: relative;
        top: 0px;
        right: 3px;
        cursor:pointer;
    }
    .btn-menu-mobile p{
        padding-top: 2px;
    }

    .ocultar{
        display:none;
    }
    .recordar_acceso {
      max-width:300px;
    }
    .group-two label {
        font-size: 15px !important;
        width: 27% !important;
        float: left !important;
        margin-top: 2px !important;
        margin-left: 0 !important;
    }
    .group-two input[type='date'] {
       width: 54% !important;
    }
    .group-three input[type='button'] {
        width:55% !important;
    }
    .group-one, .group-two, .group-three {
    width:299px !important;
    display:block !important;
    height:60px !important;
    padding-left: 2% !important;
    }
    .group-one label {
        width:27% !important;
    }
    .group-one select {
        width:12% !important;
     }
    .group-one input[type="text"] {
        width:41% !important;
     }
    .group-one label,.group-one select,.group-one label,.group-one input[type="text"], .group-two label, .group-two input[type="date"], .group-three input[type="button"]  {
        float:left;
    }
    /*compras*/
    .compraasientos ul.asientosel{
        height: 25px !important;
    }
}
@media screen (width:600px) {
    .ul.barra_dias li{
   width: 5.5% !important;
    }
}
@media screen and (min-width:100px) and (max-width:1023px) {
    .barra-left {
    display:none !important;
    }
    .compradetboxint small{
       display:none;
   }
    .img-promo {
        display:block;
    }
    .promo-50shades {
        display:none;
    }
    a.select_salas, a.select_salas:hover {
    padding-top: 4px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tabs.png) top repeat-x;
    color: #333;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 27px;
    display: block;
    position: absolute;
}
a.select_salas span, a.select_salas:hover span {
    margin-left: 15px;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: relative;
    top: 7px;
    right: 10px;
}
a.select_salas span {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat top;
}
a.select_salas:hover span {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectsalas.png) no-repeat bottom;
}
a.select_salas:hover {
    color: #c02328;
}
.horarios_censura {
    width: 96%}
.mod_pelivelotop img {
    left: 0;
    margin-left: 0;
    display: block !important;
}
}
@media screen and (min-width:768px) and (max-width:1023px) {
    nav.mnuredes{
        display:none;
    }
}
@media screen and (min-width:1024px){
    .an_mod_lista_peliculas,.an_mod_lista_peliculas ul{
        width:1024px;
    }
    .horarios_detalle_peli{
        min-height: 350px;
    }
    .intersticial{
	    float: right;
	    position: fixed;
	    z-index: 10000;
	    /* margin-right: 0; */
	    display: inline-block;
	    top: 35%;
	    right: 0;
	}
}
/*iPhone 6*/
@media screen (width:375px) {
    .mod_peliculas, .modulo-2 {
        top: -20px;
    }
}