::-moz-svg-foreign-content, :root .asientoreserv{
    max-width: 50%;
    max-height: 50%;
    min-width: 1.8em;
    min-height: 1.8em;
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/asiento_ocupado.png") no-repeat 0 0;
    background-size: 100%;
    position:absolute;
}
_::-moz-svg-foreign-content, :root .asientofuera{
    max-width: 50%;
    max-height: 50%;
    min-width: 1.8em;
    min-height: 1.8em;
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/asiento_seleccionado.png") no-repeat 0 0;
    background-size: 100%;
    position:absolute;
}

.SeatNumber {
    font-size: 12px;
    font-family: Arial;
    text-transform: uppercase;
    color: #000;
    display: block;
    padding-left: 4px;
}
.SeatLetter {
    font-size: 12px;
    font-family: Arial;
    text-transform: uppercase;
    color: #000;
    display: block;
    text-align: center;
    padding-right: 10px;
}
.asientositems {
    /*width: 100%;
    display: table;
    margin: 20px 0 0 23px;*/
     width: 95%;    
    display: table;
    margin: 20px 0 0 23px;
}

.mod_compra02det {
    background: #e4e6e5;
    color: #fff;
    display: block;

}
.compratiempo {
    padding: 8px 10px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barrarojacompra01.png) repeat-x;
    color: #000;
    height: 74px;
    display: block;
    z-index:1;
}
.compratiempo p {
    margin: 0 auto;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_tiemporestante.png) no-repeat top center;
    color: #fff;
    font-size: 1.500em;
    text-align: center;
    padding-top: 34px;
    width: 200px;
    height: 40px;
    display: block;
}
.compratiempoflota {
    display: none;
}
.compraasientos {
    margin: 0 auto;
    padding-top: 12px;
    color: #333;
    width: 225px;
    display: block;
}
.compraasientos h5 {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    width: 230px;
    height: 35px;
    display: block;
    position: relative;
}
.compraasientos ul.asientosel {
    width: 225px;
    height: 56px;
    display: block;
    position: relative;
    background-image:none;
}
.compraasientos ul.asientosel li {
    margin: 0 9px 12px 0;
    padding-top: 7px;
    background: #c02328;
    color: #fff;
    font-size: .875em;
    text-align: center;
    width: 35px;
    height: 28px;
    float: left;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.mod_compra03 {
    margin: 0 auto;
    background: #fff url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos.gif) repeat;
    color: #000;
    display: block;
    position: relative;
    box-shadow: 0 4px 2px 2px #999;
    -moz-box-shadow: 0 -1px 4px 2px #999;
    -webkit-box-shadow: 0 -1px 4px 2px #999;
}
.asientosselecc {
    padding: 5px 10px;
    /*height: 90px;*/
    height: auto;
    border-bottom: 1px solid #333;
    display: block;

}
.asientosselecc h5 {
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    position: relative;
}
.asientosselecc ul.asientosreserv {
    width: 100%;
    /*height: 30px;*/
    height: auto;
    display: block;
    position: relative;
}
    .asientosselecc ul.asientosreserv li {
        /*margin: 0 9px 12px 0;*/
        margin: 0 9px 0 0;
        padding-top: 7px;
        background: #c02328;
        color: #fff;
        font-size: .813em;
        text-align: center;
        width: 35px;
        height: 28px;
        display: inline-block;
        /*float: left;*/
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
a.btn_cambiarasiento, a.btn_cambiarasiento:hover {
    padding-top: 5px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_asientodisp.png) no-repeat right;
    color: #333;
    font-size: .875em;
    width: 150px;
    height: 25px;
    display: block;
    position: relative;
    bottom: 37px;
    float:right;
}
ul.comprainfodet {
    color: #000;
    width: 940px;
    height: 140px;
    display: block;
    position: absolute;
    top: 120px;
    left: 14px;
}
ul.comprainfodet li {
    font-size: 1em;
    width: 670px;
    height: auto;
    display: block;
    padding-top: 8px;
    font-weight: 400;
    font-size: .813em;
    height: 28px;
    border-bottom: 1px solid #333;
}
ul.comprainfodet li p {
    margin: 0 5px;
    padding-bottom: 10px;
    width: 660px;
    display: block;
}
ul.comprainfodet li span.comprainfoboleto {
    margin: 0 5px;
    width: 500px;
    height: auto;
    float: left;
    position: relative;
}
ul.comprainfodet li span.comprainfobalance {
    margin: 0 5px;
    text-align: center;
    width: 140px;
    height: auto;
    float: left;
    position: relative;
}
ul.comprainfodet li span.comprainfobalance span {
    margin-right: 0;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_checkentrada.png) no-repeat;
    width: 22px;
    height: 21px;
    float: left;
    position: relative;
    left: 30px;
}
.pagoseguro {
    padding: 0;
    width: 100%;
    height: auto;
    display: block;

}
.pagoseguro h5 {
    margin-bottom: 10px;
    padding: 3px 15px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px dotted #333;
    font-weight: 700;
    display: block;
    position: relative;
}
.pagoseguro p{
    padding:0 3%;
}
fieldset.pagopasos {
    margin: 0 auto;
    display: block;
    position: relative;
    top: 10px;
}
fieldset.pagopasos p {
    padding-top: 4px;
    font-size: 1em;
    height: 36px;
    display: block;
    border-bottom: 1px solid #fff;
}
fieldset.pagopasos p label {
    text-transform: uppercase;
    width: 310px;
    height: 28px;
    float: left;
}
input.radiobutton {
    float: left;
}
select.listapago {
    margin-right: 10px;
    border: 1px solid #999;
    background: #e4e6e5;
    float: left;
    width: 50px;
    height: 28px;
    position: relative;
    top: 0;
}
input.campopago {
    border: 1px solid #999;
    background: #e4e6e5;
    float: left;
    width: 100%;
    height: 28px;
    position: relative;
    top: 0;
}
.pagopasos div {
    margin: 5px 0px;
}
input.campopago2 {
    background: none repeat scroll 0 0 #e4e6e5;
    border: 1px solid #999;
    float: left;
    height: 28px;
    position: relative;
    top: 0;
    width: 235px;
}
input.campopagocvv {
    border: 1px solid #999;
    background: #e4e6e5;
    float: left;
    width: 30px;
    height: 28px;
    position: relative;
    top: 0;
}
.icocvv {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/icon-card-code.png) no-repeat 0 0;
    margin: 0 15px 0 5px;
    width: 61px;
    height: 41px;
    float: left;
    position: relative;
    top: 1px;
}
span.tc_visa, span.tc_mc, span.tc_amex, span.tc_giftcard, span.Vippo {
    margin: 0 15px 0 5px;
    width: 40px;
    height: 20px;
    float: left;
}
span.tc_visa {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_tarjetas.png) no-repeat 0 0;
}
span.tc_mc {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_tarjetas.png) no-repeat 0 -20px;
}
span.tc_amex {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_tarjetas.png) no-repeat 0 -40px;
}
span.tc_giftcard {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_tarjetas.png) no-repeat 0 -60px;
}
span.Vippo {
    background-image: url(/Content/img/Vippo.png);
    background-size: 40px, 20px;
    background-repeat: no-repeat;
    margin: 5px 15px 0 5px;
}
.compranota {
    margin: 0 auto;
    padding-top: 10px;
    color: #333;
    height: 262px;
    display: block;

}
.compranotaitem {
    margin-bottom: 3px;
    padding-bottom: 3px;
    text-transform: uppercase;
    height: 55px;
    display: block;
}
.compranotaitem h5 {
    padding-bottom: 3px;
    font-size: .875em;
    color: #c02328;
    text-align: center;
    height: auto;
    display: block;
}
.compranotaitem p {
    font-size: .813em;
    line-height: 1.125em;
    text-align: center;
    height: auto;
    display: block;
    padding: 0px 15px;
}
.compranotaitemmedio {
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
    margin-bottom: 10px;
    padding: 10px 0;
    text-transform: uppercase;
    height: 90px;
    display: block;
}
a.btn_compraprocesar {
    margin: 0 auto 10px;
    padding-top: 8px;
    background: #c02328;
    color: #fff;
    line-height: 1.250em;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 0;
}
a.btn_compraprocesar b {
    font-size: 1.125em;
    display: block;
    font-weight: 400;
    width: 160px;
    height: auto;
}
a.btn_compraprocesar:hover {
    margin: 0 auto 10px;
    padding-top: 8px;
    background: #414141;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 0;
}
.compraprocesando {
    color: #000;
    width: 600px;
    height: 200px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/bckg_tramapuntos.gif") repeat scroll 0 0 #fff;
}
.loader_div {
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_loading.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-top: 10px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
}
.compraprocesando h5 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
    width: 600px;
    height: 24px;
    display: block;
    position: relative;
}
.loader_div img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: block;
}
.mod_compra05tope {
    background: #c02328;
    color: #fff;
    border-bottom: 1px solid #000; 
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
     text-transform: uppercase;
     display: none;
}
.mod_compra05tope .compraconfirm {
    padding: 2px 10px 0;
    font-size: 1.250em;
    text-transform: uppercase;
    left: 0;
}
.mod_compra05tope .comprapasos {
    padding: 2px 10px 0;
    text-align: right;
    font-size: 1.250em;
    text-transform: uppercase;
}
.compraconfirmtxt {
    padding: 15px;
    border-bottom: 1px solid #333;   
}
.compraconfirmtxt .confirmtxt {
    
}
.compraconfirmtxt .confirmtxt p {
    font-size: .875em;
    line-height: 1.5em;
    text-transform: uppercase;   
}
.compraconfirmtxt .confirmpasos {
   
}
.compraconfirmtxt .confirmpasos li {
    text-align: left;
    font-size: .875em;
    line-height: 1.5em;
    text-transform: uppercase;    
    list-style-type: disc;
}
.compraconfirmtxt .confirmtxtfin {
    
}
.compraconfirmtxt .confirmtxtfin p {
    font-size: .813em;
    line-height: 1.5em;
    text-transform: uppercase;   
}
.compraresumen {
   
}
.compraresumen p {
    padding: 6px 15px 4px;
    font-size: 1.2em;  
     border-bottom: 1px dotted #333;
}
.compraresumen p label {
        margin-right: 10px;
        font-size: 1.250em;
        font-weight: 300;
        text-transform: uppercase;
        width: 50%;
        text-align: left;    
        float: left;
}
.compraresumen p span.resumenpeli {
    text-transform: uppercase;
    font-size: 0.72em;
}
.compraresumen p span.resumenpeli strong {
    margin: 0 9px 12px 0;
    padding: 5px;
    background: #c02328;
    color: #fff;
    text-align: center;
    font-size: .700em;   
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;   
    font-weight: normal;
    width:100%;
}
.compraresumen p span.resumenlocal {
    text-transform: uppercase;
    color: #c02328;
    font-size: 1.375em;
}
.compraresumeninfo {
    margin-top: 30px;
    padding: 15px 1px;
    background: #e4e6e5;
    color: #000;  
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    margin-bottom: 5px;
    border:0
}
.compraresumeninfo p {
    padding: 4px 15px 4px;
    font-size: 1.2em;   
    border:none;
}
.compraresumeninfo p.compraresumeninfotit {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
    background-color: #c02328;
}
.compraresumeninfo p span.titresumen {
    text-align: center;
    font-weight: 600;
    font-size: .5em;
    line-height: 1em;
    text-transform: uppercase;   
    float:left;
    width:16%;
}
.compraresumeninfo p span.txtresumen {
    text-align: center;
    font-weight: 300;
    font-size: .5em;
    line-height: 1em;
    text-transform: uppercase;  
    float:left;
    width:16%;  
}
.sum-title {
    background-color: #d30d0d;
    background: linear-gradient(to bottom, #c02328,  #c02328, #e3392b);
    font-size: .7em;
    text-align: center;
    color: #fff;
}
.sum-body {
    background-color: #cccccc;
    font-size: .82em;
    font-stretch: expanded;
    font-style: italic;
    text-align: center;
    color: #171717;
}
.sum-total {
    background-color: #9f9f9f;
    font-size: 1.2em;
    font-stretch: expanded;
    font-style: normal;
    text-align: center;
    color: #525252;
}
#cant {
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
}
.compravoucher {
    padding: 60px 80px 0 80px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_voucher.png) no-repeat;
    color: #666;
    width: 330px;
     height: 490px;
    /* display: block; */
    /* position: absolute; */
    /* top: 128px; */
    /* right: 130px; */
    margin: 0 auto;
}
.compravoucher p.voucher_txtppal {
    padding-bottom: 15px;
    font-family: "Times New Roman", Times, serif;
    font-size: .875em;
    color: #000;
    text-transform: uppercase;
    width: 180px;
    height: auto;
    display: block;
}
.compravoucher p {
    padding-bottom: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: .6em;
    text-align:left;
    /* text-transform: uppercase; */
    width: 180px;
    /* height: auto; */
    display: block;
}
.compraconfirmtxt2 {
    padding: 15px;
    width: 1220px;
    height: 65px;
    display: block;
    border-bottom: 1px solid #333;
    position: absolute;
    top: 32px;
}
.compraconfirmtxt .confirmtxtfin {
    width: 1200px;
    height: 65px;
    display: block;
    position: absolute;
    left: 15px;
}
.compraconfirmtxt .confirmtxtfin p {
    font-size: .813em;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 1200px;
    height: auto;
    display: block;
    padding-top: 10px;
}
.compramensaje {
    padding: 20px 10px;
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
    width: 530px;
    height: auto;
    display: block;
    position: relative;
    top: 170px;
    left: 150px;
}
.compramensaje p {
    padding-bottom: 7px;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    width: 530px;
    height: auto;
    display: block;
}
a.btn_compraprocesar {
    margin: 0 auto 10px;
    padding-top: 8px;
    background: #c02328;
    color: #fff;
    line-height: 1.250em;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 0;
}
a.btn_compraprocesar:hover {
    background: #414141;
}
a.btn_compraprocesar2 {
    /* margin: 0; */
    /* position: relative; */
    /* top: 200px; */
    /* left: 350px; */
}
a.btn_compraprocesar2:hover {
    /*margin: 0; */
    /* position: relative; */
    /* top: 200px; */
    /* left: 350px; */
}
#compraprocesando {
    display: none;
}
.mod_compra01_ex {
    margin: 0 auto;
    background: #fff url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos.gif) repeat;
    color: #000;
    width: 100%;
    height: 200px;
    display: block;
    position: relative;
    box-shadow: 0 4px 2px 2px #999;
    -moz-box-shadow: 0 -1px 4px 2px #999;
    -webkit-box-shadow: 0 -1px 4px 2px #999;
    max-width: 390px;
}
.compraconfirm_ex {
    background: #c02328;
    color: #fff;
    border-bottom: 1px solid #000;
    width: 100%;
    height: 31px;
    display: block;
    position: relative;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    padding-left: 10px;
    padding-top: 10px;
    font-size: 16px;
}
.btn_compradetnext_ex {
    margin: 0 0 0 66px;
    padding-top: 12px;
    background: #c02328;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 33px;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 55px;
    cursor: pointer;
    float: left;
    text-align: center;
    border:10px solid red;
}
.loader_compra {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_loading.png);
    padding: 35px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
/******************************** BOTON LOADING DE COMPRA **************************************************/
/* General styles for all types of buttons */
.progress-button {
	position: relative;
	display: block;
	padding: 0 25px;
	outline: none;
	border: none;
	background: #c02328;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
	line-height: 4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    cursor:pointer;
    top:20px;
    width:160px;
    margin:0px auto;
}

.progress-button[disabled],
.progress-button[disabled].state-loading {
	cursor: default;
}

.progress-button .content {
	position: relative;
	display: block;
}

.progress-button .content::before,
.progress-button .content::after  {
	position: absolute;
	right: 5px;
	color: #8A191C;
	font-family: "icomoon";
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.3s;
	transition: opacity 0.3s 0.3s;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.progress-button .content::before {
	content: "\e600"; /* Checkmark for success */
}

.progress-button .content::after {
	content: "\e601"; /* Cross for error */
}

.progress-button.state-success .content::before,
.progress-button.state-error .content::after {
	opacity: 1;
}

.notransition {
	-webkit-transition: none !important;
	transition: none !important;
}

.progress-button .progress {
	background: #B72126;
}

.progress-button .progress-inner {
	position: absolute;
	left: 0;
	background: #8A191C;
}

.progress-button[data-horizontal] .progress-inner {
	top: 0;
	width: 0;
	height: 100%;
	-webkit-transition: width 0.3s, opacity 0.3s;
	transition: width 0.3s, opacity 0.3s;
}

.progress-button[data-vertical] .progress-inner {
	bottom: 0;
	width: 100%;
	height: 0;
	-webkit-transition: height 0.3s, opacity 0.3s;
	transition: height 0.3s, opacity 0.3s;
}

/* Necessary 3d styles for buttons with perspective */

.progress-button[data-perspective] {
	position: relative;
	display: block;
	padding: 0;
	background: transparent;
	-webkit-perspective: 900px;
	perspective: 900px;
}

.progress-button[data-perspective] .content {
	padding: 0 25px;
	background: #c02328;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.progress-button[data-perspective] .progress-wrap {
	display: block;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.progress-button[data-perspective] .content,
.progress-button[data-perspective] .progress {
	outline: 1px solid rgba(0,0,0,0); /* Smoothen jagged edges in FF */
}

/* Individual styles */
/* Choose the effect(s) you want, delete the rest */

/* Rotate back 3d */
/* ====================== */

.progress-button[data-style="rotate-back"] .progress-wrap {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.progress-button[data-style="rotate-back"] .content {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.progress-button[data-style="rotate-back"] .progress {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.progress-button[data-style="rotate-back"].state-loading .progress-wrap {
	-webkit-transform: rotateX(180deg) scaleX(0.6) scaleY(0.3);
	transform: rotateX(180deg) scaleX(0.6) scaleY(0.3);
}
#screen{
    margin-top:60px;
}
/*============================================*/
/*                PURCHASELIST                */
/*============================================*/
.purchase-list table.table{
	background: #fff;
    box-shadow: 0px -11px 26px 5px;
}
.purchase-list table tr.head{
	background: #eaeaea;

}
.purchase-list table .head td{
	border-left: 1px solid #DADADA;
    border-right: 1px solid #Dadada;
}
.purchase-list table .head > tr{
	border-bottom: 1px solid #Dadada;
}
.red-font{
    color:#C02328
}

.peliculas-bottom .col-lg-10 .col-lg-3{
	width: 174px;
    padding: 0px 2px;
}
.carousel_2 .fa{
    position: absolute;
    top: 46%;
    font-size: 34px;
}
.carousel_2 .carousel-inner{
    max-height: 423px;
}
.comercio .custom-col .col-sm-4,
.comercio .custom-col .col-lg-4{
    width: 390px;
    padding: 10px 18px;
    margin:auto;
}
.an_mod_lista_peliculas .col-lg-3{
    /*width:210px;*/
    text-align:center;
}

.ui-datepicker-year{
    color:#000;
}
.select_ciudad div{
    display:inline-block;
}
.carousel_2 .left,
.carousel_2 .right{
   background-image: none;
}

#title_cine{    
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    display:inline-block;
}
#v_menu .navbar-toggle{
    margin-top: 12px;
}
.jquery-msgbox-wrapper{
  min-height:100px!important;
}
.jquery-msgbox-buttons button, 
.jquery-msgbox-buttons input{
    color:#000;
}
.promociones,
.sesion,
.registro{
    color: #444;
}
#rememberpass3 img{
    display: block;
    margin: 0 auto;
}

#BtnUpdateUser, #BtnIndex {
    width: 75px;
    font-size: 14px;
}

#qrCode {
    height: 240px;
    width: 240px;
}

.qr-bullet {
    background-color: #e3e3e3;
    border-radius: 10px;
    padding: 1em 2em 1.5em 2em;
    margin-top: 5%;
    margin-bottom: 10%;
}

.qr-bullet i {
    color: #1a1a1a;
}

.qr-bullet li {
    text-align: justify;
    color: #1a1a1a; 
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 3%;   
}

  #qr-printer {
            display: none;
        }

  #qr_ws{
      color: #ffffff;
      background-color:#26DE5C;            
  }

  .msg{
     background-color: #ff9;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     text-align: justify;
  }

  .aler{
       background-color: #ff9;
       text-align: justify;
  }
               
  .platform
  {
      display : flex;
      justify-content : center;     
  }
