@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}

.panel {
    border-radius: 0 !important;
    box-shadow: #fff 0px 0px none;
}

.linkCity {
    font-family: sans-serif;
    font-weight: bold;
    color: #dbdbdb;
    text-decoration: none;
    text-transform: uppercase;
}

.linkCity:link {
    text-decoration: none;
    color: #c02328;
}

#cityHeader {
    font-weight: bold;
    background-color: #fdfdfd;
    border-color: #ddd;
    text-decoration: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-default {
    border-style: none;
}

.panel-default > .panel-heading {
    color: #fdfdfd;
    background-color: #fff;
    text-decoration: none;
    border-color: #ddd;
    border-style: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: auto;
    padding: 15px;
    border-style: none;
    
}

.ccity {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
}

.linkcine {
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.linkcine:link {
    text-decoration: none;
    color: #727272;
}

.selector {
    position: relative;
    text-align: left;
    text-decoration: none;
    color: #727272;
    font-size: 18px;
    float: left;
    padding-right: .5em;
}

.table-head {
    background-color: #c9c9c9;
}

.boleto {
    background-color: #e8e8e8;
}

.format {
    text-align: center;
}

.precio {
    text-align: right;
}

#typePremium {
    background-color: #ffbf00;
}

.jumbotron {
    padding-top: 3%;
    padding-bottom: 2.5%;
    border-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#text-leyend {
    font-size: 14px;
    color: #717171;
    text-align: center;
}