﻿ .cont_registro {
    max-width: 1280px;
    margin: 50px auto;
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos.gif") #FFF;
    display: table;
    border-bottom: 1px solid #333;
}
.cont_registro h2 {
    width: 98%;
    padding-left: 2%;
    color: #fff;
    font-size: 20px;
    background-image: url("https://cinesunidosweb.blob.core.windows.net:443/img/detalle-pelicula_pix01.jpg");
    height: 36px;
    padding-top: 5px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}
.registro_left {
    margin: 50px 1% 50px 5%;
    float: left;
    width: 43%}
.registro_right {
    margin: 50px 1%;
    float: left;
    width: 43%}
.cont_registro label {
    color: #c02428;
    font-size: 18px;
    width: 40%;
    margin-top: 10px;
    display: block;
    margin-right: 3%;
    text-align: right;
    float: left;
}
.cont_registro input {
    width: 55%;
    height: 40px;
    border: 1px solid #CCC;
    margin-bottom: 20px;
    padding-left: 8px;
}
.cont_registro select {
    width: 56%;
    height: 40px;
    border: 1px solid #CCC;
    margin-bottom: 20px;
}
#IdCardType {
    max-width: 40px;
}
#IdCardNumber {
    width: 46.8%}
.cont_registro textarea {
    width: 55%;
    height: 80px;
    border: 1px solid #CCC;
    margin-bottom: 20px;
}
.registro_envio {
    clear: both;
    width: 100%;
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos_g.png") #CCC;
    border-top: 1px solid #333;
    border-bottom: 5px solid #c02428;
    display: table;
}
.btn_env_registro {
    border: 1px solid #000;
    background-image: url("https://cinesunidosweb.blob.core.windows.net:443/img/detalle-pelicula_pix01.jpg");
    width: 15%;
    margin-left: 43%;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    height: 31px;
    padding-top: 10px;
    float: left;
    margin-bottom: 10px;
    cursor:pointer;
}
.campos_obl2 {
    float: right;
    margin-right: 5%;
    margin-top: 5px;
    font-size: 14px;
}
.cont_registro h3 {
    width: 85%;
    color: #333;
    font-size: 20px;
    padding: 50px 2% 15px 2%;
    display: block;
    clear: both;
    border-bottom: 1px solid #999;
    margin-left: 5.5%;
    margin-bottom: 40px;
}
.cont_registro h4 {
    width: 85%;
    color: #333;
    font-size: 20px;
    padding: 50px 2% 15px 2%;
    display: block;
    clear: both;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    margin-left: 5.5%}
.cont_registro label.lab_d {
    margin-top: 0;
}
.ajust_right {
    margin-top: 111px;
}
.registro_textos {
    width: 60%;
    margin-left: 20%;
    color: #333;
    font-size: 16px;
    margin-top: 40px;
    text-align: center;
}
.registro_textos input {
    float: left;
    width: 10px;
    height: 10px;
    border: 0;
    margin-bottom: 0;
    margin-right: 8px;
}
.mensaje_registro {
    width: 85%;
    color: #333;
    font-size: 16px;
    padding: 40px 2% 40px 2%;
    display: block;
    clear: both;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    margin: 50px 5.5%;
    text-align: center;
}
.cont_registro .l_tweet label {
    background-image: url("https://cinesunidosweb.blob.core.windows.net:443/img/twitter_reg.jpg");
    background-repeat: no-repeat;
    padding-left: 30px;
    float: right;
    height: 23px;
}
.cont_registro .l_inst label {
    background-image: url("https://cinesunidosweb.blob.core.windows.net:443/img/instagram_reg.jpg");
    background-repeat: no-repeat;
    padding-left: 30px;
    float: right;
    height: 23px;
    width: auto;
}
.cont_registro .l_face label {
    background-image: url("https://cinesunidosweb.blob.core.windows.net:443/img/facebook_reg.jpg");
    background-repeat: no-repeat;
    padding-left: 30px;
    float: right;
    height: 23px;
    width: auto;
}
div.l_tweet, div.l_inst {
    width: 19%;
    display: table;
    float: left;
    margin-right: 3%}
div.l_face {
    width: 18%;
    display: table;
    float: left;
    margin-right: 3%}
div.l_tweet, div.l_inst {
    clear: left;
}
.cont_registro input[type='radio'] {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.cont_registro .input_solo {
    width: 25%;
    margin-right: 45%}
.cont_registro .input_left {
    width: 25%;
    margin-right: 4%;
    float: left;
}
.cont_registro .input_right {
    width: 25%;
    margin-right: 0;
}
.cont_registro_form {
    width: 96%;
    margin-left: 2%}
.cont_registro label.label_left {
    width: 19%}
.cont_registro label.label_right {
    width: 18%}
.cont_registro label.label_solo {
    width: 19%}
.cont_registro_form #Email {
    width: 25%;
}
.cont_acceso {
    max-width: 1280px;
    margin: 0 auto;
}
.contenido_acceso {
    max-width: 45%;
    float: left;
    margin: 50px 1% 50px 4%;
    background-color: #FFF;
    padding: 0 0 10px 0;
    height: 420px;
}
.contenido_registro {
    max-width: 45%;
    float: left;
    margin: 50px 4% 50px 1%;
    background-color: #FFF;
    padding: 0 0 10px 0;
    height: 420px;
}
.tit_acc {
    float: left;
    background-color: #e4e6e5;
    width: 100%;
    height: 30px;
    padding: 5px 0;
}
.tit_acc h2 {
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barraroja.jpg);
    background-repeat: repeat-x;
    padding: 5px 10px;
    color: #FFF;
    font-weight: 100;
    text-align: left;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    font-size: 1.5em;
}
.contenido_acceso form {
    display: block;
    float: left;
    width: 94%;
    margin: 40px 3%}
.contenido_acceso input {
    clear: right;
    font-weight: 100;
    font-size: 1em;
    padding-left: 5px;
    padding-top: 3px;
}
.contenido_acceso label {
    color: #c02428;
    font-size: 17px;
    width: 28%;
    float: left;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: right;
    margin-right: 2%}
.contenido_acceso input[type='email'], .contenido_acceso input[type='password'] {
    border: solid 1px #999;
    width: 68%;
    height: 45px;
    float: left;
    margin-bottom: 40px;
}
.contenido_acceso input[type='submit'] {
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barraroja.jpg);
    background-repeat: repeat-x;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    margin: 0 auto 40px auto;
    text-align: center;
    width: 200px;
    font-size: 16px;
    border: 1px solid #333;
    display: block;
}
.contenido_acceso hr {
    float: left;
    clear: right;
    width: 96%;
    border: 1px solid #666;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
}
.btn_acc {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.btn_acc div {
    width: 19%;
    float: left;
    font-size: 14px;
    color: #666;
    margin-left: 2%;
    padding-left: 40px;
    height: 40px;
    cursor: pointer;
    font-weight: 100;
    padding-right: 2%}
div.btn_acc1 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/re_cont.jpg) no-repeat;
    border-right: 1px solid #CCC;
    margin-left: 4%}
div.btn_acc2 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/re_email.jpg) no-repeat;
    border-right: 1px solid #CCC;
}
div.btn_acc3 {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/mod_perfil.jpg) no-repeat;
}
.reg_text p {
    margin: 51px 10% 0 10%;
    float: left;
    display: block;
    width: 80%;
    text-align: center;
    font-size: 20px;
    color: #000;
}
.contenido_registro hr {
    float: left;
    clear: right;
    width: 80%;
    border: 1px solid #CCC;
    margin: 40px 10%;
    display: block;
}
.registrarse {
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barraroja.jpg);
    background-repeat: repeat-x;
    cursor: pointer;
    padding: 9px 0;
    margin: 40px auto 0 auto;
    text-align: center;
    width: 200px;
    border: 1px solid #333;
    display: table;
    height: 21px;
    clear: both;
}
.registrarse a {
    font-size: 16px;
    color: #fff;
}
.recordar_acceso {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos.gif) #FFF;
    display: table;
    border-bottom: 1px solid #333;
    min-height:250px;
    width:500px;
}
.recordar_acceso label {
    margin-left: 7%;
    color: #c02428;
    font-size: 17px;
    width: 35%;
    float: left;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: right;
    margin-right: 2%;
    float: left;
}
.recordar_clave form, #rememberemail1 form {
    margin: 5% 0 5% 0;
}
#txtMessage {
    width: 100%;
    margin: 20px 20px 30px -7px;
    text-align:center;
}
.recordar_acceso input[type='text'], .recordar_acceso input[type='email'] {
    border: solid 1px #999;
    width: 18%;
    height: 38px;
    float: left;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 15%;
    text-align: left;
    padding-left:2px;
}
.recordar_acceso input[type='date'] {
    border: solid 1px #999;
    width: 25%;
    height: 38px;
    float: left;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 15%;
    text-align: center;
}
.recordar_acceso input[type='button'] {
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barraroja.jpg);
    background-repeat: repeat-x;
    cursor: pointer;
    color: #fff;
    padding: 10px 0 10px 10px;
    margin: 0 auto 20px auto;
    width: 25%;
    font-size: 16px;
    border: 1px solid #333;
    display: block;
    text-align: center;
}
.recordar_clave {
    padding: 2%;
}
.recordar_clave label {
    margin-left: 0;
    color: #c02428;
    font-size: 17px;
    width: 20%;
    float: left;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: right;
    margin-right: 2%;
    float: left;
}
.recordar_clave .recordar_acceso label {
    margin-left: 0;
    width: 16%}
.recordar_clave input[type='button'] {
    float: left;
    width: 40%;
    margin: 10px auto 20px auto;
}
.recordar_clave input[type='email'] {
    width: 70%;
    margin-right: 5%;
    text-align: left;
    padding-left: 1%;
}
.recordar_email input[type='button'] {
    float: left;
    margin-left: 50%;
    margin-right: 50%}
#txtAnswer {
    width: 47%;
    text-align: left;
}
.tit_rec_acc h2 {
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barraroja.jpg);
    background-repeat: repeat-x;
    padding: 5px 10px;
    color: #FFF;
    font-weight: 100;
    text-align: left;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    font-size: 1em;
}
.group-one, .group-two, .group-three {
    width: 500px;
    display: block;
    position: relative;
    height: 81px;
    }
.group-one label {
    margin-left:0;
    }
.group-one input[type='text'] {
    width:35%;
    }
#optionIdCardType, #optionIdCardType1 {
    border: solid 1px #999;
    width: 3em;
    height: 38px;
    float: left;
    margin-top: 2.2%;
    margin-bottom: 1%;
    margin-right: 1%;
    text-align: center;
}
#rememberpass1{
    padding:0%;
}
#btnRememberPass{
    float:none;
}
#txtIdCard1{
      width: 62%;
      margin-right: 0%;
}
#rememberpass2 {
    height:250px;
}
#rememberpass2 label{
    width:30%;
    margin-left: 2%;
    margin-right: 2%;
}
#rememberpass2 input[type='text']{
    width: 63%;
    margin-right: 2%;
}
#rememberpass4 {
    height: auto;
    width: auto;
}
.loader_div_registro {
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_loading.png);
    background-position: 150px 10px;
    background-repeat: no-repeat;
    padding-top: 10px;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    margin-top: 60px;
}
.loader_div_registro img {
    margin: 10px auto;
    width: 80px;
    height: 80px;
    display: block;
}
.cont_contacto {
    max-width: 1280px;
    margin: 50px auto;
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos.gif") #FFF;
    display: table;
    border-bottom: 1px solid #333;
}
.cont_contacto h2 {
    width: 98%;
    padding-left: 2%;
    color: #fff;
    font-size: 20px;
    background-image: url("https://cinesunidosweb.blob.core.windows.net:443/img/detalle-pelicula_pix01.jpg");
    height: 36px;
    padding-top: 5px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}
.contacto_left {
    margin: 50px 2%;
    float: left;
    width: 40%}
.contacto_right {
    margin: 50px 2%;
    float: left;
    width: 40%}
.cont_contacto label {
    color: #c02428;
    font-size: 20px;
    width: 40%;
    margin-top: 10px;
    display: block;
    margin-right: 3%;
    text-align: right;
    float: left;
}
.cont_contacto input {
    width: 55%;
    height: 40px;
    border: 1px solid #CCC;
    margin-bottom: 20px;
}
.cont_contacto select {
    width: 56%;
    height: 40px;
    border: 1px solid #CCC;
    margin-bottom: 20px;
}
.cont_contacto textarea {
    width: 55%;
    height: 200px;
    border: 1px solid #CCC;
    margin-bottom: 20px;
}
.contacto_envio {
    clear: both;
    width: 100%;
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos_g.png") #CCC;
    border-top: 1px solid #333;
    border-bottom: 5px solid #c02428;
    height: 80px;
}
.btn_env_contacto {
    border: 1px solid #000;
    background-image: url("https://cinesunidosweb.blob.core.windows.net:443/img/detalle-pelicula_pix01.jpg");
    width: 15%;
    margin-left: 43%;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    height: 31px;
    padding-top: 10px;
    float: left;
}
.campos_obl {
    float: right;
    margin-right: 5%;
    margin-top: 50px;
    font-size: 12px;
}
.campos_obl span {
    color: #c02428;
}