﻿@charset "UTF-8";
    ﻿ @font-face {
    font-family: cinesu;
    src: url('https://cinesunidosweb.blob.core.windows.net:443/fonts/OpenSans-Regular.ttf'), url('https://cinesunidosweb.blob.core.windows.net:443/fonts/OpenSans-Regular.eot');
}
@font-face {
    font-family: cinesulight;
    src: url('https://cinesunidosweb.blob.core.windows.net:443/fonts/OpenSans-Light.ttf'), url('https://cinesunidosweb.blob.core.windows.net:443/fonts/OpenSans-Light.eot');
}
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, td, video, tt, u, ul, var {
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
}
table, table td {
    padding: 0;
    border: 0;
    border-collapse: collapse;
}
img {
    vertical-align: top;
}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block;
}
mark, rp, rt, ruby, summary, time {
    display: inline;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #e4e6e5;
    color: #333;
    font-family: 'cinesu', Tahoma, Geneva, sans-serif;
    font-weight: 100;
    width: 100%}
html, body {
    height: 100%}
a {
    color: #666;
    text-decoration: none;
    outline: 0;
}
a:hover {
    color: #333;
    text-decoration: none;
    outline: 0;
}
a span {
    display: none;
}
a, object {
    outline: 0;
}
a.sbSelector, a.sbSelector:focus, a.sbSelector:hover, a.sbSelector:visited, a.sbSelector:active;
    {
    outline: 0;
}
ul, li {
    list-style-type: none;
}
h1 {
    font-size: 1.875em;
}
h2 {
    font-size: 1.500em;
}
h3 {
    font-size: 1.313em;
}
h4 {
    font-size: 1.125em;
}
h5 {
    font-size: 1em;
}
h1, h2, h3, h4, h5 {
    font-weight: 100;
}
h1 span, h2 span, h3 span, h4 span, h5 span {
    display: none;
}
.btn-menu-mobile{
	display:none;
}
.contenido {
    margin: 0 auto;
    width: 1265px;
    height: auto;
    display: block;
    position: relative;
}
.modulo {
    margin: 0 auto;
    padding: 10px 5px;
    width: 1255px;
    height: auto;
    display: block;
    position: relative;
}
header {
    background: #c02328 url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_header.gif) repeat-x;
    color: #e4e6e5;
    width: 100%;
    height: 90px;
    display: block;
}
nav.mnugris_secc {
    width: auto;
    height: 30px;
    display: block;
    position: absolute;
    top: 4px;
    left: 7px;
}
nav.mnugris_secc ul {
    width: auto;
    height: 30px;
    display: inline;
    position: relative;
}
nav.mnugris_secc ul li {
    padding-right: 25px;
    font-size: .938em;
    text-transform: uppercase;
    width: auto;
    height: 20px;
    display: inline;
    float: left;
}
nav.mnugris_secc ul li a {
    background: 0;
    color: #e4e6e5;
}
nav.mnugris_secc ul li a:hover {
    background: 0;
    color: #fff;
}
nav.mnuredes, nav.mnuredesbott {
    width: 230px;
    height: 20px;
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
}
nav.mnuredes ul, nav.mnuredesbott ul {
    width: 235px;
    height: 20px;
    display: inline;
    position: relative;
}
nav.mnuredes ul li, nav.mnuredesbott ul li {
    margin-left: 15px;
    width: 22px;
    height: 20px;
    display: inline;
    float: left;
}
nav.mnuredes ul li a, nav.mnuredesbott ul li a {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/mnu_redes.png) no-repeat;
    width: 22px;
    height: 20px;
    display: block;
}
nav.mnuredes ul li.mnuredes_tw a, nav.mnuredesbott ul li.mnuredes_tw a {
    background-position: 0 0;
    width: 22px;
}
nav.mnuredes ul li.mnuredes_tw a:hover, nav.mnuredesbott ul li.mnuredes_tw a:hover {
    background-position: 0 -20px;
    width: 22px;
}
nav.mnuredes ul li.mnuredes_fb a, nav.mnuredesbott ul li.mnuredes_fb a {
    background-position: -40px 0;
    width: 22px;
}
nav.mnuredes ul li.mnuredes_fb a:hover, nav.mnuredesbott ul li.mnuredes_fb a:hover {
    background-position: -40px -20px;
    width: 22px;
}
nav.mnuredes ul li.mnuredes_yt a, nav.mnuredesbott ul li.mnuredes_yt a {
    background-position: -75px 0;
    width: 22px;
}
nav.mnuredes ul li.mnuredes_yt a:hover, nav.mnuredesbott ul li.mnuredes_yt a:hover {
    background-position: -75px -20px;
    width: 22px;
}
nav.mnuredes ul li.mnuredes_bb a, nav.mnuredesbott ul li.mnuredes_bb a {
    background-position: -115px 0;
    width: 22px;
}
nav.mnuredes ul li.mnuredes_bb a:hover, nav.mnuredesbott ul li.mnuredes_bb a:hover {
    background-position: -115px -20px;
    width: 22px;
}
nav.mnuredes ul li.mnuredes_ap a, nav.mnuredesbott ul li.mnuredes_ap a {
    background-position: -155px 0;
    width: 22px;
}
nav.mnuredes ul li.mnuredes_ap a:hover, nav.mnuredesbott ul li.mnuredes_ap a:hover {
    background-position: -155px -20px;
    width: 22px;
}
nav.mnuredes ul li.mnuredes_ad a, nav.mnuredesbott ul li.mnuredes_ad a {
    background-position: -195px 0;
    width: 22px;
}
nav.mnuredes ul li.mnuredes_ad a:hover, nav.mnuredesbott ul li.mnuredes_ad a:hover {
    background-position: -195px -20px;
    width: 22px;
}
nav.mnuredesbott {
    width: 230px;
    height: 20px;
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
}
nav.mnuredescenter {
    margin: 0 auto;
    position: relative;
    top: 10px;
}
h1.header_logo {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_logocu.png) no-repeat 0 0;
    width: 315px;
    height: 42px;
    display: block;
    position: absolute;
    top: 40px;
    left: 7px;
}
h1.header_logo a {
    width: 315px;
    height: 42px;
    display: block;
}
h2.footer_logo {
    margin: 0 auto;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_logocu.png) no-repeat 0 -42px;
    width: 230px;
    height: 31px;
    display: block;
    position: relative;
}
.sbHolder {
    outline: 0 none;
}
.select_ciudad, .select_ciudad:hover {
    background: 0;
    color: #e4e6e5;
    font-size: 2.188em;
    font-weight: 100;
    text-align: right;
    text-transform: uppercase;
    width: auto;
    height: 40px;
    position: absolute;
    top: 35px;
    right: 3px;
}
.select_ciudad:hover {
    color: #fff;
}
.select_ciudad span, .select_ciudad:hover span {
    margin-left: 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_selectciudad.png) no-repeat top;
    width: 21px;
    height: 10px;
    float: right;
    display: block;
    position: absolute;
    top: 20px;
    right: 5px;
}
.fancybox-close {
    right: 0;
    background-position: 0 0;
}
footer {
    padding-top: 20px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_footer.png) repeat-x;
    color: #e4e6e5;
    width: 100%;
    height: 130px;
    display: block;
    position: relative;
    clear: both;
}
nav.mnufooter_secc {
    margin: 0 auto;
    width: 400px;
    height: 20px;
    display: block;
    position: relative;
    top: 23px;
}
nav.mnufooter_secc ul {
    width: auto;
    height: 20px;
    display: inline;
    position: relative;
}
nav.mnufooter_secc ul li {
    padding: 0 12px;
    font-size: .750em;
    text-transform: uppercase;
    width: auto;
    height: 20px;
    display: inline;
    float: left;
}
nav.mnufooter_secc ul li a {
    background: 0;
    color: #e4e6e5;
}
nav.mnufooter_secc ul li a:hover {
    background: 0;
    color: #fff;
}
footer p {
    margin: 0 auto;
    font-size: .688em;
    text-align: center;
    width: 90%;
    height: 20px;
    display: block;
    position: relative;
    top: 27px;
}
.sbOptions {
    z-index: 99999999999999;
    position: absolute;
    background-color: #fff;
    font-size: 18px;
    color: #c02328;
    width: 180px;
    margin-top: 6px;
    margin-left: -193px;
    left: 100%;
    padding: 5px;
    border: 1px solid #aaa;
}
.sbOptions li {
    padding-right: 10px;
    border-bottom: 1px solid #c02328;
    font-weight: 100;
    font-size: .95em;
}
.sbOptions li:last-child {
    border: 0;
}
.sbOptions li:hover {
    background-color: #c02328;
    padding-right: 10px;
}
.sbOptions li:hover>a {
    color: #fff;
}
.sbOptions a:link {
    color: #c02328;
}
.sbOptions a:hover {
    color: #fff;
}
.sbSelector {
    color: #FFF;
    background: 0;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    width: auto;
    height: 40px;
    right: 3px;
    font-family: 'cinesulight', Tahoma, Geneva, sans-serif;
    margin-right: 30px;
    outline: 0;
}
.sbSelector:hover {
    color: #e4e6e5;
}
.mnugris_secc {
    position: relative;
}
.caja-iniciar-sesion-01 {
    height: 76px;
    width: 195px;
    margin-top: 10px;
    border-top-width: 1px;
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/stripe_ini-sesion.png);
    background-repeat: repeat-x;
    position: absolute;
    top: 15px;
    left: 0;
    background-color: #FFF;
    opacity: .9;
    filter: alpha(opacity=90);
    overflow: hidden;
    height: 0;
    z-index: 999;
}
.caja-iniciar-sesion-02 {
    height: 22px;
    width: 184px;
    border: 1px solid #900;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 9px;
    margin-top: 3px;
    background-color: #c02328;
    font-family: cinesu, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #e4e6e5;
    text-decoration: none;
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/stripe_ini-sesion02.png);
}
.caja-iniciar-sesion-02 a:link, .caja-iniciar-sesion-02 a:visited {
    color: #FFF;
    text-decoration: none;
}
.caja-iniciar-sesion-02 a:hover {
    color: #FFF;
    text-decoration: none;
}
.caja-iniciar-sesion-03 {
    height: 13px;
    width: 184px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 0;
    font-family: cinesu, sans-serif;
    font-size: 1em;
    color: #424242;
    text-decoration: none;
    padding-top: 5px;
}
.caja-iniciar-sesion-03 a:link, .caja-iniciar-sesion-03 a:visited, .caja-iniciar-sesion-03 a:active {
    font-family: cinesu, sans-serif;
    font-size: 1.02em;
    font-weight: normal;
    color: #424242;
    text-decoration: underline;
}
.caja-iniciar-sesion-01 .caja-iniciar-sesion-03 a:hover, .caja-iniciar-sesion-03 a:active {
    font-family: cinesu, sans-serif;
    font-size: 1.02em;
    color: #c02328;
    text-decoration: none;
}
.micuenta {
    position: relative;
}
.jquery-msgbox {
    width: 100% important;
    max-width: 400px;
}

div.ui-datepicker{
 font-size:14px;
}