﻿@charset "UTF-8";
    ﻿ @font-face {
    font-family: cinesu;
    src: url('/Content/fonts/OpenSans-Regular.woff'), url('/Content/fonts/OpenSans-Regular.woff2');
    font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('/Content/fonts/icomoon/icomoon.eot');
	src:url('/Content/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/Content/fonts/icomoon/icomoon.ttf') format('truetype'),
		url('/Content/fonts/icomoon/icomoon.woff') format('woff'),
		url('/Content/fonts/icomoon/icomoon.svg#icomoon') format('svg');
}
.mod_compra01 {
    margin: 0 auto;
    background: #fff url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos.gif) repeat;
    color: #000;
    width: 1000px;
    height: 460px;
    display: block;
    position: relative;
    box-shadow: 0 4px 2px 2px #999;
    -moz-box-shadow: 0 -1px 4px 2px #999;
    -webkit-box-shadow: 0 -1px 4px 2px #999;
}
.mod_compra01tope {
    padding: 5px 15px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barrarojacompra01.png) repeat-x;
    color: #fff;
    border-bottom: 1px solid #000;
    width: 970px;
    height: 67px;
    display: block;
    position: relative;
}
.mod_compra01tope .pelidatos {
    width: 160px;
    height: 57px;
    display: block;
    float: left;
    position: relative;
}
.mod_compra01tope .pelidatos p {
    font-size: .750em;
    line-height: 1.250em;
    width: 100px;
    height: auto;
    display: block;
    position: relative;
    left: 0;
}
.mod_compra01tope .pelidatos span {
    font-size: 4.375em;
    text-align: center;
    text-transform: uppercase;
    width: 59px;
    height: 57px;
    display: block;
    position: absolute;
    right: 10px;
    top: -18px;
}
.mod_compra01tope .pelinombre {
    background: #e4e6e5;
    color: #000;
    width: 548px;
    height: 67px;
    display: block;
    float: left;
    position: relative;
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.50);
}
.mod_compra01tope .pelinombre p.pelinombretit {
    font-size: 1.2em;
    text-transform: uppercase;
    width: 508px;
    height: auto;
    display: block;
    position: absolute;
    top: 4px;
    left: 20px;
}
.mod_compra01tope .pelinombre p.pelinombrefecha {
    font-size: 1em;
    font-weight: 200;
    text-transform: uppercase;
    width: 200px;
    height: auto;
    display: block;
    position: absolute;
    top: 40px;
    left: 20px;
}
.mod_compra01tope .pelinombre p.pelinombrelugar {
    font-size: 1em;
    font-weight: 200;
    text-transform: uppercase;
    text-align: right;
    width: 300px;
    height: auto;
    display: block;
    position: absolute;
    top: 40px;
    right: 20px;
}
.mod_compra01tope .peliasientos {
    padding: 5px 20px;
    background: #e4e6e5;
    color: #c02328;
    width: 221px;
    height: 57px;
    display: block;
    float: left;
    position: relative;
    left: 2px;
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.50);
}
.mod_compra01tope .peliasientos p {
    padding-left: 34px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_asientodisp.png) no-repeat 0 0;
    font-size: 1em;
    width: 187px;
    height: 30px;
    display: block;
    position: relative;
    top: 16px;
}
.mod_compra01tope .peliasientos p span {
    font-weight: 600;
}
.mod_compra01info {
    width: 670px;
    height: 375px;
    display: block;
    position: absolute;
    top: 81px;
    left: 28px;
}
ul.comprainfo {
    background: 0;
    color: #000;
    width: 670px;
    height: 375px;
    display: block;
    position: relative;
}
ul.comprainfo li {
    font-size: 1em;
    width: 670px;
    height: auto;
    display: block;
}
ul.comprainfo li p {
    margin: 0 5px;
    padding-bottom: 10px;
    width: 660px;
    display: block;
}
ul.comprainfo li:first-child {
    text-transform: uppercase;
    font-size: .875em;
    height: 44px;
    border-bottom: 1px solid #333;
}
ul.comprainfo li:first-child strong {
    display: block;
}
ul.comprainfo li:first-child span.comprainfocant {
    padding-left: 0;
    text-align: center;
    width: 200px;
}
ul.comprainfo li.comprainfo1 {
    padding-top: 5px;
    font-weight: 300;
    height: 30px;
    border-bottom: 1px solid #333;
}
ul.comprainfo li.comprainfo2 {
    background: #e4e6e5;
    padding-top: 8px;
    font-weight: 300;
    height: 32px;
    border-bottom: 1px dotted #333;
}
ul.comprainfo li.comprainfo3 {
    background: #e4e6e5;
    padding-top: 8px;
    font-weight: 300;
    font-size: .813em;
    height: 28px;
    border-bottom: 1px dotted #333;
}
ul.comprainfo li span.comprainfotipo {
    margin: 0 5px;
    width: 295px;
    height: auto;
    float: left;
    position: relative;
}
ul.comprainfo li span.comprainfotipo img {
    position: absolute;
    right: 0;
    cursor: pointer;
}
ul.comprainfo li span.comprainfomonto {
    margin-right: 5px;
    text-align: center;
    width: 150px;
    height: auto;
    float: left;
    position: relative;
}
ul.comprainfo li span.comprainfocant {
    padding-left: 60px;
    text-align: center;
    width: 140px;
    height: auto;
    float: left;
    position: relative;
}
ul.comprainfo li span.comprainfoboleto {
    margin: 0 5px;
    width: 500px;
    height: auto;
    float: left;
    position: relative;
}
ul.comprainfo li span.comprainfobalance {
    text-align: center;
    width: 140px;
}
ul.comprainfo li span.comprainfobalance span {
    margin-right: 0;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_checkentrada.png) no-repeat;
    width: 22px;
    height: 21px;
    float: left;
    position: relative;
    left: 30px;
}
input.campoentrada {
    margin: 0 7px;
    padding: 0 3px;
    background: #e4e6e5;
    color: #333;
    border: 1px solid#ccc;
    text-align: center;
    font-size: .875em;
    width: 23px;
    height: 22px;
    float: left;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input.campocodigo {
    margin-right: 7px;
    padding: 0 3px;
    background: #fff;
    color: #333;
    border: 1px solid#ccc;
    text-align: left;
    font-size: .875em;
    width: 180px;
    height: 19px;
    float: left;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
a.btn_menosentrada {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_masmenos.png) no-repeat 0 0;
    width: 22px;
    height: 21px;
    display: block;
    float: left;
    position: relative;
}
a.btn_menosentrada:hover {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_masmenos.png) no-repeat -22px 0;
    width: 22px;
    height: 21px;
    display: block;
    float: left;
    position: relative;
}
a.btn_masentrada {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_masmenos.png) no-repeat 0 -21px;
    width: 22px;
    height: 21px;
    display: block;
    float: left;
    position: relative;
}
a.btn_masentrada:hover {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_masmenos.png) no-repeat -22px -21px;
    width: 22px;
    height: 21px;
    display: block;
    float: left;
    position: relative;
}
.mod_compra01det {
    background: #e4e6e5;
    color: #000;
    width: 276px;
    height: 382px;
    display: block;
    position: absolute;
    top: 78px;
    right: 0;
}
.mod_compra01det .compradet {
    background: #fff;
    width: 276px;
    height: 290px;
    display: block;
    position: relative;
}
.compradetbox {
    background: #fff;
    border: 1px solid #333;
    padding: 3px;
    width: 265px;
    height: 280px;
    position: absolute;
}
.compradetbox1 {
    top: 5px;
}
.compradetbox h4 {
    border-bottom: 1px solid #fff;
    padding-top: 5px;
    background: #e4e6e5;
    color: #c02328;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    width: 265px;
    height: 31px;
    display: block;
}
.compradetbox h5 {
    border-bottom: 1px solid #fff;
    padding-top: 12px;
    background: #e4e6e5;
    color: #c02328;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    width: 265px;
    height: 28px;
    display: block;
}
.compradetboxtop {
    top: 80px;
}
.compradetboxint {
    padding-top: 14px;
    background: #e4e6e5;
    color: #c02328;
    border-bottom: 1px solid #fff;
    width: 265px;
    height: 188px;
    display: block;
    position: relative;
    font-size: 14px;
}
.compradetboxint p {
    padding-bottom: 8px;
    color: #333;
    font-size: 1em;
    font-weight: 300;
    width: 265px;
    height: auto;
    display: block;
}
.compradetboxint p:nth-child(0n+3),.compradetboxint p:nth-child(0n+4){
    
}
.compradetboxint p span {
    padding-right: 10px;
    text-align: right;
    width: 175px;
    height: auto;
    float: left;
}
.compradetboxint small{
    font-size: 0.75em;
    color: #666;
    font-weight: 600;
}
a.btn_block {
    display: none;
}
a.btn_compradetnext, a.btn_compradetnext:hover {
    margin: 0 auto;
    padding-top: 12px;
    background: #c02328;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 38px;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 30px;
}
.btn_compradetnext2, .btn_compradetnext2:hover {
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #c02328;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 48px;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 30px;
    cursor: pointer;
}
.btn_compradetnext2:hover {
    background: #414141;
}
.compradetbox2 {
    display: none;
}
.mod_compra02 {
    margin: 0 auto;
    background: #fff url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos.gif) repeat;
    color: #000;
    width: 1250px;
    height: 670px;
    display: block;
    position: relative;
    box-shadow: 0 4px 2px 2px #999;
    -moz-box-shadow: 0 -1px 4px 2px #999;
    -webkit-box-shadow: 0 -1px 4px 2px #999;
}
.mod_compra02tope {
    background: #e4e6e5;
    color: #333;
    border-bottom: 1px solid #000;
    width: 1250px;
    height: 31px;
    display: block;
    position: relative;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
}
.comprabarrapeli, .comprabarracine, .comprabarrafecha {
    padding: 4px 10px 0;
    height: 27px;
    display: block;
    position: absolute;
}
.comprabarrapeli {
    background: #c02328;
    color: #fff;
    width: 600px;
    left: 0;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
}
.comprabarracine, .comprabarrafecha {
    background: 0;
    color: #333;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
}
.comprabarracine {
    border-right: 1px solid #999;
    width: 190px;
    right: 410px;
}
.comprabarrafecha {
    width: 410px;
    right: 0;
}
#map {
    width: 100%}
map.td {
    position: relative;
    margin: 0 auto;
}
.asientolibre {
    max-width: 50%;
    max-height: 50%;
    min-width: 1.8em;
    min-height: 1.8em;
    content: "";
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/asiento_disponible.png") no-repeat 0 0;
    background-size: 100%;
}
.asientoreserv {
    max-width: 50%;
    max-height: 50%;
    min-width: 1.8em;
    min-height: 1.8em;
    content: "";
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/asiento_ocupado.png") no-repeat 0 0;
    background-size: 100%}
.asientofuera {
    max-width: 50%;
    max-height: 50%;
    min-width: 1.8em;
    min-height: 1.8em;
    content: "";
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/asiento_seleccionado.png") no-repeat 0 0;
    background-size: 100%}
.asientolibre:before {
    display: block;
    min-width: 24px;
    min-height: 24px;
    max-height: 50%;
    max-width: 50%;
    min-height: 1.8em;
    min-width: 1.8em;
    content: "";
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/asiento_disponible.png") no-repeat 0 0;
    background-size: 100%}
.asientoreserv:before {
    display: block;
    min-width: 24px;
    min-height: 24px;
    max-height: 50%;
    max-width: 50%;
    min-height: 1.8em;
    min-width: 1.8em;
    content: "";
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/asiento_ocupado.png") no-repeat 0 0;
    background-size: 100%}
.asientofuera:before {
    display: block;
    min-width: 24px;
    min-height: 24px;
    max-height: 50%;
    max-width: 50%;
    min-height: 1.8em;
    min-width: 1.8em;
    content: "";
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/asiento_seleccionado.png") no-repeat 0 0;
    background-size: 100%
}
/*BUTACAS SAFARI*/
_::-moz-svg-foreign-content, :root td {
    padding:5px;
}
_::-moz-svg-foreign-content, :root .asientolibre {
/*::root .asientolibre::after{*/
    max-width: 50%;
    max-height: 50%;
    min-width: 1.8em;
    min-height: 1.8em;
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/asiento_disponible.png") no-repeat 0 0;
    background-size: 100%;
    position:absolute;
}
_::-moz-svg-foreign-content, :root .asientoreserv{
    max-width: 50%;
    max-height: 50%;
    min-width: 1.8em;
    min-height: 1.8em;
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/asiento_ocupado.png") no-repeat 0 0;
    background-size: 100%;
    position:absolute;
}
_::-moz-svg-foreign-content, :root .asientofuera{
    max-width: 50%;
    max-height: 50%;
    min-width: 1.8em;
    min-height: 1.8em;
    background: url("https://cinesunidosweb.blob.core.windows.net:443/img/asiento_seleccionado.png") no-repeat 0 0;
    background-size: 100%;
    position:absolute;
}

.SeatNumber {
    font-size: 12px;
    font-family: Arial;
    text-transform: uppercase;
    color: #000;
    display: block;
    padding-left: 4px;
}
.SeatLetter {
    font-size: 12px;
    font-family: Arial;
    text-transform: uppercase;
    color: #000;
    display: block;
    text-align: center;
    padding-right: 10px;
}
.asientositems {
    width: 930px;
    height: 380px;
    display: table;
    margin: 20px 0 0 23px;
}
.salaleyenda {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_salaleyenda.png) no-repeat;
    width: 830px;
    height: 120px;
    display: table;
    position: relative;
    margin-top: 50px;
    left: 72px;
}
.mod_compra02det {
    background: #e4e6e5;
    color: #fff;
    width: 276px;
    height: 638px;
    display: block;
    position: absolute;
    top: 32px;
    right: 0;
}
.compratiempo {
    padding: 8px 10px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_barrarojacompra01.png) repeat-x;
    color: #000;
    width: 256px;
    height: 61px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
.compratiempo p {
    margin: 0 auto;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_tiemporestante.png) no-repeat top center;
    color: #fff;
    font-size: 1.500em;
    text-align: center;
    padding-top: 34px;
    width: 200px;
    height: 40px;
    display: block;
}
.compratiempoflota {
    display: none;
}
.compraasientos {
    margin: 0 auto;
    padding-top: 38px;
    color: #333;
    width: 225px;
    height: 262px;
    display: block;
    position: absolute;
    top: 356px;
    left: 25px;
}
.compraasientos h5 {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    width: 230px;
    height: 35px;
    display: block;
    position: relative;
}
.compraasientos ul.asientosel {
    width: 225px;
    height: 80px;
    display: block;
    position: relative;
    background-image:none;
}
.compraasientos ul.asientosel li {
    margin: 0 9px 12px 0;
    padding-top: 7px;
    background: #c02328;
    color: #fff;
    font-size: .875em;
    text-align: center;
    width: 35px;
    height: 28px;
    float: left;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.mod_compra03 {
    margin: 0 auto;
    background: #fff url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos.gif) repeat;
    color: #000;
    width: 1250px;
    height: 670px;
    display: block;
    position: relative;
    box-shadow: 0 4px 2px 2px #999;
    -moz-box-shadow: 0 -1px 4px 2px #999;
    -webkit-box-shadow: 0 -1px 4px 2px #999;
}
.asientosselecc {
    padding: 5px 10px;
    width: 954px;
    height: 70px;
    border-bottom: 1px solid #333;
    display: block;
    position: absolute;
    top: 32px;
    left: 0;
}
.asientosselecc h5 {
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    width: 230px;
    height: 30px;
    display: block;
    position: relative;
}
.asientosselecc ul.asientosreserv {
    width: 700px;
    height: 30px;
    display: block;
    position: relative;
}
.asientosselecc ul.asientosreserv li {
    margin: 0 9px 12px 0;
    padding-top: 7px;
    background: #c02328;
    color: #fff;
    font-size: .813em;
    text-align: center;
    width: 35px;
    height: 28px;
    float: left;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
a.btn_cambiarasiento, a.btn_cambiarasiento:hover {
    padding-top: 5px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_asientodisp.png) no-repeat right;
    color: #333;
    font-size: .875em;
    width: 150px;
    height: 25px;
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
ul.comprainfodet {
    color: #000;
    width: 940px;
    height: 140px;
    display: block;
    position: absolute;
    top: 120px;
    left: 14px;
}
ul.comprainfodet li {
    font-size: 1em;
    width: 670px;
    height: auto;
    display: block;
    padding-top: 8px;
    font-weight: 400;
    font-size: .813em;
    height: 28px;
    border-bottom: 1px solid #333;
}
ul.comprainfodet li p {
    margin: 0 5px;
    padding-bottom: 10px;
    width: 660px;
    display: block;
}
ul.comprainfodet li span.comprainfoboleto {
    margin: 0 5px;
    width: 500px;
    height: auto;
    float: left;
    position: relative;
}
ul.comprainfodet li span.comprainfobalance {
    margin: 0 5px;
    text-align: center;
    width: 140px;
    height: auto;
    float: left;
    position: relative;
}
ul.comprainfodet li span.comprainfobalance span {
    margin-right: 0;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_checkentrada.png) no-repeat;
    width: 22px;
    height: 21px;
    float: left;
    position: relative;
    left: 30px;
}
.pagoseguro {
    padding: 0;
    width: 974px;
    height: auto;
    border-top: 1px dotted #333;
    display: block;
    position: absolute;
    top: 112px;
    left: 0;
}
.pagoseguro h5 {
    margin-bottom: 10px;
    padding: 3px 15px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px dotted #333;
    font-weight: 700;
    width: 944px;
    height: 24px;
    display: block;
    position: relative;
}
.pagoseguro p{
    padding:0 3%;
}
fieldset.pagopasos {
    margin: 0 auto;
    width: 860px;
    height: 340px;
    display: block;
    position: relative;
    top: 10px;
}
fieldset.pagopasos p {
    padding-top: 4px;
    font-size: 1em;
    width: 860px;
    height: 36px;
    display: block;
    border-bottom: 1px solid #fff;
}
fieldset.pagopasos p label {
    text-transform: uppercase;
    width: 310px;
    height: 28px;
    float: left;
}
input.radiobutton {
    float: left;
    position: relative;
    top: 5px;
}
select.listapago {
    margin-right: 10px;
    border: 1px solid #999;
    background: #e4e6e5;
    float: left;
    width: 68px;
    height: 28px;
    position: relative;
    top: 0;
}
input.campopago {
    border: 1px solid #999;
    background: #e4e6e5;
    float: left;
    width: 398px;
    height: 28px;
    position: relative;
    top: 0;
}
input.campopago2 {
    background: none repeat scroll 0 0 #e4e6e5;
    border: 1px solid #999;
    float: left;
    height: 28px;
    position: relative;
    top: 0;
    width: 320px;
}
input.campopagocvv {
    border: 1px solid #999;
    background: #e4e6e5;
    float: left;
    width: 30px;
    height: 28px;
    position: relative;
    top: 0;
}
.icocvv {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/icon-card-code.png) no-repeat 0 0;
    margin: 0 15px 0 5px;
    width: 61px;
    height: 41px;
    float: left;
    position: relative;
    top: 1px;
}
span.tc_visa, span.tc_mc, span.tc_amex, span.tc_giftcard {
    margin: 0 15px 0 5px;
    width: 40px;
    height: 20px;
    float: left;
    position: relative;
    top: 1px;
}
span.tc_visa {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_tarjetas.png) no-repeat 0 0;
}
span.tc_mc {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_tarjetas.png) no-repeat 0 -20px;
}
span.tc_amex {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_tarjetas.png) no-repeat 0 -40px;
}
span.tc_giftcard {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_tarjetas.png) no-repeat 0 -60px;
}
.compranota {
    margin: 0 auto;
    padding-top: 10px;
    color: #333;
    width: 225px;
    height: 262px;
    display: block;
    position: absolute;
    top: 356px;
    left: 25px;
}
.compranotaitem {
    margin-bottom: 3px;
    padding-bottom: 3px;
    text-transform: uppercase;
    width: 225px;
    height: 55px;
    display: block;
}
.compranotaitem h5 {
    padding-bottom: 3px;
    font-size: .875em;
    color: #c02328;
    text-align: center;
    width: 225px;
    height: auto;
    display: block;
}
.compranotaitem p {
    font-size: .813em;
    line-height: 1.125em;
    text-align: center;
    width: 225px;
    height: auto;
    display: block;
}
.compranotaitemmedio {
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
    margin-bottom: 10px;
    padding: 10px 0;
    text-transform: uppercase;
    width: 225px;
    height: 80px;
    display: block;
}
a.btn_compraprocesar {
    margin: 0 auto 10px;
    padding-top: 8px;
    background: #c02328;
    color: #fff;
    line-height: 1.250em;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 0;
}
a.btn_compraprocesar b {
    font-size: 1.125em;
    display: block;
    font-weight: 400;
    width: 160px;
    height: auto;
}
a.btn_compraprocesar:hover {
    margin: 0 auto 10px;
    padding-top: 8px;
    background: #414141;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 0;
}
.compraprocesando {
    color: #000;
    width: 600px;
    height: 200px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/bckg_tramapuntos.gif") repeat scroll 0 0 #fff;
}
.loader_div {
    background-image: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_loading.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-top: 10px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
}
.compraprocesando h5 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
    width: 600px;
    height: 24px;
    display: block;
    position: relative;
}
.loader_div img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: block;
}
.mod_compra05tope {
    background: #c02328;
    color: #fff;
    border-bottom: 1px solid #000;
    width: 1250px;
    height: 31px;
    display: block;
    position: relative;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
}
.mod_compra05tope .compraconfirm {
    padding: 2px 10px 0;
    font-size: 1.250em;
    text-transform: uppercase;
    width: 600px;
    height: 29px;
    display: block;
    position: absolute;
    left: 0;
}
.mod_compra05tope .comprapasos {
    padding: 2px 10px 0;
    text-align: right;
    font-size: 1.250em;
    text-transform: uppercase;
    width: 650px;
    height: 29px;
    display: block;
    position: absolute;
    right: 0;
}
.compraconfirmtxt {
    padding: 15px;
    width: 1220px;
    height: 65px;
    display: block;
    border-bottom: 1px solid #333;
    position: absolute;
    top: 32px;
}
.compraconfirmtxt .confirmtxt {
    width: 540px;
    height: 65px;
    display: block;
    position: absolute;
    left: 15px;
}
.compraconfirmtxt .confirmtxt p {
    font-size: .875em;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 540px;
    height: auto;
    display: block;
}
.compraconfirmtxt .confirmpasos {
    width: 520px;
    height: 65px;
    display: block;
    position: absolute;
    right: 15px;
}
.compraconfirmtxt .confirmpasos li {
    list-style-type: disc;
    text-align: left;
    font-size: .875em;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 520px;
    height: auto;
    float: right;
}
.compraconfirmtxt .confirmtxtfin {
    width: 1200px;
    height: 65px;
    display: block;
    position: absolute;
    left: 15px;
}
.compraconfirmtxt .confirmtxtfin p {
    font-size: .813em;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 1200px;
    height: auto;
    display: block;
}
.compraresumen {
    width: 550px;
    height: 400px;
    display: table;
    position: absolute;
    top: 130px;
    left: 150px;
}
.compraresumen p {
    padding: 6px 15px 4px;
    border-bottom: 1px dotted #333;
    font-size: 1.2em;
    width: 520px;
    min-height: 35px;
    display: block;
}
.compraresumen p label {
    margin-right: 10px;
    font-size: 1.250em;
    font-weight: 300;
    text-transform: uppercase;
    width: 180px;
    height: auto;
    float: left;
}
.compraresumen p span.resumenpeli {
    text-transform: uppercase;
}
.compraresumen p span.resumenpeli strong {
    margin: 0 9px 12px 0;
    padding-top: 5px;
    background: #c02328;
    color: #fff;
    text-align: center;
    font-size: .600em;
    width: 28px;
    height: 22px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    float: left;
    font-weight: normal;
}
.compraresumen p span.resumenlocal {
    text-transform: uppercase;
    color: #c02328;
    font-size: 1.375em;
}
.compraresumeninfo {
    margin-top: 5px;
    padding: 5px 10px;
    background: #e4e6e5;
    color: #000;
    width: 530px;
    height: 110px;
    display: block;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
}
.compraresumeninfo p {
    padding: 4px 15px 4px;
    border-bottom: 1px dotted #333;
    font-size: 1.2em;
    width: 500px;
    height: 25px;
    display: block;
}
.compraresumeninfo p.compraresumeninfotit {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
    background-color: #c02328;
}
.compraresumeninfo p span.titresumen {
    text-align: center;
    font-weight: 600;
    font-size: .5em;
    line-height: 1em;
    text-transform: uppercase;
    width: 80px;
    height: auto;
    float: left;
}
.compraresumeninfo p span.txtresumen {
    text-align: center;
    font-weight: 300;
    font-size: .5em;
    line-height: 1em;
    text-transform: uppercase;
    width: 80px;
    height: auto;
    float: left;
    position: relative;
    top: 5px;
}
.compravoucher {
    padding: 60px 80px 0 80px;
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_voucher.png) no-repeat;
    color: #666;
    width: 170px;
    height: 460px;
    display: block;
    position: absolute;
    top: 128px;
    right: 130px;
}
.compravoucher p.voucher_txtppal {
    padding-bottom: 15px;
    font-family: "Times New Roman", Times, serif;
    font-size: .875em;
    color: #000;
    text-transform: uppercase;
    width: 180px;
    height: auto;
    display: block;
}
.compravoucher p {
    padding-bottom: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: .6em;
    text-transform: uppercase;
    width: 180px;
    height: auto;
    display: block;
}
.compraconfirmtxt2 {
    padding: 15px;
    width: 1220px;
    height: 65px;
    display: block;
    border-bottom: 1px solid #333;
    position: absolute;
    top: 32px;
}
.compraconfirmtxt .confirmtxtfin {
    width: 1200px;
    height: 65px;
    display: block;
    position: absolute;
    left: 15px;
}
.compraconfirmtxt .confirmtxtfin p {
    font-size: .813em;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 1200px;
    height: auto;
    display: block;
    padding-top: 10px;
}
.compramensaje {
    padding: 20px 10px;
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
    width: 530px;
    height: auto;
    display: block;
    position: relative;
    top: 170px;
    left: 150px;
}
.compramensaje p {
    padding-bottom: 7px;
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    width: 530px;
    height: auto;
    display: block;
}
a.btn_compraprocesar {
    margin: 0 auto 10px;
    padding-top: 8px;
    background: #c02328;
    color: #fff;
    line-height: 1.250em;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 0;
}
a.btn_compraprocesar:hover {
    background: #414141;
}
a.btn_compraprocesar2 {
    margin: 0;
    position: relative;
    top: 200px;
    left: 350px;
}
a.btn_compraprocesar2:hover {
    margin: 0;
    position: relative;
    top: 200px;
    left: 350px;
}
#compraprocesando {
    display: none;
}
.mod_compra01_ex {
    margin: 0 auto;
    background: #fff url(https://cinesunidosweb.blob.core.windows.net:443/img/bckg_tramapuntos.gif) repeat;
    color: #000;
    width: 520px;
    height: 200px;
    display: block;
    position: relative;
    box-shadow: 0 4px 2px 2px #999;
    -moz-box-shadow: 0 -1px 4px 2px #999;
    -webkit-box-shadow: 0 -1px 4px 2px #999;
}
.compraconfirm_ex {
    background: #c02328;
    color: #fff;
    border-bottom: 1px solid #000;
    width: 510px;
    height: 31px;
    display: block;
    position: relative;
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.50);
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
}
.btn_compradetnext_ex {
    margin: 0 0 0 66px;
    padding-top: 12px;
    background: #c02328;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    height: 33px;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 55px;
    cursor: pointer;
    float: left;
    text-align: center;
}
.loader_compra {
    background: url(https://cinesunidosweb.blob.core.windows.net:443/img/pic_loading.png);
    padding: 35px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
/******************************** BOTON LOADING DE COMPRA **************************************************/
/* General styles for all types of buttons */
.progress-button {
	position: relative;
	display: block;
	padding: 0 25px;
	outline: none;
	border: none;
	background: #c02328;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
	line-height: 4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    cursor:pointer;
    top:20px;
    width:160px;
    margin:0px auto;
}

.progress-button[disabled],
.progress-button[disabled].state-loading {
	cursor: default;
}

.progress-button .content {
	position: relative;
	display: block;
}

.progress-button .content::before,
.progress-button .content::after  {
	position: absolute;
	right: 5px;
	color: #8A191C;
	font-family: "icomoon";
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.3s;
	transition: opacity 0.3s 0.3s;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.progress-button .content::before {
	content: "\e600"; /* Checkmark for success */
}

.progress-button .content::after {
	content: "\e601"; /* Cross for error */
}

.progress-button.state-success .content::before,
.progress-button.state-error .content::after {
	opacity: 1;
}

.notransition {
	-webkit-transition: none !important;
	transition: none !important;
}

.progress-button .progress {
	background: #B72126;
}

.progress-button .progress-inner {
	position: absolute;
	left: 0;
	background: #8A191C;
}

.progress-button[data-horizontal] .progress-inner {
	top: 0;
	width: 0;
	height: 100%;
	-webkit-transition: width 0.3s, opacity 0.3s;
	transition: width 0.3s, opacity 0.3s;
}

.progress-button[data-vertical] .progress-inner {
	bottom: 0;
	width: 100%;
	height: 0;
	-webkit-transition: height 0.3s, opacity 0.3s;
	transition: height 0.3s, opacity 0.3s;
}

/* Necessary 3d styles for buttons with perspective */

.progress-button[data-perspective] {
	position: relative;
	display: block;
	padding: 0;
	background: transparent;
	-webkit-perspective: 900px;
	perspective: 900px;
}

.progress-button[data-perspective] .content {
	padding: 0 25px;
	background: #c02328;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.progress-button[data-perspective] .progress-wrap {
	display: block;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.progress-button[data-perspective] .content,
.progress-button[data-perspective] .progress {
	outline: 1px solid rgba(0,0,0,0); /* Smoothen jagged edges in FF */
}

/* Individual styles */
/* Choose the effect(s) you want, delete the rest */

/* Rotate back 3d */
/* ====================== */

.progress-button[data-style="rotate-back"] .progress-wrap {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.progress-button[data-style="rotate-back"] .content {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.progress-button[data-style="rotate-back"] .progress {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.progress-button[data-style="rotate-back"].state-loading .progress-wrap {
	-webkit-transform: rotateX(180deg) scaleX(0.6) scaleY(0.3);
	transform: rotateX(180deg) scaleX(0.6) scaleY(0.3);
}