﻿#fountainG {
    position: relative;
    width: 96px;
    height: 12px;
    margin: auto;
}

.fountainG {
    position: absolute;
    top: 0;
    background-color: rgb(15,15,15);
    width: 12px;
    height: 12px;
    animation-name: bounce_fountainG;
    -o-animation-name: bounce_fountainG;
    -ms-animation-name: bounce_fountainG;
    -webkit-animation-name: bounce_fountainG;
    -moz-animation-name: bounce_fountainG;
    animation-duration: 1.105s;
    -o-animation-duration: 1.105s;
    -ms-animation-duration: 1.105s;
    -webkit-animation-duration: 1.105s;
    -moz-animation-duration: 1.105s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(.3);
    -o-transform: scale(.3);
    -ms-transform: scale(.3);
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

#fountainG_1 {
    left: 0;
    animation-delay: 0.446s;
    -o-animation-delay: 0.446s;
    -ms-animation-delay: 0.446s;
    -webkit-animation-delay: 0.446s;
    -moz-animation-delay: 0.446s;
}

#fountainG_2 {
    left: 12px;
    animation-delay: 0.5525s;
    -o-animation-delay: 0.5525s;
    -ms-animation-delay: 0.5525s;
    -webkit-animation-delay: 0.5525s;
    -moz-animation-delay: 0.5525s;
}

#fountainG_3 {
    left: 24px;
    animation-delay: 0.659s;
    -o-animation-delay: 0.659s;
    -ms-animation-delay: 0.659s;
    -webkit-animation-delay: 0.659s;
    -moz-animation-delay: 0.659s;
}

#fountainG_4 {
    left: 36px;
    animation-delay: 0.7755s;
    -o-animation-delay: 0.7755s;
    -ms-animation-delay: 0.7755s;
    -webkit-animation-delay: 0.7755s;
    -moz-animation-delay: 0.7755s;
}

#fountainG_5 {
    left: 48px;
    animation-delay: 0.882s;
    -o-animation-delay: 0.882s;
    -ms-animation-delay: 0.882s;
    -webkit-animation-delay: 0.882s;
    -moz-animation-delay: 0.882s;
}

#fountainG_6 {
    left: 60px;
    animation-delay: 0.9985s;
    -o-animation-delay: 0.9985s;
    -ms-animation-delay: 0.9985s;
    -webkit-animation-delay: 0.9985s;
    -moz-animation-delay: 0.9985s;
}

#fountainG_7 {
    left: 72px;
    animation-delay: 1.105s;
    -o-animation-delay: 1.105s;
    -ms-animation-delay: 1.105s;
    -webkit-animation-delay: 1.105s;
    -moz-animation-delay: 1.105s;
}

#fountainG_8 {
    left: 84px;
    animation-delay: 1.2115s;
    -o-animation-delay: 1.2115s;
    -ms-animation-delay: 1.2115s;
    -webkit-animation-delay: 1.2115s;
    -moz-animation-delay: 1.2115s;
}



@keyframes bounce_fountainG {
    0% {
        transform: scale(1);
        background-color: rgb(192,35,40);
    }

    100% {
        transform: scale(.3);
        background-color: rgb(255,255,255);
    }
}

@-o-keyframes bounce_fountainG {
    0% {
        -o-transform: scale(1);
        background-color: rgb(192,35,40);
    }

    100% {
        -o-transform: scale(.3);
        background-color: rgb(255,255,255);
    }
}

@-ms-keyframes bounce_fountainG {
    0% {
        -ms-transform: scale(1);
        background-color: rgb(192,35,40);
    }

    100% {
        -ms-transform: scale(.3);
        background-color: rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_fountainG {
    0% {
        -webkit-transform: scale(1);
        background-color: rgb(192,35,40);
    }

    100% {
        -webkit-transform: scale(.3);
        background-color: rgb(255,255,255);
    }
}

@-moz-keyframes bounce_fountainG {
    0% {
        -moz-transform: scale(1);
        background-color: rgb(192,35,40);
    }

    100% {
        -moz-transform: scale(.3);
        background-color: rgb(255,255,255);
    }
}