@model Map
@{
    int temp = 1;
    int count = Model.CountColummns();
}
<div class="col-lg-9 col-md-12">
    <input id="colmap" type="hidden" name="name" value="@count" />
    <div class="asientositems">
        <table id="map">
            <tbody>
                <tr>
                    <td></td>
                    @while (temp <= count)
                    {
                        <td><span class="SeatNumber">@temp</span></td>
                        temp++;
                    }
                </tr>
                @foreach (var tier in Model.Tiers)
                {
                    <tr>
                        <td><span class="SeatLetter">@tier.Name</span></td>
                        @foreach (var seat in tier.Seats)
                        {
                            <td>
                                @if (seat.Type == SeatType.Chair)
                                {
                                    switch (seat.Status)
                                    {
                                        case SeatStatus.Booked:
                                            <img class="asientoreserv" />
                                            break;
                                        case SeatStatus.House:
                                            break;
                                        case SeatStatus.Selected:
                                            <a href="#" onclick="Select(this); return false;">
                                                <img class="asientofuera" data-status="selected" data-name="@seat.Name" data-AreaCategoryCode="@seat.AreaCategoryCode" data-AreaNumber="@seat.AreaNumber" data-RowIndex="@seat.RowIndex" data-ColumnIndex="@seat.ColumnIndex" />
                                            </a>
                                            break;
                                        default:
                                            <a href="#" onclick="Select(this); return false;">
                                                <img class="asientolibre" data-status="available" data-name="@seat.Name" data-areacategorycode="@seat.AreaCategoryCode" data-areanumber="@seat.AreaNumber" data-rowindex="@seat.RowIndex" data-columnindex="@seat.ColumnIndex" />
                                            </a>
                                            break;
                                    }
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!--<div class="salaleyenda"></div>-->
    <img id="screen" class="img-responsive salaleyenda" src="~/Content/img/pic_salaleyenda.png"/>
</div>