@model Purchase
@{
    string style = ViewData["class"] as string;
}
<div class="compradet">
    <div class="compradetbox">
        <div id="PurchaseFinish">
            <div class="compradetboxint">
                @foreach (var item in Model.Tickets)
                {
                    <p><span>@item.Name:</span> <span><strong id="@item.Code">@item.Quantity</strong> </span></p>
                }

                <p><span>PMVP Boletos:</span> <span>Bs. <strong id="BasePrice">@Model.TotalBasePrice.ToString("N2")</strong> </span></p>
                <p><span>I.V.A <small>(12%) </small>Boletos: </span> <span>Bs. <strong id="TicketTax">@Model.TotalTicketTax.ToString("N2")</strong> </span></p>
                <p><span>PMVP Servicios:</span> <span>Bs. <strong id="ServiceFee">@Model.TotalServiceFee.ToString("N2")</strong> </span> </p>
                <p><span>I.V.A <small>(12%) </small>Servicios: </span> <span>Bs. <strong id="ServiceTax">@Model.TotalServiceTax.ToString("N2")</strong> </span></p>
                <div class="Promotion">
                    <p><span>PMVP Combo:</span><span>Bs. <strong id="PromotionFee">@Model.TotalPromotionFee.ToString("N2")</strong> </span> </p>
                    <p><span>I.V.A <small>(12%) </small>Combo: </span> <span>Bs. <strong id="PromotionTax">@Model.TotalPromotionTax.ToString("N2")</strong> </span></p>
                </div>
                <p><span>PMVP Cargos Web:</span><span>Bs. <strong id="BookingFee">@Model.TotalBookingFee.ToString("N2")</strong> </span> </p>
                <p><span>I.V.A <small>(12%) </small>Cargos Web: </span> <span>Bs. <strong id="BookingTax">@Model.TotalBookingTax.ToString("N2")</strong> </span></p>
                <p><span>Total I.V.A <small>(12%) </small>: </span> <span>Bs. <strong id="Tax">@Model.TotalTax.ToString("N2")</strong> </span></p>

                @if (Model.Concessions != null)
                {

                    <p><span>PMVP Carameleria: </span> <span>Bs. <strong>@Model.TotalConcessions.ToString("N2")</strong></span></p>

                    <p><span>I.V.A. (12%) Caramelería: </span> <span>Bs. <strong>@Model.TotalConcessionsWithIva.ToString("N2")</strong></span></p>

                }


                <input type="hidden" id="loquetu" value="@Model.TotalPromotionFee.ToString("N2")" />
            </div>
            <div id="totaltab">

                @if (Model.Concessions != null)
            {
                    <h5>TOTAL A PAGAR BS. <strong id="TotalWithConcessions">@Model.TotalWithConcessions.ToString("N2")</strong> </h5>
                    <input type="hidden" id="concessions" value="Bs. @Model.TotalWithConcessions.ToString("N2")" />

                }
                else
                {
                    <h5>TOTAL A PAGAR BS. <strong id="Total">@Model.Total.ToString("N2")</strong> </h5>
                    <input type="hidden" id="concessions" value="Bs. @Model.Total.ToString("N2")" />

                }


                <span class="total-concessions" style="display: none;">Bs. @Model.Total.ToString("N2")</span>
            </div>
        </div>
        <div id="Purchase">
            <h4 id="detailtitle">Detalle de la Compra</h4>
            <div class="compradetboxint">
                @foreach (var item in Model.Tickets)
                {
                    <p><span>@item.Name:</span> <span><strong id="@item.Code">@item.Quantity</strong> </span></p>
                }

                <p><span>PMVP Boletos:</span> <span>Bs. <strong id="BasePrice">@Model.TotalBasePrice.ToString("N2")</strong> </span></p>
                <p><span>I.V.A <small>(12%) </small>Boletos: </span> <span>Bs. <strong id="TicketTax">@Model.TotalTicketTax.ToString("N2")</strong> </span></p>
                <p><span>PMVP Servicios:</span> <span>Bs. <strong id="ServiceFee">@Model.TotalServiceFee.ToString("N2")</strong> </span> </p>
                <p><span>I.V.A <small>(12%) </small>Servicios: </span> <span>Bs. <strong id="ServiceTax">@Model.TotalServiceTax.ToString("N2")</strong> </span></p>
                <div class="Promotion">
                    <p><span>PMVP Combo:</span><span>Bs. <strong id="PromotionFee">@Model.TotalPromotionFee.ToString("N2")</strong> </span> </p>
                    <p><span>I.V.A <small>(12%) </small>Combo: </span> <span>Bs. <strong id="PromotionTax">@Model.TotalPromotionTax.ToString("N2")</strong> </span></p>
                </div>
                <p><span>PMVP Cargos Web:</span><span>Bs. <strong id="BookingFee">@Model.TotalBookingFee.ToString("N2")</strong> </span> </p>
                <p><span>I.V.A <small>(12%) </small>Cargos Web: </span> <span>Bs. <strong id="BookingTax">@Model.TotalBookingTax.ToString("N2")</strong> </span></p>
                <p><span>Total I.V.A <small>(12%) </small>: </span> <span>Bs. <strong id="Tax">@Model.TotalTax.ToString("N2")</strong> </span></p>

                @if (Model.Concessions != null)
            {

                    <p><span>PMVP Carameleria: </span> <span>Bs. <strong>@Model.TotalConcessions.ToString("N2")</strong></span></p>

                    <p><span>I.V.A. (12%) Caramelería: </span> <span>Bs. <strong>@Model.TotalConcessionsWithIva.ToString("N2")</strong></span></p>

                }


                <input type="hidden" id="loquetu" value="@Model.TotalPromotionFee.ToString("N2")" />
            </div>
            <div id="totaltab">

                @if (Model.Concessions != null)
            {
                    <h5>TOTAL A PAGAR BS. <strong id="TotalWithConcessions">@Model.TotalWithConcessions.ToString("N2")</strong> </h5>
                    <input type="hidden" id="concessions" value="Bs. @Model.TotalWithConcessions.ToString("N2")" />

                }
                else
                {
                    <h5>TOTAL A PAGAR BS. <strong id="Total">@Model.Total.ToString("N2")</strong> </h5>
                    <input type="hidden" id="concessions" value="Bs. @Model.Total.ToString("N2")" />

                }


                <span class="total-concessions" style="display: none;">Bs. @Model.Total.ToString("N2")</span>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function () {
        console.log($('#loquetu').val());
        
        if ($('#loquetu').val() != "0,00") {
            $('.Promotion').show();
        } else {
            $('.Promotion').hide();
        }
    }
</script>
