@model Purchase
@{
    string style = ViewData["class"] as string;
    var currentAction = ViewContext.RouteData.GetRequiredString("action");
}
<div class="compradet">
    <div class="compradetbox">
        <h4 id="detailtitle">Detalle de la Compra</h4>
        <div class="compradetboxint">
            @foreach (var item in Model.Tickets)
            {
                if (item.RedemptionOnly)
                {
                    if (currentAction != "GetTicket")
                    {
                        <p class="@item.Code"><span>@item.Name:</span> <span><strong id="@item.Code">@item.Quantity</strong> </span></p>
                    }
                    else
                    {
                        <p class="hidden @item.Code"><span>@item.Name:</span> <span><strong id="@item.Code">@item.Quantity</strong> </span></p>
                    }
                }
                else
                {
                    <p><span>@item.Name:</span> <span><strong id="@item.Code">@item.Quantity</strong> </span></p>
                }
            }

            <p><span>PMVP Boletos:</span> <span>Bs. <strong id="BasePrice">@Model.TotalBasePrice.ToString("N2")</strong> </span></p>
            <p><span>I.V.A <small>(16%) </small>Boletos: </span> <span>Bs. <strong id="TicketTax">@Model.TotalTicketTax.ToString("N2")</strong> </span></p>
            @if (currentAction == "GetTicket")
            {
                <p class="hidden"><span>PMVP Servicios:</span> <span>Bs. <strong id="ServiceFee">@Model.TotalServiceFee.ToString("N2")</strong> </span> </p>
                <p class="hidden"><span>I.V.A <small>(16%) </small>Servicios: </span> <span>Bs. <strong id="ServiceTax">@Model.TotalServiceTax.ToString("N2")</strong> </span></p>
                <div class="Promotion hidden">
                    <p><span>PMVP Combo:</span><span>Bs. <strong id="PromotionFee">@Model.TotalPromotionFee.ToString("N2")</strong> </span> </p>
                    <p><span>I.V.A <small>(16%) </small>Combo: </span> <span>Bs. <strong id="PromotionTax">@Model.TotalPromotionTax.ToString("N2")</strong> </span></p>
                </div>
            }
            else
            {
                <p><span>PMVP Servicios:</span> <span>Bs. <strong id="ServiceFee">@Model.TotalServiceFee.ToString("N2")</strong> </span> </p>
                <p><span>I.V.A <small>(16%) </small>Servicios: </span> <span>Bs. <strong id="ServiceTax">@Model.TotalServiceTax.ToString("N2")</strong> </span></p>
                <div class="Promotion">
                    <p><span>PMVP Combo:</span><span>Bs. <strong id="PromotionFee">@Model.TotalPromotionFee.ToString("N2")</strong> </span> </p>
                    <p><span>I.V.A <small>(16%) </small>Combo: </span> <span>Bs. <strong id="PromotionTax">@Model.TotalPromotionTax.ToString("N2")</strong> </span></p>
                </div>
            }
            <p><span>PMVP Cargos Web:</span><span>Bs. <strong id="BookingFee">@Model.TotalBookingFee.ToString("N2")</strong> </span> </p>
            <p><span>I.V.A <small>(16%) </small>Cargos Web: </span> <span>Bs. <strong id="BookingTax">@Model.TotalBookingTax.ToString("N2")</strong> </span></p>
            <p><span>Total I.V.A <small>(16%) </small>: </span> <span>Bs. <strong id="Tax">@Model.TotalTax.ToString("N2")</strong> </span></p>

            <input type="hidden" id="loquetu" value="@Model.TotalPromotionFee.ToString("N2")" />
        </div>
        <div id="totaltab"><h5>TOTAL A PAGAR BS. <strong id="Total">@Model.Total.ToString("N2")</strong> </h5></div>
    </div>
</div>
<script>
    window.onload = function () {

        if ($('#loquetu').val() != "0,00") {
            $('.Promotion').show();
        } else {
            $('.Promotion').hide();
        }
    }
</script>
