@model Purchase
@{
    string style = ViewData["class"] as string;
}
<div class="compradet">
    <div class="compradetbox">
        <h4 id="detailtitle">Detalle de la Compra</h4>
        @if (Model.Concessions != null && Model.Concessions.Count() > 0)
            {
            <div id="SecctionCarameleria">
                <div id="carameleriatab">
                    <h5 style="padding-top:0px;">CARAMELER&Iacute;A SELECCIONADA</h5>
                    @foreach (var item in Model.Concessions)
                    {
                        <p id="item_id_@item.ItemStrItemID" item_id="@item.ItemStrItemID"><span>@item.ItemQuantityPurchase x @item.ItemStrItemDescription:</span> <span>Bs. <strong>@item.ItemPurchaseByQuantity.ToString("N2")</strong></span></p>
                    }
                </div>
                <div class="compradetboxint">
                    @* LRAMIREZ 28/09/2017 Asignar el valor del IVA y Cargo web de concesiones  *@
                    <input type="hidden" id="PercentageTax" value="@Model.PercentageTax.ToString("N2")" />
                    <input type="hidden" id="BookingFeeConcessions" value="@Model.WebChargeFee" />
                    <input type="hidden" id="TotalConcessions" value="@Model.TotalBasePriceConcessions.ToString("N2")" />



                    <p id="PVMPConcessions"><span>Sub Total Carameler&iacute;a: </span><span>Bs. <strong id="SubTotalConcessions" class="monto">@Model.TotalBasePriceConcessions.ToString("N2")</strong> </span></p>
                    <p id="IVAConcessions"><span>I.V.A <small>(16%) </small>Carameler&iacute;a: </span> <span>Bs. <strong id="ConcessionsTax" class="monto">@Model.TaxConcessions.ToString("N2")</strong> </span></p>
                    <p><span>Cargos Web: </span><span>Bs. <strong id="BookingFeeConcessions" class="monto">@Model.WebBaseChargeConcessions.ToString("N2")</strong></span> </p>
                    <p><span>I.V.A <small>(16%) </small>Cargos Web: </span> <span>Bs. <strong id="BookingTaxConcessions" class="monto">@Model.WebChargeTaxConcessions.ToString("N2")</strong></span></p>
                    <p><span>Total I.V.A</span> <span>Bs. <strong id="BookingTaxTotalConcessions" class="monto">@Model.TotalTaxConcessions.ToString("N2")</strong></span></p>
                </div>
                <div>
                    <h5><strong>TOTAL CARAMELER&Iacute;A: Bs. <secction class="TotalConcessions_" id="TotalConcessions">@Model.TotalConcessionsWebCharge.ToString("N2")</secction></strong></h5>
                </div>
            </div>
        }
        else
        {
            <div id="SecctionCarameleria" hidden>
                <div id="carameleriatab">
                    <h5 style="padding-top:0px;">CARAMELER&Iacute;A SELECCIONADA</h5>
                </div>
                <div class="compradetboxint">
                    <p id="PVMPConcessions"><span>Sub Total Carameler&iacute;a: </span><span>Bs. <strong id="SubTotalConcessions" class="monto">@Model.TotalBasePriceConcessions.ToString("N2")</strong> </span></p>
                    <p id="IVAConcessions"><span>I.V.A <small>(16%) </small>Carameler&iacute;a: </span> <span>Bs. <strong id="ConcessionsTax" class="monto">@Model.TaxConcessions.ToString("N2")</strong> </span></p>
                    <p><span>Cargos Web: </span><span>Bs. <strong id="BookingFeeConcessions" class="monto">@Model.WebBaseChargeConcessions.ToString("N2")</strong></span> </p>
                    <p><span>I.V.A <small>(16%) </small>Cargos Web: </span> <span>Bs. <strong id="BookingTaxConcessions" class="monto">@Model.WebChargeTaxConcessions.ToString("N2")</strong></span></p>
                    <p><span>Total I.V.A</span> <span>Bs. <strong id="BookingTaxTotalConcessions" class="monto">@Model.TotalTaxConcessions.ToString("N2")</strong></span></p>
                </div>
                <div>
                    <h5><strong>TOTAL CARAMELER&Iacute;A: Bs. <secction id="TotalConcessions">@Model.TotalConcessionsWebCharge.ToString("N2")</secction></strong></h5>
                </div>
            </div>
        }
        <div class="compradetboxint">
            <div>
                <h5 style="padding-top:0px;">BOLETO(S) SELECCIONADO(S)</h5>
            </div>
            @foreach (var item in Model.Tickets)
            {
                //var Name = item.Name.Contains("Popular Post-fer") ? "Boleto - Jueves del Amor y la Amistad" : item.Name;

                <p><span>@item.Name:</span> <span><strong id="@item.Code">@item.Quantity</strong> </span></p>
            }
            <p><span>PMVP Boletos:</span> <span>Bs. <strong id="BasePrice">@Model.TotalBasePrice.ToString("N2")</strong> </span></p>
            <p><span>I.V.A <small>(16%) </small>Boletos: </span> <span>Bs. <strong id="TicketTax">@Model.TotalTicketTax.ToString("N2")</strong> </span></p>
            <p><span>PMVP Servicios:</span> <span>Bs. <strong id="ServiceFee">@Model.TotalServiceFee.ToString("N2")</strong> </span> </p>
            <p><span>I.V.A <small>(16%) </small>Servicios: </span> <span>Bs. <strong id="ServiceTax">@Model.TotalServiceTax.ToString("N2")</strong> </span></p>
            <div class="Promotion">
                <p><span>PMVP Combo:</span><span>Bs. <strong id="PromotionFee">@Model.TotalPromotionFee.ToString("N2")</strong> </span> </p>
                <p><span>I.V.A <small>(16%) </small>Combo: </span> <span>Bs. <strong id="PromotionTax">@Model.TotalPromotionTax.ToString("N2")</strong> </span></p>
            </div>
            <p><span>PMVP Cargos Web:</span><span>Bs. <strong id="BookingFee">@Model.TotalBookingFee.ToString("N2")</strong> </span> </p>
            <p><span>I.V.A <small>(16%) </small>Cargos Web: </span> <span>Bs. <strong id="BookingTax">@Model.TotalBookingTax.ToString("N2")</strong> </span></p>
            <p><span>Total I.V.A <small>(16%) </small>: </span> <span>Bs. <strong id="Tax">@Model.TotalTax.ToString("N2")</strong> </span></p>
            <input type="hidden" id="loquetu" value="@Model.TotalPromotionFee.ToString("N2")" />
        </div>
        <h5 style="padding-top:0px;"><strong>SUBTOTAL BOLETER&Iacute;A: Bs. <secction id="BookinTotal">@Model.Total.ToString("N2")</secction></strong></h5>
        <div id="totaltab">
            <h5 style="padding-top:0px;">TOTAL A PAGAR BS. <strong id="Total">@Model.TotalPurchase.ToString("N2")</strong> </h5>
            <input type="hidden" id="concessions" value="Bs. @Model.TotalPurchase.ToString("N2")" />
            <input type="hidden" id="totalCompra" value="@Model.TotalPurchase.ToString("N2")" />
        </div>
    </div>
</div>
<script>

    window.onload = function () {
        if ($('#loquetu').val() != "0,00") {
            $('.Promotion').show();
        } else {
            $('.Promotion').hide();
        }
        var to = document.getElementById('Total').innerText;
        if (parseFloat(to) <= 0) {
            $('#Total').text(document.getElementById('concessions').value);
        }
    }
</script>