@model UserSession
<link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />

<script type="text/javascript">
    function qrPrinter() {
        var divQrContent = $("#qr-content").html(),
            paper = window.open('', '', 'height=580, width=800');
        paper.document.write('<html><head><title>Cines Unidos</title></head>');
        paper.document.write('<body>');
        paper.document.write(divQrContent);
        paper.document.write('</body></html>');
        paper.document.close();
        paper.print();
    }
</script>

<div class="compraresumen">
    <div class="col-md-12">
        <p><b>CONFIRMACI&Oacute;N DE COMPRA</b></p>
        <div class="localsummary">
            @*@if ((@Model.TheaterId == "1001" || @Model.TheaterId == "1026" || @Model.TheaterId == "1027" || @Model.TheaterId == "1028" || @Model.TheaterId == "1005" || @Model.TheaterId == "1023" || @Model.TheaterId == "1024" || @Model.TheaterId == "1017" || @Model.TheaterId == "1025" || @Model.TheaterId == "1014" || @Model.TheaterId == "1015") && Model.Purchase.Tickets.Where(i => i.Name.Contains("Boleto - Pa Ti Pa Mi")).Count() <= 0)
            {*@
               @{ var qr = "data:image/png;base64," + ViewBag.FilePath; }
                <div class="col-md-12">
                    <img id="qrCode" src="@qr" style="border-radius:15px; box-shadow: 0px 0px 12px 2px rgba(150,148,150,0.4);" alt="Red dot" /><br /><label class="resumenlocal">@Model.BookingId</label>
                </div>
                <br />
                @if (ViewBag.IsMobile == true)
                {
                    var qrMobile = "http://cinesunidosweb.blob.core.windows.net/qrcodes/" + @Model.BookingByte;
                    <button class="btn btn-default btn-block qr_ws" onclick="location.href='whatsapp://send?text=@qrMobile'"><i class="fa fa-whatsapp fa-2x "></i> Compartir</button>
                }

                <div class="col-md-12">
                    <div class="mail">
                        <ul class="qr-bullet">
                            <i class="fa fa-info-circle fa-2x"></i>
                            <li>Presenta este C&oacute;digo QR en digital o impreso, en la entrada a las salas y disfruta tu pel&iacute;cula.</li>
                            <li>Esta confirmaci&oacute;n de compra y C&oacute;digo QR han sido enviados a tu correo electr&oacute;nico.</li>
                            <li>
                                <div class="platform">
                                    @if (ViewBag.NotMobile == true)
                                    {
                                        <button class="btn btn-default" onclick="qrPrinter();">IMPRIMIR</button>
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <br />

                <!-- Formato al Imprimir el Boleto-->
                <div id="qr-printer">
                    <div id="qr-content">
                        <table id="container" align="center" border="0" cellpadding="0" cellspacing="0" width="320" style="border-collapse:collapse;">
                            <tr>
                                <td id="header" align="center" width="100%" height="64">
                                    <img src="https://cinesunidosweb.blob.core.windows.net/mercadeo/qr-printer-logo.jpg" alt="Header" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p align="center">
                                        <img height="240" width="240" src="@qr" alt="Red dot" />
                                        <br />
                                        @Model.BookingId
                                        <br />
                                        <br />
                                        <br />
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family:'Roboto',sans-serif;">
                                        <tr>
                                            <td>
                                                <p>
                                                    <label>Cine: </label> @Model.Theater
                                                </p><br />
                                                <p>
                                                    @Model.HallName
                                                </p><br />
                                                <p>
                                                    <label>Pel&iacute;cula: </label><span class="resumenpeli"> @Model.Title</span>
                                                </p><br />
                                                <p>
                                                    <label>Asientos: </label><span class="resumenpeli">
                                                        @foreach (var seat in Model.Seats)
                                                        {
                                                            <strong>@seat.Name</strong>
                                                        }
                                                    </span>
                                                </p><br />
                                                <p>
                                                    <label>Fecha: </label> @Model.Date
                                                </p><br />
                                                <p>
                                                    <label>Hora: </label> @Model.TimeSession
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- FIN Formato al Imprimir el Boleto-->
           @* }*@
            @*else
                {

                    <p>
                        <label>Localizador</label><span class="resumenlocal">@Model.BookingNumber</span>
                    </p>
                }*@

        </div>
        <div class="cinesummary">
            <p>
                <label>Localizador</label><span class="resumenlocal">@Model.BookingNumber</span>
            </p>
        </div>
        <div class="cinesummary">
            <p>
                <label>Cine</label>@Model.Theater
            </p>
        </div>
        <div class="salasummary">
            <p>
                <label>Sala</label>@Model.HallName
            </p>
        </div>
        <div class="moviesummary">
            <p>
                <label>Pel&iacute;cula</label><span>@Model.Title</span>
            </p>
        </div>
        <div class="seatsummary">
            <p>
                <label>Asientos</label><span class="resumenpeli">
                    @foreach (var seat in Model.Seats)
                    {
                        <strong>@seat.Name</strong>
                    }
                </span>
            </p>
        </div>
        <div class="datesummary">
            <p>
                <label>Fecha</label>@Model.Date
            </p>
        </div>
        <div class="hoursummary">
            <p>
                <label>Hora</label>@Model.TimeSession
            </p>
        </div>
    </div>
    <!-- DETALLE DE LA CARAMELERÍA-->
    @if (Model.Purchase.Concessions != null && Model.Purchase.Concessions.Count() > 0)
    {
        <div class="compraresumeninfo col-md-12 table-responsive">
            <div class="container">
                <div class="row">
                    <div align="center" valign="middle">
                        <p>
                            <label>CARAMELER&Iacute;A</label>
                        </p>
                    </div>
                    <div align="justify" valign="top">
                        @*<ul style="padding:0px;">*@
                        <ul>
                            @foreach (var item in Model.Purchase.Concessions)
                            {
                                <li style="text-align:justify">@item.ItemStrItemDescription x @item.ItemQuantityPurchase:<strong> @item.ItemPurchaseByQuantity.ToString("N2")</strong></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    }
    <!--INFORMACIÓN DE LA COMPRA-->
    <div class="compraresumeninfo col-md-12 table-responsive">
        <p class="compraresumeninfotit">INFORMACI&Oacute;N DE LA COMPRA</p>
        <table class="table table-responsive">
            <tr>
                <th class="sum-title">CANT. DE BOLETOS</th>
                <th class="sum-title">PMVP BOLETOS</th>
                <th class="sum-title">PMVP SERVICIOS</th>
                <th class="sum-title">PMVP CARGOS WEB</th>

                @if (@Model.Purchase.TotalPromotionFee > 0)
                {
                    <th class="sum-title">PMVP COMBO</th>
                }

            </tr>
            <tr>
                <td id="cant" class="sum-body" rowspan="5">@Model.Purchase.Quantity</td>
                <td class="sum-body">Bs. @Model.Purchase.TotalBasePrice.ToString("N2")</td>
                <td class="sum-body">Bs. @Model.Purchase.TotalServiceFee.ToString("N2")</td>
                <td class="sum-body">Bs. @Model.Purchase.TotalBookingFee.ToString("N2")</td>
                @if (@Model.Purchase.TotalPromotionFee > 0)
                {
                    <td class="sum-body">Bs. @Model.Purchase.TotalPromotionFee.ToString("N2")</td>
                }
            </tr>
            <tr>
                <th class="sum-title">IVA BOLETOS</th>
                <th class="sum-title">IVA SERVICIOS</th>
                <th class="sum-title">IVA CARGOS WEB</th>
                @if (@Model.Purchase.TotalPromotionFee > 0)
                {
                    <th class="sum-title">IVA COMBO</th>
                }
            </tr>
            <tr>
                <td class="sum-body">Bs. @Model.Purchase.TotalTicketTax.ToString("N2")</td>
                <td class="sum-body">Bs. @Model.Purchase.TotalServiceTax.ToString("N2")</td>
                <td class="sum-body">Bs. @Model.Purchase.TotalBookingTax.ToString("N2")</td>
                @if (@Model.Purchase.TotalPromotionFee > 0)
                {
                    <td class="sum-body">Bs. @Model.Purchase.TotalPromotionTax.ToString("N2")</td>
                }
            </tr>
            <tr>
                <th class="sum-title">TOTAL BOLETOS</th>
                <th class="sum-title">TOTAL SERVICIOS</th>
                <th class="sum-title">TOTAL CARGOS WEB</th>
                @if (@Model.Purchase.TotalPromotionFee > 0)
                {
                    <th class="sum-title">TOTAL COMBO</th>
                }
            </tr>
            <tr>
                <td class="sum-body">Bs. @Model.Purchase.TotalTicketPlusTax.ToString("N2")</td>
                <td class="sum-body">Bs. @Model.Purchase.TotalServicePlusTax.ToString("N2")</td>
                <td class="sum-body">Bs. @Model.Purchase.TotalBookingPlusTax.ToString("N2")</td>
                @if (@Model.Purchase.TotalPromotionFee > 0)
                {
                    <td class="sum-body">Bs. @Model.Purchase.TotalPromotionPlusTax.ToString("N2")</td>
                }
            </tr>
            <!--SECCION DE LA CARAMELERÍA-->
            @if (Model.Purchase.Concessions != null && Model.Purchase.Concessions.Count() > 0)
            {
                <tr>
                    <th class="sum-title" colspan="2">CANT. DE CARAMELER&Iacute;A</th>
                    <th class="sum-title">PMVP CARAMELER&Iacute;A</th>
                    <th class="sum-title">PMVP CARGOS WEB</th>
                </tr>
                <tr>
                    <td id="cant" class="sum-body" rowspan="5" colspan="2">@Model.Purchase.QuantityConcessions</td>
                    <td class="sum-body">Bs. @Model.Purchase.TotalBasePriceConcessions.ToString("N2")</td>
                    <td class="sum-body">Bs. @Model.Purchase.WebBaseChargeConcessions.ToString("N2")</td>
                </tr>
                <tr>
                    <th class="sum-title">IVA CARAMELER&Iacute;A</th>
                    <th class="sum-title">IVA CARGOS WEB</th>
                </tr>
                <tr>
                    <td class="sum-body">Bs. @Model.Purchase.TotalTaxConcessions.ToString("N2")</td>
                    <td class="sum-body">Bs. @Model.Purchase.WebChargeTaxConcessions.ToString("N2")</td>
                </tr>
                <tr>
                    <th class="sum-title">TOTAL CARAMELER&Iacute;A</th>
                    <th class="sum-title">TOTAL CARGOS WEB</th>
                </tr>
                <tr>
                    <td class="sum-body">Bs. @Model.Purchase.TotalConcessions.ToString("N2")</td>
                    <td class="sum-body">Bs. @Model.Purchase.WebChargeFee.ToString("N2")</td>
                </tr>
            }
            <tr>
                <th class="sum-total" colspan="3">TOTAL A PAGAR</th>
                <th class="sum-total" colspan="2">Bs. @Model.Purchase.TotalPurchase.ToString("N2")</th>
            </tr>
        </table>
    </div>
</div>