@model Ticket[]
@{
    int index = 0;
}

<style>
    .btn_deletevou {
        background: url(https://cinesunidosweb.blob.core.windows.net:443/img/ico_masmenos.png) no-repeat 0 -21px;
        width: 22px;
        height: 21px;
        display: inline-block;
        position: relative;
        color: white;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        outline: 0;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        cursor: pointer;
    }
</style>

<div class="mod_compra01info">
    <p class="lead text-center">Compra de Tickets</p>
    <hr />
    <ul class="comprainfo">
        <li>
            <div class="col-lg-4 col-sm-4 col-xs-4">
                <span><strong>Tipo de entrada</strong></span>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-4">
                <span><strong>PMVP unitario</strong></span>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-4">
                <span><strong>Cantidad</strong></span>
            </div>
        </li>
        @foreach (var item in Model)
        {
            var FullPrice = String.Format("Bs.S {0:0,0.00}", (Convert.ToDecimal(item.FullPrice) * 100000));
            if (item.RedemptionOnly)
            {
                <li class="hidden">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <input name="Purchase.Tickets[@index].Code" id="Purchase_Tickets_ @index __Code" type="hidden" value="@item.Code" />
                        <input name="Purchase.Tickets[@index].Name" id="Purchase_Tickets_ @index __Name" type="hidden" value="@item.Name" />
                        <input name="Purchase.Tickets[@index].Price" id="Purchase_Tickets_ @index __Price" type="hidden" value="@item.Price" />
                        <input name="Purchase.Tickets[@index].BasePrice" id="Purchase_Tickets_ @index __BasePrice" type="hidden" value="@item.BasePrice" />
                        @*GP: 2016-11-04*@
                        <input name="Purchase.Tickets[@index].TicketTax" id="Purchase_Tickets_ @index __TicketTax" type="hidden" value="@item.TicketTax" />
                        <input name="Purchase.Tickets[@index].FullPrice" class="iprice @item.Code" id="Purchase_Tickets_ @index __FullPrice" type="hidden" value="@item.FullPrice" />
                        <input name="Purchase.Tickets[@index].BookingFee" id="Purchase_Tickets_ @index __BookingFee" type="hidden" value="@item.BookingFee" />
                        @*GP: 2016-11-04*@
                        <input name="Purchase.Tickets[@index].BookingTax" id="Purchase_Tickets_ @index __BookingTax" type="hidden" value="@item.BookingTax" />
                        <input name="Purchase.Tickets[@index].Tax" id="Purchase_Tickets_ @index __Tax" type="hidden" value="@item.Tax" />
                        <input name="Purchase.Tickets[@index].ServiceFee" id="Purchase_Tickets_ @index __ServiceFee" type="hidden" value="@item.ServiceFee" />
                        @*GP: 2016-11-04*@
                        <input name="Purchase.Tickets[@index].ServiceTax" id="Purchase_Tickets_ @index __ServiceTax" type="hidden" value="@item.ServiceTax" />
                        <input name="Purchase.Tickets[@index].PromotionFee" id="Purchase_Tickets_ @index __PromotionFee" type="hidden" value="@item.PromotionFee" />
                        <input name="Purchase.Tickets[@index].PromotionTax" id="Purchase_Tickets_ @index __PromotionTax" type="hidden" value="@item.PromotionTax" />
                        @* RM - Informacion sobre la redencion *@
                        @{
                            string clase = "hidden " + item.Code;
                        }
                        @Html.TextBoxFor(m => Model[index].RedemptionOnly, new { @class = "hidden" })
                        @Html.TextBoxFor(m => Model[index].BarcodeRedemption, new { @class = clase })

                        <span class="comprainfotipo">
                            @item.Name
                        </span>

                    </div>

                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <span class="comprainfomonto">Bs. @item.FullPrice.ToString("N2")</span>
                    </div>

                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <span class="comprainfocant">
                            <a onclick="viewModel.subTicket('@item.Name.Substring(item.Name.Length -3, 3)', '@item.Code'); return false;" class="btn_menosentrada @item.Code"></a>
                            <input name="Purchase.Tickets[@index].Quantity" id="Purchase_Tickets_ @index __Quantity" type="text" class="campoentrada quantity" readonly="true" value="0">
                            <a onclick="viewModel.addTicket('@item.Name.Substring(item.Name.Length -3, 3)', '@item.Code'); return false;" class="btn_masentrada @item.Code"></a>
                        </span>
                    </div>

                </li>
            }
            else
            {
                <li class="comprainfo1">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <input name="Purchase.Tickets[@index].Code" id="Purchase_Tickets_ @index __Code" type="hidden" value="@item.Code" />
                        <input name="Purchase.Tickets[@index].Name" id="Purchase_Tickets_ @index __Name" type="hidden" value="@item.Name" />
                        <input name="Purchase.Tickets[@index].Price" id="Purchase_Tickets_ @index __Price" type="hidden" value="@item.Price" />
                        <input name="Purchase.Tickets[@index].BasePrice" id="Purchase_Tickets_ @index __BasePrice" type="hidden" value="@item.BasePrice" />
                        @*GP: 2016-11-04*@
                        <input name="Purchase.Tickets[@index].TicketTax" id="Purchase_Tickets_ @index __TicketTax" type="hidden" value="@item.TicketTax" />
                        <input name="Purchase.Tickets[@index].FullPrice" id="Purchase_Tickets_ @index __FullPrice" type="hidden" value="@item.FullPrice" />
                        <input name="Purchase.Tickets[@index].BookingFee" id="Purchase_Tickets_ @index __BookingFee" type="hidden" value="@item.BookingFee" />
                        @*GP: 2016-11-04*@
                        <input name="Purchase.Tickets[@index].BookingTax" id="Purchase_Tickets_ @index __BookingTax" type="hidden" value="@item.BookingTax" />
                        <input name="Purchase.Tickets[@index].Tax" id="Purchase_Tickets_ @index __Tax" type="hidden" value="@item.Tax" />
                        <input name="Purchase.Tickets[@index].ServiceFee" id="Purchase_Tickets_ @index __ServiceFee" type="hidden" value="@item.ServiceFee" />
                        @*GP: 2016-11-04*@
                        <input name="Purchase.Tickets[@index].ServiceTax" id="Purchase_Tickets_ @index __ServiceTax" type="hidden" value="@item.ServiceTax" />
                        <input name="Purchase.Tickets[@index].PromotionFee" id="Purchase_Tickets_ @index __PromotionFee" type="hidden" value="@item.PromotionFee" />
                        <input name="Purchase.Tickets[@index].PromotionTax" id="Purchase_Tickets_ @index __PromotionTax" type="hidden" value="@item.PromotionTax" />
                        @* RM - Informacion sobre la redencion *@
                        <input name="Purchase.Tickets[@index].RedemptionOnly" id="Purchase_Tickets_ @index RedemptionOnly" type="hidden" value="@item.RedemptionOnly" />
                        <input name="Purchase.Tickets[@index].BarcodeRedemption" id="Purchase_Tickets_ @index BarcodeRedemption" type="hidden" value="@item.BarcodeRedemption" />

                        <span class="comprainfotipo">
                            @item.Name
                        </span>

                    </div>

                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <span class="comprainfomonto">Bs. @item.FullPrice.ToString("N2")</span>
                    </div>

                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <span class="comprainfocant">
                            <a onclick="viewModel.subTicket('@item.Name.Substring(item.Name.Length -3, 3)', '@item.Code'); return false;" class="btn_menosentrada"></a>
                            <input name="Purchase.Tickets[@index].Quantity" id="Purchase_Tickets_ @index __Quantity" type="text" class="campoentrada quantity" readonly="true" value="0">
                            <a onclick="viewModel.addTicket('@item.Name.Substring(item.Name.Length -3, 3)', '@item.Code'); return false;" class="btn_masentrada"></a>
                        </span>
                    </div>

                </li>
            }


            index++;
        }
    </ul>
    <br />

    @foreach (var item in Model)
    {
        if (item.Name.Contains("2x1"))
        {
            <div class="col-md-12 panel panel-default">
                <div class="col-md-12">
                    <p><strong>Boleto 2x1: </strong>Con la compra de un Boleto 2x1 pagas una sola entrada y la segunda te sale gratis!!!</p>
                    <p>
                        V&aacute;lido los d&iacute;as Martes y Mi&eacute;rcoles en todas nuestras salas de Cines Unidos a nivel nacional
                    </p>
                </div>
            </div>
        }

        if (item.Name.Contains("3x2"))
        {
            <div class="col-md-12 panel panel-default">
                <div class="col-md-12">
                    <p><strong>Boleto 3x2: </strong>Con la compra de un Boleto 3x2 pagas dos entradas y la tercera te sale gratis!!!</p>
                    <p>
                        V&aacute;lido los d&iacute;as Viernes en todas nuestras salas de Cines Unidos a nivel nacional
                    </p>
                </div>
            </div>
        }

        if (item.Name.Contains("Plan Pareja"))
        {
            <div class="col-md-12 panel panel-default">
                <div class="col-md-12">
                    <p><strong>Boleto Plan Pareja: </strong></p>
                    <p>
                        incluye: <strong> (2) Dos Boletos 2D</strong>,<strong> (1) Una Cotufa Mediana (4oz)</strong> y<strong> (2) Dos Bebidas Medianas (650 ml)</strong>
                    </p>
                </div>
            </div>
        }

        if (item.Name.Contains("Familia 3"))
        {
            <div class="col-md-12 panel panel-default">
                <div class="col-md-12">
                    <p><strong>Boleto Plan Familia 3: </strong></p>
                    <p>
                        incluye: <strong> (3) Tres Boletos 2D</strong>,<strong> (3) Tres Cotufas Medianas (4oz)</strong> y<strong> (3) Tres Bebidas Medianas (650 ml)</strong>
                    </p>
                </div>
            </div>
        }

        if (item.Name.Contains("Familia 4"))
        {
            <div class="col-md-12 panel panel-default">
                <div class="col-md-12">
                    <p><strong>Boleto Plan Familia 4: </strong></p>
                    <p>
                        incluye: <strong> (4) Cuatro Boletos 2D</strong>,<strong> (4) Cuatro Cotufas Medianas (4oz)</strong> y<strong> (4) Cuatro Bebidas Medianas (650 ml)</strong>
                    </p>
                </div>
            </div>
        }

        if (item.Name.Contains("Familia 5"))
        {
            <div class="col-md-12 panel panel-default">
                <div class="col-md-12">
                    <p><strong>Boleto Plan Familia 5: </strong></p>
                    <p>
                        incluye: <strong> (5) Cinco Boletos 2D</strong>,<strong> (5) Cinco Cotufas Medianas (4oz)</strong> y<strong> (5) Cinco Bebidas Medianas (650 ml)</strong>
                    </p>
                </div>
            </div>
        }

        if (item.Name.Contains("Lunes") || item.Name.Contains("lunes"))
        {
            <div class="col-md-12 panel panel-default">
                <div class="col-md-12">
                    <p><strong>Boleto - Lunes Popular: </strong>Con la compra de un Boleto General pagas solo la mitad, obteniendo 50% de descuento en cada entrada</p>
                    <p>
                        V&aacute;lido los d&iacute;as Lunes en todas nuestras salas de Cines Unidos a nivel nacional
                    </p>
                </div>
            </div>
        }

        if (item.Name.Contains("jueves") || item.Name.Contains("Jueves"))
        {
            <div class="col-md-12 panel panel-default">
                <div class="col-md-12">
                    <p><strong>Boleto - Jueves para ti: </strong>Con la compra de un Boleto General pagas solo el 80%, obteniendo 20% de descuento en cada entrada</p>
                    <p>
                        V&aacute;lido los d&iacute;as jueves en todas nuestras salas de Cines Unidos a nivel nacional
                    </p>
                </div>
            </div>
        }
    }
</div>