@model string[]
@if (Model != null)
{
    <div class="compravoucher">
        <p>
            @foreach (var item in Model)
            {
                @item<br>
            }
        </p>
    </div>
}