@model CinesUnidos.WebRoles.MVC.Models.UserEntity
@using Recaptcha.Web.Mvc;

<div class="registro">
    <div class="estrenos-info bg-pattern">
        <div class="container">

            <h2>DATOS DE REGISTRO</h2>
            <hr>
            <div class="row">
                <div class="col-lg-6 col-md-6 text-right">
                    @Html.HiddenFor(user => user.hash)
                    @if (@ViewData["mod"] != "1")
            {
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <span>*CORREO</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                @Html.TextBoxFor(user => user.Email, new { @class = "input_left", placeholder = " ejemplo@mail.com" })
                                @Html.ValidationMessage("Email")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <span>*REPETIR CORREO</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                @Html.TextBoxFor(user => user.EmailComparation, new { @class = "input_right", placeholder = " ejemplo@mail.com" })
                                @Html.ValidationMessage("EmailComparation")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <span>*CONTRASE&Ntilde;A</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                @Html.TextBoxFor(user => user.Password, new { @class = "input_left", @type = "password" })
                                @Html.ValidationMessage("Password")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <span>*REPETIR CONTRASE&Ntilde;A</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                @Html.TextBoxFor(user => user.PasswordComparation, new { @class = "input_right", type = "password" })
                                @Html.ValidationMessage("PasswordComparation")
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <span>*CORREO</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                @Html.TextBoxFor(user => user.Email, new { @class = "input_left" })
                                @Html.ValidationMessage("Email")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <span>*REPETIR CORREO</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                @Html.TextBoxFor(user => user.EmailComparation, new { @class = "input_right" })
                                @Html.ValidationMessage("EmailComparation")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <span>*CONTRASE&Ntilde;A</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                @Html.TextBoxFor(user => user.Password, new { @class = "input_left", @type = "password" })
                                @Html.ValidationMessage("Password")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <span>*REPETIR CONTRASE&Ntilde;A</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                @Html.TextBoxFor(user => user.PasswordComparation, new { @class = "input_right", type = "password" })
                                @Html.ValidationMessage("PasswordComparation")
                            </div>
                        </div>
                    }

                </div>
                <div class="col-lg-6 col-md-6 text-right">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span>*PREGUNTA SECRETA</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            @Html.TextBoxFor(user => user.SecretQuestion, new { @class = "input_left" })
                            @Html.ValidationMessage("SecretQuestion")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span>*RESPUESTA SECRETA</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            @Html.TextBoxFor(user => user.SecretAnswer, new { @class = "input_right" })
                            @Html.ValidationMessage("SecretAnswer")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span>
                                <img src="https://cinesunidosweb.blob.core.windows.net/img/twitter_reg.jpg" alt="">
                                TWITTER
                            </span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            @Html.TextBoxFor(user => user.Twitter, new { @class = "input_left" })
                            @Html.ValidationMessage("Twitter")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span>
                                <img src="https://cinesunidosweb.blob.core.windows.net/img/facebook_reg.jpg" alt="">
                                FACEBOOK
                            </span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            @Html.TextBoxFor(user => user.Facebook, new { @class = "input_right" })
                            @Html.ValidationMessage("Facebook")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span>
                                <img src="https://cinesunidosweb.blob.core.windows.net/img/instagram_reg.jpg" alt="">
                                INSTAGRAM
                            </span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            @Html.TextBoxFor(user => user.Instagram, new { @class = "input_solo" })
                            @Html.ValidationMessage("Instagram")
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <h2>DATOS PERSONALES</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6  col-md-6 text-right">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span>*NOMBRE</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            @Html.TextBoxFor(user => user.Name)
                            @Html.ValidationMessage("Name")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span>*APELLIDO</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            @Html.TextBoxFor(user => user.LastName)
                            @Html.ValidationMessage("LastName")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span>*FECHA DE NACIMIENTO</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            @Html.TextBoxFor(user => user.BirthDate, "{0:dd/MM/yyyy}", new { @type = "text", @id = "datepicker", @MaxLength = "10", @MinLength = "10" })
                            @Html.ValidationMessage("BirthDate")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span>*CEDULA</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 ide">
                            @Html.DropDownListFor(User => User.IdCardType,
                                     new List<SelectListItem> {
                                                   new SelectListItem { Value = "V" , Text = "V" },
                                                   new SelectListItem { Value = "E" , Text = "E" },
                                                   new SelectListItem { Value = "J" , Text = "J" }
                                             }
                                        )<SelectListItem>
                                @Html.TextBoxFor(user => user.IdCardNumber, new { @class = "solo-numero", @MaxLength = "10" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span>SEXO</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            @Html.RadioButtonFor(user => user.SexString, "M") M @Html.RadioButtonFor(user => user.SexString, "F") F
                        </div>
                    </div>
                </div>
                <div class="col-lg-6  col-md-6 text-right">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span>*ESTADO</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            @Html.DropDownListFor(user => user.State, Model.States)
                            @Html.ValidationMessage("State")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span>*TEL&Eacute;FONO</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            @Html.TextBoxFor(user => user.Phone)
                            @Html.ValidationMessage("Phone")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <span id="dir">*DIRECCI&Oacute;N</span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            @Html.TextAreaFor(user => user.Address)
                            @Html.ValidationMessage("Address")
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    @Html.Label(" ")
                    @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Red)
                    @Html.ValidationMessage("InvalidCaptcha")
                    @Html.ValidationMessage("EmptyCaptcha")
                </div>
            </div>
        </div>
    </div>
    <div class="bg-grey bg-pattern">
        <div class="container">
            <div class="text-right">
                <p style="color:white;"><span class="red-font">*</span>CAMPOS OBLIGATORIOS</p>
            </div>
            <div class="col-lg-12 info">
                <p style="color:white;">@Html.CheckBoxFor(user => user.ReceiveMassMail, new { @class = "input_right" }) Deseo recibir informaci&oacute;n de Cinesunidos.com y sus socios de negocios, v&iacute;a correo electr&oacute;nico, correo convencional, mensajer&iacute;a de texto o cualquier otro medio. Tambi&eacute;n participar en promociones, concursos y eventos especiales.</p>
                <input id="btn-profile-submit" onclick="return ValidForm()" type="submit" value="Enviar">
            </div>
        </div>
    </div>
