﻿@model List<admin_usuarios.Models.ModalCinema>
<div class="page-header">
    <h2>Asignacion de Carameleria por cine - Ventana Modal</h2>
</div>

<style>
    .botonredondo {
        position: fixed;
        border-radius: 15px;
        bottom: 35px;
        right: 35px;
        height: 35px;
        width: 35px;
        background-color: #c02328;
    }
</style>

<div class="row">
    @using (Html.BeginForm("Modifymodal", "Modal", FormMethod.Post, null))
    {
        if (Model != null)
        {
            foreach (var item in Model)
            {
                var index = Model.IndexOf(item);
                <div class="col-xs-6 col-md-4 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @item.CinemaName
                            @Html.HiddenFor(m => Model[index].CinemaName)
                            @Html.HiddenFor(m => Model[index].CinemaCode)
                            @Html.HiddenFor(m => Model[index].DateChanged)
                        </div>
                        <div class="panel-body">
                            @Html.HiddenFor(m => Model[index].ModalEnabled, new { @class = "enabled" })
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    @if (item.ModalEnabled)
                                    {
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary si">Si</button>
                                            <button type="button" class="btn btn-default no">No</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="btn-group text-center">
                                            <button type="button" class="btn btn-default si">Si</button>
                                            <button type="button" class="btn btn-danger no">No</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            @item.DateChanged.ToString()
                        </div>
                    </div>
                </div>
            }
            <div class="botonredondo">
                @*<input type="submit" />*@
                <button type="submit" name="Guardar" value="Guargar"><i class="fa fa-save fa-2x"></i></button>
            </div>
        }
        else
        {
            <div class="col-xs-12">
                <div class="jumbotron">
                    <h1>Ventana modal de Caramelería</h1>
                    <p>
                        Este cine no esta configurado para controlar el comportameinto de la ventana modal de caramelería.
                        por favor verifique esta configuración con el personal de soporte.
                    </p>
                </div>
            </div>
        }
    }
</div>

@section scripts{
    <script>
        $(".si").click(function () {
            $(this).addClass("btn-primary");
            $(this).removeClass("btn-default");
            $(this).closest("div").children(".no").removeClass("btn-danger");
            $(this).closest("div").children(".no").addClass("btn-default");
            $(this).closest(".panel-body").children(".enabled").val("True");
            //$(this).closest("div").closest("div").closest("div").closest("div").children("#item_ModalEnabled").val("False");
        });

        $(".no").click(function () {
            $(this).addClass("btn-danger");
            $(this).removeClass("btn-default");
            $(this).closest("div").children(".si").removeClass("btn-primary");
            $(this).closest("div").children(".si").addClass("btn-default");
            $(this).closest("div").children("#item_ModalEnabled").val("True");
            $(this).closest(".panel-body").children(".enabled").val("False");

        })
    </script>
}
