﻿
@model List<admin_usuarios.Models.ModalCinema>
<div class="page-header">
    <h2>Ventanas Modales</h2>
</div>

<style>
    .botonredondo {
        position: fixed;
        border-radius: 15px;
        bottom: 35px;
        right: 35px;
        height: 35px;
        width: 35px;
        background-color: #c02328;
    }
</style>

<div class="row">
    @using (Html.BeginForm("Modifymodal", "Modal", FormMethod.Post, null))
    {
        if (Model != null)
        {
            foreach (var item in Model)
            {
                var index = Model.IndexOf(item);
                <div class="col-xs-6 col-md-4 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @item.CinemaName
                            @Html.HiddenFor(m => Model[index].CinemaName)
                            @Html.HiddenFor(m => Model[index].CinemaCode)
                            @Html.HiddenFor(m => Model[index].DateChanged)
                        </div>
                        <div class="panel-body">
                            @Html.HiddenFor(m => Model[index].ModalEnabled, new { @class = "enabled" })
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    @if (item.ModalEnabled)
                                    {
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary si">Si</button>
                                            <button type="button" class="btn btn-default no">No</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="btn-group text-center">
                                            <button type="button" class="btn btn-default si">Si</button>
                                            <button type="button" class="btn btn-danger no">No</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            @item.DateChanged.ToString()
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-xs-12">
                <div class="jumbotron">
                    <h1>Ventana modal de Caramelería</h1>
                    <p>
                        Por favor intente nuevamente si el problema persiste contacte con el equipo de soporte.
                    </p>
                </div>
            </div>
        }
    }
</div>