﻿body {
    overflow-x: hidden;
}

.search-note {
    color: rgba(0, 0, 0, .5);
    padding-left: 10px;
}

.form-control, .btn-primary, .btn-success, .btn-danger {
    border-radius: 0px;
}

#blackout {
    border-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #00443d;
    color: #fff;
    border-bottom: 3px solid #007c6f;
}

#blackout:hover {
    background-color: #00574e;
}