@model MovieBillboard[]
@{
    int count = 1;
    string @class = "slider{0}-{0}";
    string city = ViewBag.City as string;
}
@foreach (var item in Model)
{
    <div id="@item.Movie.Id" class="detalle" style="display:none;">

        <div class="mod_pelivelo">
            @*Si es AppSetings["Promos"] es igual al HO de la película hace render de 50 somrbas*@
            @*@if (item.Movie.Id == System.Configuration.ConfigurationManager.AppSettings["Promos"].ToString()) {
                  <div class="mod_pelivelotop">
                    @{ Html.RenderAction("ShadesOfGrey", "Pages"); }
                  </div>
                } else {*@
            <img src="@UrlMaker.ToSlider(item.Movie.Id)" class="pelivelotopimg img-responsive @string.Format(@class, count)">
            @*}*@
            <div class="mod_pelivelomid">
                <h2>@item.Movie.Title</h2>
                <div class="mod_pelivelomidbarra">
                    @Html.BarDays("Search", "Home", city, item.Movie.Id, item.Dates, "mod_pelivelomiddias")
                    <div class="mod_pelivelomidtipo">@item.Movie.Information.ToString()</div>
                </div>
                <div id="M_@item.Movie.Id" class="mod_pelivelomidbox">
                    <ul class="mod_pelivelomidlist">
                        <li class="hidden-xs">                            
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">                                
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">                                
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">                                
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                                <span class="head_censura">CENSURA</span>
                            </div>
                        </li>
                        @{Html.RenderPartial("Sessions", item);}
                    </ul>
                </div>
            </div>
            @Html.BarMovie(city)
        </div>

    </div>
    count++;
}