@model MovieBillboard[]
@{
    bool first = true;
    int count = 0;
    int page = 1;
}
<ul class="mod_homecarrpag" id="mod_homecarrpag" style="display:none">
    @foreach (var item in Model)
    {
        if (first)
        {
            <li class="mod_homecarrpagact"><a href="javascript:mySwipe.slide(@count,20)"><span>@page</span></a></li>
        }
        else
        {
            <li><a href="javascript:mySwipe.slide(@count,20)"><span>@page</span></a></li>
        }
        count++;
        page++;
        first = false;
    }
</ul>