@model MovieBillboard[]
@{
    int slider = 1;
    int count = 1;
    string @class = "slider{0}";
}
<div class="col-md-9 col-lg-9 nopadding_laterales">

    <div id="carousel-example-generic" class="carousel slide carousel_2" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @foreach (var item in Model)
            {
                <div class="item">
                    <a href="#@item.Movie.Id" class="fancybox">
                        <img src="@UrlMaker.ToSlider(item.Movie.Id)" class="pelivelotopimg @string.Format(@class, count)">
                    </a>
                </div>

                count++;
            }
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-chevron-right"></i>
            <span class="sr-only">Next</span>
        </a>

    </div>

</div>