﻿@{
    CinesUnidos.WebRole.Mailing.Models.Session userSession = ViewData.Model as CinesUnidos.WebRole.Mailing.Models.Session;
}
<table width="658" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="658" height="62" align="center" valign="top" bgcolor="#c02328">
            <a href="#">
                @Html.InlineImage("logo", "Company Logo")
            </a>
        </td>
    </tr>
    <tr>
        <td width="658" height="39" align="center" bgcolor="#c02328" style="border-top-style: solid; border-top-color: #000; border-top-width: 1px; border-bottom-style: solid; border-bottom-color: #000; border-bottom-width: 1px">
            <table width="300" border="0" cellspacing="0" cellpadding="10">
                <tr>
                    <td height="20" align="center" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-style: normal; line-height: 20px; color: #FFFFFF; margin-top: 20px;">FALLA EN COMPRA</td>
                </tr>
            </table>
    </tr>
</table>
<table width="658" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="658" align="center" valign="top">
            <table width="658" border="0" align="center" cellpadding="10" cellspacing="0">
                <tr>
                    <td width="658" align="left" valign="top" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #000000">
                        <p style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 13px;">
                            <span style="font-weight: bold; text-transform: uppercase">ESTIMADO (A), @userSession.Name</span>
                            <br />
                            LO SENTIMOS MUCHO PERO SU COMPRA NO HA SIDO APROBADA.
                            <br>
                            POR FAVOR REVISE LOS DATOS DE SU TARJETA E INTENTE NUEVAMENTE.
                            <br>
                            SI YA LO HA HECHO, ES POSIBLE QUE EXISTAN PROBLEMAS OPERATIVOS CON EL BANCO.
                        </p>
                        @if (userSession.CodeResult.Contains("V"))
                        {
                            <p style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 13px;">
                                RESPUESTA DE ViPPO: <b>@userSession.DescriptionResult</b>
                                <br />
                            </p>
                        }
                        else
                        {
                            <p style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 13px;">
                                RESPUESTA DEL BANCO: <b>@userSession.DescriptionResult</b>
                                <br />
                            </p>
                        }
                    </td>
                </tr>
            </table>
            <br />
            <table width="210" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="306" height="488" align="center" valign="top" bgcolor="#F0F0F0" style="border-style: dotted; border-color: #000; border-width: 0 1px 1px 1px">
                        <br />
                        <table width="180" border="0" cellspacing="0" cellpadding="2">
                            <tr>
                                <td align="center" valign="middle" bgcolor="#01002b" style="font-family: 'Courier New', Courier, monospace; font-size: 14px; color: #FFF">
                                    VOUCHER<br />
                                    ELECTRÓNICO
                                </td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        @if (userSession.Voucher != null)
                        {
                            <table width="180" border="0" cellspacing="0" cellpadding="2">
                                @*<tr>
                                    <td style="font-family: 'Courier New', Courier, monospace; font-size: 14px; color: #333333">
                                        C.A. EMPRESA CINES UNIDOS<br />
                                        RIF: J-000126518<br />
                                    </td>
                                </tr>*@
                                <tr>
                                    <td style="font-family: 'Courier New', Courier, monospace; font-size: 14px; color: #333333">
                                        <p>
                                            @foreach (string line in userSession.Voucher)
                                            {
                                                @line<br>
                                            }
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
            </table>
            <br />
            <table width="537" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="middle" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 13px; text-transform: uppercase; color: #000000">
                        <p>Para m&aacute;s informaci&oacute;n, visita la secci&oacute;n Cont&aacute;ctanos de <a href="www.cinesunidos.com" style="text-decoration: none; color: #c02328">www.cinesunidos.com</a></p>
                        <p style="font-size: 17px; font-weight: bold">¡Gracias por preferirnos!          </p>
                        <p>IMPORTANTE: Esta es una cuenta de correo no monitoreada. Por favor, no respondaS o reenv&iacute;eS mensaje a esta direccI&oacute;n Si tienes alg6uacute;n inconveniente con tu compra o deseas hacernos alguna sugerencia, por favor h&Aacute;zlo al del servicio de atenci&oacute;n al cliente, a trav&uacute;s de la secci&oacute;n <a href="www.cinesunidos.com/Contacto" style="text-decoration: none; color: #c02328">cont&aacute;ctanos</a></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
