@model Error
@section styles{
    <style>
        .cont_error {
            /*max-width: 1280px;*/
            /*width: 80%;*/
            margin-top: 50px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            background-color: #C02428;
            display: table;
            border: 1px solid #333;
            padding: 3px;
        }

        .tit_error {
            display: block;
            width: 15%;
            min-width: 130px;
            display: table-cell;
            text-align: center;
        }

        .mensaje_error {
            display: block;
            width: 85%;
            display: table-cell;
            background-color: #E4E6E5;
            padding: 10px;
            font-size: 22px;
        }

        .tit_error h2 {
            font-size: 34px;
            color: #fff;
            font-family: cinesu;
            line-height: 35px;
        }

        .tit_error span {
            font-size: 56px;
            color: #fff;
            font-family: cinesu;
            line-height: 50px;
        }

        .cont_error p {
            font-size: 14px;
            color: #000;
            font-family: cinesu;
            line-height: 20px;
        }

        .btn_info_c {
            position: relative;
            margin: auto;
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <section class="cont_error">
                <div class="tit_error">
                    <h2>ALERTA</h2>
                    <span>@Model.Code</span>
                </div>
                <div class="mensaje_error">
                    <p>@Model.Message</p>
                    <p>@Model.Message2</p>
                </div>
            </section>
        </div>
        <div class="col-xs-11">
            <div class="col-xs-12 text-center">
                @if (ViewBag.TheaterId != null && ViewBag.SessionId != null)
                {
                    <a style="font-size:small;" class="btn btn-info btn_info_c" href="/Compra/Seleccion_Tickets/@ViewBag.TheaterId/@ViewBag.SessionId">REINICIAR COMPRA</a>
                }
                else
                {
                    <a style="font-size:small;" class="btn btn-info btn_info_c" href="~/Home/">REINICIAR COMPRA</a>
                }
            </div>
        </div>
    </div>
</div>