
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="img-responsive logo-foot" src="~/Content/img/logo.png">
                <br>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12">
                <div class="nav-container">
                    <nav class="redes_sociales_footer">
                        <ul>
                            <li>
                                <a href="https://twitter.com/CinesUnidos" target="_blank" title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/cinesunidos/" target="_blank" title="Instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/cinesunidosoficial" target="_blank" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/user/cinesunidosve" target="_blank" title="Youtube">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://itunes.apple.com/us/app/cines-unidos/id650143127?mt=8" target="_blank" title="Apple">
                                    <i class="fa fa-apple"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=com.mobilemedianet.cinesunidosAndroid&hl=en" target="_blank" title="Android">
                                    <i class="fa fa-android"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <br>
                <nav class="mnufooter_secc">
                    <ul>
                        <li><a href="/Inicio">Inicio</a></li>
                        <li><a href="/Estrenos">Pr&oacute;ximos estrenos</a></li>
                        <li><a href="/Inicio_Sesion">Mi Cuenta</a></li>
                        <li><a href="/Contacto">Contacto</a></li>
                    </ul>
                </nav>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                &copy; CopyRight 2015. Todos los derechos reservados. Compa&ntilde;&iacute;a An&oacute;nima Empresa Cines Unidos. RIF.:J-00012651-8
            </div>
        </div>

    </div>
</footer>