@{
    string city = ViewBag.City as string;
}
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse botonera_ppal" role="navigation">
        <div class="container">
            <!-- mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="border:none;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--menu-principal-->
            <div class="collapse navbar-collapse botonera_ppal2 menu-responsive" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav menu-principal-responsive">
                    @if (string.IsNullOrEmpty(city))
                    {
                        <li><a href="/Inicio">INICIO</a></li>
                    }
                    else
                    {
                        <li><a href="/Inicio/@city">INICIO</a></li>
                    }
                    <li><a href="/Estrenos">PR&Oacute;XIMOS ESTRENOS</a></li>
                    <li><a href="/Comercializacion">PUBLICIDAD Y EVENTOS</a></li>
                    @*<li><a href="/Carameleria">CARAMELERIA</a></li>*@
                    <li><a href="/Promociones">PROMOCIONES Y PRECIOS</a></li>
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        CinesUnidos.WebRoles.MVC.UserPrincipal principal = (CinesUnidos.WebRoles.MVC.UserPrincipal)@Context.User;
                        <li id="myAccountMenu">
                            <a href="#">MI CUENTA <span class="caret"></span></a>
                            <div class="cuenta-menu" id="myAccountMenu-Login">
                                <div class="is-cuenta-menu">
                                    @*<a href="/Mi_Cuenta/UpdateUser?hash=@Html.helpSanitizeURLString(principal.Info.Hash)">@principal.FullName</a>*@
                                    <a href="/Mi_Cuenta/UpdateUser?hash=@Html.helpSanitizeURLString(principal.Info.Hash)">Actualizar Informaci&oacute;n</a>
                                </div>
                                <div class="reg-cuenta-menu">
                                    <a href="/MisCompras">Mis Compras</a>
                                </div>
                                <div class="reg-cuenta-menu">
                                    <a href="/Cerrar_Sesion">Finalizar Sesi&oacute;n</a>
                                </div>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li id="myAccountMenu">
                            <a href="#">MI CUENTA <span class="caret"></span></a>
                            <div class="cuenta-menu" id="myAccountMenu-Login">
                                <div class="is-cuenta-menu">
                                    <a href="/Inicio_Sesion">INICIAR SESI&Oacute;N</a>
                                </div>
                                <div class="reg-cuenta-menu">
                                    <a href="/Crear_Usuario">REGISTRARSE</a>
                                </div>
                            </div>
                        </li>
                    }
                    <li><a href="/Contacto">CONTACTO</a></li>
                </ul>
            </div>
            <!--menu-redes_sociales-->
            @Html.Partial("_Networks")
        </div>
    </nav>
    <!-- Banda Roja -->
    <div class="fondo_top">
        <div class="container">
            <div>
                <a href="/Inicio">
                    @*<img src="~/Content/img/Logo70.png" class="logo">*@
                    <img src="~/Content/img/logo.png" alt="Logo Cines Unidos" class="logo">
                </a>
            </div>
            @if (string.IsNullOrEmpty(city))
            {
                /*
                <h1 class="header_logo"><a href="/Inicio"><span>Cines Unidos</span></a></h1>
                <div class="btn-menu-mobile">
                    <span id="botonright"></span>
                    <p>MENÚ</p>
                </div>
                */
            }
            else
            {
                /*
                <h1 class="header_logo"><a href="/Inicio/@city"><span>Cines Unidos</span></a></h1>
                <div class="btn-menu-mobile">
                    <span id="botonright"></span>
                    <p>MENÚ</p>
                </div>
                */
            }
            @if (ViewContext.RouteData.GetRequiredString("controller").Equals("Home"))
            {
                @Html.Cities(city)
            }
        </div>
    </div>

    @*<script language="javascript">*@
    <script type="text/javascript">
        /*
    // Ciudades - //TODO: deberia venir del servicio o de bd
    var caracas = {lat:10.478365, lon:-66.872698, name:"Caracas"};
    var guatire = {lat:10.460324, lon:-66.562644, name:"Guatire"};
    var maracaibo = {lat:10.656488, lon:-71.709537, name:"Maracaibo"};
    var maracay = {lat:10.251811, lon:-67.599918, name:"Maracay"};
    var margarita = {lat:10.998282, lon:-63.912671, name:"Margarita"}
    var maturin = {lat:9.739110, lon:-63.191982, name:"Maturin"}
    var ptoCruz = {lat:10.197966, lon:-64.640157, name:"Puerto La Cruz"};
    var ptoOrdaz = {lat:8.275362, lon:-62.767554, name:"Puerto Ordaz"};
    var sanCristobal = {lat:7.785880, lon:-72.238892, name:"San Cristobal"};
    var valencia = {lat:10.200835, lon:-67.991917, name:"Valencia"};
    var barquisimeto = {lat:10.075024, lon:-69.322767, name:"Barquisimeto"};

    var arrCities = [caracas, guatire, maracaibo, maracay, margarita, maturin, ptoCruz, ptoOrdaz, sanCristobal, valencia, barquisimeto];
    */
    @if (ViewBag.ArrCitiesGeoLoc !=null && ViewBag.ArrCitiesGeoLoc != "")
    {
        @Html.Raw(ViewBag.ArrCitiesGeoLoc)
    }
    else
    {
        @Html.Raw("var arrCities = [];")
    }
        // Toma la geo pos.
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        // TODO: para evitar recargar la pàgina, deberìa hacerse por el controller
        function cityPosition(position) {
            if (arrCities.length < 1)
                return;
            // Pos. actual del usuario
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            // var latitude = 7.785880;
            // var longitude = -72.640157;
            // Buscar ciudad mas cercana
            var minDiff = 10000; // Valor alto para que la primera vez tome el primero
            var citie = "";
            for (var i = 0; i < arrCities.length; i++) {
                var diffLat = arrCities[i].lat > latitude ? arrCities[i].lat - latitude : latitude - arrCities[i].lat;
                var diffLon = arrCities[i].lon > latitude ? arrCities[i].lon - longitude : longitude - arrCities[i].lon;
                var diffRes = Math.abs(diffLat + diffLon);
                // Si es menor, se toma como el nuevo mas cercano
                //console.log(arrCities[i].name);
                //console.log("diffRes="+diffRes);
                if (diffRes < minDiff) {
                    minDiff = diffRes;
                    citie = arrCities[i].name;
                    //console.log("minDiff="+minDiff);
                    //console.log("citi="+citie);
                }
            }
            //console.log(citie);
            // alert(citie);
            if (!redir && citie != 'Caracas')
                window.location.href = '/Inicio/' + citie;
        }

        // Determinar si ya re-direccionado
        var url = window.location.href;
        var redir = false;
        for (var i = 0; i < arrCities.length; i++) {
            var nameAux = arrCities[i].name;
            nameAux = nameAux.replace(" ", "");
            url = url.replace("%20", "");
            if (url.indexOf(nameAux) > 0) {
                redir = true;
                break;
            }
        }
        // Si está el combo de ciudades y si ya no fue redir. a una ciudad
        if (document.getElementById('ciudad_id') && !redir) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(cityPosition);
            } else {
                // No soportado
            }
        }
    </script>
</header>