﻿<!DOCTYPE html>
<html lang="es">
<head>
    <title>Cines Unidos</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta name="description" content="CinesUnidos, el cine en un click. Compra y reservación de boletos, downloads, información de películas y últimos estrenos de la cartelera cinematográfica de Venezuela.">
    <meta name="keywords" content="Cines Unidos, Cines Unidos Guatire, Cines Unidos Caracas, Cines Unidos Maracaibo, Cines Unidos Valencia, Cines Unidos Sambil, Cines Unidos Maturin, Cines Unidos Margarita, Cartelera de Cines Unidos,  Peliculas en cartelera,  Estrenos cines unidos, Combos Cines Unidos,  Precio Entradas Cines Unidos, Promociones Cines Unidos, Descuentos Cines Unidos, Cines Unidos Descuento estudiantil. Rapidos y Furiosos, Hobbs and Shaw, Dora y la Ciudad Perdida, Isabela Moner, Eugenio Derbez dora la exploradora, Habia una vez en Hollywood Leonardo DiCaprio, Habia una vez en Hollywood, Once upon a time in Hollywood, Historias de miedo, Historias de miedo para contar en la oscuridad película, Guillermo del Toro, Infierno en la tormenta película, Angry Birds 2, Angry Birds la pelicula, Playmobil la pelicula, playmobil the movie, It capitulo 2, It 2 pelicula, pennywise, Jessica Chastain it, James McAvoy it, Mejor que nunca pelicula, Un amigo abominable, Yesterday la pelicula, Malefica 2, Malefica dueña del mal, Malefica Angelina Jolie.">
    <meta name="audience" content="all">
    <meta name="url" content="https://www.cinesunidos.com">
    <meta name="copyright" content="© CopyRight 2014. CinesUnidos, Todos los derechos reservados">
    <meta name="distribution" content="GLOBAL">
    <meta name="Googlebot" content="all">
    <meta name="google-site-verification" content="qcncKU3VIy4GRujHyTlSHbDjZMUTzu_PBlsKcf8nXB0" />
    <link rel="shortcut icon" href="/Content/img/favicon.png" type="image/png" />
    @* font family para la quiniela *@
    @*<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">*@
    @*Css para 50 sombras*@
    @*<link href="~/Content/styles/Site.css" rel="stylesheet" />
        <link href="~/Content/flipclock/flipclock.css" rel="stylesheet" />
        <link href="~/Content/styles/Misc.css" rel="stylesheet" />
        <link href="~/Content/styles/ShadesOfGrey.css" rel="stylesheet" />*@
    @*Fin de css para 50 sombras*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">*@
    @RenderSection("bootstrap", required: false)
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/cu")
    @RenderSection("styles", required: false)
    <link href="~/Content/styles/tooltipster.bundle.min.css" rel="stylesheet" />
    <link href="~/Content/styles/tooltipster.core.min.css" rel="stylesheet" />
    @*Google Analytics - Universal Analytics*@
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-35283279-1', 'auto');
        ga('send', 'pageview');
    </script>
    @*SCRIPTS DE TAGS DE GOOGLE DFP PARA PUBLICIDAD*@
    <script type='text/javascript'>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function () {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') +
                '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();
    </script>
    <script type='text/javascript'>
        googletag.cmd.push(function () {
            googletag.defineSlot('/51439853/Home-Left1-352x250', [352, 250], 'div-gpt-ad-1418761965522-0').addService(googletag.pubads());
            googletag.defineSlot('/51439853/Home-Left2-352x250', [352, 250], 'div-gpt-ad-1418761965522-1').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>
    @* FIN DE SCRIPTS DE TAGS DE GOOGLE DFP PARA PUBLICIDAD*@
</head>
<body>
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_footer")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @*
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    *@
    @Scripts.Render("~/bundles/isotope")
    @Scripts.Render("~/bundles/scripts_2")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/fancybox")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/js_layout.js"></script>
    <script>
        function getAction() {
            var action = '@ViewContext.RouteData.GetRequiredString("action")';
            return action;
        }
    </script>
    <script src="~/Scripts/tooltipster.core.min.js"></script>
    <script src="~/Scripts/tooltipster.bundle.min.js"></script>
</body>
</html>