<html lang="en">

<head>

    <title>Cines Unidos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CinesUnidos, el cine en un click. Compra y reservación de boletos, downloads, información de películas y últimos estrenos de la cartelera cinematográfica de Venezuela.">
    <meta name="keywords" content="Venezuela, Caracas, Maracaibo, Valencia, Cine, Cines, Unidos, Cines Unidos, CinesUnidos, Películas, Cartelera, Cinematográfica, Entradas, Tickets, Boletos, Salas, Asientos, Sillas, Butacas, Premium, Reservación, Reservaciones, Compra, Comprar, Estrenos, Taquilla, Acción, Suspenso, Romance, Terror, Drama, Comedia, Ciencia Ficción, Fantasía, Infantiles, Cotufas, Carameleras, Nachos, Tequeños, Refrescos, Eventos, Downloads, Club, Inteligente">
    <meta name="audience" content="all">
    <meta name="url" content="https://www.cinesunidos.com">
    <meta name="copyright" content="© CopyRight 2014. CinesUnidos, Todos los derechos reservados">
    <meta name="distribution" content="GLOBAL">
    <meta name="Googlebot" content="all">
    <meta name="google-site-verification" content="qcncKU3VIy4GRujHyTlSHbDjZMUTzu_PBlsKcf8nXB0" />
    <link rel="shortcut icon" href="/Content/img/favicon.png" type="image/png" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    @RenderSection("bootstrap", required: false)
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/cu")
    @RenderSection("styles", required: false)



</head>

<body>

    <div class="fondo_top admin">
        <div class="container">
            <div>
                <a href="index.php">
                    <img src="~/Content/img/logo.png" class="logo">
                </a>
            </div>

        </div>
    </div>
    <div class="container admin">
        @RenderBody()
    </div>
    <!-- Footer -->

    <footer>
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    © CopyRight 2015. Todos los derechos reservados. Compañía Anónima Empresa Cines Unidos. RIF.:J-00012651-8
                </div>
            </div>

        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/isotope")
    @Scripts.Render("~/bundles/scripts_2")

    @Scripts.Render("~/bundles/scripts")

    @Scripts.Render("~/bundles/fancybox")

    @RenderSection("scripts", required: false)
    <script src="~/Scripts/js_layout.js"></script>
    <script>
        function getAction() {
            var action = '@ViewContext.RouteData.GetRequiredString("action")';
            return action;
        }
    </script>
</body>
</html>