<html xmlns="https://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CinesUnidos.com - El Cine en un Clic!</title>
  <style type="text/css">
    /* Client-specific Styles */
    #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
    #outlook img[class="poster"]{max-width:174px;}
    body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
    /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
    .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  More on that: https://www.emailonacid.com/forum/viewthread/43/ */
    #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
    img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
    a img {border:none;}
    .image_fix {display:block;}
    p {margin: 0px 0px !important;}
    table td {border-collapse: collapse;}
    table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
    /*a {color: #e95353;text-decoration: none;text-decoration:none!important;}*/
    /*STYLES*/
    table[class=full] { width: 100%; clear: both; }

    /*################################################*/
    /*IPAD STYLES*/
    /*################################################*/
    @@media only screen and (max-width: 640px) {
    a[href^="tel"], a[href^="sms"] {
    text-decoration: none;
    color: #ffffff; /* or whatever your want */
    pointer-events: none;
    cursor: default;
    }
    .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
    text-decoration: default;
    color: #ffffff !important;
    pointer-events: auto;
    cursor: default;
    }
    table[class=devicewidth] {width: 440px!important;text-align:center!important;}
    table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
    table[class="sthide"]{display: none!important;}
    img[class="bigimage"]{width: 420px!important;height:219px!important;}
    img[class="bigimagev"]{width: 420px!important;height:183px!important;}
    img[class="col2img"]{width: 260px!important;height:258px!important;}
    img[class="image-banner"]{width: 440px!important;height:106px!important;}
    td[class="menu"]{text-align:center !important; padding: 0 0 10px 0 !important;}
    td[class="logo"]{padding:10px 0 5px 0!important;margin: 0 auto !important;}
    img[class="logo"]{padding:0!important;margin: 0 auto !important;}

    }
    /*##############################################*/
    /*SAMSUNG GALAXY III*/
    /*##############################################*/
    @@media only screen and (min-width: 360px) and (max-width: 598px) {
    a[href^="tel"], a[href^="sms"] {
    text-decoration: none;
    color: #ffffff; /* or whatever your want */
    pointer-events: none;
    cursor: default;
    }
    .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
    text-decoration: default;
    color: #ffffff !important;
    pointer-events: auto;
    cursor: default;
    }
    table[class=devicewidth] {width: 360px!important;text-align:center!important;}
    table[class=devicewidthinner] {width: 350px!important;text-align:center!important;}
    table[class="sthide"]{display: none!important;}
    td[class="ico-redes"]{width:145px;text-align: center;}
    td[class="poster"]{text-align:center !important;display:initial;}
    img[class="poster"]{max-width: 174px!important;}
    }
    /*##############################################*/
    /*IPHONE STYLES*/
    /*##############################################*/
    @@media only screen and (max-width: 320px) {
    a[href^="tel"], a[href^="sms"] {
    text-decoration: none;
    color: #ffffff; /* or whatever your want */
    pointer-events: none;
    cursor: default;
    }
    .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
    text-decoration: default;
    color: #ffffff !important;
    pointer-events: auto;
    cursor: default;
    }
    table[class=devicewidth] {width: 280px!important;text-align:center!important;}
    table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
    table[class="sthide"]{display: none!important;}
    img[class="bigimage"]{width: 260px!important;height:136px!important;}
    img[class="bigimagev"]{width: 260px!important;height:113px!important;}
    img[class="col2img"]{width: 260px!important;height:268px!important;}
    img[class="image-banner"]{width: 280px!important;height:68px!important;}
    }
  </style>
    <!--[if gte mso 15]>
        <style type="text/css">
        /* Your Outlook-specific CSS goes here. */
        .poster img{width:174px !important;}
        </style>
    <![endif]-->
</head>
<body>
    <div style="font-size:1px; color:#efe1b0; display:none;">Vive momentos de película con la gran pantalla de Cines Unidos junto a tu familia y amigos. ¡Disfruta lo mejor del cine nacional e internacional!</div>
	<div class="block">
			<!-- Start of preheader -->
		<table width="100%" bgcolor="#f6f4f5" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="preheader">
			<tbody>
				<tr>
					<td width="100%">
						<table width="580" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
							<tbody>
								<!-- Spacing -->
								<tr>
									<td width="100%" height="5"></td>
								</tr>
								<!-- Spacing -->
								<tr>
									<td align="right" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 10px;color: #999999" st-content="preheader">
											Si no logras visualizar correctamente este mensaje por favor haz <a class="hlite" href="Https://www.cinesunidos.com/peliculascorreo" style="text-decoration: none; color: #c02328">clic aquí</a>
									</td>
								</tr>
								<!-- Spacing -->
								<tr>
									<td width="100%" height="5"></td>
								</tr>
								<!-- Spacing -->
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- End of preheader -->
	</div>
	<div class="block">
		<!-- start of header -->
		<table width="100%" bgcolor="#f6f4f5" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="header">
			<tbody>
				<tr>
					<td>
						<table width="580" bgcolor="#c02328" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" hlitebg="edit" shadow="edit">
							<tbody>
								<tr>
									<td>
										<!-- logo -->
										<table width="280" cellpadding="0" cellspacing="0" border="0" align="left" class="devicewidth">
											<tbody>
												<tr>
													<td valign="middle" width="270" style="padding: 10px 0 10px 20px;" class="logo">
														<div class="imgpop">
																<a href="Https://www.cinesunidos.com/"><img src="https://cinesunidosweb.blob.core.windows.net/img/logo-cu.png" alt="logo" border="0" style="display:block; border:none; outline:none; text-decoration:none;" st-image="edit" class="logo"></a>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
										<!-- End of logo -->
										<!-- menu -->
										<table width="280" cellpadding="0" cellspacing="0" border="0" align="right" class="devicewidth">
											<tbody>
												<tr>
													<td width="270" valign="middle" style="font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;line-height: 24px; padding: 10px 0;" align="right" class="menu" st-content="menu">
														<a href="Https://www.cinesunidos.com/Peliculas/Caracas" style="text-decoration: none; color: #ffffff;">CARTELERA</a>
															&nbsp;|&nbsp;
														<a href="Https://www.cinesunidos.com/Estrenos" style="text-decoration: none; color: #ffffff;">ESTRENOS</a>
													</td>
													<td width="20"></td>
												</tr>
											</tbody>
										</table>
										<!-- End of Menu -->
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- end of header -->
	</div>
		@RenderBody()
   <div class="block">
   <!-- Start of preheader -->
   <table width="100%" bgcolor="#f6f4f5" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="postfooter">
      <tbody>
         <tr>
            <td width="100%">
               <table width="580" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                  <tbody>
                     <!-- Spacing -->
                     <tr>
                        <td width="100%" height="5"></td>
                     </tr>
                     <!-- Spacing -->
                     <tr>
                        <td align="left" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size: 10px;color: #999999" st-content="preheader">
                            !*TOKENEMAILMASSMAIL*!
                            </br></br>
                            Nota: Los acentos han sido eliminados para maximizar la compatibilidad y correcta visualizacion en todos los navegadores y visores de correo electronico.
                            </br>
                            Sitio Web Principal de Cines Unidos Https://www.cinesunidos.com</br>
                            Compania Anonima Empresa Cines Unidos, RIF.:J-00012651-8</br>
                            Urb. Prados del Este, Av. Rio Caura y Paragua. Nucleo Ejecutivo La Piramide, PA, Ofc.1.</br>
                            Caracas. 1080. Venezuela.</br>
                            Telefono: +58 212 6207400</br>
                            La informacion aqui contenida esta sujeta a cambios sin previo aviso.</br>
                            IMPORTANTE: Por favor no respondas este correo electronico. Cualquier mensaje enviado como respuesta de este envio automatico no nos llegara. Si deseas hacernos alguna consulta o comentario, por favor hazlo al servicio de atencion al cliente, a traves del formulario de contacto. Puedes acceder al mismo haciendo <a class="hlite" href="Https://www.cinesunidos.com/Contacto" style="text-decoration: none; color: #c02328">
    clic aqui.
</a></br></br></br>

    Estas recibiendo este mensaje porque la direccion de correo electronico fue registrada en CinesUnidos.com para recibir comunicaciones relevantes.</br>
</br></br></br>
</td>
                     </tr>
                     <!-- Spacing -->
                  </tbody>
               </table>
            </td>
         </tr>
      </tbody>
   </table>
   <!-- End of preheader -->
</div>
</body>
</html>