
<div>

    <nav class="redes_sociales">
        <ul>
            <li>
                <a href="https://twitter.com/CinesUnidos" target="_blank" title="Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/cinesunidos/" target="_blank" title="Instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/cinesunidosoficial" target="_blank" title="Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/user/cinesunidosve" target="_blank" title="Youtube">
                    <i class="fa fa-youtube"></i>
                </a>
            </li>
            <li>
                <a href="https://itunes.apple.com/us/app/cines-unidos/id650143127?mt=8" target="_blank" title="Apple">
                    <i class="fa fa-apple"></i>
                </a>
            </li>
            <li>
                <a href="https://play.google.com/store/apps/details?id=com.mobilemedianet.cinesunidosAndroid&hl=en" target="_blank" title="Android">
                    <i class="fa fa-android"></i>
                </a>
            </li>
        </ul>
        <a href="#" class="hidden-xs hidden-sm">
            <button class="subir">
                <i class="fa fa-chevron-up"></i>
            </button>
        </a>

    </nav>
</div>