﻿@{
    CinesUnidos.WebRole.Mailing.Models.Complain complain = ViewData.Model as CinesUnidos.WebRole.Mailing.Models.Complain;
}
<table width="658" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="658" height="62" align="center" valign="top" bgcolor="#c02328">
            <a href="#">
                @Html.InlineImage("logo", "Company Logo")
            </a>
        </td>
    </tr>
    <tr>
        <td width="658" height="39" align="center" bgcolor="#c02328" style="border-top-style: solid; border-top-color: #000; border-top-width: 1px; border-bottom-style: solid; border-bottom-color: #000; border-bottom-width: 1px">
            <table width="300" border="0" cellspacing="0" cellpadding="10">
                <tr>
                    <td height="20" align="center" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-style: normal; line-height: 20px; color: #FFFFFF; margin-top: 20px;">QUEJA</td>
                </tr>
            </table>
    </tr>
</table>
<table width="658" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="658" align="center" valign="top">
            <table width="658" border="0" align="center" cellpadding="10" cellspacing="0">
                <tr>
                    <td width="658" align="left" valign="top" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #000000">
                        <p style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size:13px;">
                            <!- Comment ->
                            @Html.DisplayText("Queja")
                            <br />
                            Tipo: @Html.DisplayFor(model => complain.Subject)
                            <br />
                            Cine: @Html.DisplayFor(Model => complain.Theater)
                            <br />
                            Película: @Html.DisplayFor(Model => complain.Movie)
                            <br />
                            Fecha: @Html.DisplayFor(Model => complain.Date, "{0:dd/MM/yyyy}")
                            <br />
                            Hora: @Html.DisplayFor(Model => complain.Time)
                            <br />
                            Nombre: @Html.DisplayFor(Model => complain.Name)
                            <br />
                            Comentario: @Html.DisplayFor(Model => complain.Comment)
                        </p>
                        <br />
                    </td>
                </tr>
            </table>

            @*<table width="537" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" valign="middle" style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 13px; text-transform: uppercase; color: #000000">
                            <p>Para mÁs informaciÓn, visita la secciÓn ContÁctanos de <a href="#" style="text-decoration: none; color: #c02328">www.cinesunidos.com</a></p>
                            <p style="font-size: 17px; font-weight: bold">¡Gracias por preferirnos!          </p>
                            <p>IMPORTANTE: Esta es una cuenta de correo no monitoreada. Por favor, no respondaS o reenvÍeS mensaje a esta direccIÓn Si tienes algÚn inconveniente con tu compra o deseas hacernos alguna sugerencia, por favor hÁZLO al del servicio de atenciÓn al cliente, a travÉs de la secciÓn <a href="#" style="text-decoration: none; color: #c02328">contÁctanos</a></p>
                        </td>
                    </tr>
                </table>*@
        </td>
    </tr>
</table>








