﻿body {
    overflow-x: hidden;
}

.search-note {
    color: rgba(0, 0, 0, .5);
    padding-left: 10px;
}

.form-control, .btn-primary, .btn-success, .btn-danger {
    border-radius: 0px;
}

.create-form {
    padding-left: 10%;
}