﻿body {
    overflow-x: hidden;
}

.search-note {
    color: rgba(0, 0, 0, .5);
    padding-left: 10px;
}

.form-control, .btn-primary, .btn-success, .btn-danger {
    border-radius: 0px;
}

.overlay {
    background: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    opacity: 0.3;
    display: none;
}

.confirmRedis {
    background-color: #f2f2f2;
    color: #555;
    height: 176px;
    width: 586px;
    left: 35%;
    padding: 2em;
    position: fixed;
    top: 25%;
    z-index: 10000;
    -moz-box-shadow: 0px 0px 10px 1px #888888;
    -webkit-box-shadow: 0px 0px 10px 1px #888888;
    box-shadow: 0px 0px 10px 1px #888888;
    border-radius: 0px;
    -moz-border-radius: 0px;
    display: none;
}

#warning-msg {
    text-align: center;
    font-size: 18px;
}

#btn-accept, #btn-cancel {
    padding-left: 50px;
    padding-right: 50px;
}

#btn-cancel {
    margin-left: 20%;
}