﻿@model admin_usuarios.Models.MessageForCinemaViewModel


<style>
    .globalArea {
        resize: none;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/Home/index">Mensajes</a></li>
    <li class="active">Agregar Mensajes</li>
</ol>
<div class="page-header">
    <h2>Agregar Mensajes</h2>
</div>
<div class="col-xs-12">
    <p class="lead">
        @ViewBag.Message
    </p>
</div>

@using (Html.BeginForm("CreateMessage", "Messages", FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()
    if (ViewBag.Message != "Publicación realizada satisfactoriamente")
    {
        <div class="row">
            <div class="col-md-3">
                @Html.EnumDropDownListFor(Model => Model.Message.Category, new { placeholder = "Tipo de Mensaje", @class = "form-control" })
                @Html.ValidationMessage("category", new { @class = "label label-danger" })
            </div>
            <div class="col-md-3">
                <button type="submit" value="AddMessage" name="action" class="btn btn-default">Agregar</button>
            </div>
        </div>
    }

    <hr />

    <div class="row">
        @if (ViewBag.TipoMessage == "Global")
        {
            <div class="col-md-6">
                @Html.TextAreaFor(Model => Model.Message.Message, new { @class = "form-control input-md globalArea", rows = "3", placeholder = "Escriba el Mensaje que aparecerá en la pagina de bienvenida" })
                @Html.ValidationMessage("Message", new { @class = "label label-danger col-md-5" })
            </div>
            <div class="col-md-3">
                <button type="submit" value="NewMessage" name="action" class="btn btn-block"><span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
        }

        @if (ViewBag.TipoMessage == "City")
        {
            <div class="col-md-3">
                @Html.EnumDropDownListFor(Model => Model.Message.City, new { @class = "form-control" })
                @Html.ValidationMessage("City", new { @class = "label label-danger" })
            </div>
            <div class="col-md-6">
                @Html.TextAreaFor(Model => Model.Message.Message, new { @class = "form-control input-md globalArea", rows = "3", placeholder = "Escriba el Mensaje que aparecerá en la Ciudad" })
                @Html.ValidationMessage("Message", new { @class = "label label-danger" })
            </div>
            <div class="col-md-3">
                <button type="submit" id="globalArea" value="NewMessage" name="action" class="btn btn-block"><span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
        }

        @if (ViewBag.TipoMessage == "Cinema")
        {
            <div class="col-md-3">
                @Html.EnumDropDownListFor(Model => Model.Message.Cinema, new { @class = "form-control" })
                @Html.ValidationMessage("Cinema", new { @class = "label label-danger" })
            </div>
            <div class="col-md-6">
                @Html.TextAreaFor(Model => Model.Message.Message, new { @class = "form-control input-md globalArea", rows = "3", placeholder = "Escriba el Mensaje que aparecerá en el cine" })
                @Html.ValidationMessage("Message", new { @class = "label label-danger" })
            </div>
            <div class="col-md-3">
                <button type="submit" id="globalArea" value="NewMessage" name="action" class="btn btn-block"><span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
        }

        @if (ViewBag.TipoMessage == "")
        {
            <div class="col-xs-1"></div>
        }
    </div>

    <hr />

    if (Model != null && Model.Messages.Count > 0)
    {
        <div class="row">
            @foreach (var item in Model.Messages)
            {
                var index = Model.Messages.IndexOf(item);
                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div>
                            @Html.HiddenFor(m => Model.Messages[index].Activo)
                            @Html.HiddenFor(m => Model.Messages[index].Category)
                            @Html.HiddenFor(m => Model.Messages[index].Cinema)
                            @Html.HiddenFor(m => Model.Messages[index].CinemaID)
                            @Html.HiddenFor(m => Model.Messages[index].Retirar)
                            @Html.HiddenFor(m => Model.Messages[index].Message)
                            @Html.HiddenFor(m => Model.Messages[index].City)
                        </div>
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <strong id="@string.Format("{0}{1}","Category",index)">@item.Category</strong>
                                </div>
                                <div class="col-xs-2 col-xs-offset-4">
                                    <span class="small"><button type="submit" class="btn btn-xs btn-danger retirar" name="action" value="quitar" id="@index"><i class="glyphicon glyphicon-remove-circle"></i></button></span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body text-justify">
                            <p id="@string.Format("{0}{1}","Message",index)">@item.Message</p>
                        </div>
                        <div class="panel-footer">
                            @if (item.Category.ToString() == "GlobalMessage")
                            {
                                <p>Este Mensaje aparecerá en la pantalla de bienvenida de la página web de Cines unidos.</p>
                            }
                            @if (item.Category.ToString() == "CityMessage")
                            {
                                <p>Este mensaje aparecerá en todos los cines de @item.City.ToString().Replace("_", " ") en la página web de Cines unidos.</p>
                            }
                            @if (item.Category.ToString() == "CinemaMessage")
                            {
                                <p>Este mensaje aparecerá el cine @item.Cinema.ToString().Substring(0, item.Cinema.ToString().Length - 4).Replace("_", " ") en la página web de Cines unidos.</p>
                            }
                            <p class="hidden" id="@string.Format("{0}{1}","Activo",index)"> @item.Activo</p>
                            <p class="hidden" id="@string.Format("{0}{1}","Retirar",index)"> @item.Retirar</p>
                            <p class="hidden" id="@string.Format("{0}{1}","Cinema",index)"> @item.Cinema</p>
                            <p class="hidden" id="@string.Format("{0}{1}","CinemaID",index)"> @item.CinemaID</p>
                            <p class="hidden" id="@string.Format("{0}{1}","City",index)"> @item.City</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-xs-6">
                <button type="submit" value="Guardar" name="action" class="btn btn-info btn-block">Guardar <span class="glyphicon glyphicon-save"></span></button>
            </div>
            <div class="col-xs-6">
                @Html.ActionLink("Cancelar", "Index", "Home", null, new { @class = "btn btn-danger btn-block" })
            </div>
        </div>
        @*<div class="row">
                <div class="col-xs-12">
                    @Html.ActionLink("Enviar cambios", "Applychanges", "Messages", null, new { @class="btn btn-success"})
                </div>
            </div>*@
    }


}

@section scripts{
    <script type="text/javascript" src="~/Scripts/navbar.js"></script>
    <script>
        $('.retirar').click(function (e) {
            var r = $(this).attr('id');
            var b = 'Messages_' + r + '__Retirar';
            var c = document.getElementById(b);
            $(c).val('True');
            //e.preventDefault();
        });

        $(document).ready(function () {
            var a = $('.retirar').length;
            if (a > 0) {

                for (var i = 0; i < a; i++) {
                    //actualizar los campos ocultos cada vez que recargo la pagina
                    //valores de destido
                    var Dactivo = "#Messages_" + i + "__Activo";
                    var Dcategory = "#Messages_" + i + "__Category";
                    var DCinema = "#Messages_" + i + "__Cinema";
                    var DCinemaID = "#Messages_" + i + "__CinemaID";
                    var DRetirar = "#Messages_" + i + "__Retirar";
                    var DMessage = "#Messages_" + i + "__Message";
                    var DCity = "#Messages_" + i + "__City";
                    //valores de origen
                    var Oactivo = "Activo" + i;
                    var Ocategory = "Category" + i;
                    var OCinema = "Cinema" + i;
                    var OCinemaID = "CinemaID" + i;
                    var ORetirar = "Retirar" + i;
                    var OMessage = "Message" + i;
                    var OCity = "City" + i;

                    //console.log($(Oactivo).val());
                    //console.log($(Ocategory).val());
                    //console.log($(OCinema).val());
                    //console.log($(OCinemaID).val());
                    //console.log($(ORetirar).val());
                    //console.log($(OMessage).val());
                    //console.log($(Dactivo).val());
                    //console.log($(Dcategory).val());
                    //console.log($(DCinema).val());
                    //console.log($(DCinemaID).val());
                    //console.log($(DRetirar).val());
                    //console.log($(DMessage).val());

                    $(Dactivo).val(document.getElementById(Oactivo).innerText);
                    $(Dcategory).val(document.getElementById(Ocategory).innerText);
                    $(DCinema).val(document.getElementById(OCinema).innerText);
                    $(DCinemaID).val(document.getElementById(OCinemaID).innerText);
                    $(DRetirar).val(document.getElementById(ORetirar).innerText);
                    $(DMessage).val(document.getElementById(OMessage).innerText);
                    $(DCity).val(document.getElementById(OCity).innerText);
                }
            }
            //bkLib.onDomLoaded(nicEditors.allTextAreas);
            nicEditors.allTextAreas();
            console.log("text");
        });
    </script>
    <script src="~/Scripts/nicEdit-latest.js" type="text/javascript"></script>
    @*<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>*@
}