﻿@model List<admin_usuarios.Models.MessageForCinema>
@{
    ViewBag.Title = "Messages";
}

<ol class="breadcrumb">
    <li><a href="/Home/index">Mensajes</a></li>
    <li class="active">Eliminar Mensajes</li>
</ol>
<div class="page-header">
    <h2>Eliminar Mensajes</h2>
</div>
<div class="col-xs-12">
    <p class="lead">
        @ViewBag.Message
    </p>
</div>

<div class="containner">
        @using (Html.BeginForm("DeleteMessages", "Messages", FormMethod.Post, new { @class = "form" }))
        {
            if (Model != null && Model.Count > 0)
            {
                <div class="row">
                    @foreach (var item in Model)
                    {
                        var index = Model.IndexOf(item);
                        <div class="col-md-4">
                            <div class="panel panel-success">
                                <div>
                                    @Html.HiddenFor(m => Model[index].Activo, new { id = string.Format("{0}{1}{2}", "Messages_", index, "__Activo") })
                                    @Html.HiddenFor(m => Model[index].Category, new { id = string.Format("{0}{1}{2}", "Messages_", index, "__Category") })
                                    @Html.HiddenFor(m => Model[index].Cinema, new { id = string.Format("{0}{1}{2}", "Messages_", index, "__Cinema") })
                                    @Html.HiddenFor(m => Model[index].CinemaID, new { id = string.Format("{0}{1}{2}", "Messages_", index, "__CinemaID") })
                                    @Html.HiddenFor(m => Model[index].Retirar, new { id = string.Format("{0}{1}{2}", "Messages_", index, "__Retirar") })
                                    @Html.HiddenFor(m => Model[index].Message, new { id = string.Format("{0}{1}{2}", "Messages_", index, "__Message") })
                                    @Html.HiddenFor(m => Model[index].City, new { id = string.Format("{0}{1}{2}", "Messages_", index, "__City") })
                                </div>
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong id="@string.Format("{0}{1}", "Category", index)">@item.Category</strong>
                                        </div>
                                        <div class="col-xs-2 col-xs-offset-4">
                                            <span class="small"><button type="submit" class="btn btn-xs btn-danger retirar" name="action" value="quitar" id="@index"><i class="glyphicon glyphicon-remove-circle"></i></button></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body text-justify">
                                    <p id="@string.Format("{0}{1}", "Message", index)">@item.Message</p>
                                </div>
                                <div class="panel-footer">
                                    @if (item.Category.ToString() == "GlobalMessage")
                                    {
                                        <p>Este Mensaje aparecerá en la pantalla de bienvenida de la página web de Cines unidos.</p>
                                    }
                                    @if (item.Category.ToString() == "CityMessage")
                                    {
                                        <p>Este mensaje aparecerá en todos los cines de @item.City.ToString().Replace("_", " ") en la página web de Cines unidos.</p>
                                    }
                                    @if (item.Category.ToString() == "CinemaMessage")
                                    {
                                        <p>Este mensaje aparecerá el cine @item.Cinema.ToString().Substring(0, item.Cinema.ToString().Length - 4).Replace("_", " ") en la página web de Cines unidos.</p>
                                    }
                                    <p class="hidden" id="@string.Format("{0}{1}", "Activo", index)"> @item.Activo</p>
                                    <p class="hidden" id="@string.Format("{0}{1}", "Retirar", index)"> @item.Retirar</p>
                                    <p class="hidden" id="@string.Format("{0}{1}", "Cinema", index)"> @item.Cinema</p>
                                    <p class="hidden" id="@string.Format("{0}{1}", "CinemaID", index)"> @item.CinemaID</p>
                                    <p class="hidden" id="@string.Format("{0}{1}", "City", index)"> @item.City</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
    <hr />
                if (Model != null && Model.Count > 0)
                {
                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" name="action" value="guardar" class="btn btn-info btn-block">Guardar <span class="glyphicon glyphicon-saved"></span></button>
                    </div>
                    <div class="col-xs-6">
                        @Html.ActionLink("Cancelar", "Index", "Home", null, new { @class = "btn btn-danger btn-block" })
                    </div>
                </div>
                }
            }
        }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var a = $('.retirar').length;
            if (a > 0) {

                for (var i = 0; i < a; i++) {
                    //actualizar los campos ocultos cada vez que recargo la pagina
                    //valores de destido
                    var Dactivo = "#Messages_" + i + "__Activo";
                    var Dcategory = "#Messages_" + i + "__Category";
                    var DCinema = "#Messages_" + i + "__Cinema";
                    var DCinemaID = "#Messages_" + i + "__CinemaID";
                    var DRetirar = "#Messages_" + i + "__Retirar";
                    var DMessage = "#Messages_" + i + "__Message";
                    var DCity = "#Messages_" + i + "__City";
                    //valores de origen
                    var Oactivo = "Activo" + i;
                    var Ocategory = "Category" + i;
                    var OCinema = "Cinema" + i;
                    var OCinemaID = "CinemaID" + i;
                    var ORetirar = "Retirar" + i;
                    var OMessage = "Message" + i;
                    var OCity = "City" + i;

                    //console.log($(Oactivo).val());
                    //console.log($(Ocategory).val());
                    //console.log($(OCinema).val());
                    //console.log($(OCinemaID).val());
                    //console.log($(ORetirar).val());
                    //console.log($(OMessage).val());
                    //console.log($(Dactivo).val());
                    //console.log($(Dcategory).val());
                    //console.log($(DCinema).val());
                    //console.log($(DCinemaID).val());
                    //console.log($(DRetirar).val());
                    //console.log($(DMessage).val());

                    $(Dactivo).val(document.getElementById(Oactivo).innerText);
                    $(Dcategory).val(document.getElementById(Ocategory).innerText);
                    $(DCinema).val(document.getElementById(OCinema).innerText);
                    $(DCinemaID).val(document.getElementById(OCinemaID).innerText);
                    $(DRetirar).val(document.getElementById(ORetirar).innerText);
                    $(DMessage).val(document.getElementById(OMessage).innerText);
                    $(DCity).val(document.getElementById(OCity).innerText);
                }
            }
        });

        $('.retirar').click(function (e) {
            var r = $(this).attr('id');
            var b = 'Messages_' + r + '__Retirar';
            var c = document.getElementById(b);
            $(c).val('True');
            //e.preventDefault();
        });
    </script>
}