@{
    Layout = null;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<link rel="stylesheet" href="~/Content/styles/anniversary.css">

<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="overlay"></div>
            <div id="logo">
                <img src="~/Content/img/anniversary/logo-cu.png" alt="Logo Cines Unidos">
            </div>
            <div id="aniv">
                <img src="~/Content/img/anniversary/70.png" alt="70 Aniversario">
            </div>
            <div class="col-md-4 col-md-offset-5 btn-container">
                <button class="btn-promo" onclick="tutorial();">PARTICIPAR</button>
            </div>
            <div>
                <video id="video" width="560" height="315" autoplay loop muted>
                    <source src="https://cinesunidosweb.blob.core.windows.net/mercadeo/aniversario.mp4" type="video/mp4">
                    Tu navegador no soporta la etiqueta Video.
                </video>
                <div id="scene" class="scene">
                    <div class="layer" data-depth="0"><img class="img" src="~/Content/img/anniversary/base.png" alt="Base"></div>
                    <div class="layer" data-depth="0.08"><img id="reflex-left-off" class="img" src="~/Content/img/anniversary/reflex-left-off.png"></div>
                    <div class="layer" data-depth="0.08"><img id="reflex-right-off" class="img" src="~/Content/img/anniversary/reflex-right-off.png"></div>
                    <div class="layer" data-depth="0.01"><img id="light-left" src="~/Content/img/anniversary/light-left.png" alt="Light Left"></div>
                    <div class="layer" data-depth="0.01"><img id="light-right" src="~/Content/img/anniversary/light-right.png" alt="Light Right"></div>
                    <div class="layer" data-depth="0.08"><img id="reflex-left" class="img" src="~/Content/img/anniversary/reflex-left.png" alt="Reflex left"></div>
                    <div class="layer" data-depth="0.08"><img id="reflex-right" class="img" src="~/Content/img/anniversary/reflex-right.png" alt="Reflex right"></div>
                    <div class="layer" data-depth="0"><img class="img" src="~/Content/img/anniversary/supp-left.png" alt="Support Left"></div>
                    <div class="layer" data-depth="0"><img class="img" src="~/Content/img/anniversary/supp-right.png" alt="Support Right"></div>
                </div>
                <!--<iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/0QIa8DjPPIo?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;html5=1&amp;allowfullscreen=true&amp;wmode=transparent""" frameborder="0" allowfullscreen></iframe>-->
            </div>
            <div class="forms">
                <form>
                    <div class="col-md-3 panel panel-left">
                        <h3>Datos Personales</h3>
                        <div class="form-group col-md-10 col-md-offset-1">
                            <label>Nombre Completo</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-10 col-md-offset-1">
                            <label>Cedula</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-10 col-md-offset-1">
                            <label>Email</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group col-md-10 col-md-offset-1">
                            <label>Telefono</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1 panel panel-center">
                        <h3>Datos del Cine</h3>
                        <div class="form-group col-md-10 col-md-offset-1">
                            <label>Ciudad</label>
                            <select id="city" class="form-control">
                                <option value="0">-- Seleccione la Ciudad --</option>
                                <option value="1">Barquisimeto</option>
                                <option value="2">Caracas</option>
                                <option value="3">Guatire</option>
                                <option value="4">Maracaibo</option>
                                <option value="5">Maracay</option>
                                <option value="6">Margarita</option>
                                <option value="7">Maturin</option>
                                <option value="8">Puerto La Cruz</option>
                                <option value="9">Puerto Ordaz</option>
                                <option value="10">San Cristobal</option>
                                <option value="11">Valencia</option>
                                <!--<option onclick="setCity();" value="0">-- Seleccione la Ciudad --</option>
                                <option onclick="setCity();" value="1">Barquisimeto</option>
                                <option onclick="setCity();" value="2">Caracas</option>
                                <option onclick="setCity();" value="3">Guatire</option>
                                <option onclick="setCity();" value="4">Maracaibo</option>
                                <option onclick="setCity();" value="5">Maracay</option>
                                <option onclick="setCity();" value="6">Margarita</option>
                                <option onclick="setCity();" value="7">Maturin</option>
                                <option onclick="setCity();" value="8">Puerto La Cruz</option>
                                <option onclick="setCity();" value="9">Puerto Ordaz</option>
                                <option onclick="setCity();" value="10">San Cristobal</option>
                                <option onclick="setCity();" value="11">Valencia</option>-->
                            </select>
                        </div>
                        <div class="form-group col-md-10 col-md-offset-1">
                            <label>Cine</label>
                            <select id="cinema" class="form-control">
                                <option value="blank">-- Seleccione el Cine --</option>
                            </select>
                        </div>
                        <div class="form-group col-md-10 col-md-offset-1">
                            <label>Canal de Compra</label>
                            <select id="compra" class="form-control">
                                <option value="blank">-- Seleccione su Canal de Compra --</option>
                                <option value="1">Pagina Web</option>
                                <option value="2">Taquilla</option>
                                <option value="3">Ticket Express</option>
                                <option value="4">Concesiones</option>
                                <!--<option onclick="setCompra();" value="0">-- Seleccione su Canal de Compra --</option>
                                <option onclick="setCompra();" value="1">Pagina Web</option>
                                <option onclick="setCompra();" value="2">Taquilla</option>
                                <option onclick="setCompra();" value="3">Ticket Express</option>
                                <option onclick="setCompra();" value="4">Concesiones</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1 panel panel-right">
                        <h3>Datos de la Compra</h3>
                        <div id="web">
                            <div class="form-group col-md-10 col-md-offset-1">
                                <label>Localizador</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-10 col-md-offset-1">
                                <label>Butaca/s</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div id="taq">
                            <div class="form-group col-md-10 col-md-offset-1">
                                <label>Auditoria</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-10 col-md-offset-1">
                                <label>Butaca/s</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div id="tep">
                            <div class="form-group col-md-10 col-md-offset-1">
                                <label>Auditoria</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-10 col-md-offset-1">
                                <label>Butaca/s</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div id="conc">
                            <div class="form-group col-md-10 col-md-offset-1">
                                <label>Factura</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-10 col-md-offset-1">
                                <label>Cupon</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="LoadingImage" style="display: none;width: 100%; height: 100%; margin: 0em;
            left: 0em; top: 0em; background: black;opacity: 0.5;filter: alpha(opacity=50);
            position: fixed;background:url('../images/715.gif') black no-repeat center center;opacity: 0.5;filter: alpha(opacity=50);">
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/2.1.3/parallax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/CSSPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/easing/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js"></script>


<script>
    var scene = document.getElementById('scene');
    var parallax = new Parallax(scene);
</script>
<script src="~/Scripts/anniversary.js"></script>