@{
    ViewBag.Title = "Carameleria";
}
@section Bootstrap {
    @Styles.Render("~/bundles/bootstrap")


}
@section Styles {
    @Styles.Render("~/bundles/innerStatic")
    <style>
        .caja-iniciar-sesion-02 {
            height: 30px;
        }
    </style>
}
<div class="carameleria">
    <section id="portfolio">
        <div class="container">
            <!-- FILTER-->
            <!-- just add your TAG to data-filter="ADD HERE" -->
            <!-- and then add your same TAG to carameleria item class="ADD HERE" -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default text-center">

                        <div class="panel-body">
                            <div class="proj">
                                <div id="filters" class="">
                                   <a href="#" data-filter="*" class="active btn btn-default">Todos</a>
                                    <a href="#" data-filter=".cotufas" class="btn  btn-default">Cotufas</a>
                                    <a href="#" data-filter=".combos" class="btn  btn-default">Combos</a>
                                    <a href="#" data-filter=".calientes" class="btn  btn-default">Comidas Calientes</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->

        <div class="container">
            <div class="row">
                <div id="container-folio" class="relative isotope" style="position: relative; height: 990px;">
                    <!-- START carameleria -->
                    <!-- carameleria item -->
                    <div class="box col-xs-4 col-xs-offset-1 col-md-3 col-sm-5 col-lg-3 cotufas combos isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                        <!-- START WRAPPER IMG THUMBNAIL-->
                        <div class="thumbnail">
                            <!-- / IMAGE-->
                            <img class="img-responsive" src="https://cinesunidosweb.blob.core.windows.net/carameleria/cotufas-combo-para-2.jpg" height="280" width="350" alt="">
                            <!-- / IMAGE-->
                            <div class="">
                                <div class="h5 text-center">
                                    Combo para dos  <br>
                                    <small>2 REFRESCO O TÉ (946ML)  <br>Y COTUFAS GRANDES (8 OZ)  </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END carameleria item -->
                    <!-- carameleria item -->
                    <div class="box col-xs-4 col-xs-offset-1 col-md-3 col-sm-5 col-lg-3 calientes combos isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(380px, 0px, 0px);">
                        <!-- START WRAPPER IMG THUMBNAIL-->
                        <div class="thumbnail">
                            <!-- / IMAGE-->
                            <img class="img-responsive" src="https://cinesunidosweb.blob.core.windows.net/carameleria/perrocaliente-combo.jpg" height="280" width="350" alt="">
                            <!-- / IMAGE-->
                            <div class="">
                                <div class="h5 text-center">
                                    Combo perro caliente  <br>
                                    <small>1 REFRESCO O TÉ (946ML)  <br>Y 1 PERRO CALIENTE </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END carameleria item -->
                    <!-- carameleria item -->
                    <div class="box col-xs-4 col-xs-offset-1 col-md-3 col-sm-5 col-lg-3 design cotufas combos isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(760px, 0px, 0px);">
                        <!-- START WRAPPER IMG THUMBNAIL-->
                        <div class="thumbnail">
                            <!-- / IMAGE-->
                            <img class="img-responsive" src="https://cinesunidosweb.blob.core.windows.net/carameleria/cotufas-combo-med.jpg" height="280" width="350" alt="">
                            <!-- / IMAGE-->
                            <div class="">
                                <div class="h5 text-center">
                                    Combo mediano <br>
                                    <small>1 REFRESCO O TÉ (650ML)  <br>Y COTUFAS MEDIANAS (4 Oz) </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END carameleria item -->
                    <!-- carameleria item -->
                    <div class="box col-xs-4 col-xs-offset-1 col-md-3 col-sm-5 col-lg-3 combos calientes isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 330px, 0px);">
                        <!-- START WRAPPER IMG THUMBNAIL-->
                        <div class="thumbnail">
                            <!-- / IMAGE-->
                            <img class="img-responsive" src="https://cinesunidosweb.blob.core.windows.net/carameleria/combo-hamburguesa.jpg" height="280" width="350" alt="">
                            <!-- / IMAGE-->
                            <div class="">
                                <div class="h5 text-center">
                                    Combo hamburguesa <br>
                                    <small>Disponible Solo en Cines Premium<br>1 REFRESCO O TÉ (946ML)  <br>1 Hamburguesa </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END carameleria item -->
                    <!-- carameleria item -->
                    <div class="box col-xs-4 col-xs-offset-1 col-md-3 col-sm-5 col-lg-3 calientes combos isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(380px, 330px, 0px);">
                        <!-- START WRAPPER IMG THUMBNAIL-->
                        <div class="thumbnail">
                            <!-- / IMAGE-->
                            <img class="img-responsive" src="https://cinesunidosweb.blob.core.windows.net/carameleria/nuggets-combo.jpg" height="280" width="350" alt="">
                            <!-- / IMAGE-->
                            <div class="">
                                <div class="h5 text-center">
                                    Combo nuggets <br>
                                    <small>1 REFRESCO O TÉ (946ML)  <br> Y 6 UNIDADES DE NUGGETS  <br>No disponible en La Granja</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END carameleria item -->
                    <!-- carameleria item -->
                    <!-- END carameleria item -->
                    <!-- carameleria item -->
                    <div class="box col-xs-4 col-xs-offset-1 col-md-3 col-sm-5 col-lg-3 calientes combos isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(760px, 330px, 0px);">
                        <!-- START WRAPPER IMG THUMBNAIL-->
                        <div class="thumbnail">
                            <!-- / IMAGE-->
                            <img class="img-responsive" src="https://cinesunidosweb.blob.core.windows.net/carameleria/combo-tequeñongos.jpg" height="280" width="350" alt="">
                            <!-- / IMAGE-->
                            <div class="">
                                <div class="h5 text-center">
                                    Combo tequeños <br>
                                    <small>1 REFRESCO O TÉ (946ML)  <br>Y 6 UNIDADES DE TEQUEÑOS </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END carameleria item -->
                    <!-- carameleria item -->
                    <div class="box col-xs-4 col-xs-offset-1 col-md-3 col-sm-5 col-lg-3 cotufas isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(380px, 660px, 0px);">
                        <!-- START WRAPPER IMG THUMBNAIL-->
                        <div class="thumbnail">
                            <!-- / IMAGE-->
                            <img src="https://cinesunidosweb.blob.core.windows.net/carameleria/cotufas-med.jpg" alt="" class="img-responsive" width="350" height="280">
                            <!-- / IMAGE-->
                            <div class="">
                                <div class="h5 text-center">
                                    Cotufas medianas <br>
                                    <small>COTUFAS MEDIANAS (4 oZ)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box col-xs-4 col-xs-offset-1 col-md-3 col-sm-5 col-lg-3 combos cotufas isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(760px, 660px, 0px);">
                        <!-- START WRAPPER IMG THUMBNAIL-->
                        <div class="thumbnail">
                            <!-- / IMAGE-->
                            <img src="https://cinesunidosweb.blob.core.windows.net/carameleria/combo-kids.jpg" alt="" class="img-responsive" width="350" height="280">
                            <!-- / IMAGE-->
                            <div class="">
                                <div class="h5 text-center">
                                    Combo Kids <br>
                                    <small>
                                        1 Refresco o Té (473ml) <br>
                                        1 Cotufa Mediana (2 Oz) Y<br>
                                        1 Chupeta de Chocolate Zisnella
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END carameleria item -->
                    <!-- carameleria item -->
                    <!-- END carameleria item -->
                    <!-- carameleria item -->
                    <!-- END carameleria item -->
                    <!-- carameleria item -->
                    <!-- END carameleria item -->
                    <!-- carameleria item -->
                    <!-- END carameleria item -->
                    <!-- carameleria item -->
                    <!-- END carameleria item -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>


</div>
<!-- fin CONTENIDO -->
<!-- ISOTOPE PLUGIN -->
@section Scripts {
    @Scripts.Render("~/bundles/staticScripts")
    <script>
        $(function () {
            var $container = $('#container-folio');

            if ($container.length) {
                $container.waitForImages(function () {
                    $(this).slideDown();
                    // initialize isotope
                    $container.isotope({

                        itemSelector: '.box',

                        resizable: false, // disable normal resizing
                        masonry: { columnWidth: $container.width() / 12 }
                    });

                    // filter items when filter link is clicked
                    $('#filters a').click(function () {
                        var selector = $(this).attr('data-filter');
                        $container.isotope({ filter: selector });
                        $(this).removeClass('active').addClass('active').siblings().removeClass('active all');

                        return false;
                    });

                    // update columnWidth on window resize
                    $(window).smartresize(function () {

                        $(window).smartresize(function () {
                            $container.isotope({
                                // update columnWidth to a percentage of container width
                                masonry: { columnWidth: $container.width() / 12 }
                            });

                        });

                    });
                }, null, true);
            }
        });
    </script>
}