@model MovieBillboard[]
@{
    Layout = "~/Views/Shared/_LayoutMail.cshtml";
}
<div class="block">
    <div style="font-size:1px; color:#efe1b0; display:none;">Vive momentos de película con la gran pantalla de Cines Unidos junto a tu familia y amigos. ¡Disfruta lo mejor del cine nacional e internacional!</div>
	<!-- image + text -->
   <table width="100%" bgcolor="#f6f4f5" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="bigimage">
		<tbody>
	 		<tr>
				<td>
					<table bgcolor="#ffffff" width="580" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth" modulebg="edit">
						<tbody>
							@{ var counter = 0; }
							@{ var aux = true;}
							@{ var numMovies = Model.Count();}
							@foreach (var movie in Model)
										{
											if(counter == 0 || aux)
											{
												@:<tr>
											}
												counter++;
												aux = false;
												<td class="poster" style="padding: 10px; font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #333333; text-align:left;line-height: 20px; width:100px;" st-title="rightimage-title">
													<a href="Https://www.cinesunidos.com/Pelicula/Caracas/@movie.Movie.Id?utm_source=Cartelera Semana @ViewBag.WeekNumber&utm_medium=correo electrónico&utm_content=@movie.Movie.Title&utm_campaign=Cartelera Semana @ViewBag.WeekNumber">
														<img width="174px" src="@UrlMaker.ToPoster(movie.Movie.Id)" alt="Alternate Text" />
													</a>
													<p style="padding-top:5px; height:30px;">@movie.Movie.Title</p>
												</td>
												if (counter == numMovies || counter % 3 == 0) {
													aux = true;
													@:</tr>
												}
											}
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<img src="Https://www.google-analytics.com/collect?v=1&tid=UA-35283279-1&cid=BM-@ViewBag.Date&t=event&ec=correo-electronico&ea=open&el=Cartelera Semana @ViewBag.WeekNumber&cs=Mass Mail Cartelera&cm=correo-electronico&cn=Cartelera Semana @ViewBag.WeekNumber&cc=Mass Mail Cartelera CC&ck=Cartelera Semana @ViewBag.WeekNumber&cm1=1" />