@{
    ViewBag.Title = "Comercialización";
}

<div class="container comercio">


    <div class="row">

        <!-- Mensajde de Sección -->
        <div class="col-sm-12">
            <div class="red-title">
                <h3>PUBLICIDAD Y EVENTOS</h3>
            </div>

            <div class="estrenos-info bg-pattern">
                <div class="comerce">
                    <h2>COMERCIALIZACI&Oacute;N</h2>
                    <p>Somos la mejor alternativa para clientes y anunciantes</p>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <img id="img-merchant" src="Https://www.cinesunidos.com/content/img/icons/boletos-corp.png" class="img-responsive">
                                    </div>
                                    <div class="col-sm-7 pub-text">
                                        <h4>BOLETOS</h4>
                                        <p>La mejor opci&oacute;n de recreaci&oacute;n, esparcimiento e incentivo para recompensar a los empleados de tu organizaci&oacute;n.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <img id="img-merchant" src="Https://www.cinesunidos.com/content/img/icons/func-priv.png" class="img-responsive">
                                    </div>
                                    <div class="col-sm-7 pub-text">
                                        <h4>FUNCIONES PRIVADAS</h4>
                                        <p>Te ofrecemos la posibilidad de tener tu propia Funci&oacute;n privada, con las pel&iacute;culas del momento.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <img id="img-merchant" src="Https://www.cinesunidos.com/content/img/icons/spot-digital.png" class="img-responsive">
                                    </div>
                                    <div class="col-sm-7 pub-text">
                                        <h4>PUBLICIDAD EN PANTALLA</h4>
                                        <p>Pauta tu publicidad digital con la mejor calidad de Cine, de manera f&aacute;cil, econ&oacute;mica y efectiva.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-1">
                                    <img id="img-merchant" src="Https://www.cinesunidos.com/content/img/icons/pub-web.png" class="img-responsive">
                                </div>
                                <div class="col-sm-7 pub-text">
                                    <h4>PUBLICIDAD EN WEB</h4>
                                    <p>Tu marca tiene la oportunidad de estar presente en un banner de nuestra p&aacute;gina web o en las aplicaciones para Android y Iphone, visitadas por miles de usuarios.</p>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <img id="img-merchant" src="Https://www.cinesunidos.com/content/img/icons/pub-pantalla.png" class="img-responsive">
                                    </div>
                                    <div class="col-sm-7 pub-text">
                                            <h4>PUBLICIDAD EN LOBBY</h4>
                                            <p>Una amplia gama de opciones para potenciar tu marca y ponerla en contacto con tus clientes, Samplings,Stands, Cajas de luces,Promotoras, Dummies, Volanteo, Otros</p>
                                        </div>
                                </div>
                            </div>*@
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-1">
                                    <img id="img-merchant" src="Https://www.cinesunidos.com/content/img/icons/mail.png" class="img-responsive">
                                </div>
                                <div class="col-sm-7 pub-text">
                                    <h4>CONT&Aacute;CTENOS</h4>
                                    <p>
                                        Vicepresidencia de comercializaci&oacute;n
                                        <br>
                                        0212 - 620 76 20
                                        <br>
                                        comercializacion@cinesunidos.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="hidden-xs hidden-sm col-lg-5 col-md-5 col-md-offset-4">
                        <a class="btn btn-default btn-lg btn-info margin-top-20" href="https://cinesunidosweb.blob.core.windows.net/comercializacion/Tarifario.pdf" target="_blank">DESCARGA NUESTRO TARIFARIO</a>
                    </div>*@
                @*<div class="row">
                        <div class="hidden-xs hidden-sm col-lg-5 col-md-5 col-md-offset-4">
                            <a class="btn btn-default btn-lg btn-block btn-info margin-top-20" href="https://cinesunidosweb.blob.core.windows.net/comercializacion/Tarifario.pdf" target="_blank">DESCARGA NUESTRO TARIFARIO</a>
                        </div>
                    </div>*@

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <h2 class="red-font">BOLETOS CORPORATIVOS</h2>
                        <p class="text-center">
                            &excl;Usar los boletos corporativos es muy sencillo!
                            <br>
                            Conoce las ventajas del producto
                        </p>
                        <a class="hidden-lg hidden-md btn btn-default anchor" href="#" role="button">Subir</a>
                    </div>
                </div>

                <br><br>

                <div class="row">

                    <div class="col-lg-6 col-md-6 col-md-offset-3">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
                            <div class="col-md-12 pub-text nopadding_laterales">
                                <h4>ATRACTIVO</h4>
                                <p>V&aacute;lidos en todo el pa&iacute;s y para cualquier funci&oacute;n comercial, incluyendo estrenos</p>
                            </div>
                            <br>
                            <div class="col-md-12 pub-text nopadding_laterales">
                                <h4>PERSONALIZADO</h4>
                                <p>La parte posterior puede ser identificada con el nombre de la empresa y una frase para personalizar el boleto</p>
                            </div>
                            @*<a class="hidden-lg hidden-md btn btn-lg btn-info margin-top-20" href="https://cinesunidosweb.blob.core.windows.net/comercializacion/Boletos-Corporativos.pdf" target="_blank">+ INFORMACIÓN</a>*@
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
                            <div class="col-md-12 pub-text nopadding_laterales">
                                <h4>ECON&Oacute;MICO</h4>
                                <p>Representa una alternativa econ&oacute;mica para la recreaci&oacute;n de tus empleados</p>
                            </div>
                            <br>
                            <div class="col-md-12 pub-text nopadding_laterales">
                                <h4>FLEXIBLE</h4>
                                <p>Se pueden hacer paquetes con la compra adicional de combos de alimentos y bebidas de alta calidad, haciendo la experiencia de ir al cine m&aacute;s completa</p>
                            </div>
                            @*<a class="hidden-lg hidden-md btn btn-lg btn-info margin-top-20" href="https://cinesunidosweb.blob.core.windows.net/comercializacion/Planilla-Boletos-Corporativos.xlsx" target="_blank">FORMULARIO SOLICITUD</a>*@
                        </div>
                        @*<div class="col-lg-6 col-md-6 hidden-sm hidden-xs text-left">
                            <a class="btn btn-lg btn-info margin-top-20" href="https://cinesunidosweb.blob.core.windows.net/comercializacion/Boletos-Corporativos.pdf" target="_blank">+ INFORMACIÓN</a>
                            </div>*@
                        <div class="col-lg-12 col-md-12 hidden-sm hidden-xs text-center">
                            <a class="btn btn-lg btn-info margin-top-20" href="https://cinesunidosweb.blob.core.windows.net/comercializacion/PLANILLA_BOLETOS_CORPORATIVOS.XLS" target="_blank">FORMULARIO SOLICITUD</a>
                        </div>
                    </div>

                    @*<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="col-md-12 pub-text nopadding_laterales">
                                <h4>PRESENTACIÓN DEL PRODUCTO</h4>
                                <hr>
                                <iframe id="ytplayer" width="100%" height="270" type="text/html" src="Https://www.youtube.com/embed/rno41j5kmEQ?autoplay=0&amp;origin=Https://www.cinesunidos.com" frameborder="0"></iframe>
                            </div>
                        </div>*@

                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <h2 class="red-font">Actividades en sala</h2>
                        <p class="text-center">
                            Te ofrecemos la posibilidad de tener tu propia Funci&oacute;n privada,
                            <br>
                            con las pel&iacute;culas del momento. Conoce las ventajas del producto
                        </p>
                        <a class="hidden-lg hidden-md btn btn-default anchor" href="#" role="button">Subir</a>
                    </div>
                </div>

                <br><br>

                <div class="row">

                    @*<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <iframe id="ytplayer" width="100%" height="320" type="text/html" src="Https://www.youtube.com/embed/Zge4J6HI5m0?autoplay=0&amp;origin=Https://www.cinesunidos.com" frameborder="0"></iframe>

                            <hr>

                            <h3>FUNCIONES PRIVADAS Y ALQUILER DE SALAS</h3>

                            <div class="panel-promociones">
                                <ul id="myTab" class="nav nav-tabs nav-justified">
                                    <li class="active">
                                        <a href="#home" data-toggle="tab"><i class="icon-info-sign"></i> FIESTAS INFANTILES</a>
                                    </li>
                                    <li class="">
                                        <a href="#profile" data-toggle="tab"><i class="icon-info-sign"></i> ALQUILER DE SALAS</a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane tab-info fade active in" id="home">
                                        <p>
                                            Regálale a tu hijo o algún familiar un cumpleaños con toda la magia y fantasía. Tú colocas el cumpleañero y nosotros te damos el mejor lugar.
                                        </p>
                                   </div>
                                    <div class="tab-pane tab-info fade widget-tags" id="profile">
                                        <p>
                                            Te invitamos a disfrutar de nuestras modernas y confortables salas para conferencias, graduaciones, ruedas de prensa y lanzamientos de productos al costo más conveniente.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3">

                        <div class="panel-promociones">
                            <h4>Funciones privadas</h4>
                            <p>Te ofrecemos la posibilidad de tener tu propia Funci&oacute;n privada, con las pel&iacute;culas del momento.</p>
                        </div>

                        <div class="panel-promociones">
                            <h4>Alquileres de salas</h4>
                            <p>Te invitamos a disfrutar de nuestras modernas y confortables salas para conferencias, graduaciones, ruedas de prensa y lanzamientos de productos al costo m&aacute;s conveniente.</p>
                        </div>

                        <div class="panel-promociones">
                            <h4>Vacaciones de pel&iacute;cula</h4>
                        </div>

                        <div class="panel-promociones">
                            <h4>Fiestas Infantiles</h4>
                            <p>Reg&aacute;lale a tu hijo o alg&uacute;n familiar un cumplea&ntilde;os con toda la magia y fantas&iacute;a. T&uacute; colocas el cumplea&ntilde;ero y nosotros te damos el mejor lugar.</p>
                        </div>

                        <a class="btn btn-lg btn-info actividades_2" href="https://cinesunidosweb.blob.core.windows.net/comercializacion/Formulario-Solicitud-Eventos.xls" target="_blank">Solicitud de eventos</a>
                        <a class="btn btn-lg btn-info actividades_2" href="https://cinesunidosweb.blob.core.windows.net/comercializacion/Instructivo-Solicitud-Eventos.pdf" target="_blank">Instructivo de formulario</a>

                        <!--<div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-6 text-left">
                                <a class="btn btn-lg btn-info" href="https://cinesunidosweb.blob.core.windows.net/comercializacion/Formulario_Solicitud_de_Eventos_Sep_2015.xls" target="_blank">Solicitud de eventos</a>
                                <br><br>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6 text-left">
                                <a class="btn btn-lg btn-info" href="https://cinesunidosweb.blob.core.windows.net/comercializacion/IN_Solicitud de Eventos _V1.1 version Web.pdf" target="_blank">Instructivo de formulario</a>
                            </div>
                        </div>-->

                    </div>

                </div>

                @*<hr>

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="red-font">SPOT DIGITAL</h2>
                            <p class="text-center">
                                Pauta tu publicidad digital con la mejor calidad de Cine, de manera fácil, económica y efectiva.
                                <br>
                                Además nuestra nueva versión dinámica te permite auto-administrar el contenido,
                                <br>
                                prácticamente en tiempo real, generando una efectiva recordación.
                            </p>
                            <a class="hidden-lg hidden-md btn btn-default anchor" href="#" role="button">Subir</a>
                        </div>
                    </div>

                    <br><br>

                    <div class="row">
                        <div class="col-lg-12">
                            <iframe id="ytplayer" width="90%" height="370" type="text/html" src="Https://www.youtube.com/embed/2MF9t4kKqxM?autoplay=0&amp;origin=Https://www.cinesunidos.com" frameborder="0"></iframe>
                        </div>
                    </div>*@
                @*INICIO CONTACTOS (REESTRUCTURACIÓN)*@
                <section class="advertising-container">
                    <header class="advertising-title">
                        <h2 class="advertising-title__content">
                            Contactos
                        </h2>
                    </header>

                    <article class="advertising-content">
                        <aside class="leftadv">
                            <ul class="list-contact">
                                <li class="list-contact__item">
                                    <button class="list-contact__link" data-filter=".screen">
                                        Publicidad en pantalla
                                    </button>
                                </li>
                                <li class="list-contact__item">
                                    <button class="list-contact__link" data-filter=".activities">
                                        Actividades en sala
                                    </button>
                                </li>
                                <li class="list-contact__item">
                                    <button class="list-contact__link" data-filter=".tickets">
                                        Boletos corporativos
                                    </button>
                                </li>
                                <li class="list-contact__item">
                                    <button class="list-contact__link" data-filter=".web">
                                        Publicidad en web
                                    </button>
                                </li>
                            </ul>
                        </aside>

                        <article id="container" class="rightadv">
                            <section class="grid-advertising mix screen">
                                <header class="rightadv-title">
                                    <h2 class="rightadv-title__content">
                                        Publicidad en pantalla
                                    </h2>
                                </header>

                                <article class="advertising-item item-auto">
                                    <h2 class="advertising-item__title">
                                        Alejandro Luna
                                    </h2>
                                    <address class="advertising-item__content">
                                        <p class="advertising-text">
                                            Gerente Corporativo de Comercializaci&oacute;n
                                        </p>
                                        <a class="advertising-text" href="tel:02126207416">
                                            0212-620.74.16
                                        </a>
                                        <a class="advertising-text" href="tel:04142159698">
                                            0414-215.96.98
                                        </a>
                                    </address>
                                    <section class="advertising-item__footer">
                                        <a href="mailto:aluna@cinesunidos.com">
                                            aluna@cinesunidos.com
                                        </a>
                                    </section>
                                </article>

                                <article class="advertising-item item-auto--two">
                                    <h2 class="advertising-item__title">
                                        Solill&eacute; Pire
                                    </h2>
                                    <address class="advertising-item__content">
                                        <p class="advertising-text">
                                            Gerente de Ventas
                                        </p>
                                        <p class="advertising-text">
                                            Caracas / Barquisimeto / San Cristobal
                                        </p>
                                        <a class="advertising-text" href="tel:02126207564">
                                            0212-620.75.63
                                        </a>
                                        <a class="advertising-text" href="tel:04143343769">
                                            0414-334.37.69
                                        </a>
                                    </address>
                                    <section class="advertising-item__footer">
                                        <a href="mailto:spire@cinesunidos.com">
                                            spire@cinesunidos.com
                                        </a>
                                    </section>
                                </article>

                                @*<article class="advertising-item">
                                    <h2 class="advertising-item__title">
                                        Enrimar Gonzalez
                                    </h2>
                                    <p class="advertising-text">
                                        Gerente de Ventas
                                    </p>
                                    <p class="advertising-text">
                                        Caracas / Puerto Ordaz / Puerto La Cruz / Matur&iacute;n / Margarita / Maracaibo
                                    </p>
                                    <address class="advertising-item__content">
                                        <a class="advertising-text" href="tel:02126207564">
                                            0212-620.75.64
                                        </a>
                                        <a class="advertising-text" href="tel:04143268713">
                                            0414-326.87.13
                                        </a>
                                    </address>
                                    <section class="advertising-item__footer">
                                        <a href="mailto:egonzalez@cinesunidos.com">
                                            egonzalez@cinesunidos.com
                                        </a>
                                    </section>
                                </article>*@

                                <article class="advertising-item item-auto--two">
                                    <h2 class="advertising-item__title">
                                        Edwin Ceballos
                                    </h2>
                                    <address class="advertising-item__content">
                                        <p class="advertising-text">
                                            Gerente de Ventas
                                        </p>
                                        <p class="advertising-text">
                                            Maracay / Valencia
                                        </p>
                                        <a class="advertising-text" href="tel:04242388024">
                                            0424-238.80.24
                                        </a>
                                        <a class="advertising-text" href="tel:04120442546">
                                            0412-044.25.46
                                        </a>
                                    </address>
                                    <section class="advertising-item__footer">
                                        <a href="mailto:eceballos@cinesunidos.com">
                                            eceballos@cinesunidos.com
                                        </a>
                                    </section>
                                </article>
                            </section>

                            <section class="grid-advertising mix activities">
                                <header class="rightadv-title">
                                    <h2 class="rightadv-title__content">
                                        Actividades en sala
                                    </h2>
                                </header>

                                <article class="advertising-item item-auto max-width">
                                    <h2 class="advertising-item__title">
                                        Jeferson G. Rangel C.
                                    </h2>
                                    <address class="advertising-item__content">
                                        <p class="advertising-text">
                                            Coordinador de Televentas
                                        </p>
                                        <a class="advertising-text" href="tel:02126207416">
                                            0212 620-74.40
                                        </a>
                                        <a class="advertising-text" href="tel:04142159698">
                                            0424-147-0898
                                        </a>
                                    </address>
                                    <section class="advertising-item__footer">
                                        <a href="mailto:aluna@cinesunidos.com">
                                            JRangel@cinesunidos.com
                                        </a>
                                    </section>
                                </article>
                            </section>

                            <section class="grid-advertising mix tickets">
                                <header class="rightadv-title">
                                    <h2 class="rightadv-title__content">
                                        Boletos Corporativos
                                    </h2>
                                </header>

                                @*<article class="advertising-item item-auto--two">
                                    <h2 class="advertising-item__title">
                                        Jessica Nakhall
                                    </h2>
                                    <address class="advertising-item__content">
                                        <p class="advertising-text">
                                            Coordinadora de Boletos Corporativos
                                        </p>
                                        <a class="advertising-text" href="tel:02126207416">
                                            0212-620.75.70
                                        </a>
                                        <a class="advertising-text" href="tel:04142159698">
                                            0424-118.30.10
                                        </a>
                                    </address>
                                    <section class="advertising-item__footer">
                                        <a href="mailto:aluna@cinesunidos.com">
                                            jnakhall@cinesunidos.com
                                        </a>
                                    </section>
                                </article>*@

                                <article class="advertising-item item-auto--two max-width">
                                    <h2 class="advertising-item__title">
                                        Kenya Rodriguez
                                    </h2>
                                    <address class="advertising-item__content">
                                        <p class="advertising-text">
                                            Coordinadora de Boletos Corporativos
                                        </p>
                                        <a class="advertising-text" href="tel:02126207416">
                                            0212-620.74.28
                                        </a>
                                        <a class="advertising-text" href="tel:04142159698">
                                            0424-246.67.26
                                        </a>
                                    </address>
                                    <section class="advertising-item__footer">
                                        <a href="mailto:aluna@cinesunidos.com">
                                            krodriguez@cinesunidos.com
                                        </a>
                                    </section>
                                </article>
                            </section>

                            <section class="grid-advertising mix web">
                                <header class="rightadv-title">
                                    <h2 class="rightadv-title__content">
                                        Publicidad en web
                                    </h2>
                                </header>

                                <article class="advertising-item item-auto max-width">
                                    <address class="advertising-item__content">
                                        <p class="advertising-text">
                                            Gerencia de Operaciones Comerciales
                                            Comercializaci&oacute;n
                                        </p>
                                        <a class="advertising-text" href="tel:02126207416">
                                            0212-620.74.28
                                        </a>
                                    </address>
                                    <section class="advertising-item__footer">
                                        <a href="mailto:aluna@cinesunidos.com">
                                            comercializacion@cinesunidos.com
                                        </a>
                                    </section>
                                </article>
                            </section>
                        </article>
                    </article>
                </section>
                @*FIN CONTACTOS (REESTRUCTURACIÓN)*@
            </div>
        </div>
    </div>
</div>
<!-- fin CONTENIDO -->


<script src="~/Scripts/mixitup.min.js"></script>

<script type="text/javascript">
      var mixer = mixitup('#container');
      mixer.filter('.screen');
</script>