
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Cines Unidos</title>
    <meta name="author" content="Sam Norton">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="~/Content/styles/style-minions.css" rel="stylesheet" media="all" />
    <link href="~/Content/styles/normalize-minions.css" rel="stylesheet" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Raleway:400,200,300,500,700,600,800,900' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.11.0..min.js"></script>
    <script src="~/Scripts/device.min.js"></script><!--OPTIONAL JQUERY PLUGIN-->
    <script src="~/Scripts/jquery.mb.YTPlayer.js"></script>
    <script src="~/Scripts/custom-minions.js"></script>
    <meta name="robots" content="noindex,follow" />
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-35283279-1', 'auto');
    ga('send', 'pageview');
    </script>
    
    
</head>

<body>
    <section class="big-background">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=87ZdxScQnro',containment:'body',autoPlay:true, mute:false, startAt:5, opacity:1}"></a>

        <div class="pattern"></div>
        <div class="big-background-container">
            <h1 class="big-background-title">MINIONS</h1>
            <div class="divider"></div>
            <div class="versiones">
                <a href="http://www.cinesunidos.com/Pelicula/@ViewBag.City/HO00002879?utm_source=intersticial-home&utm_medium=banner-home&utm_content=minions-esp&utm_campaign=minions-2015" target="_parent">
                 <h1 id="colorize">ESPAÑOL</h1></a>
                <h1 id="colorize">/</h1>
                <a href="http://www.cinesunidos.com/Pelicula/@ViewBag.City/HO00002880?utm_source=intersticial-home&utm_medium=banner-home&utm_content=minions-esp-3d&utm_campaign=minions-2015" target="_parent">
                <h1 id="colorize">ESPAÑOL 3D</h1></a>
            </div>
        </div>
    </section>
</body>
<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
		m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-35283279-1', 'auto');
	ga('send', 'pageview');
</script>


</html>
