﻿<div class="red-title">
    <h3>PROMOCIONES</h3>
</div>
<div class="registro">
    <div class="estrenos-info bg-pattern">
        @if (ViewData["ErrorService"] != null)
        {
            <div class="alert alert-danger"><p><b>No hay promociones activas en este momento.</b></p></div>
        }

        @if (ViewData["ErrorDB"] != null)
            {
            <div class="alert alert-danger"><p><b>No hay promociones activas en este momento.</b></p></div>
        }

        @if (Model.Count == 0)
        {
            <div class="alert alert-warning"><p><b>No hay promociones activas en este momento.</b></p></div>
        }
        else
        {
            if (ViewData["Promotion"] == "Promotion")
            {
                foreach (PromotionsDB promotions in Model)
                {
                    <div class="row">
                        <br />
                        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
                            <img class="img-responsive" style="margin:auto;" src="@promotions.Image" />

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                            @Html.Raw(promotions.Title)
                            <p class="lead"></p>
                            @Html.Raw(promotions.Description)
                        </div>
                    </div>
                }
            }
        }

        @if (ViewData["Promotion"] == "PromotionsDB")
        {
            foreach (PromotionsDB promotions in Model)
            {
                <div class="row">
                    <br />
                    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
                        <img class="img-responsive" style="margin:auto;" src="@promotions.Image" />

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                        @Html.Raw(promotions.Title)
                        <p class="lead"></p>
                        @Html.Raw(promotions.Description)
                    </div>
                </div>
            }
        }

    </div>
</div>
