﻿@{
    ViewBag.Title = "Promociones";
}
@section Bootstrap {
    <link rel="stylesheet" href="~/Content/styles/styles-prices.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    @*@Styles.Render("~/bundles/bootstrap")*@
    @*@Styles.Render("~/bundles/innerStatic")*@
}
<br />
<div class="container comercio">
    <div class="row">
        <div class="col-sm-12">
            @{ Html.RenderAction("PromotionsCMS", "Pages");  }
        </div>
    </div>
</div>
<br />
<div class="container comercio">
    <div class="row">
        <div class="col-sm-12">
            <div class="red-title">
                <h3>PRECIOS</h3>
            </div>
            <div class="registro">
                <div class="estrenos-info bg-pattern">
                    <div class="container no-padding">
                        <div class="col-md-8 col-md-offset-2 no-padding">
                            <div id="masterAccordion" class="panel-group">
                                @{var cityIndex = 1; }
                                @foreach (var item in Model)
                                {
                                    <div class="panel panel-default">
                                        <div id="cityHeader" class="panel-heading">
                                            <a class="linkCity" data-toggle="collapse" data-parent="#masterAccordion" href="#@string.Format("city{0}", @cityIndex)"><h4 class="panel-title">@item.city</h4></a>
                                        </div>
                                        @{var theaterIndex = 1; }
                                        <div id="@string.Format("city{0}", @cityIndex)" class="panel-collapse collapse">
                                            <div id="@string.Format("ccity{0}", @cityIndex)" class="panel-group ccity">
                                                @foreach (var theater in item.theaterTicketPrice)
                                                {
                                                    if (theater.theaterID != "1028")
                                                    {
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <a class="linkcine" data-toggle="collapse" data-parent="#@string.Format("ccity{0}", @cityIndex)" href="#@string.Format("c{0}city{1}", @theaterIndex, @cityIndex)" onclick="chevronState();"><i class="fa fa-caret-right selector" aria-hidden="true"></i><h4 class="panel-title">@theater.name</h4></a>
                                                            </div>
                                                            <div id="@string.Format("c{0}city{1}", @theaterIndex, @cityIndex)" class="panel-collapse collapse">
                                                                <div class="panel-body boleto">
                                                                    @{
                                                                        var headStatus = 0;
                                                                        var typeCine = 0;

                                                                        foreach (var ticket in theater.listTicketPrice)
                                                                        {
                                                                            if (ticket.typeHall == "NO_APPLY")
                                                                            {
                                                                                headStatus = 1;
                                                                            }
                                                                            else
                                                                            {
                                                                                typeCine = 1;
                                                                            }
                                                                        }

                                                                        if (headStatus == 1)
                                                                        {
                                                                            <div class="panel panel-default">
                                                                                <div class="panel-heading format" style="background-color:#969696;"><h3 class="panel-title" style="color:#575757;"><b>ESTANDAR</b></h3></div>
                                                                                <div class="panel-body boleto show-scroll" style="border: 5px solid #969696;">
                                                                                    <table class="table table-hover table-responsive" align="center">
                                                                                        <thead>
                                                                                            <tr class="table-head">
                                                                                                <td><b>TIPO DE ENTRADA</b></td>
                                                                                                <td class="format"><b>FORMATO</b></td>
                                                                                                <td><b>PMVP UNITARIO</b></td>
                                                                                                @*<td><b>BOL&Iacute;VARES FUERTES</b></td>*@
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (var ticket in theater.listTicketPrice)
                                                                                            {

                                                                                                if (ticket.typeHall != ("PREMIUM"))
                                                                                                {
                                                                                                    var type = "";
                                                                                                    var ticketName = "";
                                                                                                    if (ticket.typeHall.Equals("PREMIUM"))
                                                                                                    {
                                                                                                        type = "Premium";
                                                                                                    }
                                                                                                    if ((ticket.ticketName.ToString().ToUpper()).Contains("NIÑO"))
                                                                                                    {
                                                                                                        ticketName = string.Format("{0}*", ticket.ticketName);
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        //ticketName = ticket.ticketName.Contains("Popular Post-fer") ? "Boleto - Jueves del Amor y la Amistad" : ticket.ticketName;
                                                                                                        ticketName = string.Format("{0}", ticket.ticketName);
                                                                                                    }
                                                                                                    <tr>
                                                                                                        <td>@string.Format("{0} {1}", ticketName, type)</td>
                                                                                                        <td class="format">@string.Format("{0}", ticket.formatMovie)</td>
                                                                                                        <td class="precio" style="text-align:center;">
                                                                                                            @String.Format("Bs. {0:0,0.00}", (Convert.ToDecimal(ticket.price) / Convert.ToDecimal(100)) + ticket.fee)
                                                                                                        </td>
                                                                                                        @*<td style="text-align:center;">
                                                                                                                @String.Format("Bs.F {0:0,0.00}", ((Convert.ToDecimal(ticket.price) / Convert.ToDecimal(100)) + ticket.fee) * 100000)
                                                                                                            </td>*@
                                                                                                    </tr>
                                                                                                }
                                                                                            }
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        }

                                                                        if (typeCine == 1)
                                                                        {
                                                                            <br />
                                                                            <div class="panel panel-default">
                                                                                <div class="panel-heading format" style="background-color:#969696;"><h3 class="panel-title" style="color:#575757;"><b>PREMIUM</b></h3></div>
                                                                                <div class="panel-body boleto show-scroll" style="border: 5px solid #969696;">
                                                                                    <table class="table table-hover table-responsive" align="center">
                                                                                        <thead>
                                                                                            <tr class="table-head">
                                                                                                <td><b>TIPO DE ENTRADA</b></td>
                                                                                                <td class="format"><b>FORMATO</b></td>
                                                                                                <td><b>PMVP UNITARIO</b></td>
                                                                                                @*<td><b>BOL&Iacute;VARES FUERTES</b></td>*@
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (var ticket in theater.listTicketPrice)
                                                                                            {
                                                                                                if (ticket.typeHall == ("PREMIUM"))
                                                                                                {
                                                                                                    var type = "";
                                                                                                    var ticketName = "";

                                                                                                    if ((ticket.ticketName.ToString().ToUpper()).Contains("NIÑO"))
                                                                                                    {
                                                                                                        ticketName = string.Format("{0}*", ticket.ticketName);
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        //ticketName = ticket.ticketName.Contains("Popular Post-fer") ? "Boleto - Jueves del Amor y la Amistad" : ticket.ticketName;
                                                                                                        ticketName = string.Format("{0}", ticket.ticketName);
                                                                                                    }
                                                                                                    @*<tr>
                                                                                                            <td>@string.Format("{0}", ticketName)</td>
                                                                                                            <td class="format">@string.Format("{0}", ticket.formatMovie)</td>
                                                                                                            <td class="precio">
                                                                                                                @String.Format("Bs. {0:0,0.00}", (Convert.ToDecimal(ticket.price) / Convert.ToDecimal(100)) + ticket.fee)
                                                                                                            </td>
                                                                                                        </tr>*@
                                                                                                    <tr>
                                                                                                        <td>@string.Format("{0} {1}", ticketName, type)</td>
                                                                                                        <td class="format">@string.Format("{0}", ticket.formatMovie)</td>
                                                                                                        <td class="precio" style="text-align:center;">
                                                                                                            @String.Format("Bs. {0:0,0.00}", (Convert.ToDecimal(ticket.price) / Convert.ToDecimal(100)) + ticket.fee)
                                                                                                        </td>
                                                                                                        @*<td style="text-align:center;">
                                                                                                                @String.Format("Bs.F {0:0,0.00}", ((Convert.ToDecimal(ticket.price) / Convert.ToDecimal(100)) + ticket.fee) * 100000)
                                                                                                            </td>*@
                                                                                                    </tr>
                                                                                                }
                                                                                            }
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        }



                                                                    }

                                                                    <br />

                                                                </div><!--Cierre del Body en Cine-->

                                                            </div>
                                                        </div><!--panel panel-default -->
                                                                            }

                                                                            theaterIndex++;
                                                                        }
                                            </div><!--panel-group ccity -->
                                        </div><!--panel-collapse collapse-->
                                    </div><!--End  panel panel-default-->
                                                                            cityIndex++;
                                                                        }
                            </div><!--panel-group-->
                            <div class="jumbotron">
                                <p id="text-leyend">
                                    <b>* Ni&ntilde;os:</b> Válido en funciones hasta las 5:00pm. <br />
                                    <b>Lunes Popular:</b> 50% de descuento en la entrada. <br />
                                    <b>Jueves para ti:</b> 20% de descuento en la entrada. <br /> <br />
                                    <b>Estos precios aplican para compras web y aplicativos m&oacute;viles.</b>
                                </p>
                            </div>
                        </div><!-- col-md-8-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fin CONTENIDO -->
@section Scripts {
    @Scripts.Render("~/bundles/staticScripts")
}