<div class="promo-50shades">
  <div class="poster-left"><img src="~/Content/Images/poster-50.jpg" /></div>
  <aside>
    <div class="video"><iframe width="470" height="290" src="//www.youtube.com/embed/SfZWFDs0LxA" frameborder="0" allowfullscreen></iframe></div>
    <div class="clock"></div>
    <div class="copy"><img src="~/Content/Images/copy.jpg" /></div>
  </aside>
</div>
    <img src="https://cinesunidosweb.blob.core.windows.net/slider/HO00002745.jpg" class="pelivelotopimg slider2-2 img-promo">