@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    @*SCRIPTS DE TAGS DE GOOGLE DFP PARA PUBLICIDAD*@
    <script type='text/javascript'>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        var gads = document.createElement('script');
        gads.async = true;
        gads.type = 'text/javascript';
        var useSSL = 'https:' == document.location.protocol;
        gads.src = (useSSL ? 'https:' : 'http:') +
        '//www.googletagservices.com/tag/js/gpt.js';
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(gads, node);
    })();
    </script>

    <script type='text/javascript'>
        googletag.cmd.push(function () {
            googletag.defineSlot('/51439853/Home-Left1-352x250', [352, 250], 'div-gpt-ad-1418761965522-0').addService(googletag.pubads());
            googletag.defineSlot('/51439853/Home-Left2-352x250', [352, 250], 'div-gpt-ad-1418761965522-1').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>
    @* FIN DE SCRIPTS DE TAGS DE GOOGLE DFP PARA PUBLICIDAD*@
</head>
<body>
    <section class="barra-left">
        <div class="banner-left1">
            <!-- Home-Left1-352x250 -->
            <div id='div-gpt-ad-1418761965522-0' style='width:352px; height:250px;'>
                <script type='text/javascript'>
                    googletag.cmd.push(function () { googletag.display('div-gpt-ad-1418761965522-0'); });
                </script>
            </div>
        </div>
        <div class="banner-left2">
            <!-- Home-Left2-352x250 -->
            <div id='div-gpt-ad-1418761965522-1' style='width:352px; height:250px;'>
                <script type='text/javascript'>
                    googletag.cmd.push(function () { googletag.display('div-gpt-ad-1418761965522-1'); });
                </script>
            </div>
        </div>
    </section>
</body>
</html>