﻿body {
    overflow-x: hidden;
}

.search-note {
    color: rgba(0, 0, 0, .5);
    padding-left: 10px;
}

.table-head {
    background-color: #ff4646;
    border-bottom: 20px;
    border-bottom-color: #ff0000;
    color: #ebebeb;
}

.form-control, .btn-primary, .btn-success, .btn-danger {
    border-radius: 0px;
}

.btn-success, .btn-danger {
    padding: 5px 30px 5px 30px;
}

.btn-danger {
    margin-left: 5%;
}