﻿
@{
    ViewBag.Title = "Gestion de Invitados";
}

<h2>Gestión de Invitados</h2>

<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Ir!</button>
            </span>
        </div>
    </div>
        <div class="col-md-12">
            <table id="example" class="table table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>N° Cédula</th>
                        <th>Teléfono</th>
                        <th>Movil</th>
                        <th>Dirección</th>
                        <th>Ciudad</th>
                        <th>Estado</th>
                        <th>Email</th>
                        <th>Contraseña</th>
                        <th>Activo</th>
                        <th>Mail Suscrpción</th>
                        <th>Plataforma</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>
        </div>
    </div>

