﻿
@{
    ViewBag.Title = "GuestDelete";
}

<script>
    function FunctionSearch() {
        var paramIdsearch = document.getElementById("SlcEmail");
        var searchVal = paramIdsearch.options[paramIdsearch.selectedIndex].value;

        if (searchVal == -1) {
            document.getElementById("s_cedula").style.display = "none";
            document.getElementById("s_email").style.display = "none";
        } else {
            if (searchVal == 0) {
                document.getElementById("s_email").style.display = "block";
                document.getElementById("s_cedula").style.display = "none";
            }
            else {
                if (searchVal == 1) {
                    document.getElementById("s_cedula").style.display = "block";
                    document.getElementById("s_email").style.display = "none";
                }
            }
        }
    }
</script>

<link rel="stylesheet" href="~/Content/styles/GuestAdmin/GuestDelete.css" />

<ol class="breadcrumb">
    <li><a href="#">Gestion de Invitados</a></li>
    <li class="active"><i class="fa fa-eraser"></i> Eliminar Invitado</li>
</ol>

<br />
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <form method="GET">
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="platform" value="Web" />
                        <small>Pagina Web</small>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="platform" value="Mobile" />
                        <small>Moviles</small>
                    </label>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <select onchange="javascript: return FunctionSearch();" name="type_search" id="SlcEmail" class="form-control">
                            <option value="-1" selected="selected">Seleccione un tipo de busqueda</option>
                            <option value="0">Email</option>
                            <option value="1">Cedula</option>
                        </select>
                    </div>
                    <br />
                    <br />
                </div>

                <div id="s_email" class="row" style="display:none">
                    <div class="col-md-7">
                        <div class="input-group">
                            <input type="text" name="buscar2" class="form-control" placeholder="Buscar Invitado..." />
                            <span class="input-group-btn">
                                <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <small><i class="search-note">Correo Electronico</i></small>
                    </div>
                </div>
                <div id="s_cedula" class="row" style="display:none">
                    <div class="col-md-7">
                        <div class="form-inline">
                            <div class="form-group">
                                <select class="form-control" name="cardtype">
                                    <option value="V">V</option>
                                    <option value="E">E</option>
                                    <option value="J">J</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" name="buscar" class="form-control" placeholder="Buscar Invitado..." />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <small><i class="search-note">Ingrese Cedula </i></small>
                    </div>

                </div>
            </form>
        </div>
    </div>


    <br /><br />

    <div class="row">
        <div class="col-md-11">
            @if (ViewBag.danger != null)
            {
                <div class="alert alert-danger">@ViewBag.danger</div>
            }
            @if (ViewBag.info != null)
            {
                <div class="alert alert-info">@ViewBag.info</div>
            }
            @if (ViewBag.message != null)
            {
                <div class="alert alert-warning">@ViewBag.message</div>
            }
        </div>
        @if (@Model != null)
        {
            <form method="POST">
                <div class="col-md-9 col-md-offset-1">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead class="table-head">
                                <tr>
                                    <th>Correo Electronico</th>
                                    <th>Clave</th>
                                    <th>Activo</th>
                                    <th>Mass Mail</th>
                                    <th>Plataforma</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" name="Email" class="form-control" value="@Model.Email" placeholder="Email" readonly="readonly" /></td>
                                    <td><input type="password" name="Password" class="form-control" value="@Model.Password" placeholder="Password" readonly="readonly" /></td>
                                    @if (@Model.Active == true)
                                    {
                                        <td><input type="checkbox" name="Active" checked disabled="disabled" /></td>
                                    }
                                    else
                                    {
                                        <td><input type="checkbox" name="Active" value="true" disabled="disabled" /></td>
                                    }
                                    @if (@Model.MassMailSubcription == true)
                                    {
                                        <td><input type="checkbox" name="MassMailSubscription" checked disabled="disabled" /></td>
                                    }
                                    else
                                    {
                                        <td><input type="checkbox" name="MassMailSubscription" value="true" disabled="disabled" /></td>
                                    }
                                    <td><input type="text" name="platform" class="form-control" value="@Model.Platform" placeholder="Platform" readonly="readonly" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="hidden" name="Id" class="form-control" value="@Model.Id" placeholder="Id" />
                                <label>Nombre</label>
                                <input type="text" class="form-control" value="@Model.Name" name="Name" readonly="readonly" placeholder="Nombre" />
                            </div>
                            <div class="form-group">
                                <label>Apellido</label>
                                <input type="text" class="form-control" value="@Model.LastName" name="LastName" readonly="readonly" placeholder="Apellido" />
                            </div>
                            <div class="form-group">
                                <label>Cedula</label>
                                <input type="text" class="form-control" value="@Model.IdCard" name="IdCard" readonly="readonly" placeholder="Cedula" />
                            </div>
                            <div class="form-group">
                                <label>Telefono</label>
                                <input type="text" class="form-control" value="@Model.Phone" name="Phone" readonly="readonly" placeholder="Telefono" />
                            </div>
                            <div class="form-group">
                                <label>Telefono Movil</label>
                                <input type="text" class="form-control" value="@Model.MobilePhone" name="MobilePhone" readonly="readonly" placeholder="Telefono Movil" />
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-2">
                            <div class="form-group">
                                <label>Estado</label>
                                <input type="text" class="form-control" value="@Model.State" name="State" readonly="readonly" placeholder="Estado" />
                            </div>
                            <div class="form-group">
                                <label>Ciudad</label>
                                <input type="text" class="form-control" value="@Model.City" name="City" readonly="readonly" placeholder="Ciudad" />
                            </div>
                            <div class="form-group">
                                <label>Direccion</label>
                                <textarea class="form-control" rows="4" readonly="readonly"></textarea>
                            </div>
                            <br /><br />
                            <button class="btn btn-success">Eliminar</button>
                            <button class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</div>
