﻿@using admin_usuarios.Models
@model admin_usuarios.Models.ConcessionCatalogViewModel
@{
    ViewBag.Title = "Catálogo de Productos";
}

<link rel="stylesheet" href="~/Content/styles/Concessions/catalogo.css" />

<div class="container">

    <div class="row">

        <div class="col-sm-6 col-md-2">
            <img src="~/Content/img/cu-brand.png" class="img-responsive" alt="Logo Cines Unidos" />
        </div>

        <div class="col-sm-6 col-md-10">
            <h2>Catálogo de Productos</h2>
        </div>

    </div>

    <div class="row catalog">

        @if (@Model.Catalog.Products.Count > 0)
        {
            var timestamp = DateTime.Now.ToString("yyyyMMddHHmm");
            foreach (ConcessionItem product in Model.Catalog.Products)
            {
                <div class="col-xs-6 col-md-3 product">
                    <a href="/Concessions/Producto/@product.ItemId">                      
                        <img src="http://az693035.vo.msecnd.net/cms/@product.ItemId?@timestamp" onerror="this.src = 'http://az693035.vo.msecnd.net/cms/logoconcesionCU.jpg'" class="img-responsive" alt="Placeholder" />
                        <h4>@product.ItemDescription</h4>
                    </a>
                </div>
            }
        }

    </div>

</div>

