﻿
@model admin_usuarios.Models.ModalViewModel
@{
    ViewBag.Title = "Modal Caramelería";

}

<link rel="stylesheet" href="~/Content/styles/Concessions/modal.css" />

<div class="container">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <h2>Modal Caramelería</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Imágen actual</label>
                <img src="@Model.ImageUrl" class="modalimg" />
            </div>
            <div class="form-group">
                <label>Imagen de fondo</label>
                <input type="file" name="file" accept="image/*" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>