﻿@using admin_usuarios.Models
@model admin_usuarios.Models.ConcessionItem
@{
    ViewBag.Title = "Catálogo de Productos";
    var timestamp = DateTime.Now.ToString("yyyyMMddHHmm");
}

<link rel="stylesheet" href="~/Content/styles/Concessions/catalogo.css" />

<div class="container">

    <div class="row">

        <div class="col-sm-6 col-md-2">
            <img src="~/Content/img/cu-brand.png" class="img-responsive" alt="Logo Cines Unidos" />
        </div>

        <div class="col-sm-6 col-md-10">
            <h2>Catálogo de Productos</h2>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" name="itemId" value="@Model.ItemId" />
                <div class="form-group">
                    <label>Producto</label>
                    <div class="form-control-static">@Model.ItemDescription</div>
                </div>
                <div class="form-group">
                    <label>Imágen Actual</label>
                    <img src="http://az693035.vo.msecnd.net/cms/@Model.ItemId?@timestamp" class="img-responsive" alt="Placeholder" />
                </div>
                <div class="form-group">
                    <label>Seleccionar Imágen</label>
                    <input type="file" name="file" accept="image/*" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Guardar</button>
                    <a href="/Concessions/Catalogo" class="btn btn-default">
                        Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>

</div>
