﻿@{
    ViewBag.Title = "Reporte por Fecha";
}
<link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/jqueryui/jquery/jquery-ui.min.js"></script>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalize")

    <script>
        $.validator.methods.number = function (value, element) {
            return this.optional(element) ||
                !isNaN(Globalize.parseFloat(value));
        }

        $.validator.methods.date = function (value, element) {
            return this.optional(element) ||
                Globalize.parseDate(value);
        }
        $(document).ready(function () {
            Globalize.culture('@System.Threading.Thread.CurrentThread.CurrentCulture');
        });
        jQuery.extend(jQuery.validator.methods, {
            range: function (value, element, param) {
                //Use the Globalization plugin to parse the value
                var val = Globalize.parseFloat(value);
                return this.optional(element) || (
                    val >= param[0] && val <= param[1]);
            }
        });
    </script>
    <script>
        $(function (count) {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                yearRange: "-100:+100"
            });
        });

        $(function (count) {
            $("#datepicker2").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                yearRange: "-100:+100"
            });
        });
        $(document).ready(function () {
            var jun = 0;
            $(document).keydown(function (e) {
                if (e.keyCode == 17) {
                    jun++;
                    if (jun == 2) {
                        jun = 0;
                        return false;
                    }
                }
                if (e.keyCode == 67) {
                    jun++;
                    if (jun == 2) {
                        jun = 0;
                        return false;
                    }
                }
            }).keyup(function (e) {
                if (jun > 0) {
                    jun = jun - 1;
                }
            });
        });
        $(document).ready(function () {
            $(document).bind("contextmenu", function (e) {
                return false;
            });
        });
        $(document).ready(function () {
            $('.solo-numero').keyup(function () {
                this.value = (this.value + '').replace(/[^0-9]/g, '');
            });
        });
    </script>
}
<link rel="stylesheet" href="~/Content/styles/Concessions/reportes.css" />
<div class="container">
    @{var date = DateTime.Now.ToString("dd/MM/yyyy");}
    <div class="row">
        <div class="col-sm-4 col-md-2">
            <img src="~/Content/img/cu-brand.png" class="img-responsive" alt="Logo Cines Unidos" />
        </div>
        <div class="col-sm-4 col-md-8">
            <h2>Reportes de Caramelería</h2>
        </div>
        <div class="col-sm-4 col-md-2 text-right">
            <h5 style="margin-top:2em;"><b>Fecha:</b> @date</h5>
        </div>
    </div>
    <div class="row">
        <form action="@Url.Action("Consulta_X_Fecha", "Concessions")" class="form-inline" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="datef">Fecha desde:</label>
                <input id="datepicker" type="text" name="DateFrom" class="form-control" maxlength="10" placeholder="DD/MM/AAAA" />
            </div>
            <div class="form-group">
                <div class="col-md-1">
                </div>
            </div>
            <div class="form-group">
                <label>Fecha hasta:</label>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input id="datepicker2" type="text" name="DateUntil" class="form-control" maxlength="10" placeholder="DD/MM/AAAA" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <br />
    <div class="row">
        @if (ViewData["Json"] != null)
            {
            <div class="alert alert-warning"><p><b>@ViewData["Json"]</b></p></div>
        }

        @if (ViewData["ErrorJson"] != null)
            {
            <div class="alert alert-danger"><p><b>Error: @ViewData["ErrorJson"]</b></p></div>
        }
    </div>
</div>
