﻿@using admin_usuarios.Models
@model admin_usuarios.Models.ReporteViewModel
@{
    ViewBag.Title = "Reportes de Caramelería";
}

<link rel="stylesheet" href="~/Content/styles/Concessions/reportes.css" />

<div class="container">

    <div class="row">

        <div class="col-sm-4 col-md-2">
            <img src="~/Content/img/cu-brand.png" class="img-responsive" alt="Logo Cines Unidos" />
        </div>

        <div class="col-sm-4 col-md-8">
            <h2>Reportes de Caramelería</h2>
        </div>

        <div class="col-sm-4 col-md-2 text-right">
            <h5 style="margin-top:2em;"><b>Fecha:</b> @Model.Date.ToString("dd/MM/yyyy")</h5>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12">

            <!-- DETAILED -->
            <div class="sales-report detail">

                <h3>Detalle de Transacciones</h3>

                @if (@Model.Transactions.Count > 0)
                {
                    <table id="table-report-data" class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID Transacción</th>
                                @*<th>Tipo</th>
                                    <th>Estado</th>*@
                                <th>Producto</th>
                                <th width="40">Cantidad</th>
                                <th align="right" class="text-right">Precio Unidad</th>
                                <th align="right" class="text-right">SubTotal</th>
                                <th>Función</th>
                                <th>Hora</th>
                                <th width="40">Pickup</th>
                                <th>Estación Pickup</th>
                                <th>Usuario Pickup</th>
                                <th>Hora Pickup</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ConcessionTransaction transaction in Model.Transactions)
                            {
                                <tr>
                                    <td>@transaction.TransactionId</td>
                                    @*<td>@transaction.TransactionType</td>
                                        <td>@transaction.TransactionStatus</td>*@
                                    <td>@transaction.ItemId @transaction.ItemDescription</td>
                                    <td>@transaction.ItemQuantity</td>
                                    <td align="right">@transaction.ItemValue.ToString("F")</td>
                                    <td align="right">@transaction.SubTotal.ToString("F")</td>
                                    <td>@transaction.FilmTitle @transaction.FilmDate.ToString("H:mm")</td>
                                    <td> @transaction.FilmDate.ToString("H:mm") </td>
                                    <td align="center">@(transaction.IsCollected ? "Sí" : "No")</td>
                                    <td>@transaction.PickupWorkstation</td>
                                    <td>@transaction.PickupUser</td>
                                    <td>@(transaction.IsCollected ? transaction.CollectionDate.ToString("H:mm") : "")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="text-align:center">
                        <form action="@Url.Action("ExportExcel2", "Concessions")" method="post" enctype="multipart/form-data">
                            <button type="submit">
                                Exportar
                            </button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="alert alert-warning">No hay datos para mostrar para la fecha seleccionada.</div>
                }
            </div>

        </div>

    </div>

</div>
@if (ViewData["MessageExcel"] != null)
{
    <script language="javascript">
        var message = '@ViewData["MessageExcel"]';
        alert(message);
    </script>
}

@section scripts
{
    <style>
        .container {
            overflow: auto;
        }
    </style>
    <script>
    $(document).ready(function () {
        $('#table-report-data').DataTable({
            language: {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No se encontraron resultados",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            },
            pageLength: 50
        });
    });
    </script>
}