﻿@using admin_usuarios.Models

@{
    ViewBag.Title = "Reporte por Fecha y Componentes";
}
<script type="text/javascript" src="~/Content/jqueryui/jquery/jquery-ui.min.js"></script>
@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.11.4.min.js"></script>
    <link type="text/css" href="~/Content/pivot/pivot.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/pivot.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-touch-punch-0.2.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/datatables/css/jquery.dataTables.min.css" />
    <script type="text/javascript" language="javascript" src="~/Content/datatables/js/jquery.dataTables.min.js"></script>
    @Scripts.Render("~/bundles/datatablesScripts")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table-report-data').DataTable({
                language: {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron resultados",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            //i.replace(/[\$,]/g, '') * 1 :
                            parseFloat(i) * 1 :
                            typeof i === 'number' ?
                            //i : 0;
                            parseFloat(i) : 0;
                    };

                    // Total over all pages
                    total = api
                        .column(6)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Total over this page
                    pageTotal = api
                        .column(6, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(6).footer()).html(
                       pageTotal + ' (' + total + ' total)'
                    );

                    document.getElementById('sum').value = pageTotal;
                }
            });
        });
    </script>

    <script type="text/javascript" language="javascript">
        function calculardif(event) {

            var fieldval = document.getElementById("val");
            var val = fieldval.value.replace(/^\s+|\s+$/, '');

            var fieldsum = document.getElementById("sum");
            var sum = fieldsum.value.replace(/^\s+|\s+$/, '');


            if (val.length == 0) {
                document.getElementById('res').value = 0;
                return false;
            }


            if (isNaN(val.replace(",", ".").replace("-", ""))) {
                document.getElementById('val').value = "";
                document.getElementById('res').value = 0;
                return false;
            }
            else {
                if (val.replace(",", ".") >= 0) {
                    document.getElementById('res').value = val.replace(",", ".") - sum.replace(",", ".");
                    return false;
                }
                else {
                    if (val.replace(",", ".") < 0) {
                        document.getElementById('res').value = sum.replace(",", ".") - val.replace(",", ".").replace("-", "");
                        return false;
                    }
                }
                return false;
            }
        }
    </script>

}

<div class="row">

    <div class="col-sm-4 col-md-2">
        <img src="~/Content/img/cu-brand.png" class="img-responsive" alt="Logo Cines Unidos" />
    </div>

    <div class="col-sm-4 col-md-8">
        <h2>Reportes de Caramelería</h2>
    </div>

    <div class="col-sm-4 col-md-2 text-right">
        <h5 style="margin-top:2em;"><b>Fecha:</b> @DateTime.Now.ToString("dd/MM/yyyy")</h5>
    </div>

</div>

<div class="containerrr">
    @{var date = DateTime.Now.ToString("dd/MM/yyyy");}

    <br />
    <div class="sales-report detail">

        @if (@Model != null)
            {
            <div class="row">
                <div id="output" style="margin: 30px;"></div>
            </div>

            <div class="row">
                <script type="text/javascript">
                    $(function () {
                        var derivers = $.pivotUtilities.derivers;
                        $.getJSON("/Content/pivot/prueba.json", function (mps) {
                            $("#output").pivotUI(mps,
                                {
                                    rows: ["TransactionId", "Producto", "Cantidad", "Precio", "SubTotal", "Usuario Pickup", "Pickup"]
                            });
                        });
                    });
                </script>
            </div>
            <br />
            <h3>Componentes</h3>
            <table id="table-report-data" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Estación Pickup</th>
                        <th>Usuario Pickup</th>
                        <th>Componentes</th>
                        <th>Cantidad de Componentes</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th colspan="6" style="text-align:right">Total:

                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @{var count = 1; }
                    @foreach (var transaction in Model)
                    {
                        var repl = @transaction.Total_Cantidad_Componentes.ToString("N2").Replace(",", ".");
                        <tr>
                            <td>@transaction.ItemId @transaction.ItemDescription</td>
                            <td>@transaction.ItemQuantity</td>
                            <td>@transaction.PickupWorkstation</td>
                            <td>@transaction.PickupUser</td>
                            <td>@transaction.Componentes</td>
                            <td>
                                @transaction.Cantidad_Componentes
                            </td>
                            <td>
                                @repl
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
            <br />
            <div class="pull-right">
                <div class="col-md-6 col-md-offset-6">
                    <div class="row">
                        <div class="form-group">
                            <label for="total">Total</label>
                            <input id="sum" readonly="readonly" type="text" name="sum" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Valor">Valor</label>
                            <input id="val" onkeyup="return calculardif(event)" type="text" name="dif" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Diferencia">Diferencia</label>
                            <input id="res" type="text" readonly="readonly" name="res" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align:center">
                <form action="@Url.Action("ExportExcel3", "Concessions")" method="post" enctype="multipart/form-data">
                    <button type="submit">
                        Exportar
                    </button>
                    <input id="DateFrom" style="display:none" value="@ViewData["DateFrom"]" readonly="readonly" type="text" name="DateFrom" class="form-control" />
                    <input id="DateUntil" style="display:none" value="@ViewData["DateUntil"]" readonly="readonly" type="text" name="DateUntil" class="form-control" />
                </form>
            </div>
                        }
                        else
                        {
                            <div class="alert alert-warning">No hay datos para mostrar en el rango la fecha seleccionado</div>
                        }
    </div>
</div>
