﻿
@{
    ViewBag.Title = "Permissions";
}

<link rel="stylesheet" href="~/Content/styles/Management/Permissions.css" />

<ol class="breadcrumb">
    <li><a href="#">Administración</a></li>
    <li class="active">Permisos</li>
</ol>

<br />
<br />

<div class="container">

    <div class="row">
        <div class="col-md-11">
            <form method="POST">
                <div class="col-md-6 col-md-offset-3">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Nuevo Permiso</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="display:none"><input id="" type="hidden" name="id" class="form-control" value="" placeholder="Id" /></td>
                                <td>
                                    <div class="input-group">
                                        <input id="name" type="text" name="name" class="form-control" value="" placeholder="Nombre" />
                                        <span class="input-group-btn">
                                            <button type="button" onclick="CreatePermission()" value="" class='btn btn-success'><i class="fa fa-plus"></i></button>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-11">

            @if (@Model != null)
            {
                <form method="POST">
                    <div class="col-md-6 col-md-offset-3">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Permisos</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var count = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="display:none"><input id="@string.Format("id{0}", count)" type="hidden" name="id" class="form-control" value="@item.id.ToString()" pla placeholder="Id" /></td>
                                        <td id="roles-set"><input id="@string.Format("name{0}", count)" type="text" name="name" class="form-control" value="@item.Name" placeholder="Nombre" /></td>
                                        <td></td>
                                        <td id="action-btns">
                                            <button type="button" onclick="ModifyPermissions(@count);" value="" class='btn btn-success'><span class='glyphicon glyphicon-floppy-save'></span></button>
                                            <button type="button" onclick="RemovePermissions(@count)" class='btn btn-danger'><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                        <br />
                    </div>
                </form>
                                    }
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/refresh.js"></script>
<script type="text/javascript" src="~/Scripts/Management/CreatePermission.js"></script>
<script type="text/javascript" src="~/Scripts/Management/ModifyPermission.js"></script>
<script type="text/javascript" src="~/Scripts/Management/RemovePermission.js"></script>
