﻿
@{
    ViewBag.Title = "Role";
}

<link rel="stylesheet" href="~/Content/styles/Management/Role.css" />

<ol class="breadcrumb">
    <li><a href="#">Administración</a></li>
    <li class="active">Roles</li>
</ol>
<br />
<div class="container">

    <div class="row">
        <div class="col-md-11">
            <form method="POST">
                <div class="col-md-6 col-md-offset-3">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Nuevo Rol</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="display:none">
                                    <input id="" type="hidden" name="id" class="form-control" value="" placeholder="Id" />
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="nameAdd" type="text" name="nameAdd" class="form-control" value="" placeholder="Nombre" />
                                        <span class="input-group-btn">
                                            <button type="button" onclick="Add()" value="" class='btn btn-success'><i class="fa fa-plus"></i></button>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">

            @if (@Model != null)
            {
                <form method="POST">
                    <div class="col-md-6 col-md-offset-3">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Roles</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var count = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="display:none"><input id="@string.Format("id{0}", count)" type="hidden" name="id" class="form-control" value="@item.roleId.ToString()" placeholder="Id" /></td>
                                        <td><input id="@string.Format("name{0}", count)" type="text" name="email" class="form-control" value="@item.name" placeholder="Nombre" /></td>
                                        <td><button type="button" onclick="GetRoleAll(@count)" class='btn btn-default'>Permisos<span></span></button></td>

                                        <td>
                                            <button type="button" onclick="Update(@count);" value="" class='btn btn-success'><span class='glyphicon glyphicon-floppy-save'></span></button>
                                            <button type="button" onclick="Delete(@count)" class='btn btn-danger'><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                        <br />
                    </div>
                </form>
                                    }
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <div class="AllPermissions"></div>
            <hr />
            <ul class="list-group permissions getAll"></ul>
        </div>
        <div class="col-md-1 action-move"></div>
        <div class="col-md-4">
            <div style="display: none;"><input id="txtRoleId" type="text" value="" /></div>
            <div class="roleSelectName"></div>
            <hr />
            <ul class="list-group permissions getRoleAll"></ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/refresh.js"></script>
<script type="text/javascript" src="~/Scripts/Management/GetRoleAll.js"></script>
<script type="text/javascript" src="~/Scripts/Management/GetRoleAll2.js"></script>
<script type="text/javascript" src="~/Scripts/Management/GetPermissionRole.js"></script>
<script type="text/javascript" src="~/Scripts/Management/Add.js"></script>
<script type="text/javascript" src="~/Scripts/Management/AddPermission.js"></script>
<script type="text/javascript" src="~/Scripts/Management/Delete.js"></script>
<script type="text/javascript" src="~/Scripts/Management/DeletePermission.js"></script>
<script type="text/javascript" src="~/Scripts/Management/Update.js"></script>
