﻿
@{
    ViewBag.Title = "User";
}

<link rel="stylesheet" href="~/Content/styles/Management/User.css" />

<ol class="breadcrumb">
    <li><a href="#">Administración</a></li>
    <li class="active">Usuarios del Sistema</li>
</ol>
<br />
<div class="container">
    <div class="row">
        <form method="POST">
            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Nuevo Usuario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input id="emailAdd" type="text" name="email" class="form-control" value="" placeholder="Email" /></td>
                                <td><input id="passwordAdd" type="text" name="password" class="form-control" value="" placeholder="Password" /></td>
                                <td><input id="nameAdd" type="text" name="name" class="form-control" value="" placeholder="Nombre" /></td>
                                <td>
                                    <select id="depAdd" name="department" class="form-control">
                                        @foreach (var dep in ViewBag.Department)
                                        {
                                            <option value="@dep">@dep</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <select id="roleAdd" name="role" class="form-control">
                                        @foreach (var role in ViewBag.role)
                                        {
                                            <option value="@role.roleId">@role.name</option>
                                        }
                                    </select>
                                </td>
                                <td><button type="button" onclick="AddLogin()" value="" class='btn btn-success'><i class="fa fa-plus"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                </div>
            </div>
        </form>
    </div>
    <br /><br />
    <div class="row">
        @if (@Model != null)
        {
            <div class="row">
                <div class="col-md-10">
                    <div class="modify-user">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Clave</th>
                                    <th>Nombre</th>
                                    <th>Departamento</th>
                                    <th>Rol</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var count = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="display:none"><input id="@string.Format("id{0}", count)" type="hidden" name="id" class="form-control" value="@item.Id" placeholder="Id" /></td>
                                        <td><input id="@string.Format("email{0}", count)" type="text" name="email" class="form-control" value="@item.UserId" placeholder="Email" /></td>
                                        <td><input id="@string.Format("pass{0}", count)" type="text" name="password" class="form-control" value="@item.Password" placeholder="Password" /></td>
                                        <td><input id="@string.Format("name{0}", count)" type="text" name="name" class="form-control" value="@item.Name" placeholder="Nombre" /></td>
                                        <td>
                                            <select id="@string.Format("dep{0}", count)" name="department" class="form-control">
                                                @foreach (var dep in ViewBag.Department)
                                                {
                                                    if (item.Department == dep)
                                                    {
                                                        <option value="@dep" selected="selected">@dep</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@dep">@dep</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <select id="@string.Format("role{0}", count)" name="role" class="form-control">
                                                @foreach (var role in ViewBag.role)
                                                {
                                                    if (item.RoleId == role.roleId)
                                                    {
                                                        <option value="@role.roleId" selected="selected">@role.name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@role.roleId">@role.name</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                        <td><button type="button" onclick="valueLogin(@count);" value="" class='btn btn-success'><span class='glyphicon glyphicon-floppy-save'></span></button></td>
                                        <td><button type="button" onclick="DeleteLogin(@count)" class='btn btn-danger'><span class='glyphicon glyphicon-trash'></span></button></td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                        <br />
                    </div>
                </div>
            </div>
                                    }
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/LoginUser/Modify.js"></script>
<script type="text/javascript" src="~/Scripts/LoginUser/addUser.js"></script>
<script type="text/javascript" src="~/Scripts/LoginUser/deleteUser.js"></script>
<script type="text/javascript" src="~/Scripts/LoginUser/refresh.js"></script>
