﻿
@{
    ViewBag.Title = "ListMovies";
}

@if (@Model == null || @Model.Count == 0)
{
    if (ViewData["Message"] != null)
    {
        var count = ViewData["Message"]; 
        <div class="alert alert-danger">
            <p>
                <b>@ViewData["Message"]</b>
            </p>
        </div>
    }
    else
    {
        <div class="alert alert-warning">
            <p>
                <b>No hay registros guardados en el Redis</b>
            </p>
        </div>
    }
}
else
{
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th style="text-align:center">Sección</th>
                <th style="text-align:center">Película</th>
                <th style="text-align:center">HO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var ImageID = @item.ImageID.Trim() + ".jpg";
                <tr>
                    <td style="text-align:center">
                        @if (item.ImageID.ToUpper().Contains("SLIDER_"))
                        {
                            <label >Slider</label>
                        }

                        @if (item.ImageID.ToUpper().Contains("CENTRO_"))
                        {
                            <label>Centro</label>
                        }

                        @if (item.ImageID.ToUpper().Contains("DESTACADA_"))
                        {
                            <label>Destacada</label>
                        }
                    </td>
                    <td style="text-align:center">
                        <label value="@item.ImageID.Trim()">@item.ImageID.Trim()</label>
                        <br />
                        <img src="http://az693035.vo.msecnd.net/poster/moviles/@ImageID"  />
                    </td>
                    <td style="text-align:center">
                        <label value="@item.MovieID.Trim()">@item.MovieID.Trim()</label>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
