﻿
@{
    ViewBag.Title = "LoadMovies";
}
<link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/jqueryui/jquery/jquery-ui.min.js"></script>

<script language="javascript">
    function loadMovies() {
        var paramOne = document.getElementById("slOne");
        var fileOne = $("#fileOne").val().replace("C:\\fakepath\\", "");
        var onepar = paramOne.options[paramOne.selectedIndex].value;

        var paramTwo = document.getElementById("slTwo");
        var twoTxt = null;
        var twoVal = null;
        var fileTwo = $("#fileTwo").val().replace("C:\\fakepath\\", "");
        var twopar = paramTwo.options[paramTwo.selectedIndex].value;

        var paramThree = document.getElementById("slThree");
        var threeTxt = null;
        var threeVal = null;
        var fileThree = $("#fileThree").val().replace("C:\\fakepath\\", "");
        var threepar = paramThree.options[paramThree.selectedIndex].value;

        var paramFour = document.getElementById("slFour");
        var fourTxt = null;
        var fourVal = null;
        var fileFour = $("#fileFour").val().replace("C:\\fakepath\\", "");
        var fourpar = paramFour.options[paramFour.selectedIndex].value;

        var paramFive = document.getElementById("slFive");
        var fiveTxt = null;
        var fiveVal = null;
        var fileFive = $("#fileFive").val().replace("C:\\fakepath\\", "");
        var fivepar = paramFive.options[paramFive.selectedIndex].value;

        var paramSix = document.getElementById("slSix");
        var sixTxt = null;
        var sixVal = null;
        var fileSix = $("#fileSix").val().replace("C:\\fakepath\\", "");
        var sixpar = paramSix.options[paramSix.selectedIndex].value;

        var paramSeven = document.getElementById("slSeven");
        var sevenTxt = null;
        var sevenVal = null;
        var fileSeven = $("#fileSeven").val().replace("C:\\fakepath\\", "");
        var sevenpar = paramSeven.options[paramSeven.selectedIndex].value;

        var paramEight = document.getElementById("slEight");
        var eightTxt = null;
        var eightVal = null;
        var fileEight = $("#fileEight").val().replace("C:\\fakepath\\", "");
        var eightpar = paramEight.options[paramEight.selectedIndex].value;

        if (fileOne == "" && onepar == "-1" && fileTwo == "" && twopar == "-1" && fileThree == "" && threepar == "-1" && fileFour == "" && fourpar == "-1" && fileFive == "" && fivepar == "-1" && fileSix == "" && sixpar == "-1" && fileSeven == "" && sevenpar == "-1" && fileEight == "" && eightpar == "-1") {
            alert("Debe agregar información en los campos de selección de opciones y de archivos para continuar");
            document.getElementById('slOne').style.backgroundColor = "#d9edf7";
            document.getElementById('fileOne').style.backgroundColor = "#d9edf7";
            document.getElementById('slTwo').style.backgroundColor = "#d9edf7";
            document.getElementById('fileTwo').style.backgroundColor = "#d9edf7";
            document.getElementById('slThree').style.backgroundColor = "#d9edf7";
            document.getElementById('fileThree').style.backgroundColor = "#d9edf7";
            document.getElementById('slFour').style.backgroundColor = "#dff0d8";
            document.getElementById('fileFour').style.backgroundColor = "#dff0d8";
            document.getElementById('slFive').style.backgroundColor = "#dff0d8";
            document.getElementById('fileFive').style.backgroundColor = "#dff0d8";
            document.getElementById('slSix').style.backgroundColor = "#dff0d8";
            document.getElementById('fileSix').style.backgroundColor = "#dff0d8";
            document.getElementById('slSeven').style.backgroundColor = "#dff0d8";
            document.getElementById('fileSeven').style.backgroundColor = "#dff0d8";
            document.getElementById('slEight').style.backgroundColor = "#f2dede";
            document.getElementById('fileEight').style.backgroundColor = "#f2dede";
            return false;
        }
        else {
            document.getElementById('slOne').style.backgroundColor = "white";
            document.getElementById('fileOne').style.backgroundColor = "white";
            document.getElementById('slTwo').style.backgroundColor = "white";
            document.getElementById('fileTwo').style.backgroundColor = "white";
            document.getElementById('slThree').style.backgroundColor = "white";
            document.getElementById('fileThree').style.backgroundColor = "white";
            document.getElementById('slFour').style.backgroundColor = "white";
            document.getElementById('fileFour').style.backgroundColor = "white";
            document.getElementById('slFive').style.backgroundColor = "white";
            document.getElementById('fileFive').style.backgroundColor = "white";
            document.getElementById('slSix').style.backgroundColor = "white";
            document.getElementById('fileSix').style.backgroundColor = "white";
            document.getElementById('slSeven').style.backgroundColor = "white";
            document.getElementById('fileSeven').style.backgroundColor = "white";
            document.getElementById('slEight').style.backgroundColor = "white";
            document.getElementById('fileEight').style.backgroundColor = "white";
        }

        if (paramOne.options[paramOne.selectedIndex].value == "-1") {
            if (fileOne == "") {
            }
            else {
                if (paramOne.options[paramOne.selectedIndex].value == "-1") {
                    document.getElementById('slOne').style.backgroundColor = "#d9edf7";
                    alert("Debe seleccionar una película en el primer campo de selección de películas (Sección Slider)");
                    return false;
                }
            }
        }
        else {
            document.getElementById('slOne').style.backgroundColor = "white";
            if (fileOne == "") {
                document.getElementById('fileOne').style.backgroundColor = "#d9edf7";
                $('#fileOne').val("").clone(true);
                alert("Debe seleccionar un archivo de imagen en el primer campo de selección de archivos (Sección Slider)");
                return false;
            }
            else {
                document.getElementById('fileOne').style.backgroundColor = "white";
                if (!((fileOne.endsWith(".jpg")))) {
                    document.getElementById('fileOne').style.backgroundColor = "#d9edf7";
                    alert("El formato de la imagen seleccionada en el primer campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Slider)");
                    return false;
                }
                else {
                    document.getElementById('fileOne').style.backgroundColor = "white";
                    if (!(fileOne.startsWith("Slider_"))) {
                        document.getElementById('fileOne').style.backgroundColor = "#d9edf7";
                        alert("El nombre de la imagen seleccionada en el primer campo de selección de archivos debe comenzar con Slider_");
                        return false;
                    }
                }
            }
        }

        if (paramTwo.options[paramTwo.selectedIndex].value == "-1") {
            if (fileTwo == "") {
            }
            else {
                if (paramTwo.options[paramTwo.selectedIndex].value == "-1") {
                    document.getElementById('slTwo').style.backgroundColor = "#d9edf7";
                    alert("Debe seleccionar una película en el segundo campo de selección de películas (Sección Slider)");
                    return false;
                }
            }
        }
        else {
            document.getElementById('slTwo').style.backgroundColor = "white";
            if (fileTwo == "") {
                document.getElementById('fileTwo').style.backgroundColor = "#d9edf7";
                $('#fileTwo').val("").clone(true);
                alert("Debe seleccionar un archivo de imagen en el segundo campo de selección de archivos (Sección Slider)");
                return false;
            }
            else {
                document.getElementById('fileTwo').style.backgroundColor = "white";
                if (!((fileTwo.endsWith(".jpg")))) {
                    document.getElementById('fileTwo').style.backgroundColor = "#d9edf7";
                    alert("El formato de la imagen seleccionada en el segundo campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Slider)");
                    return false;
                }
                else {
                    document.getElementById('fileTwo').style.backgroundColor = "white";
                    if (!(fileTwo.startsWith("Slider_"))) {
                        document.getElementById('fileTwo').style.backgroundColor = "#d9edf7";
                        alert("El nombre de la imagen seleccionada en el segundo campo de selección de archivos debe comenzar con Slider_");
                        return false;
                    }
                }
            }
        }

        if (paramThree.options[paramThree.selectedIndex].value == "-1") {
            if (fileThree == "") {
            }
            else {
                if (paramThree.options[paramThree.selectedIndex].value == "-1") {
                    document.getElementById('slThree').style.backgroundColor = "#d9edf7";
                    alert("Debe seleccionar una película en el tercer campo de selección de películas (Sección Slider)");
                    return false;
                }
            }
        }
        else {
            document.getElementById('slThree').style.backgroundColor = "white";
            if (fileThree == "") {
                document.getElementById('fileThree').style.backgroundColor = "#d9edf7";
                $('#fileThree').val("").clone(true);
                alert("Debe seleccionar un archivo de imagen en el tercer campo de selección de archivos (Sección Slider)");
                return false;
            }
            else {
                document.getElementById('fileThree').style.backgroundColor = "white";
                if (!((fileThree.endsWith(".jpg")))) {
                    document.getElementById('fileThree').style.backgroundColor = "#d9edf7";
                    alert("El formato de la imagen seleccionada en el tercer campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Slider)");
                    return false;
                }
                else {
                    document.getElementById('fileThree').style.backgroundColor = "white";
                    if (!(fileThree.startsWith("Slider_"))) {
                        document.getElementById('fileThree').style.backgroundColor = "#d9edf7";
                        alert("El nombre de la imagen seleccionada en el tercer campo de selección de archivos debe comenzar con Slider_");
                        return false;
                    }
                }
            }
        }

        if (paramFour.options[paramFour.selectedIndex].value == "-1") {
            if (fileFour == "") {
            }
            else {
                if (paramFour.options[paramFour.selectedIndex].value == "-1") {
                    document.getElementById('slFour').style.backgroundColor = "#dff0d8";
                    alert("Debe seleccionar una película en el cuarto campo de selección de películas (Sección Centro)");
                    return false;
                }
            }
        }
        else {
            document.getElementById('slFour').style.backgroundColor = "white";
            if (fileFour == "") {
                document.getElementById('fileFour').style.backgroundColor = "#dff0d8";
                $('#fileFour').val("").clone(true);
                alert("Debe seleccionar un archivo de imagen en el cuarto campo de selección de archivos (Sección Centro)");
                return false;
            }
            else {
                document.getElementById('fileFour').style.backgroundColor = "white";
                if (!((fileFour.endsWith(".jpg")))) {
                    document.getElementById('fileFour').style.backgroundColor = "#dff0d8";
                    alert("El formato de la imagen seleccionada en el cuarto campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Centro)");
                    return false;
                }
                else {
                    document.getElementById('fileFour').style.backgroundColor = "white";
                    if (!(fileFour.startsWith("Centro_"))) {
                        document.getElementById('fileFour').style.backgroundColor = "#dff0d8";
                        alert("El nombre de la imagen seleccionada en el cuarto campo de selección de archivos debe comenzar con Centro_");
                        return false;
                    }
                }
            }
        }

        if (paramFive.options[paramFive.selectedIndex].value == "-1") {
            if (fileFive == "") {
            }
            else {
                if (paramFive.options[paramFive.selectedIndex].value == "-1") {
                    document.getElementById('slFive').style.backgroundColor = "#dff0d8";
                    alert("Debe seleccionar una película en el quinto campo de selección de películas (Sección Centro)");
                    return false;
                }
            }
        }
        else {
            document.getElementById('slFive').style.backgroundColor = "white";
            if (fileFive == "") {
                document.getElementById('fileFive').style.backgroundColor = "#dff0d8";
                $('#fileFive').val("").clone(true);
                alert("Debe seleccionar un archivo de imagen en el quinto campo de selección de archivos (Sección Centro)");
                return false;
            }
            else {
                document.getElementById('fileFive').style.backgroundColor = "white";
                if (!((fileFive.endsWith(".jpg")))) {
                    document.getElementById('fileFive').style.backgroundColor = "#dff0d8";
                    alert("El formato de la imagen seleccionada en el quinto campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Centro)");
                    return false;
                }
                else {
                    document.getElementById('fileFive').style.backgroundColor = "white";
                    if (!(fileFive.startsWith("Centro_"))) {
                        document.getElementById('fileFive').style.backgroundColor = "#dff0d8";
                        alert("El nombre de la imagen seleccionada en el quinto campo de selección de archivos debe comenzar con Centro_");
                        return false;
                    }
                }
            }
        }

        if (paramSix.options[paramSix.selectedIndex].value == "-1") {
            if (fileSix == "") {
            }
            else {
                if (paramSix.options[paramSix.selectedIndex].value == "-1") {
                    document.getElementById('slSix').style.backgroundColor = "#dff0d8";
                    alert("Debe seleccionar una película en el sexto campo de selección de películas (Sección Centro)");
                    return false;
                }
            }
        }
        else {
            document.getElementById('slSix').style.backgroundColor = "white";
            if (fileSix == "") {
                document.getElementById('fileSix').style.backgroundColor = "#dff0d8";
                $('#fileSix').val("").clone(true);
                alert("Debe seleccionar un archivo de imagen en el sexto campo de selección de archivos (Sección Centro)");
                return false;
            }
            else {
                document.getElementById('fileSix').style.backgroundColor = "white";
                if (!((fileSix.endsWith(".jpg")))) {
                    document.getElementById('fileSix').style.backgroundColor = "#dff0d8";
                    alert("El formato de la imagen seleccionada en el sexto campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Centro)");
                    return false;
                }
                else {
                    document.getElementById('fileSix').style.backgroundColor = "white";
                    if (!(fileSix.startsWith("Centro_"))) {
                        document.getElementById('fileSix').style.backgroundColor = "#dff0d8";
                        alert("El nombre de la imagen seleccionada en el sexto campo de selección de archivos debe comenzar con Centro_");
                        return false;
                    }
                }
            }
        }

        if (paramSeven.options[paramSeven.selectedIndex].value == "-1") {
            if (fileSeven == "") {
            }
            else {
                if (paramSeven.options[paramSeven.selectedIndex].value == "-1") {
                    document.getElementById('slSeven').style.backgroundColor = "#dff0d8";
                    alert("Debe seleccionar una película en el séptimo campo de selección de películas (Sección Centro)");
                    return false;
                }
            }
        }
        else {
            document.getElementById('slSeven').style.backgroundColor = "white";
            if (fileSeven == "") {
                document.getElementById('fileSeven').style.backgroundColor = "#dff0d8";
                $('#fileSeven').val("").clone(true);
                alert("Debe seleccionar un archivo de imagen en el séptimo campo de selección de archivos (Sección Centro)");
                return false;
            }
            else {
                document.getElementById('fileSeven').style.backgroundColor = "white";
                if (!((fileSeven.endsWith(".jpg")))) {
                    document.getElementById('fileSeven').style.backgroundColor = "#dff0d8";
                    alert("El formato de la imagen seleccionada en el séptimo campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Centro)");
                    return false;
                }
                else {
                    document.getElementById('fileSeven').style.backgroundColor = "white";
                    if (!(fileSeven.startsWith("Centro_"))) {
                        document.getElementById('fileSeven').style.backgroundColor = "#dff0d8";
                        alert("El nombre de la imagen seleccionada en el séptimo campo de selección de archivos debe comenzar con Centro_");
                        return false;
                    }
                }
            }
        }

        if (paramEight.options[paramEight.selectedIndex].value == "-1") {
            if (fileEight == "") {
            }
            else {
                if (paramEight.options[paramEight.selectedIndex].value == "-1") {
                    document.getElementById('slEight').style.backgroundColor = "#f2dede";
                    alert("Debe seleccionar una película en el octavo campo de selección de películas (Sección Destacada)");
                    return false;
                }
            }
        }
        else {
            document.getElementById('slEight').style.backgroundColor = "white";
            if (fileEight == "") {
                document.getElementById('fileEight').style.backgroundColor = "#f2dede";
                $('#fileEight').val("").clone(true);
                alert("Debe seleccionar un archivo de imagen en el octavo campo de selección de archivos (Sección Destacada)");
                return false;
            }
            else {
                document.getElementById('fileEight').style.backgroundColor = "white";
                if (!((fileEight.endsWith(".jpg")))) {
                    document.getElementById('fileEight').style.backgroundColor = "#f2dede";
                    alert("El formato de la imagen seleccionada en el octavo campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Destacada)");
                    return false;
                }
                else {
                    document.getElementById('fileEight').style.backgroundColor = "white";
                    if (!(fileEight.startsWith("Destacada_"))) {
                        document.getElementById('fileEight').style.backgroundColor = "#f2dede";
                        alert("El nombre de la imagen seleccionada en el octavo campo de selección de archivos debe comenzar con Destacada_");
                        return false;
                    }
                }
            }
        }

        var countFiles = $("#fileOne")[0].files.length + $("#fileTwo")[0].files.length + $("#fileThree")[0].files.length + $("#fileFour")[0].files.length + $("#fileFive")[0].files.length + $("#fileSix")[0].files.length + $("#fileSeven")[0].files.length + $("#fileEight")[0].files.length;

        if (countFiles == 1) {
            if (confirm("¿Quiere cargar esta pelicula?") == true) {
                document.getElementById("btnCreateLoadMovies").style.display = 'none';
                return true;
            }
            else {
                return false;
            }
        }
        else {
            if (countFiles > 1) {
                if (confirm("¿Quiere cargar estas peliculas?") == true) {
                    document.getElementById("btnCreateLoadMovies").style.display = 'none';
                    return true;
                }
                else {
                    return false;
                }
            }
        }
    }

    function functionfileOne() {
        var fileOne = $("#fileOne").val().replace("C:\\fakepath\\", "");
        var countFiles = $("#fileOne")[0].files.length;
        var image_holder = $("#image-holder");
        image_holder.empty();


        if (fileOne == "") {
            document.getElementById('fileOne').style.backgroundColor = "white";
            $('#fileOne').val("").clone(true);
            return false;
        }

        if (!((fileOne.endsWith(".jpg")))) {
            document.getElementById('fileOne').style.backgroundColor = "#d9edf7";
            alert("El formato de la imagen seleccionada en el primer campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Slider)");
            return false;
        }
        else {
            document.getElementById('fileOne').style.backgroundColor = "white";
            if (!(fileOne.startsWith("Slider_"))) {
                document.getElementById('fileOne').style.backgroundColor = "#d9edf7";
                alert("El nombre de la imagen seleccionada en el primer campo de selección de archivos debe comenzar con Slider_");
                return false;
            }
            else {
                document.getElementById('fileOne').style.backgroundColor = "white";
                var fileUpload = document.getElementById("fileOne");

                if (typeof (FileReader) != "undefined") {
                    //loop for each file selected for uploaded.
                    for (var i = 0; i < countFiles; i++) {

                        var reader = new FileReader();
                        reader.onload = function (e) {
                            //Initiate the JavaScript Image object.
                            var image = new Image();
                            //Set the Base64 string return from FileReader as source.
                            image.src = e.target.result;
                            //Validate the File Height and Width.
                            image.onload = function () {
                                var height = this.height;
                                var width = this.width;

                                if ((height != 358) || width != 640) {
                                    alert("La imagen llamada " + $("#fileOne").val().replace("C:\\fakepath\\", "") + ", cargada en el primer campo de selección de archivos de la sección Slider debe tener una dimensión de 640x358 pixel");
                                    document.getElementById('fileOne').style.backgroundColor = "#d9edf7";
                                    $('#fileOne').val("").clone(true);
                                    return false;
                                }
                                $("<img />", {
                                    "src": e.target.result,
                                    "class": "thumb-image"
                                }).appendTo(image_holder);
                            };
                        }
                        image_holder.show();
                        reader.readAsDataURL($("#fileOne")[0].files[i]);
                    }
                } else {
                    alert("Este navegador no es compatible con el lector de archivos");
                    return false;
                }
                return false;
            }
        }
    }



    function functionfileTwo() {
        var fileTwo = $("#fileTwo").val().replace("C:\\fakepath\\", "");
        var countFiles = $("#fileTwo")[0].files.length;
        var image_holder = $("#image-holder2");
        image_holder.empty();

        if (fileTwo == "") {
            document.getElementById('fileTwo').style.backgroundColor = "white";
            $('#fileTwo').val("").clone(true);
            return false;
        }
        else {
            document.getElementById('fileTwo').style.backgroundColor = "white";
            if (!((fileTwo.endsWith(".jpg")))) {
                document.getElementById('fileTwo').style.backgroundColor = "#d9edf7";
                alert("El formato de la imagen seleccionada en el segundo campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Slider)");
                return false;
            }
            else {
                document.getElementById('fileTwo').style.backgroundColor = "white";
                if (!(fileTwo.startsWith("Slider_"))) {
                    document.getElementById('fileTwo').style.backgroundColor = "#d9edf7";
                    alert("El nombre de la imagen seleccionada en el segundo campo de selección de archivos debe comenzar con Slider_");
                    return false;
                }
                else {
                    document.getElementById('fileTwo').style.backgroundColor = "white";
                    var fileUpload = document.getElementById("fileTwo");

                    if (typeof (FileReader) != "undefined") {
                        //loop for each file selected for uploaded.
                        for (var i = 0; i < countFiles; i++) {

                            var reader = new FileReader();
                            reader.onload = function (e) {
                                //Initiate the JavaScript Image object.
                                var image = new Image();
                                //Set the Base64 string return from FileReader as source.
                                image.src = e.target.result;
                                //Validate the File Height and Width.
                                image.onload = function () {
                                    var height = this.height;
                                    var width = this.width;

                                    if ((height != 358) || width != 640) {
                                        alert("La imagen llamada " + $("#fileTwo").val().replace("C:\\fakepath\\", "") + ", cargada en el segundo campo de selección de archivos de la sección Slider debe tener una dimensión de 640x358 pixel");
                                        document.getElementById('fileTwo').style.backgroundColor = "#d9edf7";
                                        $('#fileTwo').val("").clone(true);
                                        return false;
                                    }
                                    $("<img />", {
                                        "src": e.target.result,
                                        "class": "thumb-image"
                                    }).appendTo(image_holder);
                                };
                            }
                            image_holder.show();
                            reader.readAsDataURL($("#fileTwo")[0].files[i]);
                        }
                    } else {
                        alert("Este navegador no es compatible con el lector de archivos");
                        return false;
                    }
                    return false;
                }
            }
        }
    }

    function functionfileThree() {
        var fileThree = $("#fileThree").val().replace("C:\\fakepath\\", "");
        var countFiles = $("#fileThree")[0].files.length;
        var image_holder = $("#image-holder3");
        image_holder.empty();

        if (fileThree == "") {
            document.getElementById('fileThree').style.backgroundColor = "white";
            $('#fileThree').val("").clone(true);
            return false;
        }
        else {
            document.getElementById('fileThree').style.backgroundColor = "white";
            if (!((fileThree.endsWith(".jpg")))) {
                document.getElementById('fileThree').style.backgroundColor = "#d9edf7";
                alert("El formato de la imagen seleccionada en el tercer campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Slider)");
                return false;
            }
            else {
                document.getElementById('fileThree').style.backgroundColor = "white";
                if (!(fileThree.startsWith("Slider_"))) {
                    document.getElementById('fileThree').style.backgroundColor = "#d9edf7";
                    alert("El nombre de la imagen seleccionada en el tercer campo de selección de archivos debe comenzar con Slider_");
                    return false;
                }
                else {
                    document.getElementById('fileThree').style.backgroundColor = "white";
                    var fileUpload = document.getElementById("fileThree");

                    if (typeof (FileReader) != "undefined") {
                        //loop for each file selected for uploaded.
                        for (var i = 0; i < countFiles; i++) {

                            var reader = new FileReader();
                            reader.onload = function (e) {
                                //Initiate the JavaScript Image object.
                                var image = new Image();
                                //Set the Base64 string return from FileReader as source.
                                image.src = e.target.result;
                                //Validate the File Height and Width.
                                image.onload = function () {
                                    var height = this.height;
                                    var width = this.width;

                                    if ((height != 358) || width != 640) {
                                        alert("La imagen llamada " + $("#fileThree").val().replace("C:\\fakepath\\", "") + ", cargada en el tercer campo de selección de archivos de la sección Slider debe tener una dimensión de 640x358 pixel");
                                        document.getElementById('fileThree').style.backgroundColor = "#d9edf7";
                                        $('#fileThree').val("").clone(true);
                                        return false;
                                    }
                                    $("<img />", {
                                        "src": e.target.result,
                                        "class": "thumb-image"
                                    }).appendTo(image_holder);
                                };
                            }
                            image_holder.show();
                            reader.readAsDataURL($("#fileThree")[0].files[i]);
                        }
                    } else {
                        alert("Este navegador no es compatible con el lector de archivos");
                        return false;
                    }
                    return false;
                }
            }
        }
    }

    function functionfileFour() {
        var fileFour = $("#fileFour").val().replace("C:\\fakepath\\", "");
        var countFiles = $("#fileFour")[0].files.length;
        var image_holder = $("#image-holder4");
        image_holder.empty();

        if (fileFour == "") {
            document.getElementById('fileFour').style.backgroundColor = "white";
            $('#fileFour').val("").clone(true);
            return false;
        }
        else {
            document.getElementById('fileFour').style.backgroundColor = "white";
            if (!((fileFour.endsWith(".jpg")))) {
                document.getElementById('fileFour').style.backgroundColor = "#dff0d8";
                alert("El formato de la imagen seleccionada en el cuarto campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Centro)");
                return false;
            }
            else {
                document.getElementById('fileFour').style.backgroundColor = "white";
                if (!(fileFour.startsWith("Centro_"))) {
                    document.getElementById('fileFour').style.backgroundColor = "#dff0d8";
                    alert("El nombre de la imagen seleccionada en el cuarto campo de selección de archivos debe comenzar con Centro_");
                    return false;
                }
                else {
                    document.getElementById('fileFour').style.backgroundColor = "white";
                    var fileUpload = document.getElementById("fileFour");

                    if (typeof (FileReader) != "undefined") {
                        //loop for each file selected for uploaded.
                        for (var i = 0; i < countFiles; i++) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                //Initiate the JavaScript Image object.
                                var image = new Image();
                                //Set the Base64 string return from FileReader as source.
                                image.src = e.target.result;
                                //Validate the File Height and Width.
                                image.onload = function () {
                                    var height = this.height;
                                    var width = this.width;

                                    if ((height != 176) && width != 316) {
                                        alert("La imagen llamada " + $("#fileFour").val().replace("C:\\fakepath\\", "") + ", cargada en el cuarto campo de la sección Centro debe tener una dimensión de 316x176 pixel");
                                        document.getElementById('fileFour').style.backgroundColor = "#dff0d8";
                                        $('#fileFour').val("").clone(true);
                                        return false;
                                    }
                                    $("<img />", {
                                        "src": e.target.result,
                                        "class": "thumb-image"
                                    }).appendTo(image_holder);
                                };
                            }
                            image_holder.show();
                            reader.readAsDataURL($("#fileFour")[0].files[i]);
                        }
                    } else {
                        alert("Este navegador no es compatible con el lector de archivos");
                        return false;
                    }
                    return false;
                }
            }
        }
    }

    function functionfileFive() {
        var fileFive = $("#fileFive").val().replace("C:\\fakepath\\", "");
        var countFiles = $("#fileFive")[0].files.length;
        var image_holder = $("#image-holder5");
        image_holder.empty();

        if (fileFive == "") {
            document.getElementById('fileFive').style.backgroundColor = "white";
            $('#fileFive').val("").clone(true);
            return false;
        }
        else {
            document.getElementById('fileFive').style.backgroundColor = "white";
            if (!((fileFive.endsWith(".jpg")))) {
                document.getElementById('fileFive').style.backgroundColor = "#dff0d8";
                alert("El formato de la imagen seleccionada en el quinto campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Centro)");
                return false;
            }
            else {
                document.getElementById('fileFive').style.backgroundColor = "white";
                if (!(fileFive.startsWith("Centro_"))) {
                    document.getElementById('fileFive').style.backgroundColor = "#dff0d8";
                    alert("El nombre de la imagen seleccionada en el quinto campo de selección de archivos debe comenzar con Centro_");
                    return false;
                }
                else {
                    document.getElementById('fileFive').style.backgroundColor = "white";
                    var fileUpload = document.getElementById("fileFive");


                    if (typeof (FileReader) != "undefined") {
                        //loop for each file selected for uploaded.
                        for (var i = 0; i < countFiles; i++) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                //Initiate the JavaScript Image object.
                                var image = new Image();
                                //Set the Base64 string return from FileReader as source.
                                image.src = e.target.result;
                                //Validate the File Height and Width.
                                image.onload = function () {
                                    var height = this.height;
                                    var width = this.width;

                                    if ((height != 176) && width != 316) {
                                        alert("La imagen llamada " + $("#fileFive").val().replace("C:\\fakepath\\", "") + ", cargada en el quinto campo de selección de archivos de la sección Centro debe tener una dimensión de 316x176 pixel");
                                        document.getElementById('fileFive').style.backgroundColor = "#dff0d8";
                                        $('#fileFive').val("").clone(true);
                                        return false;
                                    }
                                    $("<img />", {
                                        "src": e.target.result,
                                        "class": "thumb-image"
                                    }).appendTo(image_holder);
                                };
                            }
                            image_holder.show();
                            reader.readAsDataURL($("#fileFive")[0].files[i]);
                        }
                    } else {
                        alert("Este navegador no es compatible con el lector de archivos");
                        return false;
                    }
                    return false;
                }
            }
        }
    }

    function functionfileSix() {
        var fileSix = $("#fileSix").val().replace("C:\\fakepath\\", "");
        var countFiles = $("#fileSix")[0].files.length;
        var image_holder = $("#image-holder6");
        image_holder.empty();


        if (fileSix == "") {
            document.getElementById('fileSix').style.backgroundColor = "white";
            $('#fileSix').val("").clone(true);
            return false;
        }
        else {
            document.getElementById('fileSix').style.backgroundColor = "white";
            if (!((fileSix.endsWith(".jpg")))) {
                document.getElementById('fileSix').style.backgroundColor = "#dff0d8";
                alert("El formato de la imagen seleccionada en el sexto campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Centro)");
                return false;
            }
            else {
                document.getElementById('fileSix').style.backgroundColor = "white";
                if (!(fileSix.startsWith("Centro_"))) {
                    document.getElementById('fileSix').style.backgroundColor = "#dff0d8";
                    alert("El nombre de la imagen seleccionada en el sexto campo de selección de archivos debe comenzar con Centro_");
                    return false;
                }
                else {
                    document.getElementById('fileSix').style.backgroundColor = "white";
                    var fileUpload = document.getElementById("fileSix");

                    if (typeof (FileReader) != "undefined") {
                        //loop for each file selected for uploaded.
                        for (var i = 0; i < countFiles; i++) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                //Initiate the JavaScript Image object.
                                var image = new Image();
                                //Set the Base64 string return from FileReader as source.
                                image.src = e.target.result;
                                //Validate the File Height and Width.
                                image.onload = function () {
                                    var height = this.height;
                                    var width = this.width;

                                    if ((height != 176) && width != 316) {
                                        alert("La imagen llamada " + $("#fileSix").val().replace("C:\\fakepath\\", "") + ", cargada en el sexto campo de selección de archivos de la sección Centro debe tener una dimensión de 316x176 pixel");
                                        document.getElementById('fileSix').style.backgroundColor = "#dff0d8";
                                        $('#fileSix').val("").clone(true);
                                        return false;
                                    }
                                    $("<img />", {
                                        "src": e.target.result,
                                        "class": "thumb-image"
                                    }).appendTo(image_holder);
                                };
                            }
                            image_holder.show();
                            reader.readAsDataURL($("#fileSix")[0].files[i]);
                        }
                    } else {
                        alert("Este navegador no es compatible con el lector de archivos");
                        return false;
                    }
                    return false;
                }
            }
        }
    }

    function functionfileSeven() {
        var fileSeven = $("#fileSeven").val().replace("C:\\fakepath\\", "");
        var countFiles = $("#fileSeven")[0].files.length;
        var image_holder = $("#image-holder7");
        image_holder.empty();

        if (fileSeven == "") {
            document.getElementById('fileSeven').style.backgroundColor = "white";
            $('#fileSeven').val("").clone(true);
            return false;
        }
        else {
            document.getElementById('fileSeven').style.backgroundColor = "white";
            if (!((fileSeven.endsWith(".jpg")))) {
                document.getElementById('fileSeven').style.backgroundColor = "#dff0d8";
                alert("El formato de la imagen seleccionada en el séptimo campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Centro)");
                return false;
            }
            else {
                document.getElementById('fileSeven').style.backgroundColor = "white";
                if (!(fileSeven.startsWith("Centro_"))) {
                    document.getElementById('fileSeven').style.backgroundColor = "#dff0d8";
                    alert("El nombre de la imagen seleccionada en el séptimo campo de selección de archivos debe comenzar con Centro_");
                    return false;
                }
                else {
                    document.getElementById('fileSeven').style.backgroundColor = "white";
                    var fileUpload = document.getElementById("fileSeven");

                    if (typeof (FileReader) != "undefined") {
                        //loop for each file selected for uploaded.
                        for (var i = 0; i < countFiles; i++) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                //Initiate the JavaScript Image object.
                                var image = new Image();
                                //Set the Base64 string return from FileReader as source.
                                image.src = e.target.result;
                                //Validate the File Height and Width.
                                image.onload = function () {
                                    var height = this.height;
                                    var width = this.width;

                                    if ((height != 176) && width != 316) {
                                        alert("La imagen llamada " + $("#fileSeven").val().replace("C:\\fakepath\\", "") + ", cargada en el séptimo campo de selección de archivos de la sección Centro debe tener una dimensión de 316x176 pixel");
                                        document.getElementById('fileSeven').style.backgroundColor = "#dff0d8";
                                        $('#fileSeven').val("").clone(true);
                                        return false;
                                    }
                                    $("<img />", {
                                        "src": e.target.result,
                                        "class": "thumb-image"
                                    }).appendTo(image_holder);
                                };
                            }
                            image_holder.show();
                            reader.readAsDataURL($("#fileSeven")[0].files[i]);
                        }
                    } else {
                        alert("Este navegador no es compatible con el lector de archivos");
                        return false;
                    }
                    return false;
                }
            }
        }
    }

    function functionfileEight() {
        var fileEight = $("#fileEight").val().replace("C:\\fakepath\\", "");
        var countFiles = $("#fileEight")[0].files.length;
        var image_holder = $("#image-holder8");
        image_holder.empty();

        if (fileEight == "") {
            document.getElementById('fileEight').style.backgroundColor = "white";
            $('#fileEight').val("").clone(true);
            return false;
        }
        else {
            document.getElementById('fileEight').style.backgroundColor = "white";
            if (!((fileEight.endsWith(".jpg")))) {
                document.getElementById('fileEight').style.backgroundColor = "#f2dede";
                alert("El formato de la imagen seleccionada en el octavo campo de selección de archivos no es valido. Solo se pueden cargar archivos con la extensión .jpg (Sección Destacada)");
                return false;
            }
            else {
                document.getElementById('fileEight').style.backgroundColor = "white";
                if (!(fileEight.startsWith("Destacada_"))) {
                    document.getElementById('fileEight').style.backgroundColor = "#f2dede";
                    alert("El nombre de la imagen seleccionada en el octavo campo de selección de archivos debe comenzar con Destacada_");
                    return false;
                }
                else {
                    document.getElementById('fileEight').style.backgroundColor = "white";
                    var fileUpload = document.getElementById("fileEight");

                    if (typeof (FileReader) != "undefined") {
                        //loop for each file selected for uploaded.
                        for (var i = 0; i < countFiles; i++) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                //Initiate the JavaScript Image object.
                                var image = new Image();
                                //Set the Base64 string return from FileReader as source.
                                image.src = e.target.result;
                                //Validate the File Height and Width.
                                image.onload = function () {
                                    var height = this.height;
                                    var width = this.width;

                                    if ((height != 168) && width != 640) {
                                        alert("La imagen llamada " + $("#fileEight").val().replace("C:\\fakepath\\", "") + ", cargada en el octavo campo de selección de archivos de la sección Destacada debe tener una dimensión de 640x168 pixel");
                                        document.getElementById('fileEight').style.backgroundColor = "#f2dede";
                                        $('#fileEight').val("").clone(true);
                                        return false;
                                    }
                                    $("<img />", {
                                        "src": e.target.result,
                                        "class": "thumb-image"
                                    }).appendTo(image_holder);
                                };
                            }
                            image_holder.show();
                            reader.readAsDataURL($("#fileEight")[0].files[i]);
                        }
                    } else {
                        alert("Este navegador no es compatible con el lector de archivos");
                        return false;
                    }
                    return false;
                }
            }
        }
    }

    function functionselectOne() {
        var paramOne = document.getElementById("slOne");
        var oneTxt = paramOne.options[paramOne.selectedIndex].text;
        var oneVal = paramOne.options[paramOne.selectedIndex].value;

        if (oneVal != "-1") {
            document.getElementById("oneTextHO").innerHTML = "<b style=\"text-align:right;color:#31708f;\";>" + oneTxt + "</b>";
        }
        else {
            document.getElementById("oneTextHO").innerHTML = "";
        }
    }

    function functionselectTwo() {
        var paramTwo = document.getElementById("slTwo");
        var TwoTxt = paramTwo.options[paramTwo.selectedIndex].text;
        var TwoVal = paramTwo.options[paramTwo.selectedIndex].value;

        if (TwoVal != "-1") {
            document.getElementById("twoTextHO").innerHTML = "<b style=\"text-align:right;color:#31708f;\";>" + TwoTxt + "</b>";
        }
        else {
            document.getElementById("twoTextHO").innerHTML = "";
        }
    }

    function functionselectThree() {
        var paramThree = document.getElementById("slThree");
        var ThreeTxt = paramThree.options[paramThree.selectedIndex].text;
        var ThreeVal = paramThree.options[paramThree.selectedIndex].value;

        if (ThreeVal != "-1") {
            document.getElementById("ThreeTextHO").innerHTML = "<b style=\"text-align:right;color:#31708f;\";>" + ThreeTxt + "</b>";
        }
        else {
            document.getElementById("ThreeTextHO").innerHTML = "";
        }
    }

    function functionselectFour() {
        var paramFour = document.getElementById("slFour");
        var FourTxt = paramFour.options[paramFour.selectedIndex].text;
        var FourVal = paramFour.options[paramFour.selectedIndex].value;

        if (FourVal != "-1") {
            document.getElementById("FourTextHO").innerHTML = "<b style=\"text-align:right;color:#3c763d;\";>" + FourTxt + "</b>";
        }
        else {
            document.getElementById("FourTextHO").innerHTML = "";
        }
    }

    function functionselectFive() {
        var paramFive = document.getElementById("slFive");
        var FiveTxt = paramFive.options[paramFive.selectedIndex].text;
        var FiveVal = paramFive.options[paramFive.selectedIndex].value;

        if (FiveVal != "-1") {
            document.getElementById("FiveTextHO").innerHTML = "<b style=\"text-align:right;color:#3c763d;\";>" + FiveTxt + "</b>";
        }
        else {
            document.getElementById("FiveTextHO").innerHTML = "";
        }
    }

    function functionselectSix() {
        var paramSix = document.getElementById("slSix");
        var SixTxt = paramSix.options[paramSix.selectedIndex].text;
        var SixVal = paramSix.options[paramSix.selectedIndex].value;

        if (SixVal != "-1") {
            document.getElementById("SixTextHO").innerHTML = "<b style=\"text-align:right;color:#3c763d;\";>" + SixTxt + "</b>";
        }
        else {
            document.getElementById("SixTextHO").innerHTML = "";
        }
    }

    function functionselectSeven() {
        var paramSeven = document.getElementById("slSeven");
        var SevenTxt = paramSeven.options[paramSeven.selectedIndex].text;
        var SevenVal = paramSeven.options[paramSeven.selectedIndex].value;

        if (SevenVal != "-1") {
            document.getElementById("SevenTextHO").innerHTML = "<b style=\"text-align:right;color:#3c763d;\";>" + SevenTxt + "</b>";
        }
        else {
            document.getElementById("SevenTextHO").innerHTML = "";
        }
    }

    function functionselectEight() {
        var paramEight = document.getElementById("slEight");
        var EightTxt = paramEight.options[paramEight.selectedIndex].text;
        var EightVal = paramEight.options[paramEight.selectedIndex].value;

        if (EightVal != "-1") {
            document.getElementById("EightTextHO").innerHTML = "<b style=\"text-align:right;color:#a94442;\";>" + EightTxt + "</b>";
        }
        else {
            document.getElementById("EightTextHO").innerHTML = "";
        }
    }

</script>
<ol class="breadcrumb">
    <li><a href="#">Cargar Películas</a></li>
    <li class="active">LoadMovies</li>
</ol>
<div class="">
    <form action="@Url.Action("AddLoadMovies", "LoadMovies")" method="post" enctype="multipart/form-data">
        <div class="row" style="text-align:center">
            <div class="col-md-12 col-xs-12 col-lg-12">
                <div class="col-md-11 col-xs-11 col-lg-11">
                    <div class="alert alert-info"><p><b>Slider</b></p></div>
                    <div class="row">
                        <div class="col-sm-1 col-xs-1 col-lg-1" style="text-align:right;color:#31708f"><b>1)</b></div>
                        <div class="col-sm-5 col-xs-5 col-lg-5">
                            <select id="slOne" name="slOne" class="form-control" onchange="javascript: return functionselectOne();">
                                <option value="-1" selected="selected">Seleccione</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.HO">@item.Title - @item.HO</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-5 col-xs-5 col-lg-5">
                            <input id="fileOne" name="fileOne" onchange="javascript: return functionfileOne();" class="form-control" type="file" />
                        </div>
                        <br />
                        <br />
                        <div>
                            <p id="oneTextHO"></p>
                        </div>

                        <div id="image-holder"></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-1" style="text-align:right;color:#31708f"><b>2)</b></div>
                        <div class="col-sm-5">
                            <select id="slTwo" name="slTwo" onchange="javascript: return functionselectTwo();" class="form-control">
                                <option value="-1" selected="selected">Seleccione</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.HO">@item.Title - @item.HO</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <input id="fileTwo" name="fileTwo" onchange="javascript: return functionfileTwo();" class="form-control" type="file" />
                        </div>
                        <br />
                        <br />
                        <div>
                            <p id="twoTextHO"></p>
                        </div>
                        <div id="image-holder2"></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-1" style="text-align:right;color:#31708f"><b>3)</b></div>
                        <div class="col-sm-5">
                            <select id="slThree" name="slThree" onchange="javascript: return functionselectThree();" class="form-control">
                                <option value="-1" selected="selected">Seleccione</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.HO">@item.Title - @item.HO</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <input id="fileThree" name="fileThree" onchange="javascript: return functionfileThree();" class="form-control" type="file" />
                        </div>
                        <br />
                        <br />
                        <div>
                            <p id="ThreeTextHO"></p>
                        </div>
                        <div id="image-holder3"></div>
                    </div>
                    <br />
                    <div class="alert alert-success"><p><b>Centro</b></p></div>
                    <div class="row">
                        <div class="col-sm-1" style="text-align:right;color:#3c763d"><b>4)</b></div>
                        <div class="col-sm-5">
                            <select id="slFour" name="slFour" class="form-control" onchange="javascript: return functionselectFour();">
                                <option value="-1" selected="selected">Seleccione</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.HO">@item.Title - @item.HO</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <input id="fileFour" name="fileFour" onchange="javascript: return functionfileFour();" class="form-control" type="file" />
                        </div>
                        <br />
                        <br />
                        <div>
                            <p id="FourTextHO"></p>
                        </div>
                        <div id="image-holder4"></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-1" style="text-align:right;color:#3c763d"><b>5)</b></div>
                        <div class="col-sm-5">
                            <select id="slFive" name="slFive" class="form-control" onchange="javascript: return functionselectFive();">
                                <option value="-1" selected="selected">Seleccione</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.HO">@item.Title - @item.HO</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <input id="fileFive" name="fileFive" onchange="javascript: return functionfileFive();" class="form-control" type="file" />
                        </div>
                        <br />
                        <br />
                        <div>
                            <p id="FiveTextHO"></p>
                        </div>
                        <div id="image-holder5"></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-1" style="text-align:right;color:#3c763d"><b>6)</b></div>
                        <div class="col-sm-5">
                            <select id="slSix" name="slSix" class="form-control" onchange="javascript: return functionselectSix();">
                                <option value="-1" selected="selected">Seleccione</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.HO">@item.Title - @item.HO</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <input id="fileSix" name="fileSix" onchange="javascript: return functionfileSix();" class="form-control" type="file" />
                        </div>
                        <br />
                        <br />
                        <div>
                            <p id="SixTextHO"></p>
                        </div>
                        <div id="image-holder6"></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-1" style="text-align:right;color:#3c763d"><b>7)</b></div>
                        <div class="col-sm-5">
                            <select id="slSeven" name="slSeven" class="form-control" onchange="javascript: return functionselectSeven();">
                                <option value="-1" selected="selected">Seleccione</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.HO">@item.Title - @item.HO</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <input id="fileSeven" name="fileSeven" onchange="javascript: return functionfileSeven();" class="form-control" type="file" />
                        </div>
                        <br />
                        <br />
                        <div>
                            <p id="SevenTextHO"></p>
                        </div>
                        <div id="image-holder7"></div>
                    </div>
                    <br />
                    <div class="alert alert-danger"><p><b>Destacada</b></p></div>
                    <div class="row">
                        <div class="col-sm-1" style="text-align:right;color:#a94442"><b>8)</b></div>
                        <div class="col-sm-5">
                            <select id="slEight" name="slEight" class="form-control" onchange="javascript: return functionselectEight();">
                                <option value="-1" selected="selected">Seleccione</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.HO">@item.Title - @item.HO</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <input id="fileEight" name="fileEight" onchange="javascript: return functionfileEight();" class="form-control" onchange="javascript: return fileuplEight()" type="file" />
                        </div>
                        <br />
                        <br />
                        <div>
                            <p id="EightTextHO"></p>
                        </div>
                        <div id="image-holder8"></div>
                    </div>
                    <br />
                    <div class="col-md-6 col-md-offset-3">
                        <button type="submit" id="btnCreateLoadMovies" onclick="javascript: return loadMovies();" class='btn btn-success'><span class='glyphicon glyphicon-floppy-save'></span></button>
                    </div>

                    @if (ViewData["Message"] != null)
                    {
                        <script language="javascript">
                            var message = '@ViewData["Message"]';
                            alert(message);
                            document.location.href = '/LoadMovies/LoadMovies/';
                        </script>
                    }
                </div>
            </div>
        </div>
    </form>
</div>