﻿@model admin_usuarios.Models.TransferViewModel

<div class="page-header">
    <h2>Transferencias de inventario - Items de Caramelería</h2>
</div>

@using (Html.BeginForm("Transfer", "transfers", FormMethod.Post))
{
    <div class="well well-sm">
       <div class="row">
           <div class="col-xs-4">
               <div class="form-group">
                   @foreach (var s in Model.ItemsForSelect)
                {
                    int i = Model.ItemsForSelect.IndexOf(s);
                       @Html.HiddenFor(m => Model.ItemsForSelect[i].itemCode)
                       @Html.HiddenFor(m => Model.ItemsForSelect[i].itemDescription)
                       @Html.HiddenFor(m => Model.ItemsForSelect[i].itemType)
                       @Html.HiddenFor(m => Model.ItemsForSelect[i].itemCode)
                       @Html.HiddenFor(m => Model.ItemsForSelect[i].Quitar)
                       @Html.HiddenFor(m => Model.ItemsForSelect[i].UnidadDeMedida)
                   }
                   <label>Item</label>
                   @Html.DropDownList("item", new SelectList(Model.ItemsForSelect, "itemCode", "itemDescription", "0"), new { @class = "form-control", @id = "item" })
               </div>
           </div>

           <div class="col-xs-2">
               <label>Cantidad</label>
               <input type="number" name="quantity" id="quantity" min="0" class="form-control" />
           </div>
           <div class="col-xs-2">
               <label>Agregar</label>
               <button type="submit" name="action" value="add" class="btn btn-default btn-block"><span class="fa fa-plus-circle"></span></button>
           </div>
           <div class="col-xs-2">
               <label>Enviar Transferencia</label>
               <button type="submit" name="action" value="send" class="btn btn-primary btn-block"><span class="fa fa-check"></span></button>
           </div>
       </div>
        @if (ViewBag.mensaje != null)
        {
            <label class="label label-danger">@ViewBag.mensaje</label>
        }
    </div>

    <h4>Items Seleccionados para esta Transferencia</h4>
    <hr />
    if (Model.ItemsSelected.Count > 0)
    {
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Descripcion</th>
                    <th class="text-right">Cantidad</th>
                    <th class="text-right">Medida</th>
                    <th class="text-center">Remover</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ItemsSelected)
                {
                    int i = Model.ItemsSelected.IndexOf(item);
                    <tr class="@i">
                        
                        <td>@Model.ItemsSelected[i].itemCode</td>
                        <td>@Model.ItemsSelected[i].itemDescription</td>
                        <td class="text-right">@Model.ItemsSelected[i].Quantity.ToString("N0")</td>
                        <td class="text-right">@Model.ItemsSelected[i].UnidadDeMedida</td>
                        @Html.HiddenFor(m => Model.ItemsSelected[i].itemCode)
                        @Html.HiddenFor(m => Model.ItemsSelected[i].itemType)
                        @Html.HiddenFor(m => Model.ItemsSelected[i].itemDescription)
                        @Html.HiddenFor(m => Model.ItemsSelected[i].UnidadDeMedida)
                        @Html.HiddenFor(m => Model.ItemsSelected[i].Quantity)
                        @Html.HiddenFor(m => Model.ItemsSelected[i].Quitar, new {@class ="Quitar"})
                        @Html.HiddenFor(m => Model.ItemsSelected[i].itemType)
                        <th class="text-center"><button type="button" class="btn btn-xs btn-danger btr" id="@i"><span class="fa fa-remove"></span></button></th>
                    </tr>
                }
            </tbody>
        </table>
    }
}
@section scripts{
    <script type="text/javascript">
        $('.btr').click(function () {
            var id = $(this).attr('id');
            var r = $('.' + id);
            $(this).parent().parent().children('.Quitar').val('True')
            r.hide();
        })
    </script>
    }
