﻿@using (Html.BeginForm("VerifyCandiesByTheater", "transfers", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <select id="CinemaId" name="CinemaId" class="form-control">
                <option selected value="0000"><text>Seleccione Un Cine</text></option>
                @*<optgroup label="Pruebas">
                        <option value="PIR1028"><text>La Piramide</text></option>
                    </optgroup>*@
                <optgroup label="Caracas">
                    <option value="LDR1027"><text>Lider</text></option>
                    <option value="LNA1001"><text>Los Naranjos</text></option>
                    <option value="MLN1026"><text>Millenium</text></option>
                    <option value="SAM1005"><text>Sambil Caracas</text></option>
                </optgroup>
                <optgroup label="Barquisimeto">
                    <option value="SBQ1025"><text>Sambil Barquisimeto</text></option>
                </optgroup>
                <optgroup label="Maracaibo">
                    <option value="SMB1017"><text>Sambil Maracaibo</text></option>
                </optgroup>
                <optgroup label="Maracay">
                    <option value="HIP1015"><text>Hiperjumbo</text></option>
                </optgroup>
                <optgroup label="San Cristobal">
                    <option value="SSC1024"><text>Sambil San Cristobal</text></option>
                </optgroup>
                <optgroup label="Valencia">
                    <option value="SVA1014"><text>Sambil Valencia</text></option>
                </optgroup>
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <button id="Buscar" class="btn btn-danger" type="submit">
                <span class="glyphicon glyphicon-search"> Buscar </span>
            </button>
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">
        $('#Buscar').click(function (e) {
            //alert($('#TransactionId').val());
            //alert($('#CinemaId').val());
            if ($('#TransactionId').val() == '' || $('#CinemaId').val() == '0000') {
                alert('Por Favor Introduzca los Datos Correctamente Codigo y Seleccione el Cine');
                e.preventDefault();
            }
        })
    </script>
}
