﻿@model List<admin_usuarios.Models.ItemAndComponets>
@{
    ViewBag.Title = "TransferConfirmation";
}

<style>
    .float {
        position: fixed;
        bottom: 25px;
        right: 25px;
    }
</style>
<div class="page-header">
    <h2>Confirmacion de items para Transferencia de inventario</h2>
    <p class="label label-info">Nota: si existe algun item en color rojo, no podrá procesar la Transferencia.</p>
    <br />
    <p class="label label-info">por favor regrese a la vista anterior y elimine el item que esta en color rojo</p>
</div>

@using (Html.BeginForm("TransferResume", "transfers", FormMethod.Post))
{
    <div class="row">
        @foreach (var item in Model)
        {
            int i = Model.IndexOf(item);
            @Html.HiddenFor(m => Model[i].PrincipalItem.itemCode)
            @Html.HiddenFor(m => Model[i].PrincipalItem.itemDescription)
            @Html.HiddenFor(m => Model[i].PrincipalItem.itemType)
            @Html.HiddenFor(m => Model[i].PrincipalItem.UnidadDeMedida)
            @Html.HiddenFor(m => Model[i].PrincipalItem.Quitar)
            @Html.HiddenFor(m => Model[i].PrincipalItem.Quantity)
            string clase = item.TransferAble == true ? "panel-success" : "panel-danger";
            <div class="col-xs-12">
                <div class="panel @clase">
                    <div class="panel-heading"><b>@item.PrincipalItem.Quantity @item.PrincipalItem.itemDescription</b></div>
                    <div class="panel-body">
                        <table class="table table-responsive table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Descripcion</th>
                                    <th class="text-right">Cantidad Original</th>
                                    <th class="text-right">Cantidad Requerida</th>
                                    <th class="text-right">Stock Disponible</th>
                                    <th class="text-right">Unidad de Medida</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item2 in item.ItemComponents)
                                {
                                    int i2 = item.ItemComponents.IndexOf(item2);
                                    @Html.HiddenFor(m => Model[i].ItemComponents[i2].ComponentDescription)
                                    @Html.HiddenFor(m => Model[i].ItemComponents[i2].ComponentId)
                                    @Html.HiddenFor(m => Model[i].ItemComponents[i2].ComponentOriginalQty)
                                    @Html.HiddenFor(m => Model[i].ItemComponents[i2].ComponentStock)
                                    @Html.HiddenFor(m => Model[i].ItemComponents[i2].UOM)
                                    @Html.HiddenFor(m => Model[i].ItemComponents[i2].MasterID)
                                    decimal r = item2.ComponentOriginalQty;
                                    if (item.PrincipalItem.itemType != null)
                                    {
                                        r = (decimal)item.PrincipalItem.Quantity * item2.ComponentOriginalQty;
                                    }
                                    <tr>
                                        <th>@item2.ComponentDescription</th>
                                        <th class="text-right">@item2.ComponentOriginalQty.ToString("N4")</th>
                                        <th class="text-right">@r.ToString("N4")</th>
                                        <th class="text-right">@item2.ComponentStock.ToString("N4")</th>
                                        <th class="text-right">@item2.UOM</th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="float">
        @{
            string clase2 = "";
            int c = Model.Where(a => a.TransferAble == false).Count();
            if (c > 0)
            {
                clase2 = "disabled";
            }
        }
        <button type="submit" class="btn btn-primary @clase2" @clase2><i class="fa fa-check"></i> Procesar Transferencia</button>
    </div>
            }