﻿@model List<admin_usuarios.Models.ItemComponent>
@{
    ViewBag.Title = "TransferResume";
}

<style>
    .float {
        position: fixed;
        bottom: 25px;
        right: 25px;
    }
</style>

<div class="page-header">
    @if (ViewBag.option == "1")
    {
        <h2>Resumen de la Transferencia</h2>
        <p class="label label-danger">**Los item marcados en ROJO no tienen Cantidad disponible para completar la Transferencia.</p> <br />
        <p class="label label-danger">**Si existe un item en color ROJO el boton de traslados estará deshabilitado.</p>
    }
    else
    {
        <h2>Resultado del Traslado</h2>
        if (ViewBag.mensaje != null)
        {
            <label class="label label-danger">@ViewBag.mensaje</label>
        }
        else
        {
            <label class="label label-success">**Resusltados de la Transferencia por item.</label> <br />
            <h2 id="NoRecargar">
                <label class="label label-danger">Por favor no recargue esta página.</label>
            </h2>
        }

    }
</div>

<hr />

@using (Html.BeginForm("TransferConfirm", "transfers", FormMethod.Post))
{
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Descripción</th>
                        <th class="text-right">Cantidad Requerida</th>
                        <th class="text-right">Cantidad disponible</th>
                        <th class="text-right">Unidad de Medida</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        int i = Model.IndexOf(item);
                        string clase = item.ComponentOriginalQty > item.ComponentStock ? "danger" : "";
                        @Html.HiddenFor(m => Model[i].ComponentDescription)
                        @Html.HiddenFor(m => Model[i].ComponentId)
                        @Html.HiddenFor(m => Model[i].ComponentOriginalQty)
                        @Html.HiddenFor(m => Model[i].ComponentStock)
                        @Html.HiddenFor(m => Model[i].MasterID)
                        @Html.HiddenFor(m => Model[i].UOM)

                        <tr class="@clase">
                            <td>@item.ComponentId</td>
                            <td>@item.ComponentDescription</td>
                            <td class="text-right">@item.ComponentOriginalQty.ToString("N4")</td>
                            <td class="text-right">@item.ComponentStock.ToString("N4")</td>
                            <td class="text-right">@item.UOM</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h2 class="modal-title" id="exampleModalLongTitle">Ejecutando la Transferencia</h2>
                </div>
                <div class="modal-body text-center">
                    <h2>
                        <label class="label label-danger">Por favor no recargue la página.</label>
                    </h2>
                    <i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
                    <h2>
                        <label class="label label-danger">Por favor no recargue la página.</label>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    if (ViewBag.option == "1")
    {
        <div class="float">
            @{
                string clase2 = "";
                int c = Model.Where(a => a.ComponentOriginalQty > a.ComponentStock).Count();
                if (c > 0)
                {
                    clase2 = "disabled";
                }
            }
            <button type="submit" id="btnsub" class="btn btn-success @clase2" @clase2><i class="fa fa-check"></i> Ejecutar Transferencia</button>
        </div>
    }
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            setInterval(function () {
                $('#NoRecargar').animate({
                    opacity: .5
                }, 'fast').animate({
                    opacity: 1,
                });
                $('#NoRecargar').animate({
                    opacity: .5
                }, 'fast').animate({
                    opacity: 1,
                });
            }, 1000)
        })

        $("#btnsub").click(function (e) {
            //e.preventDefault();
            $("#exampleModalCenter").modal({
                'backdrop': 'static',
                'keyboard': false
            });
        });
    </script>
}
