﻿@model List<admin_usuarios.Models.ItemAndComponets>
@{
    ViewBag.Title = "VerifyCandies";
}
<div class="page-header">
    <h2>Items de carameleria disponibles en la WEB</h2>
</div>
@if (Model.Count <= 0)
{
    <div class="alert alert-info">
        <p>No existe Disponibilidad de Carameleria en la WEB para este cine.</p>
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-12">
            <label class="label label-success">Items de la web</label>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Item</td>
                        <td>Descripción</td>
                        <td class="text-right">Disponible</td>
                        <td class="text-right">Medida</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.PrincipalItem.itemCode</td>
                            <td>@item.PrincipalItem.itemDescription</td>
                            <td class="text-right">@item.PrincipalItem.Quantity</td>
                            <td class="text-right">@item.PrincipalItem.UnidadDeMedida</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />
        <div class="col-xs-12">
            <label class="label label-success">Resumen de Componentes para los items anteriores</label>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <td>Item</td>
                        <td>Descripción</td>
                        <td class="text-right">Cantidad</td>
                        <td class="text-right">Medida</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        List<admin_usuarios.Models.ItemComponent> li = new List<admin_usuarios.Models.ItemComponent>();
                        foreach (var item in Model)
                        {
                            foreach (var i in item.ItemComponents)
                            {
                                li.Add(i);
                            }
                        }

                        var lista = li.GroupBy(l => l.MasterID).Select(y => new admin_usuarios.Models.ItemComponent
                        {
                            ComponentDescription = y.First().ComponentDescription,
                            ComponentId = y.First().ComponentId,
                            ComponentStock = y.First().ComponentStock,
                            ComponentOriginalQty = y.Sum(q => q.ComponentOriginalQty),
                            MasterID = y.First().MasterID,
                            UOM = y.First().UOM
                        }).ToList();

                        foreach (var item in lista)
                        {
                            <tr>
                            <td>@item.ComponentId</td>
                            <td>@item.ComponentDescription</td>
                            <td class="text-right">@item.ComponentOriginalQty</td>
                            <td class="text-right">@item.UOM</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
                        }


