﻿@model List<admin_usuarios.Models.TransferItem>
@{
    ViewBag.Title = "VerifyCandies";
    //WebGrid webGrid = new WebGrid(Model, rowsPerPage: 20);
}
<div class="page-header">
    <h2>Items de carameleria disponibles en la WEB</h2>
</div>
@if (Model.Count <= 0)
{
    <div class="alert alert-info">
        <p>No existe Disponibilidad de Carameleria en la WEB para este cine.</p>
    </div>
}
else
{
    @*<section>
        @webGrid.GetHtml(tableStyle: "table table hover")
    </section>*@
    <div class="row">
        <div class="col-xs-12">
            <label class="label label-success">Items de la web</label>
            <label class="label label-info">@ViewBag.CineOfConsulting</label>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Item</td>
                        <td>Descripción</td>
                        <td class="text-right">Disponible</td>
                        <td class="text-right">Medida</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderByDescending(t => t.Quantity).ToList())
                    {
                        <tr>
                            <td>@item.itemCode</td>
                            <td>@item.itemDescription</td>
                            <td class="text-right">@item.Quantity</td>
                            <td class="text-right">@item.UnidadDeMedida</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />

    </div>
}
