﻿@model List<admin_usuarios.Models.ReverseViewModel>
@{
    ViewBag.Title = "WebToPre";
}

<div class="page-header">
    <h2>Transferencia de inventarios - Almacén WEB a Predespacho</h2>
</div>

@if (ViewBag.error != null)
{
    <label class="label label-danger">@ViewBag.error</label>
}

<div class="row">
    @if (Model.Count <= 0)
    {
        <div class="alert alert-info">
            <p>No hay Caramelería disponibe en la web</p>
        </div>
    }
    else
    {
        <div class="col-xs-12">
            @using (Html.BeginForm("VerifyWebToPre", "transfers", FormMethod.Post))
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Codigo</td>
                            <td>Descrpción</td>
                            <td>Medida</td>
                            <td class="text-right">Disponible</td>
                            <td>Transferir</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                    {
                        int i = Model.IndexOf(item);
                            @Html.HiddenFor(m => Model[i].itemCode)
                            @Html.HiddenFor(m => Model[i].itemDescription)
                            @Html.HiddenFor(m => Model[i].itemType)
                            @Html.HiddenFor(m => Model[i].Quitar)
                            @Html.HiddenFor(m => Model[i].UnidadDeMedida)
                            @Html.HiddenFor(m => Model[i].AviableToReverse)
                            <tr>
                                <td>@item.itemCode</td>
                                <td>@item.itemDescription</td>
                                <td>@item.UnidadDeMedida</td>
                                <td class="text-right">@item.AviableToReverse</td>
                                <td>@Html.TextBoxFor(m => Model[i].Quantity, new { @class = "form-control", @type = "number", @min = "0", @max = Model[i].AviableToReverse })</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="submit">Procesar Transferencia</button>
            }
        </div>
    }

</div>
