﻿@model DatosBoleto
@using (Html.BeginForm("ConsultaBoleto", "Home", FormMethod.Post))
{
    <div class="container consultaboleto">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="col-xs-12 col-md-12">
                    <h2>Ingresa tu n&uacute;mero de c&oacute;digo digital</h2>
                    <h4>Ejemplo: 1012300074574039</h4>
                </div>
                <div class="col-xs-12 col-md-6">
                    @*Principal*@
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">N&uacute;mero</span>
                        <input id="Stock_strBarcode" type="text" name="Stock_strBarcode" class="form-control" placeholder="" aria-describedby="basic-addon1">
                    </div>
                    <br>
                    <input type="submit" name="Stock_strBarcode" value="Enviar" id="Enviar" class="btn btn-default">
                    @*<input type="reset" name="" value="Borrar" id="Limpiar" class="btn btn-default">*@
                </div>
                <div class="col-xs-12 col-md-12" style="padding: 0px;">
                    <br>
                    @*Lateral*@
                    @if (Model != null)
                    {
                        if (Model.CodUtilizado) //Boleto Utilizado
                        {
                            <div class="col-xs-12 col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item"><b>Codigo Digital: </b>@Model.Stock_strBarcode</li>
                                    <li class="list-group-item"><b>Cine: </b>@Model.sName</li>
                                    <li class="list-group-item"><b>Taquilla: </b>@Model.Workstation_strCode</li>
                                    <li class="list-group-item"><b>Fecha de Transacci&oacute;n: </b>@Model.Redeemed_dtmUpdated.ToString("dd/MM/yyyy h:mm tt")</li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item"><b>Funci&oacute;n: </b>@Model.Redeemed_strDescription</li>
                                    <li class="list-group-item"><b>Hora de Funcion: </b>@Model.Session_dtmRealShow.ToString("dd/MM/yyyy h:mm tt")</li>
                                    <li class="list-group-item"><b>Usuario: </b>@Model.User_intUserNo</li>
                                    @if (Model.IsMultiVoucher)
                                    {
                                        <li class="list-group-item"><b>Estado: </b>@Model.Error <span class="badge">@string.Format("Quedan: {0}/{1}",Model.EntradasRestantes, Model.NumeroEntradas)</span></li>
                                    }
                                    else
                                    {
                                        <li class="list-group-item"><b>Estado: </b>@Model.Error</li>
                                    }
                                </ul>
                            </div>
                        }
                        else if (Model.BoletoNoValido && !Model.CodUtilizado && !Model.BoletoVencido) //Boleto valido sin usar
                        {
                            <div class="col-xs-12 col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item"><b>Codigo Digital: </b>@Model.Stock_strBarcode</li>
                                    <li class="list-group-item"><b>Estado: </b>@Model.Error</li>
                                </ul>
                            </div>
                        }
                        else // Boleto Vencido
                        {
                            <div class="col-xs-12 col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item"><b>Codigo Digital: </b>@Model.Stock_strBarcode</li>
                                    <li class="list-group-item"><b>Fecha de Vencimiento: </b>@Model.dExpiryDate.ToString("dd/MM/yyyy h:mm tt")</li>
                                    <li class="list-group-item"><b>Estado: </b>@Model.Error</li>
                                    <li></li>
                                </ul>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
}

