﻿@using (Html.BeginForm("Desorden", "Home", FormMethod.Post))
{
    <div class="container desorden">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title-3">
                    Descarga Ska mundo Ska
                </h1>
                <hr />
                <div class="col-xs-12 text-center">
                    @if (ViewBag.Mensaje != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.Mensaje
                        </div>
                    }
                </div>
                <div class="desorden-description col-xs-12 col-md-8">
                    <p class="text-justify">
                        Con tu entrada de <b>Venezuela es un Desorden</b> descarga el tema SKA MUNDO SKA, versión en vivo del concierto en Panamá.
                    </p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <img class="desorden-logo" src="https://cinesunidosweb.blob.core.windows.net/mercadeo/DesordenPublicoLogo.png" alt="Logo Desorden" />
                </div>
            </div>
            <div class="col-xs-12 col-md-4 desorden-step">
                <h2 class="subtitle-2">Paso 1</h2>
                <img src="https://cinesunidosweb.blob.core.windows.net/mercadeo/Localizador.jpg" alt="Localizador" style="width:125px;height:auto;">
                <img src="https://cinesunidosweb.blob.core.windows.net/mercadeo/Auditoria.jpg" alt="Auditoria" style="width:125px;height:auto;">
                <p class="desorden-step__text">
                    Ingresa el Localizador de tu compra web <br> o el c&oacute;digo “Auditor&iacute;a” de tu entrada.
                </p>
                <input id="TransactionId" type="text" name="TransactionId" required />
            </div>
            <div class="col-xs-12 col-md-4 desorden-step">
                <h2 class="subtitle-2">Paso 2</h2>
                <img src="https://cinesunidosweb.blob.core.windows.net/mercadeo/MovieTheater.png" alt="..." style="width:125px;height:auto;">
                <p class="desorden-step__text">Selecciona el cine<br> donde viste la funci&oacute;n:</p>
                <select id="CinemaId" name="CinemaId" class="form-control">
                    <option selected value="0000"><text>Seleccione Un Cine</text></option>
                    @*<optgroup label="Pruebas">
                        <option value="1028"><text>La Piramide</text></option>
                    </optgroup>*@
                    <optgroup label="Caracas">
                        <option value="1008"><text>El Marques</text></option>
                        <option value="1020"><text>Galerias Avila</text></option>
                        <option value="1009"><text>Galerias Paraiso</text></option>
                        <option value="1027"><text>Lider</text></option>
                        <option value="1001"><text>Los Naranjos</text></option>
                        <option value="1002"><text>Metrocenter</text></option>
                        <option value="1026"><text>Millenium</text></option>
                        <option value="1005"><text>Sambil Caracas</text></option>
                    </optgroup>
                    <optgroup label="Barquisimeto">
                        <option value="1025"><text>Sambil Barquisimeto</text></option>
                        <option value="1006"><text>Trinitarias</text></option>
                    </optgroup>
                    <optgroup label="Guatire">
                        <option value="1003"><text>Guatire Plaza</text></option>
                    </optgroup>
                    <optgroup label="Maracaibo">
                        <option value="1016"><text>Metrosol</text></option>
                        <option value="1017"><text>Sambil Maracaibo</text></option>
                    </optgroup>
                    <optgroup label="Maracay">
                        <option value="1015"><text>Hiperjumbo</text></option>
                        <option value="1010"><text>Las Americas</text></option>
                    </optgroup>
                    <optgroup label="Maturin">
                        <option value="1007"><text>Petroriente</text></option>
                    </optgroup>
                    <optgroup label="Margarita">
                        <option value="1021"><text>Margarita</text></option>
                    </optgroup>
                    <optgroup label="Puerto La Cruz">
                        <option value="1019"><text>Regina</text></option>
                    </optgroup>
                    <optgroup label="Puerto Ordaz">
                        <option value="1023"><text>Orinokia</text></option>
                    </optgroup>
                    <optgroup label="San Cristobal">
                        <option value="1024"><text>Sambil San Cristobal</text></option>
                    </optgroup>
                    <optgroup label="Valencia">
                        <option value="1011"><text>Metropolis</text></option>
                        <option value="1013"><text>La Granja</text></option>
                        <option value="1014"><text>Sambil Valencia</text></option>
                    </optgroup>
                </select>
            </div>
            <div class="col-xs-12 col-md-4 desorden-step">
                <h2 class="subtitle-2">Paso 3</h2>
                <img src="https://cinesunidosweb.blob.core.windows.net/mercadeo/DownloadMusicLogo.png" alt="..." style="width:125px;height:auto;">
                <p class="desorden-step__text">Descarga <br />Ska Mundo Ska</p>
                <button id="Enviar" type="submit" class="btn btn-success"><i class="fa fa-download fa-2x"></i></button>
            </div>

        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        $('#Enviar').click(function (e) {
            //alert($('#TransactionId').val());
            //alert($('#CinemaId').val());
            if ($('#TransactionId').val() == '' || $('#CinemaId').val() == '0000') {
                alert('Por Favor Introduzca los Datos Correctamente Codigo y Seleccione el Cine');
                e.preventDefault();
            }
        })
    </script>
}
