@model MovieBillboard
@section scripts{
    <script src="~/Scripts/bardays.js"></script>
    <script>
        function getMovieId() {
            var movieId = '@ViewContext.RouteData.Values["movieId"]';
         return movieId;
     }
    </script>
}
@{
    string city = ViewBag.City as string;
}
<div class="container">
    <article>
        <div class="barra_peli_detalle">
            <div class="tit_detalle_peli">
                <h2>@Model.Movie.Title</h2>
            </div>
            @Html.BarDays("Search", "Home", city, Model.Movie.Id, Model.Dates, "mod_pelivelomiddias_detalle")
        </div>
        <div class="cont_detalle_peli">
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="cont_det_peli">
                    <div class="img_det_peli">
                        <img src="@UrlMaker.ToPoster(Model.Movie.Id)" class="img-responsive">
                        <p>@Model.Movie.Sinopsis</p>
                    </div>
                    <div class="cont_funcion_detalle">
                        <div class="funcion_detalle">@Model.Movie.Information.ToString().ToUpper()</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <div id="M_@Model.Movie.Id" class="horarios_detalle_peli">

                    <ul class="mod_detalle_peli">
                        <li class="hidden-xs">
                            <span class="ciudad_detalle">&nbsp;</span>
                            <span class="hora_detalle">&nbsp;</span>
                            <span class="sala_detalle">&nbsp;</span>
                            <span class="head_censura pull-right">censura</span>
                        </li>
                        @{Html.RenderPartial("Sessions", Model);}
                    </ul>
                </div>
            </div>
        </div>
    </article>
</div>