@{string city = ViewBag.City as string;}

@* HOJA DE ESTILOS *@
@section styles {
    <link rel="stylesheet" href="~/Content/styles/promotion_v0.0.1.css">
    <style>


        .container3 {
            /*width: 1140px;
        height: 350px;*/
            width: 100%;
            overflow: hidden;
            background: url(background.jpg);
            background-attachment: none;
        }


        .container4 {
            /*width: 1140px;
        height: 350px;*/
            width: 100%;
            overflow: hidden;
            background: url(https://az693035.vo.msecnd.net/mercadeo/diversion/fondo.png);
            background-attachment: none;
        }

        .mixBlnd {
            background-blend-mode: screen;
        }
    </style>

}

<div class="container">
    <input type="hidden" id="city" value="@city" />
    <button id="btn_modal" type="button" class="hidden" data-toggle="modal" data-target="#popup"></button>


    @* ---   BANNER PREVENTA   --- *@
    @{ Html.RenderAction("Slider", "Home", new { city = city }); }

    <section id="container-presale" class="presale">
        <div class="container4 img img-responsive" style="align:center;">
            <div @*id="pad1"*@>
                <a href="https://www.cinesunidos.com/Cines/@city">
                    <div id="pad1">
                        <img src="https://az693035.vo.msecnd.net/mercadeo/Paso_Mercantil.jpg" alt="Paso para pagar con Banco Mercantil" />
                    </div>
                    <div id="pad2" class="hide">
                        <img src="https://az693035.vo.msecnd.net/mercadeo/Promo_Mercantil.jpg" alt="Nueva forma de pago con Banco Mercantil" />
                    </div>
                    @*<div id="sceneFriday">
            <div class="layer" data-depth="0.02">
                <img src="https://az693035.vo.msecnd.net/mercadeo/diversion/iconos.png">
            </div>
            <div class="layer" data-depth="0.01">
                <img src="https://az693035.vo.msecnd.net/mercadeo/diversion/Destello.png">
            </div>
            <div class="layer" data-depth="0.3">
                <img src="https://az693035.vo.msecnd.net/mercadeo/diversion/combo.png">
            </div>
            <div class="layer" data-depth="0.5">
                <img src="https://az693035.vo.msecnd.net/mercadeo/diversion/legal.png">
            </div>
            <div class="layer" data-depth="0.5">
                <img src="https://az693035.vo.msecnd.net/mercadeo/diversion/precio2.png">
            </div>
            <div class="layer" data-depth="0.5">
                <img src="https://az693035.vo.msecnd.net/mercadeo/diversion/tituloc.png">
            </div>
            <div class="layer" data-depth="0.5">
                <img src="https://az693035.vo.msecnd.net/mercadeo/diversion/titulo2.png">
            </div>
            <div class="layer" data-depth="0.2">
                <img src="https://az693035.vo.msecnd.net/mercadeo/diversion/titulo3.png">
            </div>
            <div class="layer" data-depth="0.4">
                <img src="https://az693035.vo.msecnd.net/mercadeo/diversion/vasos2.png">
            </div>
        </div>*@
                </a>
            </div>
        </div>
    </section>
    @* ---   BANNERS   --- *@
    <section id="" class="advertising">


        <article class="advertising-item">
            <!--  <div id='div-gpt-ad-1418761965522-0'>
                <script type='text/javascript'>
                    googletag.cmd.push(function () { googletag.display('div-gpt-ad-1418761965522-0'); });
                </script>
            </div>-->
            <div id="pad12">
                <a target="_blank" href="https://www.instagram.com/tv/B5iUOYzFri8/?hl=es-la">
                    <img src="https://az693035.vo.msecnd.net/mercadeo/GuerraBrillante.jpg" alt="Una Guerra Brillante" />
                </a>
            </div>
        </article>

        <article id="pad" class="advertising-item">
            <div id="pad11">
                <a id="apad1" target="_blank" href="https://vippo.mobi/es_ve/home/">
                    <img src="https://az693035.vo.msecnd.net/mercadeo/BannerVippov2.jpg" alt="Vippo" />
                </a>
            </div>
            <div id="pad13" class="hide">
                <a target="_blank" href="https://www.instagram.com/tv/B7OTU48lLU4/?hl=es-la ">
                    <img src="https://az693035.vo.msecnd.net/mercadeo/reina_delas_nieves_banner_CU.jpg" alt="Juan" />
                </a>
            </div>
            @*<div id="pad3" class="hide">
                    <a target="_blank" href="https://academiavenezolanadecine.com/la-ceremonia-que-reconoce-lo-mejor-del-cine-nacional-sera-el-14-de-agosto/">
                        <img src="https://az693035.vo.msecnd.net/mercadeo/ACACVBanner.jpg" alt="ACACV" />
                    </a>
                </div>*@
        </article>

        @* ---   PUBLICIDAD INTERNA DE GOOGLE-AD-MANAGER (Mercadeo)   ---  *@
        <article class="advertising-item">
            <div id='div-gpt-ad-1418761965522-1'>
                <script type='text/javascript'>
                    googletag.cmd.push(function () { googletag.display('div-gpt-ad-1418761965522-1'); });
                </script>
            </div>
        </article>

    </section>

    @* ---   SECCION DE PELICULAS   --- *@
    @{ Html.RenderAction("MoreMovie", "Home", new { city = city }); }

    @* ---   POPUP   --- *@
    @*Ventana modal para promociones en pagina principal, de este modo puden convivir los mensajes globales del CMS y los popups promocionales sin tener agregar un controlador y una vista*@
    @*<div id="popup" class="modal fade container-promo" role="dialog">
            <div class="">
                <div class="modal-content">
                    <div class="modal-contentpromo-3x2 ">
                        <div>
                            <button style="background-color: red!important;" type="button" class="btn btn-danger promo-close" data-dismiss="modal">X</button>
                        </div>
                        <a target="_blank" href="https://vippo.mobi/es_ve/home/">
                            <img class="modal-image img-responsive" src="https://az693035.vo.msecnd.net/mercadeo/ViPPOPopUp2.jpg" alt="ViPPO">
                        </a>
                    </div>
                </div>
            </div>
        </div>*@

</div>

@* ---   SECCION DE SCRIPT   --- *@
@section Scripts
{
    @* ---   LLAMADOS DE SCRIPTS   --- *@
    <script src="~/Scripts/js_home.js"></script>
    <script src="~/Scripts/bardays.js"></script>
    <script src="~/Scripts/promotion.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/parallax.js"></script>
    <script>

        var sceneFriday = document.getElementById('sceneFriday');
        var parallax = new Parallax(sceneFriday);

        var fieldcity = document.getElementById("ciudad_id");
        var paramcity = document.getElementById("ciudad_id");
        var cityTxt = paramcity.options[paramcity.selectedIndex].text;

        $("a#midway").attr("href", "https://www.cinesunidos.com/" + "Pelicula/" + cityTxt + "/HO00003993");
        $("a#blindado").attr("href", "https://www.cinesunidos.com/" + "Pelicula/" + cityTxt + "/HO00003967");
        $("a#estafadoras").attr("href", "https://www.cinesunidos.com/" + "Pelicula/" + cityTxt + "/HO00003990");
        //$("#apad1").attr("href", "https://www.cinesunidos.com/" + "Pelicula/" + cityTxt + "/HO00003976");

    </script>
    @*<script language="javascript">
                function bannerButton() {
                    var fieldcity = document.getElementById("ciudad_id");
                    var paramcity = document.getElementById("ciudad_id");
                    var cityTxt = paramcity.options[paramcity.selectedIndex].text;
                  //  var UrlImg = "<img src=\"https://az693035.vo.msecnd.net/mercadeo/FantasticBeasts2.jpg\" alt=\"Animales Fantasticos 2\" class=\"img-responsive\" id=\"switch2\" />";   /*Se Coloca la Image dentro de la Url para ser concatenado a la pelicula de preventa */
                    var cityVal = paramcity.options[paramcity.selectedIndex].value;
                    document.getElementById("pad1").innerHTML = "<a href=\"https://www.cinesunidos.com/Pelicula/" + cityTxt + "/HO00003734\" >" + UrlImg + "</a>";
                    //document.getElementById("pad1").innerHTML = '<a class=\"btn btn-lg\ href=\"https://localhost:15766/Pelicula/"' + cityTxt +' "/HO00003734\" ></a><img src="https://az693035.vo.msecnd.net/mercadeo/FantasticBeasts2.jpg" alt="Animales Fantasticos 2" class="img-responsive" id="switch2" />';
                    ////document.getElementById("pad5").innerHTML = "<a class=\"btn btn-lg\" href=\"https://www.cinesunidos.com/Pelicula/" + cityTxt + "/HO00003734\" >COMPRA YA TUS ENTRADAS</a>"'<img src="https://az693035.vo.msecnd.net/mercadeo/FantasticBeasts2.jpg" alt="Animales Fantasticos 2" class="img-responsive" id="switch2" />';
                }
        </script>*@

    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>  LLAMANDO A LA LIBRERIA "PARALLAX.JS" *@

    @* ---   SCRIPT BANNER PREVENTA   --- *@
    @*<script type="text/javascript">
            $(document).ready(function () {

                /* FUNCIONES DEL PARALLAX */
                var scene = document.getElementById('scene');
                var parallaxInstance = new Parallax(scene);

                var screenWidth = window.innerWidth;
                if (screenWidth < 768) {
                    // CARGANDO IMAGEN PARA VISTA "MOBIL"
                    $("#presale-js").attr({
                        src: "https://az693035.vo.msecnd.net/mercadeo/HobbsAndShawMobile.jpg",
                        title: "R\u00e1pidos y Furiosos: Hobbs & Shaw",
                        alt: "R\u00e1pidos y Furiosos: Hobbs & Shaw"
                    });
                } else {
                    // CARGANDO IMAGEN PARA VISTA "DESKTOP"
                    $("#presale-js").attr({
                        src: "https://az693035.vo.msecnd.net/mercadeo/Parallax/Background.jpg",
                        title: "R\u00e1pidos y Furiosos: Hobbs & Shaw",
                        alt: "R\u00e1pidos y Furiosos: Hobbs & Shaw"
                    });
                }

                $('#container-presale').removeClass('hide');
                window.onresize = function () {
                    var screenWidth = window.innerWidth;
                    if (screenWidth < 768) {
                        // CARGANDO IMAGEN PARA VISTA "MOBIL"
                        $("#presale-js").attr({
                            src: "https://az693035.vo.msecnd.net/mercadeo/HobbsAndShawMobile.jpg",
                            title: "R\u00e1pidos y Furiosos: Hobbs & Shaw",
                            alt: "R\u00e1pidos y Furiosos: Hobbs & Shaw"
                        });
                    } else {
                        // CARGANDO IMAGEN PARA VISTA "DESKTOP"
                        $("#presale-js").attr({
                            src: "https://az693035.vo.msecnd.net/mercadeo/Parallax/Background.jpg",
                            title: "R\u00e1pidos y Furiosos: Hobbs & Shaw",
                            alt: "R\u00e1pidos y Furiosos: Hobbs & Shaw"
                        });
                    }
                };
                 // DISPARA EL MODAL AL TERMINAR DE CARGARSE EL DOCUMENTO
                //$('#popup .modal-header').css({
                //    'padding-top': '2px',
                //    'padding-bottom': '0px',
                //    'text-align': 'right'
                //})
                //$('#btn_modal').click();
            })
        </script>*@

    @{
        //Script para hacer que los baners publicitario roten.. Script que realiza la rotacion entre los diferentes banner colocados
        <script type="text/javascript">
            $(document).ready(function () {
                // DISPARA EL MODAL AL TERMINAR DE CARGARSE EL DOCUMENTO
                $('#popup .modal-header').css({
                    'padding-top': '2px',
                    'padding-bottom': '0px',
                    'text-align': 'right'
                })
                $('#btn_modal').click();
            })

            //function MostrarBaner3() {
            //    $('#promotion1').removeClass('hide');
            //    $('#x').removeClass('hide');
            //    $('#pad1').removeClass('hide');
            //    $('#promotion2').addClass('hide');
            //    $('#y').addClass('hide');
            //    $('#pad2').addClass('hide');
            //    $('#pad3').addClass('hide');
            //};
            function MostrarBaner4() {
                $('#pad1').addClass('hide');
                //$('#pad2').addClass('hide');
                //$('#pad1').addClass('hide');
                $('#pad2').removeClass('hide');
                //$('#y').removeClass('hide');
                //$('#pad11').removeClass('hide');
                //$('#pad13').addClass('hide');
            };
            function MostrarBaner3() {
                //$('#pad1').addClass('hide');
                $('#pad1').removeClass('hide');
                $('#pad2').addClass('hide');
            };
            $(document).ready(function () {
                setInterval(function () {
                    setTimeout('MostrarBaner4();', 0);
                    setTimeout('MostrarBaner3();', 15000);
                    //setTimeout('MostrarBaner3();', 8000);
                }, 30000);
            })
        </script>

        @*<script type="text/javascript">
                function MostrarBaner1() {
                    $('#pad1').removeClass('hide');
                    $('#pad2').addClass('hide');
                };
                function MostrarBaner2() {
                    $('#pad1').addClass('hide');
                    $('#pad2').removeClass('hide');
                };
                $(document).ready(function () {
                    setInterval(function () {
                        setTimeout('MostrarBaner1();', 0);
                        setTimeout('MostrarBaner2();', 4000);
                    }, 8000);
                })
            </script>*@

    }
}

@* |----------------------------------------| CODIGO VIEJO |----------------------------------------| *@

@*
    <script type="text/javascript">
            function MostrarBaner1() {
                $('#pad1').removeClass('hide');
                $('#pad2').addClass('hide');
                $('#pad3').addClass('hide');
            };
            function MostrarBaner2() {
                $('#pad1').addClass('hide');
                $('#pad2').removeClass('hide');
                $('#pad3').addClass('hide');
            };
            function MostrarBaner3() {
                $('#pad1').addClass('hide');
                $('#pad2').addClass('hide');
                $('#pad3').removeClass('hide');
            };
            $(document).ready(function () {
                setInterval(function () {
                    setTimeout('MostrarBaner1();', 0);
                    setTimeout('MostrarBaner2();', 5000);
                    setTimeout('MostrarBaner3();', 10000);
                }, 15000);
            })
        </script>
*@

@*
    //Determinar el dia de la semana para luego ver que banner corresponde mostrar de forma dinámica
    //DateTime LocalDate = DateTime.Now.ToUniversalTime();
    //TimeZoneInfo TimeZone = TimeZoneInfo.FindSystemTimeZoneById("Venezuela Standard Time");
    //LocalDate = TimeZoneInfo.ConvertTimeFromUtc(LocalDate, TimeZone);
    //bool ActivarCondicion = true;
    //string Banner = string.Empty;
    //string PopUp = string.Empty;
    ////switch (LocalDate.DayOfWeek)
    ////{
    ////    case DayOfWeek.Monday:
    ////        break;
    ////    case DayOfWeek.Tuesday:
    ////        break;
    ////    case DayOfWeek.Wednesday:
    ////        break;
    ////    case DayOfWeek.Thursday:
    ////        break;
    ////    case DayOfWeek.Friday:
    ////        break;
    ////    case DayOfWeek.Saturday:
    ////        break;
    ////    case DayOfWeek.Sunday:
    ////        //PopUp = "PayrepayPopUp.jpg";
    ////        break;
    ////}
    ////if (ActivarCondicion.Equals(true))
    ////{
*@

@*se realizo este body load con el fin de llamar a una función javascript la cual permite dibujar un boton
    en el banner de preventa y al oprimir el boton este se redirige hacia la función de la preventa segun la ciudad
    que se haya elegido combobox de las ciudades
*@

@*
    <body onload="bannerButton()">
    </body>
*@

@*Script para Preventa de Peliculas segun la ciudad *@
@*
    <script language="javascript">
        function bannerButton() {
            var fieldcity = document.getElementById("ciudad_id");
            var paramcity = document.getElementById("ciudad_id");
            var cityTxt = paramcity.options[paramcity.selectedIndex].text;
            var UrlImg = "<img src=\"https://az693035.vo.msecnd.net/mercadeo/FantasticBeasts2.jpg\" alt=\"Animales Fantasticos 2\" class=\"img-responsive\" id=\"switch2\" />";   /*Se Coloca la Image dentro de la Url para ser concatenado a la pelicula de preventa */
            var cityVal = paramcity.options[paramcity.selectedIndex].value;
            document.getElementById("pad1").innerHTML = "<a href=\"https://www.cinesunidos.com/Pelicula/" + cityTxt + "/HO00003734\" >" + UrlImg + "</a>";
            //document.getElementById("pad1").innerHTML = '<a class=\"btn btn-lg\ href=\"https://localhost:15766/Pelicula/"' + cityTxt +' "/HO00003734\" ></a><img src="https://az693035.vo.msecnd.net/mercadeo/FantasticBeasts2.jpg" alt="Animales Fantasticos 2" class="img-responsive" id="switch2" />';
            ////document.getElementById("pad5").innerHTML = "<a class=\"btn btn-lg\" href=\"https://www.cinesunidos.com/Pelicula/" + cityTxt + "/HO00003734\" >COMPRA YA TUS ENTRADAS</a>"'<img src="https://az693035.vo.msecnd.net/mercadeo/FantasticBeasts2.jpg" alt="Animales Fantasticos 2" class="img-responsive" id="switch2" />';
        }
    </script>
*@
@*<div><iframe src='//www.thehungergames-network.com/mockingjay-part1/mopo/intl/mx/index.php' width='424' height='776' border='0' frameborder='0'></iframe></div>*@
@*@{ Html.RenderAction("PreventaAvengers", "Home", new { city = city }); }*@
@*@{ Html.RenderPartial("Promotion", new { city = city }); }*@
@*@{ Html.RenderAction("Promotion", "Home", new { city = city }); }*@
@* seccion para banners publicitarios, se renderizan justo debajo del slider *@
@*<div class="row">
         <div class="peliculas-bottom">
             <a target="_self" href="/Promociones/">
                 <img class="img-responsive" src="https://az693035.vo.msecnd.net/mercadeo/1366-X-279-COMBO-BOLETO.jpg" alt="De la Web a tu Pel&iacute;cula">
             </a>
         </div>
    </div>*@
@*<div class="row">
        <div class="peliculas-bottom">
            <img class="img-responsive" src="https://az693035.vo.msecnd.net/mercadeo/BANNER-WEB3.jpg" alt="De la Web a tu Pel&iacute;cula">
            <a target="_self" href="@Url.Action("Index", "Quiniela", null)">
                <img class="img-responsive" src="https://az693035.vo.msecnd.net/mercadeo/Bannerquinielaanimado.gif" alt="Quiniela Cines unidos">
            </a>
        </div>
    </div>*@
@* Seccion de banners y botones para preventas *@
@*<div class="row peliculas-bottom" id="thor">
        <img class="img-responsive" src="https://az693035.vo.msecnd.net/mercadeo/Banner-Cincuenta-Sombras-Liberadas-Pre-Venta.jpg"  alt="Cincuenta Sombras Liberadas">
        <div id="botonesprom" class="col-xs-4 col-xs-offset-8">
            <div class="btn-group btn-group-lg">
        <a class="btn btn-info btn-xs" href="https://www.cinesunidos.com/Pelicula/Caracas/HO00003546">ESP</a>
            <a class="btn btn-info btn-xs" href="https://www.cinesunidos.com/Pelicula/Caracas/HO00003547">ESP 3D</a>
        <a class="btn btn-lg" href="https://www.cinesunidos.com/Pelicula/Caracas/HO00003542">COMPRA YA TUS ENTRADAS</a>
                <a class="btn btn-lg" onclick="javascript: return btnCity();">COMPRA YA TUS ENTRADAS</a>
                <a id="bannercity"></a>
        </div>
            </div>
    </div>*@
@*<div class="peliculas-bottom" id="pad">
        <div class="row peliculas-bottom" id="pad1">
            <img src="https://az693035.vo.msecnd.net/mercadeo/AquamanBanner.jpg" alt="Aquaman" class="img-responsive" id="switch2" />
            <div id="botonesprom" class="text-center">
                <a href="https://www.cinesunidos.com/Pelicula/@city/HO00003761" target="_self" class="botonesprom__one">Esp</a>
                <a href="https://www.cinesunidos.com/Pelicula/@city/HO00003763" target="_self" class="botonesprom__two">3D Esp</a>
                <a href="https://www.cinesunidos.com/Pelicula/@city/HO00003762" target="_self" class="botonesprom__three">Sub</a>
                <a href="https://www.cinesunidos.com/Pelicula/@city/HO00003764" target="_self" class="botonesprom__four">3D Sub</a>
            </div>
        </div>
    </div>*@
@*<script>
        //fin de script para contador de 50 .sombras
        // Grab the current date
        var currentDate = new Date(@ViewBag.Year, @ViewBag.Month - 1, @ViewBag.Day, @ViewBag.Hour, @ViewBag.Minute, @ViewBag.Second, @ViewBag.Mili); //Esto tiene que ser la hora del servidor
        // Set some date in the past. In this case, it's always been since Jan 1
        var futureDate = new Date(2015, 1, 13, 14, 0, 0);
        // Calculate the difference in seconds between the future and current date
        var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;
        $(document).ready(function() {
            var clock = $('.clock').FlipClock( {
                clockFace: 'DailyCounter',
                language: "es",
                countdown: "true",
            });
            clock.setTime(diff);
            clock.setCountdown(true);
            clock.start();
        })
    </script>*@
<script src="~/Scripts/parallax.min.js"></script>
@* ---   ULTIMO BANNER ALARGADO   --- *@
@* ---   PROMO DESORDEN   --- *@
@*<div class="peliculas-bottom position-relative" id="pad">
        <div class="row peliculas-bottom" id="pad1">
            <img src="https://az693035.vo.msecnd.net/mercadeo/VenezuelaEsUnDesordenBanner.jpg" alt="Venezuela es un Desorden" class="img-responsive" id="switch2" />
            <a class="link-left" target="_blank" href="https://www.youtube.com/watch?v=FFpNUGlIvpg"></a>
            <a class="link-right" href="~/Desorden"></a>
        </div>
        <div class="row peliculas-bottom hide" id="pad2">
            <a class="" target="_blank" href="https://payrepay.com/">
                <img src="https://az693035.vo.msecnd.net/mercadeo/PayRePayBanner.jpg" alt="Venezuela es un Desorden" class="img-responsive" id="switch2" />
            </a>
        </div>
    </div>*@
