@model Movie[]
@{
    string city = ViewBag.City as string;
}
@*<div class="peliculas-bottom">
        <div class="row">
            <!-- Contenedor 2: Banners&Posters -->
            <div class="col-lg-3 hidden-md hidden-sm hidden-xs no-padding">
                <div id="advertising" class="row">
                    <!-- 1r banner lateral -->
                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 nopadding_laterales publicidad">
                        <div id='div-gpt-ad-1418761965522-0'>
                            <script type='text/javascript'>
                                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1418761965522-0'); });
                            </script>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 nopadding_laterales publicidad">
                        <div id='div-gpt-ad-1418761965522-1'>
                            <script type='text/javascript'>
                                googletag.cmd.push(function () { googletag.display('div-gpt-ad-1418761965522-1'); });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 nopadding_laterales">
                <div class="row container-movies--home">
                    @if (Model != null)
                    {
                        var count = 1;
                        foreach (var item in Model)
                        {
                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 movie col5">
                                <a href="/Pelicula/@city/@item.Id">
                                    <img src="@UrlMaker.ToPoster(item.Id)" class="poster" id="@string.Format("post{0}",count)" alt="poster">
                                </a>
                            </div>
                            count++;
                        }
                    }
                </div>
            </div>

        </div>
    </div>*@
<section class="movies-grid">
    @if (Model != null)
    {
        var count = 1;
        foreach (var item in Model.Where(z => z != null))
        {
            <article class="movies-grid__item">
                <a href="/Pelicula/@city/@item.Id">
                    <img src="@UrlMaker.ToPoster(item.Id)" class="poster" id="@string.Format("post{0}",count)" alt="poster">
                </a>
            </article>
            count++;
        }
    }
</section>