@model MovieBillboard[]
@{
    string city = ViewBag.City as string;
}
@section scripts{
    <script src="~/Scripts/js_movie.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setInterval(function () {
                $('.ic').animate({
                    opacity: .1
                }, 'fast').animate({
                    opacity: 1,
                });
                $('.ic').animate({
                    opacity: .1
                }, 'fast').animate({
                    opacity: 1,
                });
            }, 3000)
        })
    </script>
}

@if (ViewBag.citymessage != null)
{
    <div class="msg alert">
        <div class="row">
            <div class="col-xs-1">
                <strong id="flash"><i class="fa fa-map-marker fa-3x ic" aria-hidden="true"></i></strong>
            </div>
            <div class="col-xs-11">
                @Html.Raw(ViewBag.citymessage)
            </div>
        </div>
    </div>
    <br />
}
<section class="mod_lista_peliculas an_mod_lista_peliculas">
    <div class="container-fluid">
        <div class="row container-movies fix-nmovies__grid">
            @foreach (var movie in Model)
            {
                <div class="<!--col-lg-2--> col-md-3 col-sm-3 col-xs-6">
                    <ul>
                        <li>
                            <img src="@UrlMaker.ToPoster(movie.Movie.Id)" alt="@movie.Movie.Title" class="poster">
                            <div class="v_cinesj">
                                <div class="v_titulo">@*movie.Movie.Title*@</div>
                                <ul>
                                    @foreach (var theater in movie.Theaters)
                                    {
                                        <li class="v_cine" data-cine="@theater.Theater.Id">@theater.Theater.Name </li>
                                    }
                                </ul>
                            </div>
                            <div class="v_cinesj2">
                                <div class="v_volver">
                                    <img src="@UrlMaker.ToImages("icono-flecha.png")" width="13" height="16" alt="volver">
                                    VOLVER
                                </div>
                                <div class="v_titulo2">@*@movie.Movie.Title*@</div>
                                @*<div class="v_clasificacion">@movie.Movie.Information.Class</div>*@

                                @*<div class="v_clasificacion">@movie.Theaters[0].Sessions[0].Censor</div>*@
                                <div class="container-table">
                                    <div class="v_horarios">
                                        @foreach (var theater in movie.Theaters)
                                        {
                                            <div data-cine="@theater.Theater.Id">
                                                <div class="v_titulo_cine">@theater.Theater.Name</div>
                                                <ul>
                                                    @{var lst = (from x in movie.Theaters
                                                                   from c in x.Sessions
                                                                   where x.Theater.Id == theater.Theater.Id
                                                                   select c.Censor).Distinct();
                                                        <li><div>Censura<div class="v_clasificacion">@lst.FirstOrDefault().ToString()</div></div></li>
                                                    }
                                                    @foreach (var session in theater.Sessions)
                                                    {
                                                        @*<li><div class="v_clasificacion">@session.Censor</div></li>*@
                                                    if (session.ShowTime >= DateTime.UtcNow.TimeZoneCaracas())
                                                    {
                                                        @*<li><a href="/Compra/Seleccion_Tickets/@theater.Theater.Id/@session.Id">@session.Time.Replace(" am", " a.m.").Replace(" pm", " p.m.")</a></li>*@
                                                        <li><a title="@session.HallName" href="/Compra/Seleccion_Tickets/@theater.Theater.Id/@session.Id">@session.Time</a></li>
                                                    }
                                                    else
                                                    {
                                                <!--<li><a href="#">@session.Time.Replace(" am", " a.m.").Replace(" pm", " p.m.")</a></li>-->
                                                        <li><a href="#">@session.Time</a></li>
                                                        }

                                                    }

                                                </ul>
                                            </div>
                                                        }
                                    </div>
                                    <div class="v_ampliar"><a class="other" href="/Pelicula/@city/@movie.Movie.Id">FUNCIONES OTROS D&Iacute;AS</a></div>
                                </div>
                            </div>
                            <div class="mod_titulo_pelicula hidden-sm hidden-xs">
                                <a href="/Pelicula/@city/@movie.Movie.Id"> <h2>@movie.Movie.Title</h2></a>
                            </div>
                        </li>
                    </ul>
                </div>

                                                        }

        </div>
    </div>
</section>