@{
    Layout = null;
}
@{
    string city = ViewBag.City as string;
}
<section class="ac-container">
    <div>
        
        <input id="ac-1" name="accordion-1" type="checkbox" />

        <label for="ac-1" class="bg-black">

                <div class="logo-left"><img src="https://img.lum.dolimg.com/v1/images/latam-logobar-desktop-1_78e0b8f8.png?region=0%2C0%2C2306%2C504" height="60" width="100%" alt=""></div>
                <!--<div class="boton-centro"><img src="https://cinesunidosweb.blob.core.windows.net/mercadeo/jurassic-world-boton.gif" height="60" width="350" alt=""></div>-->
                <!--<div class="barra-right"><img src="https://cinesunidosweb.blob.core.windows.net/mercadeo/jurassic-world-barra-right.gif" height="60" width="100%" alt=""></div>-->
        </label>

        <article class="ac-large">
            <ul class="grid">
                <li>
                    <figure class="effect-julia">
                        <a href="Https://www.cinesunidos.com/Pelicula/@city/HO00002860?utm_source=WebSiteCU&utm_medium=Accordion%20Home%20Web&utm_term=Jurassic-World&utm_content=Jurassic%20World%203D%20SUB&utm_campaign=Jurassic%20World"><img src="~/Content/img/mercadeo/poster.jpeg" width="100%" alt=""></a>
                        <figcaption>
                            <div>
                                <p>3D </p>
                                <p>SUBTITULADA</p>
                            </div>
                            <a href="Https://www.cinesunidos.com/Pelicula/@city/HO00002860?utm_source=WebSiteCU&utm_medium=Accordion%20Home%20Web&utm_term=Jurassic-World&utm_content=Jurassic%20World%203D%20SUB&utm_campaign=Jurassic%20World"><img src="~/Content/img/mercadeo/poster.jpeg">COMPRAR</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="effect-julia">
                        <a href="Https://www.cinesunidos.com/Pelicula/@city/HO00002859?utm_source=WebSiteCU&utm_medium=Accordion%20Home%20Web&utm_term=Jurassic-World&utm_content=Jurassic%20World%203D%20SPA&utm_campaign=Jurassic%20World"><img src="~/Content/img/mercadeo/poster.jpeg" width="100%" alt=""></a>
                        <figcaption>
                            <div>
                                <p>3D </p>
                                <p>ESPAÑOL</p>
                            </div>
                            <a href="Https://www.cinesunidos.com/Pelicula/@city/HO00002859?utm_source=WebSiteCU&utm_medium=Accordion%20Home%20Web&utm_term=Jurassic-World&utm_content=Jurassic%20World%203D%20SPA&utm_campaign=Jurassic%20World">COMPRAR</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="effect-julia">
                        <a href="Https://www.cinesunidos.com/Pelicula/@city/HO00002858?utm_source=WebSiteCU&utm_medium=Accordion%20Home%20Web&utm_term=Jurassic-World&utm_content=Jurassic%20World%20SPA&utm_campaign=Jurassic%20World"><img src="~/Content/img/mercadeo/poster.jpeg" width="100%" alt=""></a>
                        <figcaption>
                            <div>
                                <p>ESPAÑOL</p>
                            </div>
                            <a href="Https://www.cinesunidos.com/Pelicula/@city/HO00002858?utm_source=WebSiteCU&utm_medium=Accordion%20Home%20Web&utm_term=Jurassic-World&utm_content=Jurassic%20World%20SPA&utm_campaign=Jurassic%20World">COMPRAR</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure class="effect-julia">
                        <a href="Https://www.cinesunidos.com/Pelicula/@city/HO00002786?utm_source=WebSiteCU&utm_medium=Accordion%20Home%20Web&utm_term=Jurassic-World&utm_content=Jurassic%20World%20SUB&utm_campaign=Jurassic%20World"><img src="~/Content/img/mercadeo/poster.jpeg" width="100%" alt=""></a>
                        <figcaption>
                            <div>
                                <p>SUBTITULADA</p>
                            </div>
                            <a href="Https://www.cinesunidos.com/Pelicula/@city/HO00002786?utm_source=WebSiteCU&utm_medium=Accordion%20Home%20Web&utm_term=Jurassic-World&utm_content=Jurassic%20World%20SUB&utm_campaign=Jurassic%20World">COMPRAR</a>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </article>
    </div>
</section>

<!--<div class="intersticial">
    <a class="fancybox fancybox.iframe various" href="@Url.Action("Minions2015", "Pages", new { city = city, utm_source = "boton-intersticial-home", utm_medium = "banner-home", utm_content = "minions-splash", utm_campaign = "minions-2015" })"><img src="https://cinesunidosweb.blob.core.windows.net/mercadeo/MINION-LETRERO.gif" height="300" width="300" alt=""></a>
</div>-->