﻿@{
    string city = ViewBag.City as string;
    Layout = null;
}
@if (ViewBag.global != null)
{
    <link rel="stylesheet" href="~/Content/styles/popup.css" />
    <div id="overlay" class="overlay"></div>
    <div id="popup" class="popup">
        <a onclick="closeDialog('popup');" class="close fa fa-times-circle-o fa-2x"></a>
        <div>
            <!-- YOUR CONTENT -->
            <div align="center">
                <img class="image-responsive" id="popup-img" src="/Content/img/logo-cu128x128.png" alt="Logo_CU">
            </div>
            <br>
            <div align="center" id="popTitle"><p class="lead">A todos nuestros invitados:</p></div>
            <hr>
            <div align="justify" id="popSms"><p id="mensaje">@Html.Raw(ViewBag.global)</p></div>
        </div>
    </div>
    <script src="~/Scripts/popup.js"></script>
}
else
{
    <div class=""></div>
}
