@model Premier[]
@*<div class="container-fluid">

    <div class="row">

        <!-- Mensajde de Sección -->
        <div class="col-sm-12 col-lg-12 col-md-12 colxs-12">
            <div class="red-title">
                <h3>PR&Oacute;XIMOS ESTRENOS</h3>
            </div>
            <div class="estrenos-info">Las fechas de estreno publicadas son suministradas por los distribuidores de las pel&iacute;culas en el pa&iacute;s. Los cambios no dependen de Cines Unidos.</div>
        </div>

    </div>

    <div class="row">
        <!-- PELICULA -->

            @foreach (var item in Model)
            {

                Html.RenderPartial("Release", item);

            }
    </div>

    </div>*@


@*<div class="container-fluid">
        <div class="row">

        </div>
    </div>*@
<main class="fix-scroll">
    <section class="message">
        <article class="message-title">
            <h2 class="title-1">Pr&oacute;ximos estrenos</h2>
        </article>
        <article class="message-content">
            <p>
                Las fechas de estreno publicadas son suministradas por los distribuidores de las pel&iacute;culas en el pa&iacute;s. Los cambios no dependen de Cines Unidos.
            </p>
        </article>
    </section>

    <section class="release">
        @foreach (var item in Model)
        {

            Html.RenderPartial("Release", item);

        }
    </section>
</main>