@model MovieBillboard
@if (Model.Theaters.Count > 0)
{
    foreach (var theater in Model.Theaters)
    {
        foreach (var item in theater.GroupScreen)
        {
    <li>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <span class="ciudad">@item.Theater</span>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <span class="hora">
                @foreach (var session in item.Sessions)
                {
                    //Optimizar
                    System.TimeSpan minutes = session.ShowTime - DateTime.UtcNow.TimeZoneCaracas();

                    if (session.ShowTime >= DateTime.UtcNow.TimeZoneCaracas() && (int)minutes.TotalMinutes >= Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["Minutes"]))
                    {
                        @*<a href="/Compra/Seleccion_Tickets/@theater.Theater.Id/@session.Id">@session.Time.Replace(" am", " a.m.").Replace(" pm", " p.m.")</a>*@
                        <a title="@session.HallName" href="/Compra/Seleccion_Tickets/@theater.Theater.Id/@session.Id">@session.Time</a>
                    }
                    else
                    {
                        @*<a href="#" class="hora_agotada">@session.Time.Replace(" am", " a.m.").Replace(" pm", " p.m.")</a>*@
                        <a href="#" class="hora_agotada">@session.Time</a>
                    }

                }
            </span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
            <span class="sala">@item.HallName</span>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 text-center">
            <span class="censura"><b>@theater.Sessions[0].Censor</b></span>
        </div>
    </li>
        }

    }
}
else
{
    <li><span class="ciudad">No Hay Funciones</span></li>
}