@model MovieBillboard[]
@{
    string city = ViewBag.City as string;
}
<div class="row">
    <div class="col-md-3 col-lg-3 nopadding_laterales">
        <div class="row">
            <div class="list-group boton_lateral_list text-center">
                <a href="/Peliculas/@city" class="list-group-item boton_lateral">
                    <img src="~/Content/Images/peliculas.png" alt="Películas">
                    <br>
                    Pel&iacute;culas
                </a>
                <a href="/Cines/@city" class="list-group-item boton_lateral">
                    <img src="~/Content/Images/cines.png" alt="Cines">
                    <br>
                    Cines
                </a>
                <a href="/Estrenos" class="list-group-item boton_lateral">
                    <img src="~/Content/Images/estrenos.png" alt="Próximos Estrenos">
                    <br>
                    <span class="noshow">Pr&oacute;ximos </span>Estrenos
                </a>
            </div>
        </div>
    </div>
<!--<section class="mod_home">-->
    @if (Model != null)
    {
<!--
<div class="mod_homecarr">
-->
        @Html.DisplayForModel("Swipe")
        @Html.DisplayForModel("Page")
<!--
</div>
-->
        @Html.DisplayForModel("Movies")
    }
<!--
</section>
-->
</div>