@model TheaterBillboard
@{
    string city = ViewBag.City as string;
}
@if (Model.Movies.Count > 0)
{
    foreach (var movie in Model.Movies)
    {
        string title = movie.Movie.Title.Length > 21 ? movie.Movie.Title.Substring(0, 21) + "..." : movie.Movie.Title;
        <li>
            <div class="row margin-info">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <span class="peli">
                        @*<a href="javascript:void(0);" class="screenshot" title ="@title" rel="@UrlMaker.ToPoster(movie.Movie.Id)">@movie.Movie.Title</a>*@
                        @*<img class="hidde-img" src="@UrlMaker.ToPoster(movie.Movie.Id)" alt="">*@
                        <a href="/Pelicula/@city/@movie.Movie.Id" class="screenshot" title="@title" rel="@UrlMaker.ToPoster(movie.Movie.Id)">@movie.Movie.Title</a>
                    </span>
                </div>
                <div class="col-lg-5 col-sm-5 col-md-5 col-xs-12 text-center">
                    <span class="hora">
                        @foreach (var session in movie.Sessions)
                        {
                            //Optimizar
                            System.TimeSpan minutes = session.ShowTime - DateTime.UtcNow.TimeZoneCaracas();

                            if (session.ShowTime >= DateTime.UtcNow.TimeZoneCaracas() && (int)minutes.TotalMinutes >= Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["Minutes"]))
                            {
                                <a href="/Compra/Seleccion_Tickets/@Model.Theater.Id/@session.Id">@session.Time</a>
                            }
                            else
                            {
                                <a href="#" class="hora_agotada">@session.Time</a>
                            }

                        }
                    </span>
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12 text-center">
                    <span class="censura"><b>@movie.Movie.Information.Class</b></span>
                </div>
            </div>                
</li>
    }

}
else
{
    <li><span class="peli"  >No Hay Funciones</span></li>
}