﻿@model TheaterBillboard[]
@section scripts{
    @*<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="~/Scripts/map.js"></script>*@
    <script src="~/Scripts/js_theater.js"></script>
    <script src="~/Scripts/bardays.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    @*<script src="~/Scripts/listasalas.js"></script>*@
    <script type="text/javascript">
        window.onload = function () {
            $('.tool_sala').tooltipster();
            var cine = $.cookie('name');
            if (cine != null || cine != undefined) {
                try {
                    document.getElementById(cine).click();
                    $(cine).click();
                    //console.log(cine);
                    //console.log('click');

                    //ajax para mensajes del cine
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("Messages")",
                        dataType: "json",
                        data: { loc: cine },
                        success: function (a) {
                            if (a != null) {
                                $("#text_message").empty();
                                $("#text_message").append(a.Message);
                                $("#msg").removeClass("hidden");
                            } else {
                                $("#text_message").empty();
                                //$("#ins").empty();
                                $("#msg").addClass("hidden");
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log(xhr);
                            console.log(textStatus);
                            console.log(errorThrown);
                        }
                    });

                    //popup por cine..
                    //if ((cine == '1017') || (cine == '1023') || (cine == '1024') || (cine == '1025') ) {
                    //    $('#btn_modal').click();
                    //};
                } catch (err) {
                    console.log(err.message);
                    var cine1 = $('.mnu_salasciudadact').attr('id');
                    $.cookie('name', cine1);
                    //ajax para mensajes del cine cuando la cokie no esta seteada en el navegador
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("Messages")",
                        dataType: "json",
                        data: { loc: cine1 },
                        success: function (a) {
                            if (a != null) {
                                $("#text_message").empty();
                                $("#text_message").append(a.Message);
                                $("#msg").removeClass("hidden");
                            } else {
                                $("#text_message").empty();
                                //$("#ins").empty();
                                $("#msg").addClass("hidden");
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log(xhr);
                            console.log(textStatus);
                            console.log(errorThrown);
                        }
                    });
                    //if ((cine1 == '1017') || (cine1 == '1023') || (cine1 == '1024') || (cine1 == '1025') ) {
                    //    $('#btn_modal').click();
                    //};
                }

            } else {
                var v = 0
                $.cookie('name', v);
            }

            $('#mnu_salasciudad li').on('click', function (e) {
                //alert($(this).attr('id'));
                var cine = e.currentTarget.id;
                $.cookie('name', cine);
                $('#textcont').children('p').empty();
                //levantar popUp por cine//
                //if ((cine == '1017') || (cine == '1023') || (cine == '1024') || (cine == '1025') ) {
                //    $('#btn_modal').click();
                //};

                //mensajes del cine..
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("Messages")",
                    dataType: "json",
                    data: { loc: cine },
                    success: function (a) {
                        if (a != null) {
                            $("#text_message").empty();
                            $("#text_message").append(a.Message);
                            $("#msg").removeClass("hidden");
                        } else {
                            $("#text_message").empty();
                            //$("#ins").empty();
                            $("#msg").addClass("hidden");
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr);
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                });
            });
        };
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#P1 .modal-header').css({
                'padding-top': '2px',
                'padding-bottom': '0px',
                'text-align': 'right'
            });
            setInterval(function () {
                $('.ic').animate({
                    opacity: .1
                }, 'fast').animate({
                    opacity: 1,
                });
                $('.ic').animate({
                    opacity: .1
                }, 'fast').animate({
                    opacity: 1,
                });
            }, 5000)
        })
    </script>
}
@{
    bool first = true;
    string id = "vent{0}";
    string map = "gmap{0}";
    int count = 0;
    string city = ViewBag.City as string;
}
<div class="cines container-fluid">
    <section>
        @if (ViewBag.messagecity != null)
        {
            <div class="msg alert">
                <div class="row">
                    <div class="col-xs-1">
                        <strong id="flash"><i class="fa fa-map-marker fa-3x ic" aria-hidden="true"></i></strong>
                    </div>
                    <div class="col-xs-11">
                        @Html.Raw(ViewBag.messagecity)
                    </div>
                </div>
            </div>
        }
        <button id="btn_modal" type="button" class="hidden" data-toggle="modal" data-target="#P1"></button>
    </section>
    <section class="mod_salas" id="v_menu">
        <nav>
            <div class="navbar-header">
                <div class="hidden-lg hidden-md" id="title_cine">
                </div>
                <button type="button" class="navbar-toggle collapsed" id="navCines" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse menu_cines" id="menu-collapse">
                <ul class="mnu_salasciudad" id="mnu_salasciudad">
                    @{string premium = "";}
                    @foreach (var item in Model)
                    {
                        // Por defecto mixto
                        //premium = "Platinum";
                        //foreach (var fac in item.Theater.Facilities) {
                        //    if (fac.Name.Contains("Premium"))
                        //    {
                        //        premium = "Premium";
                        //        break;
                        //    }
                        //}

                        if (first)
                        {
                            <li class="mnu_salasciudadact" id=@item.Theater.Id><a class="sala" href="#">@item.Theater.Name</a></li>
                            first = false;
                        }
                        else
                        {
                            //if (item.Theater.Name.ToLower() != "vistapir")
                            //{
                            <li id=@item.Theater.Id><a class="sala" href="#">@item.Theater.Name</a></li>
                            //}
                        }
                    }
                </ul>
            </div>
        </nav>
    </section>
    <!--Section para mensajes..-->
    <section>
        @if (ViewBag.message != null)
        {
            <div class="alert aler" id="msg" style="color:black;">
                <div class="row">
                    <div class="col-xs-1">
                        <strong><i id="ins" class="fa fa-exclamation-circle fa-3x ic" aria-hidden="true"></i></strong>
                    </div>
                    <div class="col-xs-11" id="textcont">
                        <p id="text_message">@Html.Raw(ViewBag.message)</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            @*<div class="hidden content_message" id="msg" style="color: black;">*@
            <div class="hidden alert aler" id="msg" style="color: black;">
                <div class="row">
                    <div class="col-xs-1" id="textcont">
                        <strong id="ins"><i class="fa fa-exclamation-circle fa-3x ic" aria-hidden="true"></i></strong>
                    </div>
                    <div class="col-xs-11">
                        <p id="text_message"></p>
                    </div>
                </div>
            </div>
        }
    </section>
    <!--fin seccion de mensajes-->
    @foreach (var theater in Model)
    {
        <section class="mod_salas" id="@string.Format(id, count)" data-map="@string.Format(map, count)">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">

                    <div class="horarios_censura">
                        @Html.BarDays("SearchTheater", "Home", city, theater.Theater.Id, theater.Dates, "mod_pelivelomiddias")
                        <div class="censura_div hidden-xs">CENSURA</div>
                    </div>
                    <div id="M_@theater.Theater.Id">
                        <ul class="mod_salapelilist">
                            <li>
                                <span class="peli">&nbsp;</span>
                                <span class="hora">&nbsp;</span>
                                <span class="censura">Censura</span>
                            </li>
                            @{Html.RenderPartial("TheaterSessions", theater);}
                        </ul>
                    </div>
                    <!--<a href="#" class="select_salas">@theater.Theater.Name<span></span></a>-->
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5 ">

                    <div class="mod_salasinfo">
                        @if (theater.Theater.Facilities != null)
                        {
                            <ul class="mod_salapeliico">
                                @foreach (var facility in theater.Theater.Facilities.OrderBy(f => f.Id))
                                {
                                    <li class="ico_@facility.Id" title="@facility.Name"><span>@facility.Name</span></li>
                                }
                            </ul>
                        }

                        @* MAPA ANTIGUO (API) *@
                        @*<div class="mod_salasmapa" id="@string.Format(map, count)" data-longitude="@theater.Theater.Longitude.ToString().Replace(',','.')" data-latitude="@theater.Theater.Latitude.ToString().Replace(',','.')" data-address="@theater.Theater.Address" data-name="@theater.Theater.Name"></div>*@

                        @* MAPA ACTUAL (IMAGEN ESTÁTICA) *@
                        <img class="img img-responsive" style="margin-right: auto; margin-left: auto; border: 1px solid #ccc;" src="@String.Format("https://cinesunidosweb.blob.core.windows.net/img/maps/{0}", theater.Theater.Id + ".jpg")" alt="Cines Unidos @theater.Theater.Name" />

                        <div class="mod_salasdir">
                            <p><span class="ico_geolocal"></span><strong>Dirección</strong>@theater.Theater.Address</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
                                    count++;
                                }
</div>

@* Ventana modal para banner P1 por cine *@
<div id="P1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-default" data-dismiss="modal">X</button>
            </div>
            <img class="img-responsive" src="https://cinesunidosweb.blob.core.windows.net/mercadeo/BannerP1V2.jpg" alt="Codigo QR">
        </div>
    </div>
</div>