﻿body {
    overflow-x: hidden;
}

.search-note {
    color: rgba(0, 0, 0, .5);
    padding-left: 10px;
}

.form-control, .btn-primary, .btn-success, .btn-danger {
    border-radius: 0px;
}

.operations {
    max-height: 420px;
    overflow-y: scroll;
}

#audit-search {
    margin-top: 0.5%;
}
