<section class="cont_registro">
    <h2>CONTÁCTENOS</h2>
    <div class="mensaje_registro">
        <h3>
            Ha Ocurrido un error enviando su queja, por favor inténtelo de nuevo.
        </h3>
    </div>
</section>