﻿<style>
    #btnAddPromotions {
        width: 100px;
        height: 50px;
    }

    textarea {
        resize: vertical;
    }
</style>
<script src="~/Content/jqueryui/jquery/jquery-ui.min.js"></script>
<link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalize")
    <script>
        $.validator.methods.number = function (value, element) {
            return this.optional(element) ||
                !isNaN(Globalize.parseFloat(value));
        }

        $.validator.methods.date = function (value, element) {
            return this.optional(element) ||
                Globalize.parseDate(value);
        }
        $(document).ready(function () {
            Globalize.culture('@System.Threading.Thread.CurrentThread.CurrentCulture');
        });
        jQuery.extend(jQuery.validator.methods, {
            range: function (value, element, param) {
                //Use the Globalization plugin to parse the value
                var val = Globalize.parseFloat(value);
                return this.optional(element) || (
                    val >= param[0] && val <= param[1]);
            }
        });
    </script>
    <script>
        $(function (count) {
            $("input[name^=StartDate]").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                yearRange: "-100:+100"
            });

            $("input[name^=ExpirationDate]").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                yearRange: "-100:+100"
            });
        });
        $(document).ready(function () {
            var jun = 0;
            $(document).keydown(function (e) {
                if (e.keyCode == 17) {
                    jun++;
                    if (jun == 2) {
                        return false; jun = 0;
                    }
                }
                if (e.keyCode == 67) {
                    jun++;
                    if (jun == 2) {
                        return false; jun = 0;
                    }
                }
            }).keyup(function (e) {
                if (jun > 0) {
                    jun = jun - 1;
                }
            });
        });
        $(document).ready(function () {
            $(document).bind("contextmenu", function (e) {
                return false;
            });
        });
        $(document).ready(function () {
            $('.solo-numero').keyup(function () {
                this.value = (this.value + '').replace(/[^0-9]/g, '');
            });
        });

        $(document).ready(function () {
            nicEditors.allTextAreas();
        });
    </script>
    <script src="~/Scripts/nicEdit-latest.js" type="text/javascript"></script>
}
@{
    ViewBag.Title = "EditPromotions";
}

<script language="javascript">

    function editPromotions(count) {

        var ff = $('#Size' + count).val("Update" + count);

        if (confirm("¿Quiere modificar esta promoción?") == true) {
            $("button[type=submit]").css("display", "none");
        }
        else {
            return false;
        }
    }

    function deletePromotions(count) {

        var ff = $('#Size' + count).val("Delete");
        if (confirm("¿Quiere eliminar esta promoción?") == true) {
            $("button[type=submit]").css("display", "none");
            disable(count);
        }
        else {
            return false;
        }
    }

    function myFunction(count) {
        document.getElementById("imgn" + count).style.display = "none";
        var countFiles = $("#fileUpload" + count)[0].files.length;
        var imgPath = $("#fileUpload" + count)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $("#image-holder" + count);
        image_holder.empty();

        if (imgPath == "") {
            document.getElementById("image-size" + count).style.display = "none";
        }

        //esta validacion determina si el tipo de archivo que se carga en el input file
        // es una imagen de tipo gif, png, jpg y jpge
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof (FileReader) != "undefined") {
                //loop for each file selected for uploaded.
                for (var i = 0; i < countFiles; i++) {

                    var fileUpload = $("#fileUpload" + count).val().replace("C:\\fakepath\\", "");

                    $('#Image' + count).val(fileUpload);

                    var fileSize = $('#fileUpload' + count)[0].files[i].size;
                    var siezekiloByte = parseFloat(fileSize / 1024);
                    var siezemegaByte = parseFloat(fileSize / 1048576);
                    if (parseFloat(siezekiloByte) > 300) {
                        document.getElementById("image-size" + count).style.display = "block";
                        if (siezekiloByte < 1024) {
                            document.getElementById('lblsize' + count).innerHTML = 'El peso máximo de una imagen es de 300 KB / La imagen cargada pesa ' + siezekiloByte.toFixed(2) + ' KB';
                            return false;
                        }

                        if (siezekiloByte >= 1024) {
                            document.getElementById('lblsize' + count).innerHTML = 'El peso máximo de una imagen es de 300 KB / La imagen cargada pesa ' + siezemegaByte.toFixed(2) + ' MB';
                            return false;
                        }
                    }
                    else {
                        document.getElementById("image-size" + count).style.display = "none";
                    }
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        //Initiate the JavaScript Image object.
                        var image = new Image();
                        //Set the Base64 string return from FileReader as source.
                        image.src = e.target.result;
                        //Validate the File Height and Width.
                        image.onload = function () {
                            var height = this.height;
                            var width = this.width;
                            //alert(width + "x" + height)
                            if ((height != 350) && width != 580) {
                                if (confirm("La imagen cargada en el campo de selección de archivos tiene una dimesión de " + width + "x" + height + " pixel, y dicha imagen debería tener una dimensión de 580x350 pixel. Si aun desea cargar esta imagen oprima ok, en caso contrario oprima cancelar") == true) {
                                }
                                else {
                                    $('#fileUpload' + count).val("").clone(true);
                                    return false;
                                }
                            }
                            $("<img />", {
                                "src": e.target.result,
                                "class": "thumb-image",
                                "style": "margin-top: 10px; height: 200px; width: 280px;"
                            }).appendTo(image_holder);
                        };
                    }
                    image_holder.show();
                    reader.readAsDataURL($("#fileUpload" + count)[0].files[i]);
                }
            } else {
                alert("Este navegador no es compatible con el lector de archivos");
            }
        }
        else {
            if (extn.length == "") {
                $('#Image' + count).val("");
            }
            else {
                alert("El formato de la imagen seleccionado no es valido. \n\nLos formatos de imagen permitidos son: \n - .jpg \n - .jpeg \n - .gif \n - .png");
                var fileUpload = $("#fileUpload" + count).val().replace("C:\\fakepath\\", "");
                $('#Image' + count).val(fileUpload);
            }
        }
    }
</script>

@if (ViewData["Message"] != null)
{
    <script language="javascript">
        var message = '@ViewData["Message"]';
        alert(message);
        document.location.href = '/Promotions/EditPromotions/';
    </script>
}

@if (@Model == null || @Model.Count == 0)
{
    <div class="alert alert-warning col-md-12">
        <p style="text-align:center">
            <b>No hay promociones</b>
        </p>
    </div>
}
else
{
<ul class="list-group">
    <li class="list-group-item" style="background-color: #2e2e2e; color:white;">
        <div class="row">
            <div style="text-align:center; display:none;">Id</div>
            <div class="col-xs-2" style="text-align:center">Titulo</div>
            <div class="col-xs-2" style="text-align:center">Descripción</div>
            <div class="col-xs-3" style="text-align:center">Imagen</div>
            <div class="col-xs-2" style="text-align:center">Fecha de creac.</div>
            <div class="col-xs-2" style="text-align:center">Fecha de venc.</div>
            <div class="col-xs-1" style="text-align:center">botones</div>
        </div>
    </li>
    @{var count = 1; }
    @{var CDNUrl = @System.Configuration.ConfigurationManager.AppSettings["CDNUrl"]; }

    @foreach (var item in Model)
    {
        var Id = item.Id;
        var Title = item.Title;
        var Description = item.Description;
        var Image = item.Image;
        var StartDate = Convert.ToDateTime(@item.StartDate).ToString("dd/MM/yyyy");
        var ExpirationDate = Convert.ToDateTime(@item.ExpirationDate).ToString("dd/MM/yyyy");
        var Size = item.Size;
        <form action="/Promotions/ActionPromotion" enctype="multipart/form-data" method="post">
            <li class="list-group-item">
                <div class="row">
                    <div style="text-align:center; display:none;">
                        @Html.TextBoxFor(model => Id, new { @type = "text", placeholder = "Id", @class = "form-control", @id = "Id" + count })
                    </div>
                    <div class="col-xs-2">
                        @Html.TextAreaFor(model => Title, new { @class = "form-control", placeholder = " Titulo" })
                    </div>
                    <div class="col-xs-2">
                        @Html.TextAreaFor(model => Description, new { @class = "form-control", placeholder = "Descripción" })
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(Model => Image, new { type = "file", @class = "form-control", @id = "fileUpload" + count, @onchange = "myFunction(" + count + ");" })
                        <input id="@string.Format("Image{0}", count)" type="text" name="@string.Format("Image{0}", count)" class="form-control" readonly="readonly" value="@Size.Trim().Replace(CDNUrl, "")" placeholder="Imagen" style="display:none;" />
                        <div id="@string.Format("image-holder{0}", count)" name="@string.Format("image-holder{0}", count)"></div>
                        <div id="@string.Format("imgn{0}", count)" name="@string.Format("imgn{0}", count)">
                            <img src="@Size.Trim()" height="200" width="280" style="margin-top: 10px;" />
                        </div>
                        <div id="@string.Format("image-size{0}", count)" style="display:none; width:280px">
                            <label id="@string.Format("lblsize{0}", count)" style="color:red"></label>
                            <br>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        @Html.TextBoxFor(Model => StartDate, "{0:dd/MM/yyyy}", new { @type = "text", @id = "StartDate" + count, placeholder = "DD/MM/AAAA", @class = "form-control" })
                    </div>
                    <div class="col-xs-2">
                        @Html.TextBoxFor(Model => ExpirationDate, "{0:dd/MM/yyyy}", new { @type = "text", @id = "ExpirationDate" + count, placeholder = "DD/MM/AAAA", @class = "form-control" })
                    </div>
                    <div class="col-xs-1">
                        @Html.TextBoxFor(model => Size, new { @type = "text", placeholder = "Size", @id = "Size" + count, @class = "hidden" })
                        <button id="@string.Format("BtnUpdate{0}", count)" onclick="javascript: return editPromotions(@count);" type="submit" class='btn btn-success'><span class='glyphicon glyphicon-floppy-save'></span></button>
                        <br />
                        <br />

                        <button id="@string.Format("BtnDelete{0}", count)" onclick="javascript: return deletePromotions(@count);" type="submit" class='btn btn-danger'><span class='fa fa-trash'></span></button>
                    </div>
                </div>
            </li>
        </form>
        count++;
    }
</ul>
            }
