﻿@using admin_usuarios.Models
@model admin_usuarios.Models.DataPostPromotions
<style>
    #btnAddPromotions {
        width: 100px;
        height: 50px;
    }

    textarea {
        resize: vertical;
    }
</style>
<link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/jqueryui/jquery/jquery-ui.min.js"></script>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalize")
    <script>
        $.validator.methods.number = function (value, element) {
            return this.optional(element) ||
                !isNaN(Globalize.parseFloat(value));
        }

        $.validator.methods.date = function (value, element) {
            return this.optional(element) ||
                Globalize.parseDate(value);
        }
        $(document).ready(function () {
            Globalize.culture('@System.Threading.Thread.CurrentThread.CurrentCulture');
        });
        jQuery.extend(jQuery.validator.methods, {
            range: function (value, element, param) {
                //Use the Globalization plugin to parse the value
                var val = Globalize.parseFloat(value);
                return this.optional(element) || (
                    val >= param[0] && val <= param[1]);
            }
        });
    </script>
    <script>
        $(function (count) {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                yearRange: "-100:+100"
            });
        });

        $(function (count) {
            $("#datepicker2").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                yearRange: "-100:+100"
            });
        });
        $(document).ready(function () {
            var jun = 0;
            $(document).keydown(function (e) {
                if (e.keyCode == 17) {
                    jun++;
                    if (jun == 2) {
                        return false; jun = 0;
                    }
                }
                if (e.keyCode == 67) {
                    jun++;
                    if (jun == 2) {
                        return false; jun = 0;
                    }
                }
            }).keyup(function (e) {
                if (jun > 0) {
                    jun = jun - 1;
                }
            });
        });
        $(document).ready(function () {
            $(document).bind("contextmenu", function (e) {
                return false;
            });
        });
        $(document).ready(function () {
            $('.solo-numero').keyup(function () {
                this.value = (this.value + '').replace(/[^0-9]/g, '');
            });
        });

        $(document).ready(function () {
            nicEditors.allTextAreas();
        });
    </script>
    <script src="~/Scripts/nicEdit-latest.js" type="text/javascript"></script>
}

@{
    ViewBag.Title = "Promotions";
}

<script language="javascript">
    function validFormDataXML() {
        if (confirm("¿Quiere crear esta promoción?") == true) {
            document.getElementById("btnAddPromotions").style.display = 'none';
        }
        else {
            return false;
        }
    }

    //Esta parte permite mostrar la imagen en el front al cargar en el input file
    $(document).ready(function () {
        $("#fileUpload").on('change', function () {
            //Get count of selected files
            var countFiles = $(this)[0].files.length;
            var imgPath = $(this)[0].value;
            var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
            var err = "";
            var image_holder = $("#image-holder");
            image_holder.empty();
            if (imgPath == "") {
                document.getElementById("image-size").style.display = "none";
            }

            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof (FileReader) != "undefined") {
                    for (var i = 0; i < countFiles; i++) {
                        var fileSize = $('#fileUpload')[0].files[0].size;
                        var siezekiloByte = parseFloat(fileSize / 1024);
                        var siezemegaByte = parseFloat(fileSize / 1048576);
                        if (parseFloat(siezekiloByte) > 300) {
                            document.getElementById("image-size").style.display = "block";
                            if (siezekiloByte < 1024) {
                                document.getElementById('lblsize').innerHTML = 'El peso máximo de una imagen es de 300 KB / La imagen cargada pesa ' + siezekiloByte.toFixed(2) + ' KB';
                                return false;
                            }
                            if (siezekiloByte >= 1024) {
                                document.getElementById('lblsize').innerHTML = 'El peso máximo de una imagen es de 300 KB / La imagen cargada pesa ' + siezemegaByte.toFixed(2) + ' MB';
                                return false;
                            }
                        }
                        else {
                            document.getElementById("image-size").style.display = "none";
                        }
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            //Initiate the JavaScript Image object.
                            var image = new Image();
                            //Set the Base64 string return from FileReader as source.
                            image.src = e.target.result;
                            //Validate the File Height and Width.
                            image.onload = function () {
                                var height = this.height;
                                var width = this.width;
                                if ((height != 350) && width != 580) {
                                    if (confirm("La imagen cargada en el campo de selección de archivos tiene una dimesión de " + width + "x" + height + " pixel, y dicha imagen debería tener una dimensión de 580x350 pixel. Si aun desea cargar esta imagen oprima ok, en caso contrario oprima cancelar") == true) {
                                    }
                                    else {
                                        $('#fileUpload').val("").clone(true);
                                        return false;
                                    }
                                }
                                $("<img />", {
                                    "src": e.target.result,
                                    "class": "thumb-image"
                                }).appendTo(image_holder);
                            };
                        }
                        image_holder.show();
                        reader.readAsDataURL($(this)[0].files[i]);
                    }
                } else {
                    alert("Este navegador no es compatible con el lector de archivos");
                }
            }
            else {
                alert("El formato de la imagen seleccionado no es valido. \n\nLos formatos de imagen permitidos son: \n - .jpg \n - .jpeg \n - .gif \n - .png");
            }
        });
    });
    //Esta parte permite mostrar la imagen en el front al cargar en el input file
</script>

<ol class="breadcrumb">
    <li><a href="#">Promociones</a></li>
    <li class="active">Promotions</li>
</ol>

<div class="">
    @using (Html.BeginForm("CreatePromotions", "Promotions", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="">
            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                    <div class="col-md-6 col-md-offset-3">
                        <label>Imagen</label>
                        @Html.TextBoxFor(Model => Model.Image, new { type = "file", @class = "form-control", @id = "fileUpload" })
                        <br />
                        <div id="image-holder"></div>
                        <div id="image-size" style="display:none">
                            <label id="lblsize" style="color:red"></label>
                            <br>
                        </div>
                        <br />
                        <label>Título</label>
                        @Html.TextAreaFor(Model => Model.Title, new { @class = "form-control", placeholder = "Titulo"})
                        <br />
                        <label>Descripción de la promoción</label>
                        @Html.TextAreaFor(Model => Model.Description, new { @class = "form-control", placeholder = "Descripción"})
                        <br />
                        <label>Fecha de creación</label>
                        @Html.TextBoxFor(Model => Model.StartDate, "{0:dd/MM/yyyy}", new { @type = "text", @id = "datepicker", placeholder = "DD/MM/AAAA", @class = "form-control" })
                        <br />
                        <label>Fecha de vencimiento</label>
                        @Html.TextBoxFor(Model => Model.ExpirationDate, "{0:dd/MM/yyyy}", new { @type = "text", @id = "datepicker2", placeholder = "DD/MM/AAAA", @class = "form-control" })
                        <br />
                        <div class="col-md-6 col-md-offset-4">
                            <button type="submit" id="btnAddPromotions" onclick="javascript: return validFormDataXML();" class='btn btn-success'><span class='glyphicon glyphicon-floppy-save'></span></button>
                            @if (ViewData["Message"] != null)
                            {
                                <script language="javascript">
                                    var message = '@ViewData["Message"]';
                                    alert(message);
                                    document.location.href = '/Promotions/Promotions/';
                                </script>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</div>