﻿body {
    overflow-x: hidden;
}

.search-note {
    color: rgba(0, 0, 0, .5);
    padding-left: 10px;
}

.table-head {
    background-color: #ff4646;
    border-bottom: 20px;
    border-bottom-color: #ff0000;
    color: #ebebeb;
}

.form-control, .btn-primary, .btn-success, .btn-danger {
    border-radius: 0px;
}

#roles-set {
    width: 256px;
}

#action-btns {
    padding-left: 25%;
}
