﻿body {
    overflow-x: hidden;
}

.search-note {
    color: rgba(0, 0, 0, .5);
    padding-left: 10px;
}

.table-head {
    background-color: #ff4646;
    border-bottom: 20px;
    border-bottom-color: #ff0000;
    color: #ebebeb;
}

.form-control, .btn-default, .btn-primary, .btn-success, .btn-danger {
    border-radius: 0px;
}

.action-move {
    margin-left: 5%;
    margin-top: 4%;
}

.permissions {
    max-height: 220px;
    overflow-y: scroll;
}
