@model SignIn
<section class="cont_acceso">
    <section class="contenido_acceso">
        <div class="tit_acc">
            <h2>USUARIO REGISTRADO</h2>
        </div>
        <div>
            @using (Html.BeginForm("SignIn", "Security", FormMethod.Post))
            {
                @Html.ValidationSummary()
                @Html.HiddenFor(m=>m.Url)
                <label>EMAIL</label>@Html.TextBoxFor(m => m.Email , new {@class="" ,type="email"})
                <label>CONTRASE&Ntilde;A</label>@Html.PasswordFor(m => m.Password , new {@class="" })
                <input type="submit" class="" value="	ENVIAR">
                <div class="btn_acc">
                    <div class="btn_acc1">RECORDAR CONTRASE&Ntilde;A</div>
                    <div class="btn_acc2">RECORDAR EMAIL</div>
                    <div class="btn_acc3">MODIFICAR PERFIL</div>
                </div>
            }
        </div>
    </section>

    <section class="contenido_registro">
        <div class="tit_acc">
            <h2>USUARIO REGISTRADO</h2>
        </div>
        <div class="reg_text">
            <p>Para poder disfrutar de todos los servicios que ofrece www.cinesunidos.com debes realizar un r&aacute;pido y sencillo registro.</p>
            <hr>
            <div class="registrarse"><a href="#">REGISTRARSE</a></div>
            <p>Presiona el boton registrarse para ir al formulario</p>
        </div>
    </section>
</section>