@model UserEntity
<section class="cont_registro">

    @if (@ViewData["mod"] == "1")
    {
        //<h2>MI PERFIL</h2>
        @*<div class="mensaje_registro"><p>Se ha presentado un problema, el usuario no ha podido ser modificado</p></div>*@

        <div class="registro contacto">
            <div class="container">
                <div class="row">
                    <!-- Mensajde de Sección -->
                    <div class="col-lg-12">
                        <div class="red-title">
                            <h3>MI PERFIL</h3>
                        </div>
                        <div class="estrenos-info bg-pattern">
                            <div class="mensaje_registro">
                                <i class='fa fa-exclamation-circle fa-5x'></i>
                                <p style="font-size:14px;font-style:italic">
                                    @if (@ViewBag.ErrorMsg == "Se ha presentado un problema, el usuario no ha podido ser modificado, debido a que la cedula ya se encuentra registrada en nuestra pagina")
                                    {
                                        @ViewBag.ErrorMsg.Replace("debido a que la cedula ya se encuentra registrada en nuestra pagina", "")
                                        <br />
                                        @ViewBag.ErrorMsg.Replace("Se ha presentado un problema, el usuario no ha podido ser modificado,", "")
                                    }
                                    else
                                    {
                                        if (@ViewBag.ErrorMsg == "Se ha presentado un problema, el usuario no ha podido ser modificado, debido a que el correo electrónico ya se encuentra registrado en nuestra pagina")
                                        {
                                            @ViewBag.ErrorMsg.Replace("debido a que el correo electrónico ya se encuentra registrado en nuestra pagina", "")
                                            <br />
                                            @ViewBag.ErrorMsg.Replace("Se ha presentado un problema, el usuario no ha podido ser modificado,", "")
                                        }
                                        else
                                        {
                                            @ViewBag.ErrorMsg
                                        }
                                    }
                                </p>

                                @if (Context.User.Identity.IsAuthenticated)
                                {
                                    CinesUnidos.WebRoles.MVC.UserPrincipal principal = (CinesUnidos.WebRoles.MVC.UserPrincipal)@Context.User;
                                    <div class="btn-cont2">
                                        <button type="submit" id="BtnUpdateUser2" onclick="location.href = '/Mi_Cuenta/UpdateUser?hash=@Html.helpSanitizeURLString(principal.Info.Hash)'">Volver</button>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="red-title">
                    <h3>REGISTRO DE USUARIOS</h3>
                </div>
                <div class="estrenos-info bg-pattern">
                    <div class="error-register">
                        <i class="fa fa-exclamation-circle fa-5x"></i>
                        <br /><br />
                        <p>
                            @ViewBag.ErrorMsg
                        </p>
                        <br /><br />
                        <div class="col-md-10 col-md-offset-1 list-group">
                            <a href="/Inicio_Sesion" class="list-group-item" style="font-size:12px; text-align:center; color:#555;">
                                Si olvid&oacute; su email o contrase&ntilde;a, por favor haga clic para ir a <i class="fa fa-bell"></i> <b><em>Recordar Contrase&ntilde;a</em></b>
                                o <i class="fa fa-envelope"></i> <b><em>Recordar Email</em></b>
                            </a>
                            <a href="/Contacto" class="list-group-item" style="font-size:12px; text-align:center; color:#555;">
                                Si presenta otro tipo de incidencia por favor comun&iacute;quese con nosotros en la secci&oacute;n de
                                <i class="fa fa-user"></i> <b><em>Contacto</em></b>
                            </a>
                        </div>
                    </div>
                    <br /><br /><br /><br /><br /><br />
                </div>
            </div>
        </div>

        @*<div class="mensaje_registro">
                <p>
                    Su usuario no ha podido ser registrado  en nuestro sistema, por favor envíe su número de cédula y correo electrónico
                    a través de la opcion "contacto".
                </p>
            </div>*@
        @*<div class="mensaje_registro"><p>El usuario no ha podido ser creado. Envíanos tu número de cédula y correo a través
            del siguiente botón, para ayudarte a solucionarlo</p></div>
                <div class="registrarse"><a href="/Contacto">Notificar</a></div>*@
    }
    @*</section>*@