@model string


@{
    ViewBag.Title = "Eliminar Invitado de la Lista de correo";
    string message = ViewBag.Message as string;
}
@section Bootstrap {
    @Styles.Render("~/bundles/bootstrap")


}
@section Styles {
    @Styles.Render("~/bundles/innerStatic")
    <style>
        .caja-iniciar-sesion-02 {
            height: 30px;
        }
    </style>
}
<div class="carameleria">
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default text-center">

                        <div class="panel-body">
                            <div class="proj">
                                <p>Mensaje: @message</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->

        <!-- /.container -->
    </section>


</div>
<!-- fin CONTENIDO -->
<!-- ISOTOPE PLUGIN -->
@section Scripts {
    @Scripts.Render("~/bundles/staticScripts")
    <script>
        $(function () {
            var $container = $('#container-folio');

            if ($container.length) {
                $container.waitForImages(function () {
                    $(this).slideDown();
                    // initialize isotope
                    $container.isotope({

                        itemSelector: '.box',

                        resizable: false, // disable normal resizing
                        masonry: { columnWidth: $container.width() / 12 }
                    });

                    // filter items when filter link is clicked
                    $('#filters a').click(function () {
                        var selector = $(this).attr('data-filter');
                        $container.isotope({ filter: selector });
                        $(this).removeClass('active').addClass('active').siblings().removeClass('active all');

                        return false;
                    });

                    // update columnWidth on window resize
                    $(window).smartresize(function () {

                        $(window).smartresize(function () {
                            $container.isotope({
                                // update columnWidth to a percentage of container width
                                masonry: { columnWidth: $container.width() / 12 }
                            });

                        });

                    });
                }, null, true);
            }
        });
    </script>
}