@model UserEntity
<div class="registro contacto">
    <div class="container">
        <div class="row">
            <!-- Mensajde de Sección -->
            <div class="col-lg-12">

                @if (@ViewData["mod"] == "1")
                {
                    <div class="red-title">
                        <h3>MI PERFIL</h3>
                    </div>
                    <div class="estrenos-info bg-pattern">
                        <div class="mensaje_registro">
                            <i class='fa fa-exclamation-circle fa-5x'></i>
                            <p style="font-size:14px;font-style:italic">El usuario se ha modificado exitosamente</p>

                            @if (Context.User.Identity.IsAuthenticated)
                            {
                                CinesUnidos.WebRoles.MVC.UserPrincipal principal = (CinesUnidos.WebRoles.MVC.UserPrincipal)@Context.User;
                                <div class="form-inline">
                                    <div class="form-group">
                                        <div class="col-md-2 col-md-offset-1">
                                            <button type="submit" id="BtnIndex" onclick="location.href = '/Inicio'">Inicio</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-2 col-md-offset-1">
                                            <button type="submit" id="BtnUpdateUser" onclick="location.href = '/Mi_Cuenta/UpdateUser?hash=@Html.helpSanitizeURLString(principal.Info.Hash)'">Volver</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    if (@ViewData["mod"] == "0")
                    {
                        <div class="red-title">
                            <h3>REGISTRO DE USUARIO</h3>
                        </div>
                        <div class="estrenos-info bg-pattern">
                            <div class="mensaje_registro"><p>El usuario se ha creado exitosamente. Por favor ingrese a su correo electr&oacute;nico para activar su cuenta</p></div>
                        </div>
                    }

                }

                @if (@ViewData["activation"] == "1")
                {
                    <div class="red-title">
                        <h3>MI PERFIL</h3>
                    </div>
                    <div class="estrenos-info bg-pattern">
                        <div class="mensaje_registro"><p>El usuario se ha activado exitosamente</p></div>
                    </div>

                }
                else
                {
                    if (@ViewData["activation"] == "0")
                    {
                        <div class="red-title">
                            <h3>REGISTRO DE USUARIO</h3>
                        </div>
                        <div class="estrenos-info bg-pattern">
                            <div class="mensaje_registro"><p>El usuario NO se ha podido activar</p></div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>

</div>
