@model CinesUnidos.WebRoles.MVC.Models.UserEntity
@section Styles {
    @Styles.Render("~/bundles/jqueryui")
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/timepickerjs")
    <script>
        $.validator.methods.number = function (value, element) {
            return this.optional(element) ||
                !isNaN(Globalize.parseFloat(value));
        }

        $.validator.methods.date = function (value, element) {
            return this.optional(element) ||
                Globalize.parseDate(value);
        }
        $(document).ready(function () {
            Globalize.culture('@System.Threading.Thread.CurrentThread.CurrentCulture');
        });
        jQuery.extend(jQuery.validator.methods, {
            range: function (value, element, param) {
                //Use the Globalization plugin to parse the value
                var val = Globalize.parseFloat(value);
                return this.optional(element) || (
                    val >= param[0] && val <= param[1]);
            }
        });
    </script>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy',
                yearRange: "-100:+0"
            });
        });
        $(document).ready(function () {
            var jun = 0;
            $(document).keydown(function (e) {
                if (e.keyCode == 17) {
                    jun++;
                    if (jun == 2) {
                        return false; jun = 0;
                    }
                }
                if (e.keyCode == 67) {
                    jun++;
                    if (jun == 2) {
                        return false; jun = 0;
                    }
                }
            }).keyup(function (e) {
                if (jun > 0) {
                    jun = jun - 1;
                }
            });
        });
        $(document).ready(function () {
            $(document).bind("contextmenu", function (e) {
                return false;
            });
        });
        $(document).ready(function () {
            $('.solo-numero').keyup(function () {
                this.value = (this.value + '').replace(/[^0-9]/g, '');
            });
        });
        //$(document).ready(function() {
        //    $('#EmailComparation').keyup(function (){
        //        $('#Email').val($(this).val());
        //    });
        //});
    </script>
    <script language="javascript">
        function ValidForm()
        {
            var fieldEmail = document.getElementById("Email");
            var Email = fieldEmail.value.replace(/^\s+|\s+$/, '');
            var fieldEmailComparation = document.getElementById("EmailComparation");
            var EmailComparation = fieldEmailComparation.value.replace(/^\s+|\s+$/, '');
            var fieldPassword = document.getElementById("Password");
            var Password = fieldPassword.value.replace(/^\s+|\s+$/, '');
            var fieldPasswordComparation = document.getElementById("PasswordComparation");
            var PasswordComparation = fieldPasswordComparation.value.replace(/^\s+|\s+$/, '');
            var fieldSecretQuestion = document.getElementById("SecretQuestion");
            var SecretQuestion = fieldSecretQuestion.value.replace(/^\s+|\s+$/, '');
            var fieldSecretAnswer = document.getElementById("SecretAnswer");
            var SecretAnswer = fieldSecretAnswer.value.replace(/^\s+|\s+$/, '');
            var fieldName = document.getElementById("Name");
            var Name = fieldName.value.replace(/^\s+|\s+$/, '');
            var fieldLastName = document.getElementById("LastName");
            var LastName = fieldLastName.value.replace(/^\s+|\s+$/, '');
            var fieldBirthDate = document.getElementById("datepicker");
            var BirthDate = fieldBirthDate.value.replace(/^\s+|\s+$/, '');
            var fieldIdCardType = document.getElementById("IdCardType");
            var IdCardType = fieldIdCardType.value.replace(/^\s+|\s+$/, '');
            var paramIdCardType = document.getElementById("IdCardType");
            var idCardTypeTxt = paramIdCardType.options[paramIdCardType.selectedIndex].text;
            var idCardTypeVal = paramIdCardType.options[paramIdCardType.selectedIndex].value;
            var fieldIdCardNumber = document.getElementById("IdCardNumber");
            var idCardNumber = fieldIdCardNumber.value.replace(/^\s+|\s+$/, '');
            var SexString = $("#SexString").attr("value");
            var fieldState = document.getElementById("State");
            var State = fieldState.value.replace(/^\s+|\s+$/, '');
            var fieldPhone = document.getElementById("Phone");
            var Phone = fieldPhone.value.replace(/^\s+|\s+$/, '');
            var fieldAddress = document.getElementById("Address");
            var Address = fieldAddress.value.replace(/^\s+|\s+$/, '');

            if (Email.length == 0 || EmailComparation.length == 0 || Password.length == 0 || PasswordComparation.length == 0 || SecretQuestion.length == 0 || SecretAnswer.length == 0 || Name.length == 0 || LastName.length == 0 || BirthDate.length == 0 || IdCardType.length == 0 || idCardNumber.length == 0 || State.length == 0 || Phone.length == 0 || Address.length == 0)
            {
                alert("Debe llenar todos los campos obligatorios");
                return false;
            }

            if (Email != EmailComparation && @ViewData["mod"]== 0)
            {
                alert("El correo debe ser igual en los dos casos");
                return false;
            }

            var emailUpper = Email.toUpperCase();
            var emailComparationUpper = EmailComparation.toUpperCase();

            if (emailUpper.indexOf("yopmail".toUpperCase()) >= 0 && emailComparationUpper.indexOf("yopmail".toUpperCase()))
            {
                alert("Correo electr\u00F3nico inv\u00E1lido");
                return false;
            }

            if (isValidEmail(Email) == false) {
                alert("Correo electr\u00F3nico inv\u00E1lido");
                return false;
            }

            if (Password != PasswordComparation)
            {
                alert("La contrase\u00F1a deber ser igual en los dos casos");
                return false;
            }

            document.getElementById("Form").submit();
        }

        function isValidEmail(email)
        {
            var pattern = new RegExp(/^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/);
            return pattern.test(email);
        }
    </script>
}

<div class="container">
    <div class="row">
        <div class="modulo">
            <section class="cont_registro">
                @if (@ViewData["mod"] == "1")
                {
                    <div class="col-lg-12">
                        <div class="red-title">
                            <h3>MI PERFIL</h3>
                        </div>
                        @using (Html.BeginForm("UpdateUser", "Security", FormMethod.Post, new { @id = "Form" }))
                        {
                            Html.RenderPartial("EditorTemplates/UpdateUser", Model);
                        }
                    </div>
                }
                else
                {
                    <div class="col-lg-12">
                        <div class="red-title">
                            <h3>REGISTRO DE USUARIOS</h3>
                        </div>
                        @using (Html.BeginForm("User", "Security", FormMethod.Post, new { @id = "Form" }))
                        {
                            //CREAR
                            //Html.RenderPartial("EditorTemplates/UpdateUser", Model);
                            Html.RenderPartial("EditorTemplates/CreateUser", Model);
                        }
                    </div>
                }
            </section>
        </div>
    </div>
</div>