﻿@using admin_usuarios.Models
@model LoginViewModel
@{
    ViewBag.Title = "INICIAR SESION";
    Layout = null;
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/styles/Account/Login.css" />

<div class="row">
    <br /> <br /> <br /> <br />
    <div id="logo" class="col-md-5 col-md-offset-4">
        <img src="~/Content/img/cu-isotipo.png" alt="Logo" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <hr />
    </div>
    <div class="col-md-5 col-md-offset-4">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="input-group col-md-7">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group col-md-7">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-7">
                        <input type="submit" id="btn-ingresar" value="INGRESAR" class="btn btn-sm btn-primary btn-block" />
                    </div>
                </div>
            }
        </section>

    </div>
</div>