﻿body {
    background-color: #fff;
    margin-top: 100px;
}

@media (min-width: 768px) {

    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    background-color: #fff;
    padding: 0;
    width: 100%;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
        padding-left: 225px;
    }
}

.navbar-default {
    background-color: #c02328;
    border-color: #981e22;
}

.navbar-brand {
    padding-top: 10px;
}

.top-nav {
    padding: 0 45px;
}

    .top-nav > li {
        display: inline-block;
        float: left;
    }

        .top-nav > li > a {
            color: #000;
            line-height: 20px;
            padding-bottom: 15px;
            padding-top: 15px;
        }

            .top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
                background-color: #981e22;
                color: #fff;
            }

    .top-nav > .open > .dropdown-menu {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
        float: left;
        margin-top: 0;
        position: absolute;
    }

        .top-nav > .open > .dropdown-menu > li > a {
            white-space: normal;
        }

ul.message-dropdown {
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

li.message-preview {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 240px;
}

    li.message-preview > a {
        padding-bottom: 5px;
        padding-top: 15px;
    }

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

@media (min-width: 768px) {
    .side-nav {
        background-color: #2b323a;
        color: #f6f6f6;
        border: medium none;
        border-radius: 0;
        bottom: 0;
        left: 225px;
        margin-left: -225px;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 40px;
        position: fixed;
        top: 51px;
        width: 225px;
    }

        .side-nav > li > a {
            width: 225px;
        }

        .side-nav li a:link {
            color: #fff;
        }

        .side-nav li a:hover, .side-nav li a:focus {
            background-color: #404954 !important;
            color: #eedcdc !important;
            outline: medium none;
        }
}

.side-nav > li > ul {
    padding: 0;
}

    .side-nav > li > ul > li > a {
        color: #fff;
        display: block;
        padding: 10px 15px 10px 38px;
        text-decoration: none;
    }

        .side-nav > li > ul > li > a:hover {
            color: #fff;
        }

/*LRAMIREZ, Vista Login usuarios*/
.input-group-addon {
    background-color: rgb(192,35,40);
    border-color: rgb(192,35,40);
    color: rgb(255, 255, 255);
}

.form-control:focus {
    background-color: rgba(0, 0, 0, .09);
    border-bottom: 1px solid #ff1818;
    color: rgba(0, 0, 0, .8);
}

.form-signup input[type="text"], .form-signup input[type="password"] {
    border: 1px solid rgb(192, 35, 40);
}
/*Fin LRAMIREZ, Vista Login usuarios*/

/* Inicio Libreria FA y Text en Navbar */
.side-icon {
    float: left;
}

.icon {
    float: left;
    position: absolute;
    color: #fff;
    transition: all .25s ease-in;
}

.i-home {
    margin-left: -23px;
    margin-top: 8px;
}

.i-users {
    margin-left: -24px;
    margin-top: 8px;
}

.i-book {
    margin-left: -23px;
    margin-top: 8px;
}

.i-eraser {
    margin-left: -24px;
    margin-top: 8px;
}

.i-user {
    margin-left: -22px;
    margin-top: 8px;
}

.i-university {
    margin-left: -24px;
    margin-top: 8px;
}

.i-gift {
    margin-left: -21px;
    margin-top: 8px;
}

.side-text {
    margin-top: 2.7%;
    margin-left: 48px;
    text-align: left;
}

.i-cursor {
    margin-left: -24px;
    margin-top: 8px;
}
/* FIN Libreria FA y Text en Navbar */

/* Inicio Iconos de Navbar */
* {
    box-sizing: border-box;
}

.grafico {
    height: 32px;
    position: relative;
    width: 32px;
    float: left;
    transition: all .25s ease-in;
}

.recorte {
    border-radius: 50%;
    clip: rect(0px, 16px, 32px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.contport {
    border-radius: 50%;
    clip: rect(0px, 16px, 32px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.sombra {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
    border: 3px solid #000;
    height: 100%;
    position: absolute;
    width: 100%;
}

#porcion1 {
    transform: rotate(0deg);
}

#porcion1 .contport {
    background-color: #181c21;
    transform: rotate(90deg);
    border: 2px solid #d1d1d1;
    transition: all .25s ease;
}

#porcion2 {
    transform: rotate(90deg);
}

#porcion2 .contport {
    background-color: #181c21;
    transform: rotate(90deg);
    border: 2px solid #ff0000;
    transition: all .25s ease;
}

#porcion3 {
    transform: rotate(-180deg);
}

#porcion3 .contport {
    background-color: #181c21;
    transform: rotate(90deg);
    border: 2px solid #d1d1d1;
    transition: all .25s ease;
}

#porcion4 {
    transform: rotate(-90deg);
}

#porcion4 .contport {
    background-color: #181c21;
    transform: rotate(90deg);
    border: 2px solid #ff0000;
    transition: all .25s ease;
}
/* FIN Iconos de Navbar */

/* Inicio Efecto :hover en Iconos de Navbar */
a:hover .side-icon .icon {
    font-size: 18px;
    margin-top: 8px;
}

a:hover .i-home {
    margin-left: -29px;
}

a:hover .i-users {
    margin-left: -29px;
}

a:hover .i-book {
    margin-left: -29px;
}

a:hover .i-eraser {
    margin-left: -29px;
}

a:hover .i-user {
    margin-left: -27px;
}

a:hover .i-gift {
    margin-left: -29px;
}

a:hover .i-university {
    margin-left: -29px;
}

a:hover .side-icon .grafico {
    height: 40px;
    width: 40px;
    float: left;
    margin-left: -2.5px;
    margin-top: -2.5px;
}

a:hover .side-icon .grafico .recorte {
    clip: rect(0px, 20px, 40px, 0px);
}

a:hover .side-icon .grafico .contport {
    clip: rect(0px, 20px, 40px, 0px);
}

a:hover .side-icon .grafico #porcion1 .contport {
    background-color: #181c21;
    border: 3px solid #fff;
}

a:hover .side-icon .grafico #porcion2 .contport {
    background-color: #181c21;
    border: 3px solid #ff0000;
}

a:hover .side-icon .grafico #porcion3 .contport {
    background-color: #181c21;
    border: 3px solid #fff;
}

a:hover .side-icon .grafico #porcion4 .contport {
    background-color: #181c21;
    border: 3px solid #ff0000;
}

a:hover .i-cursor {
    margin-left: -29px;
}
/* FIN Efecto HOVer en Iconos de Navbar */

/*==========================*/
/*       DATE PICKER        */
/*==========================*/

.ui-datepicker-month{
    color:#000;
}

.ui-datepicker-year{
    color:#000;
}